<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_hhzz_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame_hhzz_bj.pkm</string>
            <key>size</key>
            <string>{640,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e65b997a55c1d739964d1d84d4de963f:1/1$</string>
            <key>textureFileName</key>
            <string>frame_hhzz_bj.pkm</string>
        </dict>
    </dict>
</plist>
