<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icesnow_gift_background_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,3},{458,597}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{458,597}}</string>
                <key>sourceSize</key>
                <string>{458,645}</string>
            </dict>
            <key>bg_lmss.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1719},{320,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,336}}</string>
                <key>sourceSize</key>
                <string>{320,336}</string>
            </dict>
            <key>bg_xinshourenwu_tu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,767},{559,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,180}}</string>
                <key>sourceSize</key>
                <string>{559,180}</string>
            </dict>
            <key>bg_zb_qjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1075},{640,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,168}}</string>
                <key>sourceSize</key>
                <string>{640,168}</string>
            </dict>
            <key>btn_blue_lzjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1916},{217,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{217,67}}</string>
                <key>sourceSize</key>
                <string>{221,71}</string>
            </dict>
            <key>btn_duel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1710},{100,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{100,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_green_lzjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1845},{217,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{217,67}}</string>
                <key>sourceSize</key>
                <string>{221,71}</string>
            </dict>
            <key>btn_jijie_dx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1777},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_lord_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1822},{100,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_red_lzjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1719},{217,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{217,67}}</string>
                <key>sourceSize</key>
                <string>{221,71}</string>
            </dict>
            <key>btn_zb_yxq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,910},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>btn_zb_yxq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,770},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>frame_LZ_bjzs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,786},{640,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,172}}</string>
                <key>sourceSize</key>
                <string>{640,172}</string>
            </dict>
            <key>frame_ZJM_gnwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,1823},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>frame_ZJM_jdtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1582},{15,659}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,659}}</string>
                <key>sourceSize</key>
                <string>{15,659}</string>
            </dict>
            <key>frame_cjflyh_2bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1842},{151,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,129}}</string>
                <key>sourceSize</key>
                <string>{151,129}</string>
            </dict>
            <key>frame_cjflyh_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2000},{2,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,159}}</string>
                <key>sourceSize</key>
                <string>{2,159}</string>
            </dict>
            <key>frame_cjflyh_jsxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1719},{320,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,3}}</string>
                <key>sourceSize</key>
                <string>{320,3}</string>
            </dict>
            <key>frame_hdzxzn_img_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,770},{260,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,65}}</string>
                <key>sourceSize</key>
                <string>{260,65}</string>
            </dict>
            <key>frame_jdjjc_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,3},{237,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,640}}</string>
                <key>sourceSize</key>
                <string>{237,640}</string>
            </dict>
            <key>frame_jdjjc_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{643,1068}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,1068}}</string>
                <key>sourceSize</key>
                <string>{643,1068}</string>
            </dict>
            <key>frame_jdjjc_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,3},{337,763}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,763}}</string>
                <key>sourceSize</key>
                <string>{337,763}</string>
            </dict>
            <key>frame_jdjjc_kuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1075},{337,763}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,763}}</string>
                <key>sourceSize</key>
                <string>{337,763}</string>
            </dict>
            <key>frame_jijie_bzdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,786},{640,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,122}}</string>
                <key>sourceSize</key>
                <string>{640,122}</string>
            </dict>
            <key>frame_jijie_dx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1331},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>frame_jt_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,647},{450,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,116}}</string>
                <key>sourceSize</key>
                <string>{450,116}</string>
            </dict>
            <key>frame_jxdl_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1404},{555,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,40}}</string>
                <key>sourceSize</key>
                <string>{555,40}</string>
            </dict>
            <key>frame_jxdl_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,786},{623,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,222}}</string>
                <key>sourceSize</key>
                <string>{623,222}</string>
            </dict>
            <key>frame_newbie_welfare_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1987},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>frame_red_items01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1977},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>frame_ryq_ty_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1601},{224,210}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{224,210}}</string>
                <key>sourceSize</key>
                <string>{248,222}</string>
            </dict>
            <key>frame_ryq_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,767},{640,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,167}}</string>
                <key>sourceSize</key>
                <string>{640,167}</string>
            </dict>
            <key>frame_ryq_zs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1430},{640,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,77}}</string>
                <key>sourceSize</key>
                <string>{640,77}</string>
            </dict>
            <key>frame_ryq_zs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1075},{640,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,255}}</string>
                <key>sourceSize</key>
                <string>{640,255}</string>
            </dict>
            <key>frame_tqlb_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,767},{560,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,48}}</string>
                <key>sourceSize</key>
                <string>{560,48}</string>
            </dict>
            <key>frame_tqlb_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1511},{640,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,67}}</string>
                <key>sourceSize</key>
                <string>{640,67}</string>
            </dict>
            <key>frame_vip_tisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1813},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>frame_wcsj_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1496},{93,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,19}}</string>
                <key>sourceSize</key>
                <string>{93,19}</string>
            </dict>
            <key>frame_wcsj_ylyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1601},{147,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,127}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>frame_wfjs_btk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,3},{640,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,207}}</string>
                <key>sourceSize</key>
                <string>{640,207}</string>
            </dict>
            <key>frame_yxji_zs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,604},{431,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,178}}</string>
                <key>sourceSize</key>
                <string>{431,178}</string>
            </dict>
            <key>frame_zb_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1330},{176,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,75}}</string>
                <key>sourceSize</key>
                <string>{176,75}</string>
            </dict>
            <key>frame_zbsj_jw_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1963},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>framer_ryq_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,770},{630,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,186}}</string>
                <key>sourceSize</key>
                <string>{630,186}</string>
            </dict>
            <key>icon_bazhuzhizhan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1430},{146,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,101}}</string>
                <key>sourceSize</key>
                <string>{146,101}</string>
            </dict>
            <key>icon_hdzx_time_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1404},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>icon_science_adv_military.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1665},{90,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{90,92}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_science_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1409},{122,120}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{122,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_user_transfer_KO.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1961},{72,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{72,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_vip_gradenew_SVIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1916},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>icon_vip_gradenew_VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1409},{93,83}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{93,83}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_wcsj_cb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1580},{126,106}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,40},{126,106}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1752},{142,118}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{142,118}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1743},{154,98}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,49},{154,98}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1861},{140,112}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,34},{140,112}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1411},{138,110}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,38},{138,110}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1741},{156,116}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{156,116}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1874},{158,122}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{158,122}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1601},{154,138}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{154,138}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1815},{160,142}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{160,142}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1601},{156,136}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{156,136}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_wcsj_cb_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1842},{178,154}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{178,154}}</string>
                <key>sourceSize</key>
                <string>{266,180}</string>
            </dict>
            <key>icon_zb_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1867},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>quest_chapter_task_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,1939},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{74,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>quest_chapter_task_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1553},{108,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{108,100}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_military_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1533},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1951},{88,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1641},{92,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{92,86}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1519},{82,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{82,88}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1961},{96,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{96,78}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1699},{92,74}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{92,74}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1940},{92,74}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{92,74}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,1914},{84,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{84,86}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1761},{92,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{92,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1857},{88,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,1731},{86,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{86,88}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1977},{62,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{62,86}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1777},{66,86}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{66,86}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>science_adv_military_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1611},{78,84}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{78,84}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NormalUI5.png</string>
            <key>size</key>
            <string>{1904,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25709ae2a0050249ab0c207f30cbbb0:1/1$</string>
            <key>textureFileName</key>
            <string>NormalUI5.png</string>
        </dict>
    </dict>
</plist>
