<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_LegendaryKing_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1391},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>bg_benefits_cassell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,645},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_benefits_liwangl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,543},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_bskxq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1017},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>bg_bskxq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1715},{530,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,210}}</string>
                <key>sourceSize</key>
                <string>{530,210}</string>
            </dict>
            <key>bg_fwmb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,810}}</string>
                <key>sourceSize</key>
                <string>{640,810}</string>
            </dict>
            <key>bg_fwmb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1289},{640,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,247}}</string>
                <key>sourceSize</key>
                <string>{640,247}</string>
            </dict>
            <key>bg_fwmb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1291},{536,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,206}}</string>
                <key>sourceSize</key>
                <string>{536,206}</string>
            </dict>
            <key>bg_goods.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,647},{640,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,183}}</string>
                <key>sourceSize</key>
                <string>{640,183}</string>
            </dict>
            <key>bg_jz_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,813},{450,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,613}}</string>
                <key>sourceSize</key>
                <string>{450,613}</string>
            </dict>
            <key>bg_lhj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{582,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,146}}</string>
                <key>sourceSize</key>
                <string>{582,146}</string>
            </dict>
            <key>bg_meiriwuzhi_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1391},{612,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,374}}</string>
                <key>sourceSize</key>
                <string>{612,374}</string>
            </dict>
            <key>bg_meiriwuzhi_qingjingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,3},{638,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,284}}</string>
                <key>sourceSize</key>
                <string>{638,284}</string>
            </dict>
            <key>bg_mrth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,273},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_relic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1391},{317,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,502}}</string>
                <key>sourceSize</key>
                <string>{317,502}</string>
            </dict>
            <key>bg_thfl_yxzxbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,3},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_xdkxq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,813},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>bg_xdkxq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1501},{530,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,210}}</string>
                <key>sourceSize</key>
                <string>{530,210}</string>
            </dict>
            <key>bg_xh_qjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1221},{640,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,166}}</string>
                <key>sourceSize</key>
                <string>{640,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NormalUI0.png</string>
            <key>size</key>
            <string>{1748,2019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95ef3319ebe1b1b190bff6324ce7809b:1/1$</string>
            <key>textureFileName</key>
            <string>NormalUI0.png</string>
        </dict>
    </dict>
</plist>
