<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_HDqjt_beijingtupian_hsqj.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1509},{374,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,84}}</string>
                <key>sourceSize</key>
                <string>{374,84}</string>
            </dict>
            <key>bg_activity_show_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1214},{320,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,114}}</string>
                <key>sourceSize</key>
                <string>{320,114}</string>
            </dict>
            <key>bg_black_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1864},{170,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,114}}</string>
                <key>sourceSize</key>
                <string>{170,114}</string>
            </dict>
            <key>bg_growUp_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1332},{300,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,129}}</string>
                <key>sourceSize</key>
                <string>{300,129}</string>
            </dict>
            <key>bg_lmss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1036},{165,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,66}}</string>
                <key>sourceSize</key>
                <string>{165,66}</string>
            </dict>
            <key>bg_lz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,674},{256,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,276}}</string>
                <key>sourceSize</key>
                <string>{256,276}</string>
            </dict>
            <key>bg_lz_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1507},{99,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,364}}</string>
                <key>sourceSize</key>
                <string>{99,364}</string>
            </dict>
            <key>bg_mapTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,954},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_mrth_boxmission_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,603},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>bg_new_kingwar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1338},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg_qd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,425},{640,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,174}}</string>
                <key>sourceSize</key>
                <string>{640,174}</string>
            </dict>
            <key>bg_ranking_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,353},{638,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,79}}</string>
                <key>sourceSize</key>
                <string>{638,79}</string>
            </dict>
            <key>bg_shuiwen_baozangzhichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1339},{135,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,160}}</string>
                <key>sourceSize</key>
                <string>{135,160}</string>
            </dict>
            <key>bg_xdkxq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,179},{296,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,105}}</string>
                <key>sourceSize</key>
                <string>{296,105}</string>
            </dict>
            <key>bg_xhjbdhl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1546},{320,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,226}}</string>
                <key>sourceSize</key>
                <string>{320,226}</string>
            </dict>
            <key>bg_xwjj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1036},{146,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,262}}</string>
                <key>sourceSize</key>
                <string>{146,262}</string>
            </dict>
            <key>bg_xy_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,75},{316,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,204}}</string>
                <key>sourceSize</key>
                <string>{316,204}</string>
            </dict>
            <key>bg_yhzd_beijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,3},{640,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,300}}</string>
                <key>sourceSize</key>
                <string>{640,300}</string>
            </dict>
            <key>bg_zzmb_xbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1503},{357,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,169}}</string>
                <key>sourceSize</key>
                <string>{357,169}</string>
            </dict>
            <key>btn_activeskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1864},{145,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,109}}</string>
                <key>sourceSize</key>
                <string>{145,111}</string>
            </dict>
            <key>btn_alliance_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1813},{204,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{204,68}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>btn_anchor.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1448},{55,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{55,85}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_arena.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1917},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_arrow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1776},{78,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>btn_attack_monster_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1868},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_attack_monster_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1776},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_back_castle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1813},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_badgeexchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,717},{77,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{77,90}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>btn_blue2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1242},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>btn_blue2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1036},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>btn_blue_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,3},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_blue_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1339},{152,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,62}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>btn_civilization_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1928},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>btn_community.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1960},{74,72}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_crazy_score_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1875},{95,106}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,22},{95,106}}</string>
                <key>sourceSize</key>
                <string>{169,140}</string>
            </dict>
            <key>btn_crazy_score_reward_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1036},{130,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,79}}</string>
                <key>sourceSize</key>
                <string>{130,79}</string>
            </dict>
            <key>btn_ct_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1332},{140,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>btn_ct_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1036},{131,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>btn_customer_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1887},{86,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_czhl_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1036},{130,102}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{130,102}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>btn_czhl_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1843},{108,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>btn_dailyreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1776},{68,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1919},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_devilValley_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1955},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_devilvalley_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,889},{72,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_devilvalley_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,811},{74,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_drawing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,965},{75,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_dxtx_sx.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1214},{129,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,120}}</string>
                <key>sourceSize</key>
                <string>{129,120}</string>
            </dict>
            <key>btn_embassy_addfriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1813},{102,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{102,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_embassy_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1917},{100,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{100,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_execution.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1843},{104,104}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_flower_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1036},{114,92}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{114,92}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>btn_friends_cancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1474},{321,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{321,68}}</string>
                <key>sourceSize</key>
                <string>{325,72}</string>
            </dict>
            <key>btn_gray_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1339},{152,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,62}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>btn_green8_lordinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1386},{235,84}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{235,84}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>btn_green8_lordinfo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1298},{235,84}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{235,84}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>btn_green_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1339},{152,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,62}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>btn_hero_prison.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1960},{70,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{70,71}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>btn_hero_prison_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1858},{70,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_life_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1955},{72,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_ljj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1977},{256,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,58}}</string>
                <key>sourceSize</key>
                <string>{258,58}</string>
            </dict>
            <key>btn_ljj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1977},{256,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,58}}</string>
                <key>sourceSize</key>
                <string>{258,58}</string>
            </dict>
            <key>btn_lmslc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1214},{248,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,80}}</string>
                <key>sourceSize</key>
                <string>{248,80}</string>
            </dict>
            <key>btn_yhzd_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1132},{78,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{78,106}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>frame_Daily_reward_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,436},{606,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,191}}</string>
                <key>sourceSize</key>
                <string>{606,191}</string>
            </dict>
            <key>frame_bskxq_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1465},{344,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,234}}</string>
                <key>sourceSize</key>
                <string>{344,234}</string>
            </dict>
            <key>frame_juxingjineng_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1260},{538,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,245}}</string>
                <key>sourceSize</key>
                <string>{538,245}</string>
            </dict>
            <key>frame_jwzjl_lsdqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{172,942}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,942}}</string>
                <key>sourceSize</key>
                <string>{172,942}</string>
            </dict>
            <key>frame_jwzjl_lvcl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1509},{268,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,464}}</string>
                <key>sourceSize</key>
                <string>{268,464}</string>
            </dict>
            <key>frame_kingwar_win_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1509},{502,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,243}}</string>
                <key>sourceSize</key>
                <string>{502,243}</string>
            </dict>
            <key>frame_line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,307},{640,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,42}}</string>
                <key>sourceSize</key>
                <string>{640,42}</string>
            </dict>
            <key>frame_meiriwuzhi_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,288},{290,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,398}}</string>
                <key>sourceSize</key>
                <string>{290,398}</string>
            </dict>
            <key>frame_protect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,395},{275,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,222}}</string>
                <key>sourceSize</key>
                <string>{275,222}</string>
            </dict>
            <key>frame_sjssz_xj.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,631},{604,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,401}}</string>
                <key>sourceSize</key>
                <string>{604,401}</string>
            </dict>
            <key>frame_wangguoendian_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1495},{344,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,328}}</string>
                <key>sourceSize</key>
                <string>{344,328}</string>
            </dict>
            <key>frame_xy_jd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,717},{559,539}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{559,539}}</string>
                <key>sourceSize</key>
                <string>{593,593}</string>
            </dict>
            <key>frame_ygg_beginicon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,690},{308,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,290}}</string>
                <key>sourceSize</key>
                <string>{308,290}</string>
            </dict>
            <key>frame_yhzd_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1977},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>frame_yjzzzb_ddk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,179},{640,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,242}}</string>
                <key>sourceSize</key>
                <string>{640,242}</string>
            </dict>
            <key>icon_merchant.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1002},{287,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,333}}</string>
                <key>sourceSize</key>
                <string>{287,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NormalUI1.png</string>
            <key>size</key>
            <string>{1809,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88853a3c77181e95ddc465009d3e234c:1/1$</string>
            <key>textureFileName</key>
            <string>NormalUI1.png</string>
        </dict>
    </dict>
</plist>
