<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ZJM_gongnengqu_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,267},{640,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,74}}</string>
                <key>sourceSize</key>
                <string>{640,74}</string>
            </dict>
            <key>bg_ZJM_ht_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,142},{640,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,121}}</string>
                <key>sourceSize</key>
                <string>{640,121}</string>
            </dict>
            <key>bg_ZJM_ht_zhuangshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,518},{640,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,19}}</string>
                <key>sourceSize</key>
                <string>{640,19}</string>
            </dict>
            <key>bg_ZJM_kuangzhaungshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,3},{161,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,18}}</string>
                <key>sourceSize</key>
                <string>{161,18}</string>
            </dict>
            <key>bg_main_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,805},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_ZJM_dhk_wxz_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,541},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>btn_ZJM_dhk_xz_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,918},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>btn_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,802},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,599},{86,74}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{86,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,945},{78,72}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{78,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_main_activeskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,917},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_main_chat_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,950},{41,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,8}}</string>
                <key>sourceSize</key>
                <string>{45,12}</string>
            </dict>
            <key>btn_main_chat_uncurrent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,956},{49,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,17}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>btn_main_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,773},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>btn_main_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,538},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>btn_main_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,849},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{68,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_main_pandect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,865},{61,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{61,82}</string>
            </dict>
            <key>btn_main_pandect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,956},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_main_talentskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,891},{60,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_main_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,877},{111,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,36}}</string>
                <key>sourceSize</key>
                <string>{111,36}</string>
            </dict>
            <key>btn_main_world.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,681},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>btn_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,955},{62,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_zjrw_czrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,998},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>btn_zjrw_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,877},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>btn_zjrw_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,575},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>farmer_sdzjm_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,413},{640,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,55}}</string>
                <key>sourceSize</key>
                <string>{640,55}</string>
            </dict>
            <key>farmer_sdzjm_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,692},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>farmer_sdzjm_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,677},{235,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,124}}</string>
                <key>sourceSize</key>
                <string>{235,124}</string>
            </dict>
            <key>farmer_sdzjm_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,899},{171,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,42}}</string>
                <key>sourceSize</key>
                <string>{171,56}</string>
            </dict>
            <key>farmer_sdzjm_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,303},{640,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,128}}</string>
                <key>sourceSize</key>
                <string>{640,128}</string>
            </dict>
            <key>farmer_sdzjm_zdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,616},{257,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,72}}</string>
                <key>sourceSize</key>
                <string>{257,72}</string>
            </dict>
            <key>frame_ZJM_dhk_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,749},{640,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,42}}</string>
                <key>sourceSize</key>
                <string>{640,42}</string>
            </dict>
            <key>frame_ZJM_zdl_ztsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,616},{304,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,57}}</string>
                <key>sourceSize</key>
                <string>{304,57}</string>
            </dict>
            <key>frame_ZJM_zdl_ztsz_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,805},{240,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,90}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>frame_ZJM_zdl_ztsz_tx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,956},{255,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,56}}</string>
                <key>sourceSize</key>
                <string>{255,56}</string>
            </dict>
            <key>frame_ZJM_zdl_ztsz_tx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,955},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>frame_ZJM_ztsz_zs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,874},{572,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,39}}</string>
                <key>sourceSize</key>
                <string>{572,39}</string>
            </dict>
            <key>frame_ZJM_ztsz_zs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,917},{572,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,35}}</string>
                <key>sourceSize</key>
                <string>{572,35}</string>
            </dict>
            <key>frame_ZJM_ztsz_zs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,921},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>frame_ZJM_ztsz_zs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,541},{607,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,23}}</string>
                <key>sourceSize</key>
                <string>{607,23}</string>
            </dict>
            <key>frame_battlefield_base_grey_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,403},{127,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,187}}</string>
                <key>sourceSize</key>
                <string>{127,187}</string>
            </dict>
            <key>frame_easter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,383},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>frame_easter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,627},{640,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,62}}</string>
                <key>sourceSize</key>
                <string>{640,62}</string>
            </dict>
            <key>frame_easter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,345},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>frame_free_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,917},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>frame_free_font_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,905},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>frame_free_font_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,168},{54,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{54,22}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>frame_main_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,550},{640,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,73}}</string>
                <key>sourceSize</key>
                <string>{640,73}</string>
            </dict>
            <key>frame_main_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,472},{640,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,42}}</string>
                <key>sourceSize</key>
                <string>{640,42}</string>
            </dict>
            <key>frame_main_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,945},{72,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>frame_main_common_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,792},{96,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,95}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>frame_main_decoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,810},{63,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,147}}</string>
                <key>sourceSize</key>
                <string>{63,149}</string>
            </dict>
            <key>frame_main_decoration_wsj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,921},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>frame_main_decoration_wsj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,930},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>frame_main_decoration_ztsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,810},{63,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,146}}</string>
                <key>sourceSize</key>
                <string>{63,146}</string>
            </dict>
            <key>frame_main_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,153},{640,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,146}}</string>
                <key>sourceSize</key>
                <string>{640,146}</string>
            </dict>
            <key>frame_main_guide_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,146}}</string>
                <key>sourceSize</key>
                <string>{640,146}</string>
            </dict>
            <key>frame_main_halloween_decoration1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,891},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>frame_main_halloween_decoration2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,575},{558,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,37}}</string>
                <key>sourceSize</key>
                <string>{558,37}</string>
            </dict>
            <key>frame_main_halloween_decoration3.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,979},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>frame_main_halloween_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,435},{640,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,111}}</string>
                <key>sourceSize</key>
                <string>{640,111}</string>
            </dict>
            <key>frame_main_halloween_down01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,135}}</string>
                <key>sourceSize</key>
                <string>{640,135}</string>
            </dict>
            <key>frame_main_halloween_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,3},{266,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,71}}</string>
                <key>sourceSize</key>
                <string>{266,71}</string>
            </dict>
            <key>frame_main_halloween_power01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{396,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,87}}</string>
                <key>sourceSize</key>
                <string>{396,87}</string>
            </dict>
            <key>frame_main_halloween_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,795},{580,75}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{580,75}}</string>
                <key>sourceSize</key>
                <string>{640,75}</string>
            </dict>
            <key>frame_main_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,689},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>frame_main_head_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,692},{234,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,114}}</string>
                <key>sourceSize</key>
                <string>{234,114}</string>
            </dict>
            <key>frame_main_into.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,594},{96,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>frame_main_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,568},{610,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,3}}</string>
                <key>sourceSize</key>
                <string>{610,3}</string>
            </dict>
            <key>frame_main_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,956},{304,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,57}}</string>
                <key>sourceSize</key>
                <string>{304,57}</string>
            </dict>
            <key>frame_main_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,945},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>frame_main_square_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,896},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>frame_main_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,930},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>frame_main_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,693},{640,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,52}}</string>
                <key>sourceSize</key>
                <string>{640,52}</string>
            </dict>
            <key>frame_pandect_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,877},{140,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,10}}</string>
                <key>sourceSize</key>
                <string>{140,10}</string>
            </dict>
            <key>icon_LegendaryKing_round_ztsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,599},{83,89}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{83,89}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>icon_main_building_alarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,273},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>icon_main_building_alarm_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,692},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>icon_main_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,954},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>icon_main_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,905},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>icon_main_powegem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,226},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>icon_main_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,969},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>icon_main_set_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,763},{82,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>icon_new_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,979},{29,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,30}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>icon_new_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,965},{29,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,30}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>progressbar_main_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,899},{73,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,15}}</string>
                <key>sourceSize</key>
                <string>{73,15}</string>
            </dict>
            <key>progressbar_main_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,892},{80,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,9}}</string>
                <key>sourceSize</key>
                <string>{80,9}</string>
            </dict>
            <key>progressbar_main_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,677},{11,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,35}}</string>
                <key>sourceSize</key>
                <string>{11,35}</string>
            </dict>
            <key>progressbar_main_strength.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,892},{80,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,9}}</string>
                <key>sourceSize</key>
                <string>{80,9}</string>
            </dict>
            <key>progressbar_main_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,575},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frameMainUI.png</string>
            <key>size</key>
            <string>{1482,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2b1cff86da4ce0c91c85b0e9290aa68:1/1$</string>
            <key>textureFileName</key>
            <string>frameMainUI.png</string>
        </dict>
    </dict>
</plist>
