<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_loading21_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,171},{134,132}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{134,132}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{134,166}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{134,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{134,166}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{134,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,2},{132,166}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{132,166}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{132,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{136,166}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{136,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,171},{136,154}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{136,154}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,171},{136,154}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{136,154}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,171},{136,156}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{136,156}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,2},{136,158}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{136,158}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{136,162}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{136,162}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,305},{136,166}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{136,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{136,166}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{136,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{134,166}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{134,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading21_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{136,166}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{136,166}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>dh_loading22_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,397},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,397},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,397},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,316},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,320},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,163},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,167},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,171},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,284},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,284},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,310},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,310},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,310},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,171},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading22_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,171},{146,110}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_loading23_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginViewFA.png</string>
            <key>size</key>
            <string>{1532,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa4ea8ee54e6856da1c9640e935cdcd5:1/1$</string>
            <key>textureFileName</key>
            <string>loginViewFA.png</string>
        </dict>
    </dict>
</plist>
