<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_logo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,244},{242,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,147}}</string>
                <key>sourceSize</key>
                <string>{242,147}</string>
            </dict>
            <key>dh_logo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,714},{125,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,69}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>dh_logoen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,490},{220,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,145}}</string>
                <key>sourceSize</key>
                <string>{220,145}</string>
            </dict>
            <key>dh_logoen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,3},{123,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{123,67}}</string>
                <key>sourceSize</key>
                <string>{125,71}</string>
            </dict>
            <key>frame_login_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,813},{575,60}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,60}}</string>
                <key>sourceSize</key>
                <string>{609,72}</string>
            </dict>
            <key>frame_square_mac_bate.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,877},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>framer_yxzjz_xf.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,916},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>icon_facebook_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,130},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>icon_telegram_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,859},{65,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>loading_luotuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,818},{70,68}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{70,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_luotuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,859},{72,68}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_luotuo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,818},{74,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{74,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_luotuo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,746},{78,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{78,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_luotuo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,818},{74,68}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{74,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_luotuo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,787},{72,68}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_luotuo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,746},{76,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{76,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_luotuo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,787},{72,68}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{506,264}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{506,264}}</string>
                <key>sourceSize</key>
                <string>{580,294}</string>
            </dict>
            <key>logo_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,244},{498,264}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{498,264}}</string>
                <key>sourceSize</key>
                <string>{520,290}</string>
            </dict>
            <key>logo_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,3},{396,237}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{396,237}}</string>
                <key>sourceSize</key>
                <string>{402,243}</string>
            </dict>
            <key>logozy.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,271},{496,268}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{496,268}}</string>
                <key>sourceSize</key>
                <string>{580,294}</string>
            </dict>
            <key>logozyen.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,543},{498,266}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{498,266}}</string>
                <key>sourceSize</key>
                <string>{520,290}</string>
            </dict>
            <key>progressbar_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,877},{544,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,35}}</string>
                <key>sourceSize</key>
                <string>{544,35}</string>
            </dict>
            <key>progressbar_login_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,244},{526,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{526,29}}</string>
                <key>sourceSize</key>
                <string>{544,35}</string>
            </dict>
            <key>progressbar_login_lightspot.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,201},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>progressbar_login_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,916},{522,21}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{522,21}}</string>
                <key>sourceSize</key>
                <string>{544,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginViewUI.png</string>
            <key>size</key>
            <string>{983,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2724e9cae28e67dc8221ac46abc9e8:1/1$</string>
            <key>textureFileName</key>
            <string>loginViewUI.png</string>
        </dict>
    </dict>
</plist>
