<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>switcher_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,813},{652,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,81}}</string>
                <key>sourceSize</key>
                <string>{652,81}</string>
            </dict>
            <key>switcher_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,729},{652,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,81}}</string>
                <key>sourceSize</key>
                <string>{652,81}</string>
            </dict>
            <key>switcher_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,645},{652,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,81}}</string>
                <key>sourceSize</key>
                <string>{652,81}</string>
            </dict>
            <key>switcher_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1787},{652,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,81}}</string>
                <key>sourceSize</key>
                <string>{652,81}</string>
            </dict>
            <key>switcher_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{652,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,81}}</string>
                <key>sourceSize</key>
                <string>{652,81}</string>
            </dict>
            <key>switcher_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>switcher_bg_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,813},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>switcher_bg_ex_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,645},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>switcher_bg_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>switcher_bg_title_arab.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1391},{349,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{349,199}}</string>
                <key>sourceSize</key>
                <string>{355,199}</string>
            </dict>
            <key>switcher_bg_title_arab_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1391},{420,250}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,20},{420,250}}</string>
                <key>sourceSize</key>
                <string>{640,290}</string>
            </dict>
            <key>switcher_bg_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1391},{389,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,131}}</string>
                <key>sourceSize</key>
                <string>{389,131}</string>
            </dict>
            <key>switcher_bg_title_en_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1608},{532,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{532,176}}</string>
                <key>sourceSize</key>
                <string>{640,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>switcher.png</string>
            <key>size</key>
            <string>{2033,1897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff29aa5286efc2a7eb328c4ea811dd9f:1/1$</string>
            <key>textureFileName</key>
            <string>switcher.png</string>
        </dict>
    </dict>
</plist>
