<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_land_v2.1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{1348,316}}</string>
                <key>offset</key>
                <string>{-52,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,134},{1348,316}}</string>
                <key>sourceSize</key>
                <string>{1452,450}</string>
            </dict>
            <key>black_land_v2.1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1467,524}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{1467,524}}</string>
                <key>sourceSize</key>
                <string>{1503,572}</string>
            </dict>
            <key>black_land_v2.2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,528},{1042,760}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1042,760}}</string>
                <key>sourceSize</key>
                <string>{1042,770}</string>
            </dict>
            <key>black_land_v2.2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1290},{981,598}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{981,598}}</string>
                <key>sourceSize</key>
                <string>{1053,598}</string>
            </dict>
            <key>black_land_v2.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,528},{1296,617}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{1296,617}}</string>
                <key>sourceSize</key>
                <string>{1314,647}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>remainsWarBg.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7582362c25b73659e0d839150c1b3c40:1/1$</string>
            <key>textureFileName</key>
            <string>remainsWarBg.pkm</string>
        </dict>
    </dict>
</plist>
