<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_qd14.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1811},{108,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,123}</string>
            </dict>
            <key>bg_qd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1779},{76,123}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{76,123}}</string>
                <key>sourceSize</key>
                <string>{108,123}</string>
            </dict>
            <key>bg_xljc_ysz_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,813},{428,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,67}}</string>
                <key>sourceSize</key>
                <string>{428,67}</string>
            </dict>
            <key>bg_xljc_ysz_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{448,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,125}}</string>
                <key>sourceSize</key>
                <string>{448,125}</string>
            </dict>
            <key>bg_xljc_ysz_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1418},{356,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,123}}</string>
                <key>sourceSize</key>
                <string>{356,123}</string>
            </dict>
            <key>frame_300_ay.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,651},{615,86}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{615,86}}</string>
                <key>sourceSize</key>
                <string>{629,86}</string>
            </dict>
            <key>frame_300_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,475},{629,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,86}}</string>
                <key>sourceSize</key>
                <string>{629,86}</string>
            </dict>
            <key>frame_LegendaryKing_win_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,811},{314,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,62}}</string>
                <key>sourceSize</key>
                <string>{314,62}</string>
            </dict>
            <key>frame_LegendaryKing_win_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1129},{231,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,43}}</string>
                <key>sourceSize</key>
                <string>{231,43}</string>
            </dict>
            <key>frame_LegendaryKing_word_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,565},{626,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,82}}</string>
                <key>sourceSize</key>
                <string>{626,82}</string>
            </dict>
            <key>frame_LegendaryKing_word_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,813},{552,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,111}}</string>
                <key>sourceSize</key>
                <string>{552,111}</string>
            </dict>
            <key>frame_bazhuzhizhan_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,741},{612,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,68}}</string>
                <key>sourceSize</key>
                <string>{612,68}</string>
            </dict>
            <key>frame_bazhuzhizhan_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1433},{560,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,116}}</string>
                <key>sourceSize</key>
                <string>{560,116}</string>
            </dict>
            <key>frame_cqbz_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1105},{196,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>frame_cqbz_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,670},{231,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,42}}</string>
                <key>sourceSize</key>
                <string>{231,42}</string>
            </dict>
            <key>frame_czdb_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,247},{640,224}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{640,224}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>frame_czdb_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,240}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>frame_font_guardian_01_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1570},{171,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,41}}</string>
                <key>sourceSize</key>
                <string>{171,41}</string>
            </dict>
            <key>frame_font_guardian_02_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,905},{171,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,42}}</string>
                <key>sourceSize</key>
                <string>{171,42}</string>
            </dict>
            <key>frame_font_guardian_03_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1847},{171,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,41}}</string>
                <key>sourceSize</key>
                <string>{171,41}</string>
            </dict>
            <key>frame_font_guardian_1_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,521},{358,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,54}}</string>
                <key>sourceSize</key>
                <string>{358,54}</string>
            </dict>
            <key>frame_font_guardian_1_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1224},{373,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,44}}</string>
                <key>sourceSize</key>
                <string>{373,44}</string>
            </dict>
            <key>frame_font_guardian_2_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,813},{407,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,55}}</string>
                <key>sourceSize</key>
                <string>{407,55}</string>
            </dict>
            <key>frame_font_guardian_2_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,811},{313,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,44}}</string>
                <key>sourceSize</key>
                <string>{313,44}</string>
            </dict>
            <key>frame_font_guardian_3_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1245},{379,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,54}}</string>
                <key>sourceSize</key>
                <string>{379,54}</string>
            </dict>
            <key>frame_font_guardian_3_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,811},{283,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,44}}</string>
                <key>sourceSize</key>
                <string>{283,44}</string>
            </dict>
            <key>frame_font_hero_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1778},{366,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,142}}</string>
                <key>sourceSize</key>
                <string>{366,142}</string>
            </dict>
            <key>frame_font_hero_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1379},{373,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,108}}</string>
                <key>sourceSize</key>
                <string>{373,108}</string>
            </dict>
            <key>frame_font_resource_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,579},{334,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,87}}</string>
                <key>sourceSize</key>
                <string>{334,87}</string>
            </dict>
            <key>frame_font_resource_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,670},{313,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,77}}</string>
                <key>sourceSize</key>
                <string>{313,77}</string>
            </dict>
            <key>frame_font_speed_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,3},{419,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,114}}</string>
                <key>sourceSize</key>
                <string>{419,114}</string>
            </dict>
            <key>frame_font_speed_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1369},{399,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,88}}</string>
                <key>sourceSize</key>
                <string>{399,88}</string>
            </dict>
            <key>frame_kaizai_ay.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,813},{554,67}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{554,67}}</string>
                <key>sourceSize</key>
                <string>{584,83}</string>
            </dict>
            <key>frame_kaizai_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,813},{593,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,74}}</string>
                <key>sourceSize</key>
                <string>{593,74}</string>
            </dict>
            <key>frame_palace_01_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1400},{210,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,68}}</string>
                <key>sourceSize</key>
                <string>{210,68}</string>
            </dict>
            <key>frame_palace_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1364},{244,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,50}}</string>
                <key>sourceSize</key>
                <string>{244,50}</string>
            </dict>
            <key>frame_palace_02_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,813},{562,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,74}}</string>
                <key>sourceSize</key>
                <string>{562,74}</string>
            </dict>
            <key>frame_palace_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,813},{601,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,58}}</string>
                <key>sourceSize</key>
                <string>{601,58}</string>
            </dict>
            <key>frame_palace_03_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,811},{302,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,76}}</string>
                <key>sourceSize</key>
                <string>{302,76}</string>
            </dict>
            <key>frame_palace_03_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1924},{369,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,58}}</string>
                <key>sourceSize</key>
                <string>{369,58}</string>
            </dict>
            <key>frame_palace_04_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1129},{237,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,66}}</string>
                <key>sourceSize</key>
                <string>{237,66}</string>
            </dict>
            <key>frame_palace_04_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,811},{290,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,55}}</string>
                <key>sourceSize</key>
                <string>{290,55}</string>
            </dict>
            <key>frame_palace_05_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1772},{247,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,68}}</string>
                <key>sourceSize</key>
                <string>{247,68}</string>
            </dict>
            <key>frame_palace_05_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,751},{313,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,56}}</string>
                <key>sourceSize</key>
                <string>{313,56}</string>
            </dict>
            <key>frame_xljchd_ay01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,813},{616,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,62}}</string>
                <key>sourceSize</key>
                <string>{616,62}</string>
            </dict>
            <key>frame_xljchd_yy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,813},{616,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,62}}</string>
                <key>sourceSize</key>
                <string>{616,62}</string>
            </dict>
            <key>icon_segment_name_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1847},{174,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,71}}</string>
                <key>sourceSize</key>
                <string>{174,71}</string>
            </dict>
            <key>icon_segment_name_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1628},{125,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,66}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>icon_segment_name_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1431},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_segment_name_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1614},{161,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,72}}</string>
                <key>sourceSize</key>
                <string>{161,72}</string>
            </dict>
            <key>icon_segment_name_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1305},{122,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,62}}</string>
                <key>sourceSize</key>
                <string>{122,62}</string>
            </dict>
            <key>icon_segment_name_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1363},{203,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,76}}</string>
                <key>sourceSize</key>
                <string>{203,76}</string>
            </dict>
            <key>icon_segment_name_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1370},{230,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,67}}</string>
                <key>sourceSize</key>
                <string>{230,67}</string>
            </dict>
            <key>icon_segment_name_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1117},{279,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,63}}</string>
                <key>sourceSize</key>
                <string>{279,63}</string>
            </dict>
            <key>icon_segment_name_en_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1604},{155,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,50}}</string>
                <key>sourceSize</key>
                <string>{155,50}</string>
            </dict>
            <key>icon_segment_name_en_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1628},{139,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,45}}</string>
                <key>sourceSize</key>
                <string>{139,45}</string>
            </dict>
            <key>icon_segment_name_en_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1972},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>sourceSize</key>
                <string>{104,42}</string>
            </dict>
            <key>icon_segment_name_en_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1612},{195,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,51}}</string>
                <key>sourceSize</key>
                <string>{195,51}</string>
            </dict>
            <key>icon_segment_name_en_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1098},{185,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,40}}</string>
                <key>sourceSize</key>
                <string>{185,40}</string>
            </dict>
            <key>icon_segment_name_en_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1763},{153,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,46}}</string>
                <key>sourceSize</key>
                <string>{153,46}</string>
            </dict>
            <key>icon_segment_name_en_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1128},{231,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,45}}</string>
                <key>sourceSize</key>
                <string>{231,45}</string>
            </dict>
            <key>icon_segment_name_en_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,455},{339,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,62}}</string>
                <key>sourceSize</key>
                <string>{339,62}</string>
            </dict>
            <key>icon_sultan_2nd_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,3},{414,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{414,117}}</string>
                <key>sourceSize</key>
                <string>{424,117}</string>
            </dict>
            <key>icon_sultan_2nd_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1433},{410,109}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{410,109}}</string>
                <key>sourceSize</key>
                <string>{424,117}</string>
            </dict>
            <key>icon_zimu_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1872},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>icon_zimu_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1932},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>icon_zimu_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1920},{42,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,96}}</string>
                <key>sourceSize</key>
                <string>{42,98}</string>
            </dict>
            <key>icon_zimu_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1906},{60,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,96}}</string>
                <key>sourceSize</key>
                <string>{60,98}</string>
            </dict>
            <key>icon_zimu_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1680},{86,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>icon_zimu_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1770},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>icon_zimu_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1570},{106,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityWordUI.png</string>
            <key>size</key>
            <string>{1015,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af7642abd80e2b95b1a36fc81f1874f8:1/1$</string>
            <key>textureFileName</key>
            <string>activityWordUI.png</string>
        </dict>
    </dict>
</plist>
