<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_lmfrd_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1231},{98,20}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,1},{98,20}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1656},{148,52}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{148,52}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1365},{160,86}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,86}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1644},{160,120}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,754},{160,152}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,152}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1028},{160,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1068},{160,128}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{160,128}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,498},{160,94}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{160,94}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1799},{152,60}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,100},{152,60}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,723},{116,26}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,134},{116,26}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,661},{97,59}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{97,59}}</string>
                <key>sourceSize</key>
                <string>{159,77}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1528},{111,59}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{111,59}}</string>
                <key>sourceSize</key>
                <string>{159,77}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1805},{121,59}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{121,59}}</string>
                <key>sourceSize</key>
                <string>{159,77}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1892},{115,59}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{115,59}}</string>
                <key>sourceSize</key>
                <string>{159,77}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1930},{99,59}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{99,59}}</string>
                <key>sourceSize</key>
                <string>{159,77}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1892},{79,57}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,3},{79,57}}</string>
                <key>sourceSize</key>
                <string>{159,77}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,917},{138,148}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{138,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1352},{134,150}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{134,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1505},{134,148}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{134,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,891},{134,146}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{134,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1656},{132,146}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{132,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1467},{132,144}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{132,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1867},{134,142}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{134,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1328},{136,144}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{136,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1785},{134,142}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{134,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1807},{134,140}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{134,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1747},{134,142}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{134,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1602},{134,142}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{134,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1189},{136,144}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{136,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_lmfrd_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,752},{136,146}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{136,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_lmfrd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,378},{373,373}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,373}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>dh_Tex_lmfrd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,754},{321,320}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{321,320}}</string>
                <key>sourceSize</key>
                <string>{323,324}</string>
            </dict>
            <key>dh_Tex_lmfrd_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,305},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_Tex_lmfrd_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1231},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>dh_Tex_lmfrd_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1644},{138,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{138,212}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>dh_Tex_lmfrd_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1478},{317,318}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{317,318}}</string>
                <key>sourceSize</key>
                <string>{323,324}</string>
            </dict>
            <key>dh_Tex_lmfrd_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,2},{272,29}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{272,29}}</string>
                <key>sourceSize</key>
                <string>{308,37}</string>
            </dict>
            <key>dh_Tex_lmfrd_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1785},{136,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,60}}</string>
                <key>sourceSize</key>
                <string>{140,62}</string>
            </dict>
            <key>frame_lmfrd_asjdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,498},{251,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,0},{251,129}}</string>
                <key>sourceSize</key>
                <string>{477,129}</string>
            </dict>
            <key>frame_lmfrd_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{373,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,373}}</string>
                <key>sourceSize</key>
                <string>{373,373}</string>
            </dict>
            <key>frame_lmfrd_lsjdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1799},{263,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{263,129}}</string>
                <key>sourceSize</key>
                <string>{477,129}</string>
            </dict>
            <key>frame_lmfrd_zjdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{276,846}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,846}}</string>
                <key>sourceSize</key>
                <string>{276,846}</string>
            </dict>
            <key>frame_lmrfd_hsqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1077},{331,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,285}}</string>
                <key>sourceSize</key>
                <string>{331,285}</string>
            </dict>
            <key>frame_lmrfd_hszz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,376},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>frame_lmrfd_lsqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1931},{53,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,211}}</string>
                <key>sourceSize</key>
                <string>{53,211}</string>
            </dict>
            <key>frame_lmrfd_zjyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1141},{334,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,334}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
            <key>frame_lmrfd_zjyy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1365},{276,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,279}}</string>
                <key>sourceSize</key>
                <string>{276,279}</string>
            </dict>
            <key>frame_lmrfd_zjyy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{300,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,213}}</string>
                <key>sourceSize</key>
                <string>{300,213}</string>
            </dict>
            <key>icon_lmrfd_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1931},{62,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{62,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_lmrfd_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,305},{68,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{68,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_lmrfd_rqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1930},{32,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allianceProsperity.png</string>
            <key>size</key>
            <string>{1272,2003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:260841e367db8a1d8b938659bd2f1fa0:1/1$</string>
            <key>textureFileName</key>
            <string>allianceProsperity.png</string>
        </dict>
    </dict>
</plist>
