<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_alliance_hunt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{640,1305}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{640,1305}}</string>
                <key>sourceSize</key>
                <string>{640,1309}</string>
            </dict>
            <key>bg_alliance_hunt_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,647},{640,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,448}}</string>
                <key>sourceSize</key>
                <string>{640,448}</string>
            </dict>
            <key>bg_yxsd_dw.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1079}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1079}}</string>
                <key>sourceSize</key>
                <string>{640,1079}</string>
            </dict>
            <key>frame_kzhlhd_gz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1291},{152,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,147}}</string>
                <key>sourceSize</key>
                <string>{152,147}</string>
            </dict>
            <key>frame_lzqc_npc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1291},{286,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,464}}</string>
                <key>sourceSize</key>
                <string>{286,464}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allianceBgUI.png</string>
            <key>size</key>
            <string>{1098,1955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b43c7479a4a79933ece05330b5d42ed:1/1$</string>
            <key>textureFileName</key>
            <string>allianceBgUI.png</string>
        </dict>
    </dict>
</plist>
