<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_sgbz_djgmbj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,3},{308,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,471}}</string>
                <key>sourceSize</key>
                <string>{308,471}</string>
            </dict>
            <key>bg_sgbz_hbbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,454}}</string>
                <key>sourceSize</key>
                <string>{640,454}</string>
            </dict>
            <key>bg_sgbz_tcbc.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{545,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,342}}</string>
                <key>sourceSize</key>
                <string>{545,342}</string>
            </dict>
            <key>frame_sgbz_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,351},{595,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,180}}</string>
                <key>sourceSize</key>
                <string>{595,180}</string>
            </dict>
            <key>frame_sgbz_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,535},{595,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,130}}</string>
                <key>sourceSize</key>
                <string>{595,130}</string>
            </dict>
            <key>frame_sgbz_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,669},{595,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,123}}</string>
                <key>sourceSize</key>
                <string>{595,123}</string>
            </dict>
            <key>frame_sgbz_bshw1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,882},{299,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,159}}</string>
                <key>sourceSize</key>
                <string>{299,159}</string>
            </dict>
            <key>frame_sgbz_bshw1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,878},{299,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,85}}</string>
                <key>sourceSize</key>
                <string>{299,85}</string>
            </dict>
            <key>frame_sgbz_bshw1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,789},{299,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,76}}</string>
                <key>sourceSize</key>
                <string>{299,76}</string>
            </dict>
            <key>frame_sgbz_bshw2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,882},{299,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,159}}</string>
                <key>sourceSize</key>
                <string>{299,159}</string>
            </dict>
            <key>frame_sgbz_bshw2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,789},{299,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,85}}</string>
                <key>sourceSize</key>
                <string>{299,85}</string>
            </dict>
            <key>frame_sgbz_bshw2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,967},{299,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,76}}</string>
                <key>sourceSize</key>
                <string>{299,76}</string>
            </dict>
            <key>frame_sgbz_btiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,821},{595,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,180}}</string>
                <key>sourceSize</key>
                <string>{595,180}</string>
            </dict>
            <key>frame_sgbz_btiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,461},{595,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,356}}</string>
                <key>sourceSize</key>
                <string>{595,356}</string>
            </dict>
            <key>frame_sgbz_btiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,796},{595,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,82}}</string>
                <key>sourceSize</key>
                <string>{595,82}</string>
            </dict>
            <key>frame_sgbz_bx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,700},{159,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,125}}</string>
                <key>sourceSize</key>
                <string>{159,125}</string>
            </dict>
            <key>frame_sgbz_bx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,478},{245,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,218}}</string>
                <key>sourceSize</key>
                <string>{245,218}</string>
            </dict>
            <key>frame_sgbz_fgxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1102},{298,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,3}}</string>
                <key>sourceSize</key>
                <string>{298,3}</string>
            </dict>
            <key>frame_sgbz_fgxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1102},{298,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,3}}</string>
                <key>sourceSize</key>
                <string>{298,3}</string>
            </dict>
            <key>frame_sgbz_jrqz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,3},{344,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,533}}</string>
                <key>sourceSize</key>
                <string>{344,533}</string>
            </dict>
            <key>frame_sgbz_jrqz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,349},{344,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,307}}</string>
                <key>sourceSize</key>
                <string>{344,307}</string>
            </dict>
            <key>frame_sgbz_jrqz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1005},{93,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,716}}</string>
                <key>sourceSize</key>
                <string>{93,716}</string>
            </dict>
            <key>frame_sgbz_jryk.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,660},{322,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,324}}</string>
                <key>sourceSize</key>
                <string>{322,324}</string>
            </dict>
            <key>frame_sgbz_tz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,351},{315,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,85}}</string>
                <key>sourceSize</key>
                <string>{315,85}</string>
            </dict>
            <key>frame_sgbz_tz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,700},{314,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,85}}</string>
                <key>sourceSize</key>
                <string>{314,85}</string>
            </dict>
            <key>frame_sgbz_xzfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,700},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>frame_sgbz_xzfx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,863},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>frame_sgbz_zsbj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,988},{105,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,191}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>frame_sgbz_zsbj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,478},{103,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,208}}</string>
                <key>sourceSize</key>
                <string>{103,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ancientReel.png</string>
            <key>size</key>
            <string>{2045,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:139cfe7eb9e49106569f472287ce6d8c:1/1$</string>
            <key>textureFileName</key>
            <string>ancientReel.png</string>
        </dict>
    </dict>
</plist>
