<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_yg_alpha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1774},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1521},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1268},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1774},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1521},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1015},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1268},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,762},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1015},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,509},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,762},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,256},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,509},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,256},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,3},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,3},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1546},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1293},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1546},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1040},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1293},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,787},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1040},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,534},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,787},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,281},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,534},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,28},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,281},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>dh_yg_alpha_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,28},{280,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{280,249}}</string>
                <key>sourceSize</key>
                <string>{280,255}</string>
            </dict>
            <key>frame_jx_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1808},{549,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,9}}</string>
                <key>sourceSize</key>
                <string>{549,9}</string>
            </dict>
            <key>frame_jx_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1821},{160,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{160,145}}</string>
                <key>sourceSize</key>
                <string>{164,147}</string>
            </dict>
            <key>frame_jx_barbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{567,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,21}}</string>
                <key>sourceSize</key>
                <string>{567,21}</string>
            </dict>
            <key>frame_jx_barbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1821},{164,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,147}}</string>
                <key>sourceSize</key>
                <string>{164,147}</string>
            </dict>
            <key>frame_jx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,411}}</string>
                <key>sourceSize</key>
                <string>{640,411}</string>
            </dict>
            <key>frame_jx_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>frame_jx_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1821},{118,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>icon_mrth_jinrikeling.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1821},{90,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>annivColossus.png</string>
            <key>size</key>
            <string>{1785,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d32d1a29cd0b4c4096c18262a10bed33:1/1$</string>
            <key>textureFileName</key>
            <string>annivColossus.png</string>
        </dict>
    </dict>
</plist>
