<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_znhy_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1909},{88,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_znhy_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_znhy_gh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1223},{204,197}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,197}}</string>
                <key>sourceSize</key>
                <string>{204,257}</string>
            </dict>
            <key>bg_znhy_gh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,579},{347,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,476}}</string>
                <key>sourceSize</key>
                <string>{347,476}</string>
            </dict>
            <key>bg_znhy_gh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1297},{307,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,409}}</string>
                <key>sourceSize</key>
                <string>{307,409}</string>
            </dict>
            <key>bg_znhy_gh04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{605,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,722}}</string>
                <key>sourceSize</key>
                <string>{605,722}</string>
            </dict>
            <key>bg_znhy_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,1074}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1074}}</string>
                <key>sourceSize</key>
                <string>{640,1106}</string>
            </dict>
            <key>bg_znhy_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1081},{640,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,212}}</string>
                <key>sourceSize</key>
                <string>{640,212}</string>
            </dict>
            <key>bg_znhy_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1916},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,3},{552,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{552,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2002},{554,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{554,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1223},{550,18}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{550,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2002},{548,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{548,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1223},{548,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{548,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,559},{548,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{548,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2026},{552,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{552,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1962},{550,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{550,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1940},{550,18}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{550,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1918},{550,18}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{550,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2026},{550,18}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{550,18}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1894},{550,20}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{550,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,3},{552,20}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{552,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,3},{552,20}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{552,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1870},{550,20}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{550,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1846},{550,20}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{550,20}}</string>
                <key>sourceSize</key>
                <string>{600,50}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1916},{30,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{30,54}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1725},{30,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{30,54}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1297},{30,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{30,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1656},{30,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{30,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1725},{30,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,2014},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{30,46}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2014},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{30,46}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1725},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{28,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1725},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{26,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,2001},{26,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{26,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1167},{26,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{26,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1111},{26,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{26,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1984},{26,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{26,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1984},{26,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{26,54}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1984},{28,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{28,54}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1984},{28,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,54}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1840},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1820},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1656},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1656},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1771},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1879},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1752},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1715},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1551},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1387},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1588},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1223},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1424},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1702},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1633},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_znhy03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1777},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_znhy_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1059},{160,327}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,327}}</string>
                <key>sourceSize</key>
                <string>{160,347}</string>
            </dict>
            <key>frame_znhy_dian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1759},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>frame_znhy_zs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1710},{360,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,132}}</string>
                <key>sourceSize</key>
                <string>{360,132}</string>
            </dict>
            <key>frame_znhy_zs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1424},{205,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,157}}</string>
                <key>sourceSize</key>
                <string>{205,157}</string>
            </dict>
            <key>frame_znhy_zs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1297},{283,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,355}}</string>
                <key>sourceSize</key>
                <string>{283,355}</string>
            </dict>
            <key>frame_znhy_zs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{572,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,296}}</string>
                <key>sourceSize</key>
                <string>{572,296}</string>
            </dict>
            <key>icon_znhy_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1223},{32,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{32,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_znhy_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1353},{36,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{36,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_znhy_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1984},{34,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_znhy_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1297},{36,52}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{36,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniversaryFlame.png</string>
            <key>size</key>
            <string>{1672,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:094a1e82bba7fac996fe1b71afd1d455:1/1$</string>
            <key>textureFileName</key>
            <string>anniversaryFlame.png</string>
        </dict>
    </dict>
</plist>
