<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_znqmk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1484},{178,359}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,7},{178,359}}</string>
                <key>sourceSize</key>
                <string>{292,369}</string>
            </dict>
            <key>dh_Tex_znqmk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1466},{238,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,38},{238,293}}</string>
                <key>sourceSize</key>
                <string>{292,369}</string>
            </dict>
            <key>dh_Tex_znqmk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1439},{192,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,26},{192,317}}</string>
                <key>sourceSize</key>
                <string>{292,369}</string>
            </dict>
            <key>dh_Tex_znqmk_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1141},{292,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{292,339}}</string>
                <key>sourceSize</key>
                <string>{292,369}</string>
            </dict>
            <key>dh_Tex_znqmk_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1141},{216,321}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{216,321}}</string>
                <key>sourceSize</key>
                <string>{292,369}</string>
            </dict>
            <key>dh_Tex_znqmk_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1745},{226,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{226,311}}</string>
                <key>sourceSize</key>
                <string>{292,369}</string>
            </dict>
            <key>dh_Tex_znqmk_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1666},{222,331}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{222,331}}</string>
                <key>sourceSize</key>
                <string>{292,369}</string>
            </dict>
            <key>farmer_znfl_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1065},{640,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,528}}</string>
                <key>sourceSize</key>
                <string>{640,528}</string>
            </dict>
            <key>farmer_znfl_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1971},{191,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,4}}</string>
                <key>sourceSize</key>
                <string>{191,4}</string>
            </dict>
            <key>farmer_znfl_qz_qdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{305,786}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,786}}</string>
                <key>sourceSize</key>
                <string>{305,786}</string>
            </dict>
            <key>farmer_znfl_round_jld.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,793},{344,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,319}}</string>
                <key>sourceSize</key>
                <string>{344,319}</string>
            </dict>
            <key>farmer_znfl_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1058}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{640,1058}}</string>
                <key>sourceSize</key>
                <string>{640,1064}</string>
            </dict>
            <key>farmer_znfl_shp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,331},{55,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,68}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>farmer_znld_shp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1319},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>font_znfl_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1892},{275,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,55}}</string>
                <key>sourceSize</key>
                <string>{275,55}</string>
            </dict>
            <key>font_znfl_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1123},{192,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,59}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>framer_znq_bx_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,3},{348,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,384}}</string>
                <key>sourceSize</key>
                <string>{348,384}</string>
            </dict>
            <key>framer_znq_bx_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,391},{346,354}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{346,354}}</string>
                <key>sourceSize</key>
                <string>{348,384}</string>
            </dict>
            <key>framer_znqzl_bt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1760},{240,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,103}}</string>
                <key>sourceSize</key>
                <string>{240,103}</string>
            </dict>
            <key>framer_znqzl_cd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1597},{636,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,144}}</string>
                <key>sourceSize</key>
                <string>{636,144}</string>
            </dict>
            <key>icon_znqdjs_shazi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,749},{178,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{178,370}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>icon_znqdjs_shazi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1763},{238,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,38},{238,294}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>icon_znqdjs_shazi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,391},{192,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{192,316}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>icon_znqdjs_shazi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,749},{292,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{292,338}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>icon_znqdjs_shazi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,3},{218,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{218,324}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>icon_znqdjs_shazi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1123},{226,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{226,312}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>icon_znqdjs_shazi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1745},{222,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{222,334}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniversaryCountdown.png</string>
            <key>size</key>
            <string>{1529,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e90e59fcecde551d40315fc1f0e691:1/1$</string>
            <key>textureFileName</key>
            <string>anniversaryCountdown.png</string>
        </dict>
    </dict>
</plist>
