<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_shmc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1160},{640,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,340}}</string>
                <key>sourceSize</key>
                <string>{640,340}</string>
            </dict>
            <key>bg_ytlds_bj_zc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,669}}</string>
                <key>sourceSize</key>
                <string>{640,669}</string>
            </dict>
            <key>bg_ytlds_zjph_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,676},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bg_zcjn_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,536},{268,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,678}}</string>
                <key>sourceSize</key>
                <string>{268,678}</string>
            </dict>
            <key>btn_shmc_01_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,1493},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>btn_shmc_02_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1493},{148,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,132}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
            <key>btn_shmc_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1448},{148,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,132}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
            <key>frame_shmc_barblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1499},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>frame_shmc_barlose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,382},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>frame_shmc_barred.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1504},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>frame_shmc_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,465},{600,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,162}}</string>
                <key>sourceSize</key>
                <string>{600,162}</string>
            </dict>
            <key>frame_shmc_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,382},{362,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,272}}</string>
                <key>sourceSize</key>
                <string>{362,272}</string>
            </dict>
            <key>frame_shmc_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1611},{268,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,38}}</string>
                <key>sourceSize</key>
                <string>{268,38}</string>
            </dict>
            <key>frame_shmc_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,995},{386,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,40}}</string>
                <key>sourceSize</key>
                <string>{386,40}</string>
            </dict>
            <key>frame_shmc_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1730},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>frame_shmc_bg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1730},{288,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,162}}</string>
                <key>sourceSize</key>
                <string>{288,162}</string>
            </dict>
            <key>frame_shmc_bg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,465},{640,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,4}}</string>
                <key>sourceSize</key>
                <string>{640,4}</string>
            </dict>
            <key>frame_shmc_bg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,465},{598,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,40}}</string>
                <key>sourceSize</key>
                <string>{598,40}</string>
            </dict>
            <key>frame_shmc_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1180},{315,201}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,201}}</string>
                <key>sourceSize</key>
                <string>{319,201}</string>
            </dict>
            <key>frame_shmc_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1525},{315,201}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{315,201}}</string>
                <key>sourceSize</key>
                <string>{319,201}</string>
            </dict>
            <key>frame_shmc_bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1504},{586,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,260}}</string>
                <key>sourceSize</key>
                <string>{586,260}</string>
            </dict>
            <key>frame_shmc_bg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,465},{634,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,68}}</string>
                <key>sourceSize</key>
                <string>{634,68}</string>
            </dict>
            <key>frame_shmc_bg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1510},{202,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,262}}</string>
                <key>sourceSize</key>
                <string>{202,262}</string>
            </dict>
            <key>frame_shmc_bottom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,465},{610,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,22}}</string>
                <key>sourceSize</key>
                <string>{610,22}</string>
            </dict>
            <key>frame_shmc_bottom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,465},{640,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,33}}</string>
                <key>sourceSize</key>
                <string>{640,33}</string>
            </dict>
            <key>frame_shmc_btnBg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1178},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>frame_shmc_buffBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1716},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>frame_shmc_congratulation_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1611},{227,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,90}}</string>
                <key>sourceSize</key>
                <string>{227,90}</string>
            </dict>
            <key>frame_shmc_congratulation_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1079},{499,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,69}}</string>
                <key>sourceSize</key>
                <string>{499,69}</string>
            </dict>
            <key>frame_shmc_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1218},{200,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,288}}</string>
                <key>sourceSize</key>
                <string>{200,288}</string>
            </dict>
            <key>frame_shmc_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{480,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,529}}</string>
                <key>sourceSize</key>
                <string>{480,529}</string>
            </dict>
            <key>frame_shmc_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1359},{137,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,130}}</string>
                <key>sourceSize</key>
                <string>{137,130}</string>
            </dict>
            <key>frame_shmc_grtj_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,3},{439,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,84}}</string>
                <key>sourceSize</key>
                <string>{439,84}</string>
            </dict>
            <key>frame_shmc_grtj_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1002},{442,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,65}}</string>
                <key>sourceSize</key>
                <string>{442,65}</string>
            </dict>
            <key>frame_shmc_img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,982},{360,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,70}}</string>
                <key>sourceSize</key>
                <string>{360,70}</string>
            </dict>
            <key>frame_shmc_img_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,995},{360,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,70}}</string>
                <key>sourceSize</key>
                <string>{360,70}</string>
            </dict>
            <key>frame_shmc_img_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,995},{360,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,70}}</string>
                <key>sourceSize</key>
                <string>{360,70}</string>
            </dict>
            <key>frame_shmc_img_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1659},{194,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,165}}</string>
                <key>sourceSize</key>
                <string>{194,165}</string>
            </dict>
            <key>frame_shmc_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1878},{362,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,11}}</string>
                <key>sourceSize</key>
                <string>{362,11}</string>
            </dict>
            <key>frame_shmc_mvp_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1716},{335,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,158}}</string>
                <key>sourceSize</key>
                <string>{335,158}</string>
            </dict>
            <key>frame_shmc_mvp_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,446},{344,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,109}}</string>
                <key>sourceSize</key>
                <string>{344,109}</string>
            </dict>
            <key>frame_shmc_qzzc_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1109},{409,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,93}}</string>
                <key>sourceSize</key>
                <string>{409,93}</string>
            </dict>
            <key>frame_shmc_qzzc_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,995},{364,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,85}}</string>
                <key>sourceSize</key>
                <string>{364,85}</string>
            </dict>
            <key>frame_shmc_saiji_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1842},{47,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>frame_shmc_skillBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1809},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_shmc_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,536},{638,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,132}}</string>
                <key>sourceSize</key>
                <string>{638,132}</string>
            </dict>
            <key>frame_shmc_top_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,465},{640,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,76}}</string>
                <key>sourceSize</key>
                <string>{640,76}</string>
            </dict>
            <key>frame_shmc_win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,382},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>frame_ytlds_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1768},{640,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,124}}</string>
                <key>sourceSize</key>
                <string>{640,124}</string>
            </dict>
            <key>frame_ytlds_dja_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1499},{78,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{78,186}}</string>
                <key>sourceSize</key>
                <string>{140,186}</string>
            </dict>
            <key>frame_ytlds_dja_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1584},{140,182}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,182}}</string>
                <key>sourceSize</key>
                <string>{140,186}</string>
            </dict>
            <key>frame_ytlds_dja_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,794},{122,184}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{122,184}}</string>
                <key>sourceSize</key>
                <string>{140,186}</string>
            </dict>
            <key>frame_ytlds_dja_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,3},{352,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,375}}</string>
                <key>sourceSize</key>
                <string>{352,375}</string>
            </dict>
            <key>frame_ytlds_djs_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1363},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>frame_ytlds_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,3},{455,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,458}}</string>
                <key>sourceSize</key>
                <string>{455,458}</string>
            </dict>
            <key>frame_ytlds_hz_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1109},{498,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,105}}</string>
                <key>sourceSize</key>
                <string>{498,105}</string>
            </dict>
            <key>frame_ytlds_kqan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,748},{264,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,243}}</string>
                <key>sourceSize</key>
                <string>{264,243}</string>
            </dict>
            <key>frame_ytlds_lszj_fgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,536},{640,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,76}}</string>
                <key>sourceSize</key>
                <string>{640,76}</string>
            </dict>
            <key>frame_ytlds_lszj_lz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1069},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,70}}</string>
                <key>sourceSize</key>
                <string>{107,70}</string>
            </dict>
            <key>frame_ytlds_lszj_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,465},{67,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,533}}</string>
                <key>sourceSize</key>
                <string>{67,533}</string>
            </dict>
            <key>frame_ytlds_tu_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1697},{108,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>frame_ytlds_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1218},{303,236}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{303,236}}</string>
                <key>sourceSize</key>
                <string>{305,236}</string>
            </dict>
            <key>icon_shmc_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1704},{90,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{90,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_shmc_kingdomflag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1766},{60,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,85}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>icon_shmc_manage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1770},{98,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{98,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_shmc_precious_deposits.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1806},{74,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{74,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_shmc_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1385},{72,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{72,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_shmc_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1069},{78,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{78,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_shmc_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1606},{94,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{94,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_shmc_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1770},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>icon_shmc_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1489},{113,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{113,117}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>icon_shmc_title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1522},{133,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>icon_shmc_title_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1645},{123,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{123,117}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>icon_shmc_warning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1414},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>icon_ytlds_pm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1346},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlantisWar.png</string>
            <key>size</key>
            <string>{2037,1899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:635b177212079ad4e63e2cb99cbffba4:1/1$</string>
            <key>textureFileName</key>
            <string>atlantisWar.png</string>
        </dict>
    </dict>
</plist>
