<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_ccdh03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,3},{214,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,380}}</string>
                <key>sourceSize</key>
                <string>{214,380}</string>
            </dict>
            <key>dh_Tex_XL_ccdh03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,387},{214,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,380}}</string>
                <key>sourceSize</key>
                <string>{214,380}</string>
            </dict>
            <key>dh_Tex_XL_ccdh03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,771},{214,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,380}}</string>
                <key>sourceSize</key>
                <string>{214,380}</string>
            </dict>
            <key>dh_Tex_XL_ccdh03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,3},{214,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,380}}</string>
                <key>sourceSize</key>
                <string>{214,380}</string>
            </dict>
            <key>dh_Tex_XL_ccdh03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,387},{214,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,380}}</string>
                <key>sourceSize</key>
                <string>{214,380}</string>
            </dict>
            <key>dh_Tex_XL_ccdh03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{214,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,380}}</string>
                <key>sourceSize</key>
                <string>{214,380}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,489},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,789},{310,146}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{310,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,787},{310,146}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{310,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1065},{310,146}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{310,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,789},{308,146}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{308,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,171},{318,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{318,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,639},{316,146}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{316,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,639},{316,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{316,144}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1415},{316,146}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{316,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,639},{314,146}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{314,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,321},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,321},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,171},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_qfys03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,171},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1093},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,387},{318,166}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{318,166}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1093},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1155},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,471},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,471},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,321},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,771},{318,162}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{318,162}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,3},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,3},{318,162}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{318,162}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,3},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,771},{318,166}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{318,166}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,3},{318,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{318,164}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_XL_tttt04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1155},{318,166}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{318,166}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>dh_Tex_ccdh_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,387},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>dh_Tex_qfys_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1477},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_qczj_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1581},{259,12}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{259,12}}</string>
                <key>sourceSize</key>
                <string>{291,34}</string>
            </dict>
            <key>dh_qczj_lz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1139},{249,194}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,194}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,661},{249,194}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,194}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1337},{249,192}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,192}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1192},{249,190}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,190}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,939},{249,188}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,188}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1192},{249,190}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,190}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,939},{249,196}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,196}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1139},{249,196}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,196}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,939},{249,192}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,192}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,859},{249,202}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,202}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1139},{249,198}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{249,198}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,455},{249,202}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,202}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,937},{249,198}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,198}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,939},{249,196}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,196}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_qczj_lz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,257},{249,194}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,194}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>dh_zhongnu1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1565},{198,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,489},{198,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1566},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1534},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1533},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1519},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1487},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1561},{196,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,891},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,923},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,891},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,785},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1563},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,555},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1565},{200,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>dh_zhongnu2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1487},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,817},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1489},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1415},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,555},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,555},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1413},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1339},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,325},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,325},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1519},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1445},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1341},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1460},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1386},{226,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>dh_zhongnu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,3},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlantisWarEffect.png</string>
            <key>size</key>
            <string>{2046,1597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18d05cfa7988d6cdf24bc6c4b5300db:1/1$</string>
            <key>textureFileName</key>
            <string>atlantisWarEffect.png</string>
        </dict>
    </dict>
</plist>
