<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_BOSS1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,201},{158,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,51}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>dh_grzs_hz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2005},{74,33}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,54},{74,33}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1992},{94,51}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,50},{94,51}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,673},{96,75}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{96,75}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,927},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,839},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,751},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1906},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1807},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1515},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1955},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1955},{96,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,85}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1953},{90,83}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{90,83}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1992},{90,45}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{90,45}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1015},{86,39}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{86,39}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>dh_grzs_hzzj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1707},{97,94}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1952},{99,90}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{99,90}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1952},{103,90}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{103,90}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1409},{103,92}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1071},{103,94}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{103,94}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1821},{103,94}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{103,94}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1303},{103,92}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1197},{103,92}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,567},{103,92}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1927},{103,92}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1715},{103,94}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{103,94}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1935},{103,92}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1603},{101,92}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{101,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1323},{103,92}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_hzzj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1609},{103,92}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dh_grzs_lz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1573},{245,186}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{245,186}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{247,190}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{247,190}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1067},{253,188}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,188}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{253,196}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,196}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{253,192}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,192}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{253,192}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,192}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{253,204}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,204}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{247,196}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{247,196}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,223},{241,194}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{241,194}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,822},{233,212}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{233,212}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,623},{235,196}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{235,196}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,420},{237,200}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{237,200}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{239,218}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{239,218}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,209},{239,204}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{239,204}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_lz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{243,204}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{243,204}}</string>
                <key>sourceSize</key>
                <string>{255,288}</string>
            </dict>
            <key>dh_grzs_qz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,563},{121,208}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{121,208}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,567},{123,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,208}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1091},{123,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,210}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,965},{123,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,210}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,813},{123,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,208}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,687},{123,208}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,208}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,693},{123,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,206}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,819},{123,204}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,204}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,945},{123,202}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,202}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1197},{123,198}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,198}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1177},{123,198}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,198}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1071},{123,198}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,198}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1217},{121,198}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{121,198}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1057},{117,200}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{117,200}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_grzs_qz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,939},{115,204}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{115,204}}</string>
                <key>sourceSize</key>
                <string>{123,228}</string>
            </dict>
            <key>dh_jbbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,294}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,25},{205,294}}</string>
                <key>sourceSize</key>
                <string>{353,398}</string>
            </dict>
            <key>dh_zhongnu4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,782},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,599},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,416},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1809},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1586},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,384},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,380},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,201},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,197},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1769},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1586},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1403},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1220},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1037},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1821},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zhongnu7_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1464},{160,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,118}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1446},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1772},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1609},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1792},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1629},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1446},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1466},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1790},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1667},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1504},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1323},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1303},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1341},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>dh_zhongnu7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1341},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlantisWarEffect2.png</string>
            <key>size</key>
            <string>{1213,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:368c9374d43e8cd8225310affcb84f2a:1/1$</string>
            <key>textureFileName</key>
            <string>atlantisWarEffect2.png</string>
        </dict>
    </dict>
</plist>
