<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlantis_explain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,882},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
            <key>atlantis_explain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,882},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
            <key>atlantis_explain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,882},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
            <key>atlantis_explain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,543},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
            <key>atlantis_explain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,3},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
            <key>dh_miaozhun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1617},{96,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{96,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_shmc_qmdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1750,875}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1750,875}}</string>
                <key>sourceSize</key>
                <string>{1752,875}</string>
            </dict>
            <key>frame_shmc_xdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1083},{530,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,316}}</string>
                <key>sourceSize</key>
                <string>{530,316}</string>
            </dict>
            <key>icon_shmc_dot_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1725},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>icon_shmc_dot_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1725},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>icon_shmc_dot_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1725},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>icon_shmc_falls_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,905},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{19,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_falls_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,882},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{19,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_falls_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1006},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{19,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_main_job.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1516},{104,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,80}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>icon_shmc_main_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1425},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>icon_shmc_main_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1331},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>icon_shmc_pillar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1033},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{21,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_pillar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1008},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{21,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_pillar_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,983},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{21,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_rock_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,956},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_rock_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1705},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_rock_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1678},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_shmcclr_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1652},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_shmcclr_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1626},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_shmcclr_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1600},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_shmcsd_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1695},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_shmcsd_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,950},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_shmcsd_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,928},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_small_901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1078},{249,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{249,162}}</string>
                <key>sourceSize</key>
                <string>{249,166}</string>
            </dict>
            <key>icon_shmc_small_902.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1617},{104,92}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{104,92}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>icon_shmc_small_903.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1617},{102,88}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{102,88}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>icon_shmc_small_904.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1617},{108,92}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{108,92}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>icon_shmc_small_905.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1413},{78,86}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>icon_shmc_small_917.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1331},{62,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{62,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>icon_shmc_small_born.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,956},{70,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>icon_shmc_small_born_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,882},{70,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>icon_shmc_wind_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,983},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_wind_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1033},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_shmc_wind_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1059},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>mapguide_step_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1083},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>mapguide_step_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1516},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>mapguide_step_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1297},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>mapguide_step_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1078},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>mapguide_step_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1516},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>mapguide_step_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1297},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>mapguide_step_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1078},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlantisWarMap.png</string>
            <key>size</key>
            <string>{1952,1734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55b63c2c98acedf7886390ed5998f115:1/1$</string>
            <key>textureFileName</key>
            <string>atlantisWarMap.png</string>
        </dict>
    </dict>
</plist>
