<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ytlds_zdjdbj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,650}}</string>
                <key>sourceSize</key>
                <string>{640,650}</string>
            </dict>
            <key>frame_shmc_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,657},{640,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,496}}</string>
                <key>sourceSize</key>
                <string>{640,496}</string>
            </dict>
            <key>frame_shmc_bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,657},{640,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,498}}</string>
                <key>sourceSize</key>
                <string>{640,498}</string>
            </dict>
            <key>frame_shmc_skill_pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1027},{120,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>frame_shmc_skill_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,903},{120,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>frame_shmc_skill_xy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,779},{120,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>frame_shmc_zsjh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1301},{36,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,178}}</string>
                <key>sourceSize</key>
                <string>{36,178}</string>
            </dict>
            <key>frame_ytlds_qczj_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,643},{640,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,424}}</string>
                <key>sourceSize</key>
                <string>{640,424}</string>
            </dict>
            <key>frame_ytlds_qczj_tx_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1301},{545,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,110}}</string>
                <key>sourceSize</key>
                <string>{545,110}</string>
            </dict>
            <key>frame_ytlds_qizhi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{368,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,809}}</string>
                <key>sourceSize</key>
                <string>{368,809}</string>
            </dict>
            <key>framer_shmc_gth.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1341},{47,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,101}}</string>
                <key>sourceSize</key>
                <string>{47,101}</string>
            </dict>
            <key>framer_shmc_sgbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,643},{640,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,448}}</string>
                <key>sourceSize</key>
                <string>{640,448}</string>
            </dict>
            <key>framer_shmc_sgdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,3},{380,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,321}}</string>
                <key>sourceSize</key>
                <string>{380,321}</string>
            </dict>
            <key>framer_zcjn_jndk.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1341},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>framer_zcjn_jnk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1409},{164,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,282}}</string>
                <key>sourceSize</key>
                <string>{164,282}</string>
            </dict>
            <key>framer_zcjn_jnk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1415},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>framer_zcjn_jnk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1415},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>framer_zcjn_jnk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1415},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>framer_zcjn_jnk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1415},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>framer_zcjn_jnzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1301},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_shmc_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,460},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1151},{118,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{118,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,655},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,531},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1411},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1411},{120,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1287},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1287},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,399},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,460},{124,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,328},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,328},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,267},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,135},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,3},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1421},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1411},{120,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1287},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1421},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1287},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1421},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1287},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1287},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,509},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,375},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1411},{120,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100171.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,509},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,375},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100191.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,509},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,375},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,509},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,375},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100241.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,509},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100251.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,375},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100261.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,509},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100271.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,375},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100281.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,509},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100291.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1287},{120,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100301.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,375},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100311.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1435},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100321.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1301},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100331.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1435},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_shmc_skill_100341.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1301},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlantisWar2.png</string>
            <key>size</key>
            <string>{2030,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32d7e51f9a4503319effa9480c66f241:1/1$</string>
            <key>textureFileName</key>
            <string>atlantisWar2.png</string>
        </dict>
    </dict>
</plist>
