<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xbz_pb_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,3},{84,178}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,35},{84,178}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,763},{86,180}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,33},{86,180}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,3},{86,184}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{86,184}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,387},{86,186}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{86,186}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,3},{86,188}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,27},{86,188}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,3},{84,188}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{84,188}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,195},{84,188}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{84,188}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,195},{84,188}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{84,188}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,195},{82,186}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,28},{82,186}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,385},{82,180}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,31},{82,180}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,543},{82,174}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,33},{82,174}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,845},{82,168}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{82,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,3},{82,168}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,37},{82,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,177},{82,168}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,38},{82,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,527},{82,168}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,39},{82,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,3},{82,170}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{82,170}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,181},{82,170}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{82,170}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_n_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,185},{84,176}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,35},{84,176}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,355},{112,168}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,40},{112,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,533},{116,168}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,40},{116,168}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,845},{120,172}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{120,172}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,365},{118,174}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{118,174}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,731},{118,174}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,35},{118,174}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,553},{120,174}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{120,174}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,3},{122,174}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,35},{122,174}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,719},{122,172}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{122,172}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,359},{122,170}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{122,170}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,855},{118,164}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{118,164}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,343},{116,162}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{116,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,859},{110,160}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{110,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,169},{104,160}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,43},{104,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,671},{102,160}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{102,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,841},{102,160}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{102,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,3},{102,162}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,44},{102,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,173},{106,162}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,44},{106,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_pb_wn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,845},{112,164}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{112,164}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,845},{78,166}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,39},{78,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,173},{80,166}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,911},{84,154}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,53},{84,154}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,827},{80,156}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,51},{80,156}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,505},{78,162}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,45},{78,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,675},{78,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,44},{78,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,845},{82,162}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,43},{82,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,3},{82,162}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,43},{82,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,169},{82,162}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,42},{82,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,339},{84,162}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,42},{84,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,509},{84,162}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,42},{84,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,845},{84,162}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,42},{84,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,513},{84,164}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{84,164}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,853},{82,166}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,38},{82,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,853},{82,166}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{82,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,343},{80,166}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,3},{78,166}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,39},{78,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,845},{82,172}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,33},{82,172}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,181},{90,174}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,32},{90,174}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,3},{94,178}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{94,178}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,191},{106,178}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{106,178}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,373},{112,176}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{112,176}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,543},{126,172}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{126,172}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,705},{136,162}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{136,162}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,685},{156,150}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,62},{156,150}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,577},{182,138}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,74},{182,138}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{208,120}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{208,120}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,645},{206,98}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,111},{206,98}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,433},{208,90}}</string>
                <key>offset</key>
                <string>{-5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{208,90}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,219},{210,86}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,123},{210,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,433},{210,84}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,124},{210,84}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_sw_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{212,86}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{212,86}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,513},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,3},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,173},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,343},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,513},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,3},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,173},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,343},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,515},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,3},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,173},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,345},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,3},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,175},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,845},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_n_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,853},{80,166}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{80,166}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,835},{98,160}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{98,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,645},{98,158}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{98,158}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,483},{102,158}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{102,158}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,321},{102,158}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{102,158}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,215},{102,158}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,45},{102,158}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,683},{102,158}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{102,158}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,109},{102,160}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,44},{102,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,3},{102,160}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,44},{102,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,3},{102,160}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,44},{102,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,335},{104,160}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,44},{104,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,859},{106,160}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,44},{106,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,681},{104,160}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,44},{104,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,333},{98,160}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{98,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,497},{96,160}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{96,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,663},{96,160}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{96,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>xbz_yd_wn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,499},{98,160}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{98,160}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>babelTowerPlayer.png</string>
            <key>size</key>
            <string>{1736,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aebc8e4f4a1d57bf87c8c6a8c27554a:1/1$</string>
            <key>textureFileName</key>
            <string>babelTowerPlayer.png</string>
        </dict>
    </dict>
</plist>
