<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ttt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1024,1320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1320}}</string>
                <key>sourceSize</key>
                <string>{1024,1320}</string>
            </dict>
            <key>bg_ttt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,3},{640,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,102}}</string>
                <key>sourceSize</key>
                <string>{640,102}</string>
            </dict>
            <key>bg_ttt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,647},{523,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,183}}</string>
                <key>sourceSize</key>
                <string>{523,183}</string>
            </dict>
            <key>bg_ttt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1635},{328,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,109}}</string>
                <key>sourceSize</key>
                <string>{328,109}</string>
            </dict>
            <key>button_ttt_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1535},{94,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,105}}</string>
                <key>sourceSize</key>
                <string>{94,105}</string>
            </dict>
            <key>font_ttt_congratulations_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1631},{218,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,97}}</string>
                <key>sourceSize</key>
                <string>{218,97}</string>
            </dict>
            <key>font_ttt_dq_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1957},{246,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,66}}</string>
                <key>sourceSize</key>
                <string>{246,66}</string>
            </dict>
            <key>font_ttt_dq_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1093},{284,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,66}}</string>
                <key>sourceSize</key>
                <string>{284,66}</string>
            </dict>
            <key>font_ttt_fail_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1535},{178,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,90}}</string>
                <key>sourceSize</key>
                <string>{178,90}</string>
            </dict>
            <key>font_ttt_fail_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1865},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>font_ttt_tm_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,851},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>font_ttt_tm_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,563},{284,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,66}}</string>
                <key>sourceSize</key>
                <string>{284,66}</string>
            </dict>
            <key>frame_ttt_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,559},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>frame_ttt_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,545},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>frame_ttt_bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,589},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>frame_ttt_boxbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1732},{112,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,14}}</string>
                <key>sourceSize</key>
                <string>{112,14}</string>
            </dict>
            <key>frame_ttt_branch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,3},{556,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,17}}</string>
                <key>sourceSize</key>
                <string>{556,17}</string>
            </dict>
            <key>frame_ttt_branch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,3},{538,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,74}}</string>
                <key>sourceSize</key>
                <string>{538,74}</string>
            </dict>
            <key>frame_ttt_branch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1327},{267,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,626}}</string>
                <key>sourceSize</key>
                <string>{267,626}</string>
            </dict>
            <key>frame_ttt_branch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1763},{282,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,456}}</string>
                <key>sourceSize</key>
                <string>{282,456}</string>
            </dict>
            <key>frame_ttt_branch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1327},{272,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,300}}</string>
                <key>sourceSize</key>
                <string>{272,300}</string>
            </dict>
            <key>frame_ttt_branch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1327},{227,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,304}}</string>
                <key>sourceSize</key>
                <string>{227,304}</string>
            </dict>
            <key>frame_ttt_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1865},{148,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,138}}</string>
                <key>sourceSize</key>
                <string>{148,138}</string>
            </dict>
            <key>frame_ttt_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1419},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>frame_ttt_buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1327},{310,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,432}}</string>
                <key>sourceSize</key>
                <string>{310,432}</string>
            </dict>
            <key>frame_ttt_buffcell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,559},{500,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,62}}</string>
                <key>sourceSize</key>
                <string>{500,62}</string>
            </dict>
            <key>frame_ttt_buffcell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,589},{500,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,62}}</string>
                <key>sourceSize</key>
                <string>{500,62}</string>
            </dict>
            <key>frame_ttt_buffcell_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,589},{500,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,62}}</string>
                <key>sourceSize</key>
                <string>{500,62}</string>
            </dict>
            <key>frame_ttt_buffcell_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,589},{500,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,62}}</string>
                <key>sourceSize</key>
                <string>{500,62}</string>
            </dict>
            <key>frame_ttt_bufficon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1535},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>frame_ttt_bufficon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1353},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>frame_ttt_bufficon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1353},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{36,42}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>frame_ttt_buffimg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1163},{202,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,252}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>frame_ttt_buffimg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1609},{202,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,252}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>frame_ttt_buffimg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1748},{202,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,252}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>frame_ttt_buffimg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1748},{202,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,252}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>frame_ttt_buffnum_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1902},{85,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>frame_ttt_buffnum_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1957},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>frame_ttt_buffnum_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1644},{85,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>frame_ttt_buffnum_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1971},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>frame_ttt_buffnum_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1163},{81,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,67}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>frame_ttt_fail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,3},{582,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,132}}</string>
                <key>sourceSize</key>
                <string>{582,132}</string>
            </dict>
            <key>frame_ttt_fail_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,589},{552,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,32}}</string>
                <key>sourceSize</key>
                <string>{552,32}</string>
            </dict>
            <key>frame_ttt_failbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1285},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>frame_ttt_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1750},{40,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,9}}</string>
                <key>sourceSize</key>
                <string>{40,9}</string>
            </dict>
            <key>frame_ttt_win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,3},{582,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,149}}</string>
                <key>sourceSize</key>
                <string>{582,149}</string>
            </dict>
            <key>frame_ttt_win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,3},{552,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,64}}</string>
                <key>sourceSize</key>
                <string>{552,64}</string>
            </dict>
            <key>frame_ttt_winbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1285},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>icon_Summit_rewardBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1262},{87,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{87,77}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_ttt_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1163},{95,79}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{95,79}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_ttt_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1713},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_ttt_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1821},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{85,77}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_ttt_rewardBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1174},{181,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,107}}</string>
                <key>sourceSize</key>
                <string>{181,107}</string>
            </dict>
            <key>icon_ttt_secretBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1717},{116,124}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{116,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_ttt_secretLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1845},{106,108}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>img_ttt_loucengd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1419},{158,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,112}}</string>
                <key>sourceSize</key>
                <string>{158,112}</string>
            </dict>
            <key>img_ttt_yezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,1821},{82,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,34}}</string>
                <key>sourceSize</key>
                <string>{82,34}</string>
            </dict>
            <key>img_ttt_yezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2004},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>babelTowerUI.png</string>
            <key>size</key>
            <string>{1598,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4262120eb7621eb42788e5c0453c032:1/1$</string>
            <key>textureFileName</key>
            <string>babelTowerUI.png</string>
        </dict>
    </dict>
</plist>
