<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_battlefield_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,809},{85,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,111}</string>
            </dict>
            <key>bg_battlefield_pyramid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,385},{181,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,216}}</string>
                <key>sourceSize</key>
                <string>{181,216}</string>
            </dict>
            <key>bg_battlefield_pyramid_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,416},{181,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,220}}</string>
                <key>sourceSize</key>
                <string>{181,220}</string>
            </dict>
            <key>bg_battlefield_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,842},{85,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,111}</string>
            </dict>
            <key>btn_battlefield_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,809},{29,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>btn_battlefield_pop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,748},{29,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>frame_Conquestwar_exploit_base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,620},{174,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,126}}</string>
                <key>sourceSize</key>
                <string>{174,126}</string>
            </dict>
            <key>frame_Conquestwar_exploit_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,469},{174,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,139}}</string>
                <key>sourceSize</key>
                <string>{174,139}</string>
            </dict>
            <key>frame_Conquestwar_exploit_enmy_.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,86},{259,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,79}}</string>
                <key>sourceSize</key>
                <string>{259,79}</string>
            </dict>
            <key>frame_Conquestwar_exploit_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,169},{240,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,57}}</string>
                <key>sourceSize</key>
                <string>{240,57}</string>
            </dict>
            <key>frame_Conquestwar_exploit_us.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,3},{259,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,79}}</string>
                <key>sourceSize</key>
                <string>{259,79}</string>
            </dict>
            <key>frame_Conquestwar_stage_reward_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,261},{151,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,225}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>frame_Conquestwar_stage_reward_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,230},{151,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,225}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>frame_battlefield_HP_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,570},{211,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,23}}</string>
                <key>sourceSize</key>
                <string>{211,23}</string>
            </dict>
            <key>frame_battlefield_HP_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,597},{204,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,44}}</string>
                <key>sourceSize</key>
                <string>{204,44}</string>
            </dict>
            <key>frame_battlefield_base_grey_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,132},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>frame_battlefield_base_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{367,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,109}}</string>
                <key>sourceSize</key>
                <string>{367,109}</string>
            </dict>
            <key>frame_battlefield_cloth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,291},{158,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,72}}</string>
                <key>sourceSize</key>
                <string>{158,72}</string>
            </dict>
            <key>frame_battlefield_flag_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,666},{47,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,105}}</string>
                <key>sourceSize</key>
                <string>{47,105}</string>
            </dict>
            <key>frame_battlefield_flag_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,752},{47,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,105}}</string>
                <key>sourceSize</key>
                <string>{47,105}</string>
            </dict>
            <key>frame_battlefield_line_blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,645},{180,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,17}}</string>
                <key>sourceSize</key>
                <string>{180,17}</string>
            </dict>
            <key>frame_battlefield_line_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,601},{178,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,15}}</string>
                <key>sourceSize</key>
                <string>{178,15}</string>
            </dict>
            <key>frame_battlefield_line_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,192},{180,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,17}}</string>
                <key>sourceSize</key>
                <string>{180,17}</string>
            </dict>
            <key>frame_battlefield_round_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,942},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>frame_battlefield_season_base_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,116},{38,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{38,12}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>frame_battlefield_season_lace_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,116},{324,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,38}}</string>
                <key>sourceSize</key>
                <string>{324,38}</string>
            </dict>
            <key>icon__battlefield_word_VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,750},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>icon_battle_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,169},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>icon_battle_jian_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,285},{5,45}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{5,45}}</string>
                <key>sourceSize</key>
                <string>{13,59}</string>
            </dict>
            <key>icon_battle_jian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,230},{11,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{11,51}}</string>
                <key>sourceSize</key>
                <string>{13,59}</string>
            </dict>
            <key>icon_battle_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,809},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>icon_battle_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,879},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>icon_battle_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,601},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>icon_battle_top_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,376},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>icon_battle_top_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,752},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>icon_battlefield_blessing.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,714},{76,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,864},{74,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>icon_battlefield_medical.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,802},{72,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,413},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>icon_battlefield_playoff_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,752},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>icon_battlefield_playoff_cuprum.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,647},{146,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,101}}</string>
                <key>sourceSize</key>
                <string>{146,101}</string>
            </dict>
            <key>icon_battlefield_playoff_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,858},{137,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,118}}</string>
                <key>sourceSize</key>
                <string>{137,118}</string>
            </dict>
            <key>icon_battlefield_playoff_win_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,717},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>icon_battlefield_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,341},{58,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{58,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_battlefield_pyamid_en_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,631},{113,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,31}}</string>
                <key>sourceSize</key>
                <string>{113,31}</string>
            </dict>
            <key>icon_battlefield_pyamid_en_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,858},{138,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,44}}</string>
                <key>sourceSize</key>
                <string>{138,44}</string>
            </dict>
            <key>icon_battlefield_pyamid_lab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,563},{147,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,41}}</string>
                <key>sourceSize</key>
                <string>{147,41}</string>
            </dict>
            <key>icon_battlefield_pyamid_lab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,403},{156,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>icon_battlefield_pyramid_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,794},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_pyramid_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,957},{80,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{80,56}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_relic.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,666},{82,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{82,66}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,942},{74,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{74,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_battlefield_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,957},{56,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>icon_battlefield_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,924},{88,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{88,62}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_supplyPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,803},{78,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{78,72}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,205},{70,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{70,82}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_transmit.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,878},{76,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{76,64}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,261},{58,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{58,76}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_battlefield_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,645},{45,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>icon_battlefield_word_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,197},{290,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,60}}</string>
                <key>sourceSize</key>
                <string>{290,60}</string>
            </dict>
            <key>icon_battlefield_word_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,158},{323,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,35}}</string>
                <key>sourceSize</key>
                <string>{323,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battlefieldUI.png</string>
            <key>size</key>
            <string>{636,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77a31af964de862d428cc422ee3138af:1/1$</string>
            <key>textureFileName</key>
            <string>battlefieldUI.png</string>
        </dict>
    </dict>
</plist>
