<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_weekly_card_amber.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,719},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_festival.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,719},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_grain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,480},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_lumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,480},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_newbie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,241},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_newbie_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,241},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_signet.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,241},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_supremacy.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_train.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bgWeekly.png</string>
            <key>size</key>
            <string>{1870,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5213e3a8cb36c639d85591768f5dce2:1/1$</string>
            <key>textureFileName</key>
            <string>bgWeekly.png</string>
        </dict>
    </dict>
</plist>
