<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_ghyytx1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,485},{135,103}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,221},{129,123}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,221},{111,135}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,758},{93,135}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,347},{117,135}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,221},{133,119}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{133,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,347},{135,99}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{135,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,485},{135,105}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,374},{123,125}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{123,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,343},{105,135}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{105,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,335},{89,135}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,896},{111,133}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{111,133}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,254},{127,117}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,591},{135,97}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_ghyytx2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{35,25}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,773},{53,43}}</string>
                <key>offset</key>
                <string>{-16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,100},{59,71}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,603},{57,89}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,89}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{71,95}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,832},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,645},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,606},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,852},{93,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,852},{91,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,858},{89,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,902},{89,91}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,162},{87,89}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{87,89}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>dh_ghyytx3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,956},{40,88}}</string>
                <key>offset</key>
                <string>{0,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,336},{40,88}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,809},{40,132}}</string>
                <key>offset</key>
                <string>{0,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,291},{40,132}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{40,160}}</string>
                <key>offset</key>
                <string>{0,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,262},{40,160}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,441},{40,212}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,209},{40,212}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,188},{40,250}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,167},{40,250}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,356},{40,288}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{40,288}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,25},{40,328}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{40,328}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,391},{40,364}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{40,364}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,406}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{40,406}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{40,402}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{40,402}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{40,398}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{40,398}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,403},{40,390}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{40,390}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{40,386}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{40,386}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>dh_ghyytx4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,706},{64,54}}</string>
                <key>offset</key>
                <string>{66,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,16},{64,54}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,578},{120,70}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,411},{164,70}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,148},{210,70}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,75},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,75},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,188},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,148},{214,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,574},{180,68}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,481},{122,70}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,473},{116,70}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_ghyytx5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,799},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,706},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,704},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,696},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,691},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,701},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,871},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,878},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,743},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,750},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,647},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,603},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,500},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,593},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>dh_ghyytx6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,25},{160,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{160,145}}</string>
                <key>sourceSize</key>
                <string>{162,147}</string>
            </dict>
            <key>dh_ghyytx6_07_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,819},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>frame_ghyy_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,902},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>frame_ghyy_iconbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,391},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>frame_ghyy_iconbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,208},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>frame_ghyy_iconbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,25},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>frame_ghyy_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{360,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,20}}</string>
                <key>sourceSize</key>
                <string>{360,20}</string>
            </dict>
            <key>frame_ghyy_numbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,829},{118,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,26}}</string>
                <key>sourceSize</key>
                <string>{118,26}</string>
            </dict>
            <key>frame_ghyy_numbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,796},{192,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,40}}</string>
                <key>sourceSize</key>
                <string>{192,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonfireDinner.png</string>
            <key>size</key>
            <string>{1024,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a6631357430f7df74017e1f640690c:1/1$</string>
            <key>textureFileName</key>
            <string>bonfireDinner.png</string>
        </dict>
    </dict>
</plist>
