<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_gdezy_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,846},{255,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,78}}</string>
                <key>sourceSize</key>
                <string>{255,78}</string>
            </dict>
            <key>frame_gdezy_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1244},{357,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,65}}</string>
                <key>sourceSize</key>
                <string>{357,65}</string>
            </dict>
            <key>frame_gdezy_qjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,530},{404,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,226}}</string>
                <key>sourceSize</key>
                <string>{406,226}</string>
            </dict>
            <key>frame_kzkl_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,589},{387,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,89}}</string>
                <key>sourceSize</key>
                <string>{387,89}</string>
            </dict>
            <key>frame_kzkl_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,771},{349,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,71}}</string>
                <key>sourceSize</key>
                <string>{349,71}</string>
            </dict>
            <key>frame_pop_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,530},{710,353}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{710,353}}</string>
                <key>sourceSize</key>
                <string>{718,387}</string>
            </dict>
            <key>frame_zy_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{625,523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,523}}</string>
                <key>sourceSize</key>
                <string>{625,523}</string>
            </dict>
            <key>frame_zyjq_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,682},{352,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,85}}</string>
                <key>sourceSize</key>
                <string>{352,85}</string>
            </dict>
            <key>frame_zyjq_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1214},{435,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,88}}</string>
                <key>sourceSize</key>
                <string>{435,88}</string>
            </dict>
            <key>frame_zyjq_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,3},{582,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,330}}</string>
                <key>sourceSize</key>
                <string>{582,330}</string>
            </dict>
            <key>frame_zykl_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,938},{618,272}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{618,272}}</string>
                <key>sourceSize</key>
                <string>{618,326}</string>
            </dict>
            <key>icon_zykl_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,530},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubbleReward.png</string>
            <key>size</key>
            <string>{981,1312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6a2b2d5bcde32787d548777a45f729:1/1$</string>
            <key>textureFileName</key>
            <string>bubbleReward.png</string>
        </dict>
    </dict>
</plist>
