<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,547},{86,79}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{86,79}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,547},{84,73}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{84,73}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,115},{66,81}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{66,81}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,545},{68,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{68,83}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,471},{72,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{72,83}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,223},{84,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,547},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,119},{88,75}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,75}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,517},{90,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_buff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,419},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_buff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,439},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_buff_8137.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{122,132}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_buff_8202.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{122,132}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_build_pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,211},{82,104}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{82,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_build_pet_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,319},{82,88}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{82,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_build_ruins.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,471},{70,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{70,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_conquestwar_buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,3},{130,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{130,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_conquestwar_buff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,411},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{92,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_conquestwar_buff_03_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,439},{98,102}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{98,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_conquestwar_buff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,393},{124,126}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{124,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_conquestwar_buff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{132,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_conquestwar_buff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,261},{128,118}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{128,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_epic_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,547},{98,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{98,92}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_epic_buff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,133},{132,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{132,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_epic_buff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,3},{132,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_epic_buff_245.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,135},{132,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_epic_buff_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,265},{132,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{132,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_kingdomLv_buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,439},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,439},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,409},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,363},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,523},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,331},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,331},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,331},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,223},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,223},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,223},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,115},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,115},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_kingdomLv_buff_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,115},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_ruinbuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,251},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_ruinbuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,211},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_ruinbuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,3},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_ruinbuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,3},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_ruinbuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_ruinbuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,3},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_ruinbuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,523},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_ruinbuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,139},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_shine_buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,517},{76,96}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{76,96}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_shine_buff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,311},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_shine_buff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,547},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{88,92}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_shine_buff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,323},{108,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{108,82}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_shine_buff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,119},{120,88}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{120,88}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buffUI.png</string>
            <key>size</key>
            <string>{997,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31fb5c37ae7ef7cc0c8ce63d807f9045:1/1$</string>
            <key>textureFileName</key>
            <string>buffUI.png</string>
        </dict>
    </dict>
</plist>
