<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_zyzl01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,760},{148,27}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{148,27}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,737},{170,29}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{170,29}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,737},{172,29}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{172,29}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,737},{172,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{172,29}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,737},{172,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{172,29}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,737},{172,29}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{172,29}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,531},{172,29}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{172,29}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,564},{172,27}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{172,27}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,595},{170,25}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{170,25}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,667},{170,27}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{170,27}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,698},{166,27}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{166,27}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,624},{162,27}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{162,27}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,729},{148,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{148,27}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,974},{148,27}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{148,27}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,993},{26,46}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,43},{26,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,655},{44,70}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{44,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,883},{60,82}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{60,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,617},{78,86}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,791},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,791},{86,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,693},{82,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,531},{70,82}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{70,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,789},{54,74}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,993},{26,20}}</string>
                <key>offset</key>
                <string>{23,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,7},{26,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,789},{71,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{71,32}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,911},{95,32}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{95,32}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,883},{97,32}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{97,32}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,655},{97,34}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{97,34}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,667},{97,36}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{97,36}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,861},{97,38}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{97,38}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,909},{97,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{97,38}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,867},{97,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{97,38}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,867},{97,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{97,40}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,823},{97,40}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{97,40}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,779},{97,40}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{97,40}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,919},{97,40}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{97,40}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,963},{97,38}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{97,38}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_XL_zyzl03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,951},{95,38}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{95,38}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>dh_Tex_yxlqjj_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,793},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>dh_Tex_zyzl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,667},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>dh_Tex_zyzl_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,913},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>font_zyrl_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,531},{364,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,52}}</string>
                <key>sourceSize</key>
                <string>{364,52}</string>
            </dict>
            <key>font_zyrl_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,587},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>frame_zyrl_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{612,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,524}}</string>
                <key>sourceSize</key>
                <string>{612,524}</string>
            </dict>
            <key>frame_zyrl_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,587},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>frame_zyrl_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,707},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>frame_zyrl_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,703},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>frame_zyrl_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,947},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>frame_zyrl_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,947},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CalendarView.png</string>
            <key>size</key>
            <string>{627,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ae2b722b0b131c2b185978256b602e1:1/1$</string>
            <key>textureFileName</key>
            <string>CalendarView.png</string>
        </dict>
    </dict>
</plist>
