<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7261.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1918},{122,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{122,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>7262.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1916},{122,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{122,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_xgxb_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_xgxb_bj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>dh_xiaguxb2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1787},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,768},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,768},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,207},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,3},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,564},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1787},{198,186}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{198,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,3},{196,172}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{196,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,411},{186,142}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{186,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,972},{136,122}}</string>
                <key>offset</key>
                <string>{-32,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{136,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1095},{120,94}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{120,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,972},{142,144}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{142,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,564},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xiaguxb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1908},{125,121}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1787},{125,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{125,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1787},{123,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1787},{117,135}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1787},{119,135}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{119,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1787},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,956},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,827},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,688},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,549},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,972},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1787},{125,127}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1910},{125,111}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,111}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1916},{125,107}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>dh_xiaguxb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1914},{125,109}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,109}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>framer_xgxb_k_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{557,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,201}}</string>
                <key>sourceSize</key>
                <string>{557,201}</string>
            </dict>
            <key>framer_xgxb_q_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,203},{145,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,160}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
            <key>icon_canyon_advanced.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,367},{34,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{34,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_canyon_ordinary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,367},{36,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_xgxb_fdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,411},{134,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,181}}</string>
                <key>sourceSize</key>
                <string>{134,181}</string>
            </dict>
            <key>icon_xgxb_wh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1219},{54,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canyonTreasure.png</string>
            <key>size</key>
            <string>{1240,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9625f4ecb12367d4f915e170b3475441:1/1$</string>
            <key>textureFileName</key>
            <string>canyonTreasure.png</string>
        </dict>
    </dict>
</plist>
