<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_zjrw_zs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,945}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,945}}</string>
                <key>sourceSize</key>
                <string>{640,945}</string>
            </dict>
            <key>dh_Tex_zjrw_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,647},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dh_Tex_zjrw_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,647},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,799},{366,34}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{366,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,443},{376,34}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,8},{376,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,761},{410,34}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{410,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,723},{434,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{434,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,799},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,761},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,723},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,685},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,685},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,647},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>dh_XL_Tex_zjrw01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,3},{436,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{436,34}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapterTaskUI.png</string>
            <key>size</key>
            <string>{989,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56807f174599ffdd2522aafe93b5f538:1/1$</string>
            <key>textureFileName</key>
            <string>chapterTaskUI.png</string>
        </dict>
    </dict>
</plist>
