<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_arab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,3},{486,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,261}}</string>
                <key>sourceSize</key>
                <string>{486,261}</string>
            </dict>
            <key>chapter_arab_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,457},{397,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,315}}</string>
                <key>sourceSize</key>
                <string>{397,315}</string>
            </dict>
            <key>chapter_arab_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1030},{363,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,264}}</string>
                <key>sourceSize</key>
                <string>{363,264}</string>
            </dict>
            <key>chapter_arab_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1030},{364,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,264}}</string>
                <key>sourceSize</key>
                <string>{364,264}</string>
            </dict>
            <key>chapter_arab_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1141},{366,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,261}}</string>
                <key>sourceSize</key>
                <string>{366,261}</string>
            </dict>
            <key>chapter_arab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1106},{416,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,354}}</string>
                <key>sourceSize</key>
                <string>{416,354}</string>
            </dict>
            <key>chapter_arab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1146},{376,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,260}}</string>
                <key>sourceSize</key>
                <string>{376,260}</string>
            </dict>
            <key>chapter_arab_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,776},{385,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,250}}</string>
                <key>sourceSize</key>
                <string>{385,250}</string>
            </dict>
            <key>chapter_arab_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,530},{518,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,257}}</string>
                <key>sourceSize</key>
                <string>{518,257}</string>
            </dict>
            <key>chapter_arab_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,493},{465,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,250}}</string>
                <key>sourceSize</key>
                <string>{465,250}</string>
            </dict>
            <key>chapter_arab_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,3},{462,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,252}}</string>
                <key>sourceSize</key>
                <string>{462,252}</string>
            </dict>
            <key>chapter_arab_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,3},{523,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,249}}</string>
                <key>sourceSize</key>
                <string>{523,249}</string>
            </dict>
            <key>chapter_arab_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,3},{428,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,261}}</string>
                <key>sourceSize</key>
                <string>{428,261}</string>
            </dict>
            <key>chapter_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{501,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,197}}</string>
                <key>sourceSize</key>
                <string>{501,197}</string>
            </dict>
            <key>chapter_en_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,493},{479,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,197}}</string>
                <key>sourceSize</key>
                <string>{479,197}</string>
            </dict>
            <key>chapter_en_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,3},{439,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,188}}</string>
                <key>sourceSize</key>
                <string>{439,188}</string>
            </dict>
            <key>chapter_en_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,962},{449,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,202}}</string>
                <key>sourceSize</key>
                <string>{449,202}</string>
            </dict>
            <key>chapter_en_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{570,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,186}}</string>
                <key>sourceSize</key>
                <string>{570,186}</string>
            </dict>
            <key>chapter_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,577},{565,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,184}}</string>
                <key>sourceSize</key>
                <string>{565,184}</string>
            </dict>
            <key>chapter_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,3},{556,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,197}}</string>
                <key>sourceSize</key>
                <string>{556,197}</string>
            </dict>
            <key>chapter_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,563},{539,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,196}}</string>
                <key>sourceSize</key>
                <string>{539,196}</string>
            </dict>
            <key>chapter_en_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,577},{560,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,197}}</string>
                <key>sourceSize</key>
                <string>{560,197}</string>
            </dict>
            <key>chapter_en_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,469},{445,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,196}}</string>
                <key>sourceSize</key>
                <string>{445,196}</string>
            </dict>
            <key>chapter_en_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,962},{457,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,185}}</string>
                <key>sourceSize</key>
                <string>{457,185}</string>
            </dict>
            <key>chapter_en_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,976},{468,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,185}}</string>
                <key>sourceSize</key>
                <string>{468,185}</string>
            </dict>
            <key>chapter_en_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,268},{420,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,185}}</string>
                <key>sourceSize</key>
                <string>{420,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapterTaskUITitle.png</string>
            <key>size</key>
            <string>{2009,1525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ed475c84258e537acdeb97dc9dc600:1/1$</string>
            <key>textureFileName</key>
            <string>chapterTaskUITitle.png</string>
        </dict>
    </dict>
</plist>
