<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xjrw_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1809},{240,235}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1557},{234,235}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,884},{216,235}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1329},{224,235}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1329},{230,235}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1332},{234,235}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1568},{238,235}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1570},{240,235}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1809},{244,235}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1570},{244,235}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1807},{242,235}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1802},{236,235}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1332},{232,235}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1795},{236,235}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_add_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1563},{240,235}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,235}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,666},{232,187}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{232,187}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,673},{222,207}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{222,207}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,882},{220,215}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{220,215}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,884},{222,217}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{222,217}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1068},{222,219}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{222,219}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1104},{226,221}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{226,221}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1104},{230,221}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{230,221}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1105},{230,223}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{230,223}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1309},{232,223}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{232,223}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1086},{232,219}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{232,219}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,873},{230,209}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{230,209}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,673},{230,207}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{230,207}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,857},{228,207}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{228,207}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,673},{232,205}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{232,205}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjrw_alpha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,668},{232,201}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{232,201}}</string>
                <key>sourceSize</key>
                <string>{254,235}</string>
            </dict>
            <key>dh_xjxb_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,537},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,537},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,537},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,532},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,530},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,530},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,401},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,401},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,401},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,396},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,394},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,394},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,265},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,265},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_add_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,265},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>dh_xjxb_alpha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,263},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,265},{196,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,134},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,134},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,134},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,134},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,132},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,132},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,3},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,3},{198,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,125}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,3},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{198,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,125}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,3},{192,125}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,125}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>dh_xjxb_alpha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,3},{196,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chargeTroopEffect.png</string>
            <key>size</key>
            <string>{1219,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08d73f440e05bfc94c9370b3cea1be4:1/1$</string>
            <key>textureFileName</key>
            <string>chargeTroopEffect.png</string>
        </dict>
    </dict>
</plist>
