<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,839},{86,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,747},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,293},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,731},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,925},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,747},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,655},{88,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,927},{88,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,837},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,747},{88,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,479},{90,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,849},{88,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,669},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,577},{88,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,387},{84,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{84,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,941},{88,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{88,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,657},{88,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,479},{90,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,909},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,479},{84,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{84,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,553},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,193},{92,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{92,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,645},{88,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{88,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,387},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,925},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,295},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,367},{88,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,569},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,567},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,761},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,461},{88,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,819},{82,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,295},{86,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,593},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,495},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,397},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,197},{90,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,197},{78,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,3},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,95},{88,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,195},{82,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,393},{92,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,691},{94,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,101},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,101},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,199},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,887},{88,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,789},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_face_hero_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,3},{92,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,297},{92,88}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,839},{86,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_img_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,3},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_koh_sticker.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,289},{74,92}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_lord_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,101},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_punky_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,95},{72,90}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_red_white_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,199},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_icon_white_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>emoj_seal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,657},{88,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoj_seal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,839},{88,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoj_seal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,567},{88,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoj_seal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,297},{96,92}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoj_seal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,3},{98,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoj_seal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,489},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{88,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoj_seal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,101},{92,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoj_seal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,387},{88,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{88,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_face.png</string>
            <key>size</key>
            <string>{560,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:521a78bb20482d5a9f1a942483826707:1/1$</string>
            <key>textureFileName</key>
            <string>chat_face.png</string>
        </dict>
    </dict>
</plist>
