<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_jnh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1037},{320,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,784}}</string>
                <key>sourceSize</key>
                <string>{320,784}</string>
            </dict>
            <key>bg_jnh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1825},{320,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,184}}</string>
                <key>sourceSize</key>
                <string>{320,184}</string>
            </dict>
            <key>bg_jnh_clown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1030}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1030}}</string>
                <key>sourceSize</key>
                <string>{640,1030}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1935},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1843},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1751},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1946},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1854},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1762},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1670},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1859},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1740},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1621},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1551},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1432},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1313},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1221},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,776},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,657},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1895},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1758},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1621},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1484},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1614},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1482},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1477},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1340},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1203},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1084},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1066},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,929},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,947},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1345},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1842},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_XL_hjjm02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1705},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dh_Tex_cjjm_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1345},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>frame_jnh_curtain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1185},{236,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,156}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>frame_jnh_curtain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,297},{76,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,628}}</string>
                <key>sourceSize</key>
                <string>{76,628}</string>
            </dict>
            <key>frame_jnh_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,947},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>frame_jnh_gift_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,290}}</string>
                <key>sourceSize</key>
                <string>{640,290}</string>
            </dict>
            <key>frame_jnh_gift_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,947},{239,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,234}}</string>
                <key>sourceSize</key>
                <string>{239,234}</string>
            </dict>
            <key>frame_jnh_gift_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,297},{356,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,106}}</string>
                <key>sourceSize</key>
                <string>{356,106}</string>
            </dict>
            <key>frame_jnh_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1313},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>frame_jnh_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,767},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>frame_jnh_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,657},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>frame_jnh_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>frame_jnh_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2013},{320,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,15}}</string>
                <key>sourceSize</key>
                <string>{320,15}</string>
            </dict>
            <key>frame_jnh_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1993},{320,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,40}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>frame_jnh_wheel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1037},{458,458}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{458,458}}</string>
                <key>sourceSize</key>
                <string>{464,466}</string>
            </dict>
            <key>frame_jnh_wheel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,297},{464,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,466}}</string>
                <key>sourceSize</key>
                <string>{464,466}</string>
            </dict>
            <key>frame_jnh_wheel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1705},{284,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,318}}</string>
                <key>sourceSize</key>
                <string>{284,318}</string>
            </dict>
            <key>frame_jnh_wheel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,767},{176,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,416}}</string>
                <key>sourceSize</key>
                <string>{176,416}</string>
            </dict>
            <key>frame_jnh_wheel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1499},{202,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,446}}</string>
                <key>sourceSize</key>
                <string>{202,446}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>circusBigRun.png</string>
            <key>size</key>
            <string>{1305,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413c65db7d5fc2757fbd2bddd037c9b5:1/1$</string>
            <key>textureFileName</key>
            <string>circusBigRun.png</string>
        </dict>
    </dict>
</plist>
