<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_kfjr_bjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,620}}</string>
                <key>sourceSize</key>
                <string>{640,620}</string>
            </dict>
            <key>bg_kfjr_bjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,627},{640,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,139}}</string>
                <key>sourceSize</key>
                <string>{640,139}</string>
            </dict>
            <key>bg_kfjr_bjt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,639}}</string>
                <key>sourceSize</key>
                <string>{640,639}</string>
            </dict>
            <key>bg_kfjr_bjt_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,563},{551,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{551,478}}</string>
                <key>sourceSize</key>
                <string>{551,480}</string>
            </dict>
            <key>bg_kfjr_bjt_rw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,770},{150,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,143}}</string>
                <key>sourceSize</key>
                <string>{150,143}</string>
            </dict>
            <key>bg_kfjr_bjtc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{640,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,556}}</string>
                <key>sourceSize</key>
                <string>{640,556}</string>
            </dict>
            <key>bg_kfjr_bjzs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,646},{151,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,336}}</string>
                <key>sourceSize</key>
                <string>{151,336}</string>
            </dict>
            <key>bg_kfjr_bjzs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,770},{159,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,165}}</string>
                <key>sourceSize</key>
                <string>{159,165}</string>
            </dict>
            <key>bg_kfjr_kfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,646},{406,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,357}}</string>
                <key>sourceSize</key>
                <string>{406,357}</string>
            </dict>
            <key>frame_kfjr_img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,665},{160,124}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{160,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>frame_kfjr_img_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,770},{158,118}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{158,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>frame_kfjr_img_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,770},{156,122}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{156,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>frame_kfjr_img_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,896},{138,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{138,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>frame_main_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,829},{165,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,118}}</string>
                <key>sourceSize</key>
                <string>{165,118}</string>
            </dict>
            <key>frame_slsdsr_xx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,3},{403,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,41}}</string>
                <key>sourceSize</key>
                <string>{403,41}</string>
            </dict>
            <key>frame_xljc_xxjt .png</key>
            <dict>
                <key>frame</key>
                <string>{{568,646},{61,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,87}}</string>
                <key>sourceSize</key>
                <string>{61,87}</string>
            </dict>
            <key>frame_ygg_tip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,917},{124,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,46}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>icon_small_8433.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,410},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>item_coffee_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,939},{132,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{132,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_coffee_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,563},{130,98}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{130,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_coffee_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,939},{128,102}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{128,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_coffee_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,896},{114,100}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{114,100}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CoffeeCraftsman.png</string>
            <key>size</key>
            <string>{1979,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4148ffa058b60792a3f3e91bcedf739d:1/1$</string>
            <key>textureFileName</key>
            <string>CoffeeCraftsman.png</string>
        </dict>
    </dict>
</plist>
