<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_wzsx_bzt_biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,490},{54,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,35}}</string>
                <key>sourceSize</key>
                <string>{54,35}</string>
            </dict>
            <key>bg_wzsx_bzt_lx.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,775},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>btn_wzsx_gx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,726},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>btn_wzsx_gx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,659},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>dh_wzsxjz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,298},{320,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,262}}</string>
                <key>sourceSize</key>
                <string>{320,262}</string>
            </dict>
            <key>dh_wzsxjz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,568}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>dh_wzsxl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,142},{143,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{143,114}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>dh_wzsxl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,422},{143,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,120}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>dh_wzsxl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,298},{143,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,120}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>dh_wzsxtb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,535},{72,120}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>frame_wzsx_biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{637,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,135}}</string>
                <key>sourceSize</key>
                <string>{637,135}</string>
            </dict>
            <key>frame_wzsx_biaotouhuanwen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,535},{188,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,29}}</string>
                <key>sourceSize</key>
                <string>{188,29}</string>
            </dict>
            <key>frame_wzsx_biaotouhuanwen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,298},{188,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,55}}</string>
                <key>sourceSize</key>
                <string>{188,55}</string>
            </dict>
            <key>frame_wzsx_fgtx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,220},{74,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,534}}</string>
                <key>sourceSize</key>
                <string>{74,534}</string>
            </dict>
            <key>frame_wzsx_fgtx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,142},{74,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,534}}</string>
                <key>sourceSize</key>
                <string>{74,534}</string>
            </dict>
            <key>frame_wzsx_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,575},{196,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,360}}</string>
                <key>sourceSize</key>
                <string>{196,360}</string>
            </dict>
            <key>frame_wzsx_open_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,564},{383,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,90}}</string>
                <key>sourceSize</key>
                <string>{383,90}</string>
            </dict>
            <key>frame_wzsx_open_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,658},{511,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,64}}</string>
                <key>sourceSize</key>
                <string>{511,64}</string>
            </dict>
            <key>frame_wzsx_open_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,726},{499,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,59}}</string>
                <key>sourceSize</key>
                <string>{499,59}</string>
            </dict>
            <key>icon_wzsx_gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,289},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_wzsx_lm.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,423},{130,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_wzsx_lmgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,546},{130,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>collectSalary.png</string>
            <key>size</key>
            <string>{1003,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b67636c1d1607c8a110e52b105bed33:1/1$</string>
            <key>textureFileName</key>
            <string>collectSalary.png</string>
        </dict>
    </dict>
</plist>
