<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_fb_hdyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,778},{233,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,233}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>bg_fb_ssqxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,240},{233,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,308}}</string>
                <key>sourceSize</key>
                <string>{233,308}</string>
            </dict>
            <key>bg_fb_xbbnr.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{360,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,548}}</string>
                <key>sourceSize</key>
                <string>{360,548}</string>
            </dict>
            <key>bg_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_sq_bbyr.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,555},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>bg_sq_gfzbhf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,3},{233,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,308}}</string>
                <key>sourceSize</key>
                <string>{233,308}</string>
            </dict>
            <key>bg_sq_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,464},{640,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,457}}</string>
                <key>sourceSize</key>
                <string>{640,457}</string>
            </dict>
            <key>bg_sq_wall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,3},{640,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,457}}</string>
                <key>sourceSize</key>
                <string>{640,457}</string>
            </dict>
            <key>bg_sq_wall_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,464},{640,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,95}}</string>
                <key>sourceSize</key>
                <string>{640,95}</string>
            </dict>
            <key>bg_sq_wjspjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,919},{360,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,180}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>frame_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1108},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>frame_hongdian_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1108},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>frame_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1143},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>frame_sq_download.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1015},{180,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>frame_sq_hdzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,477},{233,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,233}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>frame_sq_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,907},{189,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,212}}</string>
                <key>sourceSize</key>
                <string>{189,212}</string>
            </dict>
            <key>frame_sq_hotbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,714},{189,204}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{189,204}}</string>
                <key>sourceSize</key>
                <string>{189,212}</string>
            </dict>
            <key>frame_sq_ttbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1143},{600,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,49}}</string>
                <key>sourceSize</key>
                <string>{600,49}</string>
            </dict>
            <key>frame_sq_yaan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{360,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,53}}</string>
                <key>sourceSize</key>
                <string>{360,53}</string>
            </dict>
            <key>frame_sq_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1108},{27,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,393}}</string>
                <key>sourceSize</key>
                <string>{27,393}</string>
            </dict>
            <key>frame_tanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,477},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_fb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,514},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_fb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,464},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_ins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1139},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>icon_sq_Facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,477},{210,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,77}}</string>
                <key>sourceSize</key>
                <string>{210,77}</string>
            </dict>
            <key>icon_sq_Instageram.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,564},{210,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,77}}</string>
                <key>sourceSize</key>
                <string>{210,77}</string>
            </dict>
            <key>icon_sq_Twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1108},{210,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,77}}</string>
                <key>sourceSize</key>
                <string>{210,77}</string>
            </dict>
            <key>icon_sq_qwsq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1108},{265,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,77}}</string>
                <key>sourceSize</key>
                <string>{265,77}</string>
            </dict>
            <key>icon_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1139},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>communityCenterNew.png</string>
            <key>size</key>
            <string>{2015,1199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5df9e20090b6c8c440c3ee7ead881fd:1/1$</string>
            <key>textureFileName</key>
            <string>communityCenterNew.png</string>
        </dict>
    </dict>
</plist>
