<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_xwjj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{618,618}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{618,618}}</string>
                <key>sourceSize</key>
                <string>{622,622}</string>
            </dict>
            <key>frame_zwjj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,3},{236,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,270}}</string>
                <key>sourceSize</key>
                <string>{236,270}</string>
            </dict>
            <key>frame_zwjj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,625},{236,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,270}}</string>
                <key>sourceSize</key>
                <string>{236,270}</string>
            </dict>
            <key>frame_zwjj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,625},{236,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,270}}</string>
                <key>sourceSize</key>
                <string>{236,270}</string>
            </dict>
            <key>frame_zwjj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,625},{236,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,270}}</string>
                <key>sourceSize</key>
                <string>{236,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crazyShopping.png</string>
            <key>size</key>
            <string>{864,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fed8635f5ef8b09b2d3b87afc4a013d:1/1$</string>
            <key>textureFileName</key>
            <string>crazyShopping.png</string>
        </dict>
    </dict>
</plist>
