<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_znzhtx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1178}}</string>
                <key>sourceSize</key>
                <string>{640,1178}</string>
            </dict>
            <key>frame_znzhtx_foreground_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,647},{365,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,221}}</string>
                <key>sourceSize</key>
                <string>{365,221}</string>
            </dict>
            <key>frame_znzhtx_foreground_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,3},{237,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,215}}</string>
                <key>sourceSize</key>
                <string>{237,215}</string>
            </dict>
            <key>frame_znzhtx_foreground_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,641},{143,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,170}}</string>
                <key>sourceSize</key>
                <string>{143,170}</string>
            </dict>
            <key>frame_znzhtx_foreground_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,3},{640,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,196}}</string>
                <key>sourceSize</key>
                <string>{640,196}</string>
            </dict>
            <key>frame_znzhtx_foreground_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,788},{211,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,242}}</string>
                <key>sourceSize</key>
                <string>{211,242}</string>
            </dict>
            <key>frame_znzhtx_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,872},{100,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,118}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>frame_znzhtx_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,306},{640,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,81}}</string>
                <key>sourceSize</key>
                <string>{640,81}</string>
            </dict>
            <key>frame_znzhtx_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,391},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>frame_znzhtx_line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,203},{640,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,99}}</string>
                <key>sourceSize</key>
                <string>{640,99}</string>
            </dict>
            <key>frame_znzhtx_line_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,558},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>frame_znzhtx_line_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,475},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>frame_znzhtx_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,844},{86,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{86,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>frame_znzhtx_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,725},{416,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,115}}</string>
                <key>sourceSize</key>
                <string>{416,115}</string>
            </dict>
            <key>frame_znzhtx_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,641},{454,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,80}}</string>
                <key>sourceSize</key>
                <string>{454,80}</string>
            </dict>
            <key>frame_znzhtx_top_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,708},{219,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,71}}</string>
                <key>sourceSize</key>
                <string>{219,71}</string>
            </dict>
            <key>frame_znzhtx_top_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,872},{255,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,99}}</string>
                <key>sourceSize</key>
                <string>{255,99}</string>
            </dict>
            <key>frame_znzhtx_tray_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,783},{198,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,133}}</string>
                <key>sourceSize</key>
                <string>{198,133}</string>
            </dict>
            <key>frame_znzhtx_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{341,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,809}}</string>
                <key>sourceSize</key>
                <string>{341,809}</string>
            </dict>
            <key>frame_znzhtx_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,244},{209,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,460}}</string>
                <key>sourceSize</key>
                <string>{209,460}</string>
            </dict>
            <key>icon_znzhtx_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,844},{160,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crossDecryption.png</string>
            <key>size</key>
            <string>{2047,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9016d241c4e57f318f30a6c2066c66d:1/1$</string>
            <key>textureFileName</key>
            <string>crossDecryption.png</string>
        </dict>
    </dict>
</plist>
