<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font_ryyz_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,756},{597,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,232}}</string>
                <key>sourceSize</key>
                <string>{597,232}</string>
            </dict>
            <key>font_ryyz_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,647},{648,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,165}}</string>
                <key>sourceSize</key>
                <string>{648,165}</string>
            </dict>
            <key>framer_ryyz_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,664}}</string>
                <key>sourceSize</key>
                <string>{640,664}</string>
            </dict>
            <key>framer_ryyz_stb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,816},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>framer_ryyz_stb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,816},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>framer_ryyz_stb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,816},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>framer_ryyz_stb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,816},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>framer_ryyz_stdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,749}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,749}}</string>
                <key>sourceSize</key>
                <string>{640,749}</string>
            </dict>
            <key>icon_ryyz_gjbx_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,816},{91,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,104}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>icon_ryyz_gjbx_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,816},{91,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,96}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>icon_ryyz_ptbx_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,911},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>icon_ryyz_ptbx_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,924},{76,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DecryptionNew.png</string>
            <key>size</key>
            <string>{1314,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5764cc1f73377175f9178683138ffa6:1/1$</string>
            <key>textureFileName</key>
            <string>DecryptionNew.png</string>
        </dict>
    </dict>
</plist>
