<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_smjj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,3},{640,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,202}}</string>
                <key>sourceSize</key>
                <string>{640,202}</string>
            </dict>
            <key>bg_smjj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,209},{536,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,262}}</string>
                <key>sourceSize</key>
                <string>{536,262}</string>
            </dict>
            <key>bg_smjj_lv_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,475},{322,206}}</string>
                <key>offset</key>
                <string>{-34,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{322,206}}</string>
                <key>sourceSize</key>
                <string>{390,268}</string>
            </dict>
            <key>bg_smjj_lv_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,641},{314,208}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,51},{314,208}}</string>
                <key>sourceSize</key>
                <string>{390,268}</string>
            </dict>
            <key>bg_smjj_lv_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,809},{298,212}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,49},{298,212}}</string>
                <key>sourceSize</key>
                <string>{390,268}</string>
            </dict>
            <key>bg_smjj_lv_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,597},{318,256}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{318,256}}</string>
                <key>sourceSize</key>
                <string>{390,268}</string>
            </dict>
            <key>bg_smjj_lv_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,3},{380,266}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{380,266}}</string>
                <key>sourceSize</key>
                <string>{390,268}</string>
            </dict>
            <key>bg_smjj_shadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,273},{320,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,348}}</string>
                <key>sourceSize</key>
                <string>{320,348}</string>
            </dict>
            <key>btn_smjj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,799},{130,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,43}}</string>
                <key>sourceSize</key>
                <string>{130,43}</string>
            </dict>
            <key>dh_Tex_smjj_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,885},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>frame_growsuccess_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,641},{154,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,42}}</string>
                <key>sourceSize</key>
                <string>{154,42}</string>
            </dict>
            <key>frame_growsuccess_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,957},{132,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,37}}</string>
                <key>sourceSize</key>
                <string>{132,37}</string>
            </dict>
            <key>frame_growupfail_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,957},{179,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,40}}</string>
                <key>sourceSize</key>
                <string>{179,40}</string>
            </dict>
            <key>frame_growupfail_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,957},{169,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,31}}</string>
                <key>sourceSize</key>
                <string>{169,31}</string>
            </dict>
            <key>frame_smjj_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,273},{350,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,117}}</string>
                <key>sourceSize</key>
                <string>{350,117}</string>
            </dict>
            <key>frame_smjj_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,929},{526,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,24}}</string>
                <key>sourceSize</key>
                <string>{526,24}</string>
            </dict>
            <key>frame_smjj_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{560,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,474}}</string>
                <key>sourceSize</key>
                <string>{560,474}</string>
            </dict>
            <key>frame_smjj_bgpattern_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,481},{519,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,444}}</string>
                <key>sourceSize</key>
                <string>{519,444}</string>
            </dict>
            <key>frame_smjj_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,3},{634,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,56}}</string>
                <key>sourceSize</key>
                <string>{634,56}</string>
            </dict>
            <key>icon_desertDig_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,857},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_desertDig_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,801},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_desertDig_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,940},{80,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_desertDig_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,857},{76,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_desertDig_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,941},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>smjj_dachilun.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,481},{323,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{323,324}}</string>
                <key>sourceSize</key>
                <string>{325,324}</string>
            </dict>
            <key>smjj_xiaochilun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,857},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>smjj_xiaochilun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,209},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>smjj_xiaochilun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,950},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>smjj_zhongchilun.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,809},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desertExcavate.png</string>
            <key>size</key>
            <string>{1654,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b377f7d4b3ad5e461ba81eb648de705a:1/1$</string>
            <key>textureFileName</key>
            <string>desertExcavate.png</string>
        </dict>
    </dict>
</plist>
