<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_qckq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,74}}</string>
                <key>sourceSize</key>
                <string>{640,74}</string>
            </dict>
            <key>bg_qckq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,3},{320,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,345}}</string>
                <key>sourceSize</key>
                <string>{320,345}</string>
            </dict>
            <key>frame_qckq_candle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,888},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>frame_qckq_candle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,888},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>frame_qckq_candle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,888},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,53}}</string>
                <key>sourceSize</key>
                <string>{37,53}</string>
            </dict>
            <key>frame_qckq_cloth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,352},{311,312}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,312}}</string>
                <key>sourceSize</key>
                <string>{313,312}</string>
            </dict>
            <key>frame_qckq_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,667},{294,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,264}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>frame_qckq_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,667},{87,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,246}}</string>
                <key>sourceSize</key>
                <string>{87,246}</string>
            </dict>
            <key>frame_qckq_platform_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,546},{154,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,7}}</string>
                <key>sourceSize</key>
                <string>{154,7}</string>
            </dict>
            <key>frame_qckq_platform_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,935},{245,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,29}}</string>
                <key>sourceSize</key>
                <string>{245,29}</string>
            </dict>
            <key>frame_qckq_platform_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,3},{269,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,30}}</string>
                <key>sourceSize</key>
                <string>{269,30}</string>
            </dict>
            <key>frame_qckq_platform_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,3},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>frame_qckq_platform_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,276},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>frame_qckq_platform_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>frame_qckq_platform_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,935},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>frame_qckq_platform_line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,935},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>frame_qckq_prize_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,546},{162,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,141}}</string>
                <key>sourceSize</key>
                <string>{162,141}</string>
            </dict>
            <key>frame_qckq_prize_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,712},{172,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,137}}</string>
                <key>sourceSize</key>
                <string>{172,137}</string>
            </dict>
            <key>frame_qckq_prize_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,352},{190,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,152}}</string>
                <key>sourceSize</key>
                <string>{190,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>devoutEntreat.png</string>
            <key>size</key>
            <string>{552,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cfbe673c45c2dc949b26c414c2b985b:1/1$</string>
            <key>textureFileName</key>
            <string>devoutEntreat.png</string>
        </dict>
    </dict>
</plist>
