<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tjbx_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_tjbx_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_tjbx_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,853}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,853}}</string>
                <key>sourceSize</key>
                <string>{640,853}</string>
            </dict>
            <key>frame_tjbx_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1143},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>frame_tjbx_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1530},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>frame_tjlb_hqdj_kuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1143},{619,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,258}}</string>
                <key>sourceSize</key>
                <string>{619,258}</string>
            </dict>
            <key>frame_tjlx_gmjm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,563},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>frame_tjlx_hqdj_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{599,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,289}}</string>
                <key>sourceSize</key>
                <string>{599,289}</string>
            </dict>
            <key>frame_tjlx_jlyl_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,296},{600,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,321},{600,494}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>frame_tjlx_kuang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,900},{596,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,324}}</string>
                <key>sourceSize</key>
                <string>{596,324}</string>
            </dict>
            <key>frame_tjlx_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1143},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>icon_tjbx_bx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1228},{314,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,298}}</string>
                <key>sourceSize</key>
                <string>{314,298}</string>
            </dict>
            <key>icon_tjbx_bx03.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1766},{267,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,300}}</string>
                <key>sourceSize</key>
                <string>{267,300}</string>
            </dict>
            <key>icon_tjbx_bx04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1816},{223,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,234}}</string>
                <key>sourceSize</key>
                <string>{223,234}</string>
            </dict>
            <key>icon_tjbx_bx05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1611},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,34}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>icon_tjbx_bx06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1955},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>icon_tjbx_silver_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1611},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,27}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>icon_tjlb_bx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1228},{340,379}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{340,379}}</string>
                <key>sourceSize</key>
                <string>{424,433}</string>
            </dict>
            <key>icon_tjlb_bx03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1611},{267,340}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{267,340}}</string>
                <key>sourceSize</key>
                <string>{351,360}</string>
            </dict>
            <key>icon_tjlx_bx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,296},{31,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_tjlx_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1816},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>icon_tjlx_jlyl_ayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,1228},{208,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,41}}</string>
                <key>sourceSize</key>
                <string>{208,41}</string>
            </dict>
            <key>icon_tjlx_jlyl_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,296},{263,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,30}}</string>
                <key>sourceSize</key>
                <string>{263,30}</string>
            </dict>
            <key>line_tjbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2037},{574,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,1}}</string>
                <key>sourceSize</key>
                <string>{574,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dropBox.png</string>
            <key>size</key>
            <string>{1893,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47941ab28d0da2db3b75b5e646d1a202:1/1$</string>
            <key>textureFileName</key>
            <string>dropBox.png</string>
        </dict>
    </dict>
</plist>
