<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_white1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1143},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_white_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1143},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>frame_hymz_bj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>frame_hymz_hszz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{288,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,286}}</string>
                <key>sourceSize</key>
                <string>{288,286}</string>
            </dict>
            <key>frame_jxlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1311},{98,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>frame_xingyun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1352},{66,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{66,61}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
            <key>frame_xingyun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1282},{66,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{66,61}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
            <key>frame_xingyun_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1311},{86,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,81}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>earthTreasureUI.png</string>
            <key>size</key>
            <string>{646,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0075588208401add1140a151b889722a:1/1$</string>
            <key>textureFileName</key>
            <string>earthTreasureUI.png</string>
        </dict>
    </dict>
</plist>
