<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hdzsj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,930}}</string>
                <key>sourceSize</key>
                <string>{640,930}</string>
            </dict>
            <key>bg_hdzsj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,474},{466,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,602}}</string>
                <key>sourceSize</key>
                <string>{466,602}</string>
            </dict>
            <key>bg_hdzsj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{640,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,654}}</string>
                <key>sourceSize</key>
                <string>{640,654}</string>
            </dict>
            <key>bg_hdzsj_phbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>bg_hdzsj_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1117},{538,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,250}}</string>
                <key>sourceSize</key>
                <string>{538,250}</string>
            </dict>
            <key>bg_yqlwy_xydl.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{704,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,469}}</string>
                <key>sourceSize</key>
                <string>{704,469}</string>
            </dict>
            <key>bg_zsjdh_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1079},{640,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,351}}</string>
                <key>sourceSize</key>
                <string>{640,351}</string>
            </dict>
            <key>dh_zsjdh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1722},{246,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_zsjdh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1793},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{90,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_zsjdh_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1955},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_bx_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1660},{96,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>frame_hdzsj_cailiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1955},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>frame_hdzsj_chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>frame_hdzsj_jfbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1928},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>frame_hdzsj_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1357},{112,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,177}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>frame_zsjdh_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,474},{640,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,226}}</string>
                <key>sourceSize</key>
                <string>{640,228}</string>
            </dict>
            <key>frame_zsjdh_jd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1864},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>frame_zsjdh_jd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1722},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>icon_box_jx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1955},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_phb_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1658},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>icon_phb_xj.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1079},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>icon_zsjdh_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1848},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{82,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zsjdh_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1928},{102,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{102,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zsjdh_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1537},{120,110}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{120,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zsjdh_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1117},{114,120}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{114,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zsjdh_box4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1660},{110,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{110,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zsjdh_box5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1658},{128,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zsjdh_global_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1793},{116,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zsjdh_global_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1240},{114,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{114,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zsjdh_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1759},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{82,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eidTycoon.png</string>
            <key>size</key>
            <string>{1368,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d97d11cfdba811c0daf3620bb67d673:1/1$</string>
            <key>textureFileName</key>
            <string>eidTycoon.png</string>
        </dict>
    </dict>
</plist>
