<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2_gwdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_gwdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>btn_gwdzz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1850},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_gwdzz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1850},{59,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>btn_gwdzz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1798},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>btn_gwdzz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1740},{120,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,129}}</string>
                <key>sourceSize</key>
                <string>{120,129}</string>
            </dict>
            <key>btn_gwdzz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1740},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>btn_gwdzz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1798},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>frame_gwdzz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1798},{167,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,57}}</string>
                <key>sourceSize</key>
                <string>{167,57}</string>
            </dict>
            <key>frame_gwdzz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,647},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>frame_gwdzz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,226},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>frame_gwdzz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1740},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>frame_gwdzz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1787},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>frame_gwdzz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,226},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>frame_gwdzz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1873},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>frame_gwdzz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,647},{612,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,78}}</string>
                <key>sourceSize</key>
                <string>{612,78}</string>
            </dict>
            <key>frame_gwdzz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{219,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,37}}</string>
                <key>sourceSize</key>
                <string>{219,37}</string>
            </dict>
            <key>frame_gwdzz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,293},{140,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,10}}</string>
                <key>sourceSize</key>
                <string>{140,10}</string>
            </dict>
            <key>frame_gwdzz_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,647},{560,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,68}}</string>
                <key>sourceSize</key>
                <string>{560,68}</string>
            </dict>
            <key>frame_gwdzz_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,647},{560,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,68}}</string>
                <key>sourceSize</key>
                <string>{560,68}</string>
            </dict>
            <key>gwdzz_anbs_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,647},{399,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,458}}</string>
                <key>sourceSize</key>
                <string>{399,458}</string>
            </dict>
            <key>gwdzz_b_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1050},{366,426}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{366,426}}</string>
                <key>sourceSize</key>
                <string>{368,426}</string>
            </dict>
            <key>gwdzz_bhnt_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1420},{374,400}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{374,400}}</string>
                <key>sourceSize</key>
                <string>{374,404}</string>
            </dict>
            <key>gwdzz_bjlsk_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1263},{473,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,326}}</string>
                <key>sourceSize</key>
                <string>{473,326}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eliminateGame.png</string>
            <key>size</key>
            <string>{1433,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e41d7f0aea13d2e81bcfe51a3f29e5b2:1/1$</string>
            <key>textureFileName</key>
            <string>eliminateGame.png</string>
        </dict>
    </dict>
</plist>
