<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xiaoxiaoleblue1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,319},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xiaoxiaoleblue1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,380},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,793},{41,43}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{41,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,782},{53,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{53,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,670},{57,55}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{57,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,567},{61,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,613},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{53,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,443},{57,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{57,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,548},{61,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{61,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,729},{57,49}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaoleblue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,806},{47,51}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,256},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,907},{39,39}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{39,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,889},{49,49}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,680},{57,51}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{57,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,567},{59,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{59,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,504},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{59,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,380},{37,55}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{37,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,439},{37,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolegreen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,907},{39,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{39,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dh_xiaoxiaolepurple1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,195},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,887},{48,48}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,735},{54,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,699},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{58,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,494},{48,50}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,141},{34,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{34,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,91},{36,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{36,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,3},{6,8}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,43},{6,8}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolepurple_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,13},{4,4}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{4,4}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_xiaoxiaolered1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,132},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xiaoxiaolered1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_xiaoxiaolered_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,840},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{44,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,837},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{50,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,857},{50,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{50,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,680},{56,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{56,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,626},{60,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{60,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,585},{62,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,622},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,641},{58,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{58,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaolered_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,888},{48,48}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,91},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,3},{84,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,840},{37,39}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{37,39}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,791},{45,51}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{45,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,734},{55,55}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,502},{61,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{61,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,443},{67,55}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,460},{67,55}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,755},{47,57}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{47,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,840},{41,43}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{41,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dh_xiaoxiaoleyellow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,3},{13,9}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,6},{13,9}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eliminateGame_effect2.png</string>
            <key>size</key>
            <string>{253,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19a3e763ff1ffe5a1b675f6764613730:1/1$</string>
            <key>textureFileName</key>
            <string>eliminateGame_effect2.png</string>
        </dict>
    </dict>
</plist>
