<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_activity_9001197.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,315},{630,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,300}}</string>
                <key>sourceSize</key>
                <string>{630,300}</string>
            </dict>
            <key>btn_wjtz_fengyeanniu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1709},{218,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,68}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>btn_wjtz_fengyeanniu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1709},{218,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,68}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1923},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1923},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1927},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1927},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1927},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1927},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1927},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1927},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1927},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1391},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1347},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1303},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1827},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1773},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1407},{120,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1531},{118,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1912},{116,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1912},{114,48}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1912},{116,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1933},{120,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1895},{120,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1881},{120,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1719},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_XL_wjtzjf02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1636},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dh_Tex_wjsljf_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,105},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{58,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_Tex_wjsljf_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1853},{68,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dh_Tex_wjtzjf_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1131},{272,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,397}}</string>
                <key>sourceSize</key>
                <string>{272,397}</string>
            </dict>
            <key>dh_Tex_wjtzjf_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1165},{290,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,50}}</string>
                <key>sourceSize</key>
                <string>{290,50}</string>
            </dict>
            <key>dh_Tex_wjtzjf_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1709},{189,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,214}}</string>
                <key>sourceSize</key>
                <string>{193,216}</string>
            </dict>
            <key>dh_xuejianzhu1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1579},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1853},{108,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{108,66}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,3},{98,62}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{98,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1492},{140,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,94}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1709},{140,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,94}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1690},{140,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1931},{140,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,94}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1485},{136,90}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{136,90}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1435},{140,90}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1159},{140,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{140,88}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1673},{140,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{140,86}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1015},{140,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{140,88}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1681},{140,90}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1459},{140,90}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1690},{140,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>dh_xuejianzhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1563},{122,74}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{122,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1641},{120,74}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{120,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1485},{122,74}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{122,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1407},{122,74}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{122,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1407},{122,74}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{122,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1817},{124,74}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{124,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1903},{124,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{124,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1825},{126,74}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{126,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1603},{126,74}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{126,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1834},{126,74}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{126,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1001},{126,74}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{126,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>dh_xuejianzhu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1903},{124,74}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{124,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>frame_wjsl_slogan_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,720},{596,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,81}}</string>
                <key>sourceSize</key>
                <string>{596,81}</string>
            </dict>
            <key>frame_wjsl_slogan_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,619},{628,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,97}}</string>
                <key>sourceSize</key>
                <string>{628,97}</string>
            </dict>
            <key>frame_wjsl_slogan_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,167},{582,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,61}}</string>
                <key>sourceSize</key>
                <string>{582,61}</string>
            </dict>
            <key>frame_wjtz_anniuzhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,805},{206,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,61}}</string>
                <key>sourceSize</key>
                <string>{206,61}</string>
            </dict>
            <key>frame_wjtz_beijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,179},{640,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,132}}</string>
                <key>sourceSize</key>
                <string>{640,132}</string>
            </dict>
            <key>frame_wjtz_beijing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{320,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,601}}</string>
                <key>sourceSize</key>
                <string>{320,601}</string>
            </dict>
            <key>frame_wjtz_beijing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,941},{537,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,220}}</string>
                <key>sourceSize</key>
                <string>{537,220}</string>
            </dict>
            <key>frame_wjtz_beijing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1449},{418,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,256}}</string>
                <key>sourceSize</key>
                <string>{418,256}</string>
            </dict>
            <key>frame_wjtz_beijingxiaoguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,608},{320,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,507}}</string>
                <key>sourceSize</key>
                <string>{320,507}</string>
            </dict>
            <key>frame_wjtz_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,172}}</string>
                <key>sourceSize</key>
                <string>{640,172}</string>
            </dict>
            <key>frame_wjtz_kuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1165},{280,469}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{280,469}}</string>
                <key>sourceSize</key>
                <string>{284,469}</string>
            </dict>
            <key>frame_wjtz_zhuangshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,805},{564,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,132}}</string>
                <key>sourceSize</key>
                <string>{564,132}</string>
            </dict>
            <key>frame_wjtz_zhuangshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1673},{129,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,73}}</string>
                <key>sourceSize</key>
                <string>{129,73}</string>
            </dict>
            <key>frame_wjtz_zhuangshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,753},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>icon_wjtz_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,751},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>icon_wjtz_shouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,720},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>position_snowmountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1449},{42,39}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,39}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endlessTrials.png</string>
            <key>size</key>
            <string>{1038,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a886f9470d5c62433442eb84bfd32a:1/1$</string>
            <key>textureFileName</key>
            <string>endlessTrials.png</string>
        </dict>
    </dict>
</plist>
