<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_zgbz01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,806},{288,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{288,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,994},{288,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{288,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,770},{288,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{288,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,703},{288,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{288,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,418},{288,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{288,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,677},{288,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{288,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,703},{288,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{288,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,703},{288,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{288,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,342},{288,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{288,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1049},{286,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{286,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,956},{286,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{286,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,863},{286,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{286,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1063},{288,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{288,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,772},{288,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{288,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,597},{308,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{308,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,331},{308,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{308,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,505},{306,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,418},{306,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,945},{306,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,592},{306,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{306,82}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,771},{306,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{306,82}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1032},{306,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{306,82}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,858},{306,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,771},{306,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,765},{306,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,765},{306,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,684},{306,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{306,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_zgbz02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,342},{308,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{308,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_zgbz_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,592},{285,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,170}}</string>
                <key>sourceSize</key>
                <string>{285,170}</string>
            </dict>
            <key>dh_Tex_zgbz_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{314,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{314,90}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_Tex_zgbz_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1003},{33,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,273}}</string>
                <key>sourceSize</key>
                <string>{33,273}</string>
            </dict>
            <key>farme_wjbz_zsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,429},{165,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,244}}</string>
                <key>sourceSize</key>
                <string>{165,244}</string>
            </dict>
            <key>frame_dbqb_iconbg_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,2},{337,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,473}}</string>
                <key>sourceSize</key>
                <string>{337,473}</string>
            </dict>
            <key>frame_wjbz_and.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,806},{206,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,42}}</string>
                <key>sourceSize</key>
                <string>{206,42}</string>
            </dict>
            <key>frame_wjbz_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{531,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,356}}</string>
                <key>sourceSize</key>
                <string>{531,356}</string>
            </dict>
            <key>frame_wjbz_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1063},{72,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>frame_wjbz_zs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,331},{64,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,105}}</string>
                <key>sourceSize</key>
                <string>{64,105}</string>
            </dict>
            <key>frame_wjbz_zzzs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,361},{20,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,52}}</string>
                <key>sourceSize</key>
                <string>{20,52}</string>
            </dict>
            <key>frame_wjbz_zzzs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{276,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,22}}</string>
                <key>sourceSize</key>
                <string>{276,22}</string>
            </dict>
            <key>frame_wjbz_zzzs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{9,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,299}}</string>
                <key>sourceSize</key>
                <string>{9,299}</string>
            </dict>
            <key>frame_wjbz_zzzs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1097},{56,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,115}}</string>
                <key>sourceSize</key>
                <string>{56,115}</string>
            </dict>
            <key>frame_zgbz_and.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{330,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,36}}</string>
                <key>sourceSize</key>
                <string>{330,36}</string>
            </dict>
            <key>frame_zgbz_dx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,612},{200,88}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{200,88}}</string>
                <key>sourceSize</key>
                <string>{204,92}</string>
            </dict>
            <key>frame_zgbz_dxzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,429},{180,164}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,164}}</string>
                <key>sourceSize</key>
                <string>{184,164}</string>
            </dict>
            <key>frame_zgbz_kk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,372}}</string>
                <key>sourceSize</key>
                <string>{582,372}</string>
            </dict>
            <key>frame_zgbz_kk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,633},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>frame_zgbz_tszs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{610,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,343}}</string>
                <key>sourceSize</key>
                <string>{610,343}</string>
            </dict>
            <key>icon_building_wjbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,709},{110,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_main_build_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,342},{32,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{32,38}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_wjbz_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,772},{268,228}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{268,228}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>icon_wjbz_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,361},{386,228}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,122},{386,228}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>icon_wjbz_bz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,377},{392,322}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,72},{392,322}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>icon_wjbz_bz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,2},{430,326}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{430,326}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>icon_wjbz_ljt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,633},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endlessTreasureUI.png</string>
            <key>size</key>
            <string>{2041,1155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b96a606126b3d54b31e17cfbca6a8389:1/1$</string>
            <key>textureFileName</key>
            <string>endlessTreasureUI.png</string>
        </dict>
    </dict>
</plist>
