<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_sszz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{537,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,351}}</string>
                <key>sourceSize</key>
                <string>{537,351}</string>
            </dict>
            <key>frame_sszz_flaglock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,445},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>frame_sszz_kuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{176,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,351}}</string>
                <key>sourceSize</key>
                <string>{176,351}</string>
            </dict>
            <key>frame_sszz_namebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>frame_sszz_nameimg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,460},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>frame_sszz_nameimg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,486},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>frame_sszz_nameimg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,445},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>frame_sszz_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,486},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>frame_sszz_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,484},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>frame_sszz_starbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,415},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>frame_sszz_starbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,441},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>frame_sszz_starbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,441},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>frame_sszz_starblack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,460},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>frame_sszz_starblack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,460},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>frame_sszz_tower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,356},{56,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{56,90}</string>
            </dict>
            <key>frame_sszz_tower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,423},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>frame_sszz_towerlock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,441},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>frame_sszz_towerlock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,441},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>icon_epic_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,356},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{86,88}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_epic_trap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{114,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{114,78}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_lzjn_hqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,356},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>icon_lzjn_lqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,356},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>icon_lzjn_lqz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,356},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>epicBattle.png</string>
            <key>size</key>
            <string>{720,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:153e7a214d34edb0aaeaff3ad75d652c:1/1$</string>
            <key>textureFileName</key>
            <string>epicBattle.png</string>
        </dict>
    </dict>
</plist>
