<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_sszz_yhdbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1803},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1801},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1801},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1801},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1799},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1604},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1602},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1602},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1602},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1405},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1403},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1403},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1403},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1206},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1204},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1204},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1204},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1007},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1005},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1005},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1005},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,808},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,806},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,806},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,806},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhdbx_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,642},{163,168}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{163,168}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,642},{161,166}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{161,166}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,642},{161,166}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{161,166}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{161,166}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{161,166}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,478},{161,166}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{161,166}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,640},{161,168}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{161,168}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,478},{161,166}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{161,166}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,478},{161,166}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{161,166}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,642},{161,164}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{161,164}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,478},{159,164}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{159,164}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,474},{159,162}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{159,162}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,316},{159,160}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{159,160}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,314},{157,160}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{157,160}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,314},{157,158}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{157,158}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,158},{155,156}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{155,156}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,156},{155,156}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{155,156}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,156},{155,156}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{155,156}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{153,156}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{153,156}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{153,156}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{153,156}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,156}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{151,156}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{151,158}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{151,158}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{151,158}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{151,158}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{151,158}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{151,158}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,156},{153,158}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{153,158}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{153,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{153,158}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,158},{155,158}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{155,158}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{155,160}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{155,160}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{159,162}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{159,162}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,316},{159,162}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{159,162}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
            <key>dh_sszz_yhxbx_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,316},{159,164}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{159,164}}</string>
                <key>sourceSize</key>
                <string>{201,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>epicWarEffectBox.png</string>
            <key>size</key>
            <string>{1021,2001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a91bcb515807bec0368c376296a25af8:1/1$</string>
            <key>textureFileName</key>
            <string>epicWarEffectBox.png</string>
        </dict>
    </dict>
</plist>
