<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_bingqipu15_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1723},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1640},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1357},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1074},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,656},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1357},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1074},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1357},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1074},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1757},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1757},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1757},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1757},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1757},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingqipu15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1736},{280,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,80}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>frame_box_spectrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,720},{216,210}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{216,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>frame_bqp_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,607},{640,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,366}}</string>
                <key>sourceSize</key>
                <string>{640,366}</string>
            </dict>
            <key>frame_bqp_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{440,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,440}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>frame_bqp_bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1630},{154,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>frame_bqp_bar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1652},{132,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,16}}</string>
                <key>sourceSize</key>
                <string>{154,16}</string>
            </dict>
            <key>frame_bqp_bar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1074},{286,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,32}}</string>
                <key>sourceSize</key>
                <string>{286,32}</string>
            </dict>
            <key>frame_bqp_bar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1074},{280,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{280,26}}</string>
                <key>sourceSize</key>
                <string>{286,32}</string>
            </dict>
            <key>frame_bqp_barbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{602,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,602}}</string>
                <key>sourceSize</key>
                <string>{602,602}</string>
            </dict>
            <key>frame_bqp_barbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1115},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>frame_bqp_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1053},{628,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,680}}</string>
                <key>sourceSize</key>
                <string>{628,680}</string>
            </dict>
            <key>frame_bqp_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,1048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,1048}}</string>
                <key>sourceSize</key>
                <string>{638,1048}</string>
            </dict>
            <key>frame_bqp_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1736},{300,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,512}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>frame_bqp_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,445},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>frame_bqp_cell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,445},{182,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,272}}</string>
                <key>sourceSize</key>
                <string>{182,272}</string>
            </dict>
            <key>frame_bqp_cell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1115},{534,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,106}}</string>
                <key>sourceSize</key>
                <string>{534,106}</string>
            </dict>
            <key>frame_bqp_cell_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1115},{534,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,106}}</string>
                <key>sourceSize</key>
                <string>{534,106}</string>
            </dict>
            <key>frame_bqp_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,976},{630,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,136}}</string>
                <key>sourceSize</key>
                <string>{630,136}</string>
            </dict>
            <key>frame_bqp_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,445},{34,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,178}}</string>
                <key>sourceSize</key>
                <string>{34,178}</string>
            </dict>
            <key>frame_bqp_decorate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1490},{36,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,122}}</string>
                <key>sourceSize</key>
                <string>{36,122}</string>
            </dict>
            <key>frame_bqp_decorate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1363},{73,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,124}}</string>
                <key>sourceSize</key>
                <string>{73,124}</string>
            </dict>
            <key>frame_bqp_decorate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,445},{626,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,62}}</string>
                <key>sourceSize</key>
                <string>{626,62}</string>
            </dict>
            <key>frame_bqp_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,445},{140,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,10}}</string>
                <key>sourceSize</key>
                <string>{140,10}</string>
            </dict>
            <key>frame_bqp_shading_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1710},{372,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,44}}</string>
                <key>sourceSize</key>
                <string>{372,44}</string>
            </dict>
            <key>frame_bqp_shading_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1723},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>frame_bqp_shading_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1630},{349,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,77}}</string>
                <key>sourceSize</key>
                <string>{349,77}</string>
            </dict>
            <key>frame_dailyBox_spectrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1888},{118,116}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_spectrum_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1723},{132,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{132,162}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
            <key>icon_spectrum_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1787},{132,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{132,162}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
            <key>icon_spectrum_helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1787},{132,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{132,162}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
            <key>icon_spectrum_pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1652},{132,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{132,162}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
            <key>icon_spectrum_shoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,939},{132,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{132,162}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
            <key>icon_spectrum_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,939},{132,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{132,162}}</string>
                <key>sourceSize</key>
                <string>{146,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipActivity.png</string>
            <key>size</key>
            <string>{1690,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5471939438e1a39b5e8e19513645b90:1/1$</string>
            <key>textureFileName</key>
            <string>equipActivity.png</string>
        </dict>
    </dict>
</plist>
