<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_equip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,3},{638,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,195}}</string>
                <key>sourceSize</key>
                <string>{638,195}</string>
            </dict>
            <key>bg_equip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,992},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>bg_zb_beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,647},{320,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,280}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>bg_zb_dzqingjingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,971},{640,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,182}}</string>
                <key>sourceSize</key>
                <string>{640,182}</string>
            </dict>
            <key>bg_zb_qhqingjingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,3},{640,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,182}}</string>
                <key>sourceSize</key>
                <string>{640,182}</string>
            </dict>
            <key>bg_zb_xlqingjingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,3},{640,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,182}}</string>
                <key>sourceSize</key>
                <string>{640,182}</string>
            </dict>
            <key>bg_zb_zbqingjingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,224}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>bg_zqlz_qjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{506,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,140}}</string>
                <key>sourceSize</key>
                <string>{506,140}</string>
            </dict>
            <key>bg_zqlz_qjt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,3},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>btn_xlzb_xltl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,339},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>btn_zdsxxltx_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,683},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>btn_zdsxxltx_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,1092},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>btn_zdsxxltx_xg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,1045},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>dh_Tex_zbxl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,647},{341,233}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,233}}</string>
                <key>sourceSize</key>
                <string>{341,241}</string>
            </dict>
            <key>dh_Tex_zbxl_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,992},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>font_slim_sessesful_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,134},{201,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,32}}</string>
                <key>sourceSize</key>
                <string>{201,32}</string>
            </dict>
            <key>font_slim_sessesful_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,712},{215,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,28}}</string>
                <key>sourceSize</key>
                <string>{215,28}</string>
            </dict>
            <key>frame_czdz_gjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,375},{261,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,245}}</string>
                <key>sourceSize</key>
                <string>{261,245}</string>
            </dict>
            <key>frame_equip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,712},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>frame_equip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,645},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>frame_equip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,458},{171,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,44}}</string>
                <key>sourceSize</key>
                <string>{171,44}</string>
            </dict>
            <key>frame_equip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,947},{208,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,218}}</string>
                <key>sourceSize</key>
                <string>{208,218}</string>
            </dict>
            <key>frame_equip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,933},{225,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,226}}</string>
                <key>sourceSize</key>
                <string>{225,226}</string>
            </dict>
            <key>frame_equip_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,549},{130,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,127}}</string>
                <key>sourceSize</key>
                <string>{130,127}</string>
            </dict>
            <key>frame_equip_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,175},{196,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,250}}</string>
                <key>sourceSize</key>
                <string>{196,250}</string>
            </dict>
            <key>frame_equip_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,767},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>frame_equip_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,3},{104,106}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>frame_equip_10_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,219},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>frame_equip_14_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,3},{640,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,58}}</string>
                <key>sourceSize</key>
                <string>{640,58}</string>
            </dict>
            <key>frame_equip_15_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,3},{640,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,57}}</string>
                <key>sourceSize</key>
                <string>{640,57}</string>
            </dict>
            <key>frame_equip_16_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,3},{640,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,102}}</string>
                <key>sourceSize</key>
                <string>{640,102}</string>
            </dict>
            <key>frame_equip_17_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,3},{640,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,49}}</string>
                <key>sourceSize</key>
                <string>{640,49}</string>
            </dict>
            <key>frame_equip_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,113},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>frame_equip_25_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,3},{640,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,43}}</string>
                <key>sourceSize</key>
                <string>{640,43}</string>
            </dict>
            <key>frame_equip_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,971},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>frame_equip_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,3},{262,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{262,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>frame_equip_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,316},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>frame_equip_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,269},{245,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,195}}</string>
                <key>sourceSize</key>
                <string>{245,195}</string>
            </dict>
            <key>frame_equip_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,1120},{237,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,30}}</string>
                <key>sourceSize</key>
                <string>{237,30}</string>
            </dict>
            <key>frame_equip_lace_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,647},{57,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,307}}</string>
                <key>sourceSize</key>
                <string>{57,307}</string>
            </dict>
            <key>frame_spxt_xsqg.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,647},{238,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,306}}</string>
                <key>sourceSize</key>
                <string>{238,306}</string>
            </dict>
            <key>frame_xilian_zhidin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,3},{34,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,127}}</string>
                <key>sourceSize</key>
                <string>{34,127}</string>
            </dict>
            <key>frame_zbxltsyh_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1133},{316,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,25}}</string>
                <key>sourceSize</key>
                <string>{316,25}</string>
            </dict>
            <key>frame_zbxltsyh_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,647},{316,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,26}}</string>
                <key>sourceSize</key>
                <string>{316,26}</string>
            </dict>
            <key>frame_zdsxxltx_k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1045},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>frame_zdsxxltx_tc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,975},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>frame_zdsxxltx_xzk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1096},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>frame_zjcltc_tb_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,440},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>icon_equip_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1120},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>icon_equip_arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1096},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>icon_equip_baptize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,3},{168,252}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{168,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>icon_equip_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,730},{81,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{81,81}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>icon_equip_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,929},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>icon_equip_forge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,468},{240,240}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{240,240}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>icon_equip_forge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,683},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_equip_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,992},{100,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,135}}</string>
                <key>sourceSize</key>
                <string>{100,135}</string>
            </dict>
            <key>icon_equip_intensify.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,924},{192,190}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,41},{192,190}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>icon_equip_materialtype_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,999},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_equip_materialtype_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,953},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_equip_materialtype_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,907},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_equip_materialtype_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,861},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_equip_materialtype_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,815},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_equip_materialtype_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1045},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_equip_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,647},{294,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,296}}</string>
                <key>sourceSize</key>
                <string>{294,296}</string>
            </dict>
            <key>icon_equip_storagebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,851},{80,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_xltx4_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,971},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>icon_xltx_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1096},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{21,22}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipUI.png</string>
            <key>size</key>
            <string>{2001,1161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f92beeea055acb6e1a9e9ecee8bde2:1/1$</string>
            <key>textureFileName</key>
            <string>equipUI.png</string>
        </dict>
    </dict>
</plist>
