<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_flower_black_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,835},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bg_flower_black_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,742},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_xianhua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,185},{197,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,36}}</string>
                <key>sourceSize</key>
                <string>{197,36}</string>
            </dict>
            <key>frame_flowerFight_anthemy_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{214,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,53}}</string>
                <key>sourceSize</key>
                <string>{214,53}</string>
            </dict>
            <key>frame_flowerFight_anthemy_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1958},{68,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,127}}</string>
                <key>sourceSize</key>
                <string>{68,127}</string>
            </dict>
            <key>frame_flowerFight_anthemy_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1379},{212,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,71}}</string>
                <key>sourceSize</key>
                <string>{212,71}</string>
            </dict>
            <key>frame_flowerFight_anthemy_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,385},{74,155}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,155}}</string>
                <key>sourceSize</key>
                <string>{74,157}</string>
            </dict>
            <key>frame_flowerFight_anthemy_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,928},{599,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,100}}</string>
                <key>sourceSize</key>
                <string>{599,100}</string>
            </dict>
            <key>frame_flowerFight_base_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>frame_flowerFight_base_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{258,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{258,120}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>frame_flowerFight_blossom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{89,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,68}}</string>
                <key>sourceSize</key>
                <string>{89,68}</string>
            </dict>
            <key>frame_flowerFight_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{269,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,150}}</string>
                <key>sourceSize</key>
                <string>{269,150}</string>
            </dict>
            <key>frame_flowerFight_bud.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1645},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>frame_flowerFight_flowerpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1688},{94,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,63}}</string>
                <key>sourceSize</key>
                <string>{94,63}</string>
            </dict>
            <key>frame_flowerFight_flowerpot_main_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{239,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,166}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>frame_flowerFight_flowerpot_main_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1803},{78,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,134}}</string>
                <key>sourceSize</key>
                <string>{78,134}</string>
            </dict>
            <key>frame_flowerFight_flowerpot_main_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{238,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,165}}</string>
                <key>sourceSize</key>
                <string>{238,165}</string>
            </dict>
            <key>frame_flowerFight_flowerpot_main_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1627},{70,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,165}}</string>
                <key>sourceSize</key>
                <string>{70,165}</string>
            </dict>
            <key>frame_flowerFight_posy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{164,100}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{164,100}}</string>
                <key>sourceSize</key>
                <string>{168,104}</string>
            </dict>
            <key>frame_flowerFight_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{269,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,150}}</string>
                <key>sourceSize</key>
                <string>{269,150}</string>
            </dict>
            <key>frame_xh_cirrus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1453},{34,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,189}}</string>
                <key>sourceSize</key>
                <string>{34,189}</string>
            </dict>
            <key>frame_xh_cirrus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1453},{191,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,27}}</string>
                <key>sourceSize</key>
                <string>{191,27}</string>
            </dict>
            <key>frame_xh_cirrus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,155},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>frame_xh_cirrus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1483},{189,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,34}}</string>
                <key>sourceSize</key>
                <string>{189,34}</string>
            </dict>
            <key>frame_xh_cirrus_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1323},{19,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,50}}</string>
                <key>sourceSize</key>
                <string>{19,50}</string>
            </dict>
            <key>frame_xh_cirrus_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1908},{47,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,134}}</string>
                <key>sourceSize</key>
                <string>{47,134}</string>
            </dict>
            <key>frame_xh_cirrus_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1754},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>frame_xh_flower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1803},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>frame_xh_flower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,543},{196,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,86}}</string>
                <key>sourceSize</key>
                <string>{196,86}</string>
            </dict>
            <key>frame_xh_flower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1530},{155,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,112}}</string>
                <key>sourceSize</key>
                <string>{155,112}</string>
            </dict>
            <key>frame_xh_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{310,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,5}}</string>
                <key>sourceSize</key>
                <string>{310,5}</string>
            </dict>
            <key>frame_xh_rankbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,94}}</string>
                <key>sourceSize</key>
                <string>{310,94}</string>
            </dict>
            <key>frame_xh_rankbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,50}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>frame_xh_recordbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1875},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>frame_xh_recordbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1885},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>frame_xh_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{310,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,45}}</string>
                <key>sourceSize</key>
                <string>{310,45}</string>
            </dict>
            <key>frame_xianhua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{369,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,36}}</string>
                <key>sourceSize</key>
                <string>{369,36}</string>
            </dict>
            <key>frame_xrsd_zjxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{165,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,254}}</string>
                <key>sourceSize</key>
                <string>{165,254}</string>
            </dict>
            <key>frame_xrsd_zsfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{51,175}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,175}}</string>
                <key>sourceSize</key>
                <string>{53,199}</string>
            </dict>
            <key>frame_xrsddh_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1766},{145,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,139}}</string>
                <key>sourceSize</key>
                <string>{145,139}</string>
            </dict>
            <key>icon_xhxt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1717},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>progressbar_flowerFight_base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{218,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{220,108}</string>
            </dict>
            <key>progressbar_flowerFight_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1212},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>progressbar_flowerFight_green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,374},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>progressbar_flowerFight_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1940},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventFlower.png</string>
            <key>size</key>
            <string>{353,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aa39d7b3d3a51580cf8cf8579bf10e0:1/1$</string>
            <key>textureFileName</key>
            <string>eventFlower.png</string>
        </dict>
    </dict>
</plist>
