<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_zyxlcb01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,859},{104,108}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{104,108}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>dh_Tex_zyxlcb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,898},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>dh_Tex_zyxlcb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{265,335}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,335}}</string>
                <key>sourceSize</key>
                <string>{265,337}</string>
            </dict>
            <key>dh_Tex_zyxlcb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,652},{199,189}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{199,189}}</string>
                <key>sourceSize</key>
                <string>{213,195}</string>
            </dict>
            <key>dh_Tex_zyxlcb_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,652},{197,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,203}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>dh_Tex_zyxlcb_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,562},{116,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>dh_Tex_zyxlcb_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,652},{242,199}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{242,199}}</string>
                <key>sourceSize</key>
                <string>{320,199}</string>
            </dict>
            <key>dh_Tex_zyxlcb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,528},{151,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,30}}</string>
                <key>sourceSize</key>
                <string>{151,30}</string>
            </dict>
            <key>frame_zyxlcb_bj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1247}}</string>
                <key>sourceSize</key>
                <string>{640,1247}</string>
            </dict>
            <key>frame_zyxlcb_qjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,3},{521,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,159}}</string>
                <key>sourceSize</key>
                <string>{521,159}</string>
            </dict>
            <key>frame_zyxlcb_qz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,647},{261,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,334}}</string>
                <key>sourceSize</key>
                <string>{261,334}</string>
            </dict>
            <key>frame_zyxlcb_qz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,647},{261,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,334}}</string>
                <key>sourceSize</key>
                <string>{261,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventTwinkleCastleView_3.png</string>
            <key>size</key>
            <string>{1416,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e1dc1f01872e597037701ff9a4da484:1/1$</string>
            <key>textureFileName</key>
            <string>eventTwinkleCastleView_3.png</string>
        </dict>
    </dict>
</plist>
