<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_qichongzou_tj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,867},{143,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{143,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,867},{143,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{143,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,818},{145,106}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{145,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,863},{145,106}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{145,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,751},{149,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{149,108}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,711},{149,108}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{149,108}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,665},{149,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{149,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,818},{149,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{149,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,665},{149,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{149,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,551},{149,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{149,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,864},{149,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{149,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,863},{147,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{147,106}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,863},{147,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{147,108}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,751},{147,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{147,108}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>dh_qichongzou_tj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,661},{145,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{145,108}}</string>
                <key>sourceSize</key>
                <string>{183,122}</string>
            </dict>
            <key>frame_qcznew01_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,3},{520,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,704}}</string>
                <key>sourceSize</key>
                <string>{520,704}</string>
            </dict>
            <key>frame_qcznew01_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,3},{544,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,152}}</string>
                <key>sourceSize</key>
                <string>{544,152}</string>
            </dict>
            <key>frame_qcznew01_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,964},{257,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,34}}</string>
                <key>sourceSize</key>
                <string>{257,34}</string>
            </dict>
            <key>frame_qcznew01_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,507},{408,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,154}}</string>
                <key>sourceSize</key>
                <string>{408,154}</string>
            </dict>
            <key>frame_qcznew01_bgleft_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,964},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>frame_qcznew01_bgleft_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,964},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>frame_qcznew01_bgleft_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,713},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>frame_qcznew01_bgleft_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,551},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>frame_qcznew01_bgleft_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,934},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>frame_qcznew01_bgleft_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,810},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>frame_qcznew01_bgright_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,967},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>frame_qcznew01_bgright_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,810},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>frame_qcznew01_bgright_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,578},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>frame_qcznew01_bgright_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,991},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>frame_qcznew01_bgright_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,772},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>frame_qcznew01_bgright_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,971},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>frame_qcznew01_bgright_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,618},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>frame_qcznew01_font_01_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,867},{387,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,93}}</string>
                <key>sourceSize</key>
                <string>{387,93}</string>
            </dict>
            <key>frame_qcznew01_font_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,711},{364,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,149}}</string>
                <key>sourceSize</key>
                <string>{364,149}</string>
            </dict>
            <key>frame_qcznew01_font_02_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,920},{218,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,54}}</string>
                <key>sourceSize</key>
                <string>{218,54}</string>
            </dict>
            <key>frame_qcznew01_font_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,864},{240,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,52}}</string>
                <key>sourceSize</key>
                <string>{240,52}</string>
            </dict>
            <key>frame_qcznew01_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,992},{140,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,10}}</string>
                <key>sourceSize</key>
                <string>{140,10}</string>
            </dict>
            <key>frame_qcznew01_plus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,648},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>frame_qcznew01_point_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,711},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>frame_qcznew02_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{520,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,704}}</string>
                <key>sourceSize</key>
                <string>{520,704}</string>
            </dict>
            <key>frame_qcznew02_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,711},{544,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,152}}</string>
                <key>sourceSize</key>
                <string>{544,152}</string>
            </dict>
            <key>frame_qcznew02_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,3},{6,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,210}}</string>
                <key>sourceSize</key>
                <string>{6,210}</string>
            </dict>
            <key>frame_qcznew02_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,665},{260,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,82}}</string>
                <key>sourceSize</key>
                <string>{260,82}</string>
            </dict>
            <key>frame_qcznew02_bgleft_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,507},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>frame_qcznew02_bgleft_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,964},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>frame_qcznew02_bgleft_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,680},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>frame_qcznew02_bgleft_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,818},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>frame_qcznew02_bgleft_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,877},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>frame_qcznew02_bgleft_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,978},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>frame_qcznew02_bgright_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,618},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>frame_qcznew02_bgright_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,551},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>frame_qcznew02_bgright_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,967},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>frame_qcznew02_bgright_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,991},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>frame_qcznew02_bgright_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,746},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>frame_qcznew02_bgright_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,971},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>frame_qcznew02_bgright_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,967},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>frame_qcznew02_img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,3},{476,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,500}}</string>
                <key>sourceSize</key>
                <string>{476,500}</string>
            </dict>
            <key>frame_qcznew02_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,978},{140,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,10}}</string>
                <key>sourceSize</key>
                <string>{140,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventCrazyTrioNewUI.png</string>
            <key>size</key>
            <string>{1701,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80b339fb58d8dd000910f3c212f09cd4:1/1$</string>
            <key>textureFileName</key>
            <string>eventCrazyTrioNewUI.png</string>
        </dict>
    </dict>
</plist>
