<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_yzlq_yw01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,575},{640,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,488}}</string>
                <key>sourceSize</key>
                <string>{640,488}</string>
            </dict>
            <key>BG_yzlq_yw02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,577},{60,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>Background_shazi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,568}}</string>
                <key>sourceSize</key>
                <string>{640,568}</string>
            </dict>
            <key>bg_haiguairuqing_beijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1067},{320,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,470}}</string>
                <key>sourceSize</key>
                <string>{320,470}</string>
            </dict>
            <key>bg_haiguairuqing_beijing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,954}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{640,954}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_haiguairuqing_kuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{570,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,431}}</string>
                <key>sourceSize</key>
                <string>{570,431}</string>
            </dict>
            <key>bg_ygg_fishbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,961},{640,842}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,842}}</string>
                <key>sourceSize</key>
                <string>{640,842}</string>
            </dict>
            <key>bg_ygg_fishbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1807},{640,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,210}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>bg_ygg_fishimg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1541},{86,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,219}}</string>
                <key>sourceSize</key>
                <string>{86,219}</string>
            </dict>
            <key>bg_ygg_fishimg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1068},{182,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,129}}</string>
                <key>sourceSize</key>
                <string>{182,129}</string>
            </dict>
            <key>bg_ygg_fishimg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1541},{115,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,388}}</string>
                <key>sourceSize</key>
                <string>{115,388}</string>
            </dict>
            <key>btn_yzrq_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1871},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1850},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1942},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1956},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1660},{85,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1570},{85,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1480},{85,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1390},{85,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1942},{85,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1956},{85,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1850},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1958},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1958},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1958},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_XL_shazi02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1953},{85,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>dh_Tex_shazi05_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1446},{129,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1201},{129,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,933},{131,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,933},{131,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1445},{131,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1256},{131,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1067},{131,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1446},{129,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1257},{129,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1068},{129,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1257},{129,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1579},{127,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{127,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1764},{127,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{127,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi05_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1068},{129,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>dh_Tex_shazi06_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1737},{110,101}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{110,101}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1757},{110,99}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{110,99}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1634},{110,99}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{110,99}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1635},{110,99}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{110,99}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1517},{110,99}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{110,99}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1933},{110,101}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{110,101}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,1819},{108,101}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{108,101}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1738},{108,103}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{108,103}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1847},{108,105}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,105}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1738},{108,105}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,105}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1710},{108,105}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,105}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1846},{108,105}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,105}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1737},{108,105}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{108,105}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi06_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1851},{108,103}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{108,103}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>dh_Tex_shazi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1631},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,122}}</string>
                <key>sourceSize</key>
                <string>{108,122}</string>
            </dict>
            <key>font_activity_9001156_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1067},{446,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,99}}</string>
                <key>sourceSize</key>
                <string>{446,99}</string>
            </dict>
            <key>font_activity_9001156_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1541},{470,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,77}}</string>
                <key>sourceSize</key>
                <string>{470,77}</string>
            </dict>
            <key>frame_yzrq_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1067},{627,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,68}}</string>
                <key>sourceSize</key>
                <string>{627,68}</string>
            </dict>
            <key>icon_haiguaihuizhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,577},{370,352}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{370,352}}</string>
                <key>sourceSize</key>
                <string>{374,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventYggUI.png</string>
            <key>size</key>
            <string>{1732,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e078834b8a694d05cfa654e0cf2d6b:1/1$</string>
            <key>textureFileName</key>
            <string>eventYggUI.png</string>
        </dict>
    </dict>
</plist>
