<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_slm_baoheding.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{434,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,58}}</string>
                <key>sourceSize</key>
                <string>{434,58}</string>
            </dict>
            <key>frame_slm_fanxingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,63},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>frame_slm_fukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,63},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>frame_slm_mohe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,231}}</string>
                <key>sourceSize</key>
                <string>{208,231}</string>
            </dict>
            <key>frame_slm_wupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,63},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>frame_slm_yuandizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,63},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventslmUI.png</string>
            <key>size</key>
            <string>{713,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3e27a376fa267795aecc2977fbab6c5:1/1$</string>
            <key>textureFileName</key>
            <string>eventslmUI.png</string>
        </dict>
    </dict>
</plist>
