<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_qcz_img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1805},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1805},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1705},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1605},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1505},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1405},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1305},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1077},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1077},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,977},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,749},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1936},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1936},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1836},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1736},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1836},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_img_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1736},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>bg_qcz_imgshade_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,259},{30,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,128}}</string>
                <key>sourceSize</key>
                <string>{30,128}</string>
            </dict>
            <key>frame_qcz_bg_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,3},{568,438}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,142},{568,438}}</string>
                <key>sourceSize</key>
                <string>{632,580}</string>
            </dict>
            <key>frame_qcz_bg_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,575},{451,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,170}}</string>
                <key>sourceSize</key>
                <string>{451,170}</string>
            </dict>
            <key>frame_qcz_bg_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,3},{252,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,34}}</string>
                <key>sourceSize</key>
                <string>{252,34}</string>
            </dict>
            <key>frame_qcz_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,765},{602,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,290}}</string>
                <key>sourceSize</key>
                <string>{602,290}</string>
            </dict>
            <key>frame_qcz_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1607},{568,432}}</string>
                <key>offset</key>
                <string>{-3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,148},{568,432}}</string>
                <key>sourceSize</key>
                <string>{632,580}</string>
            </dict>
            <key>frame_qcz_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1059},{602,280}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,280}}</string>
                <key>sourceSize</key>
                <string>{602,290}</string>
            </dict>
            <key>frame_qcz_font_02_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1555},{259,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,66}}</string>
                <key>sourceSize</key>
                <string>{259,66}</string>
            </dict>
            <key>frame_qcz_font_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1680},{257,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,52}}</string>
                <key>sourceSize</key>
                <string>{257,52}</string>
            </dict>
            <key>frame_qcz_font_03_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1487},{263,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,64}}</string>
                <key>sourceSize</key>
                <string>{263,64}</string>
            </dict>
            <key>frame_qcz_font_03_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1625},{263,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,51}}</string>
                <key>sourceSize</key>
                <string>{263,51}</string>
            </dict>
            <key>frame_qcz_font_04_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1419},{270,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,64}}</string>
                <key>sourceSize</key>
                <string>{270,64}</string>
            </dict>
            <key>frame_qcz_font_04_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,749},{343,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,62}}</string>
                <key>sourceSize</key>
                <string>{343,62}</string>
            </dict>
            <key>frame_qcz_font_05_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1039},{296,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,64}}</string>
                <key>sourceSize</key>
                <string>{296,64}</string>
            </dict>
            <key>frame_qcz_font_05_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1107},{335,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,62}}</string>
                <key>sourceSize</key>
                <string>{335,62}</string>
            </dict>
            <key>frame_qcz_font_06_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1173},{301,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,64}}</string>
                <key>sourceSize</key>
                <string>{301,64}</string>
            </dict>
            <key>frame_qcz_font_06_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1241},{297,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,51}}</string>
                <key>sourceSize</key>
                <string>{297,51}</string>
            </dict>
            <key>frame_qcz_font_07_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1351},{284,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,64}}</string>
                <key>sourceSize</key>
                <string>{284,64}</string>
            </dict>
            <key>frame_qcz_font_07_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1296},{294,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,51}}</string>
                <key>sourceSize</key>
                <string>{294,51}</string>
            </dict>
            <key>frame_qcz_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1620},{574,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,82}}</string>
                <key>sourceSize</key>
                <string>{574,82}</string>
            </dict>
            <key>frame_qcz_yy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1343},{588,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,273}}</string>
                <key>sourceSize</key>
                <string>{588,273}</string>
            </dict>
            <key>frame_scz_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{634,886}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{634,886}}</string>
                <key>sourceSize</key>
                <string>{640,886}</string>
            </dict>
            <key>frame_scz_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,893},{620,710}}</string>
                <key>offset</key>
                <string>{-9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,166},{620,710}}</string>
                <key>sourceSize</key>
                <string>{640,886}</string>
            </dict>
            <key>frame_scz_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,3},{640,758}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{640,758}}</string>
                <key>sourceSize</key>
                <string>{640,886}</string>
            </dict>
            <key>frame_scz_font_01_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,913},{288,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,122}}</string>
                <key>sourceSize</key>
                <string>{288,122}</string>
            </dict>
            <key>frame_scz_font_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1706},{358,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,154}}</string>
                <key>sourceSize</key>
                <string>{358,154}</string>
            </dict>
            <key>frame_scz_font_02_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1706},{338,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,106}}</string>
                <key>sourceSize</key>
                <string>{338,106}</string>
            </dict>
            <key>frame_scz_font_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1864},{410,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,90}}</string>
                <key>sourceSize</key>
                <string>{410,90}</string>
            </dict>
            <key>frame_scz_font_03_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,815},{330,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,94}}</string>
                <key>sourceSize</key>
                <string>{330,94}</string>
            </dict>
            <key>frame_scz_font_03_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1958},{364,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,86}}</string>
                <key>sourceSize</key>
                <string>{364,86}</string>
            </dict>
            <key>icon_qcz_enter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,765},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventCrazyTrioUI.png</string>
            <key>size</key>
            <string>{1780,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77b366fb886c1a29f85b286684590d65:1/1$</string>
            <key>textureFileName</key>
            <string>eventCrazyTrioUI.png</string>
        </dict>
    </dict>
</plist>
