<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_exchange_9001184.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,255},{633,242}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{633,242}}</string>
                <key>sourceSize</key>
                <string>{633,248}</string>
            </dict>
            <key>bg_exchange_9001215__ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1773},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001218.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,749},{631,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001219.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,483},{625,236}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{625,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001220.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1134},{631,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001221.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,499},{631,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1132},{625,236}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{625,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001223.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1138},{631,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001224.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1735},{631,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001225.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,251},{631,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001226.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,501},{631,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001227.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,3},{631,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001228.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1489},{631,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001229.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1243},{631,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001230.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,501},{633,240}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{633,240}}</string>
                <key>sourceSize</key>
                <string>{633,248}</string>
            </dict>
            <key>bg_exchange_9001231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,483},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_exchange_9001232.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{633,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,248}}</string>
                <key>sourceSize</key>
                <string>{633,248}</string>
            </dict>
            <key>bg_exchange_9001233.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,997},{631,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1761},{618,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,236}}</string>
                <key>sourceSize</key>
                <string>{618,236}</string>
            </dict>
            <key>bg_exchange_9001235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,499},{629,244}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001236.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1112},{618,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,236}}</string>
                <key>sourceSize</key>
                <string>{618,236}</string>
            </dict>
            <key>bg_exchange_9001236_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1132},{618,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,236}}</string>
                <key>sourceSize</key>
                <string>{618,236}</string>
            </dict>
            <key>bg_exchange_9001385.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,243},{618,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,236}}</string>
                <key>sourceSize</key>
                <string>{618,236}</string>
            </dict>
            <key>bg_exchange_9001385_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,3},{618,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,236}}</string>
                <key>sourceSize</key>
                <string>{618,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchangeBgUI2.png</string>
            <key>size</key>
            <string>{1897,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dafe4d9abc39eb506a73bfb67087ebd5:1/1$</string>
            <key>textureFileName</key>
            <string>exchangeBgUI2.png</string>
        </dict>
    </dict>
</plist>
