<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_exchange_9001129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1703},{631,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1457},{631,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001144.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1703},{631,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001154.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1457},{631,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001169.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,717},{617,240}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{617,240}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1211},{631,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001171.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1211},{631,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001172.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1703},{631,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,244}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001179.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1457},{625,242}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{625,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001180.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1211},{631,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{631,242}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,483},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001182.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,483},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001183.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,477},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,967},{631,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,240}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001186.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,967},{631,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,240}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,243},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001188.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,967},{631,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,240}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001190.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,243},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,723},{631,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,240}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001212.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,237},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001212_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,237},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001213.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,723},{631,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,240}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001214.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,723},{631,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,240}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001215.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{627,236}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001216.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,3},{625,236}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{625,236}}</string>
                <key>sourceSize</key>
                <string>{631,244}</string>
            </dict>
            <key>bg_exchange_9001289.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchangeBgUI.png</string>
            <key>size</key>
            <string>{1907,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26af068fad4612ab33c5e3701231f144:1/1$</string>
            <key>textureFileName</key>
            <string>exchangeBgUI.png</string>
        </dict>
    </dict>
</plist>
