<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_exchange_9001129_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,3},{343,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,147}}</string>
                <key>sourceSize</key>
                <string>{343,147}</string>
            </dict>
            <key>bg_exchange_9001129_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,722},{301,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,132}}</string>
                <key>sourceSize</key>
                <string>{301,132}</string>
            </dict>
            <key>bg_exchange_9001129_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1804},{229,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,130}}</string>
                <key>sourceSize</key>
                <string>{229,130}</string>
            </dict>
            <key>bg_exchange_9001143_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1248},{402,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,133}}</string>
                <key>sourceSize</key>
                <string>{402,133}</string>
            </dict>
            <key>bg_exchange_9001143_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1611},{357,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,130}}</string>
                <key>sourceSize</key>
                <string>{357,130}</string>
            </dict>
            <key>bg_exchange_9001143_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1799},{231,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,119}}</string>
                <key>sourceSize</key>
                <string>{231,119}</string>
            </dict>
            <key>bg_exchange_9001144_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1596},{347,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,148}}</string>
                <key>sourceSize</key>
                <string>{347,148}</string>
            </dict>
            <key>bg_exchange_9001144_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,587},{331,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,131}}</string>
                <key>sourceSize</key>
                <string>{331,131}</string>
            </dict>
            <key>bg_exchange_9001144_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,722},{295,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,125}}</string>
                <key>sourceSize</key>
                <string>{295,125}</string>
            </dict>
            <key>bg_exchange_9001154_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,401},{384,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,127}}</string>
                <key>sourceSize</key>
                <string>{384,127}</string>
            </dict>
            <key>bg_exchange_9001154_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,744},{355,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,117}}</string>
                <key>sourceSize</key>
                <string>{355,117}</string>
            </dict>
            <key>bg_exchange_9001154_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1493},{232,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,118}}</string>
                <key>sourceSize</key>
                <string>{232,118}</string>
            </dict>
            <key>bg_exchange_9001169_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1671},{320,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,152}}</string>
                <key>sourceSize</key>
                <string>{320,152}</string>
            </dict>
            <key>bg_exchange_9001169_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,356},{346,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,130}}</string>
                <key>sourceSize</key>
                <string>{346,130}</string>
            </dict>
            <key>bg_exchange_9001170_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1683},{312,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,150}}</string>
                <key>sourceSize</key>
                <string>{312,150}</string>
            </dict>
            <key>bg_exchange_9001170_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1278},{286,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,111}}</string>
                <key>sourceSize</key>
                <string>{286,111}</string>
            </dict>
            <key>bg_exchange_9001171_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1070},{308,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,170}}</string>
                <key>sourceSize</key>
                <string>{308,170}</string>
            </dict>
            <key>bg_exchange_9001171_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,712},{347,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,129}}</string>
                <key>sourceSize</key>
                <string>{347,129}</string>
            </dict>
            <key>bg_exchange_9001172_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1065},{295,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,148}}</string>
                <key>sourceSize</key>
                <string>{295,148}</string>
            </dict>
            <key>bg_exchange_9001172_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1262},{405,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,133}}</string>
                <key>sourceSize</key>
                <string>{405,133}</string>
            </dict>
            <key>bg_exchange_9001172_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1217},{242,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,134}}</string>
                <key>sourceSize</key>
                <string>{242,134}</string>
            </dict>
            <key>bg_exchange_9001179_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,3},{394,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,123}}</string>
                <key>sourceSize</key>
                <string>{394,123}</string>
            </dict>
            <key>bg_exchange_9001179_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,358},{350,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,127}}</string>
                <key>sourceSize</key>
                <string>{350,127}</string>
            </dict>
            <key>bg_exchange_9001179_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1194},{304,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,50}}</string>
                <key>sourceSize</key>
                <string>{304,50}</string>
            </dict>
            <key>bg_exchange_9001180_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1001},{291,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,138}}</string>
                <key>sourceSize</key>
                <string>{291,138}</string>
            </dict>
            <key>bg_exchange_9001180_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1247},{361,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,123}}</string>
                <key>sourceSize</key>
                <string>{361,123}</string>
            </dict>
            <key>bg_exchange_9001180_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1393},{299,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,134}}</string>
                <key>sourceSize</key>
                <string>{299,134}</string>
            </dict>
            <key>bg_exchange_9001181_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,206},{304,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,137}}</string>
                <key>sourceSize</key>
                <string>{304,137}</string>
            </dict>
            <key>bg_exchange_9001181_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1027},{254,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,122}}</string>
                <key>sourceSize</key>
                <string>{254,122}</string>
            </dict>
            <key>bg_exchange_9001182_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1285},{236,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,121}}</string>
                <key>sourceSize</key>
                <string>{236,121}</string>
            </dict>
            <key>bg_exchange_9001182_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,714},{351,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,107}}</string>
                <key>sourceSize</key>
                <string>{351,107}</string>
            </dict>
            <key>bg_exchange_9001183_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1623},{369,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,127}}</string>
                <key>sourceSize</key>
                <string>{369,127}</string>
            </dict>
            <key>bg_exchange_9001183_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,3},{352,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,126}}</string>
                <key>sourceSize</key>
                <string>{352,126}</string>
            </dict>
            <key>bg_exchange_9001184_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,380},{360,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,125}}</string>
                <key>sourceSize</key>
                <string>{360,125}</string>
            </dict>
            <key>bg_exchange_9001184_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,73},{319,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,129}}</string>
                <key>sourceSize</key>
                <string>{319,129}</string>
            </dict>
            <key>bg_exchange_9001185_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1270},{409,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,114}}</string>
                <key>sourceSize</key>
                <string>{409,114}</string>
            </dict>
            <key>bg_exchange_9001185_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,768},{362,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,127}}</string>
                <key>sourceSize</key>
                <string>{362,127}</string>
            </dict>
            <key>bg_exchange_9001186_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,841},{403,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,96}}</string>
                <key>sourceSize</key>
                <string>{403,96}</string>
            </dict>
            <key>bg_exchange_9001186_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1134},{332,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,109}}</string>
                <key>sourceSize</key>
                <string>{332,109}</string>
            </dict>
            <key>bg_exchange_9001187_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,851},{415,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,107}}</string>
                <key>sourceSize</key>
                <string>{415,107}</string>
            </dict>
            <key>bg_exchange_9001187_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1244},{347,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,129}}</string>
                <key>sourceSize</key>
                <string>{347,129}</string>
            </dict>
            <key>bg_exchange_9001188_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1615},{232,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,116}}</string>
                <key>sourceSize</key>
                <string>{232,116}</string>
            </dict>
            <key>bg_exchange_9001188_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,359},{352,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,129}}</string>
                <key>sourceSize</key>
                <string>{352,129}</string>
            </dict>
            <key>bg_exchange_9001188_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1355},{238,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,134}}</string>
                <key>sourceSize</key>
                <string>{238,134}</string>
            </dict>
            <key>bg_exchange_9001190_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,3},{400,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,112}}</string>
                <key>sourceSize</key>
                <string>{400,112}</string>
            </dict>
            <key>bg_exchange_9001190_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,3},{396,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,129}}</string>
                <key>sourceSize</key>
                <string>{396,129}</string>
            </dict>
            <key>bg_exchange_9001211_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1671},{325,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,69}}</string>
                <key>sourceSize</key>
                <string>{325,69}</string>
            </dict>
            <key>bg_exchange_9001211_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,3},{328,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,66}}</string>
                <key>sourceSize</key>
                <string>{328,66}</string>
            </dict>
            <key>bg_exchange_9001212_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,347},{337,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,132}}</string>
                <key>sourceSize</key>
                <string>{337,132}</string>
            </dict>
            <key>bg_exchange_9001212_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,738},{352,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,129}}</string>
                <key>sourceSize</key>
                <string>{352,129}</string>
            </dict>
            <key>bg_exchange_9001212_en_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,3},{352,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,129}}</string>
                <key>sourceSize</key>
                <string>{352,129}</string>
            </dict>
            <key>bg_exchange_9001212_ko_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1525},{270,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,130}}</string>
                <key>sourceSize</key>
                <string>{270,130}</string>
            </dict>
            <key>bg_exchange_9001213_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1616},{363,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,108}}</string>
                <key>sourceSize</key>
                <string>{363,108}</string>
            </dict>
            <key>bg_exchange_9001213_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,768},{363,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,51}}</string>
                <key>sourceSize</key>
                <string>{363,51}</string>
            </dict>
            <key>bg_exchange_9001213_en_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,3},{352,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,129}}</string>
                <key>sourceSize</key>
                <string>{352,129}</string>
            </dict>
            <key>bg_exchange_9001214_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1616},{363,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,108}}</string>
                <key>sourceSize</key>
                <string>{363,108}</string>
            </dict>
            <key>bg_exchange_9001214_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,768},{363,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,51}}</string>
                <key>sourceSize</key>
                <string>{363,51}</string>
            </dict>
            <key>bg_exchange_9001215_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,3},{338,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,123}}</string>
                <key>sourceSize</key>
                <string>{338,123}</string>
            </dict>
            <key>bg_exchange_9001215_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{424,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,119}}</string>
                <key>sourceSize</key>
                <string>{424,119}</string>
            </dict>
            <key>bg_exchange_9001216_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,715},{351,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{351,131}}</string>
                <key>sourceSize</key>
                <string>{351,133}</string>
            </dict>
            <key>bg_exchange_9001216_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,359},{351,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,130}}</string>
                <key>sourceSize</key>
                <string>{351,130}</string>
            </dict>
            <key>bg_exchange_9001218_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,851},{293,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,146}}</string>
                <key>sourceSize</key>
                <string>{293,146}</string>
            </dict>
            <key>bg_exchange_9001218_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,3},{349,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,117}}</string>
                <key>sourceSize</key>
                <string>{349,117}</string>
            </dict>
            <key>bg_exchange_9001219_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1613},{361,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,137}}</string>
                <key>sourceSize</key>
                <string>{361,137}</string>
            </dict>
            <key>bg_exchange_9001219_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,3},{351,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,114}}</string>
                <key>sourceSize</key>
                <string>{351,114}</string>
            </dict>
            <key>bg_exchange_9001220_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1143},{298,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,131}}</string>
                <key>sourceSize</key>
                <string>{298,131}</string>
            </dict>
            <key>bg_exchange_9001220_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,706},{341,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,131}}</string>
                <key>sourceSize</key>
                <string>{341,131}</string>
            </dict>
            <key>bg_exchange_9001221_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1670},{258,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,130}}</string>
                <key>sourceSize</key>
                <string>{258,130}</string>
            </dict>
            <key>bg_exchange_9001221_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1654},{341,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,131}}</string>
                <key>sourceSize</key>
                <string>{341,131}</string>
            </dict>
            <key>bg_exchange_9001222_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,851},{407,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,125}}</string>
                <key>sourceSize</key>
                <string>{407,125}</string>
            </dict>
            <key>bg_exchange_9001222_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,431},{416,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,114}}</string>
                <key>sourceSize</key>
                <string>{416,114}</string>
            </dict>
            <key>bg_exchange_9001223_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1248},{364,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,137}}</string>
                <key>sourceSize</key>
                <string>{364,137}</string>
            </dict>
            <key>bg_exchange_9001223_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,483},{336,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,100}}</string>
                <key>sourceSize</key>
                <string>{336,100}</string>
            </dict>
            <key>bg_exchange_9001224_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1248},{371,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,133}}</string>
                <key>sourceSize</key>
                <string>{371,133}</string>
            </dict>
            <key>bg_exchange_9001224_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,3},{373,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,135}}</string>
                <key>sourceSize</key>
                <string>{373,135}</string>
            </dict>
            <key>bg_exchange_9001225_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,345},{291,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,69}}</string>
                <key>sourceSize</key>
                <string>{291,69}</string>
            </dict>
            <key>bg_exchange_9001225_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1531},{269,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,135}}</string>
                <key>sourceSize</key>
                <string>{269,135}</string>
            </dict>
            <key>bg_exchange_9001226_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1735},{258,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,146}}</string>
                <key>sourceSize</key>
                <string>{258,146}</string>
            </dict>
            <key>bg_exchange_9001226_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,712},{349,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,113}}</string>
                <key>sourceSize</key>
                <string>{349,113}</string>
            </dict>
            <key>bg_exchange_9001227_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,380},{354,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,151}}</string>
                <key>sourceSize</key>
                <string>{354,151}</string>
            </dict>
            <key>bg_exchange_9001227_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1247},{360,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,125}}</string>
                <key>sourceSize</key>
                <string>{360,125}</string>
            </dict>
            <key>bg_exchange_9001228_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,403},{394,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,128}}</string>
                <key>sourceSize</key>
                <string>{394,128}</string>
            </dict>
            <key>bg_exchange_9001228_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,789},{378,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,116}}</string>
                <key>sourceSize</key>
                <string>{378,116}</string>
            </dict>
            <key>bg_exchange_9001229_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1247},{362,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,119}}</string>
                <key>sourceSize</key>
                <string>{362,119}</string>
            </dict>
            <key>bg_exchange_9001229_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,801},{389,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,53}}</string>
                <key>sourceSize</key>
                <string>{389,53}</string>
            </dict>
            <key>bg_exchange_9001230_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,350},{341,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,129}}</string>
                <key>sourceSize</key>
                <string>{341,129}</string>
            </dict>
            <key>bg_exchange_9001230_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,387},{377,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,129}}</string>
                <key>sourceSize</key>
                <string>{377,129}</string>
            </dict>
            <key>bg_exchange_9001231_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,431},{406,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,129}}</string>
                <key>sourceSize</key>
                <string>{406,129}</string>
            </dict>
            <key>bg_exchange_9001231_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,3},{380,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,136}}</string>
                <key>sourceSize</key>
                <string>{380,136}</string>
            </dict>
            <key>bg_exchange_9001289_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1244},{348,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,158}}</string>
                <key>sourceSize</key>
                <string>{348,158}</string>
            </dict>
            <key>bg_exchange_9001289_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1612},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchangeWordUI.png</string>
            <key>size</key>
            <string>{2025,1999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81d9fc58ff8b0f8f68e2ea776b848198:1/1$</string>
            <key>textureFileName</key>
            <string>exchangeWordUI.png</string>
        </dict>
    </dict>
</plist>
