<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_zxtq_02bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{538,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,552}}</string>
                <key>sourceSize</key>
                <string>{538,552}</string>
            </dict>
            <key>btn_zxvip_mima_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,559},{42,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{42,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_zxvip_mima_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,785},{42,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{42,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_zunxiangVIP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,809},{224,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,180}}</string>
                <key>sourceSize</key>
                <string>{224,180}</string>
            </dict>
            <key>dh_zunxiangVIP_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,803},{98,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{98,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_zxvip_lb_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,559},{379,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,81}}</string>
                <key>sourceSize</key>
                <string>{379,81}</string>
            </dict>
            <key>frame_zxvip_lscz_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,559},{334,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,82}}</string>
                <key>sourceSize</key>
                <string>{334,82}</string>
            </dict>
            <key>frame_zxvip_zczfl_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,559},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,81}</string>
            </dict>
            <key>frame_zxvip_zxfl_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,559},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,81}</string>
            </dict>
            <key>frame_zxvip_zxtq_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,785},{228,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,81}}</string>
                <key>sourceSize</key>
                <string>{228,81}</string>
            </dict>
            <key>gl.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,870},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_zxvip_hg.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,870},{78,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{78,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_zxvip_tq_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,525},{246,256}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{246,256}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,265},{246,256}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{246,256}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,559},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,3},{246,258}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{246,258}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>wipeup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,942},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,36}</string>
            </dict>
            <key>wipeup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,809},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>wipeup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,870},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>wipeup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,982},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exclusiveVip2.png</string>
            <key>size</key>
            <string>{794,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16b8656b3c0d01a9bcb067c15f3a97cc:1/1$</string>
            <key>textureFileName</key>
            <string>exclusiveVip2.png</string>
        </dict>
    </dict>
</plist>
