<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1743},{132,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{132,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_zxvip_bxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,3},{501,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,253}}</string>
                <key>sourceSize</key>
                <string>{501,253}</string>
            </dict>
            <key>bg_zxvip_dbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1066}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1066}}</string>
                <key>sourceSize</key>
                <string>{640,1066}</string>
            </dict>
            <key>bg_zxvip_ydbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,3},{291,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,291}}</string>
                <key>sourceSize</key>
                <string>{291,291}</string>
            </dict>
            <key>btn_zxtq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1054},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{164,61}</string>
            </dict>
            <key>btn_zxtq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1304},{132,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,54}}</string>
                <key>sourceSize</key>
                <string>{132,54}</string>
            </dict>
            <key>btn_zxtq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1749},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>btn_zxtq_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1213},{87,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{87,71}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_zxtq_saodang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,676},{93,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{93,87}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_zxvip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1647},{100,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_zxvip_fuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1888},{82,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{82,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_zxvip_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1317},{88,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_zxvip_lishichongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1817},{90,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_zxvip_tequan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1223},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_zxvip_zhouchongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1409},{80,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{80,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dh_Tex_ltjm1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1409},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_baoshiyh1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1888},{141,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,58}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>dh_baoshiyh1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1798},{256,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{256,86}}</string>
                <key>sourceSize</key>
                <string>{272,102}</string>
            </dict>
            <key>dh_baoshiyh_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1394},{4,5}}</string>
                <key>offset</key>
                <string>{61,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1315},{20,33}}</string>
                <key>offset</key>
                <string>{53,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1880},{38,43}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1440},{54,43}}</string>
                <key>offset</key>
                <string>{36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{54,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1492},{70,43}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1848},{88,43}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,767},{104,43}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{104,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1891},{112,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1646},{102,43}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1880},{84,43}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1409},{68,43}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1487},{52,43}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1265},{34,43}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,43}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>dh_baoshiyh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,344},{18,33}}</string>
                <key>offset</key>
                <string>{-56,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{18,33}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>frame_cqjw_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,298},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>frame_ssdt_qmk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1065},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>frame_zxtq_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1265},{224,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,260}}</string>
                <key>sourceSize</key>
                <string>{224,260}</string>
            </dict>
            <key>frame_zxtq_bg_g_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,678},{133,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,329}}</string>
                <key>sourceSize</key>
                <string>{133,329}</string>
            </dict>
            <key>frame_zxtq_bg_h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1743},{133,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,328}}</string>
                <key>sourceSize</key>
                <string>{133,328}</string>
            </dict>
            <key>frame_zxtq_bg_r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,344},{133,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,328}}</string>
                <key>sourceSize</key>
                <string>{133,328}</string>
            </dict>
            <key>frame_zxtq_bg_zi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,812},{131,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,328}}</string>
                <key>sourceSize</key>
                <string>{131,328}</string>
            </dict>
            <key>frame_zxtq_decorate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1394},{12,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,56}}</string>
                <key>sourceSize</key>
                <string>{12,56}</string>
            </dict>
            <key>frame_zxtq_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,948},{2,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,44}}</string>
                <key>sourceSize</key>
                <string>{2,44}</string>
            </dict>
            <key>frame_zxvip_dxyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,344},{320,330}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,330}}</string>
                <key>sourceSize</key>
                <string>{320,334}</string>
            </dict>
            <key>frame_zxvip_jdt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1749},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>frame_zxvip_jdt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1798},{148,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,291}}</string>
                <key>sourceSize</key>
                <string>{148,291}</string>
            </dict>
            <key>frame_zxvip_jdtwk.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,948},{299,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,313}}</string>
                <key>sourceSize</key>
                <string>{299,313}</string>
            </dict>
            <key>frame_zxvip_lb_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1073},{364,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,70}}</string>
                <key>sourceSize</key>
                <string>{364,70}</string>
            </dict>
            <key>frame_zxvip_lb_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,366},{518,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,80}}</string>
                <key>sourceSize</key>
                <string>{518,80}</string>
            </dict>
            <key>frame_zxvip_lscz_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,366},{442,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,93}}</string>
                <key>sourceSize</key>
                <string>{442,93}</string>
            </dict>
            <key>frame_zxvip_lscz_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,260},{501,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,80}}</string>
                <key>sourceSize</key>
                <string>{501,80}</string>
            </dict>
            <key>frame_zxvip_lvxqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1054},{155,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,62}}</string>
                <key>sourceSize</key>
                <string>{155,62}</string>
            </dict>
            <key>frame_zxvip_tqlbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,366},{578,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,282}}</string>
                <key>sourceSize</key>
                <string>{578,282}</string>
            </dict>
            <key>frame_zxvip_zczfl_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,888},{331,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,84}}</string>
                <key>sourceSize</key>
                <string>{331,84}</string>
            </dict>
            <key>frame_zxvip_zczfl_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,366},{549,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,80}}</string>
                <key>sourceSize</key>
                <string>{549,80}</string>
            </dict>
            <key>frame_zxvip_zsbhs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1222},{266,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,40}}</string>
                <key>sourceSize</key>
                <string>{266,40}</string>
            </dict>
            <key>frame_zxvip_zxfl_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1565},{240,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,78}}</string>
                <key>sourceSize</key>
                <string>{240,78}</string>
            </dict>
            <key>frame_zxvip_zxfl_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1441},{372,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,69}}</string>
                <key>sourceSize</key>
                <string>{372,69}</string>
            </dict>
            <key>frame_zxvip_zxtq_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,366},{440,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,92}}</string>
                <key>sourceSize</key>
                <string>{440,92}</string>
            </dict>
            <key>frame_zxvip_zxtq_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,919},{427,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,82}}</string>
                <key>sourceSize</key>
                <string>{427,82}</string>
            </dict>
            <key>frame_zxvipqt_logo_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1647},{197,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,98}}</string>
                <key>sourceSize</key>
                <string>{197,98}</string>
            </dict>
            <key>frame_zxvipqt_logo_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1065},{295,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,75}}</string>
                <key>sourceSize</key>
                <string>{295,75}</string>
            </dict>
            <key>frame_zxvipqt_xf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{576,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,359}}</string>
                <key>sourceSize</key>
                <string>{576,359}</string>
            </dict>
            <key>frame_zxvipqt_xf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1436},{574,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,358}}</string>
                <key>sourceSize</key>
                <string>{574,358}</string>
            </dict>
            <key>frame_zxvipqt_xf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1073},{576,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,359}}</string>
                <key>sourceSize</key>
                <string>{576,359}</string>
            </dict>
            <key>icon_map_signature.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1751},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>icon_zxtq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1566},{76,76}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_zxtq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1836},{76,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_zxtq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1752},{80,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_zxtq_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1880},{76,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_zxvip_tq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1315},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1065},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1644},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1644},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1493},{250,246}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{250,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1394},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1394},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1144},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1144},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,804},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,815},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,298},{246,252}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{246,252}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,815},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1493},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>icon_zxvip_tq_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,554},{246,246}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{246,246}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exclusiveVip.png</string>
            <key>size</key>
            <string>{2026,1949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:876f1475a406f47aeaa8c30e5d874aba:1/1$</string>
            <key>textureFileName</key>
            <string>exclusiveVip.png</string>
        </dict>
    </dict>
</plist>
