<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_xdkxq_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{168,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,226}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>frame_xdkxq_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,375},{60,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,158}}</string>
                <key>sourceSize</key>
                <string>{60,158}</string>
            </dict>
            <key>frame_xdkxq_decorate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{32,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,136}}</string>
                <key>sourceSize</key>
                <string>{32,136}</string>
            </dict>
            <key>frame_xdkxq_decorate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,536},{156,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,127}}</string>
                <key>sourceSize</key>
                <string>{156,127}</string>
            </dict>
            <key>frame_xdkxq_decorate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,375},{140,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,51}}</string>
                <key>sourceSize</key>
                <string>{140,51}</string>
            </dict>
            <key>frame_xdkxq_decorate_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,231},{118,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,141}}</string>
                <key>sourceSize</key>
                <string>{118,141}</string>
            </dict>
            <key>frame_xdkxq_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{594,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,39}}</string>
                <key>sourceSize</key>
                <string>{594,39}</string>
            </dict>
            <key>frame_xdkxq_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,141},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>frame_xdkxq_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,500},{142,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,40}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>frame_xdkxq_titlebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,231},{266,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,40}}</string>
                <key>sourceSize</key>
                <string>{266,40}</string>
            </dict>
            <key>frame_xdkxq_titlebg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,375},{132,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,3}}</string>
                <key>sourceSize</key>
                <string>{132,3}</string>
            </dict>
            <key>frame_xdkxq_titlebg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,231},{256,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,34}}</string>
                <key>sourceSize</key>
                <string>{256,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exkxqUI.png</string>
            <key>size</key>
            <string>{249,693}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a22dbf269fb6843c429c2c253000b1e:1/1$</string>
            <key>textureFileName</key>
            <string>exkxqUI.png</string>
        </dict>
    </dict>
</plist>
