<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_benefits_cassell.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1461},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_benefits_liwangl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,3},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_bskxq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,524},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>bg_bskxq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1152},{530,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,210}}</string>
                <key>sourceSize</key>
                <string>{530,210}</string>
            </dict>
            <key>bg_fwmb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,810}}</string>
                <key>sourceSize</key>
                <string>{640,810}</string>
            </dict>
            <key>bg_fwmb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,273},{640,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,247}}</string>
                <key>sourceSize</key>
                <string>{640,247}</string>
            </dict>
            <key>bg_fwmb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,728},{536,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,206}}</string>
                <key>sourceSize</key>
                <string>{536,206}</string>
            </dict>
            <key>bg_lhj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1731},{582,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,146}}</string>
                <key>sourceSize</key>
                <string>{582,146}</string>
            </dict>
            <key>bg_scout.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1417},{345,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,193}}</string>
                <key>sourceSize</key>
                <string>{345,193}</string>
            </dict>
            <key>bg_shuiwen_baozangzhichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1881},{135,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,160}}</string>
                <key>sourceSize</key>
                <string>{135,160}</string>
            </dict>
            <key>bg_thfl_yxzxbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,817},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_xdkxq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,817},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>bg_xdkxq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,938},{530,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,210}}</string>
                <key>sourceSize</key>
                <string>{530,210}</string>
            </dict>
            <key>bg_xdkxq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1881},{296,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,105}}</string>
                <key>sourceSize</key>
                <string>{296,105}</string>
            </dict>
            <key>bg_xh_qjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,773},{640,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,166}}</string>
                <key>sourceSize</key>
                <string>{640,166}</string>
            </dict>
            <key>bg_xwjj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1763},{146,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,262}}</string>
                <key>sourceSize</key>
                <string>{146,262}</string>
            </dict>
            <key>bg_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1746},{187,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,103}}</string>
                <key>sourceSize</key>
                <string>{187,103}</string>
            </dict>
            <key>bg_zb_qjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,773},{640,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,168}}</string>
                <key>sourceSize</key>
                <string>{640,168}</string>
            </dict>
            <key>btn_ZJM_dhk_wxz_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1542},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>btn_ZJM_dhk_xz_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1417},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>btn_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,728},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>btn_relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,351},{252,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,228}}</string>
                <key>sourceSize</key>
                <string>{252,228}</string>
            </dict>
            <key>farmer_ycdy_tbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1733},{161,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,203}}</string>
                <key>sourceSize</key>
                <string>{161,203}</string>
            </dict>
            <key>frame_Daily_reward_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,773},{606,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,191}}</string>
                <key>sourceSize</key>
                <string>{606,191}</string>
            </dict>
            <key>frame_Halloween_roof.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1859},{157,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,58}}</string>
                <key>sourceSize</key>
                <string>{157,58}</string>
            </dict>
            <key>frame_border_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1050},{285,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,247}}</string>
                <key>sourceSize</key>
                <string>{285,247}</string>
            </dict>
            <key>frame_bskxq_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,3},{344,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,234}}</string>
                <key>sourceSize</key>
                <string>{344,234}</string>
            </dict>
            <key>frame_butiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1383},{320,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,154}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>frame_extremeshop_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1881},{154,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,132}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>frame_hbzdz_cirrus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1746},{55,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,227}}</string>
                <key>sourceSize</key>
                <string>{55,227}</string>
            </dict>
            <key>frame_hjyt_build01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{470,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,494}}</string>
                <key>sourceSize</key>
                <string>{470,494}</string>
            </dict>
            <key>frame_hjyt_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1733},{228,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,147}}</string>
                <key>sourceSize</key>
                <string>{228,147}</string>
            </dict>
            <key>frame_hjyt_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1766},{228,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,147}}</string>
                <key>sourceSize</key>
                <string>{228,147}</string>
            </dict>
            <key>frame_hjyt_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,607},{228,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,147}}</string>
                <key>sourceSize</key>
                <string>{228,147}</string>
            </dict>
            <key>frame_hjyt_qi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1542},{187,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,422}}</string>
                <key>sourceSize</key>
                <string>{187,422}</string>
            </dict>
            <key>frame_hzlh_zy_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,1570},{143,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,86}}</string>
                <key>sourceSize</key>
                <string>{143,86}</string>
            </dict>
            <key>frame_hzlh_zy_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1884},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>frame_jingjichang_qizhi_VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1339},{227,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,228}}</string>
                <key>sourceSize</key>
                <string>{227,228}</string>
            </dict>
            <key>frame_jwzjl_lsdqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,817},{172,942}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,942}}</string>
                <key>sourceSize</key>
                <string>{172,942}</string>
            </dict>
            <key>frame_jwzjl_lsdqz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1570},{172,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,305}}</string>
                <key>sourceSize</key>
                <string>{172,305}</string>
            </dict>
            <key>frame_jwzjl_lsdqz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1366},{172,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,530}}</string>
                <key>sourceSize</key>
                <string>{172,530}</string>
            </dict>
            <key>frame_jwzjl_lvcl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,501},{268,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,464}}</string>
                <key>sourceSize</key>
                <string>{268,464}</string>
            </dict>
            <key>frame_khscz_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1707},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{148,150}</string>
            </dict>
            <key>frame_khscz_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1746},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>frame_khscz_kuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1884},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>frame_lace_activity_pillar.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1921},{81,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,188}}</string>
                <key>sourceSize</key>
                <string>{81,188}</string>
            </dict>
            <key>frame_lace_activity_silk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1940},{148,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,71}}</string>
                <key>sourceSize</key>
                <string>{148,71}</string>
            </dict>
            <key>frame_lace_activity_silk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1917},{112,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,226}}</string>
                <key>sourceSize</key>
                <string>{112,226}</string>
            </dict>
            <key>frame_lord_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,758},{288,264}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{288,264}}</string>
                <key>sourceSize</key>
                <string>{288,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>extraUI1.png</string>
            <key>size</key>
            <string>{2002,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4021deb7f8d0263de2ca82dd21d67f9d:1/1$</string>
            <key>textureFileName</key>
            <string>extraUI1.png</string>
        </dict>
    </dict>
</plist>
