<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icesnow_gift_background_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,546},{458,597}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{458,597}}</string>
                <key>sourceSize</key>
                <string>{458,645}</string>
            </dict>
            <key>ay_jpab.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1973},{203,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,37}}</string>
                <key>sourceSize</key>
                <string>{203,37}</string>
            </dict>
            <key>ay_jpz.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1653},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>bg_ZJM_gongnengqu_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,984},{640,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,74}}</string>
                <key>sourceSize</key>
                <string>{640,74}</string>
            </dict>
            <key>bg_ZJM_ht_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1279},{640,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,121}}</string>
                <key>sourceSize</key>
                <string>{640,121}</string>
            </dict>
            <key>en_jpsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1952},{203,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,37}}</string>
                <key>sourceSize</key>
                <string>{203,37}</string>
            </dict>
            <key>en_jpz.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1973},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>farmer_sdzjm_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,428},{640,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,55}}</string>
                <key>sourceSize</key>
                <string>{640,55}</string>
            </dict>
            <key>farmer_sdzjm_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,969},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>farmer_sdzjm_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1762},{235,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,124}}</string>
                <key>sourceSize</key>
                <string>{235,124}</string>
            </dict>
            <key>farmer_sdzjm_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1303},{171,42}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,42}}</string>
                <key>sourceSize</key>
                <string>{171,56}</string>
            </dict>
            <key>farmer_sdzjm_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1147},{640,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,128}}</string>
                <key>sourceSize</key>
                <string>{640,128}</string>
            </dict>
            <key>farmer_sdzjm_zdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1541},{257,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,72}}</string>
                <key>sourceSize</key>
                <string>{257,72}</string>
            </dict>
            <key>farmer_ycdy_tbk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1733},{161,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,159}}</string>
                <key>sourceSize</key>
                <string>{161,159}</string>
            </dict>
            <key>frame_easter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1478},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>frame_easter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1587},{640,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,62}}</string>
                <key>sourceSize</key>
                <string>{640,62}</string>
            </dict>
            <key>frame_easter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1519},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>frame_main_decoration_wsj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1934},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>frame_main_decoration_wsj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1896},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>frame_main_halloween_decoration1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1874},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>frame_main_halloween_decoration2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1721},{558,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,37}}</string>
                <key>sourceSize</key>
                <string>{558,37}</string>
            </dict>
            <key>frame_main_halloween_decoration3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1628},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>frame_main_halloween_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1404},{640,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,111}}</string>
                <key>sourceSize</key>
                <string>{640,111}</string>
            </dict>
            <key>frame_main_halloween_down01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1008},{640,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,135}}</string>
                <key>sourceSize</key>
                <string>{640,135}</string>
            </dict>
            <key>frame_main_halloween_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1466},{266,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,71}}</string>
                <key>sourceSize</key>
                <string>{266,71}</string>
            </dict>
            <key>frame_main_halloween_power01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1882},{396,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,87}}</string>
                <key>sourceSize</key>
                <string>{396,87}</string>
            </dict>
            <key>frame_main_halloween_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,969},{580,75}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{580,75}}</string>
                <key>sourceSize</key>
                <string>{640,75}</string>
            </dict>
            <key>frame_main_head_wsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1890},{234,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,114}}</string>
                <key>sourceSize</key>
                <string>{234,114}</string>
            </dict>
            <key>frame_pmh_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,969},{435,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,33}}</string>
                <key>sourceSize</key>
                <string>{435,33}</string>
            </dict>
            <key>frame_qcznew01_img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,3},{421,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,648}}</string>
                <key>sourceSize</key>
                <string>{421,648}</string>
            </dict>
            <key>frame_quest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1628},{320,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,204}}</string>
                <key>sourceSize</key>
                <string>{320,204}</string>
            </dict>
            <key>frame_spxt_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1252},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>frame_spxt_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1072},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>frame_starslight_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1617},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>frame_wwzdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1617},{217,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,112}}</string>
                <key>sourceSize</key>
                <string>{217,112}</string>
            </dict>
            <key>frame_xy_jd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,428},{551,537}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{551,537}}</string>
                <key>sourceSize</key>
                <string>{593,593}</string>
            </dict>
            <key>frame_xy_jd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,3},{559,539}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{559,539}}</string>
                <key>sourceSize</key>
                <string>{593,593}</string>
            </dict>
            <key>frame_ycdy_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,984},{640,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,171}}</string>
                <key>sourceSize</key>
                <string>{640,171}</string>
            </dict>
            <key>frame_ycdy_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1694},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>frame_ycdy_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,1750},{110,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{110,96}</string>
            </dict>
            <key>frame_ygg_curtain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1303},{267,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,159}}</string>
                <key>sourceSize</key>
                <string>{267,159}</string>
            </dict>
            <key>frame_ygg_curtain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,969},{320,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,330}}</string>
                <key>sourceSize</key>
                <string>{320,330}</string>
            </dict>
            <key>frame_ygg_curtain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1993},{19,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,134}}</string>
                <key>sourceSize</key>
                <string>{19,134}</string>
            </dict>
            <key>frame_ygg_curtain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1874},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>frame_ygg_curtain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{282,977}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,977}}</string>
                <key>sourceSize</key>
                <string>{282,977}</string>
            </dict>
            <key>icon_feast_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1896},{188,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{188,116}}</string>
                <key>sourceSize</key>
                <string>{196,152}</string>
            </dict>
            <key>icon_feast_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1750},{188,120}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{188,120}}</string>
                <key>sourceSize</key>
                <string>{196,152}</string>
            </dict>
            <key>icon_feast_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1432},{196,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,152}}</string>
                <key>sourceSize</key>
                <string>{196,152}</string>
            </dict>
            <key>icon_ycdy_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1553},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>icon_znxb_task_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1896},{116,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>title_Roman_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1762},{412,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,116}}</string>
                <key>sourceSize</key>
                <string>{412,116}</string>
            </dict>
            <key>title_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1653},{546,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,64}}</string>
                <key>sourceSize</key>
                <string>{546,64}</string>
            </dict>
            <key>yanba1_dj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1733},{158,170}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{158,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>yanba2_dj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1588},{158,194}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{158,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>extraUI2.png</string>
            <key>size</key>
            <string>{1503,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd978d80a6537a79a6fbee8d3a42eb85:1/1$</string>
            <key>textureFileName</key>
            <string>extraUI2.png</string>
        </dict>
    </dict>
</plist>
