<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hjyt_bjt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_sycb_bjt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_sycb_bjt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,1115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1115}}</string>
                <key>sourceSize</key>
                <string>{640,1115}</string>
            </dict>
            <key>bg_sycb_bjt03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1826},{115,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{115,119}</string>
            </dict>
            <key>icon_feast_lentils.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1899},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{96,100}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_feast_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1907},{76,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{76,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_feast_mutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1797},{106,106}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{106,106}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_feast_nut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1826},{118,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{118,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_feast_spice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1949},{126,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{126,70}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_feast_veg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1797},{118,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{118,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_sycb_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,612},{610,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,398}}</string>
                <key>sourceSize</key>
                <string>{610,398}</string>
            </dict>
            <key>icon_sycb_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1393},{429,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,210}}</string>
                <key>sourceSize</key>
                <string>{429,210}</string>
            </dict>
            <key>icon_sycb_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1014},{396,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,227}}</string>
                <key>sourceSize</key>
                <string>{396,227}</string>
            </dict>
            <key>icon_sycb_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1414},{379,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,229}}</string>
                <key>sourceSize</key>
                <string>{379,229}</string>
            </dict>
            <key>icon_sycb_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1014},{416,364}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{416,364}}</string>
                <key>sourceSize</key>
                <string>{432,364}</string>
            </dict>
            <key>icon_sycb_zs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{637,605}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,605}}</string>
                <key>sourceSize</key>
                <string>{637,605}</string>
            </dict>
            <key>icon_sycb_zs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1382},{340,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,358}}</string>
                <key>sourceSize</key>
                <string>{340,358}</string>
            </dict>
            <key>icon_sycb_zs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1744},{245,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,288}}</string>
                <key>sourceSize</key>
                <string>{245,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feastPrepare.png</string>
            <key>size</key>
            <string>{1941,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6142dd6f2537e9372e5f2e1b781544e:1/1$</string>
            <key>textureFileName</key>
            <string>feastPrepare.png</string>
        </dict>
    </dict>
</plist>
