<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_HJYT_JZcz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,849},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,689},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,833},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1045},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,529},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,369},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,209},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,3},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,209},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,418},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,627},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,839},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,3},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,212},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,421},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>dh_HJYT_JZcz_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{319,318}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,22},{319,318}}</string>
                <key>sourceSize</key>
                <string>{411,372}</string>
            </dict>
            <key>dh_HJYT_rq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,630},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,888},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,3},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,212},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,421},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,679},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,3},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,212},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,470},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,941},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,732},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,941},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,732},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1019},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_HJYT_rq_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,3},{169,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{169,205}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1150},{189,137}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,125},{189,137}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1009},{195,179}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,77},{195,179}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,326},{195,253}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,17},{195,253}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,611},{193,267}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,7},{193,267}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,896},{185,277}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{185,277}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,611},{151,281}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{151,281}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,326},{169,281}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{169,281}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1097},{181,199}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,50},{181,199}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1091},{197,203}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,50},{197,203}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,257},{209,209}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{209,209}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,511},{217,217}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{217,217}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1177},{107,183}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,53},{107,183}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1177},{103,179}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,54},{103,179}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1192},{95,163}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,56},{95,163}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1150},{93,127}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,57},{93,127}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1150},{93,125}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,59},{93,125}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,3},{91,123}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,60},{91,123}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,98},{89,121}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,62},{89,121}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,765},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1019},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,3},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,257},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,511},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,765},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,3},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,257},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,511},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,837},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,3},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,257},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,3},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,583},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
            <key>dh_SSZZ_jianzhuxunhuan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,882},{177,250}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{177,250}}</string>
                <key>sourceSize</key>
                <string>{249,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feastPrepare2.png</string>
            <key>size</key>
            <string>{2014,1291}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:999d1e1c54e65f2dcac01a6cc89659bc:1/1$</string>
            <key>textureFileName</key>
            <string>feastPrepare2.png</string>
        </dict>
    </dict>
</plist>
