<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_sycb01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,525},{226,252}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,80},{226,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,809},{396,398}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{396,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,3},{400,398}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{400,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,407},{400,398}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{400,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,405},{390,388}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{390,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,3},{370,364}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{370,364}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1211},{326,326}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{326,326}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1541},{276,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{276,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,951},{264,266}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,79},{264,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,525},{264,266}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,79},{264,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1481},{252,252}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,80},{252,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1221},{258,258}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{258,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1225},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{252,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1483},{252,258}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{252,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1745},{252,252}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,80},{252,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1737},{246,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{246,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1841},{150,182}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{150,182}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1825},{150,198}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,797},{150,230}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{150,230}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,795},{150,262}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{150,262}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,951},{150,270}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,949},{150,266}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{150,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,949},{150,276}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{150,276}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1533},{150,288}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{150,288}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,371},{150,286}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{150,286}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1541},{150,296}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,296}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,797},{150,284}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,284}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1835},{150,276}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,276}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,951},{150,256}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,256}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1440},{150,232}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,232}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1737},{150,212}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,212}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,371},{150,204}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,204}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1989},{34,30}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,92},{34,30}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_sycb02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,3},{82,66}}</string>
                <key>offset</key>
                <string>{-8,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,173},{82,66}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>dh_Tex_sycb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1219},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>dh_Tex_sycb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1676},{56,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{56,55}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>dh_Tex_sycb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1211},{318,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{318,196}}</string>
                <key>sourceSize</key>
                <string>{320,198}</string>
            </dict>
            <key>dh_Tex_sycb_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1229},{205,207}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{205,207}}</string>
                <key>sourceSize</key>
                <string>{225,209}</string>
            </dict>
            <key>dh_Tex_sycb_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1953},{52,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireworksCelebration2.png</string>
            <key>size</key>
            <string>{1308,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cc9926cb7a75ad0f5e3b33790836518:1/1$</string>
            <key>textureFileName</key>
            <string>fireworksCelebration2.png</string>
        </dict>
    </dict>
</plist>
