<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,476},{110,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{110,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_hyml_bjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,911},{142,138}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{142,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1134},{142,138}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{142,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,606},{142,138}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{142,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,748},{142,140}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{142,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1198},{140,140}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{140,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1056},{140,138}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{140,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1053},{140,138}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{140,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1066},{140,138}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{140,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,1058},{138,140}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{138,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1195},{140,140}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{140,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1047},{140,140}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{140,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,912},{140,140}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{140,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,596},{142,140}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,988},{142,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{142,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,545},{130,106}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1353},{130,108}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{130,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1129},{128,108}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{128,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1353},{128,110}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{128,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,948},{132,114}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{132,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,703},{130,112}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{130,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1353},{130,108}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{130,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1241},{130,108}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{130,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,883},{130,108}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{130,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,411},{130,106}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{130,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1342},{128,112}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{128,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1353},{130,110}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{130,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,892},{162,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{162,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,927},{164,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{164,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,740},{168,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{168,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,476},{168,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{168,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,957},{168,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{168,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1208},{168,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{168,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,995},{166,114}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{166,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1113},{168,110}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{168,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,529},{170,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{170,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1324},{170,112}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{170,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1286},{170,112}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{170,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,411},{168,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{168,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1170},{170,112}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{170,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,948},{172,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{172,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,715},{164,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{164,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_XL_hyml03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,545},{166,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{166,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dh_Tex_hyml_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,837},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>dh_Tex_hyml_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{320,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,600}}</string>
                <key>sourceSize</key>
                <string>{320,600}</string>
            </dict>
            <key>dh_Tex_hyml_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,679},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>dh_Tex_hyml_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1227},{123,111}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{123,111}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>dh_Tex_hyml_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1202},{134,130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{134,130}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>dh_Tex_hyml_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,342},{130,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,223}}</string>
                <key>sourceSize</key>
                <string>{130,223}</string>
            </dict>
            <key>dh_Tex_hyml_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,747},{152,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{152,160}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>dh_Tex_hyml_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,208},{199,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,226}}</string>
                <key>sourceSize</key>
                <string>{199,226}</string>
            </dict>
            <key>dh_Tex_hyml_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1410},{150,53}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,53}}</string>
                <key>sourceSize</key>
                <string>{150,67}</string>
            </dict>
            <key>dh_Tex_hyml_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,653},{368,90}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{368,90}}</string>
                <key>sourceSize</key>
                <string>{386,130}</string>
            </dict>
            <key>dh_Tex_hyml_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1066},{182,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,100}}</string>
                <key>sourceSize</key>
                <string>{192,100}</string>
            </dict>
            <key>dh_Tex_hyml_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,3},{160,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,39}}</string>
                <key>sourceSize</key>
                <string>{160,47}</string>
            </dict>
            <key>frame_cqjw_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,208},{117,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,13}}</string>
                <key>sourceSize</key>
                <string>{117,13}</string>
            </dict>
            <key>frame_hyml_bm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1280},{123,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,127}}</string>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>frame_hyml_bm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1191},{123,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,125}}</string>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>frame_hyml_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,3},{243,201}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{243,201}}</string>
                <key>sourceSize</key>
                <string>{249,201}</string>
            </dict>
            <key>frame_hyml_hqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{133,981}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,981}}</string>
                <key>sourceSize</key>
                <string>{211,981}</string>
            </dict>
            <key>frame_hyml_hz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,3},{289,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,335}}</string>
                <key>sourceSize</key>
                <string>{289,335}</string>
            </dict>
            <key>frame_hyml_jlyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,3},{640,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,436}}</string>
                <key>sourceSize</key>
                <string>{640,436}</string>
            </dict>
            <key>frame_hyml_jlyl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,443},{596,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,206}}</string>
                <key>sourceSize</key>
                <string>{596,206}</string>
            </dict>
            <key>frame_hyml_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,806},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>frame_hyml_tsjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,747},{230,176}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,176}}</string>
                <key>sourceSize</key>
                <string>{230,192}</string>
            </dict>
            <key>frame_hyml_xkk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1353},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>frame_hyml_xkk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,653},{246,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,240}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>jiangliyulan_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,897},{233,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,47}}</string>
                <key>sourceSize</key>
                <string>{233,47}</string>
            </dict>
            <key>jiangliyulan_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1143},{263,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,30}}</string>
                <key>sourceSize</key>
                <string>{263,30}</string>
            </dict>
            <key>monsterpalace_box4_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1342},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{96,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flameSecretOrder.png</string>
            <key>size</key>
            <string>{2041,1466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f56751b58ffea7c132806a7d01bfd1b7:1/1$</string>
            <key>textureFileName</key>
            <string>flameSecretOrder.png</string>
        </dict>
    </dict>
</plist>
