<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G_ygg_axd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,982},{140,122}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,73},{140,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>bg_ygg_dhk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1640},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>frame_cz_shouchongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,3},{319,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,41}}</string>
                <key>sourceSize</key>
                <string>{319,41}</string>
            </dict>
            <key>frame_cz_shouchongdi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,3},{640,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,91}}</string>
                <key>sourceSize</key>
                <string>{640,91}</string>
            </dict>
            <key>frame_cz_sign_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1446},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>frame_shmc_bargreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,3},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>frame_ygg_bazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1544},{241,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,227}}</string>
                <key>sourceSize</key>
                <string>{241,227}</string>
            </dict>
            <key>frame_ygg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>frame_ygg_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1536},{350,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,4}}</string>
                <key>sourceSize</key>
                <string>{350,4}</string>
            </dict>
            <key>frame_ygg_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>frame_ygg_deng_kelingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1775},{108,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,176}}</string>
                <key>sourceSize</key>
                <string>{108,176}</string>
            </dict>
            <key>frame_ygg_deng_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,752},{92,176}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,176}}</string>
                <key>sourceSize</key>
                <string>{108,176}</string>
            </dict>
            <key>frame_ygg_fenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,523},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>frame_ygg_introducebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1619},{552,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,46}}</string>
                <key>sourceSize</key>
                <string>{552,46}</string>
            </dict>
            <key>frame_ygg_introducebg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1686},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>frame_ygg_jiesuan_aixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1371},{83,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{83,71}</string>
            </dict>
            <key>frame_ygg_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,1712},{98,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,3}}</string>
                <key>sourceSize</key>
                <string>{98,3}</string>
            </dict>
            <key>frame_ygg_llk_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1669},{236,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,161}}</string>
                <key>sourceSize</key>
                <string>{236,161}</string>
            </dict>
            <key>frame_ygg_qmd_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,27},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>frame_ygg_qmd_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1834},{4,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{4,67}}</string>
                <key>sourceSize</key>
                <string>{4,69}</string>
            </dict>
            <key>frame_ygg_qmd_yuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1775},{126,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{126,104}</string>
            </dict>
            <key>frame_ygg_qmdbj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1396},{538,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,136}}</string>
                <key>sourceSize</key>
                <string>{538,136}</string>
            </dict>
            <key>frame_ygg_tip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1446},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>frame_ygg_yc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1694},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>frame_ygg_yc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1396},{95,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,118}}</string>
                <key>sourceSize</key>
                <string>{95,118}</string>
            </dict>
            <key>frame_ygg_yc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1754},{122,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,129}}</string>
                <key>sourceSize</key>
                <string>{122,129}</string>
            </dict>
            <key>frame_ygg_yc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,1126},{116,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,141}}</string>
                <key>sourceSize</key>
                <string>{116,141}</string>
            </dict>
            <key>frame_ygg_yc_dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1126},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>frame_ygg_yx_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1393},{640,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,222}}</string>
                <key>sourceSize</key>
                <string>{640,222}</string>
            </dict>
            <key>frame_ygg_yx_zs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1754},{320,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,129}}</string>
                <key>sourceSize</key>
                <string>{320,129}</string>
            </dict>
            <key>frame_ygg_yx_zs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1669},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>frame_ygg_yx_zs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1544},{182,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,115}}</string>
                <key>sourceSize</key>
                <string>{182,115}</string>
            </dict>
            <key>frame_ygg_yx_zs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1536},{63,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,154}}</string>
                <key>sourceSize</key>
                <string>{63,160}</string>
            </dict>
            <key>frame_ygg_yx_zs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1683},{75,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,84}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>frame_ygg_yx_zs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,523},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>frame_ygg_yx_zs_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1820},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>frame_ygg_zb_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,752},{640,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,553}}</string>
                <key>sourceSize</key>
                <string>{640,553}</string>
            </dict>
            <key>frame_ygg_zhujiemian_aixindi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1619},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>frame_ygg_zhujiemian_dk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1705},{150,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,127}}</string>
                <key>sourceSize</key>
                <string>{150,127}</string>
            </dict>
            <key>frame_yjyh_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,752},{536,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,3}}</string>
                <key>sourceSize</key>
                <string>{536,3}</string>
            </dict>
            <key>framer_ygg_tbd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,289}}</string>
                <key>sourceSize</key>
                <string>{640,289}</string>
            </dict>
            <key>framer_ygg_tbd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,848},{134,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,130}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>icon_ygg_duihuaqipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1518},{117,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,118}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>icon_ygg_gamefont_1_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1754},{114,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,25}}</string>
                <key>sourceSize</key>
                <string>{114,25}</string>
            </dict>
            <key>icon_ygg_gamefont_1_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,848},{120,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,34}}</string>
                <key>sourceSize</key>
                <string>{120,34}</string>
            </dict>
            <key>icon_ygg_gamefont_2_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,326},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>icon_ygg_gamefont_2_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,326},{102,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,35}}</string>
                <key>sourceSize</key>
                <string>{102,35}</string>
            </dict>
            <key>icon_ygg_gamefont_3_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1859},{99,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,23}}</string>
                <key>sourceSize</key>
                <string>{99,23}</string>
            </dict>
            <key>icon_ygg_gamefont_3_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,432},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>icon_ygg_peach_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,615},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>icon_ygg_shongli_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,523},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>icon_ygg_shongli_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1754},{157,129}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{157,129}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>icon_ygg_shongli_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1536},{163,165}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{163,165}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>icon_ygg_shongli_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1730},{155,153}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{155,153}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>icon_ygg_zhuye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,647},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_ygg_zhuye_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1292},{100,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_ygg_zhuye_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1273},{82,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{82,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_ygg_zhuye_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1712},{92,84}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_yygyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,584},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>js_ygg_jf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{580,745}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,745}}</string>
                <key>sourceSize</key>
                <string>{580,745}</string>
            </dict>
            <key>quest_ygg_Research.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1640},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{72,68}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foreignPavilion.png</string>
            <key>size</key>
            <string>{2034,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a6a786f7764b49da8fe7752d30c8fb:1/1$</string>
            <key>textureFileName</key>
            <string>foreignPavilion.png</string>
        </dict>
    </dict>
</plist>
