<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G_ygg_aixin_max01.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,207},{222,176}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{222,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,877},{222,174}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{222,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,3},{222,178}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{222,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max04.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,387},{220,180}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,38},{220,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,3},{220,184}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,35},{220,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,3},{218,186}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{218,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,3},{216,186}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{216,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max08.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,398},{214,186}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{214,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max09.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,398},{204,192}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{204,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,398},{192,198}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{192,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,594},{188,200}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,23},{188,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max12.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,594},{188,208}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,20},{188,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max13.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,853},{188,212}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,19},{188,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max14.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,847},{188,212}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,19},{188,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max15.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,621},{188,214}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,18},{188,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max16.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,655},{188,212}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{188,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max17.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,834},{190,212}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,22},{190,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max18.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,640},{190,214}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{190,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max19.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,813},{192,212}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{192,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,786},{202,206}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{202,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max21.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,217},{206,208}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{206,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max22.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,3},{212,210}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{212,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,215},{218,208}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{218,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{218,208}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{218,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max25.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,427},{220,202}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{220,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max26.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,651},{222,200}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{222,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max27.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,3},{222,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{222,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max28.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,3},{222,190}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{222,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max29.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,3},{222,190}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{222,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_aixin_max30.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,427},{222,190}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{222,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>G_ygg_fly1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,387},{1,1}}</string>
                <key>offset</key>
                <string>{-37,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1029},{23,48}}</string>
                <key>offset</key>
                <string>{-6,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,334},{23,48}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,996},{33,82}}</string>
                <key>offset</key>
                <string>{-5,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,307},{33,82}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,996},{53,114}}</string>
                <key>offset</key>
                <string>{2,-132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,275},{53,114}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,623},{61,138}}</string>
                <key>offset</key>
                <string>{1,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,247},{61,138}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,659},{61,170}}</string>
                <key>offset</key>
                <string>{0,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,210},{61,170}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,250},{63,196}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,182},{63,196}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,588},{63,216}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,156},{63,216}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,786},{63,228}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,139},{63,228}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,185},{61,242}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,113},{61,242}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,193},{57,272}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,90},{57,272}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,197},{61,324}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{61,324}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,262},{63,322}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{63,322}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,329},{65,290}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{65,290}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,329},{65,282}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{65,282}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,258},{67,270}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,34},{67,270}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,254},{71,254}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,42},{71,254}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,571},{65,218}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,49},{65,218}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,191},{63,198}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{63,198}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,479},{55,170}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,64},{55,170}}</string>
                <key>sourceSize</key>
                <string>{75,400}</string>
            </dict>
            <key>G_ygg_fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,387},{1,1}}</string>
                <key>offset</key>
                <string>{-94.5,94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,513},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,329},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,329},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,513},{178,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{178,178}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,697},{176,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{176,176}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,695},{174,174}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{174,174}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,877},{170,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{170,170}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,317},{170,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{170,168}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,491},{166,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{166,164}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,317},{158,158}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{158,158}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,479},{142,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{142,140}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,850},{120,116}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{120,116}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,724},{122,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{122,116}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,877},{124,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,36},{124,116}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,850},{126,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{126,118}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,193},{128,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{128,120}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,724},{130,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{130,122}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,197},{128,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{128,122}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,820},{126,114}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{126,114}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>G_ygg_fly_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,688},{128,114}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,41},{128,114}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foreignPavilionEffect2.png</string>
            <key>size</key>
            <string>{2033,1055}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e251b536638a576ab991358d1ce30c63:1/1$</string>
            <key>textureFileName</key>
            <string>foreignPavilionEffect2.png</string>
        </dict>
    </dict>
</plist>
