<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_lb_gmcg_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{533,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,677}}</string>
                <key>sourceSize</key>
                <string>{533,677}</string>
            </dict>
            <key>bg_lb_gmcg_qjtbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,3},{294,294}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{294,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg_lb_gmcg_qjtrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,3},{354,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,292}}</string>
                <key>sourceSize</key>
                <string>{354,292}</string>
            </dict>
            <key>bg_llhl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,299},{42,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,330}}</string>
                <key>sourceSize</key>
                <string>{42,330}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,345},{10,30}}</string>
                <key>offset</key>
                <string>{60,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{10,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1033},{36,30}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,1027},{62,30}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,857},{88,30}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,593},{114,30}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,593},{110,30}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1098},{84,30}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,813},{60,30}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,661},{34,30}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_XL_lrhl05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,1015},{8,24}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{8,24}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>dh_Tex_lrhl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1027},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>dh_Tex_lrhl_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,1093},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>dh_Tex_lrhl_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1033},{139,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,33}}</string>
                <key>sourceSize</key>
                <string>{139,33}</string>
            </dict>
            <key>dh_Tex_lrhl_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,684},{320,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,82}}</string>
                <key>sourceSize</key>
                <string>{320,82}</string>
            </dict>
            <key>dh_Tex_lrhl_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,700},{116,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{116,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_Tex_lrhl_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,932},{160,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,64}}</string>
                <key>sourceSize</key>
                <string>{160,84}</string>
            </dict>
            <key>dh_libaogoumai1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,751},{320,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,90}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,345},{320,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,88}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,937},{320,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,88}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,301},{318,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{318,86}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,481},{314,86}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{314,86}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,619},{306,86}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{306,86}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,571},{306,86}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{306,86}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,759},{312,88}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{312,88}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,851},{314,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{314,88}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,527},{316,88}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{316,88}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,391},{316,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{316,86}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,943},{318,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{318,86}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,437},{320,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,86}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,845},{320,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,88}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,657},{320,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,90}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>dh_libaogoumai2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,985},{38,20}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,80},{38,20}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,877},{52,34}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,66},{52,34}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,711},{56,48}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,52},{56,48}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,487},{56,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,375},{52,60}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,763},{46,56}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{46,56}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,439},{44,52}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,52}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,933},{46,48}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,549},{40,36}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,549},{32,24}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1117},{10,12}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,1},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>dh_libaogoumai3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,810},{144,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{144,98}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,709},{144,98}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{144,98}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1024},{144,104}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{144,104}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,700},{144,106}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{144,106}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,912},{142,108}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{142,108}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,481},{140,108}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{140,108}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,820},{140,108}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{140,108}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,703},{140,106}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{140,106}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,593},{140,106}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{140,106}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,813},{140,104}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{140,104}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1027},{140,102}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{140,102}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,921},{140,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{140,102}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,375},{142,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{142,102}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1029},{142,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{142,100}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_libaogoumai3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1029},{144,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{144,100}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>frame_lb_gmcg_zs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1070},{142,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,20}}</string>
                <key>sourceSize</key>
                <string>{142,20}</string>
            </dict>
            <key>frame_lb_gmcg_zs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,661},{35,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,268}}</string>
                <key>sourceSize</key>
                <string>{35,268}</string>
            </dict>
            <key>frame_lb_gmcg_zs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1094},{141,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,14}}</string>
                <key>sourceSize</key>
                <string>{141,14}</string>
            </dict>
            <key>frame_lb_gmcg_zs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,709},{230,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,27}}</string>
                <key>sourceSize</key>
                <string>{230,27}</string>
            </dict>
            <key>frame_lb_gmcg_zs05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,740},{155,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,217}}</string>
                <key>sourceSize</key>
                <string>{155,217}</string>
            </dict>
            <key>frame_lb_gmcg_zs06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,3},{368,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{368,198}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>frame_llhl_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1033},{131,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,67}}</string>
                <key>sourceSize</key>
                <string>{131,67}</string>
            </dict>
            <key>frame_llhl_huojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,657},{298,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,98}}</string>
                <key>sourceSize</key>
                <string>{298,98}</string>
            </dict>
            <key>frame_llhl_zhangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,684},{458,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,429}}</string>
                <key>sourceSize</key>
                <string>{458,429}</string>
            </dict>
            <key>frame_llhl_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1029},{99,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,65}}</string>
                <key>sourceSize</key>
                <string>{99,65}</string>
            </dict>
            <key>frame_llhl_zhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,3},{641,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,326}}</string>
                <key>sourceSize</key>
                <string>{641,326}</string>
            </dict>
            <key>frame_ygg_curtain_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,333},{320,637}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,637}}</string>
                <key>sourceSize</key>
                <string>{320,637}</string>
            </dict>
            <key>icon_llhl_chouti_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,899},{230,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,144}}</string>
                <key>sourceSize</key>
                <string>{230,144}</string>
            </dict>
            <key>icon_llhl_chouti_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,899},{230,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,144}}</string>
                <key>sourceSize</key>
                <string>{230,144}</string>
            </dict>
            <key>icon_llhl_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1000},{130,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,119}}</string>
                <key>sourceSize</key>
                <string>{130,119}</string>
            </dict>
            <key>llhl_token.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,985},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gemGoods.png</string>
            <key>size</key>
            <string>{2042,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:479ebba10ac131a45f0e6423a3af8415:1/1$</string>
            <key>textureFileName</key>
            <string>gemGoods.png</string>
        </dict>
    </dict>
</plist>
