<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_yingxiongtcbx4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,288},{258,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,138}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,377},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,145},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,145},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,2},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,2},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,145},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,325},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,288},{258,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{258,138}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{258,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,377},{256,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_yingxiongtcbx4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,377},{256,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>frame_wzzl_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,478},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>frame_wzzl_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,478},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>frame_wzzl_decoration_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{318,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,320}}</string>
                <key>sourceSize</key>
                <string>{318,320}</string>
            </dict>
            <key>frame_wzzl_hero_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{312,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,292}}</string>
                <key>sourceSize</key>
                <string>{312,292}</string>
            </dict>
            <key>frame_wzzl_hero_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{294,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,318}}</string>
                <key>sourceSize</key>
                <string>{294,318}</string>
            </dict>
            <key>frame_wzzl_namebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,297},{288,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,77}}</string>
                <key>sourceSize</key>
                <string>{288,77}</string>
            </dict>
            <key>frame_wzzl_namebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,429},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,58}}</string>
                <key>sourceSize</key>
                <string>{86,58}</string>
            </dict>
            <key>frame_wzzl_resource_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame_wzzl_yxtc_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,338},{163,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,45}}</string>
                <key>sourceSize</key>
                <string>{163,45}</string>
            </dict>
            <key>frame_wzzl_yxtc_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,288},{193,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,47}}</string>
                <key>sourceSize</key>
                <string>{193,47}</string>
            </dict>
            <key>frame_wzzl_yxtc_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,325},{155,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,44}}</string>
                <key>sourceSize</key>
                <string>{155,44}</string>
            </dict>
            <key>frame_wzzl_zbtc_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,429},{167,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,45}}</string>
                <key>sourceSize</key>
                <string>{167,45}</string>
            </dict>
            <key>frame_wzzl_zbtc_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{303,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,46}}</string>
                <key>sourceSize</key>
                <string>{303,46}</string>
            </dict>
            <key>frame_wzzl_zbtc_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,323},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>frame_wzzl_zytc_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,468},{185,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,45}}</string>
                <key>sourceSize</key>
                <string>{185,45}</string>
            </dict>
            <key>frame_wzzl_zytc_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,429},{264,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,46}}</string>
                <key>sourceSize</key>
                <string>{264,46}</string>
            </dict>
            <key>frame_wzzl_zytc_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,386},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gloryGift.png</string>
            <key>size</key>
            <string>{2040,519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96dd810a087d670d09bb57384ceba67a:1/1$</string>
            <key>textureFileName</key>
            <string>gloryGift.png</string>
        </dict>
    </dict>
</plist>
