<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_guide_carriage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1131},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>bg_guide_carriage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1101},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>frame_guide_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,3},{615,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,124}}</string>
                <key>sourceSize</key>
                <string>{615,124}</string>
            </dict>
            <key>frame_guide_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,3},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>frame_guide_lace_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,588},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>frame_xsyd_dhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,3},{640,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,239}}</string>
                <key>sourceSize</key>
                <string>{640,239}</string>
            </dict>
            <key>icon_guide_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{583,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,581}}</string>
                <key>sourceSize</key>
                <string>{583,581}</string>
            </dict>
            <key>icon_guide_bubing.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1066},{366,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,489}}</string>
                <key>sourceSize</key>
                <string>{366,489}</string>
            </dict>
            <key>icon_guide_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1235},{86,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,29},{86,72}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_guide_gongbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,647},{344,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,450}}</string>
                <key>sourceSize</key>
                <string>{344,450}</string>
            </dict>
            <key>icon_guide_qibing.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,588},{573,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,474}}</string>
                <key>sourceSize</key>
                <string>{573,474}</string>
            </dict>
            <key>icon_guide_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1325},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>icon_guide_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1066},{32,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,165}}</string>
                <key>sourceSize</key>
                <string>{32,165}</string>
            </dict>
            <key>icon_xsyd_tg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1066},{61,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,35}}</string>
                <key>sourceSize</key>
                <string>{61,35}</string>
            </dict>
            <key>title_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,622},{615,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,55}}</string>
                <key>sourceSize</key>
                <string>{615,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guideUI.png</string>
            <key>size</key>
            <string>{986,1435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62d5fa1bcce5fbc03c7c4e37103c82e4:1/1$</string>
            <key>textureFileName</key>
            <string>guideUI.png</string>
        </dict>
    </dict>
</plist>
