<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_yncysd_bjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>dh_tzgj4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1579},{124,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{124,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,911},{124,120}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,783},{124,120}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,655},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1723},{124,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1423},{124,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1295},{124,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1167},{124,124}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1039},{124,124}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1723},{124,124}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1835},{124,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{124,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1707},{124,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{124,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1851},{124,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{124,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1851},{124,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{124,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_tzgj4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1551},{124,112}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{124,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_younicysd1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1738},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1534},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1330},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1267},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1063},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1126},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1755},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1551},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1347},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1143},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,859},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1702},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1498},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,655},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_younicysd1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1294},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>frame_yncysd_activity1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1621},{250,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,323}}</string>
                <key>sourceSize</key>
                <string>{250,323}</string>
            </dict>
            <key>frame_yncysd_activity2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,3},{250,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,323}}</string>
                <key>sourceSize</key>
                <string>{250,323}</string>
            </dict>
            <key>frame_yncysd_activity3.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,657},{250,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,322}}</string>
                <key>sourceSize</key>
                <string>{250,322}</string>
            </dict>
            <key>frame_yncysd_activity4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,330},{250,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,321}}</string>
                <key>sourceSize</key>
                <string>{250,321}</string>
            </dict>
            <key>frame_yncysd_activity4_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,330},{250,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,323}}</string>
                <key>sourceSize</key>
                <string>{250,323}</string>
            </dict>
            <key>frame_yncysd_activity4_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1294},{250,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,323}}</string>
                <key>sourceSize</key>
                <string>{250,323}</string>
            </dict>
            <key>frame_yncysd_activity4_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{250,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,323}}</string>
                <key>sourceSize</key>
                <string>{250,323}</string>
            </dict>
            <key>frame_yncysd_bkk.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1471},{149,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,104}}</string>
                <key>sourceSize</key>
                <string>{149,104}</string>
            </dict>
            <key>frame_yncysd_bxzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,983},{224,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,139}}</string>
                <key>sourceSize</key>
                <string>{224,139}</string>
            </dict>
            <key>frame_yncysd_gdds.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{498,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,147}}</string>
                <key>sourceSize</key>
                <string>{498,147}</string>
            </dict>
            <key>frame_yncysd_rewardbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1579},{142,140}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{142,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>frame_yncysd_rr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,269},{214,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,62}}</string>
                <key>sourceSize</key>
                <string>{214,62}</string>
            </dict>
            <key>frame_yncysd_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,3},{262,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{262,48}}</string>
                <key>sourceSize</key>
                <string>{262,50}</string>
            </dict>
            <key>frame_yncysd_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,3},{220,48}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{220,48}}</string>
                <key>sourceSize</key>
                <string>{262,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h5Activity.png</string>
            <key>size</key>
            <string>{1258,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:787170d788e3cf7acf2f6c13027692a3:1/1$</string>
            <key>textureFileName</key>
            <string>h5Activity.png</string>
        </dict>
    </dict>
</plist>
