<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headframe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1403},{122,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{122,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,939},{128,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{128,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1047},{116,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{116,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1029},{116,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{116,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,275},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,781},{118,120}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{118,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,939},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{122,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,3},{92,106}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{92,106}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1167},{122,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{122,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1183},{128,118}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,273},{128,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,903},{122,116}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{122,116}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1065},{114,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1643},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,677},{132,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1067},{122,130}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1305},{124,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{124,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1433},{122,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{122,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1639},{118,118}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1765},{110,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{110,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1281},{118,122}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{118,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,257},{96,114}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1879},{116,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,795},{112,114}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{112,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,531},{124,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{124,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,405},{128,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,809},{130,126}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1521},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{114,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,411},{132,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1561},{126,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{126,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1817},{114,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{114,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,541},{130,126}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1529},{110,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{110,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1473},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1691},{122,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,405},{108,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{108,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,675},{130,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1609},{130,122}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{130,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,913},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{118,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{132,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1883},{100,106}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{100,106}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,139},{132,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,659},{118,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{118,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1403},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{114,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1337},{120,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,545},{132,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1761},{108,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{108,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,809},{124,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{124,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,541},{110,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{110,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1201},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1281},{118,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{118,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,137},{96,116}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{96,116}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1743},{118,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,675},{112,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{112,116}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,137},{128,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1151},{108,112}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{108,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,403},{120,124}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{120,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,273},{132,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_classics.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1935},{98,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{98,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>headframe_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1935},{98,126}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headframe.png</string>
            <key>size</key>
            <string>{506,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69b9510c6b0f82f14242db728a4c37cf:1/1$</string>
            <key>textureFileName</key>
            <string>headframe.png</string>
        </dict>
    </dict>
</plist>
