<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_hegemon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,129},{57,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{57,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,192},{55,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,129},{55,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{55,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,66},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{55,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,66},{59,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,135},{59,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,3},{59,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,70},{59,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,3},{59,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,198},{43,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,3},{63,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,3},{63,59}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{63,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hegemon_allianceRanking.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,3},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>icon_hegemon_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,147},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>icon_hegemon_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,127},{111,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>sourceSize</key>
                <string>{111,115}</string>
            </dict>
            <key>icon_hegemon_country.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,147},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>icon_hegemon_honer.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,125},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>icon_hegemon_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,112},{94,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,95}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>icon_hegemon_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,188},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_hegemon_land_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,3},{122,118}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{122,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_hegemon_otercountry.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,3},{120,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,107}</string>
            </dict>
            <key>icon_hegemon_owncountry.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,129},{122,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,117}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>icon_hegemon_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,3},{118,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,107}}</string>
                <key>sourceSize</key>
                <string>{118,107}</string>
            </dict>
            <key>icon_world_hegemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{140,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,108}}</string>
                <key>sourceSize</key>
                <string>{140,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hegemonUI.png</string>
            <key>size</key>
            <string>{829,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c76f6c3ee7f0d52a4ca048b2b48598:1/1$</string>
            <key>textureFileName</key>
            <string>hegemonUI.png</string>
        </dict>
    </dict>
</plist>
