<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yxhy_1700.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,625},{172,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,251}}</string>
                <key>sourceSize</key>
                <string>{172,251}</string>
            </dict>
            <key>yxhy_1701.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,809},{147,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,204}}</string>
                <key>sourceSize</key>
                <string>{147,204}</string>
            </dict>
            <key>yxhy_1702.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,690},{112,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,262}}</string>
                <key>sourceSize</key>
                <string>{112,262}</string>
            </dict>
            <key>yxhy_1703.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,241},{165,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,227}}</string>
                <key>sourceSize</key>
                <string>{165,227}</string>
            </dict>
            <key>yxhy_1704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{230,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,307}}</string>
                <key>sourceSize</key>
                <string>{230,307}</string>
            </dict>
            <key>yxhy_1705.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,550},{172,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,237}}</string>
                <key>sourceSize</key>
                <string>{172,237}</string>
            </dict>
            <key>yxhy_1706.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,307},{178,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,252}}</string>
                <key>sourceSize</key>
                <string>{178,252}</string>
            </dict>
            <key>yxhy_1707.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,421},{124,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,210}}</string>
                <key>sourceSize</key>
                <string>{124,210}</string>
            </dict>
            <key>yxhy_1708.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,440},{146,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,235}}</string>
                <key>sourceSize</key>
                <string>{146,235}</string>
            </dict>
            <key>yxhy_1709.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,562},{183,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,244}}</string>
                <key>sourceSize</key>
                <string>{183,244}</string>
            </dict>
            <key>yxhy_1710.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,790},{155,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,206}}</string>
                <key>sourceSize</key>
                <string>{155,206}</string>
            </dict>
            <key>yxhy_1712.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,678},{177,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,182}}</string>
                <key>sourceSize</key>
                <string>{177,182}</string>
            </dict>
            <key>yxhy_1713.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,759},{195,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,186}}</string>
                <key>sourceSize</key>
                <string>{195,186}</string>
            </dict>
            <key>yxhy_1714.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,344},{162,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,278}}</string>
                <key>sourceSize</key>
                <string>{162,278}</string>
            </dict>
            <key>yxhy_1716.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,440},{151,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,235}}</string>
                <key>sourceSize</key>
                <string>{151,235}</string>
            </dict>
            <key>yxhy_1718.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,2},{195,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,231}}</string>
                <key>sourceSize</key>
                <string>{195,231}</string>
            </dict>
            <key>yxhy_1719.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,678},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>yxhy_1720.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,409},{133,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,237}}</string>
                <key>sourceSize</key>
                <string>{133,237}</string>
            </dict>
            <key>yxhy_1721.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,545},{192,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,211}}</string>
                <key>sourceSize</key>
                <string>{192,211}</string>
            </dict>
            <key>yxhy_1722.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,831},{163,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,216}}</string>
                <key>sourceSize</key>
                <string>{163,216}</string>
            </dict>
            <key>yxhy_1723.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,306},{188,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,241}}</string>
                <key>sourceSize</key>
                <string>{188,241}</string>
            </dict>
            <key>yxhy_1725.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,236},{182,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,209}}</string>
                <key>sourceSize</key>
                <string>{182,209}</string>
            </dict>
            <key>yxhy_1726.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{225,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{225,236}}</string>
                <key>sourceSize</key>
                <string>{225,238}</string>
            </dict>
            <key>yxhy_1727.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{215,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,233}}</string>
                <key>sourceSize</key>
                <string>{215,233}</string>
            </dict>
            <key>yxhy_1728.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,238},{222,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,199}}</string>
                <key>sourceSize</key>
                <string>{222,199}</string>
            </dict>
            <key>yxhy_1729.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{267,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,302}}</string>
                <key>sourceSize</key>
                <string>{267,304}</string>
            </dict>
            <key>yxhy_1730.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{296,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,343}}</string>
                <key>sourceSize</key>
                <string>{296,343}</string>
            </dict>
            <key>yxhy_1731.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{205,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,301}}</string>
                <key>sourceSize</key>
                <string>{205,301}</string>
            </dict>
            <key>yxhy_1732.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,339}}</string>
                <key>sourceSize</key>
                <string>{366,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroShieldUI.png</string>
            <key>size</key>
            <string>{1515,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c292a39af2c7f8b8aa4041a5823be0c7:1/1$</string>
            <key>textureFileName</key>
            <string>heroShieldUI.png</string>
        </dict>
    </dict>
</plist>
