<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_yxmz_xingkong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,848},{640,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,684}}</string>
                <key>sourceSize</key>
                <string>{640,684}</string>
            </dict>
            <key>bg_yxmz_xzbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1109,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1109,852}}</string>
                <key>sourceSize</key>
                <string>{1109,852}</string>
            </dict>
            <key>farme_yxzm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1473},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>farme_yxzm_dz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,3},{807,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{807,136}}</string>
                <key>sourceSize</key>
                <string>{841,136}</string>
            </dict>
            <key>farme_yxzm_dz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,3},{841,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{841,519}}</string>
                <key>sourceSize</key>
                <string>{841,519}</string>
            </dict>
            <key>frame_ygg_iconbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1283},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>frame_yxmz_xz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,859},{332,610}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{332,610}}</string>
                <key>sourceSize</key>
                <string>{344,624}</string>
            </dict>
            <key>frame_yxmz_xz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,859},{435,737}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{435,737}}</string>
                <key>sourceSize</key>
                <string>{457,737}</string>
            </dict>
            <key>frame_yxmz_xz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,781},{226,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,194}}</string>
                <key>sourceSize</key>
                <string>{226,194}</string>
            </dict>
            <key>frame_yxmz_xz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1298},{194,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,364}}</string>
                <key>sourceSize</key>
                <string>{194,364}</string>
            </dict>
            <key>frame_yxmz_xz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,277},{264,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,187}}</string>
                <key>sourceSize</key>
                <string>{264,187}</string>
            </dict>
            <key>frame_yxmz_xz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,3},{199,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,270}}</string>
                <key>sourceSize</key>
                <string>{199,270}</string>
            </dict>
            <key>frame_yxmz_xz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1298},{282,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,221}}</string>
                <key>sourceSize</key>
                <string>{282,221}</string>
            </dict>
            <key>frame_yxmz_xz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,545},{190,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,232}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>icon_hero_luckypoint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1387},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>icon_hero_luckypoint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1298},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>icon_yxmz_closebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1011},{126,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_yxmz_openbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1147},{122,132}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroSecret.png</string>
            <key>size</key>
            <string>{2001,1531}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d44b312c808436cb7509deeb12f56ba0:1/1$</string>
            <key>textureFileName</key>
            <string>heroSecret.png</string>
        </dict>
    </dict>
</plist>
