<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_YX_xiaobeijing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,587},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,587},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,295},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing15.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,295},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing16.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,3},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing17.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,3},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,587},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,295},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroUISBg.png</string>
            <key>size</key>
            <string>{584,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2da66404c35dac7cdccfad27e957bff:1/1$</string>
            <key>textureFileName</key>
            <string>heroUISBg.png</string>
        </dict>
    </dict>
</plist>
