<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_card_1700.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,975},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1169},{190,264}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{190,264}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1702.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,975},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1703.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1078},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1704.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,975},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1705.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,683},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1706.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,683},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1707.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,489},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1708.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,3},{190,260}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,34},{190,260}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1709.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,781},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1710.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,683},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1711.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,489},{190,270}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{190,270}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1712.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,683},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_171202.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,786},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1713.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,786},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1714.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,683},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1715.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1169},{190,266}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{190,266}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1716.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,489},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1717.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1169},{190,274}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{190,274}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1718.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,489},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1719.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1169},{190,262}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{190,262}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_171902.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{194,294}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,294}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1720.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,494},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1721.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,785},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1722.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,494},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1723.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,489},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_172302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,197},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1724.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,197},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1725.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1077},{190,282}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{190,282}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1726.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,3},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1727.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,197},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1728.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1169},{190,284}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{190,284}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1729.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,3},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1730.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,197},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1731.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,3},{195,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,292}}</string>
                <key>sourceSize</key>
                <string>{195,292}</string>
            </dict>
            <key>hero_card_1732.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,197},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1733.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,3},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1734.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,295},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_173402.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,202},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1735.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,493},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1736.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,786},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_173602.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,202},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1737.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,3},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_1738.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,201},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>hero_card_173802.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,975},{190,286}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{190,286}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroCardUI.png</string>
            <key>size</key>
            <string>{1930,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c7bbe04698567fe609681fae74efde7:1/1$</string>
            <key>textureFileName</key>
            <string>heroCardUI.png</string>
        </dict>
    </dict>
</plist>
