<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_font_hero_1710_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1812},{310,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,181}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>frame_font_hero_1710_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{428,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,178}}</string>
                <key>sourceSize</key>
                <string>{428,178}</string>
            </dict>
            <key>frame_font_hero_1711_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1632},{310,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,184}}</string>
                <key>sourceSize</key>
                <string>{310,184}</string>
            </dict>
            <key>frame_font_hero_1711_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,669},{412,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,166}}</string>
                <key>sourceSize</key>
                <string>{412,166}</string>
            </dict>
            <key>frame_font_hero_1712_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,647},{313,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,188}}</string>
                <key>sourceSize</key>
                <string>{313,188}</string>
            </dict>
            <key>frame_font_hero_1712_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,739},{412,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,164}}</string>
                <key>sourceSize</key>
                <string>{412,164}</string>
            </dict>
            <key>frame_font_hero_1713_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1336},{340,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,180}}</string>
                <key>sourceSize</key>
                <string>{340,180}</string>
            </dict>
            <key>frame_font_hero_1713_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1158},{345,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,174}}</string>
                <key>sourceSize</key>
                <string>{345,174}</string>
            </dict>
            <key>frame_font_hero_1714_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1725},{311,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,187}}</string>
                <key>sourceSize</key>
                <string>{311,187}</string>
            </dict>
            <key>frame_font_hero_1714_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,829},{412,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,164}}</string>
                <key>sourceSize</key>
                <string>{412,164}</string>
            </dict>
            <key>frame_font_hero_1715_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,327},{365,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,168}}</string>
                <key>sourceSize</key>
                <string>{365,168}</string>
            </dict>
            <key>frame_font_hero_1716_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1520},{340,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,172}}</string>
                <key>sourceSize</key>
                <string>{340,172}</string>
            </dict>
            <key>frame_font_hero_1716_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1562},{326,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,159}}</string>
                <key>sourceSize</key>
                <string>{326,159}</string>
            </dict>
            <key>frame_font_hero_1719_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1538},{340,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,171}}</string>
                <key>sourceSize</key>
                <string>{340,171}</string>
            </dict>
            <key>frame_font_hero_1719_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1621},{326,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,158}}</string>
                <key>sourceSize</key>
                <string>{326,158}</string>
            </dict>
            <key>frame_font_hero_1720_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1376},{340,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,182}}</string>
                <key>sourceSize</key>
                <string>{340,182}</string>
            </dict>
            <key>frame_font_hero_1720_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,839},{400,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,156}</string>
            </dict>
            <key>frame_font_hero_1721_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1456},{340,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,172}}</string>
                <key>sourceSize</key>
                <string>{340,172}</string>
            </dict>
            <key>frame_font_hero_1721_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1457},{326,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,160}}</string>
                <key>sourceSize</key>
                <string>{326,160}</string>
            </dict>
            <key>frame_font_hero_1722_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1082},{340,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,185}}</string>
                <key>sourceSize</key>
                <string>{340,185}</string>
            </dict>
            <key>frame_font_hero_1722_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1696},{326,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,161}}</string>
                <key>sourceSize</key>
                <string>{326,161}</string>
            </dict>
            <key>frame_font_hero_1723_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1271},{340,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,182}}</string>
                <key>sourceSize</key>
                <string>{340,182}</string>
            </dict>
            <key>frame_font_hero_1723_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1696},{326,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,161}}</string>
                <key>sourceSize</key>
                <string>{326,161}</string>
            </dict>
            <key>frame_font_hero_1724_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,999},{340,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,185}}</string>
                <key>sourceSize</key>
                <string>{340,185}</string>
            </dict>
            <key>frame_font_hero_1724_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1713},{326,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,161}}</string>
                <key>sourceSize</key>
                <string>{326,161}</string>
            </dict>
            <key>frame_font_hero_1725_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1279},{312,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,173}}</string>
                <key>sourceSize</key>
                <string>{312,173}</string>
            </dict>
            <key>frame_font_hero_1725_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,647},{412,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,165}}</string>
                <key>sourceSize</key>
                <string>{412,165}</string>
            </dict>
            <key>frame_font_hero_1726_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1188},{340,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,184}}</string>
                <key>sourceSize</key>
                <string>{340,184}</string>
            </dict>
            <key>frame_font_hero_1726_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1713},{326,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,161}}</string>
                <key>sourceSize</key>
                <string>{326,161}</string>
            </dict>
            <key>frame_font_hero_1727_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1355},{340,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,179}}</string>
                <key>sourceSize</key>
                <string>{340,179}</string>
            </dict>
            <key>frame_font_hero_1727_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1713},{326,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,161}}</string>
                <key>sourceSize</key>
                <string>{326,161}</string>
            </dict>
            <key>frame_font_hero_1728_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,964},{311,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,188}}</string>
                <key>sourceSize</key>
                <string>{311,188}</string>
            </dict>
            <key>frame_font_hero_1728_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,816},{412,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,164}}</string>
                <key>sourceSize</key>
                <string>{412,164}</string>
            </dict>
            <key>frame_font_hero_1729_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,997},{359,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,163}}</string>
                <key>sourceSize</key>
                <string>{359,163}</string>
            </dict>
            <key>frame_font_hero_1729_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,499},{365,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,166}}</string>
                <key>sourceSize</key>
                <string>{365,166}</string>
            </dict>
            <key>frame_font_hero_1730_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1783},{310,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,177}}</string>
                <key>sourceSize</key>
                <string>{310,177}</string>
            </dict>
            <key>frame_font_hero_1730_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,568},{432,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,167}}</string>
                <key>sourceSize</key>
                <string>{432,167}</string>
            </dict>
            <key>frame_font_hero_1731_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1164},{343,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,187}}</string>
                <key>sourceSize</key>
                <string>{343,187}</string>
            </dict>
            <key>frame_font_hero_1731_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,382},{459,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,182}}</string>
                <key>sourceSize</key>
                <string>{459,182}</string>
            </dict>
            <key>frame_font_hero_1733_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1500},{308,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{308,174}}</string>
                <key>sourceSize</key>
                <string>{310,182}</string>
            </dict>
            <key>frame_font_hero_1733_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,984},{363,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{363,170}}</string>
                <key>sourceSize</key>
                <string>{365,170}</string>
            </dict>
            <key>frame_font_hero_1734_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1188},{308,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{308,176}}</string>
                <key>sourceSize</key>
                <string>{310,182}</string>
            </dict>
            <key>frame_font_hero_1734_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,907},{363,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{363,171}}</string>
                <key>sourceSize</key>
                <string>{365,171}</string>
            </dict>
            <key>frame_yxtslbgn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1044}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1044}}</string>
                <key>sourceSize</key>
                <string>{640,1044}</string>
            </dict>
            <key>frame_yxtslbgn_font1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,246},{461,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,132}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>frame_yxtslbgn_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,3},{320,198}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{320,198}}</string>
                <key>sourceSize</key>
                <string>{328,228}</string>
            </dict>
            <key>frame_yxtslbgn_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,3},{585,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,239}}</string>
                <key>sourceSize</key>
                <string>{585,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroGiftUI.png</string>
            <key>size</key>
            <string>{1910,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfacf1ea4641379530fc44724e781386:1/1$</string>
            <key>textureFileName</key>
            <string>heroGiftUI.png</string>
        </dict>
    </dict>
</plist>
