<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_brigade_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,432},{212,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,122}}</string>
                <key>sourceSize</key>
                <string>{212,122}</string>
            </dict>
            <key>frame_brigade_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,487},{98,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,162}}</string>
                <key>sourceSize</key>
                <string>{98,162}</string>
            </dict>
            <key>frame_font_hero_1732_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,177},{310,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,181}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>frame_font_hero_1732_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{365,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,170}}</string>
                <key>sourceSize</key>
                <string>{365,170}</string>
            </dict>
            <key>heroname_1731.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,487},{358,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,105}}</string>
                <key>sourceSize</key>
                <string>{358,105}</string>
            </dict>
            <key>heroname_1731_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,362},{444,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,66}}</string>
                <key>sourceSize</key>
                <string>{444,66}</string>
            </dict>
            <key>icon_brigade_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,487},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>icon_brigade_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,432},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>icon_brigade_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,177},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_hero_brigade.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,289},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>img_brigade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,289},{534,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,160}}</string>
                <key>sourceSize</key>
                <string>{534,160}</string>
            </dict>
            <key>img_brigade_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,282}}</string>
                <key>sourceSize</key>
                <string>{640,282}</string>
            </dict>
            <key>title_brigade_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,453},{640,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,30}}</string>
                <key>sourceSize</key>
                <string>{640,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroOtherUI2.png</string>
            <key>size</key>
            <string>{1015,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39a9bb13de7cc5f66168858f40816dc5:1/1$</string>
            <key>textureFileName</key>
            <string>heroOtherUI2.png</string>
        </dict>
    </dict>
</plist>
