<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_yx_beijin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{320,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,672}}</string>
                <key>sourceSize</key>
                <string>{320,672}</string>
            </dict>
            <key>chapter_hero_1700.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1415},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1701.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1354},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1702.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,1293},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1703.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,1232},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1704.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1453},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1705.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1453},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1706.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,808},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1707.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1496},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1708.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1496},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1709.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1496},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1710.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1496},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1711.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1496},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1712.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1496},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1713.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1448},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1714.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1490},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chapter_hero_1715.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1448},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>dh_Tex_yxlz_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1448},{82,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{82,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>dh_Tex_yxlz_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{112,104}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>dh_Tex_yxlz_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1267},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_YXJJ_juejikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,602},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>frame_YX_beijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,485},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>frame_YX_beijing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,965},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>frame_YX_beijing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>frame_YX_beijing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>frame_YX_beijing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>frame_YX_beijing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>frame_YX_beijing07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>frame_YX_beijingzhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,485},{320,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,475}}</string>
                <key>sourceSize</key>
                <string>{320,475}</string>
            </dict>
            <key>frame_YX_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,406},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>frame_YX_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1503},{171,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,35}}</string>
                <key>sourceSize</key>
                <string>{171,35}</string>
            </dict>
            <key>frame_YX_huzhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1292},{212,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>frame_YX_jiangyuzhuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1242},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>frame_YX_jingdutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1099},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>frame_YX_jingjiekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1099},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>frame_YX_jingjiekuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,2},{86,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>frame_YX_jingjiekuang_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1343},{107,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{107,108}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>frame_YX_juejidown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,118},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>frame_YX_juejikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1232},{108,112}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{108,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>frame_YX_juejiup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,91},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>frame_YX_juexingbiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1524},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>frame_YX_kapaidengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1509},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>frame_YX_pinzhi_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,808},{194,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,308}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_pinzhi_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1185},{194,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,308}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_pinzhi_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,874},{194,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,308}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_pinzhi_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1185},{194,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,308}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_pinzhi_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,874},{194,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,308}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_pinzhi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,677},{194,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,308}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_shader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1168},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>frame_YX_suipianzhedang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,485},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>frame_YX_xiaobeijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1099},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,808},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,808},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,808},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,808},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1119},{190,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{190,288}}</string>
                <key>sourceSize</key>
                <string>{194,308}</string>
            </dict>
            <key>frame_YX_xiaobeijing_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1410},{190,144}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{190,144}}</string>
                <key>sourceSize</key>
                <string>{194,158}</string>
            </dict>
            <key>frame_YXpingzhi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1398},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>frame_baoshi_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1242},{126,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{126,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>frame_yxlz_bj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,1503},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>frame_yxlz_bj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1267},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>icon_hero_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1476},{56,52}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{56,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_hero_awake.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1371},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{116,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_hero_awakeskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,715},{90,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_hero_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1448},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_hero_captivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,334},{75,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>icon_hero_death.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1099},{68,66}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{68,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_hero_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1490},{60,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{60,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_hero_expedition.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1448},{73,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>icon_hero_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1448},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_hero_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1425},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_hero_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,174},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_hero_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,91},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_hero_release.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,255},{76,76}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{76,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_hero_runaway.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1448},{75,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>icon_herochip_advanced.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1292},{130,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_herochip_minddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1099},{130,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroOtherUI.png</string>
            <key>size</key>
            <string>{2045,1556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fd8011fc3af4f4b1682d30a70ca4d29:1/1$</string>
            <key>textureFileName</key>
            <string>heroOtherUI.png</string>
        </dict>
    </dict>
</plist>
