<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_herotrial_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,413},{309,617}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,617}}</string>
                <key>sourceSize</key>
                <string>{309,617}</string>
            </dict>
            <key>bg_herotrial_06_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,406}}</string>
                <key>sourceSize</key>
                <string>{640,406}</string>
            </dict>
            <key>btn_herotrial_good_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,656},{48,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>btn_herotrial_join_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,840},{83,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,29}}</string>
                <key>sourceSize</key>
                <string>{83,29}</string>
            </dict>
            <key>btn_herotrial_join_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,979},{89,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,10}}</string>
                <key>sourceSize</key>
                <string>{89,10}</string>
            </dict>
            <key>btn_herotrial_join_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,932},{235,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,43}}</string>
                <key>sourceSize</key>
                <string>{235,43}</string>
            </dict>
            <key>btn_herotrial_round_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,840},{48,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,92}}</string>
                <key>sourceSize</key>
                <string>{48,98}</string>
            </dict>
            <key>frame_hero_trail_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,691},{100,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{100,126}</string>
            </dict>
            <key>frame_herotrial_base_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,498},{104,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>frame_herotrial_base_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,958},{90,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,49}}</string>
                <key>sourceSize</key>
                <string>{90,49}</string>
            </dict>
            <key>frame_herotrial_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,856},{98,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>frame_herotrial_lace_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,555},{120,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,152}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>frame_herotrial_lace_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,728},{82,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{82,108}</string>
            </dict>
            <key>frame_herotrial_lace_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,349},{202,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,242}}</string>
                <key>sourceSize</key>
                <string>{202,242}</string>
            </dict>
            <key>frame_herotrial_lace_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,821},{98,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,110}</string>
            </dict>
            <key>frame_herotrial_lace_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,490},{90,70}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{90,70}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>frame_herotrial_lace_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,3},{118,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,191}}</string>
                <key>sourceSize</key>
                <string>{118,191}</string>
            </dict>
            <key>frame_herotrial_lace_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,513},{148,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,136}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>frame_herotrial_lace_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,555},{132,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,172}}</string>
                <key>sourceSize</key>
                <string>{132,172}</string>
            </dict>
            <key>frame_herotrial_lace_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,349},{172,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{172,160}}</string>
                <key>sourceSize</key>
                <string>{172,162}</string>
            </dict>
            <key>frame_herotrial_lace_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,868},{118,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,93}}</string>
                <key>sourceSize</key>
                <string>{118,93}</string>
            </dict>
            <key>frame_herotrial_lace_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,349},{145,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,175}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>frame_herotrial_paper_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,726},{202,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,342}}</string>
                <key>sourceSize</key>
                <string>{202,342}</string>
            </dict>
            <key>frame_herotrial_paper_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,3},{202,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,342}}</string>
                <key>sourceSize</key>
                <string>{202,342}</string>
            </dict>
            <key>frame_herotrial_paper_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,3},{202,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,342}}</string>
                <key>sourceSize</key>
                <string>{202,342}</string>
            </dict>
            <key>frame_herotrial_paper_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,726},{202,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,342}}</string>
                <key>sourceSize</key>
                <string>{202,342}</string>
            </dict>
            <key>frame_herotrial_paper_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{202,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,342}}</string>
                <key>sourceSize</key>
                <string>{202,342}</string>
            </dict>
            <key>frame_herotrial_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,932},{148,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,54}}</string>
                <key>sourceSize</key>
                <string>{148,54}</string>
            </dict>
            <key>frame_herotrial_point_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,993},{14,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>icon_hero_trial_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,802},{133,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>icon_hero_trial_deepBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,843},{133,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>icon_hero_trial_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,584},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_hero_trial_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,665},{133,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>icon_hero_trial_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,933},{85,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>icon_hero_trial_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,711},{133,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>icon_hero_trial_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,358},{133,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>icon_herotrial_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,614},{110,124}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{110,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_herotrial_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,740},{110,124}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{110,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_herotrial_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,612},{110,124}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{110,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_herotrial_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,498},{110,124}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{110,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_herotrial_flag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,728},{104,124}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{104,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_herotrial_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,979},{70,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,26}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>icon_herotrial_victory_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,198},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>icon_herotrial_victory_arab.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,691},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>icon_herotrial_victory_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,413},{49,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,19}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>title_herotrial_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,934},{144,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,66}</string>
            </dict>
            <key>title_herotrial_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,932},{142,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{142,64}}</string>
                <key>sourceSize</key>
                <string>{144,66}</string>
            </dict>
            <key>title_herotrial_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,932},{142,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{144,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroTrialUI.png</string>
            <key>size</key>
            <string>{1386,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e69c3857ceaa894742eddb052938e328:1/1$</string>
            <key>textureFileName</key>
            <string>heroTrialUI.png</string>
        </dict>
    </dict>
</plist>
