<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Biography_name_01_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1772},{244,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,68}</string>
            </dict>
            <key>Biography_name_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{492,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,43}}</string>
                <key>sourceSize</key>
                <string>{492,55}</string>
            </dict>
            <key>Biography_name_02_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1651},{392,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{392,60}}</string>
                <key>sourceSize</key>
                <string>{392,68}</string>
            </dict>
            <key>Biography_name_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1119},{404,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,43}}</string>
                <key>sourceSize</key>
                <string>{404,55}</string>
            </dict>
            <key>Biography_name_03_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{439,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{439,66}}</string>
                <key>sourceSize</key>
                <string>{439,68}</string>
            </dict>
            <key>Biography_name_03_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1288},{227,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,43}}</string>
                <key>sourceSize</key>
                <string>{227,55}</string>
            </dict>
            <key>Biography_name_04_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{523,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,62}}</string>
                <key>sourceSize</key>
                <string>{523,68}</string>
            </dict>
            <key>Biography_name_04_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1242},{360,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,43}}</string>
                <key>sourceSize</key>
                <string>{360,55}</string>
            </dict>
            <key>Biography_name_05_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{469,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{469,60}}</string>
                <key>sourceSize</key>
                <string>{473,68}</string>
            </dict>
            <key>Biography_name_05_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,497},{475,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{475,53}}</string>
                <key>sourceSize</key>
                <string>{475,55}</string>
            </dict>
            <key>Biography_name_06_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{479,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,62}}</string>
                <key>sourceSize</key>
                <string>{479,68}</string>
            </dict>
            <key>Biography_name_06_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,325},{482,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{482,33}}</string>
                <key>sourceSize</key>
                <string>{492,55}</string>
            </dict>
            <key>Biography_name_07_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{442,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{442,66}}</string>
                <key>sourceSize</key>
                <string>{442,68}</string>
            </dict>
            <key>Biography_name_07_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1593},{399,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,55}}</string>
                <key>sourceSize</key>
                <string>{399,55}</string>
            </dict>
            <key>Biography_name_08_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{464,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{464,50}}</string>
                <key>sourceSize</key>
                <string>{464,68}</string>
            </dict>
            <key>Biography_name_08_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1714},{346,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,55}}</string>
                <key>sourceSize</key>
                <string>{346,55}</string>
            </dict>
            <key>Biography_name_09_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1379},{304,58}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{304,58}}</string>
                <key>sourceSize</key>
                <string>{304,68}</string>
            </dict>
            <key>Biography_name_09_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1757},{262,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,55}}</string>
                <key>sourceSize</key>
                <string>{262,55}</string>
            </dict>
            <key>Biography_name_10_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{508,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{508,60}}</string>
                <key>sourceSize</key>
                <string>{508,68}</string>
            </dict>
            <key>Biography_name_10_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{426,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,43}}</string>
                <key>sourceSize</key>
                <string>{426,55}</string>
            </dict>
            <key>Biography_name_11_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1582},{207,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,75}}</string>
                <key>sourceSize</key>
                <string>{207,75}</string>
            </dict>
            <key>Biography_name_11_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1526},{405,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,64}}</string>
                <key>sourceSize</key>
                <string>{405,64}</string>
            </dict>
            <key>Biography_name_12_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,810},{428,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,75}}</string>
                <key>sourceSize</key>
                <string>{428,75}</string>
            </dict>
            <key>Biography_name_12_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{507,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,56}}</string>
                <key>sourceSize</key>
                <string>{507,56}</string>
            </dict>
            <key>Biography_name_13_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1165},{364,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,74}}</string>
                <key>sourceSize</key>
                <string>{364,74}</string>
            </dict>
            <key>Biography_name_13_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,975},{401,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,55}}</string>
                <key>sourceSize</key>
                <string>{401,55}</string>
            </dict>
            <key>Biography_name_14_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1849},{349,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{349,71}}</string>
                <key>sourceSize</key>
                <string>{351,73}</string>
            </dict>
            <key>Biography_name_14_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1165},{414,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{414,56}}</string>
                <key>sourceSize</key>
                <string>{414,58}</string>
            </dict>
            <key>Biography_name_15_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1772},{284,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{284,74}}</string>
                <key>sourceSize</key>
                <string>{284,76}</string>
            </dict>
            <key>Biography_name_15_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{333,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{333,56}}</string>
                <key>sourceSize</key>
                <string>{335,58}</string>
            </dict>
            <key>Biography_name_16_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1241},{245,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{245,79}}</string>
                <key>sourceSize</key>
                <string>{247,79}</string>
            </dict>
            <key>Biography_name_16_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1714},{298,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,56}}</string>
                <key>sourceSize</key>
                <string>{300,58}</string>
            </dict>
            <key>btn_hero_biography.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1686},{68,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_hero_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1923},{112,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{112,92}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>btn_hero_story.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1489},{90,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{90,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>farmer_yxtyyh_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1923},{195,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,54}}</string>
                <key>sourceSize</key>
                <string>{195,54}</string>
            </dict>
            <key>frame_yxgs_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{517,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,285}}</string>
                <key>sourceSize</key>
                <string>{517,285}</string>
            </dict>
            <key>frame_yxlz_zz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1288},{320,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,203}}</string>
                <key>sourceSize</key>
                <string>{320,203}</string>
            </dict>
            <key>frame_yxlz_zz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,568}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroStoryUI.png</string>
            <key>size</key>
            <string>{619,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac0a3091270feaa34eb7fbf45a0efe18:1/1$</string>
            <key>textureFileName</key>
            <string>heroStoryUI.png</string>
        </dict>
    </dict>
</plist>
