<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_yxgs_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_yxgs_faye_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,669},{542,942}}</string>
                <key>offset</key>
                <string>{-35,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,196},{542,942}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_yxgs_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,669},{574,968}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,99},{574,968}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_yxgs_shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,3},{662,1125}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,130},{662,1125}}</string>
                <key>sourceSize</key>
                <string>{768,1363}</string>
            </dict>
            <key>bg_yxgs_yxbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{344,669}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,353},{344,669}}</string>
                <key>sourceSize</key>
                <string>{768,1363}</string>
            </dict>
            <key>bg_yxgs_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,3},{587,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,132}}</string>
                <key>sourceSize</key>
                <string>{595,132}</string>
            </dict>
            <key>bg_yxgs_zs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,669},{232,914}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,914}}</string>
                <key>sourceSize</key>
                <string>{232,914}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroStoryBg.png</string>
            <key>size</key>
            <string>{2035,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca2d9d40475ed4abf8f0f54937babc52:1/1$</string>
            <key>textureFileName</key>
            <string>heroStoryBg.png</string>
        </dict>
    </dict>
</plist>
