<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_xzyx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,69},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>frame_xzyx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,105},{640,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,85}}</string>
                <key>sourceSize</key>
                <string>{640,85}</string>
            </dict>
            <key>frame_xzyx_fgx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,194},{640,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,52}}</string>
                <key>sourceSize</key>
                <string>{640,52}</string>
            </dict>
            <key>frame_xzyx_xbt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,98}}</string>
                <key>sourceSize</key>
                <string>{640,98}</string>
            </dict>
            <key>frame_xzyx_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>icon_xzyx_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,196},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>icon_xzyx_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,196},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>icon_xzyx_ms.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,135},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>icon_xzyx_pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,135},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>icon_xzyx_qs.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,195},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroSelectUI.png</string>
            <key>size</key>
            <string>{770,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ebe34acddfdcf398c7d3028e2539476:1/1$</string>
            <key>textureFileName</key>
            <string>heroSelectUI.png</string>
        </dict>
    </dict>
</plist>
