<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_lcks_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,240},{209,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,293}}</string>
                <key>sourceSize</key>
                <string>{209,293}</string>
            </dict>
            <key>bg_hyhg_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,216},{458,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,133}}</string>
                <key>sourceSize</key>
                <string>{458,133}</string>
            </dict>
            <key>bg_hyhg_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,216},{495,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,109}}</string>
                <key>sourceSize</key>
                <string>{495,109}</string>
            </dict>
            <key>bg_hyhg_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,216},{435,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,83}}</string>
                <key>sourceSize</key>
                <string>{435,83}</string>
            </dict>
            <key>bg_hyzh_zxqy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,767}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,767}}</string>
                <key>sourceSize</key>
                <string>{640,767}</string>
            </dict>
            <key>bg_lingchong_mao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,240},{283,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,84}}</string>
                <key>sourceSize</key>
                <string>{283,84}</string>
            </dict>
            <key>bg_lingchong_mao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,240},{283,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,84}}</string>
                <key>sourceSize</key>
                <string>{283,84}</string>
            </dict>
            <key>bg_lingchong_mao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,44},{562,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,112}}</string>
                <key>sourceSize</key>
                <string>{562,112}</string>
            </dict>
            <key>bg_lingchong_maoshengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{538,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,211}}</string>
                <key>sourceSize</key>
                <string>{538,211}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,711},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,633},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,829},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,746},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,663},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,861},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,861},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,783},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,700},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,861},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,861},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,375},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,44},{83,119}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{83,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,469},{87,119}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{87,119}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,534},{93,123}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,846},{95,125}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{95,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,842},{99,125}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{99,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,453},{103,125}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,738},{105,125}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,298},{105,125}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,773},{107,125}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,663},{107,125}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,714},{109,125}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{109,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,694},{111,125}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{111,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,406},{113,125}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,180},{115,125}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{115,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>dh_Tex_XL_lcks03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,786},{116,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>dh_Tex_XL_lcks03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,581},{116,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>dh_Tex_XL_lcks03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,711},{116,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>dh_Tex_XL_lcks03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,808},{116,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>dh_Tex_XL_lcks03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,808},{116,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>dh_Tex_XL_lcks03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,715},{114,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,903},{6,3}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{6,3}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,700},{12,9}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,823},{16,13}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,13}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,904},{16,15}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{16,15}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,883},{18,15}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,453},{18,13}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,823},{16,9}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{16,9}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_XL_lcks04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2},{6,5}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{6,5}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>dh_Tex_lcks_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,589},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>dh_Tex_lcks_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,846},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>dh_Tex_lcks_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,846},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>dh_Tex_lcks_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,772},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Tex_lcks_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,738},{128,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,105}}</string>
                <key>sourceSize</key>
                <string>{128,105}</string>
            </dict>
            <key>dh_Tex_lcks_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,299},{58,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>dh_Tex_lcks_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,584},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>frame_cjfl_fgd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{639,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,166}}</string>
                <key>sourceSize</key>
                <string>{639,166}</string>
            </dict>
            <key>frame_hyzh_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,240},{310,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,42}}</string>
                <key>sourceSize</key>
                <string>{310,42}</string>
            </dict>
            <key>frame_hzlh_zy_strip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{640,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,39}}</string>
                <key>sourceSize</key>
                <string>{640,39}</string>
            </dict>
            <key>frame_lingchong_huawen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,630},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>frame_lingchong_huawen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,216},{553,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,164}}</string>
                <key>sourceSize</key>
                <string>{553,164}</string>
            </dict>
            <key>frame_lingchong_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,591},{117,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>frame_lingchong_levelup_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,159},{349,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,78}}</string>
                <key>sourceSize</key>
                <string>{349,78}</string>
            </dict>
            <key>frame_lingchong_levelup_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,240},{210,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{226,71}</string>
            </dict>
            <key>frame_lingchong_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,2},{137,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,112}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>frame_lingchong_unlocked_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,159},{203,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,78}}</string>
                <key>sourceSize</key>
                <string>{203,78}</string>
            </dict>
            <key>frame_lingchong_unlocked_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,240},{226,61}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,61}}</string>
                <key>sourceSize</key>
                <string>{226,71}</string>
            </dict>
            <key>frame_lingchong_unlocked_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,536},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>frame_lingchong_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,940},{38,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,1}}</string>
                <key>sourceSize</key>
                <string>{38,1}</string>
            </dict>
            <key>frame_lingchong_youmao_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,605},{171,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,55}}</string>
                <key>sourceSize</key>
                <string>{171,55}</string>
            </dict>
            <key>frame_lingchong_youmao_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,605},{81,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,38}}</string>
                <key>sourceSize</key>
                <string>{81,38}</string>
            </dict>
            <key>frame_lingchong_youmao_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,589},{131,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{131,41}</string>
            </dict>
            <key>frame_lingchong_zhanmao_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,526},{166,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,60}}</string>
                <key>sourceSize</key>
                <string>{166,60}</string>
            </dict>
            <key>frame_lingchong_zhanmao_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,903},{122,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,38}}</string>
                <key>sourceSize</key>
                <string>{122,38}</string>
            </dict>
            <key>frame_lingchong_zhanmao_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,2},{131,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{131,41}</string>
            </dict>
            <key>icon_building_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,334},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>icon_lock_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,772},{34,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,48}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>icon_maozhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,829},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>icon_maozhua_qingmidu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,136},{56,52}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{56,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>icon_zhanmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,694},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>lcks_walk_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,883},{130,58}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{130,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,677},{130,58}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{130,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,633},{130,58}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{130,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,191},{130,60}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,45},{130,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,117},{132,60}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{132,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,240},{132,58}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,47},{132,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,677},{132,58}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{132,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,166},{130,58}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,47},{130,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,883},{128,58}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{128,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,586},{126,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,45},{126,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,324},{126,60}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,45},{126,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,453},{128,60}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,46},{128,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,883},{128,58}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{128,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lcks_walk_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,453},{130,58}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,47},{130,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>honorBack.png</string>
            <key>size</key>
            <string>{2030,943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:473da84c69328b798dc6797cd3899918:1/1$</string>
            <key>textureFileName</key>
            <string>honorBack.png</string>
        </dict>
    </dict>
</plist>
