<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_H5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{438,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,105}}</string>
                <key>sourceSize</key>
                <string>{438,105}</string>
            </dict>
            <key>btn_H5BX_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>dh_XL_Tex_H501_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,386},{186,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{186,120}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{186,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{186,120}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{184,122}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{184,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,448},{184,122}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{184,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,263},{182,122}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{182,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,509},{184,122}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{184,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{184,122}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{184,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{186,122}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{186,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,635},{186,122}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{186,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,634},{186,122}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{186,122}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,263},{186,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,120}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{186,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,120}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,32},{186,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,120}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_XL_Tex_H501_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,32},{186,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,120}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>frame_H5BX_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,480}}</string>
                <key>sourceSize</key>
                <string>{27,480}</string>
            </dict>
            <key>frame_H5BX_xxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,759},{164,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,173}}</string>
                <key>sourceSize</key>
                <string>{164,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceCrazyH5.png</string>
            <key>size</key>
            <string>{504,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694b1f26e838e8f76f1c805292158415:1/1$</string>
            <key>textureFileName</key>
            <string>iceCrazyH5.png</string>
        </dict>
    </dict>
</plist>
