<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,950},{50,35}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,71},{50,35}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,953},{54,41}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,66},{54,41}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,56},{58,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{58,45}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,3},{58,49}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{58,49}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,693},{62,51}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,63},{62,51}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,953},{68,53}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,64},{68,53}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,938},{72,53}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{72,53}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,881},{82,53}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,68},{82,53}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,822},{86,55}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{86,55}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,763},{90,55}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{90,55}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,105},{92,57}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,68},{92,57}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,889},{94,57}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,68},{94,57}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,763},{96,59}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,66},{96,59}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,826},{94,59}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{94,59}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,597},{92,53}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,71},{92,53}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,201},{94,55}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,68},{94,55}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,499},{94,53}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,69},{94,53}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,399},{96,53}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,67},{96,53}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,299},{96,53}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,66},{96,53}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1011},{10,33}}</string>
                <key>offset</key>
                <string>{-46,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,62},{10,33}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Chill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,763},{4,5}}</string>
                <key>offset</key>
                <string>{-50,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,85},{4,5}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>Fx_BaoZha_C_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,801},{220,220}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{220,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Ice_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,763},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,763},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,801},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,573},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,801},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,383},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,573},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,801},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,193},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,383},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,573},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,801},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,3},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,193},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,383},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,801},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,3},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,193},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,801},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>Ice_right_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,3},{139,186}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{139,186}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>bg_bljs_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{794,1067}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,1067}}</string>
                <key>sourceSize</key>
                <string>{794,1067}</string>
            </dict>
            <key>btn_bljs_an01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,953},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceHunting.png</string>
            <key>size</key>
            <string>{1564,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be70252324dcecf2daf64b2c080fdb03:1/1$</string>
            <key>textureFileName</key>
            <string>iceHunting.png</string>
        </dict>
    </dict>
</plist>
