<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ice_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,815},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,815},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,612},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,612},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,409},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,409},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,815},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,612},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,206},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,206},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,409},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,815},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,612},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,3},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,3},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,206},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,409},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,3},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,206},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>Ice_left_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{175,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,199}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceHunting2.png</string>
            <key>size</key>
            <string>{718,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f6633ac52f324e0eb2ca1dd2fa917f1:1/1$</string>
            <key>textureFileName</key>
            <string>iceHunting2.png</string>
        </dict>
    </dict>
</plist>
