<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bing_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,385},{164,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,82}}</string>
                <key>sourceSize</key>
                <string>{164,82}</string>
            </dict>
            <key>btn_bing_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,299},{164,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,82}}</string>
                <key>sourceSize</key>
                <string>{164,82}</string>
            </dict>
            <key>btn_xnbxsd_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,216},{217,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{217,79}</string>
            </dict>
            <key>btn_xnbxsd_djk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,138},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>btn_xnbxsd_djk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,485},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>framer_xnbxsd_baikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,442},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>framer_xnbxsd_bjar.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{322,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,69}}</string>
                <key>sourceSize</key>
                <string>{322,69}</string>
            </dict>
            <key>framer_xnbxsd_bjen.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,76},{301,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,58}}</string>
                <key>sourceSize</key>
                <string>{301,58}</string>
            </dict>
            <key>framer_xnbxsd_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,319},{644,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,122}}</string>
                <key>sourceSize</key>
                <string>{644,122}</string>
            </dict>
            <key>framer_xnbxsd_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,471},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,79}</string>
            </dict>
            <key>framer_xnbxsd_cbzs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,312}}</string>
                <key>sourceSize</key>
                <string>{640,312}</string>
            </dict>
            <key>framer_xnbxsd_djar.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,649},{95,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,33}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>framer_xnbxsd_djen.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,649},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>framer_xnbxsd_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,540},{640,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,67}}</string>
                <key>sourceSize</key>
                <string>{640,67}</string>
            </dict>
            <key>framer_xnbxsd_high_reward_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,549},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>framer_xnbxsd_high_reward_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,3},{105,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,46}}</string>
                <key>sourceSize</key>
                <string>{105,46}</string>
            </dict>
            <key>framer_xnbxsd_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,649},{297,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,16}}</string>
                <key>sourceSize</key>
                <string>{297,16}</string>
            </dict>
            <key>framer_xnbxsd_jyar.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,299},{131,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,67}}</string>
                <key>sourceSize</key>
                <string>{131,67}</string>
            </dict>
            <key>framer_xnbxsd_jyen.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,299},{139,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,57}}</string>
                <key>sourceSize</key>
                <string>{139,57}</string>
            </dict>
            <key>framer_xnbxsd_lv_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,649},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>framer_xnbxsd_lv_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,649},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>framer_xnbxsd_normal_reward_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,299},{182,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,41}}</string>
                <key>sourceSize</key>
                <string>{182,41}</string>
            </dict>
            <key>framer_xnbxsd_normal_reward_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,112},{88,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,45}}</string>
                <key>sourceSize</key>
                <string>{88,45}</string>
            </dict>
            <key>framer_xnbxsd_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,642},{601,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,3}}</string>
                <key>sourceSize</key>
                <string>{601,3}</string>
            </dict>
            <key>framer_xnbxsd_xh.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,222},{73,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,85}}</string>
                <key>sourceSize</key>
                <string>{73,85}</string>
            </dict>
            <key>framer_xnbxsd_xia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,445},{640,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,91}}</string>
                <key>sourceSize</key>
                <string>{640,91}</string>
            </dict>
            <key>framer_xnbxsd_xia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,611},{640,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,27}}</string>
                <key>sourceSize</key>
                <string>{640,27}</string>
            </dict>
            <key>framer_xnbxsd_zsd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,554},{127,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,73}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>framer_xnbxsd_zsd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,138},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>framer_xnbxsd_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,586},{119,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{119,52}}</string>
                <key>sourceSize</key>
                <string>{141,52}</string>
            </dict>
            <key>number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,642},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,222},{36,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,629},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,603},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,642},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,642},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,642},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,549},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,442},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,642},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceTemple.png</string>
            <key>size</key>
            <string>{1023,685}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecafb0b9fb187112c0127229d8c7845a:1/1$</string>
            <key>textureFileName</key>
            <string>iceTemple.png</string>
        </dict>
    </dict>
</plist>
