<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xnbxsd_cb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1715},{253,353}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,82},{253,353}}</string>
                <key>sourceSize</key>
                <string>{333,435}</string>
            </dict>
            <key>bg_xnbxsd_cb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,436},{329,353}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{329,353}}</string>
                <key>sourceSize</key>
                <string>{333,435}</string>
            </dict>
            <key>bg_xnbxsd_cb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,3},{333,429}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{333,429}}</string>
                <key>sourceSize</key>
                <string>{333,435}</string>
            </dict>
            <key>bg_xnbxsd_cb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1276},{333,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,435}}</string>
                <key>sourceSize</key>
                <string>{333,435}</string>
            </dict>
            <key>bg_xnbxsd_cb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1450},{640,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,440}}</string>
                <key>sourceSize</key>
                <string>{640,440}</string>
            </dict>
            <key>bg_xnbxsd_cb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,806},{640,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,440}}</string>
                <key>sourceSize</key>
                <string>{640,440}</string>
            </dict>
            <key>dh_Tex_bxsy_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,397},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>dh_Tex_exp_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1967},{139,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,57}}</string>
                <key>sourceSize</key>
                <string>{139,57}</string>
            </dict>
            <key>dh_Tex_exp_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1972},{131,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,67}}</string>
                <key>sourceSize</key>
                <string>{131,67}</string>
            </dict>
            <key>dh_Tex_multiplier_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1894},{301,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,58}}</string>
                <key>sourceSize</key>
                <string>{301,58}</string>
            </dict>
            <key>dh_Tex_multiplier_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1894},{322,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,69}}</string>
                <key>sourceSize</key>
                <string>{322,69}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,351},{99,42}}</string>
                <key>offset</key>
                <string>{-23,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{99,42}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1972},{121,56}}</string>
                <key>offset</key>
                <string>{-19,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{121,56}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1903},{135,70}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{135,70}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1956},{147,82}}</string>
                <key>offset</key>
                <string>{-11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{147,82}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1744},{155,94}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{155,94}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,603},{161,106}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,106}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1412},{165,116}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{165,116}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,944},{169,124}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{169,124}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,3},{171,130}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{171,130}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,769},{171,132}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{171,132}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1276},{171,132}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{171,132}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,178},{169,130}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,33},{169,130}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1117},{169,120}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,44},{169,120}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1241},{167,112}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,52},{167,112}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,436},{163,100}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{163,100}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1581},{159,90}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,74},{159,90}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1956},{153,78}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,86},{153,78}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1967},{143,66}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,98},{143,66}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1972},{131,54}}</string>
                <key>offset</key>
                <string>{15,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,110},{131,54}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>dh_XL_Tex_bxsy02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,944},{73,38}}</string>
                <key>offset</key>
                <string>{38,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,125},{73,38}}</string>
                <key>sourceSize</key>
                <string>{175,170}</string>
            </dict>
            <key>framer_xnbxsd_zsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,806},{489,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,466}}</string>
                <key>sourceSize</key>
                <string>{489,466}</string>
            </dict>
            <key>framer_xnbxsd_zsd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{635,799}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,799}}</string>
                <key>sourceSize</key>
                <string>{635,799}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceTemple3.png</string>
            <key>size</key>
            <string>{1112,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ec42bb318c1a0267e312280a6ec494:1/1$</string>
            <key>textureFileName</key>
            <string>iceTemple3.png</string>
        </dict>
    </dict>
</plist>
