<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_bylcb_xue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>img_bylcb_xue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,3},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>img_bylcb_xue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,3},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceWolfCastle.png</string>
            <key>size</key>
            <string>{171,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a54be049554758100d1450e0b937402f:1/1$</string>
            <key>textureFileName</key>
            <string>iceWolfCastle.png</string>
        </dict>
    </dict>
</plist>
