<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_map_castle_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,516},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>btn_map_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,374},{43,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{43,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>btn_map_favorite.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,359},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>btn_map_lbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,240},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>btn_map_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,384},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>btn_map_world.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,549},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>btn_map_world_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,129},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
            <key>btn_minimap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,139},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>btn_minimap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,467},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_minimap_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,286},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_minimap_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,396},{96,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>btn_minimap_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,557},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btn_xingjunduilie_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,294},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>btn_xingjunduilie_zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,599},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>frame_xingjunduilie_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,605},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>frame_xingjunduilie_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,87},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>frame_xingjunduilie_k02.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,605},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>frame_xingjunduilie_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,241},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>icon_map_armyinfo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,475},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>icon_map_armyinfo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,287},{103,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,84}}</string>
                <key>sourceSize</key>
                <string>{103,84}</string>
            </dict>
            <key>icon_map_armyreturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,286},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>icon_map_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,630},{25,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>sourceSize</key>
                <string>{25,14}</string>
            </dict>
            <key>icon_map_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,637},{25,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>sourceSize</key>
                <string>{25,14}</string>
            </dict>
            <key>icon_map_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,427},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>icon_map_favorite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,27},{109,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,99}}</string>
                <key>sourceSize</key>
                <string>{109,99}</string>
            </dict>
            <key>icon_map_favorite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,287},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>icon_map_forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,241},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>icon_map_king_castle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,3},{170,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{170,132}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_king_castle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,449},{170,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{170,126}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_king_castle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,151},{186,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,142}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_king_castle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,3},{186,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{186,108}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_king_castle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,297},{170,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{170,148}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_king_castle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,151},{176,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{176,132}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_king_castle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,3},{178,144}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{178,144}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_king_castle_Atlantis.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{186,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,144}}</string>
                <key>sourceSize</key>
                <string>{186,148}</string>
            </dict>
            <key>icon_map_mass.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,604},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>icon_map_operate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,549},{102,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,79}}</string>
                <key>sourceSize</key>
                <string>{102,79}</string>
            </dict>
            <key>icon_map_operate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,524},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>icon_map_operate_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,442},{78,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_map_operate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,287},{105,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,75}}</string>
                <key>sourceSize</key>
                <string>{105,75}</string>
            </dict>
            <key>icon_map_operate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,496},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_map_operate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,196},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>icon_map_operate_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,130},{95,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,108}}</string>
                <key>sourceSize</key>
                <string>{95,108}</string>
            </dict>
            <key>icon_map_operate_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,381},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>icon_map_operate_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,196},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>icon_map_operate_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,569},{82,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>icon_map_operate_09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,482},{78,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_map_operate_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,394},{106,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,83}}</string>
                <key>sourceSize</key>
                <string>{106,83}</string>
            </dict>
            <key>icon_map_operate_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,396},{68,64}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,64}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>icon_map_operate_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,504},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>icon_map_operate_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,115},{132,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{132,108}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_map_operate_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,392},{104,98}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{104,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_map_operate_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,578},{70,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_map_ruins.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,27},{140,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,108}</string>
            </dict>
            <key>icon_map_uesrinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,312},{80,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{80,58}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>img_duilie_biaozhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,490},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>img_duilie_biaozhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,629},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>img_duilie_biaozhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,464},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>img_duilie_biaozhi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,464},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>img_duilie_biaozhi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,595},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>img_duilie_jijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,524},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>img_xingjunduilie_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,3},{24,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>img_xingjunduilie_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,557},{34,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{34,26}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>img_xingjunduilie_dao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,513},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>img_xingjunduilie_dao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,595},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>img_xingjunduilie_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,3},{250,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,20}}</string>
                <key>sourceSize</key>
                <string>{250,20}</string>
            </dict>
            <key>img_xingjunduilie_jiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,61},{24,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>img_xingjunduilie_jiasu_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,35},{24,22}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>img_xingjunduilie_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,490},{28,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{28,30}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>img_xingjunduilie_sousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,579},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>img_xingjunduilie_sousuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,629},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>maze_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,597},{54,47}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,7},{54,47}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,538},{106,55}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,55}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,423},{122,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,55}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,355},{106,53}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{106,53}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,297},{122,55}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{122,55}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,225},{110,61}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,61}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,579},{122,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,61}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,290},{108,61}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,130},{106,55}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{106,55}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,412},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,477},{106,57}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{106,57}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,604},{94,47}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{94,47}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,227},{108,55}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,500},{88,45}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{88,45}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,139},{110,53}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{110,53}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,294},{88,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{88,61}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,229},{108,61}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,597},{54,49}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{54,49}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>maze_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,115},{122,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{122,45}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iconMapUI.png</string>
            <key>size</key>
            <string>{1023,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dec8f5ab7a58d1d7db47b665f94e412:1/1$</string>
            <key>textureFileName</key>
            <string>iconMapUI.png</string>
        </dict>
    </dict>
</plist>
