<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>framer_jjzj_bj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{612,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,901}}</string>
                <key>sourceSize</key>
                <string>{612,901}</string>
            </dict>
            <key>framer_jjzjbj_ysz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,849},{478,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,114}}</string>
                <key>sourceSize</key>
                <string>{478,114}</string>
            </dict>
            <key>framer_jjzjbj_ysz_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,908},{535,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,49}}</string>
                <key>sourceSize</key>
                <string>{535,49}</string>
            </dict>
            <key>img_lwbj_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,3},{640,844}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,844}}</string>
                <key>sourceSize</key>
                <string>{640,846}</string>
            </dict>
            <key>img_lwbj_ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,3},{640,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,760}}</string>
                <key>sourceSize</key>
                <string>{640,760}</string>
            </dict>
            <key>img_lwbj_zifu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,767},{598,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,78}}</string>
                <key>sourceSize</key>
                <string>{598,78}</string>
            </dict>
            <key>img_lwbj_zifu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,851},{524,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,74}}</string>
                <key>sourceSize</key>
                <string>{524,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>insightCrit.png</string>
            <key>size</key>
            <string>{1906,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bffb2a48571bd6c1696685489aa68ebf:1/1$</string>
            <key>textureFileName</key>
            <string>insightCrit.png</string>
        </dict>
    </dict>
</plist>
