<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_lwjc_bj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,882}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,882}}</string>
                <key>sourceSize</key>
                <string>{640,882}</string>
            </dict>
            <key>bg_lwjc_bjrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,3},{640,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,660}}</string>
                <key>sourceSize</key>
                <string>{640,660}</string>
            </dict>
            <key>frame_lwjc_bt_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,3},{546,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,119}}</string>
                <key>sourceSize</key>
                <string>{546,119}</string>
            </dict>
            <key>frame_lwjc_bt_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,3},{549,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,73}}</string>
                <key>sourceSize</key>
                <string>{549,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>insightBonus.png</string>
            <key>size</key>
            <string>{1752,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a54b24ac81d35d06df919fb764e2584:1/1$</string>
            <key>textureFileName</key>
            <string>insightBonus.png</string>
        </dict>
    </dict>
</plist>
