<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_nghy_stbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,862}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,862}}</string>
                <key>sourceSize</key>
                <string>{640,862}</string>
            </dict>
            <key>btn_nghy_gdxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,382},{67,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,39}}</string>
                <key>sourceSize</key>
                <string>{67,39}</string>
            </dict>
            <key>btnicon_parliament_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,790},{100,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,679},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,452},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,256},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,432},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,306},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,885},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,782},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,679},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,576},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,893},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,448},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,893},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,893},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,790},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,790},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_XL_wggk01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,132},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>dh_Tex_wggk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,696},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>dh_Tex_wggk_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,317},{85,128}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,128}}</string>
                <key>sourceSize</key>
                <string>{103,128}</string>
            </dict>
            <key>dh_Tex_wggk_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,900},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>frame_cqjw_flag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{98,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,127}}</string>
                <key>sourceSize</key>
                <string>{98,127}</string>
            </dict>
            <key>frame_huizhijiangzhaotu_tuzi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,317},{364,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,232}}</string>
                <key>sourceSize</key>
                <string>{364,232}</string>
            </dict>
            <key>frame_nghy_dqgc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{639,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,141}}</string>
                <key>sourceSize</key>
                <string>{639,141}</string>
            </dict>
            <key>frame_nghy_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{233,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,85}}</string>
                <key>sourceSize</key>
                <string>{233,85}</string>
            </dict>
            <key>frame_nghy_zm.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,552},{321,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,111}}</string>
                <key>sourceSize</key>
                <string>{321,111}</string>
            </dict>
            <key>frame_nghy_zm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,766},{320,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,21}}</string>
                <key>sourceSize</key>
                <string>{320,21}</string>
            </dict>
            <key>frame_nghy_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{544,312}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,312}}</string>
                <key>sourceSize</key>
                <string>{544,316}</string>
            </dict>
            <key>frame_nghy_zsqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,317},{98,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,132}}</string>
                <key>sourceSize</key>
                <string>{98,132}</string>
            </dict>
            <key>frame_nghy_zyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,666},{320,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,97}}</string>
                <key>sourceSize</key>
                <string>{320,97}</string>
            </dict>
            <key>icon_parliament_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,2},{36,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{36,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_parliament_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,832},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,764},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,900},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,832},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,764},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,696},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,694},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,628},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,626},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,560},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,558},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,574},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,576},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,918},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,850},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,918},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,850},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,782},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,492},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,424},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,782},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_parliament_skill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,238},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>intetior.png</string>
            <key>size</key>
            <string>{1408,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6971e947fe0034c450bef413a925a21a:1/1$</string>
            <key>textureFileName</key>
            <string>intetior.png</string>
        </dict>
    </dict>
</plist>
