<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_lshs_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,403}}</string>
                <key>sourceSize</key>
                <string>{640,403}</string>
            </dict>
            <key>bg_lshs_bj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>dh_phb_dier_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1690},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1581},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1216},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1450},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1910},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1800},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1690},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1868},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1758},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1326},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,479},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,369},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,259},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1326},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1216},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1008},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,898},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1581},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1472},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_dier_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1906},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_phb_disan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1737},{100,99}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{100,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1634},{100,99}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{100,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1844},{96,101}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{96,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1436},{92,101}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{92,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,792},{94,99}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{94,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1942},{94,99}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{94,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1436},{92,101}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{92,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1532},{96,101}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{96,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1532},{98,101}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{98,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1739},{94,101}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{94,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1118},{94,99}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{94,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1634},{94,101}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{94,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1942},{94,101}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{94,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1908},{94,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{94,103}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1658},{96,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{96,101}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,689},{98,99}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{98,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1839},{100,99}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1736},{100,99}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{100,99}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,588},{100,97}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{100,97}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_disan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,216},{102,97}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{102,97}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>dh_phb_diyi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1108},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1318},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,898},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1108},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,898},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,767},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,767},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,636},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,426},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1470},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,216},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,636},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,426},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1260},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,216},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,426},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1050},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,216},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,840},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>dh_phb_diyi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1800},{127,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>sourceSize</key>
                <string>{127,216}</string>
            </dict>
            <key>frame_lshs_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,209}}</string>
                <key>sourceSize</key>
                <string>{640,209}</string>
            </dict>
            <key>frame_lshs_phb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1800},{182,354}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,354}}</string>
                <key>sourceSize</key>
                <string>{184,354}</string>
            </dict>
            <key>frame_lshs_phb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,528},{146,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,308}}</string>
                <key>sourceSize</key>
                <string>{146,308}</string>
            </dict>
            <key>frame_lshs_phb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,216},{146,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,308}}</string>
                <key>sourceSize</key>
                <string>{146,308}</string>
            </dict>
            <key>frame_lshs_txd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1326},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>icon_lshs_common_01_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1931},{106,114}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,47},{106,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_01_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,793},{96,94}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,67},{96,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_01_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1800},{94,104}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,57},{94,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_02_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1931},{106,114}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,47},{106,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_02_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1949},{96,94}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,67},{96,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_02_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1118},{94,104}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,57},{94,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_03_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1216},{104,122}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,38},{104,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_03_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,895},{100,92}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,68},{100,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_03_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,689},{100,92}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,68},{100,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_04_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,322},{106,128}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,33},{106,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_04_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1794},{100,108}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,53},{100,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_04_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1840},{100,98}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,63},{100,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_05_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,454},{104,128}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{104,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_05_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1926},{104,114}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{104,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_05_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1632},{100,100}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,62},{100,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_06_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1062},{108,150}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{108,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_06_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1528},{110,126}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{110,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_06_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1800},{108,122}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{108,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_07_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1318},{110,150}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{110,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_07_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1680},{110,126}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,43},{110,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_07_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1324},{110,122}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,47},{110,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_08_FullyOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,898},{124,160}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{124,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_08_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,131},{124,134}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,43},{124,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_lshs_common_08_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{124,134}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,43},{124,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kindnessHelp.png</string>
            <key>size</key>
            <string>{1428,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f0046bd4f0d79f6e3554254e6c32dd0:1/1$</string>
            <key>textureFileName</key>
            <string>kindnessHelp.png</string>
        </dict>
    </dict>
</plist>
