<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_lshs_f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,969},{318,156}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,156}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{318,156}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,156}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,325},{318,156}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,156}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,3},{318,154}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,154}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1163},{318,114}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,114}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1043},{318,116}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,116}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,921},{318,118}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,118}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1923},{318,118}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,118}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,797},{318,120}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,120}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,473},{318,138}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,138}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,151},{318,142}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,142}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,3},{318,144}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,144}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,325},{318,144}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,144}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,647},{318,146}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,146}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,325},{318,148}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,148}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1765},{318,154}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,154}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1607},{318,154}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,154}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1449},{318,154}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,154}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1291},{318,154}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{318,154}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_f_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{318,156}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{318,156}}</string>
                <key>sourceSize</key>
                <string>{318,224}</string>
            </dict>
            <key>dh_lshs_kuijia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1547},{142,180}}</string>
                <key>offset</key>
                <string>{35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{142,180}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1195},{150,202}}</string>
                <key>offset</key>
                <string>{31,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{150,202}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1033},{158,210}}</string>
                <key>offset</key>
                <string>{27,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,30},{158,210}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,615},{158,210}}</string>
                <key>offset</key>
                <string>{27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{158,210}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1879},{158,210}}</string>
                <key>offset</key>
                <string>{27,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,30},{158,210}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1713},{162,210}}</string>
                <key>offset</key>
                <string>{25,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,30},{162,210}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1707},{168,210}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{168,210}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1499},{168,210}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{168,210}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1013},{168,194}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,29},{168,194}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1349},{192,194}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{192,194}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,569},{194,192}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{194,192}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,3},{204,192}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{204,192}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,297},{204,192}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{204,192}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1499},{208,204}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{208,204}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1281},{210,214}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,214}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,829},{198,200}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,829},{180,198}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,198}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_kuijia_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1693},{170,190}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,190}}</string>
                <key>sourceSize</key>
                <string>{212,240}</string>
            </dict>
            <key>dh_lshs_y2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1960},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1960},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1951},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1887},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1887},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1887},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1258},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1249},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1185},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1185},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1185},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1422},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1413},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1413},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1349},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1349},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,569},{71,60}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,569},{71,60}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,439},{71,60}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,644},{69,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>dh_lshs_y_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,765},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,765},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,765},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,765},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,357},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,357},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,275},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,505},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,505},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,505},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,505},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,85},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,3},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,3},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,211},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,211},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,211},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,211},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1921},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>dh_lshs_y_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1921},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kindnessHelp2.png</string>
            <key>size</key>
            <string>{908,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb934f84ee6ce4a73b84e73518cfd009:1/1$</string>
            <key>textureFileName</key>
            <string>kindnessHelp2.png</string>
        </dict>
    </dict>
</plist>
