<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_King_Back_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{153,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,108}}</string>
                <key>sourceSize</key>
                <string>{153,108}</string>
            </dict>
            <key>frame_King_Back_info_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,73},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>frame_King_Back_info_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,123},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,37}}</string>
                <key>sourceSize</key>
                <string>{67,37}</string>
            </dict>
            <key>frame_king_line1_below.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,3},{120,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,12}}</string>
                <key>sourceSize</key>
                <string>{120,12}</string>
            </dict>
            <key>frame_king_road_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,3},{198,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>frame_king_road_base_round_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,3},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>frame_king_road_outline_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,160},{320,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,29}}</string>
                <key>sourceSize</key>
                <string>{320,29}</string>
            </dict>
            <key>frame_king_road_outline_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,73},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>frame_king_round_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,73},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kingbackUI.png</string>
            <key>size</key>
            <string>{511,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45ec7d9af6698ecd96bd675b31d9e7c6:1/1$</string>
            <key>textureFileName</key>
            <string>kingbackUI.png</string>
        </dict>
    </dict>
</plist>
