<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_wwzdz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,839},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bg_wwzdz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,3},{640,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,458}}</string>
                <key>sourceSize</key>
                <string>{640,458}</string>
            </dict>
            <key>bg_wwzdz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,3},{640,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,458}}</string>
                <key>sourceSize</key>
                <string>{640,458}</string>
            </dict>
            <key>bg_wwzdz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,458}}</string>
                <key>sourceSize</key>
                <string>{640,458}</string>
            </dict>
            <key>bg_wwzdz_build_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,647},{411,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,459}}</string>
                <key>sourceSize</key>
                <string>{411,459}</string>
            </dict>
            <key>bg_wwzdz_build_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,647},{525,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,441}}</string>
                <key>sourceSize</key>
                <string>{525,441}</string>
            </dict>
            <key>bg_wwzdz_build_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{545,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,528}}</string>
                <key>sourceSize</key>
                <string>{545,528}</string>
            </dict>
            <key>bg_wwzdz_build_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,160},{295,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,445}}</string>
                <key>sourceSize</key>
                <string>{295,445}</string>
            </dict>
            <key>bg_wwzdz_famous.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,610},{100,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_wwzdz_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,610},{94,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_wwzdz_integral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,714},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_wwzdz_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,610},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_gd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,609},{247,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,226}}</string>
                <key>sourceSize</key>
                <string>{247,226}</string>
            </dict>
            <key>dh_Tex_gd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1003},{137,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,152}}</string>
                <key>sourceSize</key>
                <string>{137,152}</string>
            </dict>
            <key>frame_wwzdz_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,160},{350,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,446}}</string>
                <key>sourceSize</key>
                <string>{350,446}</string>
            </dict>
            <key>frame_wwzdz_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,839},{72,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,340}}</string>
                <key>sourceSize</key>
                <string>{72,340}</string>
            </dict>
            <key>frame_wwzdz_flagbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,839},{320,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,370}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>frame_wwzdz_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,3},{640,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,132}}</string>
                <key>sourceSize</key>
                <string>{640,132}</string>
            </dict>
            <key>frame_wwzdz_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,139},{640,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,17}}</string>
                <key>sourceSize</key>
                <string>{640,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kingdomBattle.png</string>
            <key>size</key>
            <string>{2041,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0186b6c2e2ff315d839c106fc803ea33:1/1$</string>
            <key>textureFileName</key>
            <string>kingdomBattle.png</string>
        </dict>
    </dict>
</plist>
