<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_kfqc_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,795},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>frame_kfqc_arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,590},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>frame_kfqc_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,471},{110,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,36}</string>
            </dict>
            <key>frame_kfqc_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,3},{640,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,268}}</string>
                <key>sourceSize</key>
                <string>{640,268}</string>
            </dict>
            <key>frame_kfqc_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,856}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,856}}</string>
                <key>sourceSize</key>
                <string>{640,856}</string>
            </dict>
            <key>frame_kfqc_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,509},{320,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,495}}</string>
                <key>sourceSize</key>
                <string>{320,495}</string>
            </dict>
            <key>frame_kfqc_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,796},{464,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,36}}</string>
                <key>sourceSize</key>
                <string>{464,36}</string>
            </dict>
            <key>frame_kfqc_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,3},{464,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,36}}</string>
                <key>sourceSize</key>
                <string>{464,36}</string>
            </dict>
            <key>frame_kfqc_cell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,779},{630,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{630,62}}</string>
                <key>sourceSize</key>
                <string>{634,62}</string>
            </dict>
            <key>frame_kfqc_cell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,713},{630,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{630,62}}</string>
                <key>sourceSize</key>
                <string>{634,62}</string>
            </dict>
            <key>frame_kfqc_cell_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{630,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{630,62}}</string>
                <key>sourceSize</key>
                <string>{634,62}</string>
            </dict>
            <key>frame_kfqc_cellcolor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,655},{304,4}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{304,4}}</string>
                <key>sourceSize</key>
                <string>{310,4}</string>
            </dict>
            <key>frame_kfqc_cellcolor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,647},{310,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,4}}</string>
                <key>sourceSize</key>
                <string>{310,4}</string>
            </dict>
            <key>frame_kfqc_edge_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,647},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>frame_kfqc_edge_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,590},{232,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,158}}</string>
                <key>sourceSize</key>
                <string>{232,158}</string>
            </dict>
            <key>frame_kfqc_img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,705},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>frame_kfqc_img_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,647},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>frame_kfqc_img_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,3},{414,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,499}}</string>
                <key>sourceSize</key>
                <string>{414,499}</string>
            </dict>
            <key>frame_kfqc_img_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,3},{421,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,502}}</string>
                <key>sourceSize</key>
                <string>{421,502}</string>
            </dict>
            <key>frame_kfqc_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,707},{120,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,9}}</string>
                <key>sourceSize</key>
                <string>{120,9}</string>
            </dict>
            <key>frame_kfqc_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,663},{268,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,40}}</string>
                <key>sourceSize</key>
                <string>{268,40}</string>
            </dict>
            <key>frame_kfqc_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,752},{268,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,40}}</string>
                <key>sourceSize</key>
                <string>{268,40}</string>
            </dict>
            <key>frame_kfqc_title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,506},{320,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,80}</string>
            </dict>
            <key>icon_7290.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,752},{40,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{40,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_acrossNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,663},{34,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{34,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_alliance_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,750},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{90,89}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>icon_invitationNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,621},{34,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{34,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_kfqc_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,590},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>icon_kfqc_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,585},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>icon_kfqc_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,663},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>icon_kfqc_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,720},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>icon_kfqc_warpower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,720},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>icon_kingPower.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,723},{68,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{68,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_moveInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,647},{66,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_powerLimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,720},{36,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{36,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_recharge_across02.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,647},{90,99}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{90,99}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kohMigrate.png</string>
            <key>size</key>
            <string>{2017,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c809019b785c55cdd769e73069b2dd7a:1/1$</string>
            <key>textureFileName</key>
            <string>kohMigrate.png</string>
        </dict>
    </dict>
</plist>
