<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3nd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,971},{46,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,94}}</string>
                <key>sourceSize</key>
                <string>{46,94}</string>
            </dict>
            <key>3nd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,459},{59,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,125}}</string>
                <key>sourceSize</key>
                <string>{59,125}</string>
            </dict>
            <key>3nd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,892},{64,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,147}}</string>
                <key>sourceSize</key>
                <string>{64,147}</string>
            </dict>
            <key>3nd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{83,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,183}}</string>
                <key>sourceSize</key>
                <string>{83,183}</string>
            </dict>
            <key>3nd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,790},{71,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,169}}</string>
                <key>sourceSize</key>
                <string>{71,169}</string>
            </dict>
            <key>dh_zhujiemian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,989},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>frame_King_Back_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,274},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>frame_LegendaryKing_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,804},{124,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,48}}</string>
                <key>sourceSize</key>
                <string>{124,48}</string>
            </dict>
            <key>frame_fight_lace_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,459},{328,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{328,24}}</string>
                <key>sourceSize</key>
                <string>{348,24}</string>
            </dict>
            <key>frame_fight_lace_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{575,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,18}}</string>
                <key>sourceSize</key>
                <string>{575,18}</string>
            </dict>
            <key>frame_growup_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,902},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>frame_jshg_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1042},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>frame_jshg_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,747},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>frame_klhb_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,951},{125,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>frame_lace_08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,329},{244,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,116}}</string>
                <key>sourceSize</key>
                <string>{244,116}</string>
            </dict>
            <key>frame_lace_09_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1074},{20,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>frame_lace_activity_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,459},{509,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,14}}</string>
                <key>sourceSize</key>
                <string>{509,14}</string>
            </dict>
            <key>frame_lace_item_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1074},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>frame_lace_king_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,448},{91,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,8}}</string>
                <key>sourceSize</key>
                <string>{91,8}</string>
            </dict>
            <key>frame_lace_king_silk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,633},{184,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,256}}</string>
                <key>sourceSize</key>
                <string>{184,256}</string>
            </dict>
            <key>frame_lace_lordinfo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{324,163}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{324,163}}</string>
                <key>sourceSize</key>
                <string>{324,173}</string>
            </dict>
            <key>frame_lace_recharge_silk.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,892},{111,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,229}}</string>
                <key>sourceSize</key>
                <string>{111,229}</string>
            </dict>
            <key>frame_signin_lace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,90}}</string>
                <key>sourceSize</key>
                <string>{628,90}</string>
            </dict>
            <key>frame_signin_lace_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{120,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,454}}</string>
                <key>sourceSize</key>
                <string>{120,454}</string>
            </dict>
            <key>frame_signin_lace_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1068},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>glow_grey_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,804},{154,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{154,95}</string>
            </dict>
            <key>glow_grey_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,715},{86,166}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,166}}</string>
                <key>sourceSize</key>
                <string>{104,166}</string>
            </dict>
            <key>glow_grey_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,989},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,113}</string>
            </dict>
            <key>glow_grey_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,448},{278,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,30}}</string>
                <key>sourceSize</key>
                <string>{278,30}</string>
            </dict>
            <key>glow_pyramid_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,188},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>glow_red1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,626},{184,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,86}}</string>
                <key>sourceSize</key>
                <string>{184,86}</string>
            </dict>
            <key>glow_red1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,537},{184,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,86}}</string>
                <key>sourceSize</key>
                <string>{184,86}</string>
            </dict>
            <key>glow_red1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,448},{184,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,86}}</string>
                <key>sourceSize</key>
                <string>{184,86}</string>
            </dict>
            <key>grain_05_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,459},{285,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,21}}</string>
                <key>sourceSize</key>
                <string>{285,21}</string>
            </dict>
            <key>grain_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{456,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,12}}</string>
                <key>sourceSize</key>
                <string>{456,12}</string>
            </dict>
            <key>grain_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{628,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,19}}</string>
                <key>sourceSize</key>
                <string>{628,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laceUI.png</string>
            <key>size</key>
            <string>{512,1123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a718387ad1b497b98c77a0a8e71885:1/1$</string>
            <key>textureFileName</key>
            <string>laceUI.png</string>
        </dict>
    </dict>
</plist>
