<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cqjw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,284}}</string>
                <key>sourceSize</key>
                <string>{640,284}</string>
            </dict>
            <key>bg_cqjw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,291},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bg_cqjw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,779},{320,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,184}}</string>
                <key>sourceSize</key>
                <string>{320,184}</string>
            </dict>
            <key>frame_bzzz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1429},{608,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,65}}</string>
                <key>sourceSize</key>
                <string>{608,65}</string>
            </dict>
            <key>frame_bzzz_byq.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1720},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>frame_cqjw_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,655},{320,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,120}}</string>
                <key>sourceSize</key>
                <string>{320,120}</string>
            </dict>
            <key>frame_cqjw_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,807},{618,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,79}}</string>
                <key>sourceSize</key>
                <string>{618,79}</string>
            </dict>
            <key>frame_cqjw_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1382},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>frame_cqjw_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2041},{350,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,4}}</string>
                <key>sourceSize</key>
                <string>{350,4}</string>
            </dict>
            <key>frame_cqjw_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,779},{338,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,44}}</string>
                <key>sourceSize</key>
                <string>{338,44}</string>
            </dict>
            <key>frame_cqjw_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1153},{238,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{238,320}}</string>
                <key>sourceSize</key>
                <string>{238,342}</string>
            </dict>
            <key>frame_cqjw_bg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1477},{228,304}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{228,304}}</string>
                <key>sourceSize</key>
                <string>{238,342}</string>
            </dict>
            <key>frame_cqjw_bg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,807},{232,342}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{232,342}}</string>
                <key>sourceSize</key>
                <string>{238,342}</string>
            </dict>
            <key>frame_cqjw_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,291},{316,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,360}}</string>
                <key>sourceSize</key>
                <string>{316,360}</string>
            </dict>
            <key>frame_cqjw_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1328},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>frame_cqjw_flag_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1333},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>frame_cqjw_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,779},{320,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,35}}</string>
                <key>sourceSize</key>
                <string>{320,35}</string>
            </dict>
            <key>frame_cqjw_line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,291},{320,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,34}}</string>
                <key>sourceSize</key>
                <string>{320,34}</string>
            </dict>
            <key>frame_ygg_flagfigure_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1103},{254,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,127}}</string>
                <key>sourceSize</key>
                <string>{254,127}</string>
            </dict>
            <key>icon_LegendaryKing_honor.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1361},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_LegendaryKing_question_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1428},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_cqjw_jwjx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1503},{214,206}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,37},{214,206}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_cqjw_jwjx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1721},{214,194}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{214,194}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_cqjw_jwjx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1785},{208,242}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{208,242}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_cqjw_jwjx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1580},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_cqjw_jwjx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1494},{82,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_legendary_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1790},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1328},{58,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1660},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,779},{52,60}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1486},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{46,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1850},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1720},{64,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{64,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1788},{58,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{58,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1077},{50,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{50,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1994},{58,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,953},{50,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{50,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1928},{60,62}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1580},{42,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{42,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,901},{52,48}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{52,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1660},{58,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,843},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{52,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1860},{66,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1928},{66,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1137},{58,58}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{58,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1015},{58,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendary_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1382},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{42,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_legendaryking_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1229},{95,94}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{95,94}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>icon_legendaryking_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1229},{100,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{100,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_legendaryking_courtrybuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1121},{93,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{93,104}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>icon_legendaryking_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1994},{51,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{51,41}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>icon_legendaryking_honer.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1919},{91,110}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{91,110}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>icon_legendaryking_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1418},{83,72}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{83,72}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>icon_legendaryking_worldbuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1919},{105,96}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{105,96}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>legendTeam.png</string>
            <key>size</key>
            <string>{652,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ebb4b4f8d4f310a170e06f7dacd96f:1/1$</string>
            <key>textureFileName</key>
            <string>legendTeam.png</string>
        </dict>
    </dict>
</plist>
