<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_kzhl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,68},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>btn_kzhl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,3},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>dh_kaizhaihl1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1134},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1134},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1134},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1141},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1141},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1141},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,501},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,409},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,391},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,317},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,262},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,225},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,133},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>dh_kaizhaihl1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,133},{125,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>frame_alliance_line_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,68},{574,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,1}}</string>
                <key>sourceSize</key>
                <string>{574,1}</string>
            </dict>
            <key>frame_kzhl_ZS01.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,3},{640,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,94}}</string>
                <key>sourceSize</key>
                <string>{640,94}</string>
            </dict>
            <key>frame_kzhl_biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,647},{553,147}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,147}}</string>
                <key>sourceSize</key>
                <string>{557,149}</string>
            </dict>
            <key>frame_kzhl_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,682}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,682}}</string>
                <key>sourceSize</key>
                <string>{640,682}</string>
            </dict>
            <key>frame_kzhl_hw01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,593},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>frame_kzhl_jb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,520},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>frame_kzhl_qjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{597,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{597,434}}</string>
                <key>sourceSize</key>
                <string>{639,434}</string>
            </dict>
            <key>frame_kzhl_yun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,798},{332,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,242}}</string>
                <key>sourceSize</key>
                <string>{332,242}</string>
            </dict>
            <key>frame_kzhl_yun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,798},{339,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,272}}</string>
                <key>sourceSize</key>
                <string>{339,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lesserBairamGift.png</string>
            <key>size</key>
            <string>{1012,1277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93bab46674b3d6f024b7e1d8e9bf8c20:1/1$</string>
            <key>textureFileName</key>
            <string>lesserBairamGift.png</string>
        </dict>
    </dict>
</plist>
