<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bust_big_w_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{536,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,519}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_small_w_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,3},{201,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,196}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>head_w_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,208},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lordIcon2.png</string>
            <key>size</key>
            <string>{742,525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dea16197c5bb0bb637616b9ce8814b92:1/1$</string>
            <key>textureFileName</key>
            <string>lordIcon2.png</string>
        </dict>
    </dict>
</plist>
