<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bust_big_m_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,3},{412,505}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,14},{412,505}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_m_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1043},{468,503}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,14},{468,503}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_m_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,512},{468,487}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{468,487}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_m_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,3},{526,517}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{526,517}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_m_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1047},{502,519}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{502,519}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_m_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{536,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,519}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_m_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,526},{536,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{536,517}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_w_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1570},{472,513}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{472,513}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_w_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,524},{498,515}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{498,515}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_w_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,524},{440,497}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,15},{440,497}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_w_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1570},{464,473}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{464,473}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_w_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1047},{478,519}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{478,519}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_big_w_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,3},{494,519}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{494,519}}</string>
                <key>sourceSize</key>
                <string>{536,519}</string>
            </dict>
            <key>bust_small_m_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1205},{157,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{157,192}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_m_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1592},{179,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{179,190}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_m_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1550},{187,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{187,194}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_m_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1205},{197,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{197,198}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_m_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1003},{199,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{199,198}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_m_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1003},{201,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,198}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_m_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1205},{201,194}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{201,194}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_w_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1550},{179,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{179,196}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_w_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1733},{189,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{189,196}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_w_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1775},{167,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{167,190}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_w_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1741},{187,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{187,190}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_w_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1407},{181,198}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{181,198}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>bust_small_w_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,1403},{195,198}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,198}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>head_m_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,1810},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_m_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1810},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_m_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1810},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_m_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1706},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_m_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1706},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_m_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1706},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_m_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1602},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_w_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1602},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_w_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1602},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_w_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1003},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_w_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1932},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_w_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1933},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_w_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1933},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_lock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,567},{46,60}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{46,60}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>icon_lord_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,1677},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lord_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,1107},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>icon_lord_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,1585},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lord_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1932},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>icon_lord_herokill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1550},{34,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{34,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_lord_kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1992},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>icon_lord_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,694},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>icon_lord_necklace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1493},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lord_peeping.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1401},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lord_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,631},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>icon_lord_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1914},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lord_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1914},{100,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_lord_shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1946},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lord_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,843},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>icon_lord_trousers.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1946},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lord_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1107},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_lordskill_assist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,512},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>icon_lordskill_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,797},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>icon_lordskill_develop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,748},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>iron_lord_allicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1810},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iron_lord_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,1914},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iron_lord_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1914},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lordIcon.png</string>
            <key>size</key>
            <string>{2029,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0fb4e3ef719e0858875dd343138a4c1:1/1$</string>
            <key>textureFileName</key>
            <string>lordIcon.png</string>
        </dict>
    </dict>
</plist>
