<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_slyj_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{628,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,511}}</string>
                <key>sourceSize</key>
                <string>{628,511}</string>
            </dict>
            <key>bg_slyj_bj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3},{600,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,310}}</string>
                <key>sourceSize</key>
                <string>{600,310}</string>
            </dict>
            <key>bg_slyj_jianzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,3},{335,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,326}}</string>
                <key>sourceSize</key>
                <string>{335,326}</string>
            </dict>
            <key>btn_slyj_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,836},{111,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,36}}</string>
                <key>sourceSize</key>
                <string>{111,36}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,203},{130,59}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,753},{130,59}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,753},{132,57}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{132,57}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,444},{134,57}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{134,57}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,753},{132,59}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,444},{134,57}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{134,57}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,444},{134,59}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{134,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,444},{134,57}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{134,57}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,794},{132,59}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,444},{132,59}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,444},{132,59}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,832},{132,57}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{132,57}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,444},{132,59}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,832},{132,57}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{132,57}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,203},{128,57}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,57}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_Tex_XL_sldyj01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,203},{128,59}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,59}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>dh_yijijianzhu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,582},{196,250}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{196,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,607},{196,250}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{196,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,607},{196,250}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{196,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,542},{196,248}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{196,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,342},{196,248}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{196,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,3},{196,246}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{196,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,503},{196,246}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{196,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,253},{196,246}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{196,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,3},{196,246}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{196,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,542},{196,248}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{196,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,342},{196,248}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{196,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,635},{196,250}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{196,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,635},{196,250}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{196,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,580},{196,248}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{196,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dh_yijijianzhu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,635},{196,250}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{196,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>icon_lostRuins_gth.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,607},{22,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{22,60}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_lostRuins_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,836},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{38,60}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_lostRuins_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,836},{34,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{34,44}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_lostRuins_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,861},{26,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{26,32}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>zhdz_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,3},{376,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,437}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lostRuinsUI.png</string>
            <key>size</key>
            <string>{2006,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:304a9075f0edc4159ea4b3070f468f7e:1/1$</string>
            <key>textureFileName</key>
            <string>lostRuinsUI.png</string>
        </dict>
    </dict>
</plist>
