<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XYLYJL_yumao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1077},{189,256}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,147},{189,256}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1081},{277,256}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,156},{277,256}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1709},{321,258}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,162},{321,258}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1081},{321,274}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,166},{321,274}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1405},{321,302}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,167},{321,302}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1711},{321,330}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,164},{321,330}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1359},{321,346}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,162},{321,346}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1716},{321,352}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,166},{321,352}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1716},{321,362}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,165},{321,362}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1391},{321,376}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,164},{321,376}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1080},{321,386}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,163},{321,386}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,741},{321,396}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,161},{321,396}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,755},{321,394}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,160},{321,394}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,431},{321,394}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,167},{321,394}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,430},{321,396}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,168},{321,396}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,427},{321,396}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,169},{321,396}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,756},{321,390}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,174},{321,390}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,752},{321,390}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,175},{321,390}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1066},{321,390}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,175},{321,390}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1270},{321,234}}</string>
                <key>offset</key>
                <string>{0,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,325},{321,234}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,329},{19,186}}</string>
                <key>offset</key>
                <string>{-151,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,352},{19,186}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,519},{17,192}}</string>
                <key>offset</key>
                <string>{-152,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,350},{17,192}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>XYLYJL_yumao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,715},{13,178}}</string>
                <key>offset</key>
                <string>{-154,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,357},{13,178}}</string>
                <key>sourceSize</key>
                <string>{321,568}</string>
            </dict>
            <key>frame_xyly_bg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1602},{118,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,188}}</string>
                <key>sourceSize</key>
                <string>{118,188}</string>
            </dict>
            <key>frame_xyly_img_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1405},{306,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,344}}</string>
                <key>sourceSize</key>
                <string>{306,344}</string>
            </dict>
            <key>frame_xyly_img_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{322,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,474}}</string>
                <key>sourceSize</key>
                <string>{322,474}</string>
            </dict>
            <key>frame_xyly_img_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,3},{410,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,420}}</string>
                <key>sourceSize</key>
                <string>{410,420}</string>
            </dict>
            <key>frame_xyly_img_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,3},{423,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,444}}</string>
                <key>sourceSize</key>
                <string>{423,444}</string>
            </dict>
            <key>frame_xyly_img_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1715},{326,317}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{326,317}}</string>
                <key>sourceSize</key>
                <string>{340,317}</string>
            </dict>
            <key>frame_xyly_img_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,3},{433,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,424}}</string>
                <key>sourceSize</key>
                <string>{433,424}</string>
            </dict>
            <key>frame_xyly_img_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,329},{442,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,408}}</string>
                <key>sourceSize</key>
                <string>{442,408}</string>
            </dict>
            <key>icon_xyly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,431},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{90,92}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>icon_xyly_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,525},{90,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>icon_xyly_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,631},{90,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{90,94}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>icon_xyly_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1476},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>icon_xyly_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1077},{139,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,125}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>icon_xyly_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,752},{111,102}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{111,102}}</string>
                <key>sourceSize</key>
                <string>{129,110}</string>
            </dict>
            <key>icon_xyly_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1206},{131,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,114}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
            <key>icon_xyly_img_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1324},{148,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luckyFalcon3.png</string>
            <key>size</key>
            <string>{1779,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb1c4c214352495b0fd145fc49f767ca:1/1$</string>
            <key>textureFileName</key>
            <string>luckyFalcon3.png</string>
        </dict>
    </dict>
</plist>
