<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xrqlfx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>dh_Texture_xrqlfx_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dh_Texture_xrqlfx_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,725},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Texture_xrqlfx_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{256,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,454}}</string>
                <key>sourceSize</key>
                <string>{256,454}</string>
            </dict>
            <key>dh_Texture_xrqlfx_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,904},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Texture_xrqlfx_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,857},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Texture_xrqlfx_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,597},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_Texture_xrqlfx_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,857},{126,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dh_Texture_xrqlfx_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,597},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dh_Texture_xrqlfx_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dh_Texture_xrqlfx_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,337},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dh_Texture_xrqlfx_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,857},{128,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Texture_xrqlfx_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,461},{256,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,384}}</string>
                <key>sourceSize</key>
                <string>{256,384}</string>
            </dict>
            <key>farmer_xrqlfx_k_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,849},{163,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,162}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>farmer_xrqlfx_k_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,337},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>farmer_xrqlfx_zs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,3},{198,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,44}}</string>
                <key>sourceSize</key>
                <string>{198,44}</string>
            </dict>
            <key>frame__xrqlfx_k_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,3},{305,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,330}}</string>
                <key>sourceSize</key>
                <string>{305,330}</string>
            </dict>
            <key>frame__xrqlfx_k_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,904},{115,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>frame__xrqlfx_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,725},{186,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,175}}</string>
                <key>sourceSize</key>
                <string>{186,175}</string>
            </dict>
            <key>frame__xrqlfx_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,523},{242,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,198}}</string>
                <key>sourceSize</key>
                <string>{242,198}</string>
            </dict>
            <key>frame_xrqlfx_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,857},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>frame_ygg_hookbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,523},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>frame_ygg_introducebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,967},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>madeleShareSummer.png</string>
            <key>size</key>
            <string>{1523,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa302158ed1176ee192969d8f3fd8fad:1/1$</string>
            <key>textureFileName</key>
            <string>madeleShareSummer.png</string>
        </dict>
    </dict>
</plist>
