<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_mail_worldboss_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,144},{640,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,137}}</string>
                <key>sourceSize</key>
                <string>{640,137}</string>
            </dict>
            <key>bg_mail_worldboss_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,137}}</string>
                <key>sourceSize</key>
                <string>{640,137}</string>
            </dict>
            <key>bg_mailinfo_monster_firstkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,712},{587,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,108}}</string>
                <key>sourceSize</key>
                <string>{587,108}</string>
            </dict>
            <key>bg_mailinfo_monster_firstkill_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,824},{586,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,108}}</string>
                <key>sourceSize</key>
                <string>{586,108}</string>
            </dict>
            <key>btn_mail_chat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,518},{94,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,49}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>btn_mail_checkall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1122},{155,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,56}}</string>
                <key>sourceSize</key>
                <string>{155,56}</string>
            </dict>
            <key>btn_mail_function_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1182},{94,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,49}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>btn_mail_gift_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1185},{46,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>btn_mail_read_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,56},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>btn_mail_select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1182},{94,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,49}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>btn_mail_unread_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,752},{58,36}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{58,36}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>btn_mail_write_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1182},{94,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,49}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>btn_mailinfo_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1104},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>btn_mailinfo_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,936},{155,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,59}}</string>
                <key>sourceSize</key>
                <string>{155,59}</string>
            </dict>
            <key>btn_mailinfo_send_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1122},{155,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,59}}</string>
                <key>sourceSize</key>
                <string>{155,59}</string>
            </dict>
            <key>frame_mail_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,416},{640,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,72}}</string>
                <key>sourceSize</key>
                <string>{640,72}</string>
            </dict>
            <key>frame_mail_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1122},{56,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,168}}</string>
                <key>sourceSize</key>
                <string>{56,168}</string>
            </dict>
            <key>frame_mail_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,285},{640,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,127}}</string>
                <key>sourceSize</key>
                <string>{640,127}</string>
            </dict>
            <key>frame_mail_base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,753},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_mail_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,792},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_mail_base_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,675},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_mail_base_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,597},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_mail_base_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,519},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_mail_base_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1112},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_mail_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,632},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>frame_mail_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1112},{626,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,6}}</string>
                <key>sourceSize</key>
                <string>{626,6}</string>
            </dict>
            <key>frame_mail_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1229},{30,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,2}}</string>
                <key>sourceSize</key>
                <string>{30,2}</string>
            </dict>
            <key>frame_mailinfo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,602},{598,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,106}}</string>
                <key>sourceSize</key>
                <string>{598,106}</string>
            </dict>
            <key>frame_mailinfo_04_lace.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1136},{53,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,11}}</string>
                <key>sourceSize</key>
                <string>{53,11}</string>
            </dict>
            <key>frame_mailinfo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{310,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,110}}</string>
                <key>sourceSize</key>
                <string>{310,110}</string>
            </dict>
            <key>frame_mailinfo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,240},{112,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,32}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>frame_mailinfo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,936},{532,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,136}}</string>
                <key>sourceSize</key>
                <string>{532,136}</string>
            </dict>
            <key>frame_mailinfo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1076},{532,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,32}}</string>
                <key>sourceSize</key>
                <string>{532,32}</string>
            </dict>
            <key>frame_mailinfo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,492},{598,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,106}}</string>
                <key>sourceSize</key>
                <string>{598,106}</string>
            </dict>
            <key>frame_mailinfo_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,518},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{110,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>frame_mailinfo_line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1000},{16,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,3}}</string>
                <key>sourceSize</key>
                <string>{20,3}</string>
            </dict>
            <key>icon_mail_Adv_Medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,835},{56,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{56,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Amber_Mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,925},{78,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Astral_Mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1000},{76,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{76,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Astral_Ruins.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,870},{66,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{66,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Beacon_Tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1185},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{40,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1044},{56,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{56,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Outpost.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1119},{72,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{72,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Radiant_Palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,684},{64,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{64,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Radiant_Rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,201},{74,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{74,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_Roman.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1032},{68,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{68,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,276},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>icon_mail_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,448},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>icon_mail_adjunct.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,899},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>icon_mail_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,355},{70,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{70,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,940},{72,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{72,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_battlefield_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1032},{76,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{76,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,905},{58,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{58,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_defend.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1112},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{70,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_defendduel.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,473},{70,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{70,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_delete_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1190},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{35,35}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>icon_mail_devilvalley.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,783},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_due.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,415},{70,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{70,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,279},{116,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,119}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>icon_mail_exp_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,117},{114,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>icon_mail_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,981},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_mail_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1080},{52,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{52,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_first_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,852},{98,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1122},{72,78}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{72,78}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,677},{60,72}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{60,72}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_community.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,531},{78,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{78,62}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_envelope.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1043},{72,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{72,54}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,279},{70,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{70,72}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,117},{48,80}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{48,80}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_monsterrepor.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1122},{78,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_studio.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,705},{82,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{82,74}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_first_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,972},{66,68}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{66,68}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>icon_mail_giver.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,597},{76,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_godbeast.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,368},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>icon_mail_group.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,865},{82,56}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{82,56}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_mail_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1007},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_guidenpc.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,928},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_mail_honor.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,402},{112,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{112,120}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>icon_mail_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,3},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>icon_mail_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,117},{156,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>icon_mail_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,279},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>icon_mail_occupy.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,831},{64,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{64,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,746},{102,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{102,116}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
            <key>icon_mail_relic.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,753},{56,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{56,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_report.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1195},{36,24}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{36,24}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>icon_mail_res_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,600},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,616},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>icon_mail_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,453},{80,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_ver_update.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1136},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mail_worldboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,515},{81,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>icon_mail_ygzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,365},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>icon_mailinfo_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1185},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_mailinfo_collect_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1190},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_mailinfo_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1186},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_mailinfo_delete_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1195},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_mailinfo_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1193},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_mailinfo_share_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,112},{32,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{32,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mailUI.png</string>
            <key>size</key>
            <string>{1014,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415af9dc5061624998a6785809c0a83f:1/1$</string>
            <key>textureFileName</key>
            <string>mailUI.png</string>
        </dict>
    </dict>
</plist>
