<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_gfyh_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{247,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,42}}</string>
                <key>sourceSize</key>
                <string>{247,42}</string>
            </dict>
            <key>btn_gfyh_an2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,774},{126,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,42}}</string>
                <key>sourceSize</key>
                <string>{126,42}</string>
            </dict>
            <key>btn_gfyh_an3.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,820},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>frame_gfyh_dw.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,288}}</string>
                <key>sourceSize</key>
                <string>{640,288}</string>
            </dict>
            <key>frame_gfyh_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,647},{131,123}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{141,123}</string>
            </dict>
            <key>frame_gfyh_tbk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,757},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>frame_gfyh_tbk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,647},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>materialfactory.png</string>
            <key>size</key>
            <string>{294,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aec41d0dd733e9ebdeed6808d9da341:1/1$</string>
            <key>textureFileName</key>
            <string>materialfactory.png</string>
        </dict>
    </dict>
</plist>
