<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_rydkz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{640,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,182}}</string>
                <key>sourceSize</key>
                <string>{640,182}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,321},{546,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{546,44}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,273},{546,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{546,44}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,833},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,787},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,225},{546,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{546,44}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,741},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,973},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,927},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,695},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,881},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,599},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,553},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,507},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,461},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,415},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,369},{546,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{546,42}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,177},{546,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{546,44}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,129},{546,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{546,44}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,647},{546,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{546,44}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,833},{546,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{546,44}}</string>
                <key>sourceSize</key>
                <string>{560,50}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,833},{80,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,921},{80,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,915},{78,78}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,883},{78,76}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,749},{78,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,919},{78,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,875},{78,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,875},{78,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,855},{78,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,831},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,833},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,751},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,855},{78,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,861},{78,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,837},{78,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_rydkz02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,915},{78,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_rydkz_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>font_mermaid_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,957},{124,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,57}}</string>
                <key>sourceSize</key>
                <string>{124,57}</string>
            </dict>
            <key>font_mermaid_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,921},{370,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,32}}</string>
                <key>sourceSize</key>
                <string>{370,32}</string>
            </dict>
            <key>frame_rydkz_btl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,879},{544,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,38}}</string>
                <key>sourceSize</key>
                <string>{544,38}</string>
            </dict>
            <key>frame_rydkz_hw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,957},{46,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,115}}</string>
                <key>sourceSize</key>
                <string>{46,115}</string>
            </dict>
            <key>frame_rydkz_zjm_qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,913},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>frame_rydkz_zjm_zz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{565,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,122}}</string>
                <key>sourceSize</key>
                <string>{565,122}</string>
            </dict>
            <key>frame_rykz_sbt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,129},{543,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,37}}</string>
                <key>sourceSize</key>
                <string>{543,37}</string>
            </dict>
            <key>icon_mermaid_changeNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,957},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>icon_mermaid_giftNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,935},{64,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mermaid_luckyNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,943},{66,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{66,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_mermaid_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,921},{96,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{96,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_mermaid_rewardType_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,757},{122,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{122,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,773},{122,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{122,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,751},{122,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{122,100}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,645},{122,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{122,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,645},{122,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{122,108}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,647},{122,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{122,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,759},{122,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{122,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,645},{122,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{122,100}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,645},{122,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{122,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardType_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,647},{122,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{122,108}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_mermaid_rewardView.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,751},{100,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mermaidGift.png</string>
            <key>size</key>
            <string>{1983,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b82891e9a43f58d8e0baab25baa8dc:1/1$</string>
            <key>textureFileName</key>
            <string>mermaidGift.png</string>
        </dict>
    </dict>
</plist>
