<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_mgyzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,3},{350,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,590}}</string>
                <key>sourceSize</key>
                <string>{350,590}</string>
            </dict>
            <key>bg_mgyzz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1221},{400,414}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{400,414}}</string>
                <key>sourceSize</key>
                <string>{406,420}</string>
            </dict>
            <key>bg_mgyzz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{191,788}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,788}}</string>
                <key>sourceSize</key>
                <string>{191,788}</string>
            </dict>
            <key>bg_mgyzz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1170},{34,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,69}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>bg_mgyzz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1639},{320,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,321}}</string>
                <key>sourceSize</key>
                <string>{320,321}</string>
            </dict>
            <key>bg_mgyzz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1065},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>bg_mgyzz_dy.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,597},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>bg_mgyzz_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,597},{464,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,113}}</string>
                <key>sourceSize</key>
                <string>{464,113}</string>
            </dict>
            <key>bg_mgyzz_em.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,3},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>bg_mgyzz_jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1419},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>bg_mgyzz_kn.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,795},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>bg_mgyzz_ly.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1419},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>bg_mgyzz_ly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,795},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>bg_mgyzz_ly2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1046},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>bg_mgyzz_ly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1419},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>bg_mgyzz_ly3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,947},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>bg_mgyzz_pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,795},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>btn_mgyzz_dy.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,993},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_dy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,848},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_mgyzz_em.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,871},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_em_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,749},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_mgyzz_jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,749},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_jd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1936},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_mgyzz_kn.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,627},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_kn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1837},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_mgyzz_ly.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1964},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_ly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,673},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_ly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1964},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_ly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1738},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_mgyzz_pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,597},{118,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,76}</string>
            </dict>
            <key>btn_mgyzz_pt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1639},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mgyzzUI.png</string>
            <key>size</key>
            <string>{647,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:490adc7b5bbb1e018be211d92670dc4f:1/1$</string>
            <key>textureFileName</key>
            <string>mgyzzUI.png</string>
        </dict>
    </dict>
</plist>
