<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Military_Rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,305},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{24,16}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,373},{24,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{24,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,373},{24,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{24,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,339},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{24,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,339},{30,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{30,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,305},{30,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{30,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,271},{30,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{30,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,233},{46,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{46,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,145},{46,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,189},{44,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{44,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,101},{46,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{46,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,53},{56,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{56,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,3},{54,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{54,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Military_Rank_Skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,275},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,275},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,275},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Military_Rank_Skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MilitaryIcon.png</string>
            <key>size</key>
            <string>{472,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5db0b10ffb49ca4a696f5d1862333a4:1/1$</string>
            <key>textureFileName</key>
            <string>MilitaryIcon.png</string>
        </dict>
    </dict>
</plist>
