<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_nebulawars_teambg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,835},{640,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,508}}</string>
                <key>sourceSize</key>
                <string>{640,508}</string>
            </dict>
            <key>frame_nebulawars_bluerankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1365},{270,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,46}}</string>
                <key>sourceSize</key>
                <string>{270,46}</string>
            </dict>
            <key>frame_nebulawars_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{515,828}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{515,828}}</string>
                <key>sourceSize</key>
                <string>{597,828}</string>
            </dict>
            <key>frame_nebulawars_imgk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1347},{534,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,202}}</string>
                <key>sourceSize</key>
                <string>{534,202}</string>
            </dict>
            <key>frame_nebulawars_namebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1347},{624,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,140}}</string>
                <key>sourceSize</key>
                <string>{624,140}</string>
            </dict>
            <key>frame_nebulawars_redrankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1977},{270,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,44}}</string>
                <key>sourceSize</key>
                <string>{270,44}</string>
            </dict>
            <key>frame_nebulawars_stonetable.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1347},{640,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,68}}</string>
                <key>sourceSize</key>
                <string>{640,68}</string>
            </dict>
            <key>frame_nebulawars_stonetable01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1887},{130,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,50}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>frame_nebulawars_stonetable02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,647},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>frame_nebulawars_titlebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1331},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>icon_map_sign_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1977},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1977},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1977},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1977},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1267},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1203},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1139},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1365},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,647},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_map_sign_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,765},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_nebulawars_Statistics.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1887},{62,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>icon_nebulawars_ash.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1417},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>icon_nebulawars_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,711},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>icon_nebulawars_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1382},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>icon_nebulawars_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1941},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>icon_nebulawars_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1429},{36,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>icon_nebulawars_dissolution.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1665},{78,92}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{78,92}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>icon_nebulawars_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1941},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>icon_nebulawars_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1761},{86,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{86,90}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>icon_nebulawars_modify.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1365},{90,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{90,82}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>icon_nebulawars_ranks.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1941},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>icon_nebulawars_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1347},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>icon_nebulawars_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1975},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>img_nebulawars_Ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,825},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>img_nebulawars_Team.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,3},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>img_nebulawars_Team2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,3},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>img_nebulawars_Teamname.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1975},{517,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,41}}</string>
                <key>sourceSize</key>
                <string>{517,41}</string>
            </dict>
            <key>img_nebulawars_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1861},{640,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,112}}</string>
                <key>sourceSize</key>
                <string>{640,112}</string>
            </dict>
            <key>img_nebulawars_mvp_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1885},{198,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,69}}</string>
                <key>sourceSize</key>
                <string>{198,69}</string>
            </dict>
            <key>img_nebulawars_mvp_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,811},{324,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,54}}</string>
                <key>sourceSize</key>
                <string>{324,54}</string>
            </dict>
            <key>img_nebulawars_teambg.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,647},{640,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,174}}</string>
                <key>sourceSize</key>
                <string>{640,174}</string>
            </dict>
            <key>mapguide_step_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,825},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
            <key>mapguide_step_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1469},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
            <key>mapguide_step_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1665},{534,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,192}}</string>
                <key>sourceSize</key>
                <string>{534,192}</string>
            </dict>
            <key>mapguide_step_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1347},{536,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,192}}</string>
                <key>sourceSize</key>
                <string>{536,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nebulaWar.png</string>
            <key>size</key>
            <string>{1274,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b381fa54c037b506dd48da204664298:1/1$</string>
            <key>textureFileName</key>
            <string>nebulaWar.png</string>
        </dict>
    </dict>
</plist>
