<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xinwangz1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,887},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1203},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,615},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,999},{200,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,615},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1203},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,411},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,411},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,999},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1203},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,207},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,207},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,999},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,3},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,3},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_xinwangz2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1338},{70,42}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,67},{70,42}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1429},{80,60}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,52},{80,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1452},{82,74}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{82,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1339},{94,86}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{94,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1407},{102,92}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1083},{102,94}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1407},{102,96}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{102,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1407},{102,96}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{102,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1394},{102,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1181},{102,86}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{102,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1384},{102,76}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{102,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1083},{98,68}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{98,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1258},{76,48}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{76,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,887},{66,30}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,13},{66,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_xinwangz3_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,869},{12,14}}</string>
                <key>offset</key>
                <string>{127,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,4},{12,14}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1429},{46,64}}</string>
                <key>offset</key>
                <string>{110,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,3},{46,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1271},{82,64}}</string>
                <key>offset</key>
                <string>{92,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,3},{82,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1326},{116,64}}</string>
                <key>offset</key>
                <string>{75,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,3},{116,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1015},{152,64}}</string>
                <key>offset</key>
                <string>{57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,3},{152,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1190},{186,64}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{186,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1091},{198,64}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,3},{198,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,819},{198,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{198,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,947},{170,64}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1258},{148,64}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{148,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,869},{126,64}}</string>
                <key>offset</key>
                <string>{-67,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{126,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1271},{104,64}}</string>
                <key>offset</key>
                <string>{-78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{104,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1185},{82,64}}</string>
                <key>offset</key>
                <string>{-89,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{82,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1357},{60,64}}</string>
                <key>offset</key>
                <string>{-100,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1425},{38,64}}</string>
                <key>offset</key>
                <string>{-110,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{38,64}}</string>
                <key>sourceSize</key>
                <string>{270,70}</string>
            </dict>
            <key>dh_xinwangz_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1357},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>dh_xinwangz_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1507},{21,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,45}}</string>
                <key>sourceSize</key>
                <string>{21,45}</string>
            </dict>
            <key>dh_xinwangz_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,819},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>dh_xinwangz_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,957},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>dh_xinwangz_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1452},{261,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,63}}</string>
                <key>sourceSize</key>
                <string>{261,63}</string>
            </dict>
            <key>frame_ZJM_tsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,999},{331,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,15}}</string>
                <key>sourceSize</key>
                <string>{331,15}</string>
            </dict>
            <key>frame_xwzhk_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{608,862}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,862}}</string>
                <key>sourceSize</key>
                <string>{608,868}</string>
            </dict>
            <key>frame_xwzhk_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,869},{522,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,126}}</string>
                <key>sourceSize</key>
                <string>{522,126}</string>
            </dict>
            <key>frame_xwzhk_openBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,819},{124,183}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>frame_xwzhk_title_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1407},{346,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,41}}</string>
                <key>sourceSize</key>
                <string>{346,41}</string>
            </dict>
            <key>frame_xwzhk_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1159},{202,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,27}}</string>
                <key>sourceSize</key>
                <string>{202,27}</string>
            </dict>
            <key>tt.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1338},{6,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,30}}</string>
                <key>sourceSize</key>
                <string>{6,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newFeedbackWeek.png</string>
            <key>size</key>
            <string>{1022,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb00313cb090926d2426c217f59439b3:1/1$</string>
            <key>textureFileName</key>
            <string>newFeedbackWeek.png</string>
        </dict>
    </dict>
</plist>
