<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_yxgs_yxtyyh.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,99},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{70,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_yxlz_yxtyyh.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,269},{54,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{54,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_yxrw_yxtyyh.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,59},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{76,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>frame_ewaijueji.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,3},{320,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,120}}</string>
                <key>sourceSize</key>
                <string>{320,120}</string>
            </dict>
            <key>frame_hero_fenxj.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,3},{320,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,184}}</string>
                <key>sourceSize</key>
                <string>{320,184}</string>
            </dict>
            <key>frame_hero_lvd.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,203},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>frame_hero_lvt.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,287},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>frame_hero_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,11},{158,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,124}}</string>
                <key>sourceSize</key>
                <string>{158,124}</string>
            </dict>
            <key>frame_hero_shengjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,173},{108,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>frame_jueji_taizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,3},{320,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,126}}</string>
                <key>sourceSize</key>
                <string>{320,126}</string>
            </dict>
            <key>frame_juejikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,173},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>heroDressUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,269},{52,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{52,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,11},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{38,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_fuhuohero.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,11},{88,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,84}</string>
            </dict>
            <key>icon_herozhanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,99},{56,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{56,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>img_hero_gongnengd.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,125},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>img_hero_heiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,3},{4,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,353}}</string>
                <key>sourceSize</key>
                <string>{4,353}</string>
            </dict>
            <key>img_hero_jinengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,11},{98,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{98,44}}</string>
                <key>sourceSize</key>
                <string>{106,46}</string>
            </dict>
            <key>img_juejidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,202}}</string>
                <key>sourceSize</key>
                <string>{320,202}</string>
            </dict>
            <key>jueji.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,203},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>progressbar_hero_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,305},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newHeroUI.png</string>
            <key>size</key>
            <string>{1018,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be1fe0fa4ce890d031447cd47382ea8:1/1$</string>
            <key>textureFileName</key>
            <string>newHeroUI.png</string>
        </dict>
    </dict>
</plist>
