<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_rw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,352}}</string>
                <key>sourceSize</key>
                <string>{640,352}</string>
            </dict>
            <key>btn_zjjl_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,530},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>btn_zjjl_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,3},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>chest_mrhy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,410},{92,90}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{92,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>chest_mrhy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,410},{96,118}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{96,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>chest_mrhy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,506},{66,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{66,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chest_mrhy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,506},{64,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{64,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,441},{34,38}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{34,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,406},{40,42}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{40,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,353},{44,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,510},{44,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,308},{44,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,262},{44,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,216},{44,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,354},{42,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{42,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,452},{40,40}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{40,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_XL_mrhy01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,483},{36,36}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{36,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dh_Tex_mrhy_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,400},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>dh_Tex_mrhy_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,491},{60,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,59}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>dh_Tex_mrhy_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,491},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>frame_rw_cell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,221},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_rw_cell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,221},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_rw_cell_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,359},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_rw_cell_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{306,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,172}}</string>
                <key>sourceSize</key>
                <string>{306,172}</string>
            </dict>
            <key>frame_rw_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,138},{74,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>frame_rw_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,342},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>frame_rw_iconbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,359},{116,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,128}}</string>
                <key>sourceSize</key>
                <string>{116,128}</string>
            </dict>
            <key>frame_rw_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,117},{50,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,9}}</string>
                <key>sourceSize</key>
                <string>{50,9}</string>
            </dict>
            <key>frame_rw_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,179},{306,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,38}}</string>
                <key>sourceSize</key>
                <string>{306,38}</string>
            </dict>
            <key>frame_rw_titlebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,530},{306,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,38}}</string>
                <key>sourceSize</key>
                <string>{306,38}</string>
            </dict>
            <key>frame_zjjl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,359},{443,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,82}}</string>
                <key>sourceSize</key>
                <string>{443,82}</string>
            </dict>
            <key>frame_zjjl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,445},{443,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,81}}</string>
                <key>sourceSize</key>
                <string>{443,81}</string>
            </dict>
            <key>frame_zjjl_chapter_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,221},{117,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,47}}</string>
                <key>sourceSize</key>
                <string>{117,47}</string>
            </dict>
            <key>frame_zjjl_chapter_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,353},{176,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,53}}</string>
                <key>sourceSize</key>
                <string>{176,53}</string>
            </dict>
            <key>frame_zjjl_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,491},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>frame_zjjl_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,3},{110,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,9}}</string>
                <key>sourceSize</key>
                <string>{110,9}</string>
            </dict>
            <key>icon_zjjl_yulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,510},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>icon_zjrwl_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,491},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newQuestUI.png</string>
            <key>size</key>
            <string>{1009,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:764bcbab0dd6ef44d6a3f9e89c8b1523:1/1$</string>
            <key>textureFileName</key>
            <string>newQuestUI.png</string>
        </dict>
    </dict>
</plist>
