<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,617},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg_month_newevent.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,273},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>bg_week_newevent.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>btn_cz_menu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1143},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>dh_Tex_mrth_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,3},{584,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,63}}</string>
                <key>sourceSize</key>
                <string>{584,63}</string>
            </dict>
            <key>dh_Tex_mrth_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,605},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>frame_cz_activitybg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1122},{284,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,50}}</string>
                <key>sourceSize</key>
                <string>{284,50}</string>
            </dict>
            <key>frame_cz_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1157},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>frame_cz_barbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1143},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>frame_cz_barline_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1065},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>frame_cz_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,756},{640,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,87}}</string>
                <key>sourceSize</key>
                <string>{640,87}</string>
            </dict>
            <key>frame_cz_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,855},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>frame_cz_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,910},{320,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,98}}</string>
                <key>sourceSize</key>
                <string>{320,98}</string>
            </dict>
            <key>frame_cz_buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1077},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>frame_cz_buffcell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1026},{154,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,166}}</string>
                <key>sourceSize</key>
                <string>{154,166}</string>
            </dict>
            <key>frame_cz_buffcell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,317},{284,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,108}}</string>
                <key>sourceSize</key>
                <string>{284,108}</string>
            </dict>
            <key>frame_cz_cell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,910},{310,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,112}}</string>
                <key>sourceSize</key>
                <string>{310,112}</string>
            </dict>
            <key>frame_cz_cell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,3},{310,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,112}}</string>
                <key>sourceSize</key>
                <string>{310,112}</string>
            </dict>
            <key>frame_cz_cell_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1077},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>frame_cz_cell_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{610,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,168}}</string>
                <key>sourceSize</key>
                <string>{610,168}</string>
            </dict>
            <key>frame_cz_cell_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1098},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>frame_cz_colourbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1182},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>frame_cz_label_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1026},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>frame_cz_labelbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1168},{10,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,126}}</string>
                <key>sourceSize</key>
                <string>{10,126}</string>
            </dict>
            <key>frame_cz_labelbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,965},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>frame_cz_labelbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,849},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>frame_cz_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,889},{640,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,17}}</string>
                <key>sourceSize</key>
                <string>{640,17}</string>
            </dict>
            <key>frame_cz_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,910},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>frame_cz_menucell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1122},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>frame_cz_menucell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,961},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>frame_cz_sign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1047},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>frame_cz_tab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,821},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>frame_cz_tab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1026},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>frame_cz_timebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,821},{156,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,30}}</string>
                <key>sourceSize</key>
                <string>{156,30}</string>
            </dict>
            <key>frame_cz_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1012},{320,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,40}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>frame_cz_titlebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1056},{320,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,62}}</string>
                <key>sourceSize</key>
                <string>{320,62}</string>
            </dict>
            <key>frame_cz_titlebg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,847},{620,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,38}}</string>
                <key>sourceSize</key>
                <string>{620,38}</string>
            </dict>
            <key>frame_mrth_btl.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,543},{640,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,209}}</string>
                <key>sourceSize</key>
                <string>{640,209}</string>
            </dict>
            <key>icon_coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1047},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>icon_coin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1077},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>icon_coin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,965},{108,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,88}}</string>
                <key>sourceSize</key>
                <string>{108,88}</string>
            </dict>
            <key>icon_coin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,963},{118,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{118,80}</string>
            </dict>
            <key>icon_coin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,855},{126,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{126,104}</string>
            </dict>
            <key>icon_coin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,747},{136,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,98}}</string>
                <key>sourceSize</key>
                <string>{136,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newRechargeUI.png</string>
            <key>size</key>
            <string>{1014,1195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f380daa4de70daedf1d931f1af30b836:1/1$</string>
            <key>textureFileName</key>
            <string>newRechargeUI.png</string>
        </dict>
    </dict>
</plist>
