<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NewYearCarnival.ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,933},{342,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,63}}</string>
                <key>sourceSize</key>
                <string>{342,63}</string>
            </dict>
            <key>NewYearCarnival.en.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,851},{362,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,78}}</string>
                <key>sourceSize</key>
                <string>{362,78}</string>
            </dict>
            <key>bg_rl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{626,779}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,779}}</string>
                <key>sourceSize</key>
                <string>{626,779}</string>
            </dict>
            <key>frame_rl_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,639},{247,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,59}}</string>
                <key>sourceSize</key>
                <string>{247,59}</string>
            </dict>
            <key>frame_rl_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,3},{250,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,16}}</string>
                <key>sourceSize</key>
                <string>{250,16}</string>
            </dict>
            <key>frame_rl_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,639},{110,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,252}}</string>
                <key>sourceSize</key>
                <string>{110,252}</string>
            </dict>
            <key>frame_rl_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,639},{40,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,276}}</string>
                <key>sourceSize</key>
                <string>{40,276}</string>
            </dict>
            <key>frame_rl_figure_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,786},{26,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,10}}</string>
                <key>sourceSize</key>
                <string>{26,10}</string>
            </dict>
            <key>frame_rl_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,890},{10,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1}}</string>
                <key>sourceSize</key>
                <string>{10,1}</string>
            </dict>
            <key>frame_rlhd_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,701},{326,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,146}}</string>
                <key>sourceSize</key>
                <string>{326,146}</string>
            </dict>
            <key>frame_rlhd_cqxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,786},{575,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,201}}</string>
                <key>sourceSize</key>
                <string>{575,201}</string>
            </dict>
            <key>frame_rlhd_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,3},{305,694}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{305,694}}</string>
                <key>sourceSize</key>
                <string>{305,696}</string>
            </dict>
            <key>frame_rlhd_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,895},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
            <key>frame_rlhd_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,3},{582,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,218}}</string>
                <key>sourceSize</key>
                <string>{582,218}</string>
            </dict>
            <key>frame_rlhd_wzdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,919},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>frame_rlhd_xd.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,589},{208,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{212,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newYearCalendar.png</string>
            <key>size</key>
            <string>{1183,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db4721b2d35f6e64c00bec336b20e1ae:1/1$</string>
            <key>textureFileName</key>
            <string>newYearCalendar.png</string>
        </dict>
    </dict>
</plist>
