<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_font_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{49,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{49,87}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{59,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,87}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{57,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{55,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{55,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_font_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>frame_hzlh_num_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,94},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{28,60}</string>
            </dict>
            <key>frame_hzlh_num_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,65},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,65},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,65},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,65},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>frame_hzlh_num_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,110},{16,20}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,60}</string>
            </dict>
            <key>icon_acyivity_rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,112},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,25}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>icon_acyivity_rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,94},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>icon_acyivity_rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,94},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>icon_alliance_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,55},{49,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{49,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>icon_alliance_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,2},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>icon_alliance_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{53,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>icon_alliance_R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,65},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>icon_alliance_R5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,60},{53,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>icon_devil_valley_countdown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{86,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,120}}</string>
                <key>sourceSize</key>
                <string>{86,120}</string>
            </dict>
            <key>icon_devil_valley_countdown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,123}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
            <key>icon_devil_valley_countdown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{102,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,123}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
            <key>icon_gdsd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,104},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>icon_gdsd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>icon_gdsd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,88},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>icon_herotrial_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,104},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,23}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,104},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,25}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,94},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,27}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,94},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,27}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,94},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,27}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,94},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,27}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,94},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,29}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,94},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,25}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_herotrial_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,94},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,27}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>icon_signin_golden_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,2},{36,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{36,46}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,94},{30,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,94},{32,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{32,56}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,92},{34,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,56}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,2},{36,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{34,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,57},{36,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{36,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,53},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{34,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_golden_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,53},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{36,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,51},{34,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{34,46}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,94},{30,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,94},{32,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{32,56}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,92},{34,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,56}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,57},{36,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,55},{34,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,58},{36,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{36,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{34,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>icon_signin_silver_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{36,48}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>numIcon.png</string>
            <key>size</key>
            <string>{1515,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:794b356e8ef2a51b69b4f4ae5af81f9a:1/1$</string>
            <key>textureFileName</key>
            <string>numIcon.png</string>
        </dict>
    </dict>
</plist>
