<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_optional_package_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,847},{316,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,140}}</string>
                <key>sourceSize</key>
                <string>{316,140}</string>
            </dict>
            <key>bg_optional_package_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,209},{533,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,136}}</string>
                <key>sourceSize</key>
                <string>{533,136}</string>
            </dict>
            <key>bg_optional_package_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{538,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,202}}</string>
                <key>sourceSize</key>
                <string>{538,202}</string>
            </dict>
            <key>bg_zxtc_zhlx.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,909}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,909}}</string>
                <key>sourceSize</key>
                <string>{640,909}</string>
            </dict>
            <key>frame_zxtc_gdlx_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,916},{209,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,46}}</string>
                <key>sourceSize</key>
                <string>{209,46}</string>
            </dict>
            <key>frame_zxtc_gdlx_ft.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,916},{410,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,83}}</string>
                <key>sourceSize</key>
                <string>{410,83}</string>
            </dict>
            <key>frame_zxtc_gdlx_hw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,563},{218,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,40}}</string>
                <key>sourceSize</key>
                <string>{218,40}</string>
            </dict>
            <key>frame_zxtc_gdlx_jh.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,953},{126,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,67}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>frame_zxtc_zhlx_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,775},{170,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,174}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>icon_optpackage_equipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,613},{260,230}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{260,230}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_optpackage_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,349},{254,210}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{254,210}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_optpackage_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,349},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,260}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_optpackage_pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,563},{248,208}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{248,208}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>optionalPackage.png</string>
            <key>size</key>
            <string>{1206,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca336b34c2cb429af764f7816ea31a33:1/1$</string>
            <key>textureFileName</key>
            <string>optionalPackage.png</string>
        </dict>
    </dict>
</plist>
