<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_mcx1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,687},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,3},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,345},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,3},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,117},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,231},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,3},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,117},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,573},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,687},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,3},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,107},{96,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,221},{96,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,3},{96,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,107},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,211},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,315},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,459},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,573},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,325},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,707},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,625},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,707},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,625},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,529},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,407},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,325},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,513},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,417},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,321},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,321},{78,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,619},{78,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,715},{80,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{80,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,523},{80,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{80,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,627},{80,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{80,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,427},{78,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,723},{78,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,627},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,723},{78,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dh_mcx3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,687},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,3},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,107},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,209},{106,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,221},{106,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,105},{108,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,211},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,345},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,459},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,573},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,3},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,209},{104,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,105},{104,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,107},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,231},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,345},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,459},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,3},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,117},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,231},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_mcx4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,585},{62,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,519},{62,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,669},{60,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,407},{62,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,407},{62,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,503},{62,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,417},{62,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,561},{62,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,557},{60,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,733},{60,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{60,106}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,557},{60,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,493},{60,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,381},{60,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,381},{60,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,697},{60,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,317},{60,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{60,106}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,585},{60,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,315},{60,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{60,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,495},{62,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dh_mcx4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,429},{62,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen1.png</string>
            <key>size</key>
            <string>{1008,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d25196ae48cd3d37564a59d2044d8af8:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen1.png</string>
        </dict>
    </dict>
</plist>
