<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwdldslc_kapai_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,799},{550,808}}</string>
                <key>offset</key>
                <string>{45,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{550,808}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{586,792}}</string>
                <key>offset</key>
                <string>{27,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{586,792}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,778}}</string>
                <key>offset</key>
                <string>{0,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,778}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,785},{640,774}}</string>
                <key>offset</key>
                <string>{0,181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,774}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen11.png</string>
            <key>size</key>
            <string>{1236,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f0a2c79a77b06871b813d1dc9422bb0:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen11.png</string>
        </dict>
    </dict>
</plist>
