<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_mcs7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,331},{48,40}}</string>
                <key>offset</key>
                <string>{-71,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,545},{52,76}}</string>
                <key>offset</key>
                <string>{-69,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,565},{54,78}}</string>
                <key>offset</key>
                <string>{-68,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,469},{54,92}}</string>
                <key>offset</key>
                <string>{-68,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,561},{62,98}}</string>
                <key>offset</key>
                <string>{-64,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,579},{68,142}}</string>
                <key>offset</key>
                <string>{-61,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,142}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,401},{144,198}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,198}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,399},{144,220}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,220}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,233},{164,226}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,3},{180,226}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,3},{184,226}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,3},{190,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,3},{190,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,3},{190,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,3},{190,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,3},{190,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,226}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,233},{190,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{190,220}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,233},{190,178}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{190,178}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,227},{190,158}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{190,158}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,561},{190,90}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{190,90}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>dh_mcs8_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,281},{42,46}}</string>
                <key>offset</key>
                <string>{-58,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,469},{70,72}}</string>
                <key>offset</key>
                <string>{-45,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,563},{96,88}}</string>
                <key>offset</key>
                <string>{-32,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,555},{130,104}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,104}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,427},{144,120}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,373},{160,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,132}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,187},{160,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,138}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,421},{158,138}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,329},{158,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,136}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,417},{158,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{158,134}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,509},{150,118}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{150,118}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,427},{130,110}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{130,110}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,553},{106,96}}</string>
                <key>offset</key>
                <string>{27,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,42},{106,96}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,563},{100,88}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,50},{100,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,555},{84,64}}</string>
                <key>offset</key>
                <string>{37,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,74},{84,64}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs8_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,545},{72,52}}</string>
                <key>offset</key>
                <string>{43,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,86},{72,52}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_mcs9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,561},{76,96}}</string>
                <key>offset</key>
                <string>{-57,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,184},{76,96}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,553},{106,130}}</string>
                <key>offset</key>
                <string>{-42,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,149},{106,130}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,261},{134,154}}</string>
                <key>offset</key>
                <string>{-30,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,126},{134,154}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,191},{170,178}}</string>
                <key>offset</key>
                <string>{-11,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,101},{170,178}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,233},{180,202}}</string>
                <key>offset</key>
                <string>{-5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,76},{180,202}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,3},{194,220}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,57},{194,220}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,3},{192,254}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{192,254}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{192,274}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{192,274}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,281},{184,268}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,233},{162,242}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{162,242}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,399},{152,214}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,1},{152,214}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,427},{130,206}}</string>
                <key>offset</key>
                <string>{34,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{130,206}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,549},{110,182}}</string>
                <key>offset</key>
                <string>{44,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{110,182}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,555},{104,172}}</string>
                <key>offset</key>
                <string>{47,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,0},{104,172}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,551},{88,140}}</string>
                <key>offset</key>
                <string>{55,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,0},{88,140}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>dh_mcs9_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,509},{76,120}}</string>
                <key>offset</key>
                <string>{61,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,2},{76,120}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen6.png</string>
            <key>size</key>
            <string>{2023,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83bc5a3e5073f34d83073ebdd9f804a6:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen6.png</string>
        </dict>
    </dict>
</plist>
