<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_mengchongzs1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,657},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,657},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,655},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,653},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,877},{218,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,875},{218,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,873},{218,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,657},{218,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,657},{218,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,657},{218,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,437},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,437},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,437},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,219},{214,278}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{214,278}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,437},{216,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,219},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,219},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,217},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,3},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,437},{214,276}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,276}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,435},{214,276}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,276}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,435},{214,276}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,276}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,219},{214,276}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,276}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,219},{214,276}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,276}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,219},{214,276}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,276}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,3},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,3},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,3},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{210,272}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{210,272}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs3_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,3},{212,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,274}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,3},{210,216}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,43},{210,216}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,877},{220,270}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{220,270}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1103},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1103},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1103},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1103},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1099},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1097},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1095},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,879},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,879},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>dh_mengchongzs4_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,879},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaAni2.png</string>
            <key>size</key>
            <string>{1990,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee183c0cf6032d8f8969a9486e3d9236:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaAni2.png</string>
        </dict>
    </dict>
</plist>
