<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_mengchong1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1567},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1573},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1383},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1389},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1199},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1199},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1205},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1785},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1785},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1803},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1601},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1417},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1233},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1601},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1417},{162,180}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_mengchong261_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1009},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,727},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,727},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,507},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,3},{218,280}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{218,280}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,973},{218,280}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{218,280}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,3},{218,280}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{218,280}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,689},{218,280}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{218,280}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,3},{218,280}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{218,280}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,507},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,287},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,287},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1539},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,3},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong261_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1257},{216,278}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,278}}</string>
                <key>sourceSize</key>
                <string>{240,290}</string>
            </dict>
            <key>dh_mengchong26_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1751},{114,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,43},{114,104}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1863},{122,114}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,37},{122,114}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,667},{130,120}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,34},{130,120}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,791},{144,142}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{144,142}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1757},{172,168}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{172,168}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1233},{198,180}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{198,180}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1821},{216,162}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{216,162}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1649},{210,172}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{210,172}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1009},{220,182}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{220,182}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,287},{228,192}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{228,192}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,967},{234,194}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,194}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,727},{236,196}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,196}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,285},{234,196}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,196}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,519},{232,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{232,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1417},{176,190}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{176,190}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1611},{174,188}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,6},{174,188}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,3},{94,172}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,5},{94,172}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong26_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,961},{2,2}}</string>
                <key>offset</key>
                <string>{-3,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,175},{2,2}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_mengchong28_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1859},{82,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{82,118}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong28_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1843},{86,118}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{86,118}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1505},{88,118}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{88,118}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong28_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1627},{90,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{90,118}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong28_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1059},{90,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{90,118}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong28_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,937},{90,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{90,118}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong28_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1383},{86,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{86,118}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong28_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,3},{10,18}}</string>
                <key>offset</key>
                <string>{-33,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,105},{10,18}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>dh_mengchong5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1751},{88,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,116}}</string>
                <key>sourceSize</key>
                <string>{88,116}</string>
            </dict>
            <key>dh_mengchong6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,375},{283,310}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{283,310}}</string>
                <key>sourceSize</key>
                <string>{283,336}</string>
            </dict>
            <key>dh_mengchong7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{368,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,368}}</string>
                <key>sourceSize</key>
                <string>{368,368}</string>
            </dict>
            <key>dh_mengchongzs_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,961},{162,234}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{162,234}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>dh_mengchongzs_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,723},{170,234}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{170,234}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>dh_mengchongzs_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1229},{178,234}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{178,234}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>dh_mengchongzs_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,961},{178,234}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{178,234}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>dh_mengchongzs_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,723},{178,234}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{178,234}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>dh_mengchongzs_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,485},{178,234}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{178,234}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>dh_mengchongzs_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1411},{168,234}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{168,234}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>dh_mengchongzs_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,689},{20,34}}</string>
                <key>offset</key>
                <string>{-69,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,207},{20,34}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaAni.png</string>
            <key>size</key>
            <string>{1372,1987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a3685e522259ba147c3fb29cc7f006:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaAni.png</string>
        </dict>
    </dict>
</plist>
