<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwdldslc_kapai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,729},{112,66}}</string>
                <key>offset</key>
                <string>{-44,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,627},{112,66}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,729},{122,80}}</string>
                <key>offset</key>
                <string>{-38,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,628},{122,80}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,499},{138,102}}</string>
                <key>offset</key>
                <string>{-31,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,621},{138,102}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,303},{192,140}}</string>
                <key>offset</key>
                <string>{-42,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,600},{192,140}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,605},{250,184}}</string>
                <key>offset</key>
                <string>{-43,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,575},{250,184}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,303},{312,236}}</string>
                <key>offset</key>
                <string>{-48,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,550},{312,236}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,3},{380,296}}</string>
                <key>offset</key>
                <string>{-57,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,524},{380,296}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>dh_s011_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,543},{160,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,284}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{549,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,722}}</string>
                <key>sourceSize</key>
                <string>{549,722}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen7.png</string>
            <key>size</key>
            <string>{1015,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60497cc486f44912548d6151072d6fef:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen7.png</string>
        </dict>
    </dict>
</plist>
