<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_mengchong5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,233},{158,198}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,47},{158,198}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,699},{158,202}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{158,202}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,491},{150,204}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{150,204}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,491},{138,206}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{138,206}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,813},{118,206}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,43},{118,206}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,803},{96,202}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{96,202}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,829},{72,192}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{72,192}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,813},{96,202}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{96,202}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,701},{136,206}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{136,206}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,3},{156,226}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{156,226}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,255},{170,232}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{170,232}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,3},{182,248}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{182,248}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,273},{182,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,543},{180,266}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{182,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,543},{178,266}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,3},{176,266}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,273},{174,266}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,273},{170,266}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,3},{168,266}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,543},{162,266}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,543},{154,256}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{154,256}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,255},{142,236}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{142,236}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,813},{114,196}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{114,196}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,3},{70,132}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,61},{70,132}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>dh_mengchong6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,200},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,3},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,397},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,200},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,3},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,594},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,397},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,200},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,3},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,791},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,594},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,397},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,200},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,3},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,594},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,397},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,200},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,791},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,594},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,397},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,791},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,594},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,3},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,200},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,397},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,632},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,3},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,200},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,435},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>dh_mengchong7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,3},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaAni4.png</string>
            <key>size</key>
            <string>{2030,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72642d261aa8cedd87e57681905f3725:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaAni4.png</string>
        </dict>
    </dict>
</plist>
