<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwubeijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>fame_chongwu_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1625},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fame_chongwu_txkd.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1625},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>frame_chongwu_mingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1833},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>frame_chongwu_pingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1625},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>frame_cw_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1518},{640,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,103}}</string>
                <key>sourceSize</key>
                <string>{640,103}</string>
            </dict>
            <key>frame_cw_zt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,121}}</string>
                <key>sourceSize</key>
                <string>{640,121}</string>
            </dict>
            <key>icon_dear_pet_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1717},{100,94}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{100,94}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1701},{118,62}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{118,62}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1833},{116,68}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{116,68}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1843},{118,58}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{118,58}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1833},{68,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{68,100}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1833},{118,64}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1701},{118,56}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1717},{82,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1625},{118,84}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{118,84}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1713},{90,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1625},{80,88}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{80,88}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1717},{82,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{82,104}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1861},{116,30}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,47},{116,30}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>icon_dear_pet_shadow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1625},{118,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>img_chongwu_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1833},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_chongwu_zhanlidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1625},{214,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,32}}</string>
                <key>sourceSize</key>
                <string>{214,32}</string>
            </dict>
            <key>img_congwuheidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1825},{4,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,483}}</string>
                <key>sourceSize</key>
                <string>{4,483}</string>
            </dict>
            <key>progressbar_congwu_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1825},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>progressbar_congwu_blued.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1625},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,22}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCardIcon.png</string>
            <key>size</key>
            <string>{646,1906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9d57234cd4505dcf3c6345a1efbd546:1/1$</string>
            <key>textureFileName</key>
            <string>petCardIcon.png</string>
        </dict>
    </dict>
</plist>
