<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh__mck1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,731},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,523},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,627},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,419},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,523},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,3},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,315},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,419},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,211},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,315},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,107},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,211},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,3},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{380,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,100}}</string>
                <key>sourceSize</key>
                <string>{380,100}</string>
            </dict>
            <key>dh__mck2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,3},{256,134}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{256,134}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,387},{262,136}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{262,136}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,653},{266,138}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{266,138}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,939},{268,140}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,795},{268,140}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1345},{270,140}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1201},{272,140}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{272,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1057},{278,140}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,913},{282,140}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,769},{284,140}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{284,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1259},{288,140}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{288,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1115},{292,140}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,971},{294,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,140}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,627},{298,138}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,138}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh__mck2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,835},{304,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,132}}</string>
                <key>sourceSize</key>
                <string>{310,140}</string>
            </dict>
            <key>dh_mcs10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,835},{74,52}}</string>
                <key>offset</key>
                <string>{46,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,88},{74,52}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,263},{114,86}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,54},{114,86}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1225},{150,100}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{150,100}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1225},{174,116}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{174,116}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1083},{186,138}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{186,138}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,939},{184,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,140}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1403},{178,128}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,128}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1345},{174,124}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,124}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1127},{166,114}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,114}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1297},{144,108}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,108}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1409},{146,108}}</string>
                <key>offset</key>
                <string>{-27,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,108}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1083},{124,92}}</string>
                <key>offset</key>
                <string>{-38,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1403},{108,82}}</string>
                <key>offset</key>
                <string>{-46,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,82}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,353},{90,78}}</string>
                <key>offset</key>
                <string>{-55,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,447},{84,68}}</string>
                <key>offset</key>
                <string>{-58,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>dh_mcs10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,535},{46,36}}</string>
                <key>offset</key>
                <string>{-77,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen.png</string>
            <key>size</key>
            <string>{1012,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b015914c5d17f10ba20836d8d07259e:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen.png</string>
        </dict>
    </dict>
</plist>
