<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwdldslc_kapai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1401},{640,478}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,397},{640,478}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1401},{640,562}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,358},{640,562}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1373},{640,668}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{640,668}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,595},{640,774}}</string>
                <key>offset</key>
                <string>{0,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,275},{640,774}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,882}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,230},{640,882}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{588,996}}</string>
                <key>offset</key>
                <string>{26,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,140},{588,996}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,889},{508,1136}}</string>
                <key>offset</key>
                <string>{66,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,0},{508,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen9.png</string>
            <key>size</key>
            <string>{1786,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e5263698adce3dbcf29d7f87fa1a12:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen9.png</string>
        </dict>
    </dict>
</plist>
