<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_mcs5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,861},{126,66}}</string>
                <key>offset</key>
                <string>{17,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,87},{126,66}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_mcs5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,651},{148,86}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,63},{148,86}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_mcs5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,233},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_mcs5_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,805},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_mcs6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,861},{110,94}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,122},{110,94}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,741},{130,116}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,113},{130,116}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,433},{138,134}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{138,134}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,837},{150,150}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{150,150}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,269},{160,138}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,126},{160,138}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,417},{160,162}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{160,162}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,247},{160,178}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,429},{160,176}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,837},{160,146}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,583},{160,166}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,487},{160,194}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{160,194}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,609},{160,220}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,3},{160,240}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,3},{158,262}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{158,262}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{140,284}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{140,284}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,291},{120,284}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{120,284}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,571},{56,240}}</string>
                <key>offset</key>
                <string>{52,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{56,240}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,773},{60,234}}</string>
                <key>offset</key>
                <string>{50,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{60,234}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,651},{70,42}}</string>
                <key>offset</key>
                <string>{45,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,189},{70,42}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,753},{160,218}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{160,218}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,3},{160,226}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,226}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,579},{160,222}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,3},{152,216}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{152,216}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,159},{160,212}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,212}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_mcs6_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,323},{160,210}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen5.png</string>
            <key>size</key>
            <string>{856,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40a66527854833f238b795e0fa0011ef:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen5.png</string>
        </dict>
    </dict>
</plist>
