<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwdldslc_kapai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{422,1136}}</string>
                <key>offset</key>
                <string>{109,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,0},{422,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,3},{182,908}}</string>
                <key>offset</key>
                <string>{229,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,0},{182,908}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,3},{210,874}}</string>
                <key>offset</key>
                <string>{215,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,13},{210,874}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,833},{246,52}}</string>
                <key>offset</key>
                <string>{197,-272}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,814},{246,52}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{640,770}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,87},{640,770}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,915},{640,826}}</string>
                <key>offset</key>
                <string>{0,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{640,826}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cwdldslc_kapai_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,3},{640,826}}</string>
                <key>offset</key>
                <string>{0,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,826}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarnivaTen10.png</string>
            <key>size</key>
            <string>{1472,1787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f514ba45cebba90d350340e94411592:1/1$</string>
            <key>textureFileName</key>
            <string>petCarnivaTen10.png</string>
        </dict>
    </dict>
</plist>
