<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8338.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,545},{104,112}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{104,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_petFlip_9001302.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_petFlip_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,384},{157,226}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{157,226}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_mcdkh_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,647},{622,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,190}}</string>
                <key>sourceSize</key>
                <string>{622,190}</string>
            </dict>
            <key>frame_mcdld_pethead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,545},{86,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,112}}</string>
                <key>sourceSize</key>
                <string>{86,112}</string>
            </dict>
            <key>frame_mcdld_pethead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,653},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>frame_petFlip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,663},{115,164}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{115,164}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,663},{115,172}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{115,172}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,647},{113,162}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{113,162}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,663},{115,172}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{115,172}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,647},{115,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{115,180}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,647},{103,154}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,51},{103,154}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,663},{115,162}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{115,162}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,647},{115,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{115,182}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,647},{101,182}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{101,182}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,653},{105,128}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,52},{105,128}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>frame_petFlip_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,3},{159,232}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{159,232}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>icon_mcdkh_double_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,781},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>icon_mcdkh_reward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,166},{226,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,214}}</string>
                <key>sourceSize</key>
                <string>{226,214}</string>
            </dict>
            <key>icon_petFlip_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,647},{130,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{360,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,656}}</string>
                <key>sourceSize</key>
                <string>{360,656}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petCarniva.png</string>
            <key>size</key>
            <string>{1994,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21851f0a70836f4a74c7277d269d898f:1/1$</string>
            <key>textureFileName</key>
            <string>petCarniva.png</string>
        </dict>
    </dict>
</plist>
