<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_pet_headportrait_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,249},{127,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,78}}</string>
                <key>sourceSize</key>
                <string>{127,78}</string>
            </dict>
            <key>bg_pet_headportrait_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,249},{127,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,78}}</string>
                <key>sourceSize</key>
                <string>{127,78}</string>
            </dict>
            <key>icon_dear_pet_deblocking.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,473},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_pet_exchange_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,637},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_pet_exchange_enter_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,553},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_pet_exchange_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,569},{64,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{64,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon_pet_ranking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,849},{70,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{70,66}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>icon_pet_ranking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,245},{70,74}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{70,74}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>icon_pet_ranking_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,487},{72,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{72,78}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>icon_pet_ranking_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,519},{72,80}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{72,80}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>icon_pet_skillreceice.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,167},{54,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{54,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_pet_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,849},{66,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{66,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>peticon_1251_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,635},{70,76}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1251_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,471},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1252_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,709},{70,78}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1252_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,473},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1252_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,391},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1252_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,309},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1253_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,167},{78,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1253_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,389},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1253_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,509},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1253_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,391},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1254_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,875},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1254_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,795},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1254_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,715},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1255_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,245},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1255_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,409},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1255_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,327},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1256_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,487},{72,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1256_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,79},{72,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1256_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,3},{72,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1256_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,323},{72,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1257_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,245},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1257_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,307},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1257_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,225},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1258_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,85},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1258_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,85},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1258_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,3},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1258_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,85},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1259_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,227},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1259_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,309},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1259_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,227},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1259_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,737},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1260_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,167},{76,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1260_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,3},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1260_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,719},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1260_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,637},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1261_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,779},{66,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1261_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,635},{70,78}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1261_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,709},{66,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1261_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,485},{66,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1262_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,923},{64,70}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1262_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,519},{72,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1262_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,3},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1262_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,737},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1263_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,569},{62,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1263_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,161},{66,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1263_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,555},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1264_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,925},{72,66}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{72,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1264_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,167},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1264_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,85},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1264_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,737},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1265.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,331},{260,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{260,162}}</string>
                <key>sourceSize</key>
                <string>{260,264}</string>
            </dict>
            <key>peticon_1265_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,405},{76,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{76,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1265_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,3},{74,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1265_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,323},{70,78}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>peticon_1265_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,737},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>petpic_1251.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,3},{242,204}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,3},{242,204}}</string>
                <key>sourceSize</key>
                <string>{296,218}</string>
            </dict>
            <key>petpic_1252.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,835},{292,142}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{292,142}}</string>
                <key>sourceSize</key>
                <string>{348,160}</string>
            </dict>
            <key>petpic_1253.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{326,200}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{326,200}}</string>
                <key>sourceSize</key>
                <string>{346,226}</string>
            </dict>
            <key>petpic_1254.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,3},{182,220}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{182,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>petpic_1255.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,819},{204,152}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{204,152}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>petpic_1256.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,857},{286,120}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{286,120}}</string>
                <key>sourceSize</key>
                <string>{348,150}</string>
            </dict>
            <key>petpic_1257.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,331},{184,150}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{184,150}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>petpic_1258.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,597},{192,234}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,234}}</string>
                <key>sourceSize</key>
                <string>{210,250}</string>
            </dict>
            <key>petpic_1259.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,333},{220,260}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{220,260}}</string>
                <key>sourceSize</key>
                <string>{260,264}</string>
            </dict>
            <key>petpic_1263.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,595},{138,262}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,2},{138,262}}</string>
                <key>sourceSize</key>
                <string>{260,264}</string>
            </dict>
            <key>petpic_1264.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,597},{256,176}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,51},{256,176}}</string>
                <key>sourceSize</key>
                <string>{260,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petIcon.png</string>
            <key>size</key>
            <string>{1024,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32424a747ee4d9d02f31ae27a75fa18b:1/1$</string>
            <key>textureFileName</key>
            <string>petIcon.png</string>
        </dict>
    </dict>
</plist>
