<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_yuxianxiazai.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>icon_activity_9001322_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,445},{60,52}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{60,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon_activity_9001322_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,445},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>img_yuxiazai_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{596,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,98}}</string>
                <key>sourceSize</key>
                <string>{596,100}</string>
            </dict>
            <key>img_yuxiazai_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,3},{438,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,130}}</string>
                <key>sourceSize</key>
                <string>{438,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preDownload.png</string>
            <key>size</key>
            <string>{1628,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d967d6d6c03ffbd658b002f5ed6291ed:1/1$</string>
            <key>textureFileName</key>
            <string>preDownload.png</string>
        </dict>
    </dict>
</plist>
