<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XLkzhlhd01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,708},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,504},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,912},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,708},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,920},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,920},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,920},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,708},{192,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{192,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,922},{198,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,716},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,504},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,504},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,512},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XLkzhlhd01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,512},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_kzhlhd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,482},{104,102}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{104,102}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>dh_Tex_kzhlhd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,3},{206,75}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{206,75}}</string>
                <key>sourceSize</key>
                <string>{214,85}</string>
            </dict>
            <key>dh_Tex_kzhlhd_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,912},{213,100}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,100}}</string>
                <key>sourceSize</key>
                <string>{213,112}</string>
            </dict>
            <key>frame_9001293_font_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,213},{265,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,44}}</string>
                <key>sourceSize</key>
                <string>{265,44}</string>
            </dict>
            <key>frame_9001293_font_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,513},{390,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,18}}</string>
                <key>sourceSize</key>
                <string>{390,18}</string>
            </dict>
            <key>frame_kzhlhd_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1016},{104,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,125}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>frame_kzhlhd_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,912},{176,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,131}}</string>
                <key>sourceSize</key>
                <string>{176,131}</string>
            </dict>
            <key>frame_kzhlhd_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,716},{225,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,165}}</string>
                <key>sourceSize</key>
                <string>{225,165}</string>
            </dict>
            <key>frame_kzhlhd_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1105},{461,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,7}}</string>
                <key>sourceSize</key>
                <string>{461,7}</string>
            </dict>
            <key>frame_kzhlhd_fwcd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{623,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,506}}</string>
                <key>sourceSize</key>
                <string>{623,506}</string>
            </dict>
            <key>frame_kzhlhd_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,231},{152,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,147}}</string>
                <key>sourceSize</key>
                <string>{152,147}</string>
            </dict>
            <key>frame_kzhlhd_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,922},{179,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,595}}</string>
                <key>sourceSize</key>
                <string>{179,595}</string>
            </dict>
            <key>frame_kzhlhd_xf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,3},{622,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,224}}</string>
                <key>sourceSize</key>
                <string>{622,224}</string>
            </dict>
            <key>frame_kzhlhd_xf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,513},{610,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,405}}</string>
                <key>sourceSize</key>
                <string>{610,405}</string>
            </dict>
            <key>frame_kzhlhd_xf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,3},{612,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,382}}</string>
                <key>sourceSize</key>
                <string>{612,382}</string>
            </dict>
            <key>frame_kzhlhd_yp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,382},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>qiqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,355},{145,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,461}}</string>
                <key>sourceSize</key>
                <string>{145,461}</string>
            </dict>
            <key>qiqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,231},{120,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,493}}</string>
                <key>sourceSize</key>
                <string>{120,493}</string>
            </dict>
            <key>qiqiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,512},{94,333}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,333}}</string>
                <key>sourceSize</key>
                <string>{96,359}</string>
            </dict>
            <key>qiqiu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,512},{88,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,388}}</string>
                <key>sourceSize</key>
                <string>{88,388}</string>
            </dict>
            <key>qiqiu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,588},{90,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,115}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>qiqiu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,389},{119,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,595}}</string>
                <key>sourceSize</key>
                <string>{119,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>presentGift.png</string>
            <key>size</key>
            <string>{1973,1123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b71ed69a1e86d31bfd53e8f4c0d2c5:1/1$</string>
            <key>textureFileName</key>
            <string>presentGift.png</string>
        </dict>
    </dict>
</plist>
