<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_jztbz_pz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,647},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bg_jztbz_pz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,647},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bg_jztbz_pz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,647},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bg_jztbz_pz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,647},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bg_jztbz_pz05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,647},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bg_jztbz_pz06.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,647},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bg_jztbz_pz07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,647},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>frame_jztbz_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>frame_jztbz_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,113}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>frame_jztbz_kuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,545},{170,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,197}}</string>
                <key>sourceSize</key>
                <string>{170,197}</string>
            </dict>
            <key>frame_jztbz_kuang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,545},{235,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,337}}</string>
                <key>sourceSize</key>
                <string>{235,337}</string>
            </dict>
            <key>frame_jztbz_xzbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{538,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,576}}</string>
                <key>sourceSize</key>
                <string>{538,576}</string>
            </dict>
            <key>icon_box_jztbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,647},{112,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{112,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pyramidTreasureUI.png</string>
            <key>size</key>
            <string>{1972,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee0fbe16b47200b22105b44b8b278e9:1/1$</string>
            <key>textureFileName</key>
            <string>pyramidTreasureUI.png</string>
        </dict>
    </dict>
</plist>
