<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_wjdc_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,364},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>frame_wjdc_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{317,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,488}}</string>
                <key>sourceSize</key>
                <string>{317,488}</string>
            </dict>
            <key>frame_wjdc_xf.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,3},{581,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,357}}</string>
                <key>sourceSize</key>
                <string>{581,357}</string>
            </dict>
            <key>frame_wjdc_xf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,364},{296,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,120}}</string>
                <key>sourceSize</key>
                <string>{296,120}</string>
            </dict>
            <key>frame_wjdc_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,3},{95,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,196}}</string>
                <key>sourceSize</key>
                <string>{95,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>questionnaire.png</string>
            <key>size</key>
            <string>{1007,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d79b397f0ae297b4210bd39d0bbf273:1/1$</string>
            <key>textureFileName</key>
            <string>questionnaire.png</string>
        </dict>
    </dict>
</plist>
