<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_CelebrateEidal_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1170},{580,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,650}}</string>
                <key>sourceSize</key>
                <string>{580,650}</string>
            </dict>
            <key>bg_CelebrateEidal_mk.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,859},{599,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,509}}</string>
                <key>sourceSize</key>
                <string>{599,509}</string>
            </dict>
            <key>bg_CelebrateEidal_tc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{639,903}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,903}}</string>
                <key>sourceSize</key>
                <string>{639,903}</string>
            </dict>
            <key>bg_CelebrateEidal_tk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,910},{592,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,714}}</string>
                <key>sourceSize</key>
                <string>{592,714}</string>
            </dict>
            <key>bg_CelebrateEidal_tk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{852,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,1386}}</string>
                <key>sourceSize</key>
                <string>{852,1386}</string>
            </dict>
            <key>frame_CelebrateEidal_xsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1628},{636,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,117}}</string>
                <key>sourceSize</key>
                <string>{636,117}</string>
            </dict>
            <key>frame_ghyl_btk.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1462},{548,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,179}}</string>
                <key>sourceSize</key>
                <string>{548,179}</string>
            </dict>
            <key>frame_ghyl_kuang_01_re.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,859},{307,816}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,816}}</string>
                <key>sourceSize</key>
                <string>{307,816}</string>
            </dict>
            <key>icon_GDbuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1523},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_GDbuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1523},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_radiantDecree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1462},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RadiantDecree.png</string>
            <key>size</key>
            <string>{2035,1753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3504c1a5a23a041bd71ae1bdb179de84:1/1$</string>
            <key>textureFileName</key>
            <string>RadiantDecree.png</string>
        </dict>
    </dict>
</plist>
