<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8307.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1796},{98,114}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{98,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8308.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1834},{104,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{104,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8309.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1714},{98,114}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{98,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8310.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1524},{84,102}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{84,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8311.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1735},{94,96}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{94,96}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8312.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1949},{82,104}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{82,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8313.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1831},{84,94}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{84,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1846},{84,90}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{84,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,623},{76,94}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{76,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8316.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1528},{86,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{86,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8317.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1621},{86,84}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{86,84}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8318.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1735},{84,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{84,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8319.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1796},{84,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{84,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1933},{84,86}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{84,86}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8322.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1928},{84,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{84,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_dbqb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>btn_dbqb_open_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1611},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_dbqb_openeffect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1459},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>btn_dbqb_openeffect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,783},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>btn_dbqb_openeffect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1714},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1841},{130,128}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1708},{130,130}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1391},{130,130}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1883},{130,128}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1900},{130,128}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1391},{130,130}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1391},{130,130}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1841},{128,130}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{128,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,534},{130,130}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,401},{130,130}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,268},{130,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1900},{130,128}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1769},{130,128}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,135},{130,130}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_dbqb03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1638},{130,128}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_dbqb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1459},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>dh_Tex_dbqb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,783},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>dh_Tex_dbqb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1714},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>dh_Tex_dbqb_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1611},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_dbqb_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1118},{321,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,88}}</string>
                <key>sourceSize</key>
                <string>{321,90}</string>
            </dict>
            <key>dh_Tex_dbqb_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,725},{374,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{374,55}}</string>
                <key>sourceSize</key>
                <string>{408,61}</string>
            </dict>
            <key>dh_Tex_dbqb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1627},{167,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,166}}</string>
                <key>sourceSize</key>
                <string>{167,166}</string>
            </dict>
            <key>dh_Tex_dbqb_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1364},{160,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,284}}</string>
                <key>sourceSize</key>
                <string>{160,284}</string>
            </dict>
            <key>dh_Tex_dbqb_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{200,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,113}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>dh_Tex_dbqb_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,720},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>frame_dbqb_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,416},{204,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,464}}</string>
                <key>sourceSize</key>
                <string>{204,464}</string>
            </dict>
            <key>frame_dbqb_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,209},{204,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,464}}</string>
                <key>sourceSize</key>
                <string>{204,464}</string>
            </dict>
            <key>frame_dbqb_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{204,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,464}}</string>
                <key>sourceSize</key>
                <string>{204,464}</string>
            </dict>
            <key>frame_dbqb_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1209},{312,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,152}}</string>
                <key>sourceSize</key>
                <string>{312,152}</string>
            </dict>
            <key>frame_dbqb_iconbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,783},{332,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,332}}</string>
                <key>sourceSize</key>
                <string>{332,332}</string>
            </dict>
            <key>frame_dbqb_iconbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1988},{150,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,35}}</string>
                <key>sourceSize</key>
                <string>{150,35}</string>
            </dict>
            <key>frame_dbqb_iconbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,805},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,118}</string>
            </dict>
            <key>frame_dbqb_iconbg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1528},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>frame_dbqb_iconbg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,667},{201,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,135}}</string>
                <key>sourceSize</key>
                <string>{201,135}</string>
            </dict>
            <key>frame_dbqb_iconbg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>frame_dbqb_iconbg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,871},{5,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,140}}</string>
                <key>sourceSize</key>
                <string>{5,140}</string>
            </dict>
            <key>frame_dbqb_numshadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1364},{92,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,27}}</string>
                <key>sourceSize</key>
                <string>{92,27}</string>
            </dict>
            <key>frame_dbqb_shadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,879},{4,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,175}}</string>
                <key>sourceSize</key>
                <string>{4,175}</string>
            </dict>
            <key>frame_dbqb_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,623},{380,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,99}}</string>
                <key>sourceSize</key>
                <string>{380,99}</string>
            </dict>
            <key>frame_dbqb_titlebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1527},{224,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,97}}</string>
                <key>sourceSize</key>
                <string>{224,97}</string>
            </dict>
            <key>frame_dbqb_titlebg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1735},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>frame_dbqb_titlebg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,879},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>icon_dbqb_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1391},{244,238}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,33},{244,238}}</string>
                <key>sourceSize</key>
                <string>{288,280}</string>
            </dict>
            <key>icon_dbqb_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1735},{250,234}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{250,234}}</string>
                <key>sourceSize</key>
                <string>{288,280}</string>
            </dict>
            <key>icon_dbqb_box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,926},{254,244}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{254,244}}</string>
                <key>sourceSize</key>
                <string>{288,280}</string>
            </dict>
            <key>icon_dbqb_box_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1464},{268,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{268,274}}</string>
                <key>sourceSize</key>
                <string>{288,280}</string>
            </dict>
            <key>icon_dbqb_box_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1173},{288,274}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{288,274}}</string>
                <key>sourceSize</key>
                <string>{288,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>raidersLostArk.png</string>
            <key>size</key>
            <string>{1245,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c726faa4f6fdf9dc3b2f0343345ba222:1/1$</string>
            <key>textureFileName</key>
            <string>raidersLostArk.png</string>
        </dict>
    </dict>
</plist>
