<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_duobaoqb1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,321},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>dh_duobaoqb2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,308},{150,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,2},{150,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,155},{150,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,308},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,155},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,322},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,169},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{150,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,308},{150,110}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,2},{150,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,155},{150,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,308},{150,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,155},{150,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>dh_duobaoqb4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,461},{92,32}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{92,32}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,2},{104,52}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,384},{110,60}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,258},{120,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,278},{128,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,145},{130,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,258},{122,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{122,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{128,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,384},{106,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,431},{66,60}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,438},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,437},{62,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,200},{54,52}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,200},{42,42}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>dh_duobaoqb5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,221},{100,213}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,213}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>dh_duobaoqb6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,409},{92,74}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,106},{92,74}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,85},{94,112}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,68},{94,112}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{108,146}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{108,146}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{116,164}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{116,164}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,181},{116,174}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{116,174}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{116,180}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,390},{112,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{110,176}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{110,176}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,348},{106,152}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{106,152}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,358},{100,144}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{100,144}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,306},{98,142}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{98,142}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,151},{92,142}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{92,142}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,2},{80,140}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{80,140}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,296},{80,132}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{80,132}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>dh_duobaoqb8_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,461},{100,38}}</string>
                <key>offset</key>
                <string>{0,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,202},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{100,80}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,133},{100,122}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,177},{100,168}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{100,168}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,221},{100,214}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{100,214}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{100,206}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{100,206}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,211},{100,198}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,199},{100,188}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{100,188}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,185},{100,180}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb8_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{100,172}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{100,172}}</string>
                <key>sourceSize</key>
                <string>{100,240}</string>
            </dict>
            <key>dh_duobaoqb9_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,461},{40,66}}</string>
                <key>offset</key>
                <string>{-30,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,172},{40,66}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,412},{86,142}}</string>
                <key>offset</key>
                <string>{-13,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,101},{86,142}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{108,216}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{108,216}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{116,244}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{116,244}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,248}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,248}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{116,246}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,246}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,249},{116,238}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,238}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{110,194}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,194}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,155},{92,148}}</string>
                <key>offset</key>
                <string>{14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{92,148}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb9_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,438},{62,100}}</string>
                <key>offset</key>
                <string>{27,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{120,250}</string>
            </dict>
            <key>dh_duobaoqb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,451},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>raidersLostArk2.png</string>
            <key>size</key>
            <string>{2034,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dd5ddd6c1e77e1bbf9d973f08c9b713:1/1$</string>
            <key>textureFileName</key>
            <string>raidersLostArk2.png</string>
        </dict>
    </dict>
</plist>
