<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8286.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1874},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{100,116}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8287.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1874},{116,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{116,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8288.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1888},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8289.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1779},{106,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{106,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8290.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1839},{108,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{108,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8291.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,943},{118,126}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{118,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_zyld_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{615,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,74}}</string>
                <key>sourceSize</key>
                <string>{615,74}</string>
            </dict>
            <key>bg_zyld_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,61}}</string>
                <key>sourceSize</key>
                <string>{616,61}</string>
            </dict>
            <key>dh_gouwucheld2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1907},{72,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,62}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>dh_gouwucheld5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1706},{130,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,178}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1646},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1774},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1691},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1573},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1641},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1508},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1513},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1440},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1380},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1307},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1247},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1174},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_gouwucheld5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1064},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>dh_rongyao3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,620},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_rongyao3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>icon_big_bag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,970},{201,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,233}}</string>
                <key>sourceSize</key>
                <string>{201,233}</string>
            </dict>
            <key>icon_big_bag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,757},{210,244}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{210,244}}</string>
                <key>sourceSize</key>
                <string>{218,246}</string>
            </dict>
            <key>icon_big_bag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,309},{223,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,281}}</string>
                <key>sourceSize</key>
                <string>{223,281}</string>
            </dict>
            <key>icon_big_bag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,535},{219,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,273}}</string>
                <key>sourceSize</key>
                <string>{219,273}</string>
            </dict>
            <key>icon_big_bag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,66},{240,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,287}}</string>
                <key>sourceSize</key>
                <string>{240,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ramadanGiftBag.png</string>
            <key>size</key>
            <string>{703,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e186233aecc1a191b2454833de873083:1/1$</string>
            <key>textureFileName</key>
            <string>ramadanGiftBag.png</string>
        </dict>
    </dict>
</plist>
