<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_ranking_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,3},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>icon_ranking_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,152},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>icon_ranking_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,83},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>icon_ranking_alliance_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,3},{134,122}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{134,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_alliance_manorintegral.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,3},{118,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_alliance_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,3},{132,114}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{132,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,141},{90,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{90,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_castle.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,3},{108,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{108,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,147},{134,102}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{134,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,133},{116,120}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{116,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_militaryrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,147},{122,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{122,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,141},{134,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{134,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_rose.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,147},{130,106}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{130,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_thumbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{128,140}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>icon_ranking_lord_trial.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,3},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rankingIcon.png</string>
            <key>size</key>
            <string>{826,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e5d207eaf3dcc539a2094461fcc13c6:1/1$</string>
            <key>textureFileName</key>
            <string>rankingIcon.png</string>
        </dict>
    </dict>
</plist>
