<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_recharge_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,928},{640,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,208}}</string>
                <key>sourceSize</key>
                <string>{640,208}</string>
            </dict>
            <key>bg_recharge_order.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,259}}</string>
                <key>sourceSize</key>
                <string>{640,259}</string>
            </dict>
            <key>bg_recharge_tiny_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,890},{620,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,100}}</string>
                <key>sourceSize</key>
                <string>{620,100}</string>
            </dict>
            <key>bg_weekly_card_Stellar_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,890},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_advmedal_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,266},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>bg_weekly_card_medal_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,266},{620,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,236}}</string>
                <key>sourceSize</key>
                <string>{620,236}</string>
            </dict>
            <key>btn_chongzhi_gwcan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1965},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>btn_chongzhi_gwcan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1861},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>frame_chongzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,928},{628,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{628,66}}</string>
                <key>sourceSize</key>
                <string>{628,70}</string>
            </dict>
            <key>frame_chonzhi_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,487},{129,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,61}}</string>
                <key>sourceSize</key>
                <string>{129,61}</string>
            </dict>
            <key>frame_chonzhi_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1762},{184,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,95}}</string>
                <key>sourceSize</key>
                <string>{184,95}</string>
            </dict>
            <key>frame_rechareactivity_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1898},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>frame_rechareactivity_sheer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1280},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>frame_recharge_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,266},{658,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{658,212}}</string>
                <key>sourceSize</key>
                <string>{664,214}</string>
            </dict>
            <key>frame_recharge_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,890},{481,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,28}}</string>
                <key>sourceSize</key>
                <string>{481,28}</string>
            </dict>
            <key>frame_recharge_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1640},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>frame_recharge_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1934},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frame_recharge_continue_base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1572},{303,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,43}}</string>
                <key>sourceSize</key>
                <string>{303,43}</string>
            </dict>
            <key>frame_recharge_continue_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,360},{123,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,68}}</string>
                <key>sourceSize</key>
                <string>{123,68}</string>
            </dict>
            <key>frame_recharge_continue_green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1879},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>frame_recharge_lace_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1572},{322,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,52}}</string>
                <key>sourceSize</key>
                <string>{322,52}</string>
            </dict>
            <key>frame_recharge_red_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1744},{81,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,92}}</string>
                <key>sourceSize</key>
                <string>{81,92}</string>
            </dict>
            <key>frame_recharge_success_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1514},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,113}</string>
            </dict>
            <key>icon_monthcard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1913},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_monthcard_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1877},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_monthcard_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1884},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_monthcard_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1793},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_monthcard_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1800},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_monthcard_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1709},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_monthcard_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1514},{122,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{122,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_monthcard_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1150},{122,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{122,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_monthcard_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1020},{122,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{122,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_monthly_boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,890},{122,126}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_monthly_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1631},{86,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{86,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_rechaege_onsale_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{159,135}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{159,135}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>icon_recharge_oneword.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1375},{154,130}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{154,130}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>icon_zhunxiangbaoxiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1861},{157,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,186}}</string>
                <key>sourceSize</key>
                <string>{157,186}</string>
            </dict>
            <key>icon_zhunxiangbaoxiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1572},{157,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,186}}</string>
                <key>sourceSize</key>
                <string>{157,186}</string>
            </dict>
            <key>recharge_page_fireword.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1509},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1514},{100,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_ladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1618},{92,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_lifewater.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1714},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_lightLv.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,266},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>recharge_page_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,166},{98,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1757},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_super.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1640},{100,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1727},{92,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1613},{92,92}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_warbadge.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1840},{90,90}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_warbadge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1823},{86,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_warstone.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,724},{92,82}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{92,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recharge_page_zzdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,620},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rechargeUI.png</string>
            <key>size</key>
            <string>{786,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:516b207265793793b2442a1d3ea53f21:1/1$</string>
            <key>textureFileName</key>
            <string>rechargeUI.png</string>
        </dict>
    </dict>
</plist>
