<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_sdkz_bj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,724}}</string>
                <key>sourceSize</key>
                <string>{640,724}</string>
            </dict>
            <key>bg_sdkz_fyan_ts01.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,731},{134,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{134,68}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>bg_sdkz_fyan_ts02.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,785},{136,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,68}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,885},{52,14}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,71},{52,14}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,873},{62,24}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,61},{62,24}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,869},{68,36}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,52},{68,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,867},{74,46}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{74,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,803},{76,52}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,33},{76,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,731},{78,62}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{78,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,797},{76,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{76,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,803},{74,58}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{74,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,857},{74,52}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{74,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,869},{70,44}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{70,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,873},{66,34}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{66,34}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_sddkz01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,859},{60,22}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{60,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_sddkz_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,857},{58,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_anniu2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,785},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>frame_cz_activitybg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,731},{284,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,50}}</string>
                <key>sourceSize</key>
                <string>{284,50}</string>
            </dict>
            <key>icon_sdkz_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,731},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rechargePresent.png</string>
            <key>size</key>
            <string>{646,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6428104cf496613c6008c62f6429e59:1/1$</string>
            <key>textureFileName</key>
            <string>rechargePresent.png</string>
        </dict>
    </dict>
</plist>
