<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_czzl_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,442}}</string>
                <key>sourceSize</key>
                <string>{640,442}</string>
            </dict>
            <key>bg_czzl_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,815},{511,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,371}}</string>
                <key>sourceSize</key>
                <string>{511,371}</string>
            </dict>
            <key>bg_czzl_renwu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1190},{380,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,388}}</string>
                <key>sourceSize</key>
                <string>{380,388}</string>
            </dict>
            <key>frame_czzl_ZS01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1820},{221,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,218}}</string>
                <key>sourceSize</key>
                <string>{221,218}</string>
            </dict>
            <key>frame_czzl_ZS010.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1784},{130,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{130,142}</string>
            </dict>
            <key>frame_czzl_ZS02.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1414},{188,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,207}}</string>
                <key>sourceSize</key>
                <string>{188,207}</string>
            </dict>
            <key>frame_czzl_ZS03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1582},{239,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,234}}</string>
                <key>sourceSize</key>
                <string>{239,234}</string>
            </dict>
            <key>frame_czzl_ZS04.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1190},{203,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,220}}</string>
                <key>sourceSize</key>
                <string>{203,220}</string>
            </dict>
            <key>frame_czzl_ZS05.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1625},{191,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,155}}</string>
                <key>sourceSize</key>
                <string>{191,155}</string>
            </dict>
            <key>frame_czzl_ZS06.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1820},{158,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,128}}</string>
                <key>sourceSize</key>
                <string>{158,128}</string>
            </dict>
            <key>frame_czzl_ZS07.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,985},{158,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,128}}</string>
                <key>sourceSize</key>
                <string>{158,128}</string>
            </dict>
            <key>frame_czzl_ZS08.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1930},{111,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,124}}</string>
                <key>sourceSize</key>
                <string>{111,124}</string>
            </dict>
            <key>frame_czzl_ZS09.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1784},{66,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>sourceSize</key>
                <string>{66,84}</string>
            </dict>
            <key>frame_czzl_ZS11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,449},{640,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,362}}</string>
                <key>sourceSize</key>
                <string>{640,362}</string>
            </dict>
            <key>frame_czzl_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{584,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,17}}</string>
                <key>sourceSize</key>
                <string>{584,17}</string>
            </dict>
            <key>frame_czzl_fy_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1582},{451,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,110}}</string>
                <key>sourceSize</key>
                <string>{451,110}</string>
            </dict>
            <key>frame_czzl_fy_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1190},{484,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,78}}</string>
                <key>sourceSize</key>
                <string>{484,78}</string>
            </dict>
            <key>icon_czzl_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,815},{166,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,148}}</string>
                <key>sourceSize</key>
                <string>{166,148}</string>
            </dict>
            <key>icon_czzl_jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1982},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>icon_czzl_jb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1678},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>icon_czzl_jb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1147},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>icon_czzl_jb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1872},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>icon_czzl_jb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1147},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rechargeGiftUI.png</string>
            <key>size</key>
            <string>{675,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23544ec98b71e973f82240ff84f7ce12:1/1$</string>
            <key>textureFileName</key>
            <string>rechargeGiftUI.png</string>
        </dict>
    </dict>
</plist>
