<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_challenge_csmc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{146,147}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_challenge_dgcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1171},{150,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_challenge_kjjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1029},{130,125}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,125}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_challenge_lw.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,895},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_challenge_mds.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,745},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_challenge_smsr.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,595},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_challenge_xh.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1315},{150,137}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_challenge_xyc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{150,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>btn_rechareactivity_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1292},{108,102}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{108,102}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_rechareactivity_07_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1581},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>btn_rechareactivity_07_base_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1842},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>btn_rechareactivity_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,758},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_rechareactivity_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,393},{208,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,161}}</string>
                <key>sourceSize</key>
                <string>{208,161}</string>
            </dict>
            <key>btn_rechareactivity_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1884},{98,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{98,86}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_rechareactivity_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1162},{120,120}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{120,120}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_rechareactivity_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1192},{150,140}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{150,140}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_rechareactivity_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{128,110}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{128,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>btn_rechareactivity_3nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,576},{124,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{124,120}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_rechareactivity_lifewater.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1285},{116,120}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{116,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>btn_recharge1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{239,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{239,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>btn_recharge2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,557},{204,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,64}}</string>
                <key>sourceSize</key>
                <string>{204,64}</string>
            </dict>
            <key>btn_recharge2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{204,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,64}}</string>
                <key>sourceSize</key>
                <string>{204,64}</string>
            </dict>
            <key>btn_recharge2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{204,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,64}}</string>
                <key>sourceSize</key>
                <string>{204,64}</string>
            </dict>
            <key>btn_recharge_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1895},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_recharge_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1919},{78,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_recharge_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,624},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_recharge_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1973},{74,66}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_recharge_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,707},{72,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_recharge_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1924},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_recharge_activity_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,907},{154,130}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{154,130}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_recharge_activity_newyear2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1040},{152,128}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{152,128}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>btn_recharge_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1982},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>btn_recharge_pet_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1576},{96,118}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{96,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_must_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1513},{136,130}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{136,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_rechareactivity_items_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1615},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{84,41}</string>
            </dict>
            <key>icon_rechareactivity_items_hot_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1973},{78,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{78,52}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>icon_rechareactivity_items_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,784},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{91,39}</string>
            </dict>
            <key>icon_rechareactivity_items_new_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1921},{80,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>icon_rechareactivity_new_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{171,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,114}}</string>
                <key>sourceSize</key>
                <string>{171,114}</string>
            </dict>
            <key>icon_recharge_across.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,826},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_recharge_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,484},{31,33}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{31,33}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>icon_recharge_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{113,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{113,53}}</string>
                <key>sourceSize</key>
                <string>{119,99}</string>
            </dict>
            <key>icon_recharge_bestdeal_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{153,133}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{153,133}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>icon_recharge_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,446},{124,127}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{124,127}}</string>
                <key>sourceSize</key>
                <string>{148,139}</string>
            </dict>
            <key>icon_recharge_cityup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1711},{92,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{92,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_classify.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1759},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>icon_recharge_complex.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1805},{100,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{100,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1714},{104,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{104,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_featured.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1335},{140,134}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{140,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_recharge_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1895},{98,84}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{98,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,393},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>icon_recharge_firstRecharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1502},{118,110}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{118,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_recharge_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1960},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_recharge_gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,501},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>icon_recharge_gold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1829},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>icon_recharge_gold_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,699},{121,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,64}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>icon_recharge_gold_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1839},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>icon_recharge_gold_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1761},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>icon_recharge_gold_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1759},{93,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,77}}</string>
                <key>sourceSize</key>
                <string>{93,77}</string>
            </dict>
            <key>icon_recharge_gold_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1747},{106,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,83}}</string>
                <key>sourceSize</key>
                <string>{106,83}</string>
            </dict>
            <key>icon_recharge_gold_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1758},{101,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,68}}</string>
                <key>sourceSize</key>
                <string>{101,68}</string>
            </dict>
            <key>icon_recharge_gold_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1218},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{103,71}</string>
            </dict>
            <key>icon_recharge_gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>icon_recharge_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1024},{94,86}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_recharge_hot_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{157,113}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{157,113}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>icon_recharge_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{150,140}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_recharge_limited_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,766},{155,125}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{155,125}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>icon_recharge_lordexp.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1648},{110,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_lordexp_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1615},{110,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1890},{80,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{80,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_recharge_newKingdom.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1833},{88,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_recharge_pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,919},{94,102}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_pet_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1403},{96,102}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{96,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1513},{136,130}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{136,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_recharge_research.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1830},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{90,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_resources.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1675},{106,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{106,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_seckill_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,624},{161,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{161,131}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>icon_recharge_soldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1113},{98,102}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_recharge_surprise.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1045},{150,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_recharge_todayonly_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{165,123}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{165,123}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>icon_recharge_unmiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1455},{136,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{136,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_recharge_wallet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,565}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,80},{388,565}}</string>
                <key>sourceSize</key>
                <string>{392,645}</string>
            </dict>
            <key>icon_recharge_wallet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1702},{39,56}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>icon_recharge_wallet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1973},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,924},{126,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{126,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_reduced_moonth.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,317},{126,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,121}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>icon_reduced_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1646},{127,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,110}}</string>
                <key>sourceSize</key>
                <string>{127,110}</string>
            </dict>
            <key>icon_reduced_off_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1472},{137,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{137,106}</string>
            </dict>
            <key>icon_reduced_off_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1404},{137,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{137,106}</string>
            </dict>
            <key>icon_reduced_season.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,170},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>icon_reduced_weekly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rechargeIcon.png</string>
            <key>size</key>
            <string>{695,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c56bdb0f9629d76293ab0321640025d1:1/1$</string>
            <key>textureFileName</key>
            <string>rechargeIcon.png</string>
        </dict>
    </dict>
</plist>
