<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_fhzq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{640,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,726}}</string>
                <key>sourceSize</key>
                <string>{640,726}</string>
            </dict>
            <key>bg_fhzq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,800}}</string>
                <key>sourceSize</key>
                <string>{640,800}</string>
            </dict>
            <key>dh_Tex_fhzq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{636,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{636,129}}</string>
                <key>sourceSize</key>
                <string>{640,129}</string>
            </dict>
            <key>dh_Tex_fhzq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,971},{322,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,197}}</string>
                <key>sourceSize</key>
                <string>{322,199}</string>
            </dict>
            <key>dh_Tex_fhzq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1111},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{51,69}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>dh_Tex_fhzq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{384,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,354}}</string>
                <key>sourceSize</key>
                <string>{384,354}</string>
            </dict>
            <key>dh_fuhuozhishu2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,994},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1077},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,891},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,994},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,891},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1087},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1087},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,625},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1087},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1087},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,625},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,625},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1087},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1087},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1087},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>dh_fuhuozhishu3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1008},{100,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>dh_fuhuozhishu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,721},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,708},{180,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,904},{180,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,721},{180,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,904},{180,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,721},{180,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,904},{180,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,540},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,540},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,444},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,444},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,359},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,359},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,263},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_fuhuozhishu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,263},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>frame_fhzq_btyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,731},{640,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,237}}</string>
                <key>sourceSize</key>
                <string>{640,237}</string>
            </dict>
            <key>frame_fhzq_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{225,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,10}}</string>
                <key>sourceSize</key>
                <string>{225,10}</string>
            </dict>
            <key>frame_fhzq_wsyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{640,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,237}}</string>
                <key>sourceSize</key>
                <string>{640,237}</string>
            </dict>
            <key>frame_qdlhl_bt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1045},{147,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,112}}</string>
                <key>sourceSize</key>
                <string>{147,112}</string>
            </dict>
            <key>frame_smzq_hwfgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,971},{320,34}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{320,34}}</string>
                <key>sourceSize</key>
                <string>{320,92}</string>
            </dict>
            <key>frame_smzq_jbdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,2},{258,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,349}}</string>
                <key>sourceSize</key>
                <string>{258,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>relifeUI.png</string>
            <key>size</key>
            <string>{2040,1189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b0c547b0b68a10dc8aec794cafb2ba4:1/1$</string>
            <key>textureFileName</key>
            <string>relifeUI.png</string>
        </dict>
    </dict>
</plist>
