<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_big_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,316},{57,76}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{57,76}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>icon_big_crystal_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,897},{114,126}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_crystal_safe_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,781},{114,126}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,165},{69,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>icon_big_food_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,135},{130,128}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_food_safe_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,135},{130,128}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,84},{77,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>icon_big_iron_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,3},{132,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_iron_safe_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{132,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,237},{75,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{75,58}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>icon_big_silver_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,397},{126,128}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{126,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_silver_safe_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,267},{126,128}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{126,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_steel.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{77,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>icon_big_wood_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,651},{124,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_big_wood_safe_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,527},{124,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_middle_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,633},{50,61}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,61}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>icon_middle_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,459},{60,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{60,61}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>icon_middle_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,578},{64,51}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{64,51}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>icon_middle_steel.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,396},{64,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,59}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>icon_middle_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,523},{66,51}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>icon_more_crystal_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,267},{132,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{132,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_more_food_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,397},{130,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{130,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_more_iron_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,523},{126,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{126,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_more_silver_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,779},{128,114}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{128,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_more_wood_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,655},{124,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{124,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_small_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,883},{29,41}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{29,41}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>icon_treasure_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,790},{89,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>icon_treasure_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,916},{87,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,103}}</string>
                <key>sourceSize</key>
                <string>{87,103}</string>
            </dict>
            <key>icon_treasure_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,687},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>icon_treasure_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,911},{106,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resourceUI.png</string>
            <key>size</key>
            <string>{348,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5dc65ebe9a3eddb89f8bbe480e4cc4c:1/1$</string>
            <key>textureFileName</key>
            <string>resourceUI.png</string>
        </dict>
    </dict>
</plist>
