<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_lmzh_yq_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{359,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,111}}</string>
                <key>sourceSize</key>
                <string>{359,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roman2.png</string>
            <key>size</key>
            <string>{365,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f61e3081a9c8ea8e62eff24aa333769:1/1$</string>
            <key>textureFileName</key>
            <string>roman2.png</string>
        </dict>
    </dict>
</plist>
