<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_llzh_nandu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{640,984}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,984}}</string>
                <key>sourceSize</key>
                <string>{640,984}</string>
            </dict>
            <key>bg_lmzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_lmzh_mohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{300,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,650}}</string>
                <key>sourceSize</key>
                <string>{300,650}</string>
            </dict>
            <key>btn_lmzh_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,956},{305,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,67}}</string>
                <key>sourceSize</key>
                <string>{305,67}</string>
            </dict>
            <key>btn_lmzh_unchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,647},{305,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,67}}</string>
                <key>sourceSize</key>
                <string>{305,67}</string>
            </dict>
            <key>dh_Tex_xznd_001_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1315},{200,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,270}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>dh_Tex_xznd_002_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1515},{230,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,300}}</string>
                <key>sourceSize</key>
                <string>{230,300}</string>
            </dict>
            <key>frame_llzh_jiangli01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,744},{93,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,21}}</string>
                <key>sourceSize</key>
                <string>{93,21}</string>
            </dict>
            <key>frame_llzh_jiangli02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,647},{93,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,21}}</string>
                <key>sourceSize</key>
                <string>{93,21}</string>
            </dict>
            <key>frame_llzh_nandu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,1335},{48,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1265},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,1405},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1735},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1694},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1694},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1694},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1694},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1694},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>frame_llzh_nandudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,1354},{194,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,132}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>frame_llzh_tishidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1240},{503,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,71}}</string>
                <key>sourceSize</key>
                <string>{503,71}</string>
            </dict>
            <key>frame_lmzh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1519},{238,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,243}}</string>
                <key>sourceSize</key>
                <string>{238,243}</string>
            </dict>
            <key>frame_lmzh_ay.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1309},{562,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,164}}</string>
                <key>sourceSize</key>
                <string>{562,164}</string>
            </dict>
            <key>frame_lmzh_biaotidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,3},{640,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,103}}</string>
                <key>sourceSize</key>
                <string>{640,103}</string>
            </dict>
            <key>frame_lmzh_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1697},{542,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{542,91}}</string>
                <key>sourceSize</key>
                <string>{546,91}</string>
            </dict>
            <key>frame_lmzh_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1602},{542,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{542,88}}</string>
                <key>sourceSize</key>
                <string>{546,88}</string>
            </dict>
            <key>frame_lmzh_di03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,991},{542,245}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{542,245}}</string>
                <key>sourceSize</key>
                <string>{546,245}</string>
            </dict>
            <key>frame_lmzh_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1694},{163,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>frame_lmzh_jiangli_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1694},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>frame_lmzh_nandudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1552},{179,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,205}}</string>
                <key>sourceSize</key>
                <string>{179,205}</string>
            </dict>
            <key>frame_lmzh_yq_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1697},{34,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,102}}</string>
                <key>sourceSize</key>
                <string>{34,102}</string>
            </dict>
            <key>frame_lmzh_yq_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1315},{330,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,196}}</string>
                <key>sourceSize</key>
                <string>{330,196}</string>
            </dict>
            <key>frame_lmzh_yq_ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1552},{202,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,43}}</string>
                <key>sourceSize</key>
                <string>{202,43}</string>
            </dict>
            <key>frame_lmzh_yq_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1309},{4,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,41}}</string>
                <key>sourceSize</key>
                <string>{4,41}</string>
            </dict>
            <key>frame_lmzh_yq_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,991},{359,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,111}}</string>
                <key>sourceSize</key>
                <string>{359,113}</string>
            </dict>
            <key>frame_lmzh_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1477},{557,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,121}}</string>
                <key>sourceSize</key>
                <string>{557,121}</string>
            </dict>
            <key>roman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1749},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,53}}</string>
                <key>sourceSize</key>
                <string>{37,53}</string>
            </dict>
            <key>roman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,1475},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>roman_level_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>roman_pop_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1143},{640,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,162}}</string>
                <key>sourceSize</key>
                <string>{640,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RomanSoulNew.png</string>
            <key>size</key>
            <string>{2042,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183d9cfde2649f9230c28355cc7f1c6d:1/1$</string>
            <key>textureFileName</key>
            <string>RomanSoulNew.png</string>
        </dict>
    </dict>
</plist>
