<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xznd01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,3},{100,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,680},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{100,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,680},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,583},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,583},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,486},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,486},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,389},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,389},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,292},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,292},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,195},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,195},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,98},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,98},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RomanEffect.png</string>
            <key>size</key>
            <string>{210,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f40507c0805ee0ddc8fb1d566cddb822:1/1$</string>
            <key>textureFileName</key>
            <string>RomanEffect.png</string>
        </dict>
    </dict>
</plist>
