<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xznd06_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,765},{250,328}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{250,328}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,765},{250,328}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{250,328}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,3},{250,328}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{250,328}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,765},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,765},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,511},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,511},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,511},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,511},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,257},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,257},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,257},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,257},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,3},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,3},{250,328}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{250,328}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd06_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{250,328}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{250,328}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RomanEffect5.png</string>
            <key>size</key>
            <string>{1338,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1c222a237ba05d4d4890a78be1a80ff:1/1$</string>
            <key>textureFileName</key>
            <string>RomanEffect5.png</string>
        </dict>
    </dict>
</plist>
