<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xznd03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{214,280}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,65},{214,280}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,3},{250,282}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{250,282}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,3},{250,302}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{250,302}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,3},{250,332}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{250,332}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,765},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,511},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,511},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,511},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,257},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,257},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,257},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,765},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,765},{250,326}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{250,326}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,765},{250,300}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,511},{250,298}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{250,298}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,257},{250,298}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{250,298}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RomanEffect2.png</string>
            <key>size</key>
            <string>{1318,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7caba3e0ce5eca3b389df331f18163c8:1/1$</string>
            <key>textureFileName</key>
            <string>RomanEffect2.png</string>
        </dict>
    </dict>
</plist>
