<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xznd05_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{238,314}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{238,314}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,3},{250,314}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{250,314}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,3},{250,320}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{250,320}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,3},{250,332}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{250,332}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,765},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,511},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,511},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,511},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,257},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,257},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,257},{250,334}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,334}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,765},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,765},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,511},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,257},{250,330}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>dh_Tex_XL_xznd05_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,765},{250,328}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{250,328}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RomanEffect4.png</string>
            <key>size</key>
            <string>{1350,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c616d08f842051023cfdf088bbf6ce53:1/1$</string>
            <key>textureFileName</key>
            <string>RomanEffect4.png</string>
        </dict>
    </dict>
</plist>
