<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xznd02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,682},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,682},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,585},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,585},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,488},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,488},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,391},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,391},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,294},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,294},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,197},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,197},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,100},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,100},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,3},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>dh_Tex_XL_xznd02_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RomanEffect1.png</string>
            <key>size</key>
            <string>{210,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3278c552eab29bfd3e82c0c63f7aa8:1/1$</string>
            <key>textureFileName</key>
            <string>RomanEffect1.png</string>
        </dict>
    </dict>
</plist>
