<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_Roman_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,403},{260,471}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{260,471}}</string>
                <key>sourceSize</key>
                <string>{264,475}</string>
            </dict>
            <key>bg_Roman_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,870},{632,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,347}}</string>
                <key>sourceSize</key>
                <string>{632,347}</string>
            </dict>
            <key>btn_Roman_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1982},{168,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,62}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>btn_Roman_blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1810},{168,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,62}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>btn_Roman_difficulty_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,726},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn_Roman_difficulty_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1912},{124,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn_Roman_difficulty_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1810},{157,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,163}}</string>
                <key>sourceSize</key>
                <string>{157,163}</string>
            </dict>
            <key>btn_Roman_difficulty_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,598},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn_Roman_difficulty_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,470},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>frame_Roman_01_textbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1912},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>frame_Roman_02_below.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1662},{310,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,144}}</string>
                <key>sourceSize</key>
                <string>{310,144}</string>
            </dict>
            <key>frame_Roman_02_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1604},{304,168}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{304,168}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>frame_Roman_03_textbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,820},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>frame_Roman_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,774},{370,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,92}}</string>
                <key>sourceSize</key>
                <string>{370,92}</string>
            </dict>
            <key>frame_Roman_05_lace_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,3},{463,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,2}}</string>
                <key>sourceSize</key>
                <string>{463,2}</string>
            </dict>
            <key>frame_Roman_06_sheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1422},{612,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,38}}</string>
                <key>sourceSize</key>
                <string>{612,38}</string>
            </dict>
            <key>frame_Roman_07_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,3},{457,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,3}}</string>
                <key>sourceSize</key>
                <string>{457,3}</string>
            </dict>
            <key>frame_Roman_08_textbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,403},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>frame_Roman_09_below.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1506},{318,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,152}}</string>
                <key>sourceSize</key>
                <string>{318,152}</string>
            </dict>
            <key>frame_Roman_09_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1106},{312,208}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{312,208}}</string>
                <key>sourceSize</key>
                <string>{318,208}</string>
            </dict>
            <key>frame_Roman_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,88},{311,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,575}}</string>
                <key>sourceSize</key>
                <string>{311,575}</string>
            </dict>
            <key>frame_Roman_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,968},{134,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,139}}</string>
                <key>sourceSize</key>
                <string>{134,139}</string>
            </dict>
            <key>frame_Roman_lace_chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,667},{149,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>frame_Roman_lace_chain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,667},{372,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,103}}</string>
                <key>sourceSize</key>
                <string>{372,103}</string>
            </dict>
            <key>frame_Roman_lace_silk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{577,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,81}}</string>
                <key>sourceSize</key>
                <string>{577,83}</string>
            </dict>
            <key>icon_Roma_standards_arab.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1810},{138,114}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,56},{138,114}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>icon_Roma_standards_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,854},{132,110}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,53},{132,110}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>icon_Roman_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,403},{49,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,32}}</string>
                <key>sourceSize</key>
                <string>{49,32}</string>
            </dict>
            <key>icon_Roman_difficulty_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,912},{104,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,62}}</string>
                <key>sourceSize</key>
                <string>{104,62}</string>
            </dict>
            <key>icon_Roman_helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1422},{178,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,202}}</string>
                <key>sourceSize</key>
                <string>{180,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>romanUI.png</string>
            <key>size</key>
            <string>{605,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9360ba526c59916eadd0283fe2382835:1/1$</string>
            <key>textureFileName</key>
            <string>romanUI.png</string>
        </dict>
    </dict>
</plist>
