<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_tzgj2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,875},{212,248}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{212,248}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,875},{228,248}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{228,248}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,93},{228,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{228,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,93},{220,250}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{220,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,347},{212,250}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{212,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,601},{206,250}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{206,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1381},{210,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{210,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1635},{208,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{208,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,347},{224,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{224,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1127},{214,250}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{214,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1635},{210,248}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{210,248}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,601},{200,250}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{200,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1381},{208,250}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1127},{208,250}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,3},{204,250}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{204,250}}</string>
                <key>sourceSize</key>
                <string>{230,250}</string>
            </dict>
            <key>dh_tzgj3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1449},{168,174}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{168,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1449},{174,172}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{174,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1006},{180,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1621},{164,172}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{164,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,427},{166,176}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{166,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1184},{158,180}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{158,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,597},{162,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{162,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1793},{164,162}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{164,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1472},{160,164}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{160,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1625},{164,168}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{164,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,427},{150,172}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{150,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1293},{152,176}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{152,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1291},{154,180}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1346},{154,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{154,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1789},{158,172}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{158,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_tzgj5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1262},{210,206}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{210,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1743},{210,206}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{210,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,824},{216,212}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{216,212}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,855},{216,212}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{216,212}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1097},{214,214}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{214,214}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1073},{216,214}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{216,214}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,855},{216,214}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{216,214}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1075},{212,214}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{212,214}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1044},{214,212}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{214,212}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1315},{216,210}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{216,210}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1529},{214,210}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{214,210}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,875},{214,218}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{214,218}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,211},{212,220}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{212,220}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,211},{212,222}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{212,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,598},{210,222}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{210,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>dh_tzgj6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,603},{145,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,180}}</string>
                <key>sourceSize</key>
                <string>{145,180}</string>
            </dict>
            <key>dh_tzgj6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,427},{210,167}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{210,167}}</string>
                <key>sourceSize</key>
                <string>{216,203}</string>
            </dict>
            <key>dh_tzgj6_03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1472},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1893},{119,127}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{119,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1894},{119,123}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{119,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1894},{119,123}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{119,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1771},{119,123}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{119,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1762},{117,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1636},{119,129}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{119,129}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1504},{121,131}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1636},{123,131}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1887},{125,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1629},{125,129}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{125,129}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1889},{123,125}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{123,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1889},{121,127}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{121,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1760},{119,127}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{119,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1769},{119,127}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{119,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_tzgj7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1629},{119,127}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{119,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>farmer_ssygq_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,3},{468,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,86}}</string>
                <key>sourceSize</key>
                <string>{468,86}</string>
            </dict>
            <key>farmer_ssygq_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,3},{227,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,204}}</string>
                <key>sourceSize</key>
                <string>{227,204}</string>
            </dict>
            <key>farmer_ssygq_caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,702},{491,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,88}}</string>
                <key>sourceSize</key>
                <string>{491,88}</string>
            </dict>
            <key>farmer_ssygq_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,794},{468,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,77}}</string>
                <key>sourceSize</key>
                <string>{468,77}</string>
            </dict>
            <key>farmer_ssygq_finalreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,787},{192,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,215}}</string>
                <key>sourceSize</key>
                <string>{192,215}</string>
            </dict>
            <key>farmer_ssygq_zsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{530,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,695}}</string>
                <key>sourceSize</key>
                <string>{530,695}</string>
            </dict>
            <key>icon_saudi_celebration_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,211},{110,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,77}}</string>
                <key>sourceSize</key>
                <string>{110,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saudiNationalDay.png</string>
            <key>size</key>
            <string>{1528,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b74d5ab00100efebc72757c12826e0:1/1$</string>
            <key>textureFileName</key>
            <string>saudiNationalDay.png</string>
        </dict>
    </dict>
</plist>
