<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>science_def_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,117},{114,92}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{114,92}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,319},{100,96}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{100,96}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_10_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,609},{110,92}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{110,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_def_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,643},{92,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{92,80}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,609},{100,98}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{100,98}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,841},{108,104}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{108,104}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,217},{98,100}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{98,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,321},{98,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{98,96}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,633},{88,96}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{88,96}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,713},{96,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{96,92}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_def_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,503},{102,90}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{102,90}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_dev_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,713},{104,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{104,76}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_dev_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,213},{100,102}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{100,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_dev_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,219},{100,96}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{100,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>science_dev_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,113},{104,96}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_dev_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,393},{106,78}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{106,78}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_dev_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,533},{106,86}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,25},{106,86}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_dev_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,121},{106,88}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{106,88}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_hero_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,609},{106,96}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{106,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,529},{100,94}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{100,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,317},{106,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{106,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,523},{82,100}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{82,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,497},{102,114}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,831},{80,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{80,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,911},{96,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_3_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,899},{96,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,813},{82,98}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{82,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,727},{92,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{92,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,407},{100,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{100,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,905},{86,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{86,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,793},{96,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{96,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_8_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,503},{96,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{96,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_hero_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,893},{98,98}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{98,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,615},{106,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{106,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,213},{114,96}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{114,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,3},{120,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,213},{100,96}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{100,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_12_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,421},{100,98}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{100,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,833},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,393},{106,106}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{106,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,503},{102,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{102,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,249},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,117},{108,96}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{108,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,3},{108,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{108,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_4_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,729},{106,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,373},{120,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_5_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,3},{120,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,723},{106,96}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{106,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_6_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,3},{106,94}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{106,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,3},{114,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,125},{120,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_lea_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,719},{108,90}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{108,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>science_res_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,915},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{86,90}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,733},{88,88}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{88,88}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_110029.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,825},{76,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>science_res_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,609},{98,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{98,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,821},{92,86}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{92,86}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,313},{104,76}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{104,76}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,421},{108,78}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{108,78}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,113},{102,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{102,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,313},{112,76}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{112,76}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,419},{106,90}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{106,90}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>science_res_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{118,118}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{118,118}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scienceIcon.png</string>
            <key>size</key>
            <string>{700,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e699a841bbd5f4ca5c894765ee8669c:1/1$</string>
            <key>textureFileName</key>
            <string>scienceIcon.png</string>
        </dict>
    </dict>
</plist>
