<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_sdbns_dgzl.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,338},{476,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,175}}</string>
                <key>sourceSize</key>
                <string>{476,175}</string>
            </dict>
            <key>bg_sdbns_kbdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{266,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,427}}</string>
                <key>sourceSize</key>
                <string>{266,427}</string>
            </dict>
            <key>bg_sdbns_lcb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,180},{476,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,175}}</string>
                <key>sourceSize</key>
                <string>{476,175}</string>
            </dict>
            <key>bg_sdbns_nzjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,828},{476,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,175}}</string>
                <key>sourceSize</key>
                <string>{476,175}</string>
            </dict>
            <key>bg_sdbns_wdlm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{476,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,175}}</string>
                <key>sourceSize</key>
                <string>{476,175}</string>
            </dict>
            <key>bg_sdbns_wggs.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,349},{476,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,175}}</string>
                <key>sourceSize</key>
                <string>{476,175}</string>
            </dict>
            <key>bg_sdbns_wggs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,967},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,858},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,583},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,583},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,749},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,640},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,516},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,946},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,837},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wggs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,728},{317,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,106}}</string>
                <key>sourceSize</key>
                <string>{317,106}</string>
            </dict>
            <key>bg_sdbns_wzjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,349},{476,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,175}}</string>
                <key>sourceSize</key>
                <string>{476,175}</string>
            </dict>
            <key>bg_sdbns_wzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,160},{476,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,175}}</string>
                <key>sourceSize</key>
                <string>{476,175}</string>
            </dict>
            <key>frame_sdbns_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1006},{53,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>frame_sdbns_baoxinag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,559},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>frame_sdbns_bt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{603,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,80}}</string>
                <key>sourceSize</key>
                <string>{603,80}</string>
            </dict>
            <key>frame_sdbns_dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,583},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>frame_sdbns_dianzan_dianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,801},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>frame_sdbns_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,511},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>frame_sdbns_gantanhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,85},{8,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,28}}</string>
                <key>sourceSize</key>
                <string>{8,28}</string>
            </dict>
            <key>frame_sdbns_huawen1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{356,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,344}}</string>
                <key>sourceSize</key>
                <string>{356,344}</string>
            </dict>
            <key>frame_sdbns_huawen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,358},{222,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,187}}</string>
                <key>sourceSize</key>
                <string>{222,187}</string>
            </dict>
            <key>frame_sdbns_huawen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{326,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,7}}</string>
                <key>sourceSize</key>
                <string>{326,7}</string>
            </dict>
            <key>frame_sdbns_huawen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,85},{586,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,72}}</string>
                <key>sourceSize</key>
                <string>{586,72}</string>
            </dict>
            <key>frame_sdbns_huawen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,858},{116,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,131}}</string>
                <key>sourceSize</key>
                <string>{116,131}</string>
            </dict>
            <key>frame_sdbns_huawen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,180},{168,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,126}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
            <key>frame_sdbns_huawen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,358},{287,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,279}}</string>
                <key>sourceSize</key>
                <string>{287,279}</string>
            </dict>
            <key>frame_sdbns_huawen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1006},{214,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,53}}</string>
                <key>sourceSize</key>
                <string>{214,53}</string>
            </dict>
            <key>frame_sdbns_shukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,516},{209,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,367}}</string>
                <key>sourceSize</key>
                <string>{209,367}</string>
            </dict>
            <key>frame_sdbns_shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{567,796}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,796}}</string>
                <key>sourceSize</key>
                <string>{567,796}</string>
            </dict>
            <key>frame_sdbns_yc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,351},{157,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,151}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>icon_milestone_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,992},{104,86}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{104,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,739},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{98,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,935},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{88,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,840},{98,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{98,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,903},{86,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{86,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,630},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{96,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,998},{80,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{80,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,903},{106,104}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{106,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_milestone_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,511},{116,100}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{116,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbnsUI.png</string>
            <key>size</key>
            <string>{2047,1085}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e5dfdab769a57576ab4e9d0644ba898:1/1$</string>
            <key>textureFileName</key>
            <string>sdbnsUI.png</string>
        </dict>
    </dict>
</plist>
