<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_sdsznq01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,256},{15,5}}</string>
                <key>offset</key>
                <string>{12,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{15,5}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,75},{33,17}}</string>
                <key>offset</key>
                <string>{9,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,3},{45,29}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,256},{53,41}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,595},{59,47}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{59,47}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,542},{61,49}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{61,49}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,393},{83,49}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{83,49}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,393},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,39},{83,47}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,306},{83,49}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,49},{83,49}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,446},{83,47}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,62},{83,47}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,169},{83,49}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,72},{83,49}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,497},{73,41}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,84},{73,41}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,521},{27,29}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,96},{27,29}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,393},{25,17}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,108},{25,17}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,393},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,281},{165,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,238}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,393},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,450},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,315},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,153},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,153},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,395},{165,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,238}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,281},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,75},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,408},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,408},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,408},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Tex_XL_sdsznq02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,408},{165,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,236}}</string>
                <key>sourceSize</key>
                <string>{165,240}</string>
            </dict>
            <key>dh_Texture_sdsznq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,306},{72,512}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,512}}</string>
                <key>sourceSize</key>
                <string>{96,512}</string>
            </dict>
            <key>dh_Texture_sdsznq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,382},{502,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{502,22}}</string>
                <key>sourceSize</key>
                <string>{512,32}</string>
            </dict>
            <key>dh_Texture_sdsznq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,3},{274,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{274,340}}</string>
                <key>sourceSize</key>
                <string>{284,350}</string>
            </dict>
            <key>dh_Texture_sdsznq_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,521},{138,121}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{138,121}}</string>
                <key>sourceSize</key>
                <string>{142,175}</string>
            </dict>
            <key>dh_Texture_sdsznq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{332,388}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{332,388}}</string>
                <key>sourceSize</key>
                <string>{346,390}</string>
            </dict>
            <key>frame_4zouniandaojishi_yishuzi_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,3},{594,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,68}}</string>
                <key>sourceSize</key>
                <string>{594,68}</string>
            </dict>
            <key>frame_4zouniandaojishi_yishuzi_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,75},{398,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,74}}</string>
                <key>sourceSize</key>
                <string>{398,74}</string>
            </dict>
            <key>frame_NewYear01_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,82},{602,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,83}}</string>
                <key>sourceSize</key>
                <string>{602,83}</string>
            </dict>
            <key>frame_NewYear01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,3},{615,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,75}}</string>
                <key>sourceSize</key>
                <string>{615,75}</string>
            </dict>
            <key>frame_NewYear02_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,169},{549,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,61}}</string>
                <key>sourceSize</key>
                <string>{549,61}</string>
            </dict>
            <key>frame_NewYear02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,234},{526,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,68}}</string>
                <key>sourceSize</key>
                <string>{526,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdsznq.png</string>
            <key>size</key>
            <string>{1939,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:160d427e8ffb6f946ec0f5b20f3df9f7:1/1$</string>
            <key>textureFileName</key>
            <string>sdsznq.png</string>
        </dict>
    </dict>
</plist>
