<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_SMLK_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1368},{271,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,65}}</string>
                <key>sourceSize</key>
                <string>{271,65}</string>
            </dict>
            <key>btn_SMLK_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1300},{271,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,65}}</string>
                <key>sourceSize</key>
                <string>{271,65}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1561},{138,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1539},{138,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,31}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1505},{138,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,31}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1471},{138,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,31}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1436},{138,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,31}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1436},{138,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,31}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,921},{138,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,31}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1555},{138,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1554},{138,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1554},{138,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1546},{138,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,921},{138,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1379},{138,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1436},{138,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,31}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1379},{204,72}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,223},{204,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1151},{400,146}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,186},{400,146}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,640},{400,278}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{400,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{400,324}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{400,324}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{400,386}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{400,386}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,405},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,808},{400,340}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{400,340}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,391},{400,324}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{400,324}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,329},{400,308}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{400,308}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,718},{400,316}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{400,316}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1371},{384,200}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,159},{384,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2},{342,188}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,168},{342,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,347},{312,168}}</string>
                <key>offset</key>
                <string>{18,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,182},{312,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,662},{300,168}}</string>
                <key>offset</key>
                <string>{26,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,175},{300,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,921},{292,148}}</string>
                <key>offset</key>
                <string>{29,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,175},{292,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1423},{214,120}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,172},{214,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1298},{214,122}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,170},{214,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl03_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1432},{206,120}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,168},{206,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1546},{70,50}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,224},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1454},{114,104}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,171},{114,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1300},{168,168}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,116},{168,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,965},{194,204}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,93},{194,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1371},{226,240}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,65},{226,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1072},{250,270}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,49},{250,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1037},{258,268}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,37},{258,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1072},{244,274}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,26},{244,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1319},{232,250}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,42},{232,250}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,1172},{176,204}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,89},{176,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_XL_smkl04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1436},{158,182}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,110},{158,182}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dh_Tex_qwdthd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,921},{138,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,33}}</string>
                <key>sourceSize</key>
                <string>{138,33}</string>
            </dict>
            <key>dh_Tex_qwdthd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1345},{244,84}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,84}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>frame_SMLK_djk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1454},{104,106}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>frame_SMLK_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{640,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,490}}</string>
                <key>sourceSize</key>
                <string>{640,490}</string>
            </dict>
            <key>frame_SMLK_qsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,873}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{640,873}}</string>
                <key>sourceSize</key>
                <string>{640,877}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>semlukExperience.png</string>
            <key>size</key>
            <string>{2045,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3996ae10e5077f0f203138ed3ffda736:1/1$</string>
            <key>textureFileName</key>
            <string>semlukExperience.png</string>
        </dict>
    </dict>
</plist>
