<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gongmingbaozang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,612},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>bg_gongmingbaozang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,836},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>bg_jysp_fpbjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{605,605}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,605}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>btn_gongmingbaozang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,489},{131,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,139}}</string>
                <key>sourceSize</key>
                <string>{131,139}</string>
            </dict>
            <key>btn_gongmingbaozang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,884},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>dh_Tex_XL_yjzz01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,931},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{59,40}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>dh_Tex_XL_yjzz01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,490},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{107,28}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>dh_Tex_XL_yjzz01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,720},{133,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{133,28}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>dh_Tex_XL_yjzz01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,720},{133,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{133,28}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>dh_Tex_hlznq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,931},{328,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,39}}</string>
                <key>sourceSize</key>
                <string>{328,39}</string>
            </dict>
            <key>dh_Tex_hlznq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,931},{238,52}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{238,52}}</string>
                <key>sourceSize</key>
                <string>{256,62}</string>
            </dict>
            <key>dh_Tex_hlznq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,3},{281,65}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{281,65}}</string>
                <key>sourceSize</key>
                <string>{325,119}</string>
            </dict>
            <key>dh_Tex_hlznq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,3},{281,117}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{281,117}}</string>
                <key>sourceSize</key>
                <string>{325,119}</string>
            </dict>
            <key>frame_gongmignbaozang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,731},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>frame_gongmingbaozang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,288},{198,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,36}}</string>
                <key>sourceSize</key>
                <string>{198,36}</string>
            </dict>
            <key>frame_gongmingbaozang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,731},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>frame_gongmingbaozang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,624},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>frame_hlznq_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,808},{640,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,119}}</string>
                <key>sourceSize</key>
                <string>{640,119}</string>
            </dict>
            <key>frame_jysp_dshb.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,288},{320,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,69}}</string>
                <key>sourceSize</key>
                <string>{320,69}</string>
            </dict>
            <key>frame_jysp_lvss.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,3},{311,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,78}}</string>
                <key>sourceSize</key>
                <string>{315,78}</string>
            </dict>
            <key>frame_jysp_sxan.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,318},{167,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,153}}</string>
                <key>sourceSize</key>
                <string>{169,153}</string>
            </dict>
            <key>frame_jysp_sznkp.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,624},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>icon_echotreasure_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,941},{39,41}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shareTreasure.png</string>
            <key>size</key>
            <string>{886,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1d1d93d24a95d22e8746bb6af984920:1/1$</string>
            <key>textureFileName</key>
            <string>shareTreasure.png</string>
        </dict>
    </dict>
</plist>
