<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_znhkl01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,808},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,378},{165,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,138}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,196},{165,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{165,134}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,136},{165,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{165,134}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,378},{165,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{165,136}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,69},{165,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,138}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,806},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,762},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,664},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,662},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,618},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,334},{165,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{165,136}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,238},{165,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{165,136}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,520},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,518},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_XL_znhkl01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,474},{165,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,140}}</string>
                <key>sourceSize</key>
                <string>{165,140}</string>
            </dict>
            <key>dh_Tex_znhkl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,61},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>dh_Tex_znhkl_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{53,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{53,71}}</string>
                <key>sourceSize</key>
                <string>{55,85}</string>
            </dict>
            <key>dh_Tex_znhkl_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,61},{220,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{220,131}}</string>
                <key>sourceSize</key>
                <string>{234,137}</string>
            </dict>
            <key>dh_Tex_znhkl_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,3},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>dh_Tex_znhkl_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,3},{290,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,54}}</string>
                <key>sourceSize</key>
                <string>{290,56}</string>
            </dict>
            <key>dh_Tex_znhkl_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,3},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>dh_Tex_znhkl_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,60},{62,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signReward2020.png</string>
            <key>size</key>
            <string>{509,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:580a1ae38613361dd48d8a95da9d6c4a:1/1$</string>
            <key>textureFileName</key>
            <string>signReward2020.png</string>
        </dict>
    </dict>
</plist>
