<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1178},{126,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_znqdhkl_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,1038}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1038}}</string>
                <key>sourceSize</key>
                <string>{640,1038}</string>
            </dict>
            <key>bg_zyqd_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>frame_rydt_hw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1379},{117,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,13}}</string>
                <key>sourceSize</key>
                <string>{117,13}</string>
            </dict>
            <key>frame_znqdhkl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1314},{76,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,111}}</string>
                <key>sourceSize</key>
                <string>{76,111}</string>
            </dict>
            <key>frame_znqdhkl_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{575,711}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{575,711}}</string>
                <key>sourceSize</key>
                <string>{575,713}</string>
            </dict>
            <key>frame_znqdhkl_htt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,718},{600,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,107}}</string>
                <key>sourceSize</key>
                <string>{600,107}</string>
            </dict>
            <key>frame_znqdhkl_htt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,823},{78,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,115}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>frame_znqdhkl_htt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1188},{84,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,261}}</string>
                <key>sourceSize</key>
                <string>{84,261}</string>
            </dict>
            <key>frame_znqdhkl_jl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,942},{84,91}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>frame_znqdhkl_xkk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1030},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>frame_znqdhkl_xqtt.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1201},{640,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,109}}</string>
                <key>sourceSize</key>
                <string>{640,109}</string>
            </dict>
            <key>frame_zyqd_czdxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1029},{154,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,145}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>frame_zyqd_dshh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{640,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,267}}</string>
                <key>sourceSize</key>
                <string>{640,267}</string>
            </dict>
            <key>frame_zyqd_dxhh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1282},{79,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,57}}</string>
                <key>sourceSize</key>
                <string>{79,57}</string>
            </dict>
            <key>frame_zyqd_hsdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1276},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>frame_zyqd_lsdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1276},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>frame_zyqd_lsxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,987},{320,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,38}}</string>
                <key>sourceSize</key>
                <string>{320,38}</string>
            </dict>
            <key>frame_zyqd_ylbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,3},{640,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,148}}</string>
                <key>sourceSize</key>
                <string>{640,148}</string>
            </dict>
            <key>frame_zyqd_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,829},{102,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,601}}</string>
                <key>sourceSize</key>
                <string>{102,601}</string>
            </dict>
            <key>frame_zyqd_zzds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,987},{265,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,197}}</string>
                <key>sourceSize</key>
                <string>{265,197}</string>
            </dict>
            <key>framer_zyqd_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1045},{640,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,152}}</string>
                <key>sourceSize</key>
                <string>{640,152}</string>
            </dict>
            <key>framer_zyqd_dk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1282},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>framer_zyqd_dk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1282},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>framer_zyqd_dk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,1151},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>framer_zyqd_dk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1151},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>framer_zyqd_zs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1379},{31,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,335}}</string>
                <key>sourceSize</key>
                <string>{31,335}</string>
            </dict>
            <key>framer_zyqd_zs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,935},{594,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,48}}</string>
                <key>sourceSize</key>
                <string>{594,48}</string>
            </dict>
            <key>framer_zyqd_zs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1314},{643,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,61}}</string>
                <key>sourceSize</key>
                <string>{643,61}</string>
            </dict>
            <key>framer_zyqd_zs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1029},{142,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,118}}</string>
                <key>sourceSize</key>
                <string>{142,118}</string>
            </dict>
            <key>icon_znqdhkl_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,710},{105,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,109}}</string>
                <key>sourceSize</key>
                <string>{105,109}</string>
            </dict>
            <key>mask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,647},{59,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,116}}</string>
                <key>sourceSize</key>
                <string>{59,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signReward.png</string>
            <key>size</key>
            <string>{2021,1413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:705ba2e02a0486c394f5fb619e8f9a70:1/1$</string>
            <key>textureFileName</key>
            <string>signReward.png</string>
        </dict>
    </dict>
</plist>
