<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xbdmz01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,877},{386,40}}</string>
                <key>offset</key>
                <string>{-66,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,213},{386,40}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,307},{410,196}}</string>
                <key>offset</key>
                <string>{-60,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{410,196}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,611},{508,262}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{508,262}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,915},{526,288}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{526,288}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,3},{530,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,300}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,307},{530,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,300}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,611},{530,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,300}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,3},{530,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,300}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,307},{530,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,300}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{530,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,300}}</string>
                <key>sourceSize</key>
                <string>{530,300}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1197},{1,1}}</string>
                <key>offset</key>
                <string>{-94.5,114.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1837},{180,160}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{180,160}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1585},{182,180}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{182,180}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1769},{182,220}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{182,220}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,727},{182,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{182,222}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1693},{182,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{182,222}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1837},{182,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{182,222}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1837},{182,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{182,222}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,3},{182,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{182,222}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1837},{182,222}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{182,222}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1693},{12,10}}</string>
                <key>offset</key>
                <string>{40,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,5},{12,10}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,937},{352,206}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,4},{352,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1197},{384,206}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,4},{384,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1207},{482,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{482,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,727},{482,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{482,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,517},{482,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{482,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1627},{482,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{482,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1417},{482,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{482,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1207},{482,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{482,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,307},{482,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{482,206}}</string>
                <key>sourceSize</key>
                <string>{490,210}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,611},{16,16}}</string>
                <key>offset</key>
                <string>{22,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,131},{16,16}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1213},{166,238}}</string>
                <key>offset</key>
                <string>{-44,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,73},{166,238}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1837},{182,266}}</string>
                <key>offset</key>
                <string>{-45,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,61},{182,266}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,1489},{272,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,344}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1489},{272,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,344}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1495},{272,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,344}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1213},{272,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,344}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,937},{272,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,344}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1147},{272,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,344}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
            <key>dh_Tex_XL_xbdmz04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,921},{272,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{272,344}}</string>
                <key>sourceSize</key>
                <string>{274,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sinbadTreasure3.png</string>
            <key>size</key>
            <string>{1803,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d43a2fad456f80fcc7eb9edb305e48c:1/1$</string>
            <key>textureFileName</key>
            <string>sinbadTreasure3.png</string>
        </dict>
    </dict>
</plist>
