<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xinbade_lz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1801},{214,164}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,40},{214,164}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1617},{214,164}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{214,164}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,911},{218,166}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{218,166}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1133},{224,172}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{224,172}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1361},{228,176}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{228,176}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1789},{228,202}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{228,202}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1789},{232,202}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{232,202}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1789},{238,202}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{238,202}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1467},{240,204}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{240,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,527},{256,204}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{256,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,509},{256,204}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{256,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,509},{256,204}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{256,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,509},{256,204}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{256,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,867},{250,204}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{250,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1225},{246,204}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{246,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,3},{240,204}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{240,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1583},{238,202}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{238,202}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1485},{218,202}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{218,202}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1801},{216,204}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{216,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_lz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1593},{216,204}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{216,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>dh_xinbade_mb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,783},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,642},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,637},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,637},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,637},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,637},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,637},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,655},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,655},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,527},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,527},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,514},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,509},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,509},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,509},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,509},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,509},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,386},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,258},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_mb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,173},{13,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,124}}</string>
                <key>sourceSize</key>
                <string>{13,130}</string>
            </dict>
            <key>dh_xinbade_qz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,867},{146,251}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,251}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,717},{146,251}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,251}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,717},{146,251}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,251}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,717},{146,251}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,251}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,735},{146,251}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,251}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,211},{146,251}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,251}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1075},{146,249}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,249}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1017},{146,249}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,249}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,885},{146,249}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,249}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1167},{146,247}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,247}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1035},{146,247}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,247}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1335},{146,245}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,245}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1467},{146,245}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,245}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1433},{146,245}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,245}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1317},{146,245}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,245}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1185},{146,245}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,245}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1317},{146,245}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,245}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1167},{146,247}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,247}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,867},{146,249}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,249}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1017},{146,249}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,249}}</string>
                <key>sourceSize</key>
                <string>{146,255}</string>
            </dict>
            <key>dh_xinbade_qzsc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,424},{283,81}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{283,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,424},{285,81}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,6},{285,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,424},{285,81}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,6},{285,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,444},{287,79}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{287,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,341},{287,79}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{287,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,341},{287,79}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{287,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,361},{289,79}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{289,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,258},{289,79}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{289,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,258},{289,79}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{289,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,258},{289,79}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{289,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,173},{289,81}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{289,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,341},{287,79}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{287,79}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,173},{307,81}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{307,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,173},{309,81}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{309,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,88},{309,81}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{309,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,88},{311,81}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{311,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,88},{311,81}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{311,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,3},{311,81}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{311,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,3},{311,81}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{311,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>dh_xinbade_qzsc_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{311,81}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{311,81}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sinbadTreasure5.png</string>
            <key>size</key>
            <string>{1191,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:524a6dbbb8ef650ab284c90df8f9f15c:1/1$</string>
            <key>textureFileName</key>
            <string>sinbadTreasure5.png</string>
        </dict>
    </dict>
</plist>
