<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01jiebx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1497},{306,190}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,68},{306,190}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>01jiebx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,414},{306,240}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{306,240}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>01jiebx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1003},{310,244}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{310,244}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>01jiebx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,978},{310,250}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{310,250}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>01jiebx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,413},{308,252}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{308,252}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>01jiebx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,3},{304,252}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{304,252}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>01jiebx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,725},{304,250}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{304,250}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>01jiebx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1292},{304,248}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{304,248}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1349},{306,190}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,68},{306,190}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1251},{304,242}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{304,242}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1544},{310,246}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{310,246}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,724},{312,250}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{312,250}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1543},{310,254}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{310,254}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,979},{306,252}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{306,252}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,437},{306,252}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{306,252}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>02jiebx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,693},{306,250}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{306,250}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>bg_xbdmz_jl_map1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,724},{472,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,270}}</string>
                <key>sourceSize</key>
                <string>{472,270}</string>
            </dict>
            <key>bg_xbdmz_jl_map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1794},{148,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,203}}</string>
                <key>sourceSize</key>
                <string>{148,203}</string>
            </dict>
            <key>bg_xbdmz_jl_map3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1492},{421,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,195}}</string>
                <key>sourceSize</key>
                <string>{421,195}</string>
            </dict>
            <key>bg_xbdmz_jl_map4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1569},{236,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,291}}</string>
                <key>sourceSize</key>
                <string>{236,291}</string>
            </dict>
            <key>bg_xbdmz_jl_map5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,255},{451,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,154}}</string>
                <key>sourceSize</key>
                <string>{451,154}</string>
            </dict>
            <key>bg_xbdmz_map1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,414},{552,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,306}}</string>
                <key>sourceSize</key>
                <string>{552,306}</string>
            </dict>
            <key>bg_xbdmz_map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1497},{185,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,248}}</string>
                <key>sourceSize</key>
                <string>{185,248}</string>
            </dict>
            <key>bg_xbdmz_map3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,998},{490,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,221}}</string>
                <key>sourceSize</key>
                <string>{490,221}</string>
            </dict>
            <key>bg_xbdmz_map4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,998},{280,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,347}}</string>
                <key>sourceSize</key>
                <string>{280,347}</string>
            </dict>
            <key>bg_xbdmz_map5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,407}}</string>
                <key>sourceSize</key>
                <string>{640,407}</string>
            </dict>
            <key>frame_Sinbad_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1801},{390,170}}</string>
                <key>offset</key>
                <string>{-47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,49},{390,170}}</string>
                <key>sourceSize</key>
                <string>{548,248}</string>
            </dict>
            <key>frame_Sinbad_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,259},{400,174}}</string>
                <key>offset</key>
                <string>{-39,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{400,174}}</string>
                <key>sourceSize</key>
                <string>{548,248}</string>
            </dict>
            <key>frame_Sinbad_box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1809},{288,192}}</string>
                <key>offset</key>
                <string>{-101,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{288,192}}</string>
                <key>sourceSize</key>
                <string>{548,248}</string>
            </dict>
            <key>frame_Sinbad_box_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1235},{330,226}}</string>
                <key>offset</key>
                <string>{-99,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{330,226}}</string>
                <key>sourceSize</key>
                <string>{548,248}</string>
            </dict>
            <key>frame_Sinbad_box_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{548,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,248}}</string>
                <key>sourceSize</key>
                <string>{548,248}</string>
            </dict>
            <key>frame_text_alb_1jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1807},{283,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,82}}</string>
                <key>sourceSize</key>
                <string>{283,82}</string>
            </dict>
            <key>frame_text_alb_2jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,826},{286,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,74}}</string>
                <key>sourceSize</key>
                <string>{286,74}</string>
            </dict>
            <key>frame_text_yw_1jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,437},{308,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,84}}</string>
                <key>sourceSize</key>
                <string>{308,84}</string>
            </dict>
            <key>frame_text_yw_2jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1893},{304,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,81}}</string>
                <key>sourceSize</key>
                <string>{304,81}</string>
            </dict>
            <key>icon_Sinbad_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1116},{72,67}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{72,67}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>icon_Sinbad_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,749},{72,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{72,67}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>icon_Sinbad_box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,749},{76,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{76,73}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>icon_Sinbad_box_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1917},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>icon_Sinbad_box_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1917},{86,81}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sinbadTreasure2.png</string>
            <key>size</key>
            <string>{1507,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:920d758bbef41b9f63b6f0f0f2ee70a1:1/1$</string>
            <key>textureFileName</key>
            <string>sinbadTreasure2.png</string>
        </dict>
    </dict>
</plist>
