<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xbdmc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,911},{640,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,390}}</string>
                <key>sourceSize</key>
                <string>{640,390}</string>
            </dict>
            <key>bg_xbdmc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,483},{640,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,341}}</string>
                <key>sourceSize</key>
                <string>{640,341}</string>
            </dict>
            <key>bg_xbdmc_hdzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,1121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1121}}</string>
                <key>sourceSize</key>
                <string>{640,1121}</string>
            </dict>
            <key>bg_xbdmc_hdzy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1125},{591,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,263}}</string>
                <key>sourceSize</key>
                <string>{591,263}</string>
            </dict>
            <key>bg_xbdmc_hdzy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1127},{591,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,263}}</string>
                <key>sourceSize</key>
                <string>{591,263}</string>
            </dict>
            <key>bg_xbdmc_hdzy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1305},{591,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,263}}</string>
                <key>sourceSize</key>
                <string>{591,263}</string>
            </dict>
            <key>bg_xbdmc_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,904}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,904}}</string>
                <key>sourceSize</key>
                <string>{640,904}</string>
            </dict>
            <key>bg_xbdmz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>bg_xbdmz_bazw_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1722},{279,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,281}}</string>
                <key>sourceSize</key>
                <string>{279,281}</string>
            </dict>
            <key>bg_xbdmz_jl_desktop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{538,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,476}}</string>
                <key>sourceSize</key>
                <string>{538,476}</string>
            </dict>
            <key>frame_colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,389},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>frame_timebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1127},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>frame_tt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1305},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{196,73}</string>
            </dict>
            <key>frame_tt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,3},{382,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,140}}</string>
                <key>sourceSize</key>
                <string>{382,140}</string>
            </dict>
            <key>frame_xbdmz_hdzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,483},{638,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,289}}</string>
                <key>sourceSize</key>
                <string>{638,289}</string>
            </dict>
            <key>frame_xbdmz_hdzy_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,389},{589,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,38}}</string>
                <key>sourceSize</key>
                <string>{589,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sinbadTreasure.png</string>
            <key>size</key>
            <string>{1976,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2499491073f8c5a51f6dc6f16a0825cd:1/1$</string>
            <key>textureFileName</key>
            <string>sinbadTreasure.png</string>
        </dict>
    </dict>
</plist>
