<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_skin_kingqueue.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,411},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4137.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,273},{132,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4203.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,805},{130,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{130,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4211.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,273},{132,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4288.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,801},{132,98}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4294.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,393},{124,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{124,108}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4500.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,547},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4501.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4502.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_4503.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,275},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_march_hegemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,411},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_match_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_pumpkin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,3},{88,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{88,62}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,797},{124,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{124,118}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>icon_skin_selce_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,901},{100,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{100,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>icon_skin_selce_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,773},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,241},{92,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{92,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>icon_skin_selce_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,635},{120,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,135},{122,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,118}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_2017_Ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,383},{116,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_2018_Ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,139},{126,126}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_2019_Ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,509},{120,122}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{120,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_2019halloween.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,411},{130,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_2020ny.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,131},{106,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{106,124}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_2020zy.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,683},{132,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_2021newyear.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,3},{132,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_2021ramadam.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,907},{98,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{98,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,647},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_3nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,683},{128,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{128,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_5anniversary.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_5anniversary_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_Christmas2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,393},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_Coffeetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,275},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_Easter.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,269},{126,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{126,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_Hallowmas2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,269},{132,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{132,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_Hourglass.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,397},{108,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{108,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_Skygarden.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,137},{132,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_Thunderboltcloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,817},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_constructed.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,139},{132,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_corban.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,779},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_corban2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,817},{128,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_crazystar.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,517},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_egypt.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_exquisite.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,257},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_flying.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,521},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_flyingcarpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,677},{132,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{132,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_fort.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,761},{112,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,118}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_hegemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,883},{116,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{116,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>icon_skin_selce_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,257},{114,122}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_icewolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,547},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,669},{132,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{132,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_legendaryking.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,3},{128,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_newYear.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,139},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_panther.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,533},{130,120}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{130,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_remains_Wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,645},{130,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{130,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,533},{122,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_smailwind.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,275},{130,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,667},{124,126}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_soar.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,397},{124,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_stream.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,761},{114,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{114,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_valentine.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_selce_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,383},{110,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,509},{112,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_selce_worldcup.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,3},{128,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,903},{102,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{102,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_select_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,887},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_select_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,635},{122,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{122,112}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>icon_skin_select_kingsarmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,3},{124,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_select_panther.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,547},{132,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_skin_snowball.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,921},{104,84}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{104,84}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skinIcon.png</string>
            <key>size</key>
            <string>{1160,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54cdeafe67fd6a74c19ace9d351e9a5d:1/1$</string>
            <key>textureFileName</key>
            <string>skinIcon.png</string>
        </dict>
    </dict>
</plist>
