<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_qcbl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,647},{536,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,206}}</string>
                <key>sourceSize</key>
                <string>{536,206}</string>
            </dict>
            <key>bg_qcbl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{536,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,263}}</string>
                <key>sourceSize</key>
                <string>{536,263}</string>
            </dict>
            <key>bg_qcbl_lzbj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1150}}</string>
                <key>sourceSize</key>
                <string>{640,1150}</string>
            </dict>
            <key>bg_qcbl_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,765},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>frame_Smelt_round_01_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,857},{190,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,51}}</string>
                <key>sourceSize</key>
                <string>{190,51}</string>
            </dict>
            <key>frame_Smelt_round_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,647},{176,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,25}}</string>
                <key>sourceSize</key>
                <string>{176,25}</string>
            </dict>
            <key>frame_Smelt_round_02_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,857},{149,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,50}}</string>
                <key>sourceSize</key>
                <string>{149,50}</string>
            </dict>
            <key>frame_Smelt_round_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,647},{156,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,30}}</string>
                <key>sourceSize</key>
                <string>{156,30}</string>
            </dict>
            <key>frame_qcbl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,857},{538,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,40}}</string>
                <key>sourceSize</key>
                <string>{538,40}</string>
            </dict>
            <key>frame_qcbl_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,647},{150,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,72}}</string>
                <key>sourceSize</key>
                <string>{150,72}</string>
            </dict>
            <key>frame_qcbl_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,3},{640,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,496}}</string>
                <key>sourceSize</key>
                <string>{640,496}</string>
            </dict>
            <key>icon_qcbl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,765},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>icon_smelt_rlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,647},{64,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{64,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>qcbl_global_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,647},{114,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{114,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smelt.png</string>
            <key>size</key>
            <string>{1656,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:094abfa77307891e56e3e617a9bc34d5:1/1$</string>
            <key>textureFileName</key>
            <string>smelt.png</string>
        </dict>
    </dict>
</plist>
