<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_smsr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,737},{156,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,122}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
            <key>frame_smsr_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,637},{134,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,71}}</string>
                <key>sourceSize</key>
                <string>{134,71}</string>
            </dict>
            <key>frame_smsr_fenggekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,329},{304,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,44}}</string>
                <key>sourceSize</key>
                <string>{304,44}</string>
            </dict>
            <key>frame_smsr_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,612},{148,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,150}}</string>
                <key>sourceSize</key>
                <string>{148,154}</string>
            </dict>
            <key>frame_smsr_kuangcolor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,743},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>frame_smsr_kuangcolor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,605},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>frame_smsr_kuangcolor_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,467},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>frame_smsr_kuangcolor_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,329},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>frame_smsr_kuangcolor_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,863},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>frame_smsr_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,329},{344,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,279}}</string>
                <key>sourceSize</key>
                <string>{344,279}</string>
            </dict>
            <key>frame_smsr_qingjingtubeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,322}}</string>
                <key>sourceSize</key>
                <string>{640,322}</string>
            </dict>
            <key>frame_smsr_renwubufen.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,764},{225,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,84}}</string>
                <key>sourceSize</key>
                <string>{225,84}</string>
            </dict>
            <key>frame_smsr_zhuangshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,863},{106,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,128}}</string>
                <key>sourceSize</key>
                <string>{106,128}</string>
            </dict>
            <key>frame_smsr_zhuangshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,612},{121,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,179}}</string>
                <key>sourceSize</key>
                <string>{121,179}</string>
            </dict>
            <key>frame_smsr_zhuangshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,881},{80,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,170}}</string>
                <key>sourceSize</key>
                <string>{80,170}</string>
            </dict>
            <key>frame_smsr_zhuobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,329},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smsrUI.png</string>
            <key>size</key>
            <string>{661,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b99a53d3ddefc35d4e1f5bdd8c28baa:1/1$</string>
            <key>textureFileName</key>
            <string>smsrUI.png</string>
        </dict>
    </dict>
</plist>
