<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_xykh_bzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1445},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>frame_bxqj_jdt02_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,828},{414,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,16}}</string>
                <key>sourceSize</key>
                <string>{414,16}</string>
            </dict>
            <key>frame_xykh_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,859},{852,1015}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,1015}}</string>
                <key>sourceSize</key>
                <string>{852,1015}</string>
            </dict>
            <key>frame_xykh_anq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,1247},{218,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,79}}</string>
                <key>sourceSize</key>
                <string>{218,79}</string>
            </dict>
            <key>frame_xykh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{852,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,1386}}</string>
                <key>sourceSize</key>
                <string>{852,1386}</string>
            </dict>
            <key>frame_xykh_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{565,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,716}}</string>
                <key>sourceSize</key>
                <string>{565,716}</string>
            </dict>
            <key>frame_xykh_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1445},{119,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,122}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>frame_xykh_fg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,828},{37,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,4}}</string>
                <key>sourceSize</key>
                <string>{37,4}</string>
            </dict>
            <key>frame_xykh_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,856},{387,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,41}}</string>
                <key>sourceSize</key>
                <string>{387,41}</string>
            </dict>
            <key>frame_xykh_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,723},{526,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,101}}</string>
                <key>sourceSize</key>
                <string>{526,101}</string>
            </dict>
            <key>frame_xykh_qjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,859},{852,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,582}}</string>
                <key>sourceSize</key>
                <string>{852,582}</string>
            </dict>
            <key>frame_xykh_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1445},{77,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,37}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>frame_xykh_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1541},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>frame_xykh_xhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1445},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>frame_xykh_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,828},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_xykh_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1538},{67,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,39}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>icon_xykh_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1486},{67,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,39}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>icon_xykh_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1445},{67,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,39}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SnowyNightCarnival.png</string>
            <key>size</key>
            <string>{1961,1714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9f6c43315bcfea1e86ee46695a49d22:1/1$</string>
            <key>textureFileName</key>
            <string>SnowyNightCarnival.png</string>
        </dict>
    </dict>
</plist>
