<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_ghgd_jdtqj.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,3},{81,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{81,19}}</string>
                <key>sourceSize</key>
                <string>{109,53}</string>
            </dict>
            <key>dh_ghgd_td_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,905},{108,138}}</string>
                <key>offset</key>
                <string>{-77,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,157},{108,138}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,497},{132,160}}</string>
                <key>offset</key>
                <string>{-64,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,135},{132,160}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,695},{158,180}}</string>
                <key>offset</key>
                <string>{-50,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,114},{158,180}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,497},{180,194}}</string>
                <key>offset</key>
                <string>{-36,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,96},{180,194}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,699},{204,210}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,80},{204,210}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,471},{224,224}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,69},{224,224}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,255},{242,238}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{242,238}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,3},{254,248}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{254,248}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{272,246}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{272,246}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,253},{248,214}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{248,214}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,699},{202,162}}</string>
                <key>offset</key>
                <string>{28,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,57},{202,162}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,857},{164,116}}</string>
                <key>offset</key>
                <string>{49,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,57},{164,116}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,913},{118,82}}</string>
                <key>offset</key>
                <string>{67,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,54},{118,82}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>dh_ghgd_td_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,255},{64,36}}</string>
                <key>offset</key>
                <string>{91,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,62},{64,36}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>farmer_sdzjm_fh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,913},{77,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SnowmanCelebration2022_2.png</string>
            <key>size</key>
            <string>{560,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5919c54377798361c2655ef329b370ad:1/1$</string>
            <key>textureFileName</key>
            <string>SnowmanCelebration2022_2.png</string>
        </dict>
    </dict>
</plist>
