<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xykh01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,893},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,893},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,893},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,871},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,789},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,789},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,777},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,753},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,741},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,767},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,663},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,559},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,283},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,339},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,3},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,227},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,283},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,171},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,227},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,115},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,171},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,59},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,115},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,3},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,59},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{265,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{265,52}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,917},{82,122}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,36},{82,122}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,339},{116,170}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{116,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,395},{118,170}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,569},{118,170}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{118,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,395},{120,170}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{120,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,569},{120,168}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{120,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,125},{118,162}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,162}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,3},{118,164}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,164}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,743},{116,170}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{116,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,631},{102,142}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{102,142}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,459},{116,168}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{116,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,459},{118,168}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,631},{118,166}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,166}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,459},{120,166}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{120,166}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,629},{120,156}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{120,156}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,403},{118,152}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,152}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,247},{118,152}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{118,152}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh_Tex_XL_xykh03_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,339},{116,150}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{116,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SnowyNightCarnival_2.png</string>
            <key>size</key>
            <string>{764,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b71ddd16be491348a8e2eada5d8eada:1/1$</string>
            <key>textureFileName</key>
            <string>SnowyNightCarnival_2.png</string>
        </dict>
    </dict>
</plist>
