<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_bingxue4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1693},{386,200}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{386,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,409},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,409},{394,188}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{394,188}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1289},{400,186}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{400,186}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,813},{394,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{394,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,847},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,291},{394,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{394,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1249},{394,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{394,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1251},{394,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{394,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1647},{382,200}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{382,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1199},{386,200}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{386,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1211},{386,200}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{386,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,847},{398,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{398,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,807},{388,200}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1289},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>dh_bingxue5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1877},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1773},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,1785},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1589},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,1601},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1763},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1649},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1897},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1897},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,987},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,803},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1829},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1715},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1601},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,689},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dh_bingxue6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1305},{320,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{320,422}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,873},{320,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{320,428}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{320,432}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,439},{320,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{320,430}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{320,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{320,428}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,435},{320,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{320,426}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,3},{320,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{320,424}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,865},{320,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,420}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,431},{320,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{320,412}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,3},{320,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{320,402}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,3},{284,284}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,75},{284,284}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>dh_bingxue6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1731},{278,278}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,78},{278,278}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SnowWonderAni2.png</string>
            <key>size</key>
            <string>{1586,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e95d7f09228e4288a8b9f075c4df5aba:1/1$</string>
            <key>textureFileName</key>
            <string>SnowWonderAni2.png</string>
        </dict>
    </dict>
</plist>
