<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_bingxue10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,567},{130,50}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,119},{130,50}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,1099},{206,72}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,106},{206,72}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1937},{248,102}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,93},{248,102}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1425},{282,138}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,72},{282,138}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1345},{320,176}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{320,176}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1809},{320,232}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{320,232}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,355},{320,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,250}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1525},{320,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,250}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_bingxue11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,567},{260,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{260,68}}</string>
                <key>sourceSize</key>
                <string>{280,80}</string>
            </dict>
            <key>dh_bingxue12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1809},{300,228}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,228}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>dh_bingxue13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1815},{214,226}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{214,226}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_bingxue14_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,847},{80,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,142}}</string>
                <key>sourceSize</key>
                <string>{80,142}</string>
            </dict>
            <key>dh_bingxue7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1579},{232,216}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,55},{232,216}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,847},{268,248}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{268,248}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,975},{298,272}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{298,272}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,703},{320,288}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{320,288}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1027},{314,304}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{314,304}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1147},{320,318}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,318}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,373},{286,326}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{286,326}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,3},{292,328}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{292,328}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1469},{294,336}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,336}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,289},{274,334}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{274,334}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1079},{282,342}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{282,342}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,3},{282,338}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{282,338}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,729},{282,346}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{282,346}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,373},{282,352}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{282,352}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,3},{286,348}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{286,348}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,3},{284,344}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{284,344}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,1327},{212,244}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,20},{212,244}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1871},{70,252}}</string>
                <key>offset</key>
                <string>{-58,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,12},{70,252}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,335},{44,250}}</string>
                <key>offset</key>
                <string>{-42,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,14},{44,250}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1945},{36,244}}</string>
                <key>offset</key>
                <string>{-40,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,20},{36,244}}</string>
                <key>sourceSize</key>
                <string>{320,370}</string>
            </dict>
            <key>dh_bingxue8_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1797},{190,172}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,57},{190,172}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1573},{220,186}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,45},{220,186}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,1327},{242,208}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,33},{242,208}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1099},{262,224}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{262,224}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1567},{276,238}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{276,238}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1579},{288,246}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{288,246}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1277},{298,254}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{298,254}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1779},{304,258}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{304,258}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1313},{308,262}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{308,262}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1625},{308,266}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{308,266}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,997},{312,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{312,268}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,679},{314,268}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{314,268}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,351},{314,246}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,39},{314,246}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>dh_bingxue9_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,567},{276,276}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,113},{276,276}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>dh_bingxue9_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,669},{302,302}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,99},{302,302}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>dh_bingxue9_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{320,366}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{320,366}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>dh_bingxue9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,575},{320,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,568}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>dh_bingxue9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,568}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SnowWonderAni1.png</string>
            <key>size</key>
            <string>{1888,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0066ae396a35332c2e6c5687b9281524:1/1$</string>
            <key>textureFileName</key>
            <string>SnowWonderAni1.png</string>
        </dict>
    </dict>
</plist>
