<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bxqj_bj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1082}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1082}}</string>
                <key>sourceSize</key>
                <string>{640,1082}</string>
            </dict>
            <key>bg_bxqj_bj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1089},{640,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,492}}</string>
                <key>sourceSize</key>
                <string>{640,492}</string>
            </dict>
            <key>bg_bxqj_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1585},{612,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,454}}</string>
                <key>sourceSize</key>
                <string>{612,454}</string>
            </dict>
            <key>bingzhuiposhui_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1709},{216,160}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,160}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>bingzhuiposhui_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1549},{224,156}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{224,156}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>bingzhuiposhui_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1391},{232,154}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{232,154}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>bingzhuiposhui_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,813},{234,148}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{234,148}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>bingzhuiposhui_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,965},{234,140}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{234,140}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>bingzhuiposhui_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1251},{234,136}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{234,136}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>bingzhuiposhui_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1109},{234,138}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{234,138}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>dh_bingxue111_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,57},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,435},{316,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{316,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,759},{314,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{314,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,705},{314,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{314,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,381},{316,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{316,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,327},{316,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{316,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,651},{314,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{314,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,273},{316,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{316,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,219},{316,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{316,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,597},{314,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{314,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,543},{314,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{314,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,111},{318,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{318,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,165},{316,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{316,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>dh_bingxue111_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,489},{314,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{314,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>frame_bxqj_bt_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1415},{549,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,114}}</string>
                <key>sourceSize</key>
                <string>{549,114}</string>
            </dict>
            <key>frame_bxqj_bt_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,3},{586,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,67}}</string>
                <key>sourceSize</key>
                <string>{586,67}</string>
            </dict>
            <key>frame_bxqj_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,593},{628,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,88}}</string>
                <key>sourceSize</key>
                <string>{628,88}</string>
            </dict>
            <key>frame_bxqj_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,813},{510,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,50}}</string>
                <key>sourceSize</key>
                <string>{510,50}</string>
            </dict>
            <key>frame_bxqj_jdt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1415},{614,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{614,38}}</string>
                <key>sourceSize</key>
                <string>{618,38}</string>
            </dict>
            <key>frame_bxqj_jdt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,813},{598,22}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{598,22}}</string>
                <key>sourceSize</key>
                <string>{618,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SnowWonder.png</string>
            <key>size</key>
            <string>{1057,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e0ff60167e173db6c74fc5e05119f4f:1/1$</string>
            <key>textureFileName</key>
            <string>SnowWonder.png</string>
        </dict>
    </dict>
</plist>
