<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ghxd_dxbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,2},{320,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,342}}</string>
                <key>sourceSize</key>
                <string>{320,342}</string>
            </dict>
            <key>bg_ghxd_xbjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{535,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,257}}</string>
                <key>sourceSize</key>
                <string>{535,257}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,261},{28,28}}</string>
                <key>offset</key>
                <string>{-48,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,66},{28,28}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,388},{62,68}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{62,68}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,159},{92,80}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{92,80}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,327},{122,88}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{122,88}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,230},{126,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,94}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,133},{128,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,94}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,2},{128,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,94}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,363},{118,94}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{118,94}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,133},{102,94}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,388},{72,66}}</string>
                <key>offset</key>
                <string>{28,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,325},{104,122}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{104,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,363},{102,122}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{102,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,363},{102,122}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{102,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,261},{98,124}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{98,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,363},{102,124}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{102,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,363},{102,124}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{102,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,363},{102,126}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{102,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{102,126}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{102,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,363},{102,124}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{102,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,363},{102,124}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{102,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,325},{100,122}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{100,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,325},{104,122}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{104,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,344},{104,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{104,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_XL_qwdthd03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,344},{106,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{106,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_Tex_ghxd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,2},{128,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,94}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>frame_ghxd_dxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,358}}</string>
                <key>sourceSize</key>
                <string>{640,358}</string>
            </dict>
            <key>frame_ghxd_lsjdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,344},{494,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,16}}</string>
                <key>sourceSize</key>
                <string>{494,16}</string>
            </dict>
            <key>icon_ghxd_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,261},{79,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,154}}</string>
                <key>sourceSize</key>
                <string>{79,154}</string>
            </dict>
            <key>icon_ghxd_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{79,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,154}}</string>
                <key>sourceSize</key>
                <string>{79,154}</string>
            </dict>
            <key>icon_ghxd_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{256,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,188}}</string>
                <key>sourceSize</key>
                <string>{256,188}</string>
            </dict>
            <key>icon_ghxd_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,262},{79,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,154}}</string>
                <key>sourceSize</key>
                <string>{79,154}</string>
            </dict>
            <key>icon_ghxd_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,262},{79,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,154}}</string>
                <key>sourceSize</key>
                <string>{79,154}</string>
            </dict>
            <key>icon_ghxd_lvd.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,262},{79,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,154}}</string>
                <key>sourceSize</key>
                <string>{79,154}</string>
            </dict>
            <key>icon_ghxd_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,262},{79,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,154}}</string>
                <key>sourceSize</key>
                <string>{79,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starLamp.png</string>
            <key>size</key>
            <string>{2044,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf60c3f064d8d78db3ea50fa318d33cf:1/1$</string>
            <key>textureFileName</key>
            <string>starLamp.png</string>
        </dict>
    </dict>
</plist>
