<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xyxb_bjmg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>dh_Tex_xyxb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,907},{130,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,94}}</string>
                <key>sourceSize</key>
                <string>{130,94}</string>
            </dict>
            <key>dh_Tex_xyxb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,907},{79,79}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,103}</string>
            </dict>
            <key>dh_Tex_xyxb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,394},{79,75}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{79,75}}</string>
                <key>sourceSize</key>
                <string>{79,103}</string>
            </dict>
            <key>dh_Tex_xyxb_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,907},{90,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>dh_Tex_xyxb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,851},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>dh_Tex_xyxb_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>frame_xyxb_shangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,249},{640,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,141}}</string>
                <key>sourceSize</key>
                <string>{640,141}</string>
            </dict>
            <key>frame_xyxb_xiayun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,3},{640,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,242}}</string>
                <key>sourceSize</key>
                <string>{640,242}</string>
            </dict>
            <key>xyxb_dj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,849},{192,136}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{192,136}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,849},{192,136}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{192,136}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,840},{194,134}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{194,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,849},{194,136}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{194,136}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,394},{196,134}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{196,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,394},{196,134}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{196,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,394},{198,134}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,849},{198,134}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,394},{198,132}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{198,132}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,644},{198,132}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{198,132}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,647},{200,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,132}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,647},{198,134}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{198,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,640},{196,134}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{196,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,849},{194,136}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{194,136}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,594},{194,134}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{194,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,732},{192,134}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{192,134}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_dj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,849},{192,136}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{192,136}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>xyxb_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,473},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{38,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,596},{46,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,505},{22,28}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{22,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,509},{36,32}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{36,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,594},{40,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{40,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,990},{18,16}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,990},{18,16}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,987},{22,20}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{22,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,636},{32,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{32,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,596},{42,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{42,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,594},{38,34}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{38,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,706},{22,26}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{22,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,473},{28,28}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{28,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,596},{40,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{40,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,531},{30,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{30,24}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,990},{14,16}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{14,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,989},{18,18}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,987},{22,20}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{22,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,672},{30,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{30,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,596},{40,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{40,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,851},{46,38}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,596},{40,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,545},{34,32}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,766},{32,30}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{32,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,732},{34,30}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{34,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,594},{38,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,596},{44,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,596},{44,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{44,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xyxb_fx_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,596},{42,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{42,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starsTreasureHunt.png</string>
            <key>size</key>
            <string>{2036,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8d8654a4760d32308e740b48d04ea0d:1/1$</string>
            <key>textureFileName</key>
            <string>starsTreasureHunt.png</string>
        </dict>
    </dict>
</plist>
