<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_ghjs02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,799},{275,97}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{275,97}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,799},{275,97}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{275,97}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,698},{275,97}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{275,97}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1426},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1426},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1426},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1426},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1098},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1098},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,999},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,999},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,900},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,900},{275,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,698},{275,97}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{275,97}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1385},{24,20}}</string>
                <key>offset</key>
                <string>{-114,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1735},{60,30}}</string>
                <key>offset</key>
                <string>{-96,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1836},{94,40}}</string>
                <key>offset</key>
                <string>{-80,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,40}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1742},{124,48}}</string>
                <key>offset</key>
                <string>{-65,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,48}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1477},{150,50}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1769},{164,50}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{164,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1769},{162,50}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{162,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1423},{154,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{154,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1531},{146,50}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{146,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1585},{134,46}}</string>
                <key>offset</key>
                <string>{60,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,0},{134,46}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1341},{108,40}}</string>
                <key>offset</key>
                <string>{74,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,698},{82,34}}</string>
                <key>offset</key>
                <string>{87,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,0},{82,34}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1705},{62,26}}</string>
                <key>offset</key>
                <string>{97,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_ghjs03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1385},{30,14}}</string>
                <key>offset</key>
                <string>{113,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1426},{232,76}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,31},{232,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1705},{228,76}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{228,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1705},{228,76}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{228,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1196},{226,78}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{226,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1197},{224,78}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{224,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1197},{222,78}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{222,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1197},{222,78}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{222,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1197},{222,78}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{222,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1197},{224,78}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{224,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,966},{226,78}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{226,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,736},{226,78}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{226,78}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1705},{228,76}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{228,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1705},{228,76}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{228,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_XL_tongyong03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1662},{230,76}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{230,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Tex_ghjs_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1385},{31,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,57}}</string>
                <key>sourceSize</key>
                <string>{31,57}</string>
            </dict>
            <key>dh_Tex_ghjs_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1870},{101,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,43}}</string>
                <key>sourceSize</key>
                <string>{101,43}</string>
            </dict>
            <key>dh_Tex_ghjs_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1197},{144,140}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>dh_Tex_ghjs_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1341},{69,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,24}}</string>
                <key>sourceSize</key>
                <string>{69,24}</string>
            </dict>
            <key>frame_ghjs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,691}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{640,691}}</string>
                <key>sourceSize</key>
                <string>{640,697}</string>
            </dict>
            <key>frame_ghjs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1742},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starCompetition.png</string>
            <key>size</key>
            <string>{646,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e8e2bc715331f510bfa4c386a926d99:1/1$</string>
            <key>textureFileName</key>
            <string>starCompetition.png</string>
        </dict>
    </dict>
</plist>
