<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_hghl02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1733},{270,321}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{270,321}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1157},{290,389}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,29},{290,389}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,3},{292,379}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{292,379}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,575},{298,359}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,50},{298,359}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,980},{300,405}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{300,405}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,142},{300,411}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{300,411}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,561},{300,415}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{300,415}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,142},{300,415}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{300,415}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,557},{288,415}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{288,415}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{278,407}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{278,407}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1451},{278,385}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{278,385}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1453},{280,383}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,40},{280,383}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1165},{284,373}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,52},{284,373}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,877},{284,365}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,60},{284,365}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,575},{286,407}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{286,407}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1389},{286,415}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{286,415}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,976},{286,411}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{286,411}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,865},{288,401}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{288,401}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1391},{286,409}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{286,409}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_XL_hghl02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,285},{286,407}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{286,407}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>dh_Tex_hghl_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,142},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>dh_Tex_hyhg_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1737},{211,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,131}}</string>
                <key>sourceSize</key>
                <string>{213,131}</string>
            </dict>
            <key>dh_Tex_wsj_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,550},{21,20}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{21,20}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>dh_Tex_wsj_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,285},{20,19}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{20,19}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>dh_Tex_wsj_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1872},{114,47}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{114,47}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>dh_Tex_wsj_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1804},{232,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,114}}</string>
                <key>sourceSize</key>
                <string>{234,114}</string>
            </dict>
            <key>dh_Tex_wsj_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,550},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>dh_Tex_wsj_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,135}}</string>
                <key>sourceSize</key>
                <string>{640,135}</string>
            </dict>
            <key>dh_dengluyl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1872},{113,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,162}}</string>
                <key>sourceSize</key>
                <string>{113,162}</string>
            </dict>
            <key>dh_huanyinghg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,386},{160,144}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dh_hyhg2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1804},{36,50}}</string>
                <key>offset</key>
                <string>{-37,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{36,50}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1951},{52,78}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{52,78}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1922},{70,90}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{70,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1922},{82,96}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{82,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1913},{92,100}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{92,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1863},{106,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1737},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1851},{96,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1913},{84,100}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1913},{70,90}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{70,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1922},{56,76}}</string>
                <key>offset</key>
                <string>{27,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{56,76}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_hyhg2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1858},{34,50}}</string>
                <key>offset</key>
                <string>{38,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,14},{34,50}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zuiqianglinzhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,386},{179,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,176}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>dh_zzyry_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1808},{297,101}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{297,101}}</string>
                <key>sourceSize</key>
                <string>{341,127}</string>
            </dict>
            <key>et_huanyinghg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1737},{118,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sultansBackEffect.png</string>
            <key>size</key>
            <string>{1372,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79f48c6546aadf73de49e29b506a5f3:1/1$</string>
            <key>textureFileName</key>
            <string>sultansBackEffect.png</string>
        </dict>
    </dict>
</plist>
