<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_lshs_kuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,382},{377,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{377,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,380},{375,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{375,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{375,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{375,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{373,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{373,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,376},{371,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{371,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,2},{369,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{369,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{369,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{369,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{367,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{367,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,372},{365,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{365,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,374},{367,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{367,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,407},{365,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{365,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,407},{365,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{365,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,407},{365,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{365,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,272},{367,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{367,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,137},{367,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{367,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,374},{369,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{369,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,2},{369,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{369,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{371,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{371,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,378},{371,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{371,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,378},{373,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{373,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{373,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{373,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,380},{375,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{375,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{375,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{375,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{377,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{377,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,382},{377,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{377,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{377,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{377,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,382},{377,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{377,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{379,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{379,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{379,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>dh_lshs_kuang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{377,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{377,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sultansBackEffect1.png</string>
            <key>size</key>
            <string>{2026,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c391c1c7314e9d215465c001808e49aa:1/1$</string>
            <key>textureFileName</key>
            <string>sultansBackEffect1.png</string>
        </dict>
    </dict>
</plist>
