<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hgfl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,340}}</string>
                <key>sourceSize</key>
                <string>{640,340}</string>
            </dict>
            <key>bg_wordart_cqzc_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1821},{295,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,53}}</string>
                <key>sourceSize</key>
                <string>{295,53}</string>
            </dict>
            <key>bg_wordart_cqzc_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1995},{323,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,47}}</string>
                <key>sourceSize</key>
                <string>{323,47}</string>
            </dict>
            <key>bg_wordart_gmzc_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1403},{223,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,57}}</string>
                <key>sourceSize</key>
                <string>{223,57}</string>
            </dict>
            <key>bg_wordart_gmzc_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,155},{231,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,35}}</string>
                <key>sourceSize</key>
                <string>{231,35}</string>
            </dict>
            <key>bg_wordart_jztzc_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1878},{288,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,56}}</string>
                <key>sourceSize</key>
                <string>{288,56}</string>
            </dict>
            <key>bg_wordart_jztzc_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1302},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>bg_wordart_wgzfz_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1346},{226,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,53}}</string>
                <key>sourceSize</key>
                <string>{226,53}</string>
            </dict>
            <key>bg_wordart_wgzfz_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1201},{231,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,42}}</string>
                <key>sourceSize</key>
                <string>{231,42}</string>
            </dict>
            <key>bg_wordart_yjzz_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1139},{235,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,58}}</string>
                <key>sourceSize</key>
                <string>{235,58}</string>
            </dict>
            <key>bg_wordart_yjzz_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1451},{303,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,36}}</string>
                <key>sourceSize</key>
                <string>{303,36}</string>
            </dict>
            <key>btn_sdgl_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,943},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>dh_Tex_UI03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1936},{84,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>font_9001153_gold_ar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1325},{186,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,59}}</string>
                <key>sourceSize</key>
                <string>{186,59}</string>
            </dict>
            <key>font_9001153_gold_ar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1388},{185,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>font_9001153_gold_ar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1073},{186,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,59}}</string>
                <key>sourceSize</key>
                <string>{186,59}</string>
            </dict>
            <key>font_9001153_gold_en_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1464},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{198,55}</string>
            </dict>
            <key>font_9001153_gold_en_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1821},{201,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>font_9001153_gold_en_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1821},{198,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,56}}</string>
                <key>sourceSize</key>
                <string>{198,56}</string>
            </dict>
            <key>font_9001153_gray_ar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,751},{153,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,30}}</string>
                <key>sourceSize</key>
                <string>{153,30}</string>
            </dict>
            <key>font_9001153_gray_ar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,547},{153,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,30}}</string>
                <key>sourceSize</key>
                <string>{153,30}</string>
            </dict>
            <key>font_9001153_gray_ar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,390},{153,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,30}}</string>
                <key>sourceSize</key>
                <string>{153,30}</string>
            </dict>
            <key>font_9001153_gray_en_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1139},{159,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,23}}</string>
                <key>sourceSize</key>
                <string>{159,23}</string>
            </dict>
            <key>font_9001153_gray_en_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,908},{161,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,23}}</string>
                <key>sourceSize</key>
                <string>{161,23}</string>
            </dict>
            <key>font_9001153_gray_en_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,704},{159,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,23}}</string>
                <key>sourceSize</key>
                <string>{159,23}</string>
            </dict>
            <key>frame_dryl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,155},{539,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,601}}</string>
                <key>sourceSize</key>
                <string>{539,601}</string>
            </dict>
            <key>frame_hgfl_img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1938},{122,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>frame_hphy_fgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,148}}</string>
                <key>sourceSize</key>
                <string>{640,148}</string>
            </dict>
            <key>frame_hphy_hygl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1770},{86,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>frame_hphy_szd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{67,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>frame_hphy_zs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1136},{194,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,185}}</string>
                <key>sourceSize</key>
                <string>{194,185}</string>
            </dict>
            <key>frame_hphy_zs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,996},{261,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,139}}</string>
                <key>sourceSize</key>
                <string>{261,139}</string>
            </dict>
            <key>frame_hyhg_title_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,68},{401,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,66}}</string>
                <key>sourceSize</key>
                <string>{401,66}</string>
            </dict>
            <key>frame_hyhg_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,473},{371,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,72}}</string>
                <key>sourceSize</key>
                <string>{371,72}</string>
            </dict>
            <key>frame_sdgl_zzyry_cqzc.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,782},{441,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,420}}</string>
                <key>sourceSize</key>
                <string>{441,420}</string>
            </dict>
            <key>frame_sdgl_zzyry_gmzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1475},{437,342}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{437,342}}</string>
                <key>sourceSize</key>
                <string>{441,420}</string>
            </dict>
            <key>frame_sdgl_zzyry_jdt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1948},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>frame_sdgl_zzyry_jdt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,848},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>frame_sdgl_zzyry_jztzc.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1087},{437,384}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{437,384}}</string>
                <key>sourceSize</key>
                <string>{441,420}</string>
            </dict>
            <key>frame_sdgl_zzyry_yjzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1554},{437,338}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{437,338}}</string>
                <key>sourceSize</key>
                <string>{441,420}</string>
            </dict>
            <key>frame_sdgl_zzyry_zfz.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1206},{437,344}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{437,344}}</string>
                <key>sourceSize</key>
                <string>{441,420}</string>
            </dict>
            <key>icon_activity_9001290.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1853},{74,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_activity_9001291.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1935},{90,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_activity_9001292.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1842},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_activity_9001296.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1860},{84,84}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_activity_9001297.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1770},{80,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{80,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_activity_9001299.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1759},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_activity_exchange_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1936},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_entrance_hyhg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1652},{122,114}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{122,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_hgbuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1746},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon_hgbuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1650},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon_hgbuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1554},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon_hgbuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1938},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon_hgbuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1938},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>icon_hgfl_buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,698},{442,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{442,80}}</string>
                <key>sourceSize</key>
                <string>{442,82}</string>
            </dict>
            <key>icon_hgfl_buff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1003},{442,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{442,80}}</string>
                <key>sourceSize</key>
                <string>{442,82}</string>
            </dict>
            <key>icon_hgfl_buff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,919},{442,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{442,80}}</string>
                <key>sourceSize</key>
                <string>{442,82}</string>
            </dict>
            <key>icon_hgfl_buff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,835},{442,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{442,80}}</string>
                <key>sourceSize</key>
                <string>{442,82}</string>
            </dict>
            <key>icon_hgfl_buff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,751},{442,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{442,80}}</string>
                <key>sourceSize</key>
                <string>{442,82}</string>
            </dict>
            <key>icon_hgfl_buff_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,429},{480,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,78}}</string>
                <key>sourceSize</key>
                <string>{480,80}</string>
            </dict>
            <key>icon_hgfl_buff_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,671},{480,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{480,76}}</string>
                <key>sourceSize</key>
                <string>{480,80}</string>
            </dict>
            <key>icon_hgfl_buff_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,591},{480,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{480,76}}</string>
                <key>sourceSize</key>
                <string>{480,80}</string>
            </dict>
            <key>icon_hgfl_buff_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,511},{480,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{480,76}}</string>
                <key>sourceSize</key>
                <string>{480,80}</string>
            </dict>
            <key>icon_hgfl_buff_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,347},{480,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,78}}</string>
                <key>sourceSize</key>
                <string>{480,80}</string>
            </dict>
            <key>icon_hgfl_bufflock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1749},{294,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,154}}</string>
                <key>sourceSize</key>
                <string>{294,154}</string>
            </dict>
            <key>icon_hgfl_bufflock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1451},{294,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,154}}</string>
                <key>sourceSize</key>
                <string>{294,154}</string>
            </dict>
            <key>icon_hgfl_bufflock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,698},{294,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,154}}</string>
                <key>sourceSize</key>
                <string>{294,154}</string>
            </dict>
            <key>icon_hgfl_bufflock_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,645},{294,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,154}}</string>
                <key>sourceSize</key>
                <string>{294,154}</string>
            </dict>
            <key>icon_hgfl_bufflock_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,347},{294,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,154}}</string>
                <key>sourceSize</key>
                <string>{294,154}</string>
            </dict>
            <key>icon_hyhg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1464},{68,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{68,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_sudanback_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1641},{114,126}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_sudanback_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1534},{114,126}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_sudanback_hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1523},{114,126}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_sudanback_mian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1853},{78,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_sudanback_train.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,943},{114,126}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sultansBackIcon.png</string>
            <key>size</key>
            <string>{1361,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90b8c3f391a37dbd8b921734ba6336f6:1/1$</string>
            <key>textureFileName</key>
            <string>sultansBackIcon.png</string>
        </dict>
    </dict>
</plist>
