<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_deyl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1160}}</string>
                <key>sourceSize</key>
                <string>{640,1160}</string>
            </dict>
            <key>bg_hghl_bj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,926}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,926}}</string>
                <key>sourceSize</key>
                <string>{640,926}</string>
            </dict>
            <key>bg_hghl_bj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1167},{640,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,486}}</string>
                <key>sourceSize</key>
                <string>{640,486}</string>
            </dict>
            <key>bg_hghl_bj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,933},{640,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,418}}</string>
                <key>sourceSize</key>
                <string>{640,418}</string>
            </dict>
            <key>bg_hghl_bj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1657},{595,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,328}}</string>
                <key>sourceSize</key>
                <string>{595,328}</string>
            </dict>
            <key>bg_hyhg_qjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,607},{640,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,210}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>btn_hphy_fb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1913},{271,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,82}}</string>
                <key>sourceSize</key>
                <string>{271,82}</string>
            </dict>
            <key>btn_hphy_wapp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1827},{271,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,82}}</string>
                <key>sourceSize</key>
                <string>{271,82}</string>
            </dict>
            <key>button_dryl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1827},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
            <key>frame_dryl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1551},{272,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,175}}</string>
                <key>sourceSize</key>
                <string>{272,175}</string>
            </dict>
            <key>frame_dryl_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1788},{275,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,247}}</string>
                <key>sourceSize</key>
                <string>{275,247}</string>
            </dict>
            <key>frame_dryl_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1355},{7,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{7,178}}</string>
                <key>sourceSize</key>
                <string>{43,178}</string>
            </dict>
            <key>frame_dryl_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1551},{291,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,233}}</string>
                <key>sourceSize</key>
                <string>{291,233}</string>
            </dict>
            <key>frame_dryl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1403},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>frame_dryl_05 .png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1945},{318,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,35}}</string>
                <key>sourceSize</key>
                <string>{318,35}</string>
            </dict>
            <key>frame_dryl_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1846},{408,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,23}}</string>
                <key>sourceSize</key>
                <string>{408,23}</string>
            </dict>
            <key>frame_hgfl_cell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,614},{4,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,145}}</string>
                <key>sourceSize</key>
                <string>{4,145}</string>
            </dict>
            <key>frame_hgfl_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1728},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>frame_hgfl_point_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1989},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{25,25}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>frame_hgfl_point_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1873},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>frame_hgfl_timebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1999},{142,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,42}}</string>
                <key>sourceSize</key>
                <string>{142,42}</string>
            </dict>
            <key>frame_hgfl_titlebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,607},{618,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,42}}</string>
                <key>sourceSize</key>
                <string>{618,42}</string>
            </dict>
            <key>frame_hgfl_titlebg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1650},{618,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,74}}</string>
                <key>sourceSize</key>
                <string>{618,74}</string>
            </dict>
            <key>frame_hgfl_titlebg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1873},{304,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,68}}</string>
                <key>sourceSize</key>
                <string>{304,68}</string>
            </dict>
            <key>frame_hyhg_db1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{600,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,420}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>frame_hyhg_db2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,614},{600,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,109}}</string>
                <key>sourceSize</key>
                <string>{600,109}</string>
            </dict>
            <key>frame_hyhg_lsdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1728},{550,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,114}}</string>
                <key>sourceSize</key>
                <string>{550,114}</string>
            </dict>
            <key>frame_hyhg_lstt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,3},{607,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,113}}</string>
                <key>sourceSize</key>
                <string>{607,113}</string>
            </dict>
            <key>frame_hyhg_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1251},{296,383}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{296,383}}</string>
                <key>sourceSize</key>
                <string>{312,383}</string>
            </dict>
            <key>frame_sdgl_dlyl_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,1218},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>frame_sdgl_dryl_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1989},{538,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,33}}</string>
                <key>sourceSize</key>
                <string>{538,33}</string>
            </dict>
            <key>frame_sdgl_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1355},{291,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,627}}</string>
                <key>sourceSize</key>
                <string>{291,627}</string>
            </dict>
            <key>frame_sdgl_wzgl_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,607},{640,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,154}}</string>
                <key>sourceSize</key>
                <string>{640,154}</string>
            </dict>
            <key>icon_dryl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1650},{5,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,28}}</string>
                <key>sourceSize</key>
                <string>{5,28}</string>
            </dict>
            <key>icon_hgfl_boxBg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1931},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>icon_hphy_fb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1657},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_hphy_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1511},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>progressbar_dryl_choose_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2026},{95,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,12}}</string>
                <key>sourceSize</key>
                <string>{95,12}</string>
            </dict>
            <key>progressbar_dryl_choose_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1846},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sultansBackUI.png</string>
            <key>size</key>
            <string>{1836,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef963264b706477917c3652497acc2ed:1/1$</string>
            <key>textureFileName</key>
            <string>sultansBackUI.png</string>
        </dict>
    </dict>
</plist>
