<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_jwcq3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{153,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,877},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,927},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,849},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,869},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,772},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,618},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,464},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,310},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,156},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,2},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,901},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,921},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,921},{151,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,823},{153,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,75}</string>
            </dict>
            <key>dh_jwcq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,634},{160,212}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,212}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,305},{160,250}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,116},{160,254}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,254}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,373},{160,252}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,252}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,373},{160,254}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,254}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,375},{160,256}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,256}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,116},{160,256}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,256}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,116},{160,254}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,254}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,52},{160,250}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,630},{160,244}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,244}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,558},{160,238}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,238}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,628},{160,238}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,238}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>dh_jwcq_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,799},{160,216}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,216}}</string>
                <key>sourceSize</key>
                <string>{160,260}</string>
            </dict>
            <key>frame_yhzr_YSZar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{444,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,95}}</string>
                <key>sourceSize</key>
                <string>{444,95}</string>
            </dict>
            <key>frame_yhzr_YSZen.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,52},{401,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,61}}</string>
                <key>sourceSize</key>
                <string>{401,61}</string>
            </dict>
            <key>frame_yhzr_bt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{629,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,47}}</string>
                <key>sourceSize</key>
                <string>{629,47}</string>
            </dict>
            <key>frame_yhzr_bt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{629,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,47}}</string>
                <key>sourceSize</key>
                <string>{629,47}</string>
            </dict>
            <key>frame_yhzr_tu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,768}}</string>
                <key>sourceSize</key>
                <string>{640,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>summonSuccessfulBless.png</string>
            <key>size</key>
            <string>{1375,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92a6dcd3a5a1fcff5c9d369ce9deed1:1/1$</string>
            <key>textureFileName</key>
            <string>summonSuccessfulBless.png</string>
        </dict>
    </dict>
</plist>
