<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gnsrh_tc.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,844},{528,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,279}}</string>
                <key>sourceSize</key>
                <string>{528,279}</string>
            </dict>
            <key>dh_qingsheng1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1399},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>dh_qingsheng2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1226},{220,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,167}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1228},{220,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,167}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1228},{220,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,167}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1055},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1055},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,882},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1194},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1194},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,882},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,882},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,803},{220,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1055},{220,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,167}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,803},{220,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,167}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1103},{220,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,167}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1127},{220,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,167}}</string>
                <key>sourceSize</key>
                <string>{220,171}</string>
            </dict>
            <key>dh_qingsheng3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1399},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1467},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,733},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1399},{56,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1467},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1428},{52,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1474},{52,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1102},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,797},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1040},{58,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,593},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1418},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,657},{60,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1447},{60,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,976},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dh_qingsheng41_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1399},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>dh_qingsheng4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,465},{124,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1367},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1327},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1335},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1181},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1027},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,873},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,733},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,593},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1351},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,549},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,311},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,157},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,3},{136,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_qingsheng4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1367},{118,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{118,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>frame_gnsrh_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,695},{558,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,183}}</string>
                <key>sourceSize</key>
                <string>{558,183}</string>
            </dict>
            <key>frame_gnsrh_ddg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,353},{435,338}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{435,338}}</string>
                <key>sourceSize</key>
                <string>{459,346}</string>
            </dict>
            <key>frame_gnsrh_ddg_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,3},{459,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,346}}</string>
                <key>sourceSize</key>
                <string>{459,346}</string>
            </dict>
            <key>frame_gnsrh_dqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,3},{455,796}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,796}}</string>
                <key>sourceSize</key>
                <string>{455,796}</string>
            </dict>
            <key>frame_gnsrh_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,3},{542,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,178}}</string>
                <key>sourceSize</key>
                <string>{542,178}</string>
            </dict>
            <key>frame_gnsrh_qmpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1399},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>frame_gnsrh_qq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,844},{255,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,232}}</string>
                <key>sourceSize</key>
                <string>{255,232}</string>
            </dict>
            <key>frame_gnsrh_qq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1127},{208,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,287}}</string>
                <key>sourceSize</key>
                <string>{208,287}</string>
            </dict>
            <key>frame_gnsrh_qq3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1127},{222,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,382}}</string>
                <key>sourceSize</key>
                <string>{222,382}</string>
            </dict>
            <key>frame_gnsrh_tsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1418},{139,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,78}}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>frame_gnsrh_xy.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,976},{176,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,214}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>frame_gnsrh_zjyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{768,837}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,837}}</string>
                <key>sourceSize</key>
                <string>{768,837}</string>
            </dict>
            <key>icon_gnsrh_5th.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,974},{204,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,216}}</string>
                <key>sourceSize</key>
                <string>{204,216}</string>
            </dict>
            <key>icon_gnsrh_5th2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1367},{126,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thanksgivingParty.png</string>
            <key>size</key>
            <string>{2043,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c08998846cbcdcdaeb385526aea46cd7:1/1$</string>
            <key>textureFileName</key>
            <string>thanksgivingParty.png</string>
        </dict>
    </dict>
</plist>
