<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1708},{16,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{16,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1971},{44,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,950},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1628},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1969},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1524},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1576},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1971},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1472},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1891},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day19.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1971},{44,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1352},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1302},{58,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,592},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1917},{56,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,530},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1543},{58,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day25.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1656},{56,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1412},{56,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1352},{56,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day28.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1447},{58,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1841},{56,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1680},{30,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day30.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1656},{56,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1002},{30,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1450},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{28,44}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1961},{26,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{26,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1402},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{28,44}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1543},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>day9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1969},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{26,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>dh_liuzhounqd1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1075},{116,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1512},{116,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1293},{116,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1075},{116,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1473},{116,134}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1585},{116,128}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{116,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1847},{118,120}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{118,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1593},{120,118}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1717},{122,116}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{122,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1593},{122,114}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{122,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1719},{120,112}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{120,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1719},{118,110}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1843},{114,108}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{114,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1847},{118,106}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{118,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,397},{120,106}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{120,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,521},{118,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{118,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,271},{122,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{122,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,139},{128,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{128,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,3},{132,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{132,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1447},{134,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{134,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1353},{134,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{134,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1874},{132,122}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{132,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1717},{130,126}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1219},{130,130}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1730},{128,136}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{128,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1870},{126,138}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,931},{124,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,787},{124,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,643},{124,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_liuzhounqd1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1730},{120,140}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_lznqd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1512},{193,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,214}}</string>
                <key>sourceSize</key>
                <string>{193,214}</string>
            </dict>
            <key>dh_lznqd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1293},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>frame_6znq_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,3},{523,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,57}}</string>
                <key>sourceSize</key>
                <string>{523,57}</string>
            </dict>
            <key>frame_6znq_barbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1512},{517,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{517,53}}</string>
                <key>sourceSize</key>
                <string>{523,57}</string>
            </dict>
            <key>frame_6znq_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>frame_6znq_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,336}}</string>
                <key>sourceSize</key>
                <string>{640,336}</string>
            </dict>
            <key>frame_6znq_buqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1961},{46,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>frame_6znq_bxguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1841},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>frame_6znq_bxkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1219},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>frame_6znq_dangtian.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1075},{222,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,214}}</string>
                <key>sourceSize</key>
                <string>{222,214}</string>
            </dict>
            <key>frame_6znq_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{640,760}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,760}}</string>
                <key>sourceSize</key>
                <string>{640,764}</string>
            </dict>
            <key>frame_6znq_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1219},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>frame_6znq_ljqd_ay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,643},{160,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,21}}</string>
                <key>sourceSize</key>
                <string>{160,21}</string>
            </dict>
            <key>frame_6znq_ljqd_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,807},{139,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,22}}</string>
                <key>sourceSize</key>
                <string>{139,22}</string>
            </dict>
            <key>frame_6znq_tankuangbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1075},{320,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,433}}</string>
                <key>sourceSize</key>
                <string>{320,433}</string>
            </dict>
            <key>frame_6znq_yiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1437},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>frame_6znql_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,767},{640,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,304}}</string>
                <key>sourceSize</key>
                <string>{640,304}</string>
            </dict>
            <key>frame_6znql_biaoti_ayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1733},{640,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,304}}</string>
                <key>sourceSize</key>
                <string>{640,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ThirtyDaySign2021.png</string>
            <key>size</key>
            <string>{1461,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e5c82be3629db37fa88d336949b7b21:1/1$</string>
            <key>textureFileName</key>
            <string>ThirtyDaySign2021.png</string>
        </dict>
    </dict>
</plist>
