<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_2dyagn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,802},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>bg_2dyagn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,802},{174,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,209}}</string>
                <key>sourceSize</key>
                <string>{174,209}</string>
            </dict>
            <key>bg_2dyagn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,565},{129,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,217}}</string>
                <key>sourceSize</key>
                <string>{129,217}</string>
            </dict>
            <key>bg_yqlwy_lcys.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,544},{129,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,164}}</string>
                <key>sourceSize</key>
                <string>{129,164}</string>
            </dict>
            <key>bg_yqlwy_lczs.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,786},{190,96}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,96}}</string>
                <key>sourceSize</key>
                <string>{198,96}</string>
            </dict>
            <key>bg_yqlwy_lvhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,338}}</string>
                <key>sourceSize</key>
                <string>{640,338}</string>
            </dict>
            <key>bg_yqlwy_lvqj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,345},{640,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,216}}</string>
                <key>sourceSize</key>
                <string>{640,216}</string>
            </dict>
            <key>bg_yqlwy_xydlmljl_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{537,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,220}}</string>
                <key>sourceSize</key>
                <string>{537,220}</string>
            </dict>
            <key>frame_yqlwy_jsdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,565},{595,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,233}}</string>
                <key>sourceSize</key>
                <string>{595,233}</string>
            </dict>
            <key>frame_yqlwy_zjmdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,802},{311,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,216}}</string>
                <key>sourceSize</key>
                <string>{311,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>togetherFeedSheep.png</string>
            <key>size</key>
            <string>{870,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7490f0f4fad7f083986ccd7c89e318e5:1/1$</string>
            <key>textureFileName</key>
            <string>togetherFeedSheep.png</string>
        </dict>
    </dict>
</plist>
