<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_zlph.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{537,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,376}}</string>
                <key>sourceSize</key>
                <string>{537,376}</string>
            </dict>
            <key>dh_vipbx1_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,363},{122,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>dh_vipbx2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,408},{140,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_vipbx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,647},{42,12}}</string>
                <key>offset</key>
                <string>{24,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,10},{42,12}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,593},{74,32}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{74,32}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,481},{90,44}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{90,44}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,553},{96,58}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,557},{102,72}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{102,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,557},{104,86}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{104,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,553},{106,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{106,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,553},{106,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{106,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,557},{108,96}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{108,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,553},{108,88}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{108,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,550},{108,74}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{108,74}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,557},{102,60}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,50},{102,60}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,593},{86,44}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,66},{86,44}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_vipbx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,629},{76,30}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,80},{76,30}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_znxb_bybox_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,3},{230,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,226}}</string>
                <key>sourceSize</key>
                <string>{230,226}</string>
            </dict>
            <key>icon_znxb_hjbox_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,3},{228,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,256}}</string>
                <key>sourceSize</key>
                <string>{228,256}</string>
            </dict>
            <key>lph_shuzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,550},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>vip_box_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,233},{120,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>vip_box_opened.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,481},{116,108}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{116,108}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>zlph_qizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,383},{170,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,359}}</string>
                <key>sourceSize</key>
                <string>{170,359}</string>
            </dict>
            <key>zlph_qizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,263},{141,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,335}}</string>
                <key>sourceSize</key>
                <string>{141,335}</string>
            </dict>
            <key>zlph_qizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,408},{141,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,342}}</string>
                <key>sourceSize</key>
                <string>{141,342}</string>
            </dict>
            <key>zlph_shuzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,233},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>zlph_shuzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,383},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treasureHunt4.png</string>
            <key>size</key>
            <string>{1023,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5a1574c79d22b3163a3ce59da27643a:1/1$</string>
            <key>textureFileName</key>
            <string>treasureHunt4.png</string>
        </dict>
    </dict>
</plist>
