<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_jbfl_pack_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{338,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,110}}</string>
                <key>sourceSize</key>
                <string>{338,110}</string>
            </dict>
            <key>bg_jbfl_pack_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{351,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,102}}</string>
                <key>sourceSize</key>
                <string>{351,102}</string>
            </dict>
            <key>bg_jbfl_pack_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{478,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,96}}</string>
                <key>sourceSize</key>
                <string>{478,96}</string>
            </dict>
            <key>bg_jbfl_return_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{293,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,117}}</string>
                <key>sourceSize</key>
                <string>{293,117}</string>
            </dict>
            <key>bg_jbfl_return_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{420,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,99}}</string>
                <key>sourceSize</key>
                <string>{420,99}</string>
            </dict>
            <key>bg_jbfl_return_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{479,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,96}}</string>
                <key>sourceSize</key>
                <string>{479,96}</string>
            </dict>
            <key>bg_treasure_package_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{496,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,107}}</string>
                <key>sourceSize</key>
                <string>{496,107}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,692},{32,56}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,34},{32,56}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,578},{32,68}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{32,68}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1109},{32,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{32,78}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,971},{32,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{32,84}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,613},{30,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{30,86}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,613},{28,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{28,86}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,483},{14,76}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{14,76}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,948},{10,64}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{10,64}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,773},{8,54}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{8,54}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,939},{8,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{8,42}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,845},{6,30}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{6,30}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1027},{4,20}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{4,20}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,794},{116,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,939},{118,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,850},{118,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,852},{118,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,852},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,856},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,773},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,722},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,727},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,769},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1081},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1081},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1081},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1008},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,973},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,935},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1006},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,885},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,845},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_XL_jbfl03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,475},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dh_Tex_jbfl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,501},{148,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,100}}</string>
                <key>sourceSize</key>
                <string>{148,100}</string>
            </dict>
            <key>dh_Tex_jbfl_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1081},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>dh_Tex_jbfl_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,961},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>dh_Tex_jbfl_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1046},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>dh_Tex_jbfl_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,593},{126,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,106}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>dh_Tex_jbfl_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,764},{118,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,101}}</string>
                <key>sourceSize</key>
                <string>{118,101}</string>
            </dict>
            <key>frame_jbfl_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{588,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,194}}</string>
                <key>sourceSize</key>
                <string>{588,194}</string>
            </dict>
            <key>frame_jbfl_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{588,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,194}}</string>
                <key>sourceSize</key>
                <string>{588,194}</string>
            </dict>
            <key>frame_jbfl_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,194}}</string>
                <key>sourceSize</key>
                <string>{588,194}</string>
            </dict>
            <key>frame_jbfl_pattern_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1034},{115,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,58}}</string>
                <key>sourceSize</key>
                <string>{115,58}</string>
            </dict>
            <key>frame_lm_lmgl_fgx_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{640,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,113}}</string>
                <key>sourceSize</key>
                <string>{640,113}</string>
            </dict>
            <key>icon_treasure_package_first_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,652},{126,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{126,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_first_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,356},{116,104}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{116,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_first_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,913},{126,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{126,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_second_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1027},{128,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{128,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_second_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,645},{116,106}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{116,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_second_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{128,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{128,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_third_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,638},{128,126}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{128,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_third_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1034},{118,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{118,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_treasure_package_third_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,501},{134,130}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{134,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treasurePackage.png</string>
            <key>size</key>
            <string>{1024,1153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04810dc95463a1d7c7c8429f77145222:1/1$</string>
            <key>textureFileName</key>
            <string>treasurePackage.png</string>
        </dict>
    </dict>
</plist>
