<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,3},{640,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,296}}</string>
                <key>sourceSize</key>
                <string>{640,296}</string>
            </dict>
            <key>frame_font_premium_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,341},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame_font_premium_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,341},{90,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,29}}</string>
                <key>sourceSize</key>
                <string>{90,29}</string>
            </dict>
            <key>frame_font_premium_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,341},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>frame_gbg_curtain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,303},{152,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,144}}</string>
                <key>sourceSize</key>
                <string>{152,144}</string>
            </dict>
            <key>frame_gbg_decorate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,303},{130,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,84}}</string>
                <key>sourceSize</key>
                <string>{130,84}</string>
            </dict>
            <key>frame_gbg_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{334,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,307}}</string>
                <key>sourceSize</key>
                <string>{334,307}</string>
            </dict>
            <key>frame_gbg_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,341},{26,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,150}}</string>
                <key>sourceSize</key>
                <string>{26,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treasureCourt.png</string>
            <key>size</key>
            <string>{957,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d4844ad2e3fc4b3b2594e3f027e85dc:1/1$</string>
            <key>textureFileName</key>
            <string>treasureCourt.png</string>
        </dict>
    </dict>
</plist>
