<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1914},{124,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1654},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1914},{122,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1914},{130,128}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bg_ghyz_bj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,291},{640,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,280}}</string>
                <key>sourceSize</key>
                <string>{640,280}</string>
            </dict>
            <key>bg_ghyz_kuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1376},{54,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bg_ghyz_m01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{692,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,284}}</string>
                <key>sourceSize</key>
                <string>{692,284}</string>
            </dict>
            <key>frame_armor_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,955},{499,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,480}}</string>
                <key>sourceSize</key>
                <string>{499,480}</string>
            </dict>
            <key>frame_armor_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,3},{419,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,434}}</string>
                <key>sourceSize</key>
                <string>{419,434}</string>
            </dict>
            <key>frame_armor_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,603},{451,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,516}}</string>
                <key>sourceSize</key>
                <string>{451,516}</string>
            </dict>
            <key>frame_armor_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,441},{504,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,453}}</string>
                <key>sourceSize</key>
                <string>{504,453}</string>
            </dict>
            <key>frame_ghyz_fgk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,575},{640,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,24}}</string>
                <key>sourceSize</key>
                <string>{640,24}</string>
            </dict>
            <key>frame_ghyz_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1559},{283,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,351}}</string>
                <key>sourceSize</key>
                <string>{283,351}</string>
            </dict>
            <key>frame_ghyz_kuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1058},{192,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,216}}</string>
                <key>sourceSize</key>
                <string>{192,216}</string>
            </dict>
            <key>frame_ghyz_xx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1254},{308,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,97}}</string>
                <key>sourceSize</key>
                <string>{308,97}</string>
            </dict>
            <key>icon_armor_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1376},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>icon_armor_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1376},{170,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,177}}</string>
                <key>sourceSize</key>
                <string>{170,177}</string>
            </dict>
            <key>icon_armor_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1676},{171,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,195}}</string>
                <key>sourceSize</key>
                <string>{171,195}</string>
            </dict>
            <key>icon_armor_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1875},{170,159}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{170,159}}</string>
                <key>sourceSize</key>
                <string>{170,177}</string>
            </dict>
            <key>icon_star1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1432},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>science_adv_armor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1146},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1268},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1146},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1268},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1146},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1058},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1058},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1791},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1945},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1945},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1857},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1769},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1737},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1681},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1703},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1615},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1615},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1898},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1649},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1776},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1559},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1527},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1527},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1439},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1439},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1439},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1561},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1654},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1912},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1790},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1439},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1439},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1566},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1566},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1554},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1254},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1437},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1315},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1193},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1071},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,949},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,867},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,779},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,691},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_adv_armor_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,603},{84,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{84,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warframeUI.png</string>
            <key>size</key>
            <string>{1121,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bdbd63cd0c58baa2620b1b3dec731b6:1/1$</string>
            <key>textureFileName</key>
            <string>warframeUI.png</string>
        </dict>
    </dict>
</plist>
