<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_baoshi_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,873},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,746},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1008},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,881},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,754},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,929},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,802},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,500},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,500},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,508},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,508},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,556},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,556},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,246},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,254},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,254},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,381},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,254},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_add_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,310},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_baodian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1019},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,928},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,837},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,746},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1055},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,656},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,574},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,492},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,964},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,873},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1056},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_baodian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1056},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>dh_baoshi_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,620},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,0},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_di_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,127},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_di_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,0},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_di_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,127},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_di_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,310},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_di_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,620},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_di_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,0},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
            <key>dh_baoshi_kuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,310},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,0},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,930},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,620},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,310},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,930},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,620},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,310},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,0},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,930},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,620},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,310},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,930},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
            <key>dh_baoshi_kuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{233,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,310}}</string>
                <key>sourceSize</key>
                <string>{233,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wargemAnimation.png</string>
            <key>size</key>
            <string>{2047,1163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ee580edd57c86174cb5fac25601a0bd:1/1$</string>
            <key>textureFileName</key>
            <string>wargemAnimation.png</string>
        </dict>
    </dict>
</plist>
