<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_zzkj01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,665},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,602},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,539},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,958},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,897},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,907},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,846},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,836},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,930},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,930},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,935},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,872},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,2},{31,38}}</string>
                <key>offset</key>
                <string>{-32,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,45},{31,38}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,966},{51,70}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{51,70}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,952},{61,82}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{61,82}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,856},{71,86}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{71,86}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,895},{79,92}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{79,92}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,874},{75,100}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{75,100}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,753},{79,90}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,874},{73,86}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,753},{63,80}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{63,80}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_XL_zzkj02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,966},{51,70}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>dh_Tex_zzkj_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,753},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>frame_zzkj_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{320,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,534}}</string>
                <key>sourceSize</key>
                <string>{320,534}</string>
            </dict>
            <key>frame_zzkj_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,539},{640,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,211}}</string>
                <key>sourceSize</key>
                <string>{640,211}</string>
            </dict>
            <key>frame_zzkj_di03.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{320,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,534}}</string>
                <key>sourceSize</key>
                <string>{320,534}</string>
            </dict>
            <key>frame_zzkj_diaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,890}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,890}}</string>
                <key>sourceSize</key>
                <string>{450,890}</string>
            </dict>
            <key>frame_zzkj_fengleikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,753},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>warskill_name_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,753},{120,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,118}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>warskill_name_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{120,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,118}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>warskill_name_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,895},{120,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>warskill_name_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,753},{120,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>warskill_name_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,895},{120,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warTechUI.png</string>
            <key>size</key>
            <string>{1159,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:917c98a7441228d40f2f08435cbf9d4a:1/1$</string>
            <key>textureFileName</key>
            <string>warTechUI.png</string>
        </dict>
    </dict>
</plist>
