<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xjbh1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,1569},{300,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,148}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1415},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1261},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,827},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1885},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1415},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1261},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1627},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1895},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1591},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1611},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,465},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,311},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,157},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,3},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1569},{300,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,148}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1475},{300,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,148}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>dh_xjbh2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,585},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,779},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,973},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,197},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,391},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,585},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,779},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,3},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,197},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,391},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,585},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,3},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,197},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,3},{426,190}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,197},{428,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{428,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,391},{424,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,190}}</string>
                <key>sourceSize</key>
                <string>{430,190}</string>
            </dict>
            <key>dh_xjbh3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1131},{244,100}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,723},{244,100}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,1235},{246,100}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1475},{246,100}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{246,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1569},{248,100}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1825},{250,100}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1929},{252,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,1927},{252,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{252,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1927},{254,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1825},{256,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,98}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1825},{258,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{258,98}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1721},{258,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1721},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,827},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1781},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1591},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,619},{260,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>dh_xjbh4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1301},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1127},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1087},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1147},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1147},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1785},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1611},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1167},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,913},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,739},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,953},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,779},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,973},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,565},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,391},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1167},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>dh_xjbh4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1167},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>whiteTiger.png</string>
            <key>size</key>
            <string>{2034,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc4ccad8368839b9842207902a183831:1/1$</string>
            <key>textureFileName</key>
            <string>whiteTiger.png</string>
        </dict>
    </dict>
</plist>
