<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font__hdrld_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,3},{366,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,55}}</string>
                <key>sourceSize</key>
                <string>{366,55}</string>
            </dict>
            <key>font__hdrld_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,849},{282,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,79}}</string>
                <key>sourceSize</key>
                <string>{282,79}</string>
            </dict>
            <key>frame_hdrld_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,373},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>frame_hdrld_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{584,842}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,842}}</string>
                <key>sourceSize</key>
                <string>{584,842}</string>
            </dict>
            <key>frame_hdrld_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,849},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>frame_hdrld_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,849},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>frame_hdrld_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,849},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>frame_hdrld_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,929},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>frame_hdrld_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,849},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>frame_hdrld_date_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,932},{78,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>frame_hdrld_date_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,932},{78,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>frame_hdrld_decorative_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,373},{117,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,13}}</string>
                <key>sourceSize</key>
                <string>{117,13}</string>
            </dict>
            <key>frame_hdrld_iconbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,932},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>frame_hdrld_today_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,373},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winterCalendary.png</string>
            <key>size</key>
            <string>{649,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b04232551e72199b46ea329fac19bd9a:1/1$</string>
            <key>textureFileName</key>
            <string>winterCalendary.png</string>
        </dict>
    </dict>
</plist>
