<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_zhihuigong.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,388}}</string>
                <key>sourceSize</key>
                <string>{640,388}</string>
            </dict>
            <key>frame_zhihuigong_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,617},{129,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,178}}</string>
                <key>sourceSize</key>
                <string>{129,180}</string>
            </dict>
            <key>frame_zhihuigong_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,799},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>frame_zhihuigong_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,627},{638,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,88}}</string>
                <key>sourceSize</key>
                <string>{638,88}</string>
            </dict>
            <key>frame_zhihuigong_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{596,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,98}}</string>
                <key>sourceSize</key>
                <string>{596,98}</string>
            </dict>
            <key>frame_zhihuigong_juan.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,293},{320,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{320,112}}</string>
                <key>sourceSize</key>
                <string>{320,118}</string>
            </dict>
            <key>frame_zhihuigong_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,885},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>frame_zhihuigong_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,938},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>frame_zhihuigong_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,3},{8,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,72}}</string>
                <key>sourceSize</key>
                <string>{8,72}</string>
            </dict>
            <key>frame_zhihuigong_zhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,395},{640,228}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,228}}</string>
                <key>sourceSize</key>
                <string>{640,232}</string>
            </dict>
            <key>frame_zhihuigong_zhuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,719},{320,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,294}}</string>
                <key>sourceSize</key>
                <string>{320,294}</string>
            </dict>
            <key>icon_jianzhujiakuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,751},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_ziyuanjiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,617},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>img_paiming_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,751},{2,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,4}}</string>
                <key>sourceSize</key>
                <string>{2,4}</string>
            </dict>
            <key>img_paiming_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,3},{266,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,36}}</string>
                <key>sourceSize</key>
                <string>{266,36}</string>
            </dict>
            <key>img_zhihui_laoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,719},{312,378}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{312,378}}</string>
                <key>sourceSize</key>
                <string>{326,388}</string>
            </dict>
            <key>img_zhihuigong_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,3},{286,168}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{286,168}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>img_zhihuigong_shen.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,273},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>img_zhihuigong_zw.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,293},{123,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,278}}</string>
                <key>sourceSize</key>
                <string>{123,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wiseTutor.png</string>
            <key>size</key>
            <string>{991,1034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55714563cb3f08dd3e07008dae29e89b:1/1$</string>
            <key>textureFileName</key>
            <string>wiseTutor.png</string>
        </dict>
    </dict>
</plist>
