<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xys_gmbfsjlb_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,458},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>dh_xuyuanshul2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,554},{89,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,117}}</string>
                <key>sourceSize</key>
                <string>{89,117}</string>
            </dict>
            <key>fong_wishing_coinbroke_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,536},{408,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,99}}</string>
                <key>sourceSize</key>
                <string>{408,99}</string>
            </dict>
            <key>fong_wishing_coinbroke_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,639},{399,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,88}}</string>
                <key>sourceSize</key>
                <string>{399,88}</string>
            </dict>
            <key>fong_wishing_coinbroke_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,265},{264,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,93}}</string>
                <key>sourceSize</key>
                <string>{264,93}</string>
            </dict>
            <key>fong_wishing_wishbroke_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,362},{263,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,93}}</string>
                <key>sourceSize</key>
                <string>{263,93}</string>
            </dict>
            <key>fong_wishing_wishbroke_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,184},{333,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,77}}</string>
                <key>sourceSize</key>
                <string>{333,77}</string>
            </dict>
            <key>fong_wishing_wishbroke_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,459},{217,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,82}}</string>
                <key>sourceSize</key>
                <string>{217,82}</string>
            </dict>
            <key>font_wishing_double_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,459},{127,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,59}}</string>
                <key>sourceSize</key>
                <string>{127,59}</string>
            </dict>
            <key>font_wishing_double_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,658},{114,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,55}}</string>
                <key>sourceSize</key>
                <string>{114,55}</string>
            </dict>
            <key>font_wishing_double_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,188},{71,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,57}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
            <key>font_wishing_lucky_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,210},{568,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,81}}</string>
                <key>sourceSize</key>
                <string>{568,81}</string>
            </dict>
            <key>font_wishing_lucky_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,3},{428,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,75}}</string>
                <key>sourceSize</key>
                <string>{428,75}</string>
            </dict>
            <key>font_wishing_lucky_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,376},{561,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,70}}</string>
                <key>sourceSize</key>
                <string>{561,70}</string>
            </dict>
            <key>font_wishing_star_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,82},{338,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,98}}</string>
                <key>sourceSize</key>
                <string>{338,98}</string>
            </dict>
            <key>font_wishing_star_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,295},{560,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,77}}</string>
                <key>sourceSize</key>
                <string>{560,77}</string>
            </dict>
            <key>font_wishing_star_ko.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,450},{460,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,82}}</string>
                <key>sourceSize</key>
                <string>{460,82}</string>
            </dict>
            <key>frame_xys_dsj_sz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{581,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,92}}</string>
                <key>sourceSize</key>
                <string>{581,92}</string>
            </dict>
            <key>frame_xys_dsj_sz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,99},{559,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,107}}</string>
                <key>sourceSize</key>
                <string>{559,107}</string>
            </dict>
            <key>frame_xys_dsj_sz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,458},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>frame_xys_dyj_asbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,545},{189,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,173}}</string>
                <key>sourceSize</key>
                <string>{189,173}</string>
            </dict>
            <key>frame_xys_dyj_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,265},{189,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,173}}</string>
                <key>sourceSize</key>
                <string>{189,173}</string>
            </dict>
            <key>frame_xyshd_xlt.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,545},{115,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,153}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>icon_wish_Bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,82},{74,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_wish_Buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,522},{132,129}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{132,129}}</string>
                <key>sourceSize</key>
                <string>{140,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishTree.png</string>
            <key>size</key>
            <string>{1019,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ad125d5aa84671509322e0b86f383ba:1/1$</string>
            <key>textureFileName</key>
            <string>wishTree.png</string>
        </dict>
    </dict>
</plist>
