<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xycyh_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1567},{102,94}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1371},{102,94}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1469},{102,94}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1371},{102,94}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1665},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1574},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1478},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1382},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1276},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1563},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1467},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1565},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1371},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1469},{102,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1669},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1536},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1403},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1276},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1143},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1143},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1276},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1143},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1669},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1536},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1276},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1143},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1403},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_XL_xycyh02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1143},{91,129}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>dh_Tex_xycyh_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1659},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>dh_Tex_xycyh_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1661},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>frame_xycyh_hsqq.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1273},{138,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>frame_xycyh_lsqq.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{138,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>frame_xycyh_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1670},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>main_complete2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1670},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishPool.png</string>
            <key>size</key>
            <string>{646,1763}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c3ed6419dfb97f704f764453e5c48f7:1/1$</string>
            <key>textureFileName</key>
            <string>wishPool.png</string>
        </dict>
    </dict>
</plist>
