<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_znxb_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,3},{410,664}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,664}}</string>
                <key>sourceSize</key>
                <string>{410,666}</string>
            </dict>
            <key>frame_znxb_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{410,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,666}}</string>
                <key>sourceSize</key>
                <string>{410,666}</string>
            </dict>
            <key>frame_znxb_cell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,794},{548,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,114}}</string>
                <key>sourceSize</key>
                <string>{548,114}</string>
            </dict>
            <key>frame_znxb_cell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,794},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>frame_znxb_cellbg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,3},{512,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,18}}</string>
                <key>sourceSize</key>
                <string>{512,18}</string>
            </dict>
            <key>frame_znxb_cellbg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,995},{512,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,18}}</string>
                <key>sourceSize</key>
                <string>{512,18}</string>
            </dict>
            <key>frame_znxb_cellbg_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,973},{512,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,18}}</string>
                <key>sourceSize</key>
                <string>{512,18}</string>
            </dict>
            <key>frame_znxb_lamp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,671},{147,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,81}}</string>
                <key>sourceSize</key>
                <string>{147,81}</string>
            </dict>
            <key>frame_znxb_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,912},{564,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,57}}</string>
                <key>sourceSize</key>
                <string>{564,57}</string>
            </dict>
            <key>frame_znxb_magiccarpet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,673},{623,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,117}}</string>
                <key>sourceSize</key>
                <string>{623,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>znxbUI.png</string>
            <key>size</key>
            <string>{852,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fec3e1946acb56c842474b0e590222a:1/1$</string>
            <key>textureFileName</key>
            <string>znxbUI.png</string>
        </dict>
    </dict>
</plist>
