<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_chuansongmen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,3},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_chuansongmen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_chuansongmenxi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_chuansongmenxi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_chuansongmenxi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_chuansongmenxi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_chuansongmenxi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_chuansongmenxi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_chuansongmenxi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_chuansongmenxi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,3},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>dh_yuncaizd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,3},{187,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,109}}</string>
                <key>sourceSize</key>
                <string>{187,109}</string>
            </dict>
            <key>dh_yuncaizd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,3},{125,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,58}}</string>
                <key>sourceSize</key>
                <string>{125,58}</string>
            </dict>
            <key>dh_yuncaizd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,3},{132,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,85}}</string>
                <key>sourceSize</key>
                <string>{132,85}</string>
            </dict>
            <key>dh_yuncaizd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,3},{223,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,72}}</string>
                <key>sourceSize</key>
                <string>{223,72}</string>
            </dict>
            <key>dh_yuncaizd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,3},{177,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,66}}</string>
                <key>sourceSize</key>
                <string>{177,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dh_chuansongmen.png</string>
            <key>size</key>
            <string>{2008,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987164a20ec9ad48a9b85c9ade06e16b:1/1$</string>
            <key>textureFileName</key>
            <string>dh_chuansongmen.png</string>
        </dict>
    </dict>
</plist>
