<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_GWDZZ_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1822},{106,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,148}}</string>
                <key>sourceSize</key>
                <string>{106,148}</string>
            </dict>
            <key>bg_HZduihuansuo_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,617},{269,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,482}}</string>
                <key>sourceSize</key>
                <string>{269,482}</string>
            </dict>
            <key>bg_HZduihuansuo_beijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1064},{269,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,287}}</string>
                <key>sourceSize</key>
                <string>{269,287}</string>
            </dict>
            <key>bg_JZT_bjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1698},{320,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,173}}</string>
                <key>sourceSize</key>
                <string>{320,173}</string>
            </dict>
            <key>bg_JZT_zs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1862},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>bg_activity_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,814},{630,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,300}}</string>
                <key>sourceSize</key>
                <string>{630,300}</string>
            </dict>
            <key>bg_alliance_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,187},{640,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,279}}</string>
                <key>sourceSize</key>
                <string>{640,279}</string>
            </dict>
            <key>bg_alliances_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,670}}</string>
                <key>sourceSize</key>
                <string>{320,670}</string>
            </dict>
            <key>bg_black_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1447},{170,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,114}}</string>
                <key>sourceSize</key>
                <string>{170,114}</string>
            </dict>
            <key>bg_black_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,890},{170,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,114}}</string>
                <key>sourceSize</key>
                <string>{170,114}</string>
            </dict>
            <key>bg_black_02_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1054},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>bg_cw_huoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1721},{97,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>bg_equip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1698},{328,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,184}}</string>
                <key>sourceSize</key>
                <string>{328,184}</string>
            </dict>
            <key>bg_guide_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1862},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>bg_guide_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1333},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>bg_huodong_yingxiongzhizhan_zijipaimingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1621},{320,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,109}}</string>
                <key>sourceSize</key>
                <string>{320,109}</string>
            </dict>
            <key>bg_magicpalace_wall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,890},{160,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,398}}</string>
                <key>sourceSize</key>
                <string>{160,398}</string>
            </dict>
            <key>bg_mailinfo_attacksuccess.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1118},{600,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,210}}</string>
                <key>sourceSize</key>
                <string>{600,210}</string>
            </dict>
            <key>bg_pmh_beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,327},{640,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,182}}</string>
                <key>sourceSize</key>
                <string>{640,182}</string>
            </dict>
            <key>bg_recharge_content_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,293},{510,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,320}}</string>
                <key>sourceSize</key>
                <string>{510,320}</string>
            </dict>
            <key>bg_scout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1340},{345,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,193}}</string>
                <key>sourceSize</key>
                <string>{345,193}</string>
            </dict>
            <key>bg_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,568},{632,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,186}}</string>
                <key>sourceSize</key>
                <string>{632,186}</string>
            </dict>
            <key>bg_throne_contend_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,550},{632,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,367}}</string>
                <key>sourceSize</key>
                <string>{632,367}</string>
            </dict>
            <key>bg_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,3},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bg_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1064},{187,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,103}}</string>
                <key>sourceSize</key>
                <string>{187,103}</string>
            </dict>
            <key>btn_alliance_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1959},{321,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{321,68}}</string>
                <key>sourceSize</key>
                <string>{325,72}</string>
            </dict>
            <key>btn_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,550},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>btn_attack_monster_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1932},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_blue_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1957},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_blue_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1796},{152,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,62}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>btn_common_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1945},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{80,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_cw_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1945},{82,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{82,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>btn_czhl_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1689},{336,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,70}}</string>
                <key>sourceSize</key>
                <string>{336,70}</string>
            </dict>
            <key>btn_czhl_nm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1337},{128,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{128,106}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>btn_gray_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1482},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_green_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1482},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_green_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1482},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_green_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1730},{152,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,62}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>btn_herotrial_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1406},{72,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,110}}</string>
                <key>sourceSize</key>
                <string>{72,110}</string>
            </dict>
            <key>btn_herotrial_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1406},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>btn_herotrial_retreat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1935},{92,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,118}}</string>
                <key>sourceSize</key>
                <string>{92,118}</string>
            </dict>
            <key>btn_herotrial_round_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,617},{48,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,92}}</string>
                <key>sourceSize</key>
                <string>{48,98}</string>
            </dict>
            <key>btn_lmslc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1005},{248,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,80}}</string>
                <key>sourceSize</key>
                <string>{248,80}</string>
            </dict>
            <key>btn_lmslc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,921},{248,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,80}}</string>
                <key>sourceSize</key>
                <string>{248,80}</string>
            </dict>
            <key>btn_recharge1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1449},{241,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>btn_recharge1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1541},{239,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{239,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>btn_red_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1482},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_red_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1664},{152,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,62}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>btn_relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1713},{252,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,228}}</string>
                <key>sourceSize</key>
                <string>{252,228}</string>
            </dict>
            <key>btn_shop_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1340},{125,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,66}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>btn_shop_current_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1171},{155,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>btn_world_kingrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1356},{122,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{122,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>btn_worldmap_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1932},{88,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_yellow_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1482},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_yellow_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1484},{212,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{212,68}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>btn_yellow_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1328},{152,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,62}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>frame_activity_223.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1053},{299,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,112}}</string>
                <key>sourceSize</key>
                <string>{299,112}</string>
            </dict>
            <key>frame_activity_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1333},{112,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,244}}</string>
                <key>sourceSize</key>
                <string>{112,244}</string>
            </dict>
            <key>frame_activity_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,921},{212,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,128}}</string>
                <key>sourceSize</key>
                <string>{212,128}</string>
            </dict>
            <key>frame_alliance_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,470},{640,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,76}}</string>
                <key>sourceSize</key>
                <string>{640,76}</string>
            </dict>
            <key>frame_alliance_pank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1333},{622,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,62}}</string>
                <key>sourceSize</key>
                <string>{622,62}</string>
            </dict>
            <key>frame_alliance_pank_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1333},{622,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,62}}</string>
                <key>sourceSize</key>
                <string>{622,62}</string>
            </dict>
            <key>frame_battlefield_cloth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1633},{173,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,78}}</string>
                <key>sourceSize</key>
                <string>{173,78}</string>
            </dict>
            <key>frame_battlefield_honour_base_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1328},{164,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,74}}</string>
                <key>sourceSize</key>
                <string>{164,78}</string>
            </dict>
            <key>frame_battlefield_season_pillar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1633},{84,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,174}}</string>
                <key>sourceSize</key>
                <string>{84,174}</string>
            </dict>
            <key>frame_border_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1089},{285,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,247}}</string>
                <key>sourceSize</key>
                <string>{285,247}</string>
            </dict>
            <key>frame_butiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1340},{320,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,154}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>frame_cjxt_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1945},{323,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,80}}</string>
                <key>sourceSize</key>
                <string>{323,80}</string>
            </dict>
            <key>frame_common_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1810},{96,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,95}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>frame_cw_ejtc.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1333},{376,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,314}}</string>
                <key>sourceSize</key>
                <string>{376,314}</string>
            </dict>
            <key>frame_czh_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1713},{215,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,218}}</string>
                <key>sourceSize</key>
                <string>{215,218}</string>
            </dict>
            <key>frame_czh_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,921},{128,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,171}}</string>
                <key>sourceSize</key>
                <string>{128,171}</string>
            </dict>
            <key>frame_dxtx_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1171},{120,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,158}}</string>
                <key>sourceSize</key>
                <string>{120,158}</string>
            </dict>
            <key>frame_jzt_sc_fgk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,513},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>frame_jzt_sc_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,3},{645,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,180}}</string>
                <key>sourceSize</key>
                <string>{645,180}</string>
            </dict>
            <key>frame_newbie_task_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,3},{516,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,286}}</string>
                <key>sourceSize</key>
                <string>{516,286}</string>
            </dict>
            <key>frame_sheer_white_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,713},{616,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,40}}</string>
                <key>sourceSize</key>
                <string>{616,42}</string>
            </dict>
            <key>frame_square_08_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,758},{632,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,52}}</string>
                <key>sourceSize</key>
                <string>{632,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CommonUI0.png</string>
            <key>size</key>
            <string>{1854,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f64c0642533b6ba8b31c9f5458652bd3:1/1$</string>
            <key>textureFileName</key>
            <string>CommonUI0.png</string>
        </dict>
    </dict>
</plist>
