<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armyicon_b_10004411.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,476},{340,542}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{340,542}}</string>
                <key>sourceSize</key>
                <string>{520,550}</string>
            </dict>
            <key>armyicon_b_10004511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1600},{386,432}}</string>
                <key>offset</key>
                <string>{34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,69},{386,432}}</string>
                <key>sourceSize</key>
                <string>{520,550}</string>
            </dict>
            <key>armyicon_b_10004611.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,516},{388,462}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,36},{388,462}}</string>
                <key>sourceSize</key>
                <string>{520,550}</string>
            </dict>
            <key>armyicon_b_10004711.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,516},{512,486}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{512,486}}</string>
                <key>sourceSize</key>
                <string>{520,550}</string>
            </dict>
            <key>armyicon_b_906.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1},{384,472}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,39},{384,472}}</string>
                <key>sourceSize</key>
                <string>{770,550}</string>
            </dict>
            <key>armyicon_b_907.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1021},{576,524}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,8},{576,524}}</string>
                <key>sourceSize</key>
                <string>{770,550}</string>
            </dict>
            <key>armyicon_b_908.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1258},{514,522}}</string>
                <key>offset</key>
                <string>{115,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,25},{514,522}}</string>
                <key>sourceSize</key>
                <string>{770,550}</string>
            </dict>
            <key>armyicon_b_909.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{684,512}}</string>
                <key>offset</key>
                <string>{-43,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{684,512}}</string>
                <key>sourceSize</key>
                <string>{770,550}</string>
            </dict>
            <key>armyicon_b_910.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1},{616,512}}</string>
                <key>offset</key>
                <string>{27,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,6},{616,512}}</string>
                <key>sourceSize</key>
                <string>{770,550}</string>
            </dict>
            <key>armyicon_xj_801.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1600},{190,172}}</string>
                <key>offset</key>
                <string>{-10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,156},{190,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_802.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1775},{240,220}}</string>
                <key>offset</key>
                <string>{-11,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,130},{240,220}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_803.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1184},{270,308}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,25},{270,308}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_804.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,516},{334,338}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{334,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_805.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,853},{336,328}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{336,328}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_811.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1775},{236,192}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,131},{236,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_812.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1298},{258,198}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,125},{258,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_813.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1499},{272,210}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,114},{272,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_814.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1457},{284,216}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,111},{284,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_815.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1021},{316,234}}</string>
                <key>offset</key>
                <string>{17,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,96},{316,234}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_821.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,1775},{214,164}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,145},{214,164}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_822.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1775},{232,202}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,121},{232,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_823.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1775},{242,226}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,109},{242,226}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_824.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1775},{266,246}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,87},{266,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>armyicon_xj_825.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,981},{318,314}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{318,314}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiersUI1.png</string>
            <key>size</key>
            <string>{1692,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3db073dbff2cddbb589cf4c6c84a9b:1/1$</string>
            <key>textureFileName</key>
            <string>soldiersUI1.png</string>
        </dict>
    </dict>
</plist>
