<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Castle_King.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,493},{425,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,298}}</string>
                <key>sourceSize</key>
                <string>{425,298}</string>
            </dict>
            <key>Castle_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1258},{390,280}}</string>
                <key>offset</key>
                <string>{-36,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{390,280}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Map_castle_2018_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,922},{414,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,295}}</string>
                <key>sourceSize</key>
                <string>{414,295}</string>
            </dict>
            <key>Map_castle_2019_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1258},{392,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,281}}</string>
                <key>sourceSize</key>
                <string>{392,281}</string>
            </dict>
            <key>Map_castle_2020ny.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,3},{486,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,357}}</string>
                <key>sourceSize</key>
                <string>{486,357}</string>
            </dict>
            <key>Map_castle_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,804},{417,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,315}}</string>
                <key>sourceSize</key>
                <string>{417,315}</string>
            </dict>
            <key>Map_castle_3nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,654},{339,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,255}}</string>
                <key>sourceSize</key>
                <string>{339,255}</string>
            </dict>
            <key>Map_castle_Corban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,913},{353,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,298}}</string>
                <key>sourceSize</key>
                <string>{353,298}</string>
            </dict>
            <key>Map_castle_Easter.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1221},{393,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,275}}</string>
                <key>sourceSize</key>
                <string>{393,275}</string>
            </dict>
            <key>Map_castle_bigR.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1652},{341,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,279}}</string>
                <key>sourceSize</key>
                <string>{341,279}</string>
            </dict>
            <key>Map_castle_crazyStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,913},{387,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,323}}</string>
                <key>sourceSize</key>
                <string>{387,323}</string>
            </dict>
            <key>Map_castle_dengxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,3},{393,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,289}}</string>
                <key>sourceSize</key>
                <string>{393,289}</string>
            </dict>
            <key>Map_castle_fort.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1678},{335,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,282}}</string>
                <key>sourceSize</key>
                <string>{335,282}</string>
            </dict>
            <key>Map_castle_fourth.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{523,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,373}}</string>
                <key>sourceSize</key>
                <string>{523,373}</string>
            </dict>
            <key>Map_castle_hegemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,380},{452,282}}</string>
                <key>offset</key>
                <string>{-55,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{452,282}}</string>
                <key>sourceSize</key>
                <string>{562,450}</string>
            </dict>
            <key>Map_castle_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1618},{362,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,294}}</string>
                <key>sourceSize</key>
                <string>{362,294}</string>
            </dict>
            <key>Map_castle_legendaryking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1304},{370,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,318}}</string>
                <key>sourceSize</key>
                <string>{370,318}</string>
            </dict>
            <key>Map_castle_linglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,3},{317,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,271}}</string>
                <key>sourceSize</key>
                <string>{317,271}</string>
            </dict>
            <key>Map_castle_newYear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,320},{408,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,330}}</string>
                <key>sourceSize</key>
                <string>{408,330}</string>
            </dict>
            <key>Map_castle_oasis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,296},{375,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,339}}</string>
                <key>sourceSize</key>
                <string>{375,339}</string>
            </dict>
            <key>Map_castle_panther.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,836},{418,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,292}}</string>
                <key>sourceSize</key>
                <string>{418,292}</string>
            </dict>
            <key>Map_castle_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1704},{317,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,295}}</string>
                <key>sourceSize</key>
                <string>{317,295}</string>
            </dict>
            <key>Map_castle_remains_Wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,493},{425,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,307}}</string>
                <key>sourceSize</key>
                <string>{425,307}</string>
            </dict>
            <key>Map_castle_smailwind.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1325},{375,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,304}}</string>
                <key>sourceSize</key>
                <string>{375,304}</string>
            </dict>
            <key>Map_castle_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,639},{368,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,270}}</string>
                <key>sourceSize</key>
                <string>{368,270}</string>
            </dict>
            <key>Map_castle_stream.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1654},{327,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,265}}</string>
                <key>sourceSize</key>
                <string>{327,265}</string>
            </dict>
            <key>Map_castle_valentine.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,3},{424,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,313}}</string>
                <key>sourceSize</key>
                <string>{424,313}</string>
            </dict>
            <key>Map_castle_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1304},{359,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,287}}</string>
                <key>sourceSize</key>
                <string>{359,287}</string>
            </dict>
            <key>Map_castle_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1667},{352,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,307}}</string>
                <key>sourceSize</key>
                <string>{352,307}</string>
            </dict>
            <key>Map_castle_worldcup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,913},{408,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,318}}</string>
                <key>sourceSize</key>
                <string>{408,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapCastleSkin1.png</string>
            <key>size</key>
            <string>{2048,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bad1477639dce5f976436b6958d5eb8:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapCastleSkin1.png</string>
        </dict>
    </dict>
</plist>
