<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Map_2019ramadan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{980,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,678}}</string>
                <key>sourceSize</key>
                <string>{980,678}</string>
            </dict>
            <key>Map_2019ramadan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{980,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,678}}</string>
                <key>sourceSize</key>
                <string>{980,678}</string>
            </dict>
            <key>Map_2019ramadan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{980,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,678}}</string>
                <key>sourceSize</key>
                <string>{980,678}</string>
            </dict>
            <key>Map_King_castle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,599},{768,572}}</string>
                <key>offset</key>
                <string>{-36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{768,572}}</string>
                <key>sourceSize</key>
                <string>{840,720}</string>
            </dict>
            <key>Map_King_castle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1174},{840,490}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,156},{840,490}}</string>
                <key>sourceSize</key>
                <string>{840,720}</string>
            </dict>
            <key>Map_King_castle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{794,594}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{794,594}}</string>
                <key>sourceSize</key>
                <string>{840,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapPalace1.png</string>
            <key>size</key>
            <string>{1781,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ef50d24259447a47985b3269ab1e71:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapPalace1.png</string>
        </dict>
    </dict>
</plist>
