<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Castle_King.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,860},{425,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,298}}</string>
                <key>sourceSize</key>
                <string>{425,298}</string>
            </dict>
            <key>Castle_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,278},{390,280}}</string>
                <key>offset</key>
                <string>{-36,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{390,280}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Map_castle_2018_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,851},{414,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,295}}</string>
                <key>sourceSize</key>
                <string>{414,295}</string>
            </dict>
            <key>Map_castle_2019_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,282},{392,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,281}}</string>
                <key>sourceSize</key>
                <string>{392,281}</string>
            </dict>
            <key>Map_castle_2020ny.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1496},{486,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,357}}</string>
                <key>sourceSize</key>
                <string>{486,357}</string>
            </dict>
            <key>Map_castle_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1177},{417,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,315}}</string>
                <key>sourceSize</key>
                <string>{417,315}</string>
            </dict>
            <key>Map_castle_3nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{339,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,255}}</string>
                <key>sourceSize</key>
                <string>{339,255}</string>
            </dict>
            <key>Map_castle_Corban.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,864},{353,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,298}}</string>
                <key>sourceSize</key>
                <string>{353,298}</string>
            </dict>
            <key>Map_castle_Easter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,3},{393,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,275}}</string>
                <key>sourceSize</key>
                <string>{393,275}</string>
            </dict>
            <key>Map_castle_bigR.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,277},{341,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,279}}</string>
                <key>sourceSize</key>
                <string>{341,279}</string>
            </dict>
            <key>Map_castle_crazyStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1177},{387,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,323}}</string>
                <key>sourceSize</key>
                <string>{387,323}</string>
            </dict>
            <key>Map_castle_dengxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,567},{393,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,289}}</string>
                <key>sourceSize</key>
                <string>{393,289}</string>
            </dict>
            <key>Map_castle_fort.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,262},{335,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,282}}</string>
                <key>sourceSize</key>
                <string>{335,282}</string>
            </dict>
            <key>Map_castle_fourth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1504},{523,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,373}}</string>
                <key>sourceSize</key>
                <string>{523,373}</string>
            </dict>
            <key>Map_castle_hegemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,282},{452,282}}</string>
                <key>offset</key>
                <string>{-55,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{452,282}}</string>
                <key>sourceSize</key>
                <string>{562,450}</string>
            </dict>
            <key>Map_castle_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,568},{362,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,294}}</string>
                <key>sourceSize</key>
                <string>{362,294}</string>
            </dict>
            <key>Map_castle_linglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,3},{317,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,271}}</string>
                <key>sourceSize</key>
                <string>{317,271}</string>
            </dict>
            <key>Map_castle_newYear.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1479},{408,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,330}}</string>
                <key>sourceSize</key>
                <string>{408,330}</string>
            </dict>
            <key>Map_castle_oasis.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1488},{375,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,339}}</string>
                <key>sourceSize</key>
                <string>{375,339}</string>
            </dict>
            <key>Map_castle_panther.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,568},{418,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,292}}</string>
                <key>sourceSize</key>
                <string>{418,292}</string>
            </dict>
            <key>Map_castle_ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,548},{317,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,295}}</string>
                <key>sourceSize</key>
                <string>{317,295}</string>
            </dict>
            <key>Map_castle_remains_Wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,866},{425,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,307}}</string>
                <key>sourceSize</key>
                <string>{425,307}</string>
            </dict>
            <key>Map_castle_smailwind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,866},{375,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,304}}</string>
                <key>sourceSize</key>
                <string>{375,304}</string>
            </dict>
            <key>Map_castle_snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,3},{368,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,270}}</string>
                <key>sourceSize</key>
                <string>{368,270}</string>
            </dict>
            <key>Map_castle_stream.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,3},{327,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,265}}</string>
                <key>sourceSize</key>
                <string>{327,265}</string>
            </dict>
            <key>Map_castle_valentine.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1162},{424,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,313}}</string>
                <key>sourceSize</key>
                <string>{424,313}</string>
            </dict>
            <key>Map_castle_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,560},{359,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,287}}</string>
                <key>sourceSize</key>
                <string>{359,287}</string>
            </dict>
            <key>Map_castle_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1150},{352,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,307}}</string>
                <key>sourceSize</key>
                <string>{352,307}</string>
            </dict>
            <key>Map_castle_worldcup.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1166},{408,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,318}}</string>
                <key>sourceSize</key>
                <string>{408,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapCastleSkin1.png</string>
            <key>size</key>
            <string>{2014,1880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:018ddfbcfa27d50be7a57d2be686ddfe:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapCastleSkin1.png</string>
        </dict>
    </dict>
</plist>
