<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LegendaryKing_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1254},{696,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{696,524}}</string>
                <key>sourceSize</key>
                <string>{698,524}</string>
            </dict>
            <key>Map_2019ramadan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,580}}</string>
                <key>offset</key>
                <string>{81,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,98},{792,580}}</string>
                <key>sourceSize</key>
                <string>{980,678}</string>
            </dict>
            <key>Map_2019ramadan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{792,570}}</string>
                <key>offset</key>
                <string>{81,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,108},{792,570}}</string>
                <key>sourceSize</key>
                <string>{980,678}</string>
            </dict>
            <key>Map_King_castle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1166},{706,556}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,81},{706,556}}</string>
                <key>sourceSize</key>
                <string>{840,720}</string>
            </dict>
            <key>Map_King_castle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,575},{780,588}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,56},{780,588}}</string>
                <key>sourceSize</key>
                <string>{840,720}</string>
            </dict>
            <key>Map_King_castle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{766,666}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,54},{766,666}}</string>
                <key>sourceSize</key>
                <string>{840,720}</string>
            </dict>
            <key>Map_King_castle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{700,566}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,64},{700,566}}</string>
                <key>sourceSize</key>
                <string>{840,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapPalace2.png</string>
            <key>size</key>
            <string>{1656,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817fd5b5dc16b27782518df7c5891587:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapPalace2.png</string>
        </dict>
    </dict>
</plist>
