<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_shcb08_003_cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{220,500}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{220,500}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>dh_Tex_XL_shcb08_004_cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{226,500}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,0},{226,500}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1595},{118,62}}</string>
                <key>offset</key>
                <string>{3,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,226},{118,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,1826},{116,64}}</string>
                <key>offset</key>
                <string>{4,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,225},{116,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1826},{116,64}}</string>
                <key>offset</key>
                <string>{4,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,225},{116,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1759},{116,64}}</string>
                <key>offset</key>
                <string>{4,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,225},{116,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1678},{118,78}}</string>
                <key>offset</key>
                <string>{3,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,211},{118,78}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1863},{118,90}}</string>
                <key>offset</key>
                <string>{3,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,199},{118,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,1843},{116,106}}</string>
                <key>offset</key>
                <string>{4,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,182},{116,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1716},{116,124}}</string>
                <key>offset</key>
                <string>{4,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,165},{116,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1545},{118,130}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,158},{118,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1573},{118,138}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,151},{118,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1255},{118,142}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,147},{118,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1716},{116,144}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,145},{116,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1595},{118,144}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,145},{118,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,745},{118,148}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,141},{118,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,1096},{128,150}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,139},{128,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,442},{136,152}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,137},{136,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1416},{144,154}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,135},{144,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1255},{150,158}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,131},{150,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,1096},{156,166}}</string>
                <key>offset</key>
                <string>{-12,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,123},{156,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1422},{162,170}}</string>
                <key>offset</key>
                <string>{-10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,119},{162,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1239},{170,180}}</string>
                <key>offset</key>
                <string>{-10,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,109},{170,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1054},{198,182}}</string>
                <key>offset</key>
                <string>{-20,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,107},{198,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,247},{196,192}}</string>
                <key>offset</key>
                <string>{-14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,96},{196,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1148},{188,236}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,53},{188,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,514},{204,228}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{204,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1745},{216,246}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,43},{216,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,871},{222,262}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,27},{222,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,630},{224,276}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,13},{224,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,544},{224,284}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{224,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1745},{220,282}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,7},{220,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,771},{222,280}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{222,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1343},{224,290}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{224,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1732},{226,278}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{226,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,296},{230,288}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{230,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1733},{232,284}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{232,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,587},{234,286}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{234,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,876},{236,288}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{236,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1167},{238,288}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{238,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,271},{240,288}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{240,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{242,290}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{242,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{246,290}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{246,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1454},{248,288}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{248,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,295},{252,286}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{252,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1458},{254,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{254,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,589},{258,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{258,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw1_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,871},{262,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{262,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1446},{262,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{262,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1158},{264,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{264,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1159},{264,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{264,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,870},{266,286}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{266,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,581},{266,286}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{266,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,277},{264,288}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{264,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1632},{266,290}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{266,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1339},{266,290}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{266,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,337},{266,290}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{266,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{266,300}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{266,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,296},{268,290}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{268,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,857},{270,288}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{270,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1165},{272,286}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{272,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,876},{272,286}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{272,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,2},{272,292}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{272,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,584},{272,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{272,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_XL_shcbcw2_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1445},{268,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{268,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_shcb_004_cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,332}}</string>
                <key>sourceSize</key>
                <string>{431,332}</string>
            </dict>
            <key>dh_Tex_shcb_005_cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{431,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,291}}</string>
                <key>sourceSize</key>
                <string>{431,291}</string>
            </dict>
            <key>dh_Tex_shcb_006_cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{242,331}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{242,331}}</string>
                <key>sourceSize</key>
                <string>{268,335}</string>
            </dict>
            <key>dh_Tex_shcbcw_003_cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1400},{120,142}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{120,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapCastleThunderFA.png</string>
            <key>size</key>
            <string>{2048,1967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35b0a3b3a6f189aaee1bcee84dd951a6:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapCastleThunderFA.png</string>
        </dict>
    </dict>
</plist>
