<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_wjsf_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,3},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>frame_wjsf_biaojibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,192},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>frame_wjsf_gniconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,3},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>frame_wjsf_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,3},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>frame_wjsf_ld_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,166},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>frame_wjsf_ld_tm.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,109},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>frame_wjsf_ld_wm.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,48},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>frame_wjsf_ld_ym.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,48},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>frame_wjsf_ld_zl.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,49},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>frame_wjsf_map_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,49},{46,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{46,76}</string>
            </dict>
            <key>frame_wjsf_mapbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{216,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,252}}</string>
                <key>sourceSize</key>
                <string>{216,252}</string>
            </dict>
            <key>frame_wjsf_zy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,150},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>frame_wjsf_zy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,150},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>frame_wjsf_zy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,152},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>frame_wjsf_zy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,108},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>frame_wjsf_zy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,108},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>frame_wjsf_zy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,166},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>icon_wjsf_biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,99},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>icon_wjsf_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,109},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>icon_wjsf_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,81},{76,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>icon_wjsf_kuhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,107},{198,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,88}}</string>
                <key>sourceSize</key>
                <string>{198,88}</string>
            </dict>
            <key>icon_wjsf_shuruzuobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,166},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_wjsf_sousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,132},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>lod_map_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,3},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapLodUI.png</string>
            <key>size</key>
            <string>{806,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ca70a3fda1a3b31b1541c3ec8cbd924:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapLodUI.png</string>
        </dict>
    </dict>
</plist>
