<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Map_SnowWonder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1627},{214,162}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,162}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>Map_build_alliance_flagpole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,521},{95,89}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{95,89}}</string>
                <key>sourceSize</key>
                <string>{127,97}</string>
            </dict>
            <key>Map_build_campsite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1657},{160,122}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,19},{160,122}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>Map_build_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1220},{214,134}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,134}}</string>
                <key>sourceSize</key>
                <string>{236,184}</string>
            </dict>
            <key>Map_build_escort.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1397},{257,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,183}}</string>
                <key>sourceSize</key>
                <string>{257,183}</string>
            </dict>
            <key>Map_build_feast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,405},{238,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,151}}</string>
                <key>sourceSize</key>
                <string>{238,151}</string>
            </dict>
            <key>Map_build_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,277},{240,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,147}}</string>
                <key>sourceSize</key>
                <string>{240,147}</string>
            </dict>
            <key>Map_build_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,560},{189,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,98}}</string>
                <key>sourceSize</key>
                <string>{189,98}</string>
            </dict>
            <key>Map_build_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1644},{193,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,104}}</string>
                <key>sourceSize</key>
                <string>{193,104}</string>
            </dict>
            <key>Map_build_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1321},{219,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,129}}</string>
                <key>sourceSize</key>
                <string>{219,129}</string>
            </dict>
            <key>Map_build_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1743},{158,106}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{158,106}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>Map_build_fort.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1399},{253,224}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,224}}</string>
                <key>sourceSize</key>
                <string>{253,230}</string>
            </dict>
            <key>Map_build_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1657},{156,126}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,15},{156,126}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>Map_build_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,800},{154,130}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{154,130}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>Map_build_kingdomLv.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,333},{400,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,378}}</string>
                <key>sourceSize</key>
                <string>{400,378}</string>
            </dict>
            <key>Map_build_lostRuin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1627},{209,157}}</string>
                <key>offset</key>
                <string>{-38,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,157}}</string>
                <key>sourceSize</key>
                <string>{285,215}</string>
            </dict>
            <key>Map_build_relic.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,805},{406,258}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{406,258}}</string>
                <key>sourceSize</key>
                <string>{512,320}</string>
            </dict>
            <key>Map_build_sgmk.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,999},{394,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,252}}</string>
                <key>sourceSize</key>
                <string>{394,252}</string>
            </dict>
            <key>Map_build_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1619},{166,120}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{166,120}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>Map_build_snowWolfLost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,1482},{185,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,158}}</string>
                <key>sourceSize</key>
                <string>{185,158}</string>
            </dict>
            <key>Map_build_snowwolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1671},{113,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{115,124}</string>
            </dict>
            <key>Map_build_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1454},{218,158}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{218,158}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>Map_build_treasure_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1504},{236,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,149}}</string>
                <key>sourceSize</key>
                <string>{236,149}</string>
            </dict>
            <key>Map_build_treasure_hurtDie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1358},{216,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,142}}</string>
                <key>sourceSize</key>
                <string>{216,142}</string>
            </dict>
            <key>Map_build_treasure_working.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,560},{236,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,149}}</string>
                <key>sourceSize</key>
                <string>{236,149}</string>
            </dict>
            <key>Map_build_unionpalace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,3},{466,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,270}}</string>
                <key>sourceSize</key>
                <string>{466,270}</string>
            </dict>
            <key>Map_build_vulnerary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,934},{210,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,145}}</string>
                <key>sourceSize</key>
                <string>{210,145}</string>
            </dict>
            <key>Map_build_warDrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,243},{237,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,158}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>Map_build_windTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,737},{383,258}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,258}}</string>
                <key>sourceSize</key>
                <string>{407,260}</string>
            </dict>
            <key>Map_build_windTowerBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1658},{231,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,177}}</string>
                <key>sourceSize</key>
                <string>{231,177}</string>
            </dict>
            <key>Map_build_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1348},{182,130}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{182,130}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>Map_build_xueshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,378},{423,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,300}}</string>
                <key>sourceSize</key>
                <string>{423,300}</string>
            </dict>
            <key>alliance_mineral_famuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,989},{328,220}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,85},{328,220}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>alliance_mineral_miyinkuangchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,619},{312,222}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,79},{312,222}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>alliance_mineral_nongtian.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1644},{314,202}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{314,202}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>alliance_mineral_shuijingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,277},{338,338}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,14},{338,338}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>alliance_mineral_tiekuangchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,3},{352,236}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{352,236}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>icon_alliance_beast_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,935},{281,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,214}}</string>
                <key>sourceSize</key>
                <string>{281,214}</string>
            </dict>
            <key>map_build_stronghold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,796},{460,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,374}}</string>
                <key>sourceSize</key>
                <string>{460,374}</string>
            </dict>
            <key>map_build_stronghold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1174},{466,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,365}}</string>
                <key>sourceSize</key>
                <string>{466,365}</string>
            </dict>
            <key>map_build_stronghold_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{656,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,371}}</string>
                <key>sourceSize</key>
                <string>{656,371}</string>
            </dict>
            <key>map_build_stronghold_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,378},{566,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,414}}</string>
                <key>sourceSize</key>
                <string>{566,414}</string>
            </dict>
            <key>map_build_stronghold_farm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,999},{396,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,227}}</string>
                <key>sourceSize</key>
                <string>{396,227}</string>
            </dict>
            <key>map_build_stronghold_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1174},{441,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,267}}</string>
                <key>sourceSize</key>
                <string>{441,267}</string>
            </dict>
            <key>map_build_stronghold_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,619},{366,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,263}}</string>
                <key>sourceSize</key>
                <string>{366,263}</string>
            </dict>
            <key>map_build_stronghold_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1067},{421,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,235}}</string>
                <key>sourceSize</key>
                <string>{421,235}</string>
            </dict>
            <key>map_building_honor.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,3},{523,326}}</string>
                <key>offset</key>
                <string>{-116,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{523,326}}</string>
                <key>sourceSize</key>
                <string>{777,450}</string>
            </dict>
            <key>map_ruins_revival.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1492},{357,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,277}}</string>
                <key>sourceSize</key>
                <string>{357,277}</string>
            </dict>
            <key>zhouniangz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1067},{101,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,127},{101,123}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>zhouniangz_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,1148},{196,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,143}}</string>
                <key>sourceSize</key>
                <string>{196,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBuilding.png</string>
            <key>size</key>
            <string>{2015,1852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fabe2b2088fb2109cb7920fcdc0d96f9:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBuilding.png</string>
        </dict>
    </dict>
</plist>
