<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>albb_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1145},{90,118}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,71},{90,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>albb_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1239},{100,116}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,76},{100,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>albb_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1433},{92,120}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,70},{92,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>albb_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1245},{102,116}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,77},{102,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>albb_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1239},{102,116}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,77},{102,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bhmt_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,203},{158,138}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,47},{158,138}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>bhmt_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,345},{146,148}}</string>
                <key>offset</key>
                <string>{35,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,15},{146,148}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>bhmt_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,665},{144,124}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{144,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bhmt_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,345},{146,148}}</string>
                <key>offset</key>
                <string>{35,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,15},{146,148}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>bhmt_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,889},{140,140}}</string>
                <key>offset</key>
                <string>{40,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,22},{140,140}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>djszj_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,798},{126,130}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,111},{126,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>djszj_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,283},{140,180}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,53},{140,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>djszj_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,798},{126,130}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,111},{126,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>djszj_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,798},{126,130}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,111},{126,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>drq_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,241},{216,176}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,37},{216,176}}</string>
                <key>sourceSize</key>
                <string>{300,260}</string>
            </dict>
            <key>drq_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{188,234}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,3},{188,234}}</string>
                <key>sourceSize</key>
                <string>{300,260}</string>
            </dict>
            <key>drq_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,3},{226,162}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{226,162}}</string>
                <key>sourceSize</key>
                <string>{300,260}</string>
            </dict>
            <key>drq_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,241},{216,176}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,37},{216,176}}</string>
                <key>sourceSize</key>
                <string>{300,260}</string>
            </dict>
            <key>drqsc_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1359},{120,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,68},{120,90}}</string>
                <key>sourceSize</key>
                <string>{200,222}</string>
            </dict>
            <key>drqsc_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1057},{114,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,59},{114,104}}</string>
                <key>sourceSize</key>
                <string>{200,222}</string>
            </dict>
            <key>drqsc_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1151},{120,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{120,90}}</string>
                <key>sourceSize</key>
                <string>{200,222}</string>
            </dict>
            <key>drqsc_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1142},{120,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{120,90}}</string>
                <key>sourceSize</key>
                <string>{200,222}</string>
            </dict>
            <key>esboss_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1359},{108,102}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,64},{108,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>esboss_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,793},{142,116}}</string>
                <key>offset</key>
                <string>{27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{142,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>esboss_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1175},{108,102}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,64},{108,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>esboss_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1175},{108,102}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,64},{108,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>gaoyang_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1483},{98,110}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,64},{98,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gaoyang_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1287},{142,88}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,85},{142,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gaoyang_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1191},{98,110}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,64},{98,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gaoyang_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1287},{142,88}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,85},{142,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gaoyang_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1557},{142,92}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,84},{142,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>icon_smlk_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,913},{80,80}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{80,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>juxiang_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1287},{158,130}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,73},{158,130}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>juxiang_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,495},{180,132}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,53},{180,132}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>juxiang_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,651},{156,128}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,74},{156,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>juxiang_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,657},{154,130}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,71},{154,130}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>langren_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,929},{98,120}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{98,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>langren_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,805},{98,120}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{98,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>my_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,3},{152,214}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,108},{152,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>my_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,461},{176,186}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,114},{176,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>my_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,3},{154,214}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,108},{154,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>my_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,467},{174,186}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,114},{174,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>my_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,283},{174,186}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,114},{174,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>nanguaguai_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,791},{94,150}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,78},{94,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>nanguaguai_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1557},{102,134}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,82},{102,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>nanguaguai_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,783},{90,150}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,78},{90,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>nanguaguai_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1557},{102,132}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{102,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>nanguaguai_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1053},{102,134}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,82},{102,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>panjun_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,805},{124,122}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{124,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>panjun_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,913},{134,104}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{134,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>panjun_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,679},{130,122}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{130,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>panjun_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1057},{120,90}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,83},{120,90}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>panjun_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1042},{124,96}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{124,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>pjys_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1351},{88,108}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{88,108}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>pjys_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1599},{82,100}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,62},{82,100}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>pjys_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1465},{88,108}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,65},{88,108}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>pjys_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1575},{82,100}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,62},{82,100}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>pjys_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1513},{82,100}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,62},{82,100}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>sgboss_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,931},{122,122}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,107},{122,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1597},{88,116}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,113},{88,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1433},{120,120}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,109},{120,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1021},{116,120}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,109},{116,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>shmcclr_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,465},{200,134}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,66},{200,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>shmcclr_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1033},{138,126}}</string>
                <key>offset</key>
                <string>{50,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,99},{138,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>shmcclr_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,159},{200,134}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,66},{200,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>shmcclr_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,3},{196,138}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,62},{196,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>shmcsd_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,877},{92,204}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,34},{92,204}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>shmcsd_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,169},{110,212}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,29},{110,212}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>shmcsd_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1085},{100,198}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,49},{100,198}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>shmcsd_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,161},{102,206}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,32},{102,206}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>wjsl_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,928},{128,110}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{128,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>xueguai_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1463},{90,108}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,90},{90,108}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>xueguai_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,363},{150,98}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,92},{150,98}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>xueguai_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1403},{92,106}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,95},{92,106}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>xueguai_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1293},{92,106}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,95},{92,106}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>ylcz_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,669},{125,136}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{125,136}}</string>
                <key>sourceSize</key>
                <string>{205,228}</string>
            </dict>
            <key>ylcz_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,466},{195,164}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,64},{195,164}}</string>
                <key>sourceSize</key>
                <string>{205,228}</string>
            </dict>
            <key>ylcz_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1507},{195,168}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,60},{195,168}}</string>
                <key>sourceSize</key>
                <string>{205,228}</string>
            </dict>
            <key>ylcz_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,267},{195,164}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,64},{195,164}}</string>
                <key>sourceSize</key>
                <string>{205,228}</string>
            </dict>
            <key>ylcz_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1507},{195,164}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,64},{195,164}}</string>
                <key>sourceSize</key>
                <string>{205,228}</string>
            </dict>
            <key>zjssg_dj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,461},{204,180}}</string>
                <key>offset</key>
                <string>{-44,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,152},{204,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>zjssg_dj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1091},{208,170}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,182},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>zjssg_gj_wn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,669},{204,178}}</string>
                <key>offset</key>
                <string>{-45,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,158},{204,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>zjssg_gj_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,877},{210,170}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,184},{210,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>zjssg_sw_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1303},{200,170}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,182},{200,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBossIcon.png</string>
            <key>size</key>
            <string>{1002,1705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b97a9be4f233e6e77867837ecf69f908:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBossIcon.png</string>
        </dict>
    </dict>
</plist>
