<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_kafeihucb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,1785},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,1592},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1833},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1640},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1833},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1640},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1447},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1447},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1828},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1828},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1635},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1414},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1371},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1150},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1254},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1254},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1254},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1061},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1767},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1061},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1767},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1061},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1767},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,929},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_kafeihucb_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,708},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>dh_liuzhongniancb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,355},{334,350}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{334,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1414},{332,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{332,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1061},{332,348}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{332,348}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{332,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{332,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,355},{330,350}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{330,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,708},{328,350}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{328,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,355},{336,350}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{336,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{340,350}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{340,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{344,350}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{344,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{346,350}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,708},{330,350}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{330,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,355},{332,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{332,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,708},{332,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{332,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,708},{334,350}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{334,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1061},{332,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{332,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1061},{334,350}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{334,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{332,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{332,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{334,350}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{334,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>dh_liuzhongniancb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,2},{332,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{332,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapCastleETFA1.png</string>
            <key>size</key>
            <string>{1873,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b20e94cb2508ebf7c4a4bd184d85d16:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapCastleETFA1.png</string>
        </dict>
    </dict>
</plist>
