<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huolong_dj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1180},{148,175}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,51},{148,175}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,791},{186,167}}</string>
                <key>offset</key>
                <string>{38,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,59},{186,167}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1180},{198,157}}</string>
                <key>offset</key>
                <string>{30,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,73},{198,157}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,778},{194,149}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,90},{194,149}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,296},{176,139}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,104},{176,139}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1537},{164,141}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,103},{164,141}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1306},{152,141}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,101},{152,141}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1618},{150,139}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,101},{150,139}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,850},{144,139}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,101},{144,139}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1145},{142,141}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,99},{142,141}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1290},{144,143}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,99},{144,143}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,1462},{152,145}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,99},{152,145}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,439},{164,149}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,97},{164,149}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1172},{174,151}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,98},{174,151}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1315},{184,153}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,98},{184,153}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1496},{196,151}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,100},{196,151}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1331},{200,147}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,101},{200,147}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1341},{196,151}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,94},{196,151}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1668},{192,157}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,82},{192,157}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1787},{180,165}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,68},{180,165}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1682},{166,169}}</string>
                <key>offset</key>
                <string>{19,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,57},{166,169}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1852},{148,181}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,45},{148,181}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1621},{144,185}}</string>
                <key>offset</key>
                <string>{25,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,41},{144,185}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_dj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,981},{144,187}}</string>
                <key>offset</key>
                <string>{24,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,39},{144,187}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_gj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,1852},{147,165}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,123},{147,165}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1315},{191,167}}</string>
                <key>offset</key>
                <string>{41,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,126},{191,167}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,981},{195,167}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,128},{195,167}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,611},{179,163}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,128},{179,163}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,650},{161,165}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,122},{161,165}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1681},{155,167}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,116},{155,167}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,806},{157,171}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,112},{157,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1332},{157,175}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,110},{157,175}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,493},{153,169}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,118},{153,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,1335},{151,169}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,123},{151,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1769},{169,183}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,110},{169,183}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1486},{179,171}}</string>
                <key>offset</key>
                <string>{-25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,118},{179,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1661},{187,167}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,120},{187,167}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,320},{287,179}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,118},{287,179}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1331},{333,253}}</string>
                <key>offset</key>
                <string>{-51,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,113},{333,253}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,992},{335,285}}</string>
                <key>offset</key>
                <string>{-50,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,101},{335,285}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,976},{335,247}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{335,247}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,976},{335,247}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{335,247}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,992},{335,247}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{335,247}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1331},{335,247}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{335,247}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1670},{325,249}}</string>
                <key>offset</key>
                <string>{-55,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,107},{325,249}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1668},{323,253}}</string>
                <key>offset</key>
                <string>{-56,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{323,253}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,326},{323,247}}</string>
                <key>offset</key>
                <string>{-56,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{323,247}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_wn_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,653},{319,245}}</string>
                <key>offset</key>
                <string>{-58,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{319,245}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1158},{145,173}}</string>
                <key>offset</key>
                <string>{24,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,99},{145,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1651},{191,157}}</string>
                <key>offset</key>
                <string>{41,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,115},{191,157}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1812},{189,141}}</string>
                <key>offset</key>
                <string>{27,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,140},{189,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1493},{175,135}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,152},{175,135}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,981},{161,149}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,140},{161,149}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,592},{155,159}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,130},{155,159}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,981},{151,173}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,122},{151,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,411},{153,181}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,114},{153,181}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1632},{151,175}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,118},{151,175}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1508},{149,169}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,124},{149,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,316},{169,173}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,125},{169,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1350},{183,157}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,143},{183,157}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,791},{199,181}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,129},{199,181}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,318},{255,217}}</string>
                <key>offset</key>
                <string>{-48,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,127},{255,217}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,3},{309,289}}</string>
                <key>offset</key>
                <string>{-63,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{309,289}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,3},{323,319}}</string>
                <key>offset</key>
                <string>{-56,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{323,319}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,653},{335,303}}</string>
                <key>offset</key>
                <string>{-50,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,103},{335,303}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,3},{311,315}}</string>
                <key>offset</key>
                <string>{-62,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{311,315}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,653},{313,319}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{313,319}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,326},{313,323}}</string>
                <key>offset</key>
                <string>{-61,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{313,323}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,326},{319,323}}</string>
                <key>offset</key>
                <string>{-58,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{319,323}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{323,319}}</string>
                <key>offset</key>
                <string>{-56,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{323,319}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,3},{323,313}}</string>
                <key>offset</key>
                <string>{-56,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{323,313}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_gj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,3},{317,309}}</string>
                <key>offset</key>
                <string>{-59,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{317,309}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>huolong_sw_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,815},{160,173}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,52},{160,173}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,976},{200,163}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,73},{200,163}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1472},{184,145}}</string>
                <key>offset</key>
                <string>{36,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{184,145}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,568},{174,137}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,101},{174,137}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1146},{156,139}}</string>
                <key>offset</key>
                <string>{36,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,99},{156,139}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,998},{142,143}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,95},{142,143}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1437},{132,143}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,95},{132,143}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,607},{124,143}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,95},{124,143}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1584},{130,143}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,96},{130,143}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1772},{132,139}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,100},{132,139}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1864},{136,135}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,105},{136,135}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1535},{158,129}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,110},{158,129}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,1852},{176,123}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,110},{176,123}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,296},{196,111}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,115},{196,111}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,682},{208,105}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,118},{208,105}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,577},{216,101}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,122},{216,101}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,3},{206,97}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,128},{206,97}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,318},{186,97}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,129},{186,97}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,709},{174,93}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,134},{174,93}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,439},{164,87}}</string>
                <key>offset</key>
                <string>{19,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,146},{164,87}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,755},{156,91}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,149},{156,91}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,850},{152,93}}</string>
                <key>offset</key>
                <string>{27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,152},{152,93}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1731},{158,87}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,164},{158,87}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>huolong_sw_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1915},{160,81}}</string>
                <key>offset</key>
                <string>{29,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,172},{160,81}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBoss39.png</string>
            <key>size</key>
            <string>{2039,2003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe960e1889e87cd69ad65f6d10f2ca1d:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBoss39.png</string>
        </dict>
    </dict>
</plist>
