<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengbaozhuangban_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1020},{412,283}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,74},{412,283}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1407},{418,291}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{418,291}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,711},{418,305}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{418,305}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1086},{418,317}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{418,317}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1453},{418,331}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{418,331}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,364},{418,343}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{418,343}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,729},{418,353}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{418,353}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1092},{418,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{418,357}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,3},{418,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{418,357}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,366},{418,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,359}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,729},{418,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,359}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,3},{418,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,359}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,366},{418,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,359}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>chengbaozhuangban_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{418,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,359}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>dh_cw_bzcx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1481},{254,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,170}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,177},{254,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,170}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1307},{254,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,170}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1788},{254,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,170}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,3},{254,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,170}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,659},{190,146}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,24},{190,146}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,505},{196,150}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{196,150}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,351},{202,150}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{202,150}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1307},{202,150}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{202,150}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1788},{204,138}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{204,138}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1702},{204,136}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{204,136}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1513},{178,128}}</string>
                <key>offset</key>
                <string>{17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,42},{178,128}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1307},{176,126}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,44},{176,126}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,881},{176,126}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,44},{176,126}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1741},{174,124}}</string>
                <key>offset</key>
                <string>{19,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,46},{174,124}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_bzcx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,351},{50,122}}</string>
                <key>offset</key>
                <string>{49,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,48},{50,122}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>dh_cw_ys_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1519},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1297},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1867},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1645},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1645},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1075},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,853},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1061},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1784},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1784},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1655},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1842},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1831},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1702},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
            <key>dh_cw_ys_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,659},{125,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,218}}</string>
                <key>sourceSize</key>
                <string>{127,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapCastleStarfallFA.png</string>
            <key>size</key>
            <string>{1547,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92e078c385940e2e8b442577609f1db2:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapCastleStarfallFA.png</string>
        </dict>
    </dict>
</plist>
