<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaohuolong_dj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,481},{120,82}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,146},{120,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,1221},{122,82}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,146},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,1135},{122,82}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,146},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1009},{122,82}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,146},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1009},{122,82}}</string>
                <key>offset</key>
                <string>{24,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,146},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,883},{122,82}}</string>
                <key>offset</key>
                <string>{24,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,147},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1153},{122,82}}</string>
                <key>offset</key>
                <string>{23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,147},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1027},{122,82}}</string>
                <key>offset</key>
                <string>{24,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,147},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,395},{122,82}}</string>
                <key>offset</key>
                <string>{24,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,147},{122,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,883},{122,84}}</string>
                <key>offset</key>
                <string>{23,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,146},{122,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,477},{120,84}}</string>
                <key>offset</key>
                <string>{23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,146},{120,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1239},{122,84}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,146},{122,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1259},{120,84}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,146},{120,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1135},{120,84}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,146},{120,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,655},{118,84}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,146},{118,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,653},{118,84}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,146},{118,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,567},{118,84}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,146},{118,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,743},{116,84}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,146},{116,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,1007},{114,84}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,146},{114,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,919},{114,84}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,145},{114,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,831},{114,84}}</string>
                <key>offset</key>
                <string>{21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,145},{114,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,741},{116,84}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,145},{116,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,565},{118,84}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,145},{118,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_dj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,567},{118,84}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,144},{118,84}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_gj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,773},{152,98}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,150},{152,98}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1237},{148,98}}</string>
                <key>offset</key>
                <string>{19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,151},{148,98}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,203},{144,94}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,156},{144,94}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,757},{134,90}}</string>
                <key>offset</key>
                <string>{28,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,160},{134,90}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,1239},{146,102}}</string>
                <key>offset</key>
                <string>{24,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,149},{146,102}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,305},{144,104}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,147},{144,104}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,369},{140,104}}</string>
                <key>offset</key>
                <string>{30,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,146},{140,104}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1085},{150,100}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,150},{150,100}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,179},{176,102}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,147},{176,102}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1187},{200,112}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,143},{200,112}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,3},{266,172}}</string>
                <key>offset</key>
                <string>{-43,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,107},{266,172}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,985},{302,198}}</string>
                <key>offset</key>
                <string>{-52,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,93},{302,198}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,773},{326,208}}</string>
                <key>offset</key>
                <string>{-58,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{326,208}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,3},{352,216}}</string>
                <key>offset</key>
                <string>{-68,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,82},{352,216}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{364,224}}</string>
                <key>offset</key>
                <string>{-74,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{364,224}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,231},{360,218}}</string>
                <key>offset</key>
                <string>{-76,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{360,218}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,901},{356,196}}</string>
                <key>offset</key>
                <string>{-78,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{356,196}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,219},{350,184}}</string>
                <key>offset</key>
                <string>{-79,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,97},{350,184}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,393},{346,170}}</string>
                <key>offset</key>
                <string>{-79,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,105},{346,170}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,901},{354,170}}</string>
                <key>offset</key>
                <string>{-79,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,105},{354,170}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,413},{340,154}}</string>
                <key>offset</key>
                <string>{-72,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,110},{340,154}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,713},{338,162}}</string>
                <key>offset</key>
                <string>{-71,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,105},{338,162}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,407},{344,158}}</string>
                <key>offset</key>
                <string>{-76,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,112},{344,158}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_wn_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,567},{344,142}}</string>
                <key>offset</key>
                <string>{-79,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,132},{344,142}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,701},{120,82}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,159},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1303},{122,82}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,159},{122,82}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,203},{120,80}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,158},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1307},{118,74}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,159},{118,74}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,179},{122,86}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,148},{122,86}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1231},{114,96}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,137},{114,96}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,203},{112,98}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,132},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1027},{120,102}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,133},{120,102}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1215},{154,114}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,140},{154,114}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,571},{182,104}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,151},{182,104}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,985},{248,172}}</string>
                <key>offset</key>
                <string>{-38,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,148},{248,172}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1177},{286,196}}</string>
                <key>offset</key>
                <string>{-46,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,140},{286,196}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,971},{310,202}}</string>
                <key>offset</key>
                <string>{-53,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,142},{310,202}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,879},{332,212}}</string>
                <key>offset</key>
                <string>{-64,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,140},{332,212}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,677},{344,220}}</string>
                <key>offset</key>
                <string>{-71,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,138},{344,220}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,453},{346,220}}</string>
                <key>offset</key>
                <string>{-77,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,136},{346,220}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,3},{348,212}}</string>
                <key>offset</key>
                <string>{-79,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,133},{348,212}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,211},{338,198}}</string>
                <key>offset</key>
                <string>{-75,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,131},{338,198}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,571},{336,198}}</string>
                <key>offset</key>
                <string>{-72,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,130},{336,198}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,3},{344,196}}</string>
                <key>offset</key>
                <string>{-73,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,138},{344,196}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,569},{338,194}}</string>
                <key>offset</key>
                <string>{-68,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,145},{338,194}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,767},{336,200}}</string>
                <key>offset</key>
                <string>{-65,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,141},{336,200}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,3},{346,204}}</string>
                <key>offset</key>
                <string>{-68,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,140},{346,204}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_gj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,223},{352,166}}</string>
                <key>offset</key>
                <string>{-69,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,136},{352,166}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>xiaohuolong_sw_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,895},{128,88}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,138},{128,88}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1259},{126,92}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,129},{126,92}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1133},{120,94}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,128},{120,94}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,305},{112,86}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,135},{112,86}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,327},{110,80}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,138},{110,80}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,441},{110,82}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,134},{110,82}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,787},{116,92}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,125},{116,92}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,787},{114,104}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,115},{114,104}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,301},{110,118}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,104},{110,118}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1259},{116,126}}</string>
                <key>offset</key>
                <string>{25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,99},{116,126}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1261},{124,130}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,99},{124,130}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1187},{122,128}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,105},{122,128}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,895},{120,128}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,108},{120,128}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,415},{132,118}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,122},{132,118}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,551},{146,100}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,142},{146,100}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,567},{150,88}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,154},{150,88}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,929},{152,86}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,157},{152,86}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,285},{150,80}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,162},{150,80}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,413},{152,76}}</string>
                <key>offset</key>
                <string>{9,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,166},{152,76}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,413},{150,68}}</string>
                <key>offset</key>
                <string>{9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,174},{150,68}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1237},{148,68}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,174},{148,68}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1085},{148,66}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,176},{148,66}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1237},{148,66}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,176},{148,66}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>xiaohuolong_sw_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1319},{150,66}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,176},{150,66}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBoss38.png</string>
            <key>size</key>
            <string>{2047,1388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:180ce5e8ea85f6a52a073b51d1263ac1:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBoss38.png</string>
        </dict>
    </dict>
</plist>
