<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Castle_WarLv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,479},{358,268}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,162},{358,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_WarLv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,589},{60,86}}</string>
                <key>offset</key>
                <string>{17,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,202},{60,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_WarLv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,597},{224,258}}</string>
                <key>offset</key>
                <string>{37,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,169},{224,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_WarLv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,751},{238,238}}</string>
                <key>offset</key>
                <string>{38,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,190},{238,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_WarLv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,479},{284,256}}</string>
                <key>offset</key>
                <string>{57,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,190},{284,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_lv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,169},{162,152}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,87},{162,152}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv11.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,859},{160,152}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,87},{160,152}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv12.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,479},{466,234}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,76},{466,234}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv13_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,241},{466,234}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,76},{466,234}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,717},{160,126}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,93},{160,126}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,3},{162,162}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,81},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv16_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,241},{466,234}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,76},{466,234}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv17.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,859},{104,52}}</string>
                <key>offset</key>
                <string>{-1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,110},{104,52}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,767},{100,154}}</string>
                <key>offset</key>
                <string>{-8,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,59},{100,154}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,927},{82,100}}</string>
                <key>offset</key>
                <string>{-119,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,123},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv1_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,3},{466,234}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,76},{466,234}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv20.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,857},{176,202}}</string>
                <key>offset</key>
                <string>{15,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,56},{176,202}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,751},{108,172}}</string>
                <key>offset</key>
                <string>{-28,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,21},{108,172}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,903},{102,220}}</string>
                <key>offset</key>
                <string>{-44,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,21},{102,220}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv23_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,315},{466,296}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{466,296}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv24.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,903},{176,104}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,146},{176,104}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv25.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,967},{54,54}}</string>
                <key>offset</key>
                <string>{-52,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,144},{54,54}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv26_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,3},{466,294}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{466,294}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv27.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,905},{92,120}}</string>
                <key>offset</key>
                <string>{-71,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,144},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv28_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{466,308}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{466,308}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv29.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,717},{282,136}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,130},{282,136}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,919},{64,58}}</string>
                <key>offset</key>
                <string>{44,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,174},{64,58}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,325},{142,156}}</string>
                <key>offset</key>
                <string>{-105,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,50},{142,156}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv36.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,615},{428,284}}</string>
                <key>offset</key>
                <string>{-43,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,135},{428,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_lv37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,767},{148,198}}</string>
                <key>offset</key>
                <string>{63,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,203},{148,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_lv38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,919},{84,90}}</string>
                <key>offset</key>
                <string>{92,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,311},{84,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_lv39.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,615},{286,224}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,176},{286,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,905},{142,122}}</string>
                <key>offset</key>
                <string>{-39,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,92},{142,122}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv40.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,301},{416,292}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,145},{416,292}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Castle_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,679},{56,74}}</string>
                <key>offset</key>
                <string>{43,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,156},{56,74}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv6_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,3},{466,234}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,76},{466,234}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,471},{114,60}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,125},{114,60}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,847},{160,108}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,117},{160,108}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>Castle_lv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,857},{176,122}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,118},{176,122}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapCastle.png</string>
            <key>size</key>
            <string>{2048,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a3799b7e4ab0de4abcbc386abeeba72:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapCastle.png</string>
        </dict>
    </dict>
</plist>
