<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldSeverMap_BD_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,575},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>worldSeverMap_BD_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,567},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>worldSeverMap_BD_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,318},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>worldSeverMap_BD_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,310},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>worldSeverMap_BD_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{339,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,428}}</string>
                <key>sourceSize</key>
                <string>{339,428}</string>
            </dict>
            <key>worldSeverMap_BD_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,435},{428,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,185}}</string>
                <key>sourceSize</key>
                <string>{428,185}</string>
            </dict>
            <key>worldSeverMap_BD_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,435},{213,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,428}}</string>
                <key>sourceSize</key>
                <string>{213,428}</string>
            </dict>
            <key>worldSeverMap_BD_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,154},{428,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,193}}</string>
                <key>sourceSize</key>
                <string>{428,193}</string>
            </dict>
            <key>worldSeverMap_path_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,747},{290,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,103}}</string>
                <key>sourceSize</key>
                <string>{290,105}</string>
            </dict>
            <key>worldSeverMap_path_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,867},{130,430}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,430}}</string>
                <key>sourceSize</key>
                <string>{160,430}</string>
            </dict>
            <key>worldSeverMap_path_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,3},{122,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,297}}</string>
                <key>sourceSize</key>
                <string>{130,297}</string>
            </dict>
            <key>worldSeverMap_path_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,781},{82,188}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,188}}</string>
                <key>sourceSize</key>
                <string>{106,188}</string>
            </dict>
            <key>worldSeverMap_path_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,624},{162,253}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{162,253}}</string>
                <key>sourceSize</key>
                <string>{170,257}</string>
            </dict>
            <key>worldSeverMap_path_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,351},{188,426}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{188,426}}</string>
                <key>sourceSize</key>
                <string>{214,426}</string>
            </dict>
            <key>worldSeverMap_path_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,867},{130,299}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{130,299}}</string>
                <key>sourceSize</key>
                <string>{138,299}</string>
            </dict>
            <key>worldSeverMap_path_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,832},{84,321}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,321}}</string>
                <key>sourceSize</key>
                <string>{98,321}</string>
            </dict>
            <key>worldSeverMap_path_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,920},{82,277}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,277}}</string>
                <key>sourceSize</key>
                <string>{102,277}</string>
            </dict>
            <key>worldSeverMap_path_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,3},{109,492}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,492}}</string>
                <key>sourceSize</key>
                <string>{121,492}</string>
            </dict>
            <key>worldSeverMap_path_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,351},{392,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,171}}</string>
                <key>sourceSize</key>
                <string>{392,173}</string>
            </dict>
            <key>worldSeverMap_path_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,129},{330,185}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{330,185}}</string>
                <key>sourceSize</key>
                <string>{330,217}</string>
            </dict>
            <key>worldSeverMap_path_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,3},{488,147}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{488,147}}</string>
                <key>sourceSize</key>
                <string>{488,157}</string>
            </dict>
            <key>worldSeverMap_path_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,881},{283,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{283,91}}</string>
                <key>sourceSize</key>
                <string>{283,103}</string>
            </dict>
            <key>worldSeverMap_path_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,854},{243,142}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{243,142}}</string>
                <key>sourceSize</key>
                <string>{281,162}</string>
            </dict>
            <key>worldSeverMap_path_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,351},{351,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,123}}</string>
                <key>sourceSize</key>
                <string>{351,123}</string>
            </dict>
            <key>worldSeverMap_path_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,116},{359,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{359,190}}</string>
                <key>sourceSize</key>
                <string>{359,192}</string>
            </dict>
            <key>worldSeverMap_path_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,318},{302,178}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,178}}</string>
                <key>sourceSize</key>
                <string>{304,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldSeverMapNew.png</string>
            <key>size</key>
            <string>{1634,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad9e80735e311a265d09f1fe36fbfbf:1/1$</string>
            <key>textureFileName</key>
            <string>worldSeverMapNew.png</string>
        </dict>
    </dict>
</plist>
