<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_sgbz01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,668},{24,18}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,66},{24,18}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,576},{56,54}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,33},{56,54}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,446},{78,64}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,737},{90,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{90,74}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,533},{94,82}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{94,82}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,202},{94,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,86}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,266},{92,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{92,82}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,178},{92,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{92,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,303},{94,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{94,80}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,442},{76,80}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{76,80}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,3},{60,68}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{60,68}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,470},{46,40}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{46,40}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,80},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,80},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,721},{120,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,619},{120,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,613},{120,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,511},{120,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,409},{120,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,721},{120,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,708},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,610},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,398},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,300},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,409},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,3},{120,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,506},{54,43}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{54,43}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,678},{70,55}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{70,55}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,596},{78,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,61}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,514},{78,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,61}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,354},{80,63}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,401},{80,65}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,438},{80,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,365},{80,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,442},{76,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{76,63}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,737},{76,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{76,61}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,101},{70,61}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{70,61}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,514},{58,55}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{58,55}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,698},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,610},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,522},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,698},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,610},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,522},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,354},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,277},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,266},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,189},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,178},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,189},{110,82}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,82}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,101},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,522},{110,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,724},{48,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,672},{48,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,724},{48,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,564},{48,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,672},{48,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,30}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,616},{48,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,790},{48,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,776},{48,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,758},{48,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,812},{48,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,812},{48,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,812},{48,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,636},{48,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz05_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,470},{48,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,548},{268,73}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{268,73}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,471},{268,73}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{268,73}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,394},{268,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{268,73}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,317},{270,73}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{270,73}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,161},{270,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{270,75}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,3},{270,75}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{270,75}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,82},{272,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{272,75}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{276,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{276,75}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,82},{272,73}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{272,73}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,700},{270,69}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{270,69}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,773},{268,65}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{268,65}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,625},{270,71}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{270,71}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,240},{270,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{270,73}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_XL_sgbz06_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,3},{270,73}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{270,73}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>dh_Tex_sgbz_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,802},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>dh_Tex_sgbz_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,365},{77,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>dh_Tex_sgbz_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,202},{238,92}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{238,92}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>dh_Tex_sgbz_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,159},{300,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{300,39}}</string>
                <key>sourceSize</key>
                <string>{320,39}</string>
            </dict>
            <key>dh_Tex_sgbz_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,298},{180,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,107}}</string>
                <key>sourceSize</key>
                <string>{180,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ancientReelEffect.png</string>
            <key>size</key>
            <string>{1018,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:044351885e4237862b4a254eb2a6ab19:1/1$</string>
            <key>textureFileName</key>
            <string>ancientReelEffect.png</string>
        </dict>
    </dict>
</plist>
