<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_znzr01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,926},{240,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{240,80}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,860},{260,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,116}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,698},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,599},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,475},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,736},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,682},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,612},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,558},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,434},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,488},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,434},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,364},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,240},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,132},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_XL_znzr01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,806},{260,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,116}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>dh_Tex_znzr_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,190},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>dh_Tex_znzr_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{233,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,326}}</string>
                <key>sourceSize</key>
                <string>{233,326}</string>
            </dict>
            <key>dh_Tex_znzr_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,256},{215,273}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,273}}</string>
                <key>sourceSize</key>
                <string>{215,277}</string>
            </dict>
            <key>dh_Tex_znzr_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,723},{213,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,235}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>dh_Tex_znzr_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,3},{183,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,324}}</string>
                <key>sourceSize</key>
                <string>{183,324}</string>
            </dict>
            <key>dh_Tex_znzr_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,240},{77,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,61}}</string>
                <key>sourceSize</key>
                <string>{77,61}</string>
            </dict>
            <key>dh_Tex_znzr_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,3},{125,267}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,267}}</string>
                <key>sourceSize</key>
                <string>{125,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniversaryCountdown3.png</string>
            <key>size</key>
            <string>{933,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89b323f3a60472329e675acd0c8bbba4:1/1$</string>
            <key>textureFileName</key>
            <string>anniversaryCountdown3.png</string>
        </dict>
    </dict>
</plist>
