<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_LT_fasong.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1007},{48,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Icon_LT_shuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,265},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Icon_LT_yuying.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1258},{40,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{40,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bg_WorldCup_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,265},{551,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,150}}</string>
                <key>sourceSize</key>
                <string>{551,150}</string>
            </dict>
            <key>bg_ZJM_iphonex_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,113},{320,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,35}}</string>
                <key>sourceSize</key>
                <string>{320,35}</string>
            </dict>
            <key>bg_ZJM_iphonex_ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,856},{320,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,72}}</string>
                <key>sourceSize</key>
                <string>{320,72}</string>
            </dict>
            <key>bg_chaptermap_sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,298},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_common_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,662},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg_common_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,120}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>bg_common_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,120}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>bg_kuangzhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1252},{25,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,124}}</string>
                <key>sourceSize</key>
                <string>{25,124}</string>
            </dict>
            <key>btn_yejianmoshiqihuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,945},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btn_yejianmoshiqihuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,329},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>dh_anniuzjm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1281},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1188},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1239},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1071},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1197},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1155},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1113},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1071},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1029},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1281},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,391},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,819},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>dh_anniuzjmlv_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,585},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,591},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,113},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1241},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1089},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1089},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1089},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1037},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1106},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1106},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1106},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_anniuzjmlv_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1054},{148,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dh_gongjian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1258},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_gongjian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1258},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_gongjian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,900},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>dh_gongjianmz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,859},{82,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dh_gongjianmz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,945},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_gongjianmz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,964},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>dh_gongjianmz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,866},{94,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{94,200}}</string>
                <key>sourceSize</key>
                <string>{98,200}</string>
            </dict>
            <key>dh_gongjianmz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,265},{24,30}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{24,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_gongjianmz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,710},{128,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,35}}</string>
                <key>sourceSize</key>
                <string>{128,35}</string>
            </dict>
            <key>dh_gongjianmz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1002},{170,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,31}}</string>
                <key>sourceSize</key>
                <string>{170,31}</string>
            </dict>
            <key>eng.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,152},{137,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,22}}</string>
                <key>sourceSize</key>
                <string>{137,22}</string>
            </dict>
            <key>eng_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,402},{179,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,34}}</string>
                <key>sourceSize</key>
                <string>{179,34}</string>
            </dict>
            <key>et_ah_power_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,964},{302,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,41}}</string>
                <key>sourceSize</key>
                <string>{302,41}</string>
            </dict>
            <key>frame_advanced_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,900},{87,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{87,43}</string>
            </dict>
            <key>frame_alliance_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,419},{574,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,1}}</string>
                <key>sourceSize</key>
                <string>{574,1}</string>
            </dict>
            <key>frame_alliance_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,743},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>frame_chongzhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,932},{314,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{314,66}}</string>
                <key>sourceSize</key>
                <string>{314,70}</string>
            </dict>
            <key>frame_cw_touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,819},{76,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,27}}</string>
                <key>sourceSize</key>
                <string>{76,27}</string>
            </dict>
            <key>frame_divide_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1002},{320,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,13}}</string>
                <key>sourceSize</key>
                <string>{320,13}</string>
            </dict>
            <key>frame_gongfang_cailiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,652},{203,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,244}}</string>
                <key>sourceSize</key>
                <string>{203,244}</string>
            </dict>
            <key>frame_hd_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,419},{196,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,239}}</string>
                <key>sourceSize</key>
                <string>{196,239}</string>
            </dict>
            <key>frame_jingjichang_anniu_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,947},{227,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,51}}</string>
                <key>sourceSize</key>
                <string>{227,51}</string>
            </dict>
            <key>frame_jingjichang_anniu_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1063},{227,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,51}}</string>
                <key>sourceSize</key>
                <string>{227,51}</string>
            </dict>
            <key>frame_king_road_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,419},{640,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,7}}</string>
                <key>sourceSize</key>
                <string>{640,7}</string>
            </dict>
            <key>frame_king_road_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,329},{5,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,39}}</string>
                <key>sourceSize</key>
                <string>{5,39}</string>
            </dict>
            <key>frame_king_road_line_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,419},{552,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,38}}</string>
                <key>sourceSize</key>
                <string>{552,38}</string>
            </dict>
            <key>frame_line_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,419},{622,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{622,35}}</string>
                <key>sourceSize</key>
                <string>{628,35}</string>
            </dict>
            <key>frame_lord_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,743},{112,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,46}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>frame_quest_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,127},{622,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,134}}</string>
                <key>sourceSize</key>
                <string>{622,134}</string>
            </dict>
            <key>frame_queue_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,975},{320,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,19}}</string>
                <key>sourceSize</key>
                <string>{320,19}</string>
            </dict>
            <key>frame_round_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1128},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>frame_sheer_black_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,419},{247,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,229}}</string>
                <key>sourceSize</key>
                <string>{247,229}</string>
            </dict>
            <key>frame_sheer_white_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,419},{524,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{524,27}}</string>
                <key>sourceSize</key>
                <string>{534,27}</string>
            </dict>
            <key>frame_sheer_white_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,298},{288,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{290,116}</string>
            </dict>
            <key>frame_smsr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1002},{314,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,142}}</string>
                <key>sourceSize</key>
                <string>{314,142}</string>
            </dict>
            <key>frame_smsr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,710},{314,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,142}}</string>
                <key>sourceSize</key>
                <string>{314,142}</string>
            </dict>
            <key>frame_smsr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,564},{314,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,142}}</string>
                <key>sourceSize</key>
                <string>{314,142}</string>
            </dict>
            <key>frame_smsr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,418},{314,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,142}}</string>
                <key>sourceSize</key>
                <string>{314,142}</string>
            </dict>
            <key>frame_smsr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,152},{314,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,142}}</string>
                <key>sourceSize</key>
                <string>{314,142}</string>
            </dict>
            <key>frame_sszz_brownbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,652},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>frame_tongyong_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,662},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>frame_txjm_hst.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,964},{283,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,24}}</string>
                <key>sourceSize</key>
                <string>{283,24}</string>
            </dict>
            <key>frame_white_sheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{337,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,106}}</string>
                <key>sourceSize</key>
                <string>{337,106}</string>
            </dict>
            <key>frame_xh_toponebg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1002},{308,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,86}}</string>
                <key>sourceSize</key>
                <string>{308,86}</string>
            </dict>
            <key>icon_LT_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,508},{48,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>strafe_mode_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1002},{168,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,48}}</string>
                <key>sourceSize</key>
                <string>{168,48}</string>
            </dict>
            <key>strafe_mode_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,402},{185,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,32}}</string>
                <key>sourceSize</key>
                <string>{185,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FrameLucency.png</string>
            <key>size</key>
            <string>{1024,1325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e103037ad2e9c5daa437167d5a07dd6:1/1$</string>
            <key>textureFileName</key>
            <string>FrameLucency.png</string>
        </dict>
    </dict>
</plist>
