<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_chengwaifire1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,855},{142,118}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{142,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,297},{142,116}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{142,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,443},{142,118}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{142,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,305},{146,120}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{146,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,279},{146,118}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{146,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,153},{148,118}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{148,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,151},{150,124}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{150,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,149},{150,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,3},{150,142}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,561},{144,130}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{144,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,275},{146,136}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{146,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,3},{150,142}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,3},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,729},{132,122}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{132,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,589},{136,124}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,24},{136,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,723},{138,126}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{138,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,855},{140,128}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{140,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,855},{140,126}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{140,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,853},{142,134}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,853},{142,134}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,853},{142,134}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,715},{142,134}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,585},{142,134}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,717},{142,134}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,547},{144,134}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{144,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,685},{142,136}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{142,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,431},{144,138}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{144,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,401},{144,142}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{144,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,285},{144,142}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{144,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,149},{144,144}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,297},{142,144}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{142,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,429},{142,144}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{142,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,415},{142,144}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{142,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,157},{144,146}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{144,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,3},{144,150}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,573},{142,138}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{142,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,443},{142,138}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{142,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,575},{142,138}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{142,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_chengwaifire3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,695},{142,134}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{142,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>imageEffect_3.png</string>
            <key>size</key>
            <string>{868,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76f3f79a559fa3aeffb5d771ed5bf67:1/1$</string>
            <key>textureFileName</key>
            <string>imageEffect_3.png</string>
        </dict>
    </dict>
</plist>
