<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_cb31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1892},{67,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,140}}</string>
                <key>sourceSize</key>
                <string>{67,140}</string>
            </dict>
            <key>dh_cb31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1975},{60,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,107}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>dh_cb31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1128},{256,132}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{256,132}}</string>
                <key>sourceSize</key>
                <string>{260,158}</string>
            </dict>
            <key>dh_cb32_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1884},{87,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,164}}</string>
                <key>sourceSize</key>
                <string>{87,166}</string>
            </dict>
            <key>dh_cb32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1122},{82,127}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{82,127}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>dh_cb32_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1444},{314,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,156}}</string>
                <key>sourceSize</key>
                <string>{314,156}</string>
            </dict>
            <key>dh_cb33_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1927},{108,205}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{108,205}}</string>
                <key>sourceSize</key>
                <string>{114,205}</string>
            </dict>
            <key>dh_cb33_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,531},{84,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,186}}</string>
                <key>sourceSize</key>
                <string>{84,188}</string>
            </dict>
            <key>dh_cb33_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,415},{354,193}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{354,193}}</string>
                <key>sourceSize</key>
                <string>{356,201}</string>
            </dict>
            <key>dh_cb33_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1880},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>dh_cb33_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1049},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>dh_cb34_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1032},{86,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,207}}</string>
                <key>sourceSize</key>
                <string>{86,207}</string>
            </dict>
            <key>dh_cb34_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,384},{104,176}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,176}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>dh_cb34_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,3},{380,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,208}}</string>
                <key>sourceSize</key>
                <string>{380,208}</string>
            </dict>
            <key>dh_cb34_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1975},{60,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>dh_cb34_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1975},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>dh_cb35_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1727},{167,196}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,196}}</string>
                <key>sourceSize</key>
                <string>{167,214}</string>
            </dict>
            <key>dh_cb35_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,564},{136,158}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,158}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>dh_cb35_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,729},{385,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,202}}</string>
                <key>sourceSize</key>
                <string>{385,202}</string>
            </dict>
            <key>dh_cb35_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,923},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dh_cb35_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,3},{81,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,100}}</string>
                <key>sourceSize</key>
                <string>{81,100}</string>
            </dict>
            <key>dh_cb36_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1172},{147,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,288}}</string>
                <key>sourceSize</key>
                <string>{147,288}</string>
            </dict>
            <key>dh_cb36_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,726},{147,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,185}}</string>
                <key>sourceSize</key>
                <string>{147,185}</string>
            </dict>
            <key>dh_cb36_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,489},{366,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,236}}</string>
                <key>sourceSize</key>
                <string>{366,236}</string>
            </dict>
            <key>dh_cb36_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,464},{63,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
            <key>dh_cb36_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1705},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>dh_cb37_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1451},{155,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,270}}</string>
                <key>sourceSize</key>
                <string>{155,270}</string>
            </dict>
            <key>dh_cb37_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,877},{151,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,194}}</string>
                <key>sourceSize</key>
                <string>{151,194}</string>
            </dict>
            <key>dh_cb37_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,729},{369,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,197}}</string>
                <key>sourceSize</key>
                <string>{369,197}</string>
            </dict>
            <key>dh_cb37_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,822},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>dh_cb38_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1884},{151,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,272}}</string>
                <key>sourceSize</key>
                <string>{151,272}</string>
            </dict>
            <key>dh_cb38_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,972},{152,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,243}}</string>
                <key>sourceSize</key>
                <string>{152,243}</string>
            </dict>
            <key>dh_cb38_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1118},{381,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,201}}</string>
                <key>sourceSize</key>
                <string>{381,201}</string>
            </dict>
            <key>dh_cb38_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,721},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>dh_cb39_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1451},{161,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,272}}</string>
                <key>sourceSize</key>
                <string>{161,272}</string>
            </dict>
            <key>dh_cb39_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,215},{35,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,144}}</string>
                <key>sourceSize</key>
                <string>{35,144}</string>
            </dict>
            <key>dh_cb39_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1413},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>dh_cb39_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,3},{395,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,221}}</string>
                <key>sourceSize</key>
                <string>{395,221}</string>
            </dict>
            <key>dh_cb39_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1763},{99,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,117}}</string>
                <key>sourceSize</key>
                <string>{99,117}</string>
            </dict>
            <key>dh_cb40_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,384},{149,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,270}}</string>
                <key>sourceSize</key>
                <string>{149,270}</string>
            </dict>
            <key>dh_cb40_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,819},{149,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,247}}</string>
                <key>sourceSize</key>
                <string>{149,247}</string>
            </dict>
            <key>dh_cb40_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,489},{31,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,125}}</string>
                <key>sourceSize</key>
                <string>{31,125}</string>
            </dict>
            <key>dh_cb40_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{426,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,250}}</string>
                <key>sourceSize</key>
                <string>{426,250}</string>
            </dict>
            <key>dh_cb40_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1172},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>image_cb31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1963},{47,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{47,120}}</string>
                <key>sourceSize</key>
                <string>{67,140}</string>
            </dict>
            <key>image_cb31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1782},{42,97}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{42,97}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>image_cb31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1413},{216,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{216,104}}</string>
                <key>sourceSize</key>
                <string>{260,158}</string>
            </dict>
            <key>image_cb32_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1253},{69,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{69,144}}</string>
                <key>sourceSize</key>
                <string>{87,166}</string>
            </dict>
            <key>image_cb32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1586},{64,115}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{64,115}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>image_cb32_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1323},{282,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{282,124}}</string>
                <key>sourceSize</key>
                <string>{314,156}</string>
            </dict>
            <key>image_cb33_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1586},{100,173}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{100,173}}</string>
                <key>sourceSize</key>
                <string>{114,205}</string>
            </dict>
            <key>image_cb33_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1958},{76,174}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{76,174}}</string>
                <key>sourceSize</key>
                <string>{84,188}</string>
            </dict>
            <key>image_cb33_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1118},{322,161}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{322,161}}</string>
                <key>sourceSize</key>
                <string>{356,201}</string>
            </dict>
            <key>image_cb33_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1049},{25,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{25,30}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>image_cb33_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1003},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{25,30}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>image_cb34_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,107},{72,183}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{72,183}}</string>
                <key>sourceSize</key>
                <string>{86,207}</string>
            </dict>
            <key>image_cb34_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,294},{72,166}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{72,166}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>image_cb34_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,824},{348,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{348,174}}</string>
                <key>sourceSize</key>
                <string>{380,208}</string>
            </dict>
            <key>image_cb34_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1003},{42,52}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{42,52}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>image_cb34_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1975},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{42,51}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>image_cb35_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1253},{149,194}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{149,194}}</string>
                <key>sourceSize</key>
                <string>{167,214}</string>
            </dict>
            <key>image_cb35_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1762},{114,170}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{114,170}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>image_cb35_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1002},{351,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{351,166}}</string>
                <key>sourceSize</key>
                <string>{385,202}</string>
            </dict>
            <key>image_cb35_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1927},{42,62}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{42,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>image_cb35_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1295},{47,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{47,56}}</string>
                <key>sourceSize</key>
                <string>{81,100}</string>
            </dict>
            <key>image_cb36_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,537},{129,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{129,268}}</string>
                <key>sourceSize</key>
                <string>{147,288}</string>
            </dict>
            <key>image_cb36_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1122},{127,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{127,167}}</string>
                <key>sourceSize</key>
                <string>{147,185}</string>
            </dict>
            <key>image_cb36_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,612},{336,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{336,208}}</string>
                <key>sourceSize</key>
                <string>{366,236}</string>
            </dict>
            <key>image_cb36_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1346},{45,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{45,54}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
            <key>image_cb36_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1927},{44,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{44,53}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>image_cb37_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1264},{145,258}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{145,258}}</string>
                <key>sourceSize</key>
                <string>{155,270}</string>
            </dict>
            <key>image_cb37_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1406},{141,176}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{141,176}}</string>
                <key>sourceSize</key>
                <string>{151,194}</string>
            </dict>
            <key>image_cb37_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,215},{341,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{341,165}}</string>
                <key>sourceSize</key>
                <string>{369,197}</string>
            </dict>
            <key>image_cb37_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1975},{59,75}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{59,75}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>image_cb38_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1413},{139,262}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{139,262}}</string>
                <key>sourceSize</key>
                <string>{151,272}</string>
            </dict>
            <key>image_cb38_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1725},{140,229}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{140,229}}</string>
                <key>sourceSize</key>
                <string>{152,243}</string>
            </dict>
            <key>image_cb38_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,228},{361,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{361,183}}</string>
                <key>sourceSize</key>
                <string>{381,201}</string>
            </dict>
            <key>image_cb38_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1975},{59,75}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{59,75}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>image_cb39_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,670},{145,262}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{145,262}}</string>
                <key>sourceSize</key>
                <string>{161,272}</string>
            </dict>
            <key>image_cb39_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,228},{19,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{19,132}}</string>
                <key>sourceSize</key>
                <string>{35,144}</string>
            </dict>
            <key>image_cb39_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1645},{150,220}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{150,220}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>image_cb39_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1503},{377,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{377,201}}</string>
                <key>sourceSize</key>
                <string>{395,221}</string>
            </dict>
            <key>image_cb39_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1953},{75,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{75,95}}</string>
                <key>sourceSize</key>
                <string>{99,117}</string>
            </dict>
            <key>image_cb40_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1679},{135,244}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{135,244}}</string>
                <key>sourceSize</key>
                <string>{149,270}</string>
            </dict>
            <key>image_cb40_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1645},{135,243}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{135,243}}</string>
                <key>sourceSize</key>
                <string>{149,247}</string>
            </dict>
            <key>image_cb40_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1782},{19,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{19,115}}</string>
                <key>sourceSize</key>
                <string>{31,125}</string>
            </dict>
            <key>image_cb40_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,257},{406,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{406,228}}</string>
                <key>sourceSize</key>
                <string>{426,250}</string>
            </dict>
            <key>image_cb40_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1869},{80,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,105}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warLvImage.png</string>
            <key>size</key>
            <string>{1300,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d781075694006974b4b51efe5751ff:1/1$</string>
            <key>textureFileName</key>
            <string>warLvImage.png</string>
        </dict>
    </dict>
</plist>
