<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sgboss_dj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1031},{122,122}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,107},{122,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1001},{122,122}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,107},{122,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1075},{122,120}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,108},{122,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1435},{120,120}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,108},{120,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1425},{120,118}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,109},{120,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1359},{120,118}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,109},{120,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1547},{118,118}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,108},{118,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1597},{116,118}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,108},{116,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1635},{114,118}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,108},{114,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1601},{112,118}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,108},{112,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1673},{112,118}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,108},{112,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1717},{110,118}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,108},{110,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1669},{110,118}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,108},{110,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1559},{110,120}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,107},{110,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1521},{110,120}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,107},{110,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1245},{110,122}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,106},{110,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1319},{112,122}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,106},{112,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1279},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,106},{114,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1251},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,106},{114,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1199},{116,122}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{116,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1157},{118,122}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,106},{118,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1127},{120,122}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,106},{120,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1075},{120,122}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,106},{120,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_dj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,949},{122,122}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,107},{122,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1831},{88,116}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,113},{88,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1831},{96,116}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,113},{96,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1483},{100,116}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,113},{100,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1923},{106,114}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,115},{106,114}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1923},{110,112}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,117},{110,112}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1783},{116,114}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,115},{116,114}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1003},{120,122}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,113},{120,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,383},{102,136}}</string>
                <key>offset</key>
                <string>{13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,106},{102,136}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,247},{88,144}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,99},{88,144}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,539},{100,134}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,105},{100,134}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,829},{116,126}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,104},{116,126}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,273},{128,126}}</string>
                <key>offset</key>
                <string>{-21,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,103},{128,126}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,3},{132,122}}</string>
                <key>offset</key>
                <string>{-21,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,107},{132,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,453},{134,120}}</string>
                <key>offset</key>
                <string>{-21,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,109},{134,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,471},{134,118}}</string>
                <key>offset</key>
                <string>{-23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,111},{134,118}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,709},{128,116}}</string>
                <key>offset</key>
                <string>{-27,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,113},{128,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,763},{126,116}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,113},{126,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,883},{124,116}}</string>
                <key>offset</key>
                <string>{-28,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,113},{124,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,833},{126,116}}</string>
                <key>offset</key>
                <string>{-28,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,113},{126,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,643},{128,116}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,113},{128,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,713},{128,116}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,113},{128,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1481},{120,116}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,113},{120,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1711},{106,116}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,113},{106,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_wn_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1817},{92,116}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,113},{92,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1397},{120,120}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,109},{120,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1199},{114,122}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,107},{114,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,891},{106,126}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,102},{106,126}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,685},{96,130}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,98},{96,130}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,709},{88,130}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,97},{88,130}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,593},{88,132}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,95},{88,132}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,785},{102,128}}</string>
                <key>offset</key>
                <string>{25,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,96},{102,128}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,953},{118,124}}</string>
                <key>offset</key>
                <string>{34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,93},{118,124}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,139},{130,122}}</string>
                <key>offset</key>
                <string>{33,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,95},{130,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,339},{138,110}}</string>
                <key>offset</key>
                <string>{27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,107},{138,110}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,251},{142,106}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,125},{142,106}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,251},{142,108}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,136},{142,108}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,267},{140,112}}</string>
                <key>offset</key>
                <string>{-13,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,137},{140,112}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,135},{142,112}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,138},{142,112}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,127},{146,116}}</string>
                <key>offset</key>
                <string>{-16,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,137},{146,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,3},{146,120}}</string>
                <key>offset</key>
                <string>{-16,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,136},{146,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,3},{146,124}}</string>
                <key>offset</key>
                <string>{-17,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,133},{146,124}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,3},{148,126}}</string>
                <key>offset</key>
                <string>{-18,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,131},{148,126}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{148,128}}</string>
                <key>offset</key>
                <string>{-18,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,128},{148,128}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,133},{142,130}}</string>
                <key>offset</key>
                <string>{-15,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,125},{142,130}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,363},{138,132}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,121},{138,132}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,405},{136,130}}</string>
                <key>offset</key>
                <string>{-13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,119},{136,130}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,577},{132,128}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,114},{132,128}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_gj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,801},{126,122}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,111},{126,122}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1477},{116,120}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,109},{116,120}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,131},{144,116}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,120},{144,116}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1127},{122,114}}</string>
                <key>offset</key>
                <string>{-11,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,126},{122,114}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1789},{118,104}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,132},{118,104}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1753},{118,104}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,131},{118,104}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1369},{122,104}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,134},{122,104}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,927},{126,100}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,138},{126,100}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,607},{130,102}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,139},{130,102}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,499},{134,104}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,139},{134,104}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,361},{136,106}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,138},{136,106}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,489},{134,106}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,138},{134,106}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,599},{130,106}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,136},{130,106}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1317},{122,104}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,133},{122,104}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1931},{114,100}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,131},{114,100}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1931},{114,102}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,129},{114,102}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1603},{108,104}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,128},{108,104}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1931},{110,100}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,130},{110,100}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1931},{112,102}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,130},{112,102}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1717},{118,96}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,134},{118,96}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1361},{118,96}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,140},{118,96}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1237},{120,88}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,152},{120,88}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1113},{120,70}}</string>
                <key>offset</key>
                <string>{11,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,174},{120,70}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,883},{114,64}}</string>
                <key>offset</key>
                <string>{19,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,182},{114,64}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
            <key>sgboss_sw_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1001},{108,64}}</string>
                <key>offset</key>
                <string>{24,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,182},{108,64}}</string>
                <key>sourceSize</key>
                <string>{250,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBossWindTower.png</string>
            <key>size</key>
            <string>{732,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa24ecb3677bec64147e30d3bb1a50a7:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBossWindTower.png</string>
        </dict>
    </dict>
</plist>
