<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xwxuzhuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{57,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{57,80}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{55,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,82}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{55,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{55,80}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{55,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{55,80}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{57,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{57,82}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{57,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,84}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,82}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{57,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,84}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{57,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{57,84}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{57,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{57,82}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{57,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{57,82}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{59,82}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{59,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{59,82}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,84}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>dh_xwxuzhuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{57,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{57,84}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xwxuzhuang.png</string>
            <key>size</key>
            <string>{63,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a467cced06c3f1c7e23e9292156076e7:1/1$</string>
            <key>textureFileName</key>
            <string>xwxuzhuang.png</string>
        </dict>
    </dict>
</plist>
