<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,659}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,659}}</string>
                <key>sourceSize</key>
                <string>{636,659}</string>
            </dict>
            <key>dh_chuanqibazhucb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,664},{153,268}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{153,268}}</string>
                <key>sourceSize</key>
                <string>{155,272}</string>
            </dict>
            <key>dh_chuanqibazhucb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{299,301}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,301}}</string>
                <key>sourceSize</key>
                <string>{299,303}</string>
            </dict>
            <key>dh_chuanqibazhucb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,304},{73,178}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,178}}</string>
                <key>sourceSize</key>
                <string>{79,184}</string>
            </dict>
            <key>dh_chuanqibazhucb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,731},{137,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,113}}</string>
                <key>sourceSize</key>
                <string>{141,113}</string>
            </dict>
            <key>dh_chuanqibazhucb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,616},{169,168}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{169,168}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>dh_chuanqibazhucb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,616},{176,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{176,112}}</string>
                <key>sourceSize</key>
                <string>{186,126}</string>
            </dict>
            <key>dh_chuanqibazhucb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,304},{273,309}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{273,309}}</string>
                <key>sourceSize</key>
                <string>{285,313}</string>
            </dict>
            <key>dh_part_29_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{395,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,197}}</string>
                <key>sourceSize</key>
                <string>{395,197}</string>
            </dict>
            <key>dh_part_29_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,820},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>dh_part_29_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,820},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>dh_part_29_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,820},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_29.png</string>
            <key>size</key>
            <string>{1020,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:266c1fc0850dcc631932e169b2f9c05d:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_29.png</string>
        </dict>
    </dict>
</plist>
