<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,681}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,681}}</string>
                <key>sourceSize</key>
                <string>{658,681}</string>
            </dict>
            <key>dh_liushuicb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1418},{41,135}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{41,135}}</string>
                <key>sourceSize</key>
                <string>{41,143}</string>
            </dict>
            <key>dh_liushuicb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1462},{43,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,131}}</string>
                <key>sourceSize</key>
                <string>{45,135}</string>
            </dict>
            <key>dh_liushuicb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1544},{55,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,138}}</string>
                <key>sourceSize</key>
                <string>{59,138}</string>
            </dict>
            <key>dh_liushuicb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,919},{113,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,181}}</string>
                <key>sourceSize</key>
                <string>{115,183}</string>
            </dict>
            <key>dh_liushuicb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1124},{260,166}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{260,166}}</string>
                <key>sourceSize</key>
                <string>{268,170}</string>
            </dict>
            <key>dh_liushuicb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,919},{202,299}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{202,299}}</string>
                <key>sourceSize</key>
                <string>{202,307}</string>
            </dict>
            <key>dh_liushuicb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1103},{55,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,112}}</string>
                <key>sourceSize</key>
                <string>{55,122}</string>
            </dict>
            <key>dh_liushuicb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1293},{250,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,248}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>dh_liushuicb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1239},{176,142}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{176,142}}</string>
                <key>sourceSize</key>
                <string>{180,148}</string>
            </dict>
            <key>dh_part_15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1544},{65,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,164}}</string>
                <key>sourceSize</key>
                <string>{65,164}</string>
            </dict>
            <key>dh_part_15_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1161},{75,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,144}}</string>
                <key>sourceSize</key>
                <string>{75,144}</string>
            </dict>
            <key>dh_part_15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{658,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,230}}</string>
                <key>sourceSize</key>
                <string>{658,230}</string>
            </dict>
            <key>dh_part_15_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{680,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,240}}</string>
                <key>sourceSize</key>
                <string>{680,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_15.png</string>
            <key>size</key>
            <string>{662,1611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e3903bd948f19fac7bbe0c8012b8bb3:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_15.png</string>
        </dict>
    </dict>
</plist>
