<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>constructed_fa1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1667},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1667},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1667},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1667},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1334},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1334},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1334},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1001},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1001},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1001},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,668},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,668},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,668},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,335},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,335},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,335},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
            <key>constructed_fa1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,330}}</string>
                <key>sourceSize</key>
                <string>{390,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_44_fa1.png</string>
            <key>size</key>
            <string>{1573,1999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2738c935b2420533cd84708269a2588:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_44_fa1.png</string>
        </dict>
    </dict>
</plist>
