<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_castleSkin_43_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1158,1255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1158,1255}}</string>
                <key>sourceSize</key>
                <string>{1158,1255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_43_rosfa.png</string>
            <key>size</key>
            <string>{1162,1259}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1863839cb63ac85ec097949ed800dacf:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_43_rosfa.png</string>
        </dict>
    </dict>
</plist>
