<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{671,663}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,663}}</string>
                <key>sourceSize</key>
                <string>{671,663}</string>
            </dict>
            <key>dh_17shengdancb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{213,423}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{213,423}}</string>
                <key>sourceSize</key>
                <string>{215,427}</string>
            </dict>
            <key>dh_17shengdancb_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1894},{136,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,158}}</string>
                <key>sourceSize</key>
                <string>{136,162}</string>
            </dict>
            <key>dh_17shengdancb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{219,537}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{219,537}}</string>
                <key>sourceSize</key>
                <string>{223,537}</string>
            </dict>
            <key>dh_17shengdancb_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1471},{285,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,226}}</string>
                <key>sourceSize</key>
                <string>{285,226}</string>
            </dict>
            <key>dh_17shengdancb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1340},{229,128}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{229,128}}</string>
                <key>sourceSize</key>
                <string>{235,130}</string>
            </dict>
            <key>dh_17shengdancb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{283,484}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{283,484}}</string>
                <key>sourceSize</key>
                <string>{285,490}</string>
            </dict>
            <key>dh_17shengdancb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,945},{392,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,242}}</string>
                <key>sourceSize</key>
                <string>{392,246}</string>
            </dict>
            <key>dh_part_23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{458,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,275}}</string>
                <key>sourceSize</key>
                <string>{458,275}</string>
            </dict>
            <key>dh_part_23_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{435,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,275}}</string>
                <key>sourceSize</key>
                <string>{435,275}</string>
            </dict>
            <key>dh_part_23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1700},{276,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,191}}</string>
                <key>sourceSize</key>
                <string>{276,191}</string>
            </dict>
            <key>dh_part_23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,668},{274,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,174}}</string>
                <key>sourceSize</key>
                <string>{274,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_23.png</string>
            <key>size</key>
            <string>{733,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1c92166907effdbdb6dfe1edd54d65c:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_23.png</string>
        </dict>
    </dict>
</plist>
