<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{661,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,675}}</string>
                <key>sourceSize</key>
                <string>{661,675}</string>
            </dict>
            <key>dh_18shengdanjiecb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{170,263}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{170,263}}</string>
                <key>sourceSize</key>
                <string>{170,269}</string>
            </dict>
            <key>dh_18shengdanjiecb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,674},{256,188}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,188}}</string>
                <key>sourceSize</key>
                <string>{256,194}</string>
            </dict>
            <key>dh_18shengdanjiecb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,933},{45,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,78}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>dh_18shengdanjiecb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{321,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,445}}</string>
                <key>sourceSize</key>
                <string>{321,445}</string>
            </dict>
            <key>dh_18shengdanjiecb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,450},{221,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,301}}</string>
                <key>sourceSize</key>
                <string>{221,301}</string>
            </dict>
            <key>sdcn_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,833},{90,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,674},{94,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,852},{100,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,674},{94,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,833},{90,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,852},{94,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,852},{100,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,852},{94,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>sdcn_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,674},{175,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,71}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
            <key>sdcn_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,674},{175,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
            <key>sdcn_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,674},{175,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
            <key>sdcn_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,674},{175,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
            <key>sdcn_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,674},{175,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,71}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
            <key>sdcn_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,674},{175,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,71}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
            <key>sdcn_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,933},{175,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,71}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
            <key>sdcn_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{175,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,71}}</string>
                <key>sourceSize</key>
                <string>{175,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_25.png</string>
            <key>size</key>
            <string>{1004,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf70c1bc1d8f05edd2727cbf2921646:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_25.png</string>
        </dict>
    </dict>
</plist>
