<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>constructed_fa4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,930},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,928},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,234},{393,243}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{393,243}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,234},{415,229}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{415,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{419,229}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{419,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,944},{409,229}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{409,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,234},{385,229}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{385,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,466},{379,227}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{379,227}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,698},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,696},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,698},{395,243}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{395,243}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{415,229}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{415,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{419,229}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{419,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,466},{409,229}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{409,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{385,229}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{385,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,466},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,942},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{397,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{397,243}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{413,229}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{413,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,229}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{419,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{409,229}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{409,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,480},{385,227}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{385,227}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
            <key>constructed_fa4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,710},{379,229}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{379,229}}</string>
                <key>sourceSize</key>
                <string>{425,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_44_fa3.png</string>
            <key>size</key>
            <string>{2001,1175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8b1d60c3903e454eb61992e21c5610:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_44_fa3.png</string>
        </dict>
    </dict>
</plist>
