<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_part_20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{670,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,369}}</string>
                <key>sourceSize</key>
                <string>{670,369}</string>
            </dict>
            <key>dh_part_20_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,373}}</string>
                <key>sourceSize</key>
                <string>{670,373}</string>
            </dict>
            <key>dh_yanjingwscb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,374},{133,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,209}}</string>
                <key>sourceSize</key>
                <string>{135,209}</string>
            </dict>
            <key>dh_yanjingwscb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,268},{146,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,135}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>dh_yanjingwscb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,374},{142,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,131}}</string>
                <key>sourceSize</key>
                <string>{142,131}</string>
            </dict>
            <key>dh_yanjingwscb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{85,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,129}}</string>
                <key>sourceSize</key>
                <string>{85,129}</string>
            </dict>
            <key>dh_yanjingwscb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,2},{263,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,158}}</string>
                <key>sourceSize</key>
                <string>{263,158}</string>
            </dict>
            <key>dh_yanjingwscb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,378},{158,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,113}}</string>
                <key>sourceSize</key>
                <string>{158,113}</string>
            </dict>
            <key>dh_yanjingwscb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,378},{120,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,226}}</string>
                <key>sourceSize</key>
                <string>{120,226}</string>
            </dict>
            <key>dh_yanjingwscb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,268},{270,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,231}}</string>
                <key>sourceSize</key>
                <string>{270,231}</string>
            </dict>
            <key>dh_yanjingwscb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{262,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,302}}</string>
                <key>sourceSize</key>
                <string>{262,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_20.png</string>
            <key>size</key>
            <string>{1813,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0491a634e2d80a2b8fbca51533e586:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_20.png</string>
        </dict>
    </dict>
</plist>
