<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{917,1015}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,1015}}</string>
                <key>sourceSize</key>
                <string>{917,1015}</string>
            </dict>
            <key>castleSkin_53_night_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1010},{711,938}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,938}}</string>
                <key>sourceSize</key>
                <string>{711,938}</string>
            </dict>
            <key>castleSkin_53_night_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,400},{554,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,298}}</string>
                <key>sourceSize</key>
                <string>{554,298}</string>
            </dict>
            <key>dh_part_53_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1150,1005}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1150,1005}}</string>
                <key>sourceSize</key>
                <string>{1150,1005}</string>
            </dict>
            <key>dh_part_53_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{463,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,395}}</string>
                <key>sourceSize</key>
                <string>{463,395}</string>
            </dict>
            <key>dh_part_53_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,160},{30,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,133}}</string>
                <key>sourceSize</key>
                <string>{30,133}</string>
            </dict>
            <key>dh_part_53_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{45,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,155}}</string>
                <key>sourceSize</key>
                <string>{45,155}</string>
            </dict>
            <key>dh_part_53_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,400},{446,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,232}}</string>
                <key>sourceSize</key>
                <string>{446,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_53.png</string>
            <key>size</key>
            <string>{1690,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52c8445db7f256c9b6159f7f0b342fbb:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_53.png</string>
        </dict>
    </dict>
</plist>
