<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{649,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,590}}</string>
                <key>sourceSize</key>
                <string>{649,590}</string>
            </dict>
            <key>dh_19zhaiyuecb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,834},{174,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{174,154}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>dh_19zhaiyuecb_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,834},{163,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,213}}</string>
                <key>sourceSize</key>
                <string>{163,213}</string>
            </dict>
            <key>dh_19zhaiyuecb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,834},{154,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,239}}</string>
                <key>sourceSize</key>
                <string>{154,239}</string>
            </dict>
            <key>dh_19zhaiyuecb_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{229,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,272}}</string>
                <key>sourceSize</key>
                <string>{229,272}</string>
            </dict>
            <key>dh_19zhaiyuecb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,904},{97,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,93}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>dh_19zhaiyuecb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{253,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,176}}</string>
                <key>sourceSize</key>
                <string>{253,176}</string>
            </dict>
            <key>dh_19zhaiyuecb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,298},{233,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,191}}</string>
                <key>sourceSize</key>
                <string>{233,191}</string>
            </dict>
            <key>dh_19zhaiyuecb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,595},{172,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,74}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>dh_19zhaiyuecb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,770},{131,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>dh_19zhaiyuecb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{233,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,293}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>dh_19zhaiyuecb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,859},{148,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,215}}</string>
                <key>sourceSize</key>
                <string>{148,215}</string>
            </dict>
            <key>dh_19zhaiyuecb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,595},{243,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,261}}</string>
                <key>sourceSize</key>
                <string>{243,261}</string>
            </dict>
            <key>dh_part_28_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,521},{516,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,310}}</string>
                <key>sourceSize</key>
                <string>{516,310}</string>
            </dict>
            <key>dh_part_28_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{516,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,310}}</string>
                <key>sourceSize</key>
                <string>{516,310}</string>
            </dict>
            <key>dh_part_28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,492},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_28.png</string>
            <key>size</key>
            <string>{1244,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b68ce49af2c3ba50f28be90e44cda86d:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_28.png</string>
        </dict>
    </dict>
</plist>
