<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,721}}</string>
                <key>sourceSize</key>
                <string>{670,721}</string>
            </dict>
            <key>dh_feitiancb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{237,268}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{237,268}}</string>
                <key>sourceSize</key>
                <string>{241,268}</string>
            </dict>
            <key>dh_feitiancb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,939},{59,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,46}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>dh_feitiancb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,726},{235,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,210}}</string>
                <key>sourceSize</key>
                <string>{235,210}</string>
            </dict>
            <key>dh_feitiancb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,726},{197,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,232}}</string>
                <key>sourceSize</key>
                <string>{197,232}</string>
            </dict>
            <key>dh_feitiancb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,660},{69,278}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{69,278}}</string>
                <key>sourceSize</key>
                <string>{73,286}</string>
            </dict>
            <key>dh_feitiancb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,236},{222,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,133}}</string>
                <key>sourceSize</key>
                <string>{222,133}</string>
            </dict>
            <key>dh_feitiancb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,660},{200,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,112}}</string>
                <key>sourceSize</key>
                <string>{200,112}</string>
            </dict>
            <key>dh_feitiancb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,863},{88,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>dh_feitiancb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{192,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,231}}</string>
                <key>sourceSize</key>
                <string>{192,231}</string>
            </dict>
            <key>dh_part_12_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,461},{196,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,119}}</string>
                <key>sourceSize</key>
                <string>{196,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_12.png</string>
            <key>size</key>
            <string>{869,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0c89ae674aa3c73174dd441a0a121ed:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_12.png</string>
        </dict>
    </dict>
</plist>
