<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,825},{862,844}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{862,844}}</string>
                <key>sourceSize</key>
                <string>{862,844}</string>
            </dict>
            <key>dh_baowangcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1329},{646,402}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{646,402}}</string>
                <key>sourceSize</key>
                <string>{648,420}</string>
            </dict>
            <key>dh_baowangcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1673},{361,547}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,547}}</string>
                <key>sourceSize</key>
                <string>{361,549}</string>
            </dict>
            <key>dh_baowangcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,939},{484,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,386}}</string>
                <key>sourceSize</key>
                <string>{484,388}</string>
            </dict>
            <key>dh_baowangcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,491},{65,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{65,68}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>dh_baowangcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,658},{181,159}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,159}}</string>
                <key>sourceSize</key>
                <string>{185,159}</string>
            </dict>
            <key>dh_baowangcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,3},{252,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,249}}</string>
                <key>sourceSize</key>
                <string>{252,249}</string>
            </dict>
            <key>dh_baowangcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,333},{219,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{219,154}}</string>
                <key>sourceSize</key>
                <string>{223,154}</string>
            </dict>
            <key>dh_baowangcb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,333},{36,25}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>dh_baowangcb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,256},{73,235}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{73,235}}</string>
                <key>sourceSize</key>
                <string>{73,243}</string>
            </dict>
            <key>dh_baowangcb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1673},{299,151}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,151}}</string>
                <key>sourceSize</key>
                <string>{305,151}</string>
            </dict>
            <key>dh_part_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,825},{1193,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1193,382}}</string>
                <key>sourceSize</key>
                <string>{1193,382}</string>
            </dict>
            <key>dh_part_10_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1476,818}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1476,818}}</string>
                <key>sourceSize</key>
                <string>{1476,818}</string>
            </dict>
            <key>dh_part_10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,821},{106,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,161}}</string>
                <key>sourceSize</key>
                <string>{106,161}</string>
            </dict>
            <key>dh_part_10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,563},{372,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,58}}</string>
                <key>sourceSize</key>
                <string>{372,58}</string>
            </dict>
            <key>dh_part_10_03_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,491},{194,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,163}}</string>
                <key>sourceSize</key>
                <string>{194,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_10.png</string>
            <key>size</key>
            <string>{1749,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:108b446d99ad6f1e356b8fa0b8e77487:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_10.png</string>
        </dict>
    </dict>
</plist>
