<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_hjcb01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,876},{229,288}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{229,288}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,642},{179,252}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{179,252}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1461},{181,252}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{181,252}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,788},{181,256}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{181,256}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1510},{181,258}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{181,258}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1700},{181,258}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{181,258}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1439},{181,258}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{181,258}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1439},{181,258}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{181,258}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,958},{181,256}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{181,256}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1696},{181,256}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{181,256}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1696},{181,256}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{181,256}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1700},{181,256}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{181,256}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1512},{181,256}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{181,256}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,789},{181,254}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{181,254}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1047},{179,254}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,32},{179,254}}</string>
                <key>sourceSize</key>
                <string>{233,300}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1880},{255,164}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,14},{255,164}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1645},{265,174}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{265,174}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1229},{267,146}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,32},{267,146}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1238},{271,150}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,28},{271,150}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,376},{273,154}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,25},{273,154}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1638},{251,156}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,23},{251,156}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1378},{255,158}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,21},{255,158}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1378},{257,156}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,22},{257,156}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1884},{265,162}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,15},{265,162}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1884},{271,160}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{271,160}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,795},{267,160}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,14},{267,160}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{275,166}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{275,166}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1128},{279,172}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{279,172}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1880},{261,164}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,13},{261,164}}</string>
                <key>sourceSize</key>
                <string>{333,200}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,280},{307,135}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{307,135}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1652},{307,133}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{307,133}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,240},{307,133}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{307,133}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1303},{307,133}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{307,133}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1376},{305,131}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{305,131}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1102},{305,133}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{305,133}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1238},{305,135}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{305,135}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,280},{307,137}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,27},{307,137}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1151},{307,135}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,27},{307,135}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,516},{305,131}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{305,131}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,650},{305,135}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{305,135}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,964},{305,135}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{305,135}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,824},{305,137}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{305,137}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,376},{305,137}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{305,137}}</string>
                <key>sourceSize</key>
                <string>{333,167}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1196},{160,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,33},{160,54}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1864},{176,70}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,20},{176,70}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1047},{190,64}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{190,64}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1797},{200,64}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{200,64}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1253},{206,54}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{206,54}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1938},{206,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{206,62}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,280},{170,68}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,24},{170,68}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1310},{176,76}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,18},{176,76}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1864},{182,56}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,38},{182,56}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,1591},{188,60}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{188,60}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1962},{190,58}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{190,58}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1591},{166,60}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,35},{166,60}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1913},{172,58}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{172,58}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_XL_hjcb05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1974},{176,58}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{176,58}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>dh_Tex_hjcb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,391},{248,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,198}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>dh_Tex_hjcb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1046},{137,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,147}}</string>
                <key>sourceSize</key>
                <string>{137,147}</string>
            </dict>
            <key>dh_Tex_hjcb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,505},{277,368}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,368}}</string>
                <key>sourceSize</key>
                <string>{281,368}</string>
            </dict>
            <key>dh_Tex_hjcb_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1470},{154,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{154,61}}</string>
                <key>sourceSize</key>
                <string>{184,63}</string>
            </dict>
            <key>dh_Tex_hjcb_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{273,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,283}}</string>
                <key>sourceSize</key>
                <string>{273,283}</string>
            </dict>
            <key>dh_Tex_hjcb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1108},{203,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,282}}</string>
                <key>sourceSize</key>
                <string>{203,282}</string>
            </dict>
            <key>dh_Tex_hjcb_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,391},{203,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,314}}</string>
                <key>sourceSize</key>
                <string>{203,314}</string>
            </dict>
            <key>dh_Tex_hjcb_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{289,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,275}}</string>
                <key>sourceSize</key>
                <string>{289,275}</string>
            </dict>
            <key>dh_Tex_hjcbd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,597},{176,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,310}}</string>
                <key>sourceSize</key>
                <string>{176,310}</string>
            </dict>
            <key>dh_Tex_hjcbd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,652},{192,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,134}}</string>
                <key>sourceSize</key>
                <string>{192,134}</string>
            </dict>
            <key>dh_Tex_hjcbd_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,776},{289,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,187}}</string>
                <key>sourceSize</key>
                <string>{289,187}</string>
            </dict>
            <key>dh_Tex_hjcbd_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,966},{291,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,159}}</string>
                <key>sourceSize</key>
                <string>{291,159}</string>
            </dict>
            <key>dh_Tex_hjcbd_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{309,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,235}}</string>
                <key>sourceSize</key>
                <string>{309,235}</string>
            </dict>
            <key>dh_Tex_hjcbd_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1864},{90,178}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,178}}</string>
                <key>sourceSize</key>
                <string>{98,184}</string>
            </dict>
            <key>dh_Tex_hjcbd_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1310},{100,157}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,157}}</string>
                <key>sourceSize</key>
                <string>{128,171}</string>
            </dict>
            <key>dh_Tex_hjcbd_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1393},{63,89}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{77,89}</string>
            </dict>
            <key>dh_Tex_hjcbd_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,1489},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>dh_Tex_hjcbd_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,1782},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>dh_Tex_hjcbd_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,590},{187,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,202}}</string>
                <key>sourceSize</key>
                <string>{187,202}</string>
            </dict>
            <key>dh_part_45_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{427,643}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,643}}</string>
                <key>sourceSize</key>
                <string>{427,643}</string>
            </dict>
            <key>dh_part_45_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{331,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,498}}</string>
                <key>sourceSize</key>
                <string>{331,498}</string>
            </dict>
            <key>dh_part_45_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,500}}</string>
                <key>sourceSize</key>
                <string>{712,500}</string>
            </dict>
            <key>dh_part_45_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{386,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,514}}</string>
                <key>sourceSize</key>
                <string>{386,514}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_45.png</string>
            <key>size</key>
            <string>{2008,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7181cf1a5f25e0562943da6f5cd0cd8f:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_45.png</string>
        </dict>
    </dict>
</plist>
