<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,701},{911,968}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{911,968}}</string>
                <key>sourceSize</key>
                <string>{911,968}</string>
            </dict>
            <key>castleSkin_52_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{894,1023}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{894,1023}}</string>
                <key>sourceSize</key>
                <string>{894,1023}</string>
            </dict>
            <key>dh_part_52_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1512,696}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1512,696}}</string>
                <key>sourceSize</key>
                <string>{1512,696}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_52.png</string>
            <key>size</key>
            <string>{1812,1726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d991d080761b1f759b5506bce43e2d7e:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_52.png</string>
        </dict>
    </dict>
</plist>
