<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,866}}</string>
                <key>sourceSize</key>
                <string>{697,866}</string>
            </dict>
            <key>dh_18zhaiyuecb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{58,324}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,324}}</string>
                <key>sourceSize</key>
                <string>{60,324}</string>
            </dict>
            <key>dh_18zhaiyuecb_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1494},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>dh_18zhaiyuecb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,702},{69,299}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,301}</string>
            </dict>
            <key>dh_18zhaiyuecb_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,845},{74,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,265}}</string>
                <key>sourceSize</key>
                <string>{74,265}</string>
            </dict>
            <key>dh_18zhaiyuecb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,922},{264,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,256}}</string>
                <key>sourceSize</key>
                <string>{264,256}</string>
            </dict>
            <key>dh_18zhaiyuecb_03_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1502},{181,222}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{181,222}}</string>
                <key>sourceSize</key>
                <string>{181,242}</string>
            </dict>
            <key>dh_18zhaiyuecb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1621},{67,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,101}}</string>
                <key>sourceSize</key>
                <string>{67,105}</string>
            </dict>
            <key>dh_18zhaiyuecb_04_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,895},{186,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,229}}</string>
                <key>sourceSize</key>
                <string>{186,229}</string>
            </dict>
            <key>dh_18zhaiyuecb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,295},{172,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,133}}</string>
                <key>sourceSize</key>
                <string>{172,133}</string>
            </dict>
            <key>dh_18zhaiyuecb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,470},{257,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,132}}</string>
                <key>sourceSize</key>
                <string>{257,132}</string>
            </dict>
            <key>dh_18zhaiyuecb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,774},{68,276}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{68,276}}</string>
                <key>sourceSize</key>
                <string>{74,282}</string>
            </dict>
            <key>dh_18zhaiyuecb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1502},{189,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{189,115}}</string>
                <key>sourceSize</key>
                <string>{193,115}</string>
            </dict>
            <key>dh_18zhaiyuecb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1497},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>dh_18zhaiyuecb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,178},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,114}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>dh_18zhaiyuecb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{72,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,224}}</string>
                <key>sourceSize</key>
                <string>{74,224}</string>
            </dict>
            <key>dh_18zhaiyuecb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1621},{50,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,101}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>dh_18zhaiyuecb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,730},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>dh_18zhaiyuecb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1127},{184,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,201}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>dh_18zhaiyuecb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1331},{160,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,225}}</string>
                <key>sourceSize</key>
                <string>{160,225}</string>
            </dict>
            <key>dh_18zhaiyuecb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1436},{182,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,216}}</string>
                <key>sourceSize</key>
                <string>{182,216}</string>
            </dict>
            <key>dh_part_08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{562,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,363}}</string>
                <key>sourceSize</key>
                <string>{562,363}</string>
            </dict>
            <key>dh_part_08_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{550,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,365}}</string>
                <key>sourceSize</key>
                <string>{550,365}</string>
            </dict>
            <key>dh_part_08_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1181},{318,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,237}}</string>
                <key>sourceSize</key>
                <string>{318,237}</string>
            </dict>
            <key>dh_part_08_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{173,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,140}}</string>
                <key>sourceSize</key>
                <string>{173,140}</string>
            </dict>
            <key>dh_part_08_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1502},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>dh_part_08_03_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{173,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,140}}</string>
                <key>sourceSize</key>
                <string>{173,140}</string>
            </dict>
            <key>dh_part_08_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,845},{27,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,47}}</string>
                <key>sourceSize</key>
                <string>{27,47}</string>
            </dict>
            <key>dh_part_08_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,774},{20,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,49}}</string>
                <key>sourceSize</key>
                <string>{20,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_8.png</string>
            <key>size</key>
            <string>{1024,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e80fee75d0c857e923f1bbfc4bb0b7f0:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_8.png</string>
        </dict>
    </dict>
</plist>
