<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{740,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,683}}</string>
                <key>sourceSize</key>
                <string>{740,683}</string>
            </dict>
            <key>dh_linglongcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{227,328}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,328}}</string>
                <key>sourceSize</key>
                <string>{229,328}</string>
            </dict>
            <key>dh_linglongcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,847},{39,222}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{39,222}}</string>
                <key>sourceSize</key>
                <string>{39,228}</string>
            </dict>
            <key>dh_linglongcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,688},{166,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{166,156}}</string>
                <key>sourceSize</key>
                <string>{166,158}</string>
            </dict>
            <key>dh_linglongcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,897},{91,172}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,172}}</string>
                <key>sourceSize</key>
                <string>{91,176}</string>
            </dict>
            <key>dh_linglongcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,898},{178,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,119}}</string>
                <key>sourceSize</key>
                <string>{178,119}</string>
            </dict>
            <key>dh_linglongcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,820},{155,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>dh_linglongcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,688},{117,207}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,207}}</string>
                <key>sourceSize</key>
                <string>{117,209}</string>
            </dict>
            <key>dh_linglongcb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,688},{129,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,193}}</string>
                <key>sourceSize</key>
                <string>{129,193}</string>
            </dict>
            <key>dh_linglongcb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,889},{112,141}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,141}}</string>
                <key>sourceSize</key>
                <string>{112,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_14.png</string>
            <key>size</key>
            <string>{744,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a96efc359b3b032a59c9f29dc21efa4:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_14.png</string>
        </dict>
    </dict>
</plist>
