<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_5znq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{255,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,587}}</string>
                <key>sourceSize</key>
                <string>{255,587}</string>
            </dict>
            <key>dh_Tex_5znq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{292,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,501}}</string>
                <key>sourceSize</key>
                <string>{292,501}</string>
            </dict>
            <key>dh_Tex_5znq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,677}}</string>
                <key>sourceSize</key>
                <string>{349,677}</string>
            </dict>
            <key>dh_Tex_5znq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{339,443}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{339,443}}</string>
                <key>sourceSize</key>
                <string>{347,451}</string>
            </dict>
            <key>dh_Tex_5znq_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,467},{152,288}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,288}}</string>
                <key>sourceSize</key>
                <string>{152,292}</string>
            </dict>
            <key>dh_Tex_5znq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{213,386}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{213,386}}</string>
                <key>sourceSize</key>
                <string>{215,394}</string>
            </dict>
            <key>dh_Tex_5znq_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{222,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,462}}</string>
                <key>sourceSize</key>
                <string>{222,462}</string>
            </dict>
            <key>dh_Tex_5znq_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,506},{235,436}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{235,436}}</string>
                <key>sourceSize</key>
                <string>{235,448}</string>
            </dict>
            <key>dh_Tex_5znq_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,2},{158,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,102}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>dh_Tex_5znq_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,235},{214,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{214,177}}</string>
                <key>sourceSize</key>
                <string>{222,177}</string>
            </dict>
            <key>dh_Tex_5znq_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,682},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>dh_Tex_5znq_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,592},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>dh_Tex_5znq_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,511},{126,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,176}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>dh_Tex_5znq_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,511},{125,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,204}}</string>
                <key>sourceSize</key>
                <string>{127,204}</string>
            </dict>
            <key>dh_Tex_5znq_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,561},{158,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{158,165}</string>
            </dict>
            <key>dh_Tex_5znq_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{230,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>dh_Tex_5znq_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,415},{173,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,143}}</string>
                <key>sourceSize</key>
                <string>{175,143}</string>
            </dict>
            <key>dh_Tex_5znq_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,235},{121,177}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,177}}</string>
                <key>sourceSize</key>
                <string>{121,183}</string>
            </dict>
            <key>dh_Tex_5znq_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,682},{73,119}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,119}}</string>
                <key>sourceSize</key>
                <string>{77,125}</string>
            </dict>
            <key>dh_Tex_5znq_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{82,130}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{82,130}}</string>
                <key>sourceSize</key>
                <string>{86,144}</string>
            </dict>
            <key>dh_Tex_5znq_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,561},{122,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>dh_Tex_5znq_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,592},{143,170}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,170}}</string>
                <key>sourceSize</key>
                <string>{153,178}</string>
            </dict>
            <key>dh_Tex_5znq_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,391},{198,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{198,117}}</string>
                <key>sourceSize</key>
                <string>{200,123}</string>
            </dict>
            <key>dh_Tex_5znq_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,448},{203,259}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{203,259}}</string>
                <key>sourceSize</key>
                <string>{207,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_43_fa1.png</string>
            <key>size</key>
            <string>{2030,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe0a1ad6a02ff7dd90424e3f6339b30b:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_43_fa1.png</string>
        </dict>
    </dict>
</plist>
