<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{646,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,543}}</string>
                <key>sourceSize</key>
                <string>{646,543}</string>
            </dict>
            <key>dh_16zhaiyuecb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,751},{117,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,137}}</string>
                <key>sourceSize</key>
                <string>{119,139}</string>
            </dict>
            <key>dh_16zhaiyuecb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,885},{75,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,127}}</string>
                <key>sourceSize</key>
                <string>{77,129}</string>
            </dict>
            <key>dh_16zhaiyuecb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,885},{69,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{69,118}}</string>
                <key>sourceSize</key>
                <string>{75,126}</string>
            </dict>
            <key>dh_16zhaiyuecb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,885},{208,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,81}}</string>
                <key>sourceSize</key>
                <string>{208,81}</string>
            </dict>
            <key>dh_16zhaiyuecb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,885},{187,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,115}}</string>
                <key>sourceSize</key>
                <string>{187,115}</string>
            </dict>
            <key>dh_16zhaiyuecb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,548},{144,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,200}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>dh_16zhaiyuecb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{132,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,110}}</string>
                <key>sourceSize</key>
                <string>{134,112}</string>
            </dict>
            <key>dh_part_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{538,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,334}}</string>
                <key>sourceSize</key>
                <string>{538,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_2.png</string>
            <key>size</key>
            <string>{689,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dc36b36892f905f91636bd8baaa76e9:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_2.png</string>
        </dict>
    </dict>
</plist>
