<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,645}}</string>
                <key>sourceSize</key>
                <string>{650,645}</string>
            </dict>
            <key>dh_junwangcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,758},{33,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,122}}</string>
                <key>sourceSize</key>
                <string>{35,122}</string>
            </dict>
            <key>dh_junwangcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,762},{82,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{82,119}</string>
            </dict>
            <key>dh_junwangcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,762},{108,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,139}}</string>
                <key>sourceSize</key>
                <string>{114,143}</string>
            </dict>
            <key>dh_junwangcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,655},{196,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,104}}</string>
                <key>sourceSize</key>
                <string>{196,106}</string>
            </dict>
            <key>dh_junwangcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{188,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,197}}</string>
                <key>sourceSize</key>
                <string>{188,199}</string>
            </dict>
            <key>dh_junwangcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,655},{82,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>dh_junwangcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,768},{189,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,138}}</string>
                <key>sourceSize</key>
                <string>{189,138}</string>
            </dict>
            <key>dh_junwangcb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,904},{227,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,57}}</string>
                <key>sourceSize</key>
                <string>{227,57}</string>
            </dict>
            <key>dh_junwangcb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{330,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{330,110}}</string>
                <key>sourceSize</key>
                <string>{330,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_3.png</string>
            <key>size</key>
            <string>{649,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eceb7e9a1e52b1fb362021393f76a3df:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_3.png</string>
        </dict>
    </dict>
</plist>
