<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,3},{922,998}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{922,998}}</string>
                <key>sourceSize</key>
                <string>{922,998}</string>
            </dict>
            <key>dh_part_40_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1040,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,704}}</string>
                <key>sourceSize</key>
                <string>{1040,704}</string>
            </dict>
            <key>dh_part_40_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,711},{582,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,201}}</string>
                <key>sourceSize</key>
                <string>{582,201}</string>
            </dict>
            <key>dh_tiankongwscb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1005},{201,858}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{201,858}}</string>
                <key>sourceSize</key>
                <string>{201,862}</string>
            </dict>
            <key>dh_tiankongwscb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1210},{189,321}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,321}}</string>
                <key>sourceSize</key>
                <string>{189,327}</string>
            </dict>
            <key>dh_tiankongwscb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,711},{295,676}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{295,676}}</string>
                <key>sourceSize</key>
                <string>{297,684}</string>
            </dict>
            <key>dh_tiankongwscb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1277},{39,41}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{39,41}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>dh_tiankongwscb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1010},{376,578}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,578}}</string>
                <key>sourceSize</key>
                <string>{376,578}</string>
            </dict>
            <key>dh_tiankongwscb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1005},{276,307}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,307}}</string>
                <key>sourceSize</key>
                <string>{282,307}</string>
            </dict>
            <key>dh_tiankongwscb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1155},{39,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,118}}</string>
                <key>sourceSize</key>
                <string>{39,118}</string>
            </dict>
            <key>shuijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1010},{64,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,141}}</string>
                <key>sourceSize</key>
                <string>{64,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_40.png</string>
            <key>size</key>
            <string>{2029,1402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e08c0ab5f88e3d46cc79a252739f97ef:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_40.png</string>
        </dict>
    </dict>
</plist>
