<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,1064}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,1064}}</string>
                <key>sourceSize</key>
                <string>{751,1064}</string>
            </dict>
            <key>dh_Tex_zycb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,617},{653,888}}</string>
                <key>offset</key>
                <string>{-4,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{653,888}}</string>
                <key>sourceSize</key>
                <string>{751,1064}</string>
            </dict>
            <key>dh_Tex_zycb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{364,460}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{364,460}}</string>
                <key>sourceSize</key>
                <string>{376,532}</string>
            </dict>
            <key>dh_part_48_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{612,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,950}}</string>
                <key>sourceSize</key>
                <string>{612,950}</string>
            </dict>
            <key>dh_part_48_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,617},{793,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{793,607}}</string>
                <key>sourceSize</key>
                <string>{793,607}</string>
            </dict>
            <key>dh_part_48_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{19,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,68}}</string>
                <key>sourceSize</key>
                <string>{19,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_48.png</string>
            <key>size</key>
            <string>{2021,1507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0fbb40befe905e0460d6764c5272cb:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_48.png</string>
        </dict>
    </dict>
</plist>
