<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,633},{631,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,684}}</string>
                <key>sourceSize</key>
                <string>{631,684}</string>
            </dict>
            <key>dh_bingjingcb1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,621},{1,3}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,1},{1,3}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1999},{3,11}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,2},{3,11}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1593},{5,19}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{5,19}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1972},{45,33}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{45,33}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1959},{77,37}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{77,37}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2005},{107,39}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{107,39}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2005},{111,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{111,39}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,637},{115,39}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1986},{115,39}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1959},{113,37}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,43},{113,37}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1449},{97,29}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,52},{97,29}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1982},{49,19}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,62},{49,19}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1616},{19,9}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,72},{19,9}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>dh_bingjingcb2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1900},{7,22}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{7,22}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1584},{29,68}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{29,68}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1715},{33,86}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{33,86}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1959},{41,106}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,106}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1315},{41,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,130}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1315},{41,162}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,162}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1270},{41,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{41,162}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1481},{39,144}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{39,144}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1315},{39,130}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{39,130}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,756},{39,114}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,52},{39,114}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1320},{37,92}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,74},{37,92}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1674},{35,58}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,108},{35,58}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,149},{21,34}}</string>
                <key>offset</key>
                <string>{-7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,132},{21,34}}</string>
                <key>sourceSize</key>
                <string>{45,170}</string>
            </dict>
            <key>dh_bingjingcb3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,682},{13,31}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{13,31}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,2005},{17,39}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{17,39}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,874},{19,49}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{19,49}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,84},{21,61}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{21,61}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,3},{21,77}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,77}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1992},{27,99}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{27,99}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1959},{29,105}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{29,105}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1482},{27,107}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{27,107}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1629},{31,101}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,27},{31,101}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1616},{35,95}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1805},{35,81}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{35,81}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,2005},{33,65}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,67},{33,65}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1713},{33,55}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,77},{33,55}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1828},{29,45}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,87},{29,45}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2005},{23,39}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,93},{23,39}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>dh_bingjingcb4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1650},{10,11}}</string>
                <key>offset</key>
                <string>{-21,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{10,11}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1968},{26,27}}</string>
                <key>offset</key>
                <string>{-20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,27}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1928},{36,27}}</string>
                <key>offset</key>
                <string>{-16,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,27}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1828},{38,49}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,49}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2005},{38,63}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,63}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1148},{42,71}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,71}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1270},{46,79}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,79}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,503},{54,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{54,79}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1758},{60,73}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{60,73}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1835},{60,61}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{60,61}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1617},{58,53}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{58,53}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,586},{54,47}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,47},{54,47}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1223},{42,43}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{42,43}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,2006},{36,37}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,57},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>dh_bingjingcb5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1926},{7,5}}</string>
                <key>offset</key>
                <string>{-44,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{7,5}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2033},{17,11}}</string>
                <key>offset</key>
                <string>{-39,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{17,11}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1971},{31,23}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,23}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2005},{39,31}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,31}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1881},{49,33}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2004},{55,35}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1789},{59,35}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2005},{65,35}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2000},{73,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2005},{73,33}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1480},{69,33}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2009},{59,35}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1750},{51,35}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1881},{43,35}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1934},{33,33}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dh_bingjingcb6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1430},{4,15}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{4,15}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,621},{8,27}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{8,27}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,637},{16,41}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,41}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,897},{18,55}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{18,55}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1715},{24,63}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{24,63}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1430},{46,63}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{46,63}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1517},{64,63}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{64,63}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1361},{76,65}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{76,65}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1549},{78,63}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{78,63}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1482},{78,63}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{78,63}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1900},{78,49}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{78,49}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1890},{78,35}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{78,35}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>dh_bingjingcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1321},{155,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,339}}</string>
                <key>sourceSize</key>
                <string>{155,339}</string>
            </dict>
            <key>dh_bingjingcb_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1758},{388,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,271}}</string>
                <key>sourceSize</key>
                <string>{388,271}</string>
            </dict>
            <key>dh_bingjingcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,503},{114,292}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,292}}</string>
                <key>sourceSize</key>
                <string>{116,292}</string>
            </dict>
            <key>dh_bingjingcb_02_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1321},{325,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,496}}</string>
                <key>sourceSize</key>
                <string>{325,496}</string>
            </dict>
            <key>dh_bingjingcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,897},{227,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,247}}</string>
                <key>sourceSize</key>
                <string>{227,247}</string>
            </dict>
            <key>dh_bingjingcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,621},{186,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,272}}</string>
                <key>sourceSize</key>
                <string>{186,272}</string>
            </dict>
            <key>dh_bingjingcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1664},{354,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,337}}</string>
                <key>sourceSize</key>
                <string>{354,337}</string>
            </dict>
            <key>dh_bingjingcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1148},{118,203}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,203}}</string>
                <key>sourceSize</key>
                <string>{120,203}</string>
            </dict>
            <key>dh_bingjingcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1758},{120,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,224}}</string>
                <key>sourceSize</key>
                <string>{120,224}</string>
            </dict>
            <key>dh_bingjingcb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,3},{325,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,496}}</string>
                <key>sourceSize</key>
                <string>{325,496}</string>
            </dict>
            <key>dh_bingjingcb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1650},{402,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,305}}</string>
                <key>sourceSize</key>
                <string>{402,305}</string>
            </dict>
            <key>dh_part_11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1110,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1110,626}}</string>
                <key>sourceSize</key>
                <string>{1110,626}</string>
            </dict>
            <key>dh_part_11_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,633},{1121,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1121,576}}</string>
                <key>sourceSize</key>
                <string>{1121,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_11.png</string>
            <key>size</key>
            <string>{1470,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bc7490415f08c1ee7d897944ec36cb3:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_11.png</string>
        </dict>
    </dict>
</plist>
