<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,712}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,712}}</string>
                <key>sourceSize</key>
                <string>{638,712}</string>
            </dict>
            <key>dh_fengkuangzxcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,657},{39,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,198}}</string>
                <key>sourceSize</key>
                <string>{43,198}</string>
            </dict>
            <key>dh_fengkuangzxcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{35,207}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,207}}</string>
                <key>sourceSize</key>
                <string>{39,207}</string>
            </dict>
            <key>dh_fengkuangzxcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,234},{188,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,197}}</string>
                <key>sourceSize</key>
                <string>{192,197}</string>
            </dict>
            <key>dh_fengkuangzxcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,434},{276,91}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{276,91}}</string>
                <key>sourceSize</key>
                <string>{278,95}</string>
            </dict>
            <key>dh_fengkuangzxcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,864},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>dh_fengkuangzxcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{196,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,229}}</string>
                <key>sourceSize</key>
                <string>{196,229}</string>
            </dict>
            <key>dh_fengkuangzxcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,657},{204,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,70}}</string>
                <key>sourceSize</key>
                <string>{204,70}</string>
            </dict>
            <key>dh_fengkuangzxcb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{174,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,218}}</string>
                <key>sourceSize</key>
                <string>{174,218}</string>
            </dict>
            <key>dh_fengkuangzxcb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,839},{74,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,133}}</string>
                <key>sourceSize</key>
                <string>{78,133}</string>
            </dict>
            <key>dh_fengkuangzxcb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,434},{125,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,220}}</string>
                <key>sourceSize</key>
                <string>{125,220}</string>
            </dict>
            <key>dh_fengkuangzxcb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{119,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,326}}</string>
                <key>sourceSize</key>
                <string>{119,326}</string>
            </dict>
            <key>dh_part_13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{719,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,295}}</string>
                <key>sourceSize</key>
                <string>{719,295}</string>
            </dict>
            <key>dh_part_13_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,724},{719,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,287}}</string>
                <key>sourceSize</key>
                <string>{719,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_13.png</string>
            <key>size</key>
            <string>{1177,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19837829c52661e7781888750aaa7f5:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_13.png</string>
        </dict>
    </dict>
</plist>
