<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>constructed_fa2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1669},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1375},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,630},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,630},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,630},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,473},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,473},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,473},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,316},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,316},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,316},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,159},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,159},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,159},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>constructed_fa3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1695},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1687},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1695},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1470},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1462},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1462},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1699},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1470},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1241},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1237},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1237},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1237},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1012},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1012},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1012},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1012},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1699},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1470},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1241},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1012},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,787},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,787},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,787},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
            <key>constructed_fa3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,787},{226,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,222}}</string>
                <key>sourceSize</key>
                <string>{226,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_44_fa2.png</string>
            <key>size</key>
            <string>{1295,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9865edba8754cd5834f43b9a008bdb55:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_44_fa2.png</string>
        </dict>
    </dict>
</plist>
