<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_part_32_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1189,862}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1189,862}}</string>
                <key>sourceSize</key>
                <string>{1189,862}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_32_bzt.png</string>
            <key>size</key>
            <string>{1193,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b676936a41a4d78c67e47073def03609:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_32_bzt.png</string>
        </dict>
    </dict>
</plist>
