<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{681,758}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,758}}</string>
                <key>sourceSize</key>
                <string>{681,758}</string>
            </dict>
            <key>dh_part_22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,233},{64,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{64,42}</string>
            </dict>
            <key>dh_zhaishengjiecb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,763},{51,129}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,129}}</string>
                <key>sourceSize</key>
                <string>{57,135}</string>
            </dict>
            <key>dh_zhaishengjiecb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,763},{50,130}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{50,130}}</string>
                <key>sourceSize</key>
                <string>{60,144}</string>
            </dict>
            <key>dh_zhaishengjiecb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{165,289}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{165,289}}</string>
                <key>sourceSize</key>
                <string>{177,289}</string>
            </dict>
            <key>dh_zhaishengjiecb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{228,321}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{228,321}}</string>
                <key>sourceSize</key>
                <string>{234,321}</string>
            </dict>
            <key>dh_zhaishengjiecb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,496},{213,349}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{213,349}}</string>
                <key>sourceSize</key>
                <string>{213,353}</string>
            </dict>
            <key>dh_zhaishengjiecb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,763},{200,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,98}}</string>
                <key>sourceSize</key>
                <string>{200,98}</string>
            </dict>
            <key>dh_zhaishengjiecb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,233},{272,260}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_22.png</string>
            <key>size</key>
            <string>{1009,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3545858f7d3148d32d344798255e34:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_22.png</string>
        </dict>
    </dict>
</plist>
