<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,873},{771,834}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{771,834}}</string>
                <key>sourceSize</key>
                <string>{771,834}</string>
            </dict>
            <key>castleSkin_32_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{771,863}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{771,863}}</string>
                <key>sourceSize</key>
                <string>{771,863}</string>
            </dict>
            <key>dh_4yearscb1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1885},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_4yearscb1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1898},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_4yearscb1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1796},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>dh_4yearscb1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1898},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>dh_4yearscb1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1818},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>dh_4yearscb1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1897},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>dh_4yearscb1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1932},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>dh_4yearscb1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1932},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>dh_4yearscb1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1921},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>dh_4yearscb1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1898},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_4yearscb1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1693},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_4yearscb1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,999},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_4yearscb2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1375},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>dh_4yearscb2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1590},{89,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>sourceSize</key>
                <string>{89,76}</string>
            </dict>
            <key>dh_4yearscb2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1693},{122,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,50}}</string>
                <key>sourceSize</key>
                <string>{122,50}</string>
            </dict>
            <key>dh_4yearscb2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,782},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>dh_4yearscb3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,1682},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>dh_4yearscb3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1948},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>dh_4yearscb3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1885},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>dh_4yearscb3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,1743},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>dh_4yearscb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1375},{81,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,212}}</string>
                <key>sourceSize</key>
                <string>{83,212}</string>
            </dict>
            <key>dh_4yearscb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{348,508}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,508}}</string>
                <key>sourceSize</key>
                <string>{348,510}</string>
            </dict>
            <key>dh_4yearscb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,370},{207,409}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,409}}</string>
                <key>sourceSize</key>
                <string>{207,411}</string>
            </dict>
            <key>dh_4yearscb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,834},{139,302}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{139,302}}</string>
                <key>sourceSize</key>
                <string>{139,306}</string>
            </dict>
            <key>dh_4yearscb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1375},{129,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,212}}</string>
                <key>sourceSize</key>
                <string>{129,212}</string>
            </dict>
            <key>dh_4yearscb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1739},{227,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,279}}</string>
                <key>sourceSize</key>
                <string>{227,279}</string>
            </dict>
            <key>dh_4yearscb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1710},{172,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,169}}</string>
                <key>sourceSize</key>
                <string>{172,169}</string>
            </dict>
            <key>dh_4yearscb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1590},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>dh_4yearscb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1932},{124,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,61}}</string>
                <key>sourceSize</key>
                <string>{124,61}</string>
            </dict>
            <key>dh_4yearscb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,834},{35,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,64}}</string>
                <key>sourceSize</key>
                <string>{35,64}</string>
            </dict>
            <key>dh_4yearscb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,370},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>dh_fouryearscb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,513},{318,410}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{318,410}}</string>
                <key>sourceSize</key>
                <string>{320,410}</string>
            </dict>
            <key>dh_fouryearscb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,2},{270,365}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{270,365}}</string>
                <key>sourceSize</key>
                <string>{270,373}</string>
            </dict>
            <key>dh_fouryearscb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1139},{230,233}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,233}}</string>
                <key>sourceSize</key>
                <string>{230,237}</string>
            </dict>
            <key>dh_fouryearscb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,782},{123,214}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{123,214}}</string>
                <key>sourceSize</key>
                <string>{133,214}</string>
            </dict>
            <key>dh_fouryearscb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1739},{244,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{244,530}}</string>
                <key>sourceSize</key>
                <string>{244,536}</string>
            </dict>
            <key>dh_fouryearscb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1710},{327,219}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{327,219}}</string>
                <key>sourceSize</key>
                <string>{341,219}</string>
            </dict>
            <key>dh_part_32_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1189,868}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1189,868}}</string>
                <key>sourceSize</key>
                <string>{1189,868}</string>
            </dict>
            <key>dh_part_32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,834},{35,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,64}}</string>
                <key>sourceSize</key>
                <string>{35,64}</string>
            </dict>
            <key>dh_part_32_03_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1710},{306,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,185}}</string>
                <key>sourceSize</key>
                <string>{306,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_32.png</string>
            <key>size</key>
            <string>{1817,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bd7b6e2a50c01155f702ed9f40c0a0e:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_32.png</string>
        </dict>
    </dict>
</plist>
