<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{537,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,632}}</string>
                <key>sourceSize</key>
                <string>{537,632}</string>
            </dict>
            <key>dh_part_18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{691,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{691,286}}</string>
                <key>sourceSize</key>
                <string>{691,286}</string>
            </dict>
            <key>dh_part_18_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{672,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,275}}</string>
                <key>sourceSize</key>
                <string>{672,275}</string>
            </dict>
            <key>dh_shouwangcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,895},{40,162}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,162}}</string>
                <key>sourceSize</key>
                <string>{44,162}</string>
            </dict>
            <key>dh_shouwangcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,637},{45,199}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{45,199}}</string>
                <key>sourceSize</key>
                <string>{45,207}</string>
            </dict>
            <key>dh_shouwangcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,560},{123,205}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{123,205}}</string>
                <key>sourceSize</key>
                <string>{127,205}</string>
            </dict>
            <key>dh_shouwangcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,133},{211,306}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{211,306}}</string>
                <key>sourceSize</key>
                <string>{211,312}</string>
            </dict>
            <key>dh_shouwangcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,637},{127,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,255}}</string>
                <key>sourceSize</key>
                <string>{127,255}</string>
            </dict>
            <key>dh_shouwangcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,637},{53,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,197}}</string>
                <key>sourceSize</key>
                <string>{53,197}</string>
            </dict>
            <key>dh_shouwangcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,686},{155,194}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,194}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>dh_shouwangcb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,442},{115,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,211}}</string>
                <key>sourceSize</key>
                <string>{115,211}</string>
            </dict>
            <key>dh_shouwangcb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,895},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>dh_shouwangcb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{216,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,128}}</string>
                <key>sourceSize</key>
                <string>{216,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_18.png</string>
            <key>size</key>
            <string>{1056,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46de70b9b0e636837b2cfffab0770d24:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_18.png</string>
        </dict>
    </dict>
</plist>
