<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_54_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1026,1158}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{1026,1158}}</string>
                <key>sourceSize</key>
                <string>{1100,1180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_54_fa.png</string>
            <key>size</key>
            <string>{1030,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a49d317f6d995d9ab81b1ac7466bfb3:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_54_fa.png</string>
        </dict>
    </dict>
</plist>
