<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,741}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,741}}</string>
                <key>sourceSize</key>
                <string>{658,741}</string>
            </dict>
            <key>dh_chuanqijunwangcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1234},{56,279}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{56,279}}</string>
                <key>sourceSize</key>
                <string>{60,285}</string>
            </dict>
            <key>dh_chuanqijunwangcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,746},{247,400}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{247,400}}</string>
                <key>sourceSize</key>
                <string>{251,400}</string>
            </dict>
            <key>dh_chuanqijunwangcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{214,334}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,334}}</string>
                <key>sourceSize</key>
                <string>{216,334}</string>
            </dict>
            <key>dh_chuanqijunwangcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{399,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,455}}</string>
                <key>sourceSize</key>
                <string>{399,455}</string>
            </dict>
            <key>dh_chuanqijunwangcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1204},{19,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>dh_chuanqijunwangcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1149},{18,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,43}</string>
            </dict>
            <key>dh_chuanqijunwangcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1149},{19,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,41}}</string>
                <key>sourceSize</key>
                <string>{19,41}</string>
            </dict>
            <key>dh_part_30_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1149},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_30.png</string>
            <key>size</key>
            <string>{662,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:494257777855480e0f8f82328b4c6b79:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_30.png</string>
        </dict>
    </dict>
</plist>
