<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,928},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,938},{472,460}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,475},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,465},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,481},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_47_fa1.png</string>
            <key>size</key>
            <string>{1901,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd1928a6b796f9bfee0735a2716f40f:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_47_fa1.png</string>
        </dict>
    </dict>
</plist>
