<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{752,955}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,955}}</string>
                <key>sourceSize</key>
                <string>{752,955}</string>
            </dict>
            <key>dh_part_42_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,670},{418,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,258}}</string>
                <key>sourceSize</key>
                <string>{418,258}</string>
            </dict>
            <key>dh_part_42_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,559},{369,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,113}}</string>
                <key>sourceSize</key>
                <string>{369,113}</string>
            </dict>
            <key>dh_part_42_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,3},{549,663}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,663}}</string>
                <key>sourceSize</key>
                <string>{549,663}</string>
            </dict>
            <key>dh_zsjcb1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,809},{220,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,176}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,585},{220,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,176}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,1084},{220,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,178}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1156},{220,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,178}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1122},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,860},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,676},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,860},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,898},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,932},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,932},{220,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,178}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,405},{220,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,176}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1084},{220,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,176}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1116},{220,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,176}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,962},{220,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,176}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,898},{24,52}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{24,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1084},{34,42}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{34,42}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,860},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,54}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1296},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1296},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1296},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,1241},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1244},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1298},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1298},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1298},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1301},{36,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1310},{28,60}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,932},{26,60}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,932},{24,52}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>dh_zsjcb3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,1033},{131,47}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,78},{131,47}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,1266},{141,69}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,56},{141,69}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1225},{143,81}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{143,81}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,140},{145,97}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{145,97}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1186},{141,111}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{141,111}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,393},{141,115}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{141,115}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,3},{133,99}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,99}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,585},{89,77}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{89,77}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1266},{55,57}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,538},{29,39}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,665},{7,21}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{7,21}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,665},{7,21}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{7,21}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,665},{7,21}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{7,21}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,665},{7,21}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{7,21}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,665},{7,21}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{7,21}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>dh_zsjcb4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,1161},{36,76}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{36,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1164},{36,76}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{36,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1084},{36,76}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{36,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,1083},{38,74}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{38,74}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,538},{38,74}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{38,74}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1298},{40,74}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{40,74}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1298},{40,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{40,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1298},{40,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{40,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1298},{40,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{40,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,289},{38,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{38,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,353},{38,76}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{38,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,353},{36,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{36,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,353},{36,76}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{36,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,585},{36,76}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{36,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1301},{36,78}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{36,78}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>dh_zsjcb5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,676},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>dh_zsjcb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,405},{150,382}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{150,382}}</string>
                <key>sourceSize</key>
                <string>{160,384}</string>
            </dict>
            <key>dh_zsjcb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,962},{172,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,259}}</string>
                <key>sourceSize</key>
                <string>{172,259}</string>
            </dict>
            <key>dh_zsjcb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,3},{167,346}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{167,346}}</string>
                <key>sourceSize</key>
                <string>{169,346}</string>
            </dict>
            <key>dh_zsjcb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,676},{192,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{192,218}}</string>
                <key>sourceSize</key>
                <string>{196,226}</string>
            </dict>
            <key>dh_zsjcb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,962},{332,516}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{332,516}}</string>
                <key>sourceSize</key>
                <string>{336,520}</string>
            </dict>
            <key>dh_zsjcb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,3},{453,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,398}}</string>
                <key>sourceSize</key>
                <string>{453,398}</string>
            </dict>
            <key>dh_zsjcb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1033},{46,66}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>dh_zsjcb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1301},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_42.png</string>
            <key>size</key>
            <string>{2042,1341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67b66e29bcd76cec6da6613b7215c468:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_42.png</string>
        </dict>
    </dict>
</plist>
