<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,954},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,475},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,470}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{476,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1403},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,928},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,465},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff02_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{472,460}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{472,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1400},{352,238}}</string>
                <key>offset</key>
                <string>{29,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,210},{352,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,928},{354,238}}</string>
                <key>offset</key>
                <string>{28,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,211},{354,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1794},{350,212}}</string>
                <key>offset</key>
                <string>{27,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,238},{350,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1790},{350,212}}</string>
                <key>offset</key>
                <string>{27,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,239},{350,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1400},{350,212}}</string>
                <key>offset</key>
                <string>{27,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,240},{350,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{364,212}}</string>
                <key>offset</key>
                <string>{20,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,241},{364,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1427},{364,212}}</string>
                <key>offset</key>
                <string>{20,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,242},{364,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{364,212}}</string>
                <key>offset</key>
                <string>{20,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,243},{364,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{364,212}}</string>
                <key>offset</key>
                <string>{21,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,244},{364,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,381},{364,212}}</string>
                <key>offset</key>
                <string>{21,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,245},{364,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,773},{366,184}}</string>
                <key>offset</key>
                <string>{-2,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,273},{366,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,596},{376,174}}</string>
                <key>offset</key>
                <string>{-7,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,276},{376,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,2},{376,174}}</string>
                <key>offset</key>
                <string>{-8,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,277},{376,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,378},{362,174}}</string>
                <key>offset</key>
                <string>{-16,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,278},{362,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1427},{360,174}}</string>
                <key>offset</key>
                <string>{-15,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,280},{360,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,217},{364,158}}</string>
                <key>offset</key>
                <string>{-13,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,281},{364,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,1755},{398,232}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,207},{398,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1169},{394,228}}</string>
                <key>offset</key>
                <string>{7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,208},{394,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1866},{338,174}}</string>
                <key>offset</key>
                <string>{22,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,272},{338,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff03_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1427},{338,192}}</string>
                <key>offset</key>
                <string>{22,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,255},{338,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_47_fa2.png</string>
            <key>size</key>
            <string>{1984,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db65f58bab98446b1f8c77bf5fd9b7f:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_47_fa2.png</string>
        </dict>
    </dict>
</plist>
