<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_shcb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{307,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,321}}</string>
                <key>sourceSize</key>
                <string>{307,321}</string>
            </dict>
            <key>dh_Tex_shcb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,433},{879,877}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,877}}</string>
                <key>sourceSize</key>
                <string>{879,877}</string>
            </dict>
            <key>dh_Tex_shcb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{892,428}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,428}}</string>
                <key>sourceSize</key>
                <string>{918,428}</string>
            </dict>
            <key>dh_Tex_shcb_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,1711}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,1711}}</string>
                <key>sourceSize</key>
                <string>{375,1719}</string>
            </dict>
            <key>dh_Tex_shcb_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{236,1711}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,1711}}</string>
                <key>sourceSize</key>
                <string>{236,1719}</string>
            </dict>
            <key>dh_Tex_shcb_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1313},{808,504}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{808,504}}</string>
                <key>sourceSize</key>
                <string>{830,504}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_51_fa2.png</string>
            <key>size</key>
            <string>{1513,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f32de2d0f3673ae697dde39ef852a589:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_51_fa2.png</string>
        </dict>
    </dict>
</plist>
