<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castleSkin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{626,709}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,709}}</string>
                <key>sourceSize</key>
                <string>{626,709}</string>
            </dict>
            <key>dh_lvzhoucb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{581,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,632}}</string>
                <key>sourceSize</key>
                <string>{581,632}</string>
            </dict>
            <key>dh_part_16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{350,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,165}}</string>
                <key>sourceSize</key>
                <string>{350,165}</string>
            </dict>
            <key>dh_part_16_01_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,637},{359,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,189}}</string>
                <key>sourceSize</key>
                <string>{359,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkin_16.png</string>
            <key>size</key>
            <string>{1214,881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1997ff30f5db1231516a24dafec10e6b:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkin_16.png</string>
        </dict>
    </dict>
</plist>
