<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1911},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BG_lion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1595},{187,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,210}}</string>
                <key>sourceSize</key>
                <string>{187,210}</string>
            </dict>
            <key>BG_pyramidBattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,905},{127,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,255}}</string>
                <key>sourceSize</key>
                <string>{127,255}</string>
            </dict>
            <key>BG_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1604},{128,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,146}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>BG_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1752},{61,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,107}}</string>
                <key>sourceSize</key>
                <string>{61,107}</string>
            </dict>
            <key>BG_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1585},{153,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,139}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>BG_undeveloped_hill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1551},{352,243}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{352,243}}</string>
                <key>sourceSize</key>
                <string>{364,253}</string>
            </dict>
            <key>BG_undeveloped_hill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1036},{345,250}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{345,250}}</string>
                <key>sourceSize</key>
                <string>{353,252}</string>
            </dict>
            <key>BG_undeveloped_plant_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,393},{289,175}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{289,175}}</string>
                <key>sourceSize</key>
                <string>{307,191}</string>
            </dict>
            <key>BG_undeveloped_plant_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1546},{205,122}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{205,122}}</string>
                <key>sourceSize</key>
                <string>{213,132}</string>
            </dict>
            <key>BG_undeveloped_surface_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1310},{233,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{233,120}}</string>
                <key>sourceSize</key>
                <string>{255,148}</string>
            </dict>
            <key>BG_undeveloped_surface_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,906},{204,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{204,102}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>BG_wall_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1491},{122,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,110}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>BG_zhuangjing_ros.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,582},{321,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,189}}</string>
                <key>sourceSize</key>
                <string>{321,189}</string>
            </dict>
            <key>build_DH_gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1310},{133,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,282}}</string>
                <key>sourceSize</key>
                <string>{133,282}</string>
            </dict>
            <key>build_DH_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1816},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>build_DH_hq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1011},{111,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,86}}</string>
                <key>sourceSize</key>
                <string>{111,86}</string>
            </dict>
            <key>build_DH_lthp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1911},{111,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>sourceSize</key>
                <string>{111,115}</string>
            </dict>
            <key>build_DH_path.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,571},{251,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,320}}</string>
                <key>sourceSize</key>
                <string>{251,320}</string>
            </dict>
            <key>build_DH_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,561},{472,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,274}}</string>
                <key>sourceSize</key>
                <string>{472,274}</string>
            </dict>
            <key>build_DH_zhuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1677},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>dh_bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1816},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>dh_cmzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1741},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>dh_hpzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,536},{366,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,277}}</string>
                <key>sourceSize</key>
                <string>{366,277}</string>
            </dict>
            <key>dh_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,459},{55,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,117}}</string>
                <key>sourceSize</key>
                <string>{55,117}</string>
            </dict>
            <key>dh_huodong_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,894},{248,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,170}}</string>
                <key>sourceSize</key>
                <string>{248,170}</string>
            </dict>
            <key>dh_lock_area_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{721,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,483}}</string>
                <key>sourceSize</key>
                <string>{721,483}</string>
            </dict>
            <key>dh_lock_area_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{674,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,388}}</string>
                <key>sourceSize</key>
                <string>{674,388}</string>
            </dict>
            <key>dh_lock_area_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{654,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,399}}</string>
                <key>sourceSize</key>
                <string>{654,399}</string>
            </dict>
            <key>dh_lock_area_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{665,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,556}}</string>
                <key>sourceSize</key>
                <string>{665,556}</string>
            </dict>
            <key>dh_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1543},{131,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,298}}</string>
                <key>sourceSize</key>
                <string>{131,298}</string>
            </dict>
            <key>dh_wall_mt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1133},{162,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,157}}</string>
                <key>sourceSize</key>
                <string>{162,157}</string>
            </dict>
            <key>dh_yzdxyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,2},{454,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,125}}</string>
                <key>sourceSize</key>
                <string>{454,125}</string>
            </dict>
            <key>et_chuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1035},{274,272}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{274,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>frame_chongwuguan_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,459},{334,120}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{334,120}}</string>
                <key>sourceSize</key>
                <string>{334,234}</string>
            </dict>
            <key>ganyingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,889},{249,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,119}}</string>
                <key>sourceSize</key>
                <string>{249,119}</string>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1808},{166,100}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{166,100}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>icon_main_build_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1942},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>icon_main_build_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1753},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{29,45}</string>
            </dict>
            <key>icon_main_build_warlv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1753},{98,77}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>icon_wood_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,905},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>jiaoshoujia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1453},{148,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,49},{148,129}}</string>
                <key>sourceSize</key>
                <string>{206,227}</string>
            </dict>
            <key>jiaoshoujia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1911},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{126,127}}</string>
                <key>sourceSize</key>
                <string>{206,227}</string>
            </dict>
            <key>jiaoshoujia_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1293},{150,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{150,157}}</string>
                <key>sourceSize</key>
                <string>{206,227}</string>
            </dict>
            <key>jiaoshoujia_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1307},{198,153}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{198,153}}</string>
                <key>sourceSize</key>
                <string>{206,227}</string>
            </dict>
            <key>map_build_history_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,393},{382,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,140}}</string>
                <key>sourceSize</key>
                <string>{382,140}</string>
            </dict>
            <key>mastery.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1880},{149,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,136}}</string>
                <key>sourceSize</key>
                <string>{149,136}</string>
            </dict>
            <key>tile_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1797},{355,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,186}}</string>
                <key>sourceSize</key>
                <string>{355,186}</string>
            </dict>
            <key>tree01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1942},{72,143}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,143}}</string>
                <key>sourceSize</key>
                <string>{74,145}</string>
            </dict>
            <key>tree02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1508},{78,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>tree03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1882},{77,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{77,122}}</string>
                <key>sourceSize</key>
                <string>{85,124}</string>
            </dict>
            <key>tree04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,1011},{119,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,184}}</string>
                <key>sourceSize</key>
                <string>{123,184}</string>
            </dict>
            <key>tree05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1873},{185,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,165}}</string>
                <key>sourceSize</key>
                <string>{187,165}</string>
            </dict>
            <key>tree06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1589},{104,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,160}}</string>
                <key>sourceSize</key>
                <string>{106,160}</string>
            </dict>
            <key>tree07_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{454,277}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{454,277}}</string>
                <key>sourceSize</key>
                <string>{458,279}</string>
            </dict>
            <key>tree08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1289},{353,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,259}}</string>
                <key>sourceSize</key>
                <string>{353,259}</string>
            </dict>
            <key>tree09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1754},{158,125}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,125}}</string>
                <key>sourceSize</key>
                <string>{166,127}</string>
            </dict>
            <key>tree10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1880},{145,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,141}}</string>
                <key>sourceSize</key>
                <string>{145,141}</string>
            </dict>
            <key>tree11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1140},{181,164}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{181,164}}</string>
                <key>sourceSize</key>
                <string>{189,168}</string>
            </dict>
            <key>tree12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1011},{126,184}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,184}}</string>
                <key>sourceSize</key>
                <string>{128,186}</string>
            </dict>
            <key>tree13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1145},{176,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,164}</string>
            </dict>
            <key>tree14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1310},{300,230}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,230}}</string>
                <key>sourceSize</key>
                <string>{302,232}</string>
            </dict>
            <key>tree15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,582},{261,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,304}}</string>
                <key>sourceSize</key>
                <string>{261,304}</string>
            </dict>
            <key>tree16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{80,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,176}}</string>
                <key>sourceSize</key>
                <string>{80,176}</string>
            </dict>
            <key>tree17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,1312},{114,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,176}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>tree18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1677},{255,193}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{255,193}}</string>
                <key>sourceSize</key>
                <string>{257,195}</string>
            </dict>
            <key>tree19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1133},{114,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,176}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1508},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCity.png</string>
            <key>size</key>
            <string>{1757,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:087aa3beff55a4a8513c7fa78e4fc0ab:1/1$</string>
            <key>textureFileName</key>
            <string>mainCity.png</string>
        </dict>
    </dict>
</plist>
