<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fmc_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,443},{192,102}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{192,102}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>fmc_house_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,758},{90,76}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,59},{90,76}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>fmc_house_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,327},{162,78}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,53},{162,78}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>fmc_house_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,633},{152,68}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{152,68}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>fmc_house_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,891},{118,84}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,44},{118,84}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>fmc_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,679},{102,98}}</string>
                <key>offset</key>
                <string>{-33,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{102,98}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>fmc_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,883},{162,124}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{162,124}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>fmc_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,3},{72,44}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,96},{72,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gongfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,3},{320,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{320,234}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>miyinkuangchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,243},{206,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,128}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>nt_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,485},{188,100}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{188,100}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_decorate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,493},{182,88}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,54},{182,88}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_decorate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,891},{180,114}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{180,114}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_decorate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,705},{182,128}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{182,128}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_decorate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,451},{178,134}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,13},{178,134}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_lvmiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,785},{176,94}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{176,94}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_lvmiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,678},{184,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,67},{184,76}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_maizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,589},{186,92}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,55},{186,92}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_maizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,905},{178,104}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{178,104}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_shuiqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,795},{182,106}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{182,106}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>nt_shuiqu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,685},{184,106}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{184,106}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>res_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,375},{206,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{206,106}}</string>
                <key>sourceSize</key>
                <string>{210,110}</string>
            </dict>
            <key>shuijingkuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{349,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,236}}</string>
                <key>sourceSize</key>
                <string>{349,236}</string>
            </dict>
            <key>tiekuangchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,549},{190,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,125}}</string>
                <key>sourceSize</key>
                <string>{190,125}</string>
            </dict>
            <key>xingjunzhangpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,243},{204,137}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{204,137}}</string>
                <key>sourceSize</key>
                <string>{204,143}</string>
            </dict>
            <key>yiliaozhangpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,327},{200,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,112}}</string>
                <key>sourceSize</key>
                <string>{200,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityOuter.png</string>
            <key>size</key>
            <string>{641,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f7eff9ec23f5fa6dd3ced756f46d72c:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityOuter.png</string>
        </dict>
    </dict>
</plist>
