<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainCityBG_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,440},{1020,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,424}}</string>
                <key>sourceSize</key>
                <string>{1020,424}</string>
            </dict>
            <key>MainCityBG_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1020,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,433}}</string>
                <key>sourceSize</key>
                <string>{1020,433}</string>
            </dict>
            <key>MainCityBG_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,868},{1020,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,135}}</string>
                <key>sourceSize</key>
                <string>{1020,135}</string>
            </dict>
            <key>MainCityBG_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1140},{1020,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,50}}</string>
                <key>sourceSize</key>
                <string>{1020,50}</string>
            </dict>
            <key>MainCityBG_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1007},{1020,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,129}}</string>
                <key>sourceSize</key>
                <string>{1020,129}</string>
            </dict>
            <key>MainCityBG_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1194},{130,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,69}}</string>
                <key>sourceSize</key>
                <string>{130,69}</string>
            </dict>
            <key>MainCityBG_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1194},{200,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,207}}</string>
                <key>sourceSize</key>
                <string>{200,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityBGDH.png</string>
            <key>size</key>
            <string>{1026,1397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80d5394a41e9f01457d8ea9dc375beb8:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityBGDH.png</string>
        </dict>
    </dict>
</plist>
