<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1969},{54,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,1020}}</string>
                <key>sourceSize</key>
                <string>{54,1020}</string>
            </dict>
            <key>BG_add_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,942},{493,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,56}}</string>
                <key>sourceSize</key>
                <string>{493,56}</string>
            </dict>
            <key>BG_add_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1001},{16,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,437}}</string>
                <key>sourceSize</key>
                <string>{16,437}</string>
            </dict>
            <key>BG_add_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1969},{691,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{691,14}}</string>
                <key>sourceSize</key>
                <string>{691,14}</string>
            </dict>
            <key>BG_hall_far_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,2},{1024,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,467}}</string>
                <key>sourceSize</key>
                <string>{1024,467}</string>
            </dict>
            <key>BG_hall_far_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1499},{1024,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,467}}</string>
                <key>sourceSize</key>
                <string>{1024,467}</string>
            </dict>
            <key>BG_hall_far_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,942},{1024,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,467}}</string>
                <key>sourceSize</key>
                <string>{1024,467}</string>
            </dict>
            <key>BG_hall_far_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,472},{1024,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,467}}</string>
                <key>sourceSize</key>
                <string>{1024,467}</string>
            </dict>
            <key>BG_hall_far_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{1024,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,467}}</string>
                <key>sourceSize</key>
                <string>{1024,467}</string>
            </dict>
            <key>BG_hall_far_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{1024,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,467}}</string>
                <key>sourceSize</key>
                <string>{1024,467}</string>
            </dict>
            <key>BG_hall_far_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,467}}</string>
                <key>sourceSize</key>
                <string>{1024,467}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityBGHall_top.png</string>
            <key>size</key>
            <string>{1968,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607cb8257e6048d98aeb3058e9130a33:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityBGHall_top.png</string>
        </dict>
    </dict>
</plist>
