<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainCityBG_21_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,1020}}</string>
                <key>sourceSize</key>
                <string>{200,1020}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityBGHall_21_pre.png</string>
            <key>size</key>
            <string>{204,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d304abc13b7a93876e083734c2791981:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityBGHall_21_pre.png</string>
        </dict>
    </dict>
</plist>
