<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_DH_path_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,931},{251,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,320}}</string>
                <key>sourceSize</key>
                <string>{251,320}</string>
            </dict>
            <key>dh_2021ice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{597,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,325}}</string>
                <key>sourceSize</key>
                <string>{597,325}</string>
            </dict>
            <key>dh_2021ice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,585},{427,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,219}}</string>
                <key>sourceSize</key>
                <string>{427,219}</string>
            </dict>
            <key>dh_2021ice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,466},{231,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,130}}</string>
                <key>sourceSize</key>
                <string>{231,130}</string>
            </dict>
            <key>dh_2021ice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{439,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,96}}</string>
                <key>sourceSize</key>
                <string>{439,96}</string>
            </dict>
            <key>dh_2021ice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,602},{537,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,145}}</string>
                <key>sourceSize</key>
                <string>{537,145}</string>
            </dict>
            <key>dh_2021ice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,699},{180,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,215}}</string>
                <key>sourceSize</key>
                <string>{180,215}</string>
            </dict>
            <key>dh_2021ice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,931},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>dh_2021ice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,592},{442,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,278}}</string>
                <key>sourceSize</key>
                <string>{442,278}</string>
            </dict>
            <key>dh_2021ice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{282,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,155}}</string>
                <key>sourceSize</key>
                <string>{282,155}</string>
            </dict>
            <key>dh_2021ice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,602},{514,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,271}}</string>
                <key>sourceSize</key>
                <string>{514,271}</string>
            </dict>
            <key>dh_2021ice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{283,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,293}}</string>
                <key>sourceSize</key>
                <string>{283,293}</string>
            </dict>
            <key>dh_2021ice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1065},{183,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,165}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>dh_ice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,454},{119,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,128}}</string>
                <key>sourceSize</key>
                <string>{119,128}</string>
            </dict>
            <key>dh_ice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1142},{160,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>dh_ice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,466},{21,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,131}}</string>
                <key>sourceSize</key>
                <string>{21,131}</string>
            </dict>
            <key>dh_ice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,378},{245,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,197}}</string>
                <key>sourceSize</key>
                <string>{245,197}</string>
            </dict>
            <key>dh_ice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,160},{280,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,215}}</string>
                <key>sourceSize</key>
                <string>{280,215}</string>
            </dict>
            <key>dh_ice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,444},{114,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{114,128}</string>
            </dict>
            <key>dh_ice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,437},{94,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dh_ice_acbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{92,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,157}}</string>
                <key>sourceSize</key>
                <string>{92,157}</string>
            </dict>
            <key>dh_ice_acbg_bzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{349,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,196}}</string>
                <key>sourceSize</key>
                <string>{349,196}</string>
            </dict>
            <key>dh_ice_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,298},{190,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,230}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>dh_ice_night_bzt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,585},{343,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,239}}</string>
                <key>sourceSize</key>
                <string>{343,239}</string>
            </dict>
            <key>dh_ice_night_bzt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{449,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,102}}</string>
                <key>sourceSize</key>
                <string>{449,102}</string>
            </dict>
            <key>dh_ice_night_bzt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,699},{184,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,148}}</string>
                <key>sourceSize</key>
                <string>{184,148}</string>
            </dict>
            <key>dh_ice_night_bzt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,884},{183,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,168}}</string>
                <key>sourceSize</key>
                <string>{183,168}</string>
            </dict>
            <key>dh_icelight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1119},{435,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,132}}</string>
                <key>sourceSize</key>
                <string>{435,132}</string>
            </dict>
            <key>dh_icelight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{555,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,175}}</string>
                <key>sourceSize</key>
                <string>{555,175}</string>
            </dict>
            <key>dh_icelight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,917},{158,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,203}}</string>
                <key>sourceSize</key>
                <string>{158,203}</string>
            </dict>
            <key>dh_icelight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,459},{225,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,130}}</string>
                <key>sourceSize</key>
                <string>{225,130}</string>
            </dict>
            <key>dh_icelight_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{461,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,140}}</string>
                <key>sourceSize</key>
                <string>{461,140}</string>
            </dict>
            <key>dh_icelight_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,746},{182,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,166}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>tree01_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1037},{74,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,143}}</string>
                <key>sourceSize</key>
                <string>{74,143}</string>
            </dict>
            <key>tree02_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1160},{81,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,124}}</string>
                <key>sourceSize</key>
                <string>{81,124}</string>
            </dict>
            <key>tree03_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1037},{79,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{79,122}}</string>
                <key>sourceSize</key>
                <string>{85,124}</string>
            </dict>
            <key>tree04_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,762},{119,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,184}}</string>
                <key>sourceSize</key>
                <string>{123,184}</string>
            </dict>
            <key>tree05_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,531},{185,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,165}}</string>
                <key>sourceSize</key>
                <string>{187,165}</string>
            </dict>
            <key>tree06_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,1055},{104,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,160}}</string>
                <key>sourceSize</key>
                <string>{106,160}</string>
            </dict>
            <key>tree07_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{454,277}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{454,277}}</string>
                <key>sourceSize</key>
                <string>{458,279}</string>
            </dict>
            <key>tree09_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,309},{158,125}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,125}}</string>
                <key>sourceSize</key>
                <string>{166,127}</string>
            </dict>
            <key>tree10_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,437},{145,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,141}}</string>
                <key>sourceSize</key>
                <string>{145,141}</string>
            </dict>
            <key>tree11_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,578},{181,164}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{181,164}}</string>
                <key>sourceSize</key>
                <string>{189,168}</string>
            </dict>
            <key>tree12_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1123},{126,184}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,184}}</string>
                <key>sourceSize</key>
                <string>{128,186}</string>
            </dict>
            <key>tree13_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,567},{176,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,164}</string>
            </dict>
            <key>tree14_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1015},{302,230}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{302,230}}</string>
                <key>sourceSize</key>
                <string>{302,232}</string>
            </dict>
            <key>tree15_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{261,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,304}}</string>
                <key>sourceSize</key>
                <string>{261,304}</string>
            </dict>
            <key>tree16_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,354},{80,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,176}}</string>
                <key>sourceSize</key>
                <string>{80,176}</string>
            </dict>
            <key>tree17_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,886},{114,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,176}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>tree18_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,309},{255,193}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{255,193}}</string>
                <key>sourceSize</key>
                <string>{257,195}</string>
            </dict>
            <key>tree19_01_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,578},{114,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,176}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainCityIce.png</string>
            <key>size</key>
            <string>{2046,1254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd060c3b793ece11b998728e84dd64c:1/1$</string>
            <key>textureFileName</key>
            <string>MainCityIce.png</string>
        </dict>
    </dict>
</plist>
