<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_7th_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,999},{471,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,404}}</string>
                <key>sourceSize</key>
                <string>{471,404}</string>
            </dict>
            <key>dh_7th_activity_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,840},{425,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,301}}</string>
                <key>sourceSize</key>
                <string>{425,301}</string>
            </dict>
            <key>dh_7th_night_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,923},{519,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,346}}</string>
                <key>sourceSize</key>
                <string>{519,346}</string>
            </dict>
            <key>dh_7th_night_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,814},{553,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,181}}</string>
                <key>sourceSize</key>
                <string>{553,181}</string>
            </dict>
            <key>dh_7th_night_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{735,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,246}}</string>
                <key>sourceSize</key>
                <string>{735,246}</string>
            </dict>
            <key>dh_7th_night_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1641},{326,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,217}}</string>
                <key>sourceSize</key>
                <string>{326,217}</string>
            </dict>
            <key>dh_7th_night_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,3},{714,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,176}}</string>
                <key>sourceSize</key>
                <string>{714,176}</string>
            </dict>
            <key>dh_7th_night_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,183},{629,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,279}}</string>
                <key>sourceSize</key>
                <string>{629,279}</string>
            </dict>
            <key>dh_7th_night_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,682},{566,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,237}}</string>
                <key>sourceSize</key>
                <string>{566,237}</string>
            </dict>
            <key>dh_7th_night_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1199},{438,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,171}}</string>
                <key>sourceSize</key>
                <string>{438,171}</string>
            </dict>
            <key>dh_7th_night_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1641},{445,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,360}}</string>
                <key>sourceSize</key>
                <string>{445,360}</string>
            </dict>
            <key>dh_7th_night_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,466},{582,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,344}}</string>
                <key>sourceSize</key>
                <string>{582,344}</string>
            </dict>
            <key>dh_7th_night_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1545},{407,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,437}}</string>
                <key>sourceSize</key>
                <string>{407,437}</string>
            </dict>
            <key>dh_7th_night_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,253},{584,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,425}}</string>
                <key>sourceSize</key>
                <string>{584,425}</string>
            </dict>
            <key>dh_7th_zz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,183},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>dh_7th_zz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1619},{279,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,299}}</string>
                <key>sourceSize</key>
                <string>{279,299}</string>
            </dict>
            <key>dh_7th_zz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1273},{369,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,346}}</string>
                <key>sourceSize</key>
                <string>{369,346}</string>
            </dict>
            <key>dh_7th_zz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1269},{369,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,346}}</string>
                <key>sourceSize</key>
                <string>{369,346}</string>
            </dict>
            <key>dh_7th_zz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,293},{543,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,191}}</string>
                <key>sourceSize</key>
                <string>{543,191}</string>
            </dict>
            <key>dh_7th_zz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1407},{445,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,134}}</string>
                <key>sourceSize</key>
                <string>{445,134}</string>
            </dict>
            <key>dh_7th_zz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,979},{183,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,216}}</string>
                <key>sourceSize</key>
                <string>{183,216}</string>
            </dict>
            <key>dh_7th_zz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1619},{259,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,133}}</string>
                <key>sourceSize</key>
                <string>{259,133}</string>
            </dict>
            <key>dh_hdzx7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1882},{86,130}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{86,130}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1455},{86,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{86,134}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,889},{86,136}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{86,136}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,799},{86,136}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{86,136}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,433},{86,144}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{86,144}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,343},{86,144}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{86,144}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,253},{86,144}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{86,144}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,3},{88,142}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,142}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,149},{88,140}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{88,140}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,615},{88,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{88,138}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,523},{88,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{88,138}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1273},{88,134}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{88,134}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,707},{88,136}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{88,136}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1365},{86,134}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{86,134}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>dh_hdzx7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1545},{86,132}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{86,132}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCitySeven.png</string>
            <key>size</key>
            <string>{1574,2009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e83a1b23fa136cc570e97def871e46:1/1$</string>
            <key>textureFileName</key>
            <string>mainCitySeven.png</string>
        </dict>
    </dict>
</plist>
