<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_zhuchengilight19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,587},{315,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,317}}</string>
                <key>sourceSize</key>
                <string>{315,317}</string>
            </dict>
            <key>dh_zhuchengilight19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1609},{6,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,11}}</string>
                <key>sourceSize</key>
                <string>{6,11}</string>
            </dict>
            <key>dh_zhuchengilight19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1776},{101,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,142}}</string>
                <key>sourceSize</key>
                <string>{101,142}</string>
            </dict>
            <key>dh_zhuchengilight19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1934},{52,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>dh_zhuchengilight19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,185},{241,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,247}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>dh_zhuchengilight19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1677},{346,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,308}}</string>
                <key>sourceSize</key>
                <string>{346,308}</string>
            </dict>
            <key>dh_zhuchengilight19_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1580},{144,177}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,177}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>dh_zhuchengilight19_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1206},{207,269}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,269}}</string>
                <key>sourceSize</key>
                <string>{211,269}</string>
            </dict>
            <key>dh_zhuchengilight19_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1026},{277,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,172}}</string>
                <key>sourceSize</key>
                <string>{277,172}</string>
            </dict>
            <key>dh_zhuchengilight19_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,3},{359,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,340}}</string>
                <key>sourceSize</key>
                <string>{359,340}</string>
            </dict>
            <key>dh_zhuchengilight19_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,906},{305,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,296}}</string>
                <key>sourceSize</key>
                <string>{305,296}</string>
            </dict>
            <key>dh_zhuchengilight19_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,784},{397,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,109}}</string>
                <key>sourceSize</key>
                <string>{397,109}</string>
            </dict>
            <key>dh_zhuchengilight19_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1580},{137,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,192}}</string>
                <key>sourceSize</key>
                <string>{137,192}</string>
            </dict>
            <key>dh_zhuchengilight19_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1895},{184,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,135}}</string>
                <key>sourceSize</key>
                <string>{184,135}</string>
            </dict>
            <key>dh_zhuchengilight19_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,430},{283,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,293}}</string>
                <key>sourceSize</key>
                <string>{283,293}</string>
            </dict>
            <key>dh_zhuchengilight19_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1934},{80,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>dh_zhuchengilight19_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{377,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,374}}</string>
                <key>sourceSize</key>
                <string>{377,374}</string>
            </dict>
            <key>dh_zhuchengilight19_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1222},{316,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{316,126}}</string>
                <key>sourceSize</key>
                <string>{316,132}</string>
            </dict>
            <key>dh_zhuchengilight19_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1492},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,113}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>dh_zhuchengilight19_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,3},{260,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,178}}</string>
                <key>sourceSize</key>
                <string>{260,178}</string>
            </dict>
            <key>dh_zhuchengilight19_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1542},{73,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,120}}</string>
                <key>sourceSize</key>
                <string>{73,120}</string>
            </dict>
            <key>dh_zhuchengilight19_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1881},{148,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,169}}</string>
                <key>sourceSize</key>
                <string>{148,169}</string>
            </dict>
            <key>dh_zhuchengilight19_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,381},{349,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,399}}</string>
                <key>sourceSize</key>
                <string>{349,399}</string>
            </dict>
            <key>dh_zhuchengilight19_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1202},{182,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,93}}</string>
                <key>sourceSize</key>
                <string>{182,93}</string>
            </dict>
            <key>dh_zhuchengilight19_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1202},{210,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,225}}</string>
                <key>sourceSize</key>
                <string>{210,225}</string>
            </dict>
            <key>dh_zhuchengilight19_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1479},{138,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,199}}</string>
                <key>sourceSize</key>
                <string>{138,199}</string>
            </dict>
            <key>dh_zhuchengilight19_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,727},{295,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,297}}</string>
                <key>sourceSize</key>
                <string>{295,297}</string>
            </dict>
            <key>dh_zhuchengilight19_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1431},{244,145}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{244,145}}</string>
                <key>sourceSize</key>
                <string>{258,151}</string>
            </dict>
            <key>dh_zhuchengilight19_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1621},{270,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{272,99}</string>
            </dict>
            <key>dh_zhuchengilight19_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1761},{167,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,155}}</string>
                <key>sourceSize</key>
                <string>{167,155}</string>
            </dict>
            <key>dh_zhuchengilight19_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1609},{239,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{239,111}}</string>
                <key>sourceSize</key>
                <string>{261,125}</string>
            </dict>
            <key>dh_zhuchengilight19_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,347},{327,236}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{327,236}}</string>
                <key>sourceSize</key>
                <string>{331,244}</string>
            </dict>
            <key>dh_zhuchengilight19_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,784},{434,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,225}}</string>
                <key>sourceSize</key>
                <string>{434,225}</string>
            </dict>
            <key>dh_zhuchengilight19_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1222},{451,193}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{451,193}}</string>
                <key>sourceSize</key>
                <string>{455,197}</string>
            </dict>
            <key>dh_zhuchengilight19_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1206},{130,282}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,282}}</string>
                <key>sourceSize</key>
                <string>{132,282}</string>
            </dict>
            <key>dh_zhuchengilight19_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1621},{309,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,126}}</string>
                <key>sourceSize</key>
                <string>{309,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityNight.png</string>
            <key>size</key>
            <string>{1010,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2810e51016f0119f5362551413d50b1e:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityNight.png</string>
        </dict>
    </dict>
</plist>
