<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_SPR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1255},{235,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,249}}</string>
                <key>sourceSize</key>
                <string>{235,249}</string>
            </dict>
            <key>BG_miracle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,992},{267,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,135}}</string>
                <key>sourceSize</key>
                <string>{267,135}</string>
            </dict>
            <key>BG_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1262},{157,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,147}}</string>
                <key>sourceSize</key>
                <string>{157,147}</string>
            </dict>
            <key>BG_statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,678},{242,269}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,269}}</string>
                <key>sourceSize</key>
                <string>{244,271}</string>
            </dict>
            <key>altar.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,3},{257,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,387}}</string>
                <key>sourceSize</key>
                <string>{257,387}</string>
            </dict>
            <key>baozangzhichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1263},{236,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,173}}</string>
                <key>sourceSize</key>
                <string>{236,173}</string>
            </dict>
            <key>bubingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,698},{297,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,199}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>bubingying_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1005},{312,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,230}}</string>
                <key>sourceSize</key>
                <string>{312,230}</string>
            </dict>
            <key>cangku.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,3},{331,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,245}}</string>
                <key>sourceSize</key>
                <string>{331,245}</string>
            </dict>
            <key>chebingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,762},{276,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,218}}</string>
                <key>sourceSize</key>
                <string>{276,218}</string>
            </dict>
            <key>chongwuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,512},{480,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,234}}</string>
                <key>sourceSize</key>
                <string>{480,234}</string>
            </dict>
            <key>dashiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1336},{302,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,206}}</string>
                <key>sourceSize</key>
                <string>{302,206}</string>
            </dict>
            <key>fuhuoquanshui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,992},{253,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,259}}</string>
                <key>sourceSize</key>
                <string>{253,259}</string>
            </dict>
            <key>gan.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1004},{115,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,312}}</string>
                <key>sourceSize</key>
                <string>{115,312}</string>
            </dict>
            <key>gongbingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1006},{326,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,193}}</string>
                <key>sourceSize</key>
                <string>{326,193}</string>
            </dict>
            <key>gongbingying_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,451},{312,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,243}}</string>
                <key>sourceSize</key>
                <string>{312,243}</string>
            </dict>
            <key>gonggaolan.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1368},{267,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,178}}</string>
                <key>sourceSize</key>
                <string>{267,178}</string>
            </dict>
            <key>huochuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,431},{243,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,228}}</string>
                <key>sourceSize</key>
                <string>{243,228}</string>
            </dict>
            <key>huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1158},{190,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,100}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>inner_city_building_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1006},{326,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,166}}</string>
                <key>sourceSize</key>
                <string>{326,166}</string>
            </dict>
            <key>jiaochang.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,512},{234,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,202}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
            <key>jingyingdiantang.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,253},{338,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,194}}</string>
                <key>sourceSize</key>
                <string>{338,194}</string>
            </dict>
            <key>liaowangta.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1004},{131,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,360}}</string>
                <key>sourceSize</key>
                <string>{131,360}</string>
            </dict>
            <key>lvxingshangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,750},{252,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,191}}</string>
                <key>sourceSize</key>
                <string>{252,191}</string>
            </dict>
            <key>map_build_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,924},{213,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,230}}</string>
                <key>sourceSize</key>
                <string>{213,230}</string>
            </dict>
            <key>matou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1423},{170,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,127}}</string>
                <key>sourceSize</key>
                <string>{170,127}</string>
            </dict>
            <key>prison.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,3},{342,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,246}}</string>
                <key>sourceSize</key>
                <string>{342,246}</string>
            </dict>
            <key>qibingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,601},{282,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,184}}</string>
                <key>sourceSize</key>
                <string>{282,184}</string>
            </dict>
            <key>qibingying_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,750},{346,252}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{346,252}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>shichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1304},{237,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,187}}</string>
                <key>sourceSize</key>
                <string>{237,187}</string>
            </dict>
            <key>tiejiangpu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1363},{328,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,188}}</string>
                <key>sourceSize</key>
                <string>{328,188}</string>
            </dict>
            <key>train.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1321},{277,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,230}}</string>
                <key>sourceSize</key>
                <string>{277,230}</string>
            </dict>
            <key>xiangbingying_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,3},{324,254}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{324,254}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>xueyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,750},{251,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,241}}</string>
                <key>sourceSize</key>
                <string>{251,241}</string>
            </dict>
            <key>yongzhediaoxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,984},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,592},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,431},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,422},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,261},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,252},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,999},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,699},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,394},{166,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,301}}</string>
                <key>sourceSize</key>
                <string>{166,301}</string>
            </dict>
            <key>yongzhediaoxiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,3},{167,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,301}}</string>
                <key>sourceSize</key>
                <string>{167,301}</string>
            </dict>
            <key>zhanzhengbaolei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,789},{279,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,199}}</string>
                <key>sourceSize</key>
                <string>{279,199}</string>
            </dict>
            <key>zhanzhengdating.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1006},{353,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,227}}</string>
                <key>sourceSize</key>
                <string>{353,227}</string>
            </dict>
            <key>zhucheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{597,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,505}}</string>
                <key>sourceSize</key>
                <string>{597,505}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityInner.png</string>
            <key>size</key>
            <string>{2048,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec28abbb83d58dcd0007c0197d1e0de:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityInner.png</string>
        </dict>
    </dict>
</plist>
