<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengmen_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,570},{291,340}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,73},{291,340}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>chengmen_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,273},{293,344}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,71},{293,344}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>chengmen_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,3},{309,368}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{309,368}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>chengmen_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,3},{335,394}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{335,394}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>chengmen_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{311,398}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{311,398}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>chengqiang_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,570},{362,310}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,41},{362,310}}</string>
                <key>sourceSize</key>
                <string>{418,386}</string>
            </dict>
            <key>chengqiang_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,375},{368,322}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{368,322}}</string>
                <key>sourceSize</key>
                <string>{418,386}</string>
            </dict>
            <key>chengqiang_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,375},{366,326}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{366,326}}</string>
                <key>sourceSize</key>
                <string>{418,386}</string>
            </dict>
            <key>chengqiang_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,3},{368,332}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{368,332}}</string>
                <key>sourceSize</key>
                <string>{418,386}</string>
            </dict>
            <key>chengqiang_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,3},{364,350}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{364,350}}</string>
                <key>sourceSize</key>
                <string>{418,386}</string>
            </dict>
            <key>et_kaichang_cq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,3},{335,394}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{335,394}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>et_kaichang_cq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,405},{335,396}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{335,396}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>et_kaichang_cq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,401},{345,392}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{345,392}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>et_kaichang_cq_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,3},{353,266}}</string>
                <key>offset</key>
                <string>{-5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,174},{353,266}}</string>
                <key>sourceSize</key>
                <string>{363,440}</string>
            </dict>
            <key>jianta_lv1_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,371},{131,258}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,71},{131,258}}</string>
                <key>sourceSize</key>
                <string>{191,350}</string>
            </dict>
            <key>jianta_lv2_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,805},{131,264}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,67},{131,264}}</string>
                <key>sourceSize</key>
                <string>{191,350}</string>
            </dict>
            <key>jianta_lv3_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,797},{141,284}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{141,284}}</string>
                <key>sourceSize</key>
                <string>{191,350}</string>
            </dict>
            <key>jianta_lv4_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,747},{163,310}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{163,310}}</string>
                <key>sourceSize</key>
                <string>{191,350}</string>
            </dict>
            <key>jianta_lv5_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,805},{139,314}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{139,314}}</string>
                <key>sourceSize</key>
                <string>{191,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityWall.png</string>
            <key>size</key>
            <string>{2016,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a447f02db91415edb489b4bd3a569e:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityWall.png</string>
        </dict>
    </dict>
</plist>
