<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_6th_night_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1011},{476,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,346}}</string>
                <key>sourceSize</key>
                <string>{476,346}</string>
            </dict>
            <key>dh_6th_night_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1831},{294,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,181}}</string>
                <key>sourceSize</key>
                <string>{294,181}</string>
            </dict>
            <key>dh_6th_night_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{735,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,246}}</string>
                <key>sourceSize</key>
                <string>{735,246}</string>
            </dict>
            <key>dh_6th_night_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{714,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,177}}</string>
                <key>sourceSize</key>
                <string>{714,177}</string>
            </dict>
            <key>dh_6th_night_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{629,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,291}}</string>
                <key>sourceSize</key>
                <string>{629,291}</string>
            </dict>
            <key>dh_6th_night_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{558,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,230}}</string>
                <key>sourceSize</key>
                <string>{558,230}</string>
            </dict>
            <key>dh_6th_night_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1542},{439,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,172}}</string>
                <key>sourceSize</key>
                <string>{439,172}</string>
            </dict>
            <key>dh_6th_night_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,563},{445,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,360}}</string>
                <key>sourceSize</key>
                <string>{445,360}</string>
            </dict>
            <key>dh_6th_night_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{407,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,446}}</string>
                <key>sourceSize</key>
                <string>{407,446}</string>
            </dict>
            <key>dh_6th_night_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{584,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,425}}</string>
                <key>sourceSize</key>
                <string>{584,425}</string>
            </dict>
            <key>dh_6th_night_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{591,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,386}}</string>
                <key>sourceSize</key>
                <string>{591,386}</string>
            </dict>
            <key>dh_6th_night_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1542},{408,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,286}}</string>
                <key>sourceSize</key>
                <string>{408,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCitySixth.png</string>
            <key>size</key>
            <string>{997,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:389653efeeb790c76789728da0ea396c:1/1$</string>
            <key>textureFileName</key>
            <string>mainCitySixth.png</string>
        </dict>
    </dict>
</plist>
