<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainCityBG_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1020}}</string>
                <key>sourceSize</key>
                <string>{130,1020}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityBGHall_17.png</string>
            <key>size</key>
            <string>{134,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c5117dc26e61e996dba0e0475b8f424:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityBGHall_17.png</string>
        </dict>
    </dict>
</plist>
