<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>666.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1408},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1081},{147,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,171}}</string>
                <key>sourceSize</key>
                <string>{147,171}</string>
            </dict>
            <key>yanhua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,249},{206,206}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{206,206}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>yanhua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>yanhua_1_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1391},{118,168}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{118,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1069},{144,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{144,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1233},{156,152}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{156,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,899},{164,160}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{164,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,907},{170,164}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{170,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1355},{170,168}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{170,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,731},{170,170}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{170,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,377},{172,172}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,391},{174,176}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{174,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,481},{174,180}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,995},{174,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{174,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,989},{176,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{176,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,595},{176,190}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{176,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,401},{178,192}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{178,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,799},{180,192}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{180,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,789},{180,190}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{180,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1173},{178,188}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{178,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,943},{178,180}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{178,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,571},{178,180}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{178,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_1_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,553},{174,178}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,201},{122,172}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{122,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1069},{152,160}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{152,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,905},{166,160}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{166,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,377},{172,166}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{172,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,553},{174,170}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{174,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1355},{176,168}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{176,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1355},{174,168}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1181},{174,170}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{174,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,729},{172,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{172,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,199},{174,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,755},{172,184}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{172,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,377},{172,186}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{172,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,775},{172,190}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{172,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,581},{172,190}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{172,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,597},{172,192}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{172,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,793},{174,192}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{174,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,203},{176,192}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{176,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,603},{180,192}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{180,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,399},{170,192}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{170,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_2_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1219},{168,190}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{168,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1233},{148,172}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{148,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,553},{180,172}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{180,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,393},{190,184}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,245},{196,184}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1069},{198,190}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,3},{198,194}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1271},{198,188}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,3},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,665},{198,190}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,3},{200,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,3},{198,192}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1177},{174,186}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{174,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,445},{166,196}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{166,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1045},{170,190}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{170,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,969},{170,190}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{170,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,205},{168,190}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{168,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1357},{166,190}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{166,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1163},{166,190}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{166,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1357},{166,188}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{166,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_3_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,731},{164,176}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{164,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1232},{150,172}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{150,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1127},{180,174}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{180,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,201},{190,186}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,207},{194,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,645},{196,192}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,203},{194,194}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,201},{192,188}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1275},{196,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,3},{200,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,867},{192,198}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1071},{196,200}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,3},{198,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,663},{198,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,3},{198,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,3},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,459},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,867},{196,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,405},{192,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{192,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,845},{196,194}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{196,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_4_0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,983},{182,190}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{182,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yanhua_smoke__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1445},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1393},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1393},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1461},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1461},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1460},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,1137},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,1063},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1473},{50,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1299},{48,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1227},{48,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1445},{48,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1409},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1409},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1408},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>yanhua_smoke__00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1473},{48,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>youbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,249},{132,228}}</string>
                <key>offset</key>
                <string>{69,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{132,228}}</string>
                <key>sourceSize</key>
                <string>{270,238}</string>
            </dict>
            <key>zuobian.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,3},{170,238}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,238}}</string>
                <key>sourceSize</key>
                <string>{270,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationFireLG.png</string>
            <key>size</key>
            <string>{2047,1526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8069e60808cd0d4a52c07befb40fd469:1/1$</string>
            <key>textureFileName</key>
            <string>animationFireLG.png</string>
        </dict>
    </dict>
</plist>
