<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_zlts01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1929},{74,76}}</string>
                <key>offset</key>
                <string>{1,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,408},{74,76}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1913},{76,228}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,194},{76,228}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1681},{76,210}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,175},{76,210}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1751},{74,220}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,167},{74,220}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1449},{76,228}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,160},{76,228}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,985},{120,322}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{120,322}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1105},{174,352}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{174,352}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1519},{208,370}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{208,370}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1141},{220,374}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{220,374}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,3},{222,372}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{222,372}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,3},{230,376}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{230,376}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1125},{192,362}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{192,362}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,383},{186,362}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,362}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,427},{186,360}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,360}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,795},{186,348}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,348}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1849},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1727},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1723},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1670},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1849},{74,76}}</string>
                <key>offset</key>
                <string>{1,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,407},{74,76}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1533},{76,228}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,195},{76,228}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1217},{76,210}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,175},{76,210}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1921},{74,220}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,167},{74,220}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1453},{76,228}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,160},{76,228}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,985},{120,322}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{120,322}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,749},{174,352}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{174,352}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,215},{208,370}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{208,370}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,3},{220,374}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{220,374}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,3},{222,372}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{222,372}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,383},{230,376}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{230,376}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1129},{192,362}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{192,362}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,759},{186,362}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,362}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,379},{186,360}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,360}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1097},{186,348}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,348}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1655},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1533},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1533},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1476},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1765},{76,76}}</string>
                <key>offset</key>
                <string>{1,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,407},{76,76}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1373},{76,228}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,195},{76,228}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1885},{76,210}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,175},{76,210}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1965},{74,220}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,167},{74,220}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,985},{76,228}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,160},{76,228}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,427},{120,322}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{120,322}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,617},{174,352}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{174,352}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,3},{208,370}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{208,370}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,763},{220,374}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{220,374}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,383},{222,372}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{222,372}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{230,376}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{230,376}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1519},{192,362}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{192,362}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,763},{186,362}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,362}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,381},{186,360}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,360}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,745},{186,348}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,348}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1461},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1179},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,985},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_XL_zlts03_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,795},{186,190}}</string>
                <key>offset</key>
                <string>{1,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{186,190}}</string>
                <key>sourceSize</key>
                <string>{250,500}</string>
            </dict>
            <key>dh_Tex_fjdjjc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1694},{53,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,144}}</string>
                <key>sourceSize</key>
                <string>{53,144}</string>
            </dict>
            <key>dh_Tex_fjdjjc_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1893},{79,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,213}}</string>
                <key>sourceSize</key>
                <string>{79,213}</string>
            </dict>
            <key>dh_Tex_fjdjjc_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1976},{247,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,52}}</string>
                <key>sourceSize</key>
                <string>{247,52}</string>
            </dict>
            <key>dh_Tex_fjdjjc_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1491},{161,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,199}}</string>
                <key>sourceSize</key>
                <string>{163,199}</string>
            </dict>
            <key>dh_Tex_fjdjjc_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1311},{161,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,199}}</string>
                <key>sourceSize</key>
                <string>{163,199}</string>
            </dict>
            <key>dh_Texture_zlts_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1864},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Texture_zlts_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,753},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arenaFA.png</string>
            <key>size</key>
            <string>{1520,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e432ec61116432a09ce2b04d2ce525f:1/1$</string>
            <key>textureFileName</key>
            <string>arenaFA.png</string>
        </dict>
    </dict>
</plist>
