<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_zhongnu3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,279},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,279},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,279},{320,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,138}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,565},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,561},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,561},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,141},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,141},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,421},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,141},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,3},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,417},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,417},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>dh_zhongnu3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,134}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlantisWarFA.png</string>
            <key>size</key>
            <string>{974,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4f2339a4b9df3a0dbc0cb6eeb3f1fc:1/1$</string>
            <key>textureFileName</key>
            <string>atlantisWarFA.png</string>
        </dict>
    </dict>
</plist>
