<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoulie_nujian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1429},{308,177}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,138},{308,177}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1773},{306,175}}</string>
                <key>offset</key>
                <string>{6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,140},{306,175}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1509},{308,173}}</string>
                <key>offset</key>
                <string>{8,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,142},{308,173}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1214},{310,173}}</string>
                <key>offset</key>
                <string>{11,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,142},{310,173}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1049},{310,175}}</string>
                <key>offset</key>
                <string>{13,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,140},{310,175}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,872},{312,173}}</string>
                <key>offset</key>
                <string>{16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,142},{312,173}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1131},{310,173}}</string>
                <key>offset</key>
                <string>{16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,142},{310,173}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1391},{308,177}}</string>
                <key>offset</key>
                <string>{15,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,138},{308,177}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1653},{306,181}}</string>
                <key>offset</key>
                <string>{14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,134},{306,181}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,518},{306,183}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,132},{306,183}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1838},{304,187}}</string>
                <key>offset</key>
                <string>{11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,128},{304,187}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1809},{304,191}}</string>
                <key>offset</key>
                <string>{9,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,124},{304,191}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1454},{304,195}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,120},{304,195}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1686},{306,195}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,120},{306,195}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1610},{306,195}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,120},{306,195}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1572},{306,197}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,118},{306,197}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1308},{308,197}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,118},{308,197}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1228},{308,197}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,118},{308,197}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1142},{308,197}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,118},{308,197}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1013},{310,197}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{310,197}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,828},{310,197}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,118},{310,197}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,928},{310,199}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,116},{310,199}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,810},{312,199}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,116},{312,199}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,725},{312,199}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,116},{312,199}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,669},{312,199}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,116},{312,199}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,3},{388,193}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,122},{388,193}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{396,189}}</string>
                <key>offset</key>
                <string>{-12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{396,189}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,3},{392,183}}</string>
                <key>offset</key>
                <string>{-12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,132},{392,183}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,190},{384,179}}</string>
                <key>offset</key>
                <string>{-11,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,136},{384,179}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,196},{378,171}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,144},{378,171}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,371},{370,165}}</string>
                <key>offset</key>
                <string>{-8,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,150},{370,165}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,200},{360,159}}</string>
                <key>offset</key>
                <string>{-5,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,156},{360,159}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,363},{350,151}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,164},{350,151}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,373},{342,147}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,168},{342,147}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,518},{336,145}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,170},{336,145}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,524},{328,141}}</string>
                <key>offset</key>
                <string>{1,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,174},{328,141}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,667},{322,139}}</string>
                <key>offset</key>
                <string>{2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,176},{322,139}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
            <key>shoulie_nujian_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,540},{314,181}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,134},{314,181}}</string>
                <key>sourceSize</key>
                <string>{420,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bolthd.png</string>
            <key>size</key>
            <string>{1249,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45f28645459f495c6cc2e448f2a64603:1/1$</string>
            <key>textureFileName</key>
            <string>bolthd.png</string>
        </dict>
    </dict>
</plist>
