<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>deng_glow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,921},{166,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,100}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,919},{166,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,100}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,611},{166,98}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,609},{166,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,203},{166,96}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,96}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,103},{166,96}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,96}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,509},{166,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,507},{166,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,103},{166,96}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,96}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,3},{166,96}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,96}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{166,96}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,96}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,407},{166,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,405},{166,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,305},{166,98}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,303},{166,98}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,203},{166,98}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,98}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,817},{166,100}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{166,100}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,815},{166,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,100}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,713},{166,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,100}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>deng_glow_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,711},{166,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{166,100}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubbleRewardFA2.png</string>
            <key>size</key>
            <string>{342,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa5f39bb554cac294fe095762d47a5f2:1/1$</string>
            <key>textureFileName</key>
            <string>bubbleRewardFA2.png</string>
        </dict>
    </dict>
</plist>
