<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_zbk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,619},{116,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{116,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,555},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,371},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,187},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,187},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,187},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1367},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1183},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,999},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,815},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,3},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,631},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,3},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,447},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,3},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{190,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,180}</string>
            </dict>
            <key>dh_zhuangban2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1071},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,917},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,763},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1351},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1267},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1351},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1183},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1267},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1351},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1099},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1183},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1267},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1015},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1099},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1183},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,931},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1015},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1099},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,847},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,931},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1015},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,763},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,847},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,931},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,763},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,847},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,763},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,679},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,679},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,679},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>dh_zhuangban5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dh_zhuangban5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1225},{94,110}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1339},{94,108}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,853},{110,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1195},{110,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{110,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1435},{110,90}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{110,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1309},{108,96}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{108,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,739},{106,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1509},{100,110}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1451},{82,110}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1435},{104,110}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1435},{110,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1509},{110,100}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1451},{110,88}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1081},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,967},{108,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_zhuangban6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,465},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,311},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,525},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,371},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1355},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1201},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1047},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,525},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,893},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,371},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,525},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,739},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,371},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,157},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_zhuangban6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,3},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_cbzb_avatarframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1537},{64,72}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{64,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_cbzb_castle.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,263},{62,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_cbzb_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1551},{68,58}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{68,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_cbzb_march.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1529},{76,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_cbzb_nameplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1551},{84,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{84,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleSkinFA.png</string>
            <key>size</key>
            <string>{1017,1612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08648195b277d76bf3b098181ac9a1b9:1/1$</string>
            <key>textureFileName</key>
            <string>castleSkinFA.png</string>
        </dict>
    </dict>
</plist>
