<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_csyx1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1565},{250,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1433},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1301},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1169},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1037},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,905},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,773},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,641},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,509},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,377},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,245},{250,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,113},{250,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,128}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>dh_csyx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1771},{140,134}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{140,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dh_csyx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,147},{140,122}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{140,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dh_csyxn4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1499},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1497},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1229},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1227},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,831},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,957},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,561},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,687},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,291},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,417},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,147},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1771},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1659},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1547},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1435},{266,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{266,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1883},{130,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,49}}</string>
                <key>sourceSize</key>
                <string>{130,49}</string>
            </dict>
            <key>dh_csyxn5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1936},{124,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,11}}</string>
                <key>sourceSize</key>
                <string>{124,11}</string>
            </dict>
            <key>dh_csyxn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,113},{270,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{270,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1325},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1215},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1105},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,995},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,885},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,775},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,665},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1697},{270,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{270,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1697},{270,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{270,108}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,555},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,445},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,335},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,225},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,3},{270,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,106}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>dh_csyxn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1825},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dh_rongyao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1769},{80,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_rongyao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1883},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>dh_rongyao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,3},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dh_zhaojiljs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1101},{124,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frame_csyx_yun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{344,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,106}}</string>
                <key>sourceSize</key>
                <string>{344,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dashToSkyFA.png</string>
            <key>size</key>
            <string>{768,1971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c750f5578301436ef463c98998b551f1:1/1$</string>
            <key>textureFileName</key>
            <string>dashToSkyFA.png</string>
        </dict>
    </dict>
</plist>
