<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_smjj01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,149},{122,44}}</string>
                <key>offset</key>
                <string>{-100,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,81},{122,44}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,149},{160,52}}</string>
                <key>offset</key>
                <string>{-81,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,73},{160,52}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,3},{198,64}}</string>
                <key>offset</key>
                <string>{-62,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{198,64}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,807},{232,78}}</string>
                <key>offset</key>
                <string>{-45,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,47},{232,78}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,905},{264,90}}</string>
                <key>offset</key>
                <string>{-30,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{264,90}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,555},{288,102}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{288,102}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,369},{320,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{320,118}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,247},{320,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{320,118}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,125},{320,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{320,118}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{322,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{322,118}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,599},{302,100}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{302,100}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,711},{262,92}}</string>
                <key>offset</key>
                <string>{29,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,6},{262,92}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,905},{222,84}}</string>
                <key>offset</key>
                <string>{49,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,6},{222,84}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_XL_smjj01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,71},{182,74}}</string>
                <key>offset</key>
                <string>{69,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,6},{182,74}}</string>
                <key>sourceSize</key>
                <string>{330,130}</string>
            </dict>
            <key>dh_Tex_cgjw_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,431},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Tex_smjj02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,491},{320,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,93}}</string>
                <key>sourceSize</key>
                <string>{320,93}</string>
            </dict>
            <key>dh_Tex_smjj02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,588},{320,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,72}}</string>
                <key>sourceSize</key>
                <string>{320,72}</string>
            </dict>
            <key>dh_Tex_smjj02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,664},{320,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,43}}</string>
                <key>sourceSize</key>
                <string>{320,43}</string>
            </dict>
            <key>dh_Tex_smjj02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,275},{320,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,72}}</string>
                <key>sourceSize</key>
                <string>{320,72}</string>
            </dict>
            <key>dh_Tex_smjj03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,321},{128,106}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Tex_smjj03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,205},{128,112}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Tex_smjj_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,905},{41,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desertExcavateFA.png</string>
            <key>size</key>
            <string>{538,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df184146aefadbcfed1c96d7ba577926:1/1$</string>
            <key>textureFileName</key>
            <string>desertExcavateFA.png</string>
        </dict>
    </dict>
</plist>
