<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Texture_XL_qckq03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,502},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,371},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,255},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,124},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,3},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,764},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,633},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,502},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,238},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,371},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,633},{117,125}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{117,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,895},{117,125}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{117,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,643},{99,75}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,60},{99,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,560},{101,79}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{101,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,386},{109,87}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{109,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,877},{117,97}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{117,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,762},{117,111}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{117,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,107},{117,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,386},{95,35}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,39},{95,35}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,978},{95,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{95,43}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,560},{97,49}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{97,49}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,863},{97,53}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{97,53}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,848},{97,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,722},{97,61}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,61}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,787},{97,57}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,762},{97,53}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,53}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,661},{97,51}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,909},{97,47}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,47}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_XL_qckq05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,960},{97,45}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>dh_Texture_qckq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,239},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Texture_qckq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,964},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dh_Texture_qckq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Texture_qckq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{256,100}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>dh_Texture_qckq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,477},{106,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{106,79}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>devoutFAnimation.png</string>
            <key>size</key>
            <string>{402,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57318b227ddddecf32ab7c18f0756d37:1/1$</string>
            <key>textureFileName</key>
            <string>devoutFAnimation.png</string>
        </dict>
    </dict>
</plist>
