<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_jinsetj1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,158},{164,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,151}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,158},{164,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,151}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,3},{164,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,151}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,313},{164,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,153}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,633},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,629},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,629},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,474},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,470},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,470},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,315},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,313},{164,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,153}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,158},{164,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,153}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,3},{164,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,151}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>dh_jinsetj1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{164,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,151}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dh_jinsetj1.png</string>
            <key>size</key>
            <string>{506,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:821636357edcd62d79978f53eceb0b67:1/1$</string>
            <key>textureFileName</key>
            <string>dh_jinsetj1.png</string>
        </dict>
    </dict>
</plist>
