<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_jinsetj2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,391},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,391},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,391},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,391},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,391},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,197},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,197},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,197},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,197},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,197},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,3},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,3},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,3},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,3},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_jinsetj2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{196,190}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dh_jinsetj2.png</string>
            <key>size</key>
            <string>{1002,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cebbc0afd4538b6ecf2a94cbc1b08ea:1/1$</string>
            <key>textureFileName</key>
            <string>dh_jinsetj2.png</string>
        </dict>
    </dict>
</plist>
