<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_jinsetj4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{314,152}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,152}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,657},{302,160}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{302,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,159},{310,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{310,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,493},{302,160}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{302,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,821},{282,160}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{282,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,329},{282,160}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{282,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,323},{308,160}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,167},{296,158}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,158}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,651},{306,160}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{306,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,3},{290,160}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{290,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,487},{306,160}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>dh_jinsetj4_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,821},{208,158}}</string>
                <key>offset</key>
                <string>{35,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{208,158}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dh_jinsetj4.png</string>
            <key>size</key>
            <string>{618,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aebda97daa5ebd996afaa1e5fa99a6a:1/1$</string>
            <key>textureFileName</key>
            <string>dh_jinsetj4.png</string>
        </dict>
    </dict>
</plist>
