<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_cqjwzb01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1431},{74,94}}</string>
                <key>offset</key>
                <string>{-129,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{74,94}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1465},{160,136}}</string>
                <key>offset</key>
                <string>{-86,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{160,136}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1163},{260,152}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{260,152}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,433},{322,154}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{322,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1097},{334,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{334,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,759},{334,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{334,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,3},{334,156}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{334,156}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1426},{334,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{334,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,3},{334,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{334,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,754},{334,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{334,152}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1099},{332,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,13},{332,150}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,759},{336,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{336,150}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1086},{336,154}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{336,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,3},{336,154}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{336,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,746},{336,154}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{336,154}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1435},{330,158}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,12},{330,158}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,163},{144,270}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{144,270}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1319},{144,268}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{144,268}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,595},{144,266}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{144,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,325},{144,266}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{144,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,929},{144,266}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{144,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,659},{144,266}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{144,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,325},{142,266}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{142,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1283},{142,266}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{142,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,659},{144,266}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{144,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1591},{144,266}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{144,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,859},{146,264}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{146,264}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,865},{146,264}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{146,264}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1199},{146,262}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{146,262}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,323},{146,260}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{146,260}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1319},{146,268}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{146,268}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,173},{146,270}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{146,270}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1052},{57,58}}</string>
                <key>offset</key>
                <string>{-108,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,93},{57,58}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1607},{123,114}}</string>
                <key>offset</key>
                <string>{-100,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,67},{123,114}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,444},{211,194}}</string>
                <key>offset</key>
                <string>{-92,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{211,194}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1769},{267,240}}</string>
                <key>offset</key>
                <string>{-80,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,240}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,189},{283,240}}</string>
                <key>offset</key>
                <string>{-72,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,240}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,189},{257,240}}</string>
                <key>offset</key>
                <string>{-85,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,240}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,444},{235,240}}</string>
                <key>offset</key>
                <string>{-96,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,240}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,928},{231,224}}</string>
                <key>offset</key>
                <string>{-91,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{231,224}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,433},{309,200}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{309,200}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{345,182}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{345,182}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,433},{317,168}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,35},{317,168}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,161},{315,166}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{315,166}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,3},{319,166}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{319,166}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1417},{319,162}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{319,162}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,161},{319,160}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{319,160}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1435},{321,158}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,48},{321,158}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1092},{321,156}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,49},{321,156}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,437},{305,156}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,49},{305,156}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1740},{291,144}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,61},{291,144}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1740},{245,110}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,73},{245,110}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1595},{177,68}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,81},{177,68}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,595},{107,54}}</string>
                <key>offset</key>
                <string>{79,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,89},{107,54}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb07_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,688},{51,50}}</string>
                <key>offset</key>
                <string>{106,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,90},{51,50}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,331},{109,110}}</string>
                <key>offset</key>
                <string>{-119,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,64},{109,110}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1122},{157,144}}</string>
                <key>offset</key>
                <string>{-123,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,50},{157,144}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1605},{155,170}}</string>
                <key>offset</key>
                <string>{-115,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{155,170}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1257},{185,170}}</string>
                <key>offset</key>
                <string>{-113,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,54},{185,170}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,929},{189,180}}</string>
                <key>offset</key>
                <string>{-104,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,54},{189,180}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1553},{151,142}}</string>
                <key>offset</key>
                <string>{-128,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,56},{151,142}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1431},{141,126}}</string>
                <key>offset</key>
                <string>{-105,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{141,126}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1869},{173,126}}</string>
                <key>offset</key>
                <string>{-89,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,58},{173,126}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1127},{195,126}}</string>
                <key>offset</key>
                <string>{-78,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{195,126}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1739},{243,126}}</string>
                <key>offset</key>
                <string>{-54,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{243,126}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1133},{251,124}}</string>
                <key>offset</key>
                <string>{-50,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,61},{251,124}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,729},{251,126}}</string>
                <key>offset</key>
                <string>{-49,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,60},{251,126}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,473},{255,124}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,62},{255,124}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,601},{261,124}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,62},{261,124}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1760},{273,122}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,63},{273,122}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1764},{277,120}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,65},{277,120}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,746},{283,120}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,65},{283,120}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1033},{283,118}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,67},{283,118}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1320},{283,116}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,67},{283,116}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1561},{185,72}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,95},{185,72}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,859},{189,62}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,88},{189,62}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1388},{203,76}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,89},{203,76}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1844},{179,76}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,86},{179,76}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1764},{179,76}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,86},{179,76}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1851},{181,76}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,86},{181,76}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,1561},{183,76}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,85},{183,76}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,173},{145,68}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,86},{145,68}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_XL_cqjwzb08_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1869},{149,68}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,86},{149,68}}</string>
                <key>sourceSize</key>
                <string>{427,240}</string>
            </dict>
            <key>dh_Tex_cqjwzb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1739},{108,104}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{108,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_Tex_cqjwzb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,688},{236,226}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{236,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dh_Tex_cqjwzb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,331},{109,304}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{109,304}}</string>
                <key>sourceSize</key>
                <string>{115,316}</string>
            </dict>
            <key>dh_Texture_zbqh02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1851},{44,190}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{44,190}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1748},{44,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{44,200}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1776},{44,200}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,200}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1764},{44,200}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,200}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1750},{44,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{44,198}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1844},{50,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,194}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1844},{50,194}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{50,194}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1776},{48,194}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{48,194}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1750},{46,196}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,196}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1529},{46,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,200}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1733},{40,184}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,184}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>dh_Texture_zbqh02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1999},{42,186}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,186}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipRefineA.png</string>
            <key>size</key>
            <string>{1691,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab69e85b02258ed7328b87d7df300c39:1/1$</string>
            <key>textureFileName</key>
            <string>equipRefineA.png</string>
        </dict>
    </dict>
</plist>
