<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_qichongzou_GW_raysleft_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,735},{89,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,836},{91,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,836},{91,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,735},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,634},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,528},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,735},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,634},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,533},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,929},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,828},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,533},{95,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,427},{95,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,634},{91,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_GW_raysleft_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,533},{91,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>dh_qichongzou_leftPar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,427},{145,208}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,384},{145,208}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,215},{143,208}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,215},{171,206}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,206}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,637},{169,206}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,206}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,427},{171,206}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,206}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,3},{171,208}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,3},{169,208}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,3},{167,208}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,215},{165,208}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,847},{161,208}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,215},{175,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{175,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,639},{153,208}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
            <key>dh_qichongzou_leftPar_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,796},{149,208}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,208}}</string>
                <key>sourceSize</key>
                <string>{177,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventCrazyTrioFA2.png</string>
            <key>size</key>
            <string>{715,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:483625bcb59f018f01a3e7521b656670:1/1$</string>
            <key>textureFileName</key>
            <string>eventCrazyTrioFA2.png</string>
        </dict>
    </dict>
</plist>
