<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_qichongzou_GW_QZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1563},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1407},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1251},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1239},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1095},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,939},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,827},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,783},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,627},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,471},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,415},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,315},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,159},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,3},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
            <key>dh_qichongzou_GW_QZ_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{408,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{408,152}}</string>
                <key>sourceSize</key>
                <string>{408,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventCrazyTrioFA5.png</string>
            <key>size</key>
            <string>{570,1718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b73c578ac891d8d2f27ca9dbde9cf7d:1/1$</string>
            <key>textureFileName</key>
            <string>eventCrazyTrioFA5.png</string>
        </dict>
    </dict>
</plist>
