<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_qichongzou_qizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,801},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,668},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,668},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,395},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,535},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,535},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,402},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,402},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,269},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,269},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,3},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,136},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,136},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,3},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
            <key>dh_qichongzou_qizi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{388,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{388,129}}</string>
                <key>sourceSize</key>
                <string>{388,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventCrazyTrioFA3.png</string>
            <key>size</key>
            <string>{919,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85b779072c101f6f6ec4b5b195da668b:1/1$</string>
            <key>textureFileName</key>
            <string>eventCrazyTrioFA3.png</string>
        </dict>
    </dict>
</plist>
