<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_qichongzou_GW_raysright_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,402},{76,95}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,201},{76,95}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,204},{76,95}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,402},{82,95}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,501},{80,95}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{80,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,303},{88,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,3},{88,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,102},{86,95}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{86,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,303},{84,95}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{84,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,204},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,504},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,405},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,504},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,504},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_GW_raysright_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,405},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dh_qichongzou_RightPar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,3},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,204},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,405},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,3},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,204},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,405},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,3},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,204},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,405},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,3},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,204},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,405},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,3},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,204},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_RightPar_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{139,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,197}}</string>
                <key>sourceSize</key>
                <string>{139,197}</string>
            </dict>
            <key>dh_qichongzou_UIglow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,600},{1,1}}</string>
                <key>offset</key>
                <string>{-122,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,3},{137,13}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{137,13}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,3},{147,13}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{147,13}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,334},{163,13}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,7},{163,13}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,167},{163,13}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,7},{163,13}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,334},{151,13}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,6},{151,13}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,334},{135,13}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,6},{135,13}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,473},{113,13}}</string>
                <key>offset</key>
                <string>{40,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,6},{113,13}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,3},{89,11}}</string>
                <key>offset</key>
                <string>{52,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,7},{89,11}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,96},{67,11}}</string>
                <key>offset</key>
                <string>{61,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,7},{67,11}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
            <key>dh_qichongzou_UIglow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,154},{43,9}}</string>
                <key>offset</key>
                <string>{68,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,8},{43,9}}</string>
                <key>sourceSize</key>
                <string>{245,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventCrazyTrioFA4.png</string>
            <key>size</key>
            <string>{1001,607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fa19bef2e4d14bdbe7651cde9b1225:1/1$</string>
            <key>textureFileName</key>
            <string>eventCrazyTrioFA4.png</string>
        </dict>
    </dict>
</plist>
