<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_qichongzou_Left01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,290},{11,18}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{11,18}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,224},{21,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{21,28}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,156},{23,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{23,30}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{25,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{25,30}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,122},{23,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{23,30}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,88},{23,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{23,30}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,54},{23,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{23,30}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,190},{21,30}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{21,30}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,256},{19,30}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{19,30}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,305},{17,28}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{17,28}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,337},{17,26}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{17,26}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dh_qichongzou_Left01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,37},{13,24}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{13,24}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventCrazyTrioFA6.png</string>
            <key>size</key>
            <string>{31,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:475deb82e6ae6de8e1c624533768d4d0:1/1$</string>
            <key>textureFileName</key>
            <string>eventCrazyTrioFA6.png</string>
        </dict>
    </dict>
</plist>
