<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_wuzhouniantb1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{178,154}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_wuzhouniantb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,213},{62,28}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,92},{62,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,119},{90,50}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,70},{90,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,119},{98,70}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,50},{98,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,161},{102,86}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{102,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,3},{102,106}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{102,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,3},{102,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{102,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,3},{102,112}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{102,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,123},{102,96}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,161},{102,78}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{102,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,113},{70,58}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,1},{70,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,213},{48,34}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,2},{48,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dh_wuzhouniantb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,123},{28,16}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,3},{28,16}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fifthActivityFA.png</string>
            <key>size</key>
            <string>{507,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a73787323e3ed857d9476f917cb2006:1/1$</string>
            <key>textureFileName</key>
            <string>fifthActivityFA.png</string>
        </dict>
    </dict>
</plist>
