<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tslb_BG_lizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,117},{118,265}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,89},{118,265}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,865},{116,345}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,83},{116,345}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,3},{110,343}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,76},{110,343}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,739},{122,337}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,72},{122,337}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,3},{114,335}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,65},{114,335}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,3},{108,331}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,59},{108,331}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,881},{102,341}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,53},{102,341}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,833},{148,325}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,46},{148,325}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,831},{142,331}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,42},{142,331}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,249},{156,383}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,36},{156,383}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,581},{154,377}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,32},{154,377}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,249},{174,365}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{174,365}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,618},{174,363}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,22},{174,363}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,796},{172,359}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,17},{172,359}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_lizi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,409},{168,351}}</string>
                <key>offset</key>
                <string>{28,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,15},{168,351}}</string>
                <key>sourceSize</key>
                <string>{282,431}</string>
            </dict>
            <key>tslb_BG_ruo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{288,248}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{288,248}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,3},{288,242}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{288,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,249},{288,242}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{288,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,591},{292,242}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{292,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,295},{292,242}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{292,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,539},{286,242}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{286,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,541},{288,242}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{288,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,3},{288,242}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{288,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,249},{288,242}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,589},{288,242}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,3},{290,242}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{290,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,295},{290,242}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{290,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,3},{286,242}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{286,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,249},{286,242}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{286,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
            <key>tslb_BG_ruo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,541},{286,242}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{286,242}}</string>
                <key>sourceSize</key>
                <string>{308,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroGiftFA.png</string>
            <key>size</key>
            <string>{2027,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9230d50a97aa9a3d76735b142d8c912:1/1$</string>
            <key>textureFileName</key>
            <string>heroGiftFA.png</string>
        </dict>
    </dict>
</plist>
