<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YXMZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,273},{133,146}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,25},{133,146}}</string>
                <key>sourceSize</key>
                <string>{203,188}</string>
            </dict>
            <key>YXMZ_DD_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,459},{55,108}}</string>
                <key>offset</key>
                <string>{22,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,210},{55,108}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,303},{105,208}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,134},{105,208}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{151,296}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{151,296}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,3},{147,294}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{147,294}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,3},{143,286}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,77},{143,286}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,3},{141,282}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,82},{141,282}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,3},{141,278}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{141,278}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,3},{135,264}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{135,264}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,303},{117,214}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,104},{117,214}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,293},{115,184}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,110},{115,184}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_DD_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,3},{119,162}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,114},{119,162}}</string>
                <key>sourceSize</key>
                <string>{315,438}</string>
            </dict>
            <key>YXMZ_baoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,3},{102,122}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,129},{102,122}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,249},{102,122}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,375},{102,122}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,3},{102,122}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,143},{102,122}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,31},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,249},{102,122}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,409},{102,124}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{102,124}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,159},{102,124}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{102,124}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,167},{102,124}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{102,124}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,167},{102,126}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,27},{102,126}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,143},{102,122}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,393},{102,122}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,147},{102,122}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,409},{102,122}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{102,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,381},{100,122}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{100,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,255},{100,122}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{100,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,375},{100,122}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{100,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,129},{100,122}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{100,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_baoshi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,3},{100,122}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{100,122}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>YXMZ_glow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,301},{218,218}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,34},{218,218}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,289},{176,176}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{176,176}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,3},{146,152}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,68},{146,152}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,285},{158,170}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{158,170}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,3},{160,160}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,66},{160,160}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,277},{146,160}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,66},{146,160}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,273},{146,158}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,68},{146,158}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,3},{140,138}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,71},{140,138}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,265},{140,136}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,70},{140,136}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,3},{128,136}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{128,136}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,253},{122,136}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{122,136}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,169},{104,136}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,67},{104,136}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,3},{100,136}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,67},{100,136}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,441},{78,118}}</string>
                <key>offset</key>
                <string>{25,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,76},{78,118}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,459},{54,110}}</string>
                <key>offset</key>
                <string>{37,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,83},{54,110}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,481},{38,74}}</string>
                <key>offset</key>
                <string>{38,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,83},{38,74}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,481},{30,64}}</string>
                <key>offset</key>
                <string>{39,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,82},{30,64}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
            <key>YXMZ_glow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,271},{10,10}}</string>
                <key>offset</key>
                <string>{38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,91},{10,10}}</string>
                <key>sourceSize</key>
                <string>{298,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroSecretFA.png</string>
            <key>size</key>
            <string>{2026,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b6f243ae19d47cef0017b336abc38f:1/1$</string>
            <key>textureFileName</key>
            <string>heroSecretFA.png</string>
        </dict>
    </dict>
</plist>
