<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1mofangdonghua0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,3},{276,282}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{276,282}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,283},{276,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{276,280}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,557},{264,280}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,20},{264,280}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,563},{264,270}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{264,270}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,831},{256,252}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{256,252}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1095},{242,242}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,59},{242,242}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1809},{236,218}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{236,218}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1583},{236,216}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{236,216}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1601},{238,222}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{238,222}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1591},{234,236}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,35},{234,236}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1341},{238,244}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,27},{238,244}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1351},{252,246}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{252,246}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1087},{260,246}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{260,246}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,289},{260,244}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{260,244}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1087},{260,246}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{260,246}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1331},{260,246}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{260,246}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1087},{260,246}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{260,246}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,823},{260,250}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{260,250}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1337},{250,252}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{250,252}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,839},{268,252}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{268,252}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,827},{268,256}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{268,256}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,283},{268,286}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{268,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,283},{272,286}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{272,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,3},{278,284}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{278,284}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,3},{278,282}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{278,282}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>1mofangdonghua0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,3},{276,282}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{276,282}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1345},{212,212}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,47},{212,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1561},{222,212}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{222,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1583},{236,212}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{236,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1809},{244,212}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{244,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1341},{244,216}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{244,216}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1101},{244,240}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{244,240}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1087},{250,254}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,46},{250,254}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,565},{262,254}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{262,254}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,829},{270,254}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,45},{270,254}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,827},{270,254}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,45},{270,254}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,825},{270,258}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{270,258}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,299},{278,262}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{278,262}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,573},{278,262}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,38},{278,262}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,563},{278,262}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,38},{278,262}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,559},{278,264}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{278,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,285},{276,274}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{276,274}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangfengli0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{292,294}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{292,294}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,3},{276,282}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{276,282}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,285},{268,278}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{268,278}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,553},{234,270}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{234,270}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1595},{246,252}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{246,252}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,3},{282,232}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,42},{282,232}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1337},{258,230}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,37},{258,230}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1077},{256,250}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{256,250}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1571},{234,244}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,30},{234,244}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1851},{182,222}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,40},{182,222}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1799},{232,212}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{232,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1803},{238,214}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{238,214}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1827},{200,204}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,50},{200,204}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,1345},{184,190}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,55},{184,190}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1829},{202,200}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,53},{202,200}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1561},{212,208}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,49},{212,208}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mofangjihe0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1787},{212,212}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{212,212}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroSecretEffect.png</string>
            <key>size</key>
            <string>{1968,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75194d8a58059325a11ca49a0558abce:1/1$</string>
            <key>textureFileName</key>
            <string>heroSecretEffect.png</string>
        </dict>
    </dict>
</plist>
