<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_bingxuekh_01sdf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,1193},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>dh_bingxuekh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,631},{180,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,198}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>dh_bingxuekh_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,560}}</string>
                <key>sourceSize</key>
                <string>{320,560}</string>
            </dict>
            <key>dh_bingxuekh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1677},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>dh_bjkh1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,1511},{160,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{160,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1885},{160,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{160,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1845},{162,162}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1335},{164,162}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1343},{164,162}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,1679},{162,162}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,1513},{162,162}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1331},{162,162}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1871},{164,162}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1881},{164,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1701},{166,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,1169},{166,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1757},{164,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,805},{162,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1885},{160,162}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{160,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_bjkh2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,3},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1479},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,3},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1175},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,307},{270,298}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,298}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,307},{274,298}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,298}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,581},{274,296}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{274,296}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,307},{274,298}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,298}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,3},{274,298}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,298}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,3},{274,298}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,298}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,881},{272,298}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,298}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,3},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,871},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,567},{274,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,300}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>dh_bjkh3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,805},{12,6}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,81},{12,6}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1781},{122,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,38},{122,94}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1193},{190,134}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{190,134}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1507},{246,164}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{246,164}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1783},{318,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,170}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,585},{320,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,170}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,307},{320,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,170}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1183},{320,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,170}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,585},{320,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,168}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,759},{320,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,166}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1183},{320,92}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,92}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1957},{320,52}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{320,52}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2013},{320,30}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{320,30}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>dh_bjkh4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1497},{64,60}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,64},{64,60}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1497},{100,94}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,43},{100,94}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1923},{136,116}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,32},{136,116}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,1843},{160,134}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,16},{160,134}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1727},{190,148}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,2},{190,148}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,815},{236,150}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{236,150}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1507},{270,150}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{270,150}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1211},{298,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{298,150}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,757},{318,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{318,148}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,929},{318,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{318,144}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1077},{318,130}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{318,130}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1365},{318,118}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{318,118}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,3},{304,40}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{304,40}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>dh_bjkh5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,985},{180,210}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,981},{180,208}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,208}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1487},{178,208}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{178,208}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1513},{166,184}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{166,184}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1343},{166,188}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{166,188}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1879},{166,190}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{166,190}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1879},{166,190}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{166,190}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1701},{180,234}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,234}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1153},{180,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,236}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,969},{180,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,236}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,909},{180,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,238}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1093},{180,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,236}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,745},{180,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,236}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1337},{180,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{180,232}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,971},{176,230}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{176,230}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>dh_bjkh6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1923},{122,132}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{122,132}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1743},{132,144}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{132,144}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1677},{148,162}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,26},{148,162}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1699},{172,178}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{172,178}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1151},{188,192}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{188,192}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1521},{204,202}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{204,202}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,305},{214,200}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{214,200}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,509},{222,204}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{222,204}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1487},{228,210}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{228,210}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1277},{230,192}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{230,192}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,507},{234,196}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{234,196}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,305},{238,198}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{238,198}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,735},{242,182}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{242,182}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,557},{244,164}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{244,164}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,307},{246,124}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,47},{246,124}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>dh_bjkh6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1521},{218,124}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,49},{218,124}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceCrazyFA1.png</string>
            <key>size</key>
            <string>{2039,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64f2e86fcdea64cc76f41908645a419b:1/1$</string>
            <key>textureFileName</key>
            <string>iceCrazyFA1.png</string>
        </dict>
    </dict>
</plist>
