<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xnfl01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,677},{320,214}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{320,214}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,905},{320,214}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{320,214}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,895},{318,214}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{318,214}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1123},{318,216}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{318,216}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,449},{318,216}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{318,216}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,229},{320,216}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{320,216}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,457},{320,216}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{320,216}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,685},{320,216}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{320,216}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,3},{320,222}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{320,222}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{320,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,224}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,231},{320,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,224}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,224}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,231},{320,222}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{320,222}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,459},{320,222}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{320,222}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1113},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1821},{24,18}}</string>
                <key>offset</key>
                <string>{87,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,76},{24,18}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,669},{44,30}}</string>
                <key>offset</key>
                <string>{77,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,64},{44,30}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1739},{66,44}}</string>
                <key>offset</key>
                <string>{66,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,50},{66,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,202},{88,56}}</string>
                <key>offset</key>
                <string>{55,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,38},{88,56}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,3},{110,68}}</string>
                <key>offset</key>
                <string>{45,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,26},{110,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1373},{128,78}}</string>
                <key>offset</key>
                <string>{35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,16},{128,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1821},{140,78}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,16},{140,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1821},{150,78}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,15},{150,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1363},{172,76}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{172,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1123},{196,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{196,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,651},{198,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{198,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1821},{196,78}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1739},{196,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,449},{198,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{198,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,949},{278,82}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{278,82}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1531},{276,84}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{276,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1035},{276,84}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{276,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1113},{276,82}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{276,82}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1531},{278,88}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{278,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1437},{280,90}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{280,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1531},{280,88}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{280,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1343},{282,90}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{282,90}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1289},{270,80}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{270,80}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1199},{268,86}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{268,86}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,765},{280,92}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{280,92}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,669},{284,92}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{284,92}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1531},{286,84}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{286,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,861},{280,84}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{280,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1539},{196,78}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1539},{196,78}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1533},{196,78}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1163},{196,78}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1813},{196,78}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1815},{196,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1821},{196,80}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{196,80}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1861},{194,80}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{194,80}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1285},{194,80}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{194,80}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1655},{196,78}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1455},{196,78}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1373},{196,78}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1203},{196,78}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{196,78}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1821},{196,80}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{196,80}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1533},{160,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1369},{160,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1633},{160,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1455},{160,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1697},{160,172}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,172}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1811},{160,166}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1369},{144,152}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{144,152}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1227},{130,138}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{130,138}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1035},{120,124}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{120,124}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1123},{100,110}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{100,110}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,853},{88,94}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{88,94}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,949},{76,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{76,80}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_XL_xnfl05_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1455},{66,66}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{66,66}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>dh_Tex_xnfl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,117},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,71}</string>
            </dict>
            <key>dh_Tex_xnfl_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1855},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceCrazyFA3.png</string>
            <key>size</key>
            <string>{1052,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eb18eb93b4af3b1e982d67d8ab456b6:1/1$</string>
            <key>textureFileName</key>
            <string>iceCrazyFA3.png</string>
        </dict>
    </dict>
</plist>
