<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_wangguoed1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,187},{11,4}}</string>
                <key>offset</key>
                <string>{17,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,132},{11,4}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,3},{45,106}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{45,106}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,3},{55,110}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{55,110}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,3},{57,116}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{57,116}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,117},{33,114}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{33,114}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,154},{41,40}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{41,40}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,123},{43,50}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{43,50}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,177},{39,54}}</string>
                <key>offset</key>
                <string>{-23,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,154},{29,44}}</string>
                <key>offset</key>
                <string>{-28,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,184},{15,28}}</string>
                <key>offset</key>
                <string>{-35,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
            <key>dh_wangguoed2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,111},{14,12}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,31},{22,20}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,83},{20,24}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,3},{22,24}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,154},{26,24}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{26,24}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,187},{24,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,198},{30,24}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,198},{28,24}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{28,24}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,55},{20,24}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,184},{20,20}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,123},{8,8}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,59},{8,8}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>dh_wangguoed3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{237,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,219}}</string>
                <key>sourceSize</key>
                <string>{237,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kingdomGraceFA.png</string>
            <key>size</key>
            <string>{438,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64bc62b8912b709bcd3a5a64186464f0:1/1$</string>
            <key>textureFileName</key>
            <string>kingdomGraceFA.png</string>
        </dict>
    </dict>
</plist>
