<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yemian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1377},{249,249}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,408},{249,249}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1548},{249,253}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,406},{249,253}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1317},{247,261}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,401},{247,261}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,968},{247,273}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,393},{247,273}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,677},{265,287}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,385},{265,287}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1052},{287,321}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,357},{287,321}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1582},{225,259}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,377},{225,259}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1036},{239,277}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,362},{239,277}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,3},{249,297}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,352},{249,297}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,354},{259,319}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,345},{259,319}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,695},{273,337}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,340},{273,337}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,697},{307,351}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,338},{307,351}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,378},{313,341}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,349},{313,341}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1219},{313,325}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,362},{313,325}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,3},{307,347}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,352},{307,347}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,3},{295,371}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,341},{295,371}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,707},{287,391}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,332},{287,391}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,3},{285,405}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,326},{285,405}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,412},{281,393}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,332},{281,393}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,426},{277,423}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,317},{277,423}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1277},{279,447}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,307},{279,447}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,834},{281,469}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,295},{281,469}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,3},{285,419}}</string>
                <key>offset</key>
                <string>{-32,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,326},{285,419}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,834},{287,439}}</string>
                <key>offset</key>
                <string>{-30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,313},{287,439}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1337},{289,459}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,299},{289,459}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1337},{291,481}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,284},{291,481}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,834},{293,499}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,273},{293,499}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1277},{295,415}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,309},{295,415}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
            <key>yemian_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{589,827}}</string>
                <key>offset</key>
                <string>{-51,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{589,827}}</string>
                <key>sourceSize</key>
                <string>{691,1037}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>legendMBook.png</string>
            <key>size</key>
            <string>{2037,1821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b8040ad2f208a30694c346c88972d5:1/1$</string>
            <key>textureFileName</key>
            <string>legendMBook.png</string>
        </dict>
    </dict>
</plist>
