<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_hyfp_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,385},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>Background_hyfp_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,409},{119,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,99}}</string>
                <key>sourceSize</key>
                <string>{119,99}</string>
            </dict>
            <key>Background_hyfp_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,403},{107,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>Background_hyfp_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,409},{118,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,99}}</string>
                <key>sourceSize</key>
                <string>{118,99}</string>
            </dict>
            <key>Background_hyfp_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,142},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>Background_hyfp_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,246},{173,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,135}}</string>
                <key>sourceSize</key>
                <string>{173,135}</string>
            </dict>
            <key>Background_hyfp_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,3},{148,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{148,135}</string>
            </dict>
            <key>Background_hyfp_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,142},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>Background_hyfp_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,3},{148,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{148,135}</string>
            </dict>
            <key>Background_hyfp_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,107},{173,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,135}}</string>
                <key>sourceSize</key>
                <string>{173,135}</string>
            </dict>
            <key>Background_hyfp_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,385},{82,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{82,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Background_hyyz_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,260},{186,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,149}}</string>
                <key>sourceSize</key>
                <string>{190,149}</string>
            </dict>
            <key>Background_hyyz_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,107},{161,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,147}}</string>
                <key>sourceSize</key>
                <string>{163,149}</string>
            </dict>
            <key>Background_hyyz_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,142},{144,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,145}}</string>
                <key>sourceSize</key>
                <string>{146,149}</string>
            </dict>
            <key>Background_hyyz_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,258},{159,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{159,147}}</string>
                <key>sourceSize</key>
                <string>{163,149}</string>
            </dict>
            <key>Background_hyyz_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{186,149}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,149}}</string>
                <key>sourceSize</key>
                <string>{190,149}</string>
            </dict>
            <key>dh_Tex_hyfp_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,115},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>dh_Tex_hyfp_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,411},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>dh_Tex_hyfp_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,463},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>dh_Tex_hyfp_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,457},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>dh_Tex_hyfp_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,411},{51,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>dh_Tex_hyfp_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,169},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>dh_Tex_hyfp_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,350},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_Tex_hyfp_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,229},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>dh_Tex_hyfp_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,289},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>dh_Tex_hyfp_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,413},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>dh_Tex_hyfp_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,290},{145,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,109}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>dh_Tex_hyfp_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,3},{128,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,108}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>dh_Tex_hyfp_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,281},{117,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,109}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>dh_Tex_hyfp_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,413},{76,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,111}}</string>
                <key>sourceSize</key>
                <string>{76,111}</string>
            </dict>
            <key>dh_Tex_hyfp_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,394},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dh_Tex_hyfp_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,285},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dituyingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{553,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,100}}</string>
                <key>sourceSize</key>
                <string>{553,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luckyFlopFA.png</string>
            <key>size</key>
            <string>{995,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:402e8b6efb9622a7b0f890c915d65f3e:1/1$</string>
            <key>textureFileName</key>
            <string>luckyFlopFA.png</string>
        </dict>
    </dict>
</plist>
