<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongfangfengche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,76},{41,53}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,53}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangfengche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,76},{41,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,55}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangfengche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,76},{39,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{39,55}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangfengche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,78},{35,51}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{35,51}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangfengche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,78},{41,49}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{41,49}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangfengche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,78},{43,53}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{43,53}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangfengche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,78},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{41,51}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangfengche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{39,47}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{39,47}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>gongfangshuiche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,3},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,84}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>gongfangshuiche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,3},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{69,86}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>gongfangshuiche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,3},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,84}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>gongfangshuiche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,3},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,84}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>gongfangshuiche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,3},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{69,86}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>gongfangshuiche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,3},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,84}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>gongfangshuiche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,3},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,84}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>gongfangshuiche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{69,86}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityOutGfsc.png</string>
            <key>size</key>
            <string>{669,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:677b44b93de42a02ec9c507577844f2b:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityOutGfsc.png</string>
        </dict>
    </dict>
</plist>
