<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>et_jzsjz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,175},{28,24}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{28,24}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,333},{28,22}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{28,22}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,329},{28,22}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{28,22}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,147},{28,24}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{28,24}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,147},{24,26}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,175},{22,26}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,297},{22,28}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,265},{22,28}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,233},{22,28}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,201},{22,28}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,103},{40,40}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,55},{44,44}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{44,44}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{52,48}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{52,48}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,307},{28,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{28,22}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,281},{28,22}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,255},{28,22}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{28,22}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,229},{28,22}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{28,22}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>et_jzsjz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,203},{28,22}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{28,22}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityJzsjz.png</string>
            <key>size</key>
            <string>{64,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b06eb2fb7adc2b6e4c35a9a09d24584e:1/1$</string>
            <key>textureFileName</key>
            <string>mainCityJzsjz.png</string>
        </dict>
    </dict>
</plist>
