<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xwslzs01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,91},{8,6}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{8,6}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_XL_xwslzs01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,45},{14,10}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{14,10}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_XL_xwslzs01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,59},{18,12}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{18,12}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_XL_xwslzs01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,21},{20,14}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{20,14}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_XL_xwslzs01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,81},{20,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_XL_xwslzs01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,3},{14,16}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_XL_xwslzs01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,105},{8,12}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_XL_xwslzs01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,79},{6,8}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>dh_Tex_xwslzs_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,3},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>dh_Tex_xwslzs_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,79},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>frame_xinwang_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{128,112}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{128,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newKingTrailFA.png</string>
            <key>size</key>
            <string>{234,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d2e6edf108f1d0dad353bfe26217ec3:1/1$</string>
            <key>textureFileName</key>
            <string>newKingTrailFA.png</string>
        </dict>
    </dict>
</plist>
