<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_cjjfrw01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,299},{94,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,493},{94,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,397},{94,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,299},{94,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,234},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,334},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,234},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,435},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,397},{92,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,103},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,334},{94,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,434},{94,88}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{94,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,495},{94,88}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{94,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,432},{94,88}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{94,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,203},{94,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_cjjfrw_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,234},{97,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,197}}</string>
                <key>sourceSize</key>
                <string>{97,197}</string>
            </dict>
            <key>dh_Tex_cjjfrw_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,119},{64,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,107}}</string>
                <key>sourceSize</key>
                <string>{64,107}</string>
            </dict>
            <key>dh_Tex_cjjfrw_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,3},{67,112}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{67,112}}</string>
                <key>sourceSize</key>
                <string>{75,116}</string>
            </dict>
            <key>dh_Tex_cjjfrw_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,227}}</string>
                <key>sourceSize</key>
                <string>{320,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>princeGiftFA.png</string>
            <key>size</key>
            <string>{495,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26dd95dac35085d49557069020a53c51:1/1$</string>
            <key>textureFileName</key>
            <string>princeGiftFA.png</string>
        </dict>
    </dict>
</plist>
