<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JZTBZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{331,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,324}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{331,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,324}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{331,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,324}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{331,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,324}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,670},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,336},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1004},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,670},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,336},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1004},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,670},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,336},{331,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,322}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>JZTBZ_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,324}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,324}}</string>
                <key>sourceSize</key>
                <string>{331,326}</string>
            </dict>
            <key>sphere_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,986},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,250},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,494},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,742},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,494},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,250},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1080},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,832},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,584},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,336},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1004},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
            <key>sphere_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1004},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,245}}</string>
                <key>sourceSize</key>
                <string>{241,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pyramidTreasureFA2.png</string>
            <key>size</key>
            <string>{2043,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc86c61346b5430d6af0dcc8eb6413a3:1/1$</string>
            <key>textureFileName</key>
            <string>pyramidTreasureFA2.png</string>
        </dict>
    </dict>
</plist>
