<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fx_TZ_C_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>WL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1749},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1459},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1169},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,879},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1743},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1743},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1743},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1453},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1163},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1453},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,873},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1163},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1453},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,873},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>WL_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1163},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,873},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,583},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,583},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,583},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,583},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,293},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,293},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,293},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1723},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1433},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,3},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,3},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,853},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>YSK_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{292,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,286}}</string>
                <key>sourceSize</key>
                <string>{292,286}</string>
            </dict>
            <key>glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{330,330}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{330,330}}</string>
                <key>sourceSize</key>
                <string>{336,354}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pyramidTreasureFA3.png</string>
            <key>size</key>
            <string>{1514,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3c24ae083e54e3a6a88662c3175eeb9:1/1$</string>
            <key>textureFileName</key>
            <string>pyramidTreasureFA3.png</string>
        </dict>
    </dict>
</plist>
