<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_shenbingtai1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,191},{40,35}}</string>
                <key>offset</key>
                <string>{-75,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{40,35}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,532},{84,65}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,279},{142,65}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,141},{152,65}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,348},{136,65}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{176,65}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{176,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,72},{160,65}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,210},{144,65}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{144,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,417},{124,65}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{124,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,669},{100,53}}</string>
                <key>offset</key>
                <string>{39,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,10},{100,53}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,359},{76,47}}</string>
                <key>offset</key>
                <string>{45,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,13},{76,47}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,141},{46,35}}</string>
                <key>offset</key>
                <string>{53,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,19},{46,35}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>dh_shenbingtai2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,951},{40,40}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,770},{112,40}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,628},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,584},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,235},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,814},{110,40}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,858},{108,40}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,773},{74,40}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,439},{60,40}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,951},{46,40}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,72},{22,14}}</string>
                <key>offset</key>
                <string>{-41,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{22,14}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>dh_shenbingtai3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,866},{28,37}}</string>
                <key>offset</key>
                <string>{46,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,483},{58,45}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,902},{84,45}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,721},{112,45}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,535},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,486},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,672},{112,45}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,902},{98,45}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,902},{84,45}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,817},{70,45}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,620},{56,45}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>dh_shenbingtai3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,866},{36,31}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,31}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sevenDipperStar.png</string>
            <key>size</key>
            <string>{197,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72a9f855553d81819dd9f5556dfe53ec:1/1$</string>
            <key>textureFileName</key>
            <string>sevenDipperStar.png</string>
        </dict>
    </dict>
</plist>
