<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_mgg01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,316},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,159},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,159},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,159},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,159},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,662},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,492},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{167,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,154}}</string>
                <key>sourceSize</key>
                <string>{167,154}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,960},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,857},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,956},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,857},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,758},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,758},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,659},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,560},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,659},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,560},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,461},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,461},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,461},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,975},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,975},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,773},{148,134}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,44},{148,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,767},{140,142}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{140,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,910},{140,150}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{140,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,832},{140,152}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{140,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,473},{140,144}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{140,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,773},{148,144}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{148,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,316},{150,144}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{150,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,924},{146,144}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{146,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,620},{142,144}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{142,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,316},{142,152}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,9},{142,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,620},{142,150}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{142,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,912},{142,140}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{142,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,473},{148,144}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{148,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_XL_mgg03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,316},{152,142}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{152,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_mgg_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,463},{130,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,51}}</string>
                <key>sourceSize</key>
                <string>{130,51}</string>
            </dict>
            <key>dh_Tex_mgg_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,297}}</string>
                <key>sourceSize</key>
                <string>{322,297}</string>
            </dict>
            <key>dh_Tex_mgg_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,620},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
            <key>dh_Tex_mgg_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{320,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,187}}</string>
                <key>sourceSize</key>
                <string>{320,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treasureCourtFA.png</string>
            <key>size</key>
            <string>{1006,1073}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:819e7535fd87f463707a219cd0746490:1/1$</string>
            <key>textureFileName</key>
            <string>treasureCourtFA.png</string>
        </dict>
    </dict>
</plist>
