<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_xbsjwbdrw01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,77},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,77},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,40},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,40},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,77},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,3},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,3},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,40},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,77},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,3},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,40},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,3},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,97},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,97},{24,16}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{24,16}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,97},{26,26}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{26,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,97},{28,30}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{28,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,87},{32,34}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{32,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,47},{34,36}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{34,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,91},{34,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,47},{34,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{34,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,3},{34,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{34,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_XL_xbsjwbdrw02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,3},{32,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{32,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dh_Tex_xbsjwbdrw_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treasureCrystalFA.png</string>
            <key>size</key>
            <string>{322,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe1fd3e3a6f669c101cc296ae72b964b:1/1$</string>
            <key>textureFileName</key>
            <string>treasureCrystalFA.png</string>
        </dict>
    </dict>
</plist>
