<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_XL_zbzz01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,528},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,411},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,411},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,400},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,392},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,275},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,275},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,264},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,256},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,139},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,139},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,128},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,120},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_XL_zbzz01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,3},{132,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,160}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>dh_Tex_zbzz_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,547},{155,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{155,183}}</string>
                <key>sourceSize</key>
                <string>{171,183}</string>
            </dict>
            <key>dh_Tex_zbzz_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,547},{259,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,146}}</string>
                <key>sourceSize</key>
                <string>{259,146}</string>
            </dict>
            <key>dh_Tex_zbzz_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,706},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dh_Tex_zbzz_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,697},{284,321}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{284,321}}</string>
                <key>sourceSize</key>
                <string>{292,321}</string>
            </dict>
            <key>dh_Tex_zbzz_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,3},{121,163}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{121,163}}</string>
                <key>sourceSize</key>
                <string>{131,163}</string>
            </dict>
            <key>dh_Tex_zbzz_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,3},{113,129}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{113,129}}</string>
                <key>sourceSize</key>
                <string>{131,163}</string>
            </dict>
            <key>dh_Tex_zbzz_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,3},{131,139}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,139}}</string>
                <key>sourceSize</key>
                <string>{131,163}</string>
            </dict>
            <key>dh_Tex_zbzz_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warframeFA.png</string>
            <key>size</key>
            <string>{658,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c811f708936a753122239f6c42b215b0:1/1$</string>
            <key>textureFileName</key>
            <string>warframeFA.png</string>
        </dict>
    </dict>
</plist>
