<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Above_snow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,577},{445,106}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,574},{445,106}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,464},{445,106}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,354},{447,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,459},{447,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,349},{447,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,3},{449,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{449,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1024},{439,106}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,911},{441,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,907},{441,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,797},{441,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,687},{443,106}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,684},{443,106}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Above_snow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,569},{445,106}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,106}}</string>
                <key>sourceSize</key>
                <string>{453,106}</string>
            </dict>
            <key>Arab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1770},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1770},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1770},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1678},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1684},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1592},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1678},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1678},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1678},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1686},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1686},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1686},{238,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1930},{240,88}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{240,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1500},{242,88}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{242,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Arab_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1686},{240,88}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{240,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1504},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1412},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1318},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1316},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1226},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1134},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1320},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1224},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1228},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1136},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1132},{292,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1410},{292,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{292,86}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1498},{292,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{292,86}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1408},{292,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{292,86}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>English_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1596},{292,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{292,86}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>Ice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1263},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1265},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1134},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1267},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1136},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1132},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1051},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,920},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,789},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,658},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,527},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,396},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,265},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,134},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Ice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,3},{127,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>Under_snow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,347},{448,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{448,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,462},{446,111}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{446,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,679},{444,111}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{444,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,794},{442,113}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{442,113}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,794},{442,111}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{442,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1021},{440,111}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{440,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1017},{440,111}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{440,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,909},{440,111}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{440,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,113},{448,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{448,115}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,3},{448,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{448,115}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,232},{448,113}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{448,113}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,230},{448,113}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{448,113}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,122},{448,113}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{448,113}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,113},{448,113}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{448,113}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>Under_snow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,239},{448,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{448,111}}</string>
                <key>sourceSize</key>
                <string>{448,119}</string>
            </dict>
            <key>fog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1394},{190,121}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{190,121}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1307},{196,121}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{196,121}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1182},{202,121}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{202,121}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1588},{210,119}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{210,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1899},{218,119}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{218,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1776},{224,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1776},{224,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1899},{224,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,117}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1928},{224,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,117}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1624},{224,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1920},{224,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1555},{224,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1432},{224,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1396},{224,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,119}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
            <key>fog_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1398},{224,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,121}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winterCalendarFA.png</string>
            <key>size</key>
            <string>{1526,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b76988fe9f97724db78fabd2750401c:1/1$</string>
            <key>textureFileName</key>
            <string>winterCalendarFA.png</string>
        </dict>
    </dict>
</plist>
