<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xuyuanshubx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,351},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,303},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,255},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,207},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,385},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,337},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,289},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,241},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,189},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,159},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,929},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,929},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,607},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,881},{48,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,929},{48,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,107},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,729},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,55},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,677},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,3},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,831},{48,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshubx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,781},{48,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dh_xuyuanshuhd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,908},{97,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{97,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,829},{107,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,435},{111,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,513},{113,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,750},{107,75}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,671},{107,75}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,514},{109,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{109,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,434},{113,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,318},{113,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,889},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,810},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,652},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,731},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,435},{115,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,357},{115,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,199},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,888},{111,75}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,278},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,652},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,199},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,771},{113,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,592},{107,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,845},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,761},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,921},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,593},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,677},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,593},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,761},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,755},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,593},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,839},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshuhudie1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,671},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dh_xuyuanshul1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,603},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,150},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,554},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,101},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,505},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,52},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,456},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,3},{182,45}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,407},{196,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,3},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,407},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>dh_xuyuanshul2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{250,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,400}}</string>
                <key>sourceSize</key>
                <string>{250,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishingTreeFA.png</string>
            <key>size</key>
            <string>{564,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eb7cc5bf0dafee8073356703933d7fb:1/1$</string>
            <key>textureFileName</key>
            <string>wishingTreeFA.png</string>
        </dict>
    </dict>
</plist>
