<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fytn_dj_w_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,373},{180,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,584},{180,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,344},{180,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,251},{180,118}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,861},{178,118}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{178,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,251},{180,118}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,251},{180,118}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,251},{180,118}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,3},{180,120}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,51},{180,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,251},{180,118}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,251},{180,118}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,129},{180,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,373},{180,116}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{180,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,373},{180,116}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,493},{180,114}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{180,114}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,493},{180,114}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{180,114}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,493},{178,114}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,54},{178,114}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,493},{180,114}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{180,114}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,495},{180,114}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{180,114}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,466},{180,114}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,55},{180,114}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,373},{180,116}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{180,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,373},{180,116}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{180,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,129},{180,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_dj_w_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,129},{180,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,129},{180,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,127},{180,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,50},{180,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,127},{180,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,50},{180,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,3},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,3},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,809},{178,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,48},{178,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,3},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,218},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,625},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,981},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,3},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,218},{180,122}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{180,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,3},{180,120}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{180,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,3},{180,120}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{180,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,493},{178,118}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,51},{178,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,373},{180,116}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,359},{180,116}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,625},{180,116}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,52},{180,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,809},{178,118}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{178,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,737},{178,120}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{178,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,830},{178,120}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{178,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,706},{178,120}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{178,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,613},{178,120}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{178,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytn_gj_w_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,991},{178,118}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{178,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fytp_dj_w_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,631},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,963},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,847},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,731},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,615},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,959},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,959},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,959},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,959},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,901},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,843},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,843},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,843},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,843},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,611},{140,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,757},{140,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,613},{140,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,983},{140,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,591},{140,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,447},{140,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,187},{140,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,727},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,727},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_dj_w_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,611},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1075},{134,112}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{134,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,615},{134,112}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{134,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1070},{134,112}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{134,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,954},{134,112}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{134,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1075},{136,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,893},{136,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,753},{136,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,735},{136,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{136,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,727},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,611},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,727},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,611},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,991},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,515},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,373},{138,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1075},{132,112}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{132,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,875},{126,112}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{126,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,747},{126,112}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{126,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,1033},{126,112}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{126,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,979},{128,112}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{128,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,863},{130,112}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{130,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1075},{132,112}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{132,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1075},{132,112}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{132,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fytp_gj_w_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,331},{134,112}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{134,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>map_battery_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,359},{338,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,262}}</string>
                <key>sourceSize</key>
                <string>{338,262}</string>
            </dict>
            <key>map_battery_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,625},{352,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,186}}</string>
                <key>sourceSize</key>
                <string>{352,186}</string>
            </dict>
            <key>map_battery_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{356,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,352}}</string>
                <key>sourceSize</key>
                <string>{356,352}</string>
            </dict>
            <key>map_battery_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,3},{371,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,211}}</string>
                <key>sourceSize</key>
                <string>{371,211}</string>
            </dict>
            <key>map_battery_mask_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1107},{92,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,30}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>map_battery_mask_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,543},{95,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{95,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBatteryNew.png</string>
            <key>size</key>
            <string>{2006,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49201c3284a18dcff33a5612f722536d:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBatteryNew.png</string>
        </dict>
    </dict>
</plist>
