<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Jianzhu_pubu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1301},{45,119}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,119}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1807},{45,119}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,119}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1859},{45,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,119}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1301},{45,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,119}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,126},{45,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,119}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1807},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1809},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1859},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1301},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,2},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,126},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1809},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1859},{45,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1801},{45,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1301},{45,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,2},{45,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1809},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1859},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1801},{45,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{45,121}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1933},{45,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,27},{45,119}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1927},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1873},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1755},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1873},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1755},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1154},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1293},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1301},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1036},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1807},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1807},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1807},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1859},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1154},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1807},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1859},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1807},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1036},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1859},{43,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{43,117}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_pubu_add_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1293},{43,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{43,115}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1809},{204,218}}</string>
                <key>offset</key>
                <string>{-39,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,88},{204,218}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,1799},{200,216}}</string>
                <key>offset</key>
                <string>{-43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,89},{200,216}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,365},{232,222}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,88},{232,222}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,823},{232,222}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,88},{232,222}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,598},{230,212}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,90},{230,212}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1062},{228,212}}</string>
                <key>offset</key>
                <string>{-30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,88},{228,212}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,1524},{228,220}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,89},{228,220}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1068},{230,220}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,89},{230,220}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1801},{234,214}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,91},{234,214}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,827},{232,218}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,90},{232,218}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,831},{234,218}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,90},{234,218}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,590},{234,218}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,90},{234,218}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1799},{232,216}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,93},{232,216}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,361},{234,218}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,91},{234,218}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,813},{232,220}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,89},{232,220}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,590},{232,220}}</string>
                <key>offset</key>
                <string>{-29,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,89},{232,220}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,598},{232,222}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,87},{232,222}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,365},{230,220}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,88},{230,220}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,1293},{228,220}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,88},{228,220}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,365},{220,220}}</string>
                <key>offset</key>
                <string>{-33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{220,220}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,365},{346,350}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{346,350}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1446},{346,350}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{346,350}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1446},{348,352}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{348,352}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,728},{350,354}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{350,354}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1448},{354,356}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{354,356}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1085},{356,358}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{356,358}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1448},{358,360}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{358,360}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1085},{358,358}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{358,358}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1085},{362,360}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{362,360}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{364,360}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{364,360}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,365},{368,360}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{368,360}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{370,360}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{370,360}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{372,360}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{372,360}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,360}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{374,360}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{374,356}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{374,356}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{374,356}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{374,356}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{374,354}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{374,354}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,728},{374,354}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{374,354}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{374,354}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{374,354}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
            <key>dh_Jianzhu_shamo_par_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{374,352}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{374,352}}</string>
                <key>sourceSize</key>
                <string>{378,382}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapHoldFA1.png</string>
            <key>size</key>
            <string>{2002,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:106ee5ea8f3edbd83d4a75f12b8b48fd:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapHoldFA1.png</string>
        </dict>
    </dict>
</plist>
