<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozi_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,183},{172,128}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,94},{172,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozi_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,571},{170,130}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,92},{170,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozi_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,873},{166,130}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{166,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozi_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,179},{166,126}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,95},{166,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozi_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,881},{168,122}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,99},{168,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozi_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,359},{170,120}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,101},{170,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozi_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,3},{172,120}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,101},{172,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>baozi_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,881},{174,122}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,100},{174,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,369},{174,178}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{174,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,185},{176,176}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,57},{176,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,3},{176,178}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{176,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,187},{176,178}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{176,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,199},{178,182}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,53},{178,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,3},{176,182}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,52},{176,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,189},{176,180}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{176,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>daxiang_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,705},{176,180}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,53},{176,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,591},{150,112}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,103},{150,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,891},{150,114}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,101},{150,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,551},{150,116}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,99},{150,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,889},{150,116}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,99},{150,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,317},{148,114}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,101},{148,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,891},{148,114}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,101},{148,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,721},{148,112}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,103},{148,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lang_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,419},{148,112}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,103},{148,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,363},{144,174}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{144,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,703},{144,174}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{144,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,703},{144,174}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{144,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,703},{146,174}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,55},{146,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,3},{144,176}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,54},{144,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,183},{144,176}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,54},{144,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,365},{144,176}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,54},{144,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>luotuo_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,3},{146,176}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,53},{146,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,3},{162,152}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{162,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,349},{154,152}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,73},{154,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,507},{146,152}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,73},{146,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,551},{148,152}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,73},{148,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,161},{154,152}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{154,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,3},{160,154}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,71},{160,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,541},{162,154}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,72},{162,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ma_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,545},{168,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{168,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,317},{98,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,91},{98,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,901},{100,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,90},{100,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,899},{100,114}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,92},{100,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,721},{100,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,94},{100,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,901},{102,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,95},{102,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,585},{100,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,94},{100,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,469},{100,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,94},{100,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ningmao_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,901},{100,114}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,92},{100,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,707},{188,122}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,106},{188,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,397},{190,122}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,106},{190,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,3},{192,122}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,106},{192,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,3},{194,122}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,106},{194,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,247},{194,124}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,104},{194,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,201},{192,124}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,104},{192,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,707},{190,126}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,103},{190,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shizi_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,707},{190,124}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,104},{190,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,3},{124,180}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,49},{124,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,571},{130,180}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,49},{130,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,3},{128,180}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{128,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,705},{120,182}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,47},{120,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,385},{128,182}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,47},{128,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,705},{124,182}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,46},{124,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,385},{124,182}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,46},{124,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tianlu_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,373},{122,180}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,49},{122,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,247},{178,236}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,7},{178,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,721},{222,182}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,81},{222,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,873},{122,146}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,80},{122,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,571},{116,146}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,80},{116,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,699},{170,162}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,79},{170,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,487},{216,206}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,57},{216,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{204,240}}</string>
                <key>offset</key>
                <string>{24,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,16},{204,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ying_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,487},{130,230}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,7},{130,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBeast.png</string>
            <key>size</key>
            <string>{1848,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa8bcc756ea657fcbee783ec00495965:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBeast.png</string>
        </dict>
    </dict>
</plist>
