<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_dizuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{416,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,260}}</string>
                <key>sourceSize</key>
                <string>{416,260}</string>
            </dict>
            <key>dh_guaiwuball1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1523},{246,194}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{246,194}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1189},{244,194}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{244,194}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1387},{236,192}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{236,192}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1583},{226,190}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{226,190}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1777},{220,190}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{220,190}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1743},{218,196}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{218,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1753},{232,196}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{232,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,401},{252,196}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,3},{256,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,3},{256,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,3},{256,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,267},{256,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{256,194}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,203},{256,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{256,194}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,465},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{256,192}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,403},{256,188}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{256,188}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1495},{254,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{254,182}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1817},{254,176}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{254,176}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,3},{254,174}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{254,174}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1559},{254,180}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{254,180}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,261},{252,186}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{252,186}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,203},{254,192}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{254,192}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,3},{254,196}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{254,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,203},{252,196}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{252,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1721},{242,196}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{242,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1543},{230,196}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{230,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1781},{218,196}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{218,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1773},{228,196}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{228,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1299},{240,196}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{240,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,399},{248,196}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{248,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,203},{248,196}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{248,196}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>dh_guaiwuball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1335},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1271},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1075},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,965},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1557},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1497},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1299},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1111},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1047},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,851},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,741},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1333},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1273},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1075},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,887},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,823},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,627},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1109},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1049},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,851},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,663},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,599},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,885},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,825},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,627},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,661},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,601},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,403},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,517},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dh_guaiwuball_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,403},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapDesertMeteorite.png</string>
            <key>size</key>
            <string>{1638,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2602150733b2727938d4ee07a47a82a:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapDesertMeteorite.png</string>
        </dict>
    </dict>
</plist>
