<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hyj_dj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,475},{80,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,95},{80,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,271},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,96},{78,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,821},{76,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,96},{76,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,705},{76,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,96},{76,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,853},{76,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,96},{76,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,823},{78,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,97},{78,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,479},{80,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,96},{80,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,159},{82,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,96},{82,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,851},{80,110}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,93},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,737},{80,110}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,92},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,823},{80,108}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,94},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,827},{80,108}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,94},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,823},{80,108}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,94},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,821},{80,108}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,94},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,707},{80,108}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,94},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_dj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,737},{80,110}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,93},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,363},{80,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,95},{80,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,329},{84,130}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,81},{84,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,81},{72,134}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,75},{72,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,855},{78,128}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,74},{78,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{156,106}}</string>
                <key>offset</key>
                <string>{-53,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,94},{156,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,3},{154,102}}</string>
                <key>offset</key>
                <string>{-54,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{154,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,3},{146,100}}</string>
                <key>offset</key>
                <string>{-53,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,98},{146,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,463},{130,104}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,95},{130,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,591},{78,110}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,93},{78,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,199},{88,126}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,79},{88,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,543},{80,124}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,79},{80,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,159},{82,122}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,84},{82,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,537},{110,114}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,122},{110,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,477},{98,110}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,125},{98,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,363},{98,110}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,124},{98,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_gj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,157},{100,114}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,111},{100,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,591},{80,110}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,93},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,261},{96,114}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,86},{96,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,291},{114,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,89},{114,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,79},{160,76}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,136},{160,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,771},{162,74}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,138},{162,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,3},{164,74}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,136},{164,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,433},{168,72}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,138},{168,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hyj_sw_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,599},{162,68}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,142},{162,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,591},{76,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,95},{76,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,469},{74,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,96},{74,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,711},{72,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,96},{72,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,707},{74,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,96},{74,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,737},{74,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,96},{74,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,477},{74,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,97},{74,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,595},{76,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,96},{76,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,353},{76,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,96},{76,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,333},{80,110}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,92},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,477},{80,110}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,92},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,711},{80,108}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,93},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,709},{80,108}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,93},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,249},{80,108}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,93},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,165},{80,108}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,94},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,81},{80,108}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,94},{80,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_dj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,595},{80,110}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,93},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,361},{76,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,95},{76,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,109},{80,130}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,81},{80,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,81},{72,134}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,75},{72,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,193},{76,128}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,74},{76,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,113},{154,106}}</string>
                <key>offset</key>
                <string>{-54,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,94},{154,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,223},{152,102}}</string>
                <key>offset</key>
                <string>{-55,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{152,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,329},{144,100}}</string>
                <key>offset</key>
                <string>{-54,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,98},{144,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,597},{128,104}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,95},{128,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,655},{78,110}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,92},{78,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,107},{88,126}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,79},{88,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,291},{80,124}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,79},{80,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,417},{82,122}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,84},{82,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,419},{110,114}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,122},{110,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,361},{96,110}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,125},{96,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,157},{96,110}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,124},{96,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_gj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,245},{100,114}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,111},{100,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,591},{80,110}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,92},{80,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,245},{96,114}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,86},{96,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,729},{114,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,89},{114,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,765},{160,76}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,136},{160,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,605},{162,74}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,138},{162,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,3},{164,74}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,136},{164,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,3},{168,72}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,138},{168,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lyj_sw_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,433},{162,68}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,142},{162,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapMonsterRemains.png</string>
            <key>size</key>
            <string>{1022,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9684896146f5eb5ee0338a6d5a6f24:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapMonsterRemains.png</string>
        </dict>
    </dict>
</plist>
