<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_gwcb01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,939},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,823},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,707},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1459},{166,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{166,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,591},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,475},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,1459},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,357},{164,114}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{164,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,239},{164,114}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{164,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,121},{164,114}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{164,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,3},{164,114}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{164,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1459},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1459},{164,112}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dh_Tex_gwcb02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1095},{348,360}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{348,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,731},{350,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{350,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1095},{354,360}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{354,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1095},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,3},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,367},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,731},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1095},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,3},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,367},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,731},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1095},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,3},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,367},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,731},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,3},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,367},{354,360}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{354,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,731},{358,360}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{358,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,367},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dh_Tex_gwcb02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapHoldFA4.png</string>
            <key>size</key>
            <string>{1990,1574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c601dd6275867815614c7e34be7450fc:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapHoldFA4.png</string>
        </dict>
    </dict>
</plist>
