<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Jianzhu_rongyan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{392,274}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{392,274}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{392,276}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{392,276}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,2},{392,276}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{392,276}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{392,276}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{392,276}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,279},{392,278}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{392,278}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{392,278}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{392,278}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,560},{392,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{392,280}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{392,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{392,280}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,564},{392,282}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{392,282}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,849},{392,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,284}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,849},{392,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,284}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,281},{392,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{392,280}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,564},{392,282}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{392,282}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,849},{392,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,284}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,843},{392,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,284}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{392,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,284}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,564},{392,282}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{392,282}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,281},{392,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{392,280}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,281},{392,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{392,280}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,274}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{392,274}}</string>
                <key>sourceSize</key>
                <string>{392,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapHoldFA3.png</string>
            <key>size</key>
            <string>{1976,1135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01bfd6f8726f3ffa0309c2865fa7a03f:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapHoldFA3.png</string>
        </dict>
    </dict>
</plist>
