<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Jianzhu_rongyan_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,287},{348,282}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{348,282}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,573},{348,284}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,34},{348,284}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1145},{352,284}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{352,284}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1721},{352,286}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{352,286}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1433},{352,286}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{352,286}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1431},{352,286}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{352,286}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1723},{352,288}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{352,288}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1635},{352,288}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{352,288}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,925},{350,286}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{350,286}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1279},{352,286}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{352,286}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1143},{352,284}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{352,284}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,573},{352,280}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{352,280}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,571},{352,280}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{352,280}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,287},{352,280}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{352,280}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,857},{352,284}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{352,284}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,855},{352,284}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{352,284}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,285},{348,282}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{348,282}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{348,278}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{348,278}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,3},{348,280}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{348,280}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
            <key>dh_Jianzhu_rongyan_add_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,3},{352,280}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{352,280}}</string>
                <key>sourceSize</key>
                <string>{352,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapHoldFA2.png</string>
            <key>size</key>
            <string>{1062,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea5e9ceeaaa0466727ca851ec1df2e8:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapHoldFA2.png</string>
        </dict>
    </dict>
</plist>
