<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blqb_dj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,169},{78,162}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{78,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,339},{78,164}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{78,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,507},{80,164}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,50},{80,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,171},{82,164}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,50},{82,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,339},{80,164}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,51},{80,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,343},{78,166}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{78,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,173},{78,166}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{78,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,687},{76,166}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,48},{76,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,3},{78,166}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,48},{78,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,345},{80,166}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,48},{80,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,3},{84,166}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,48},{84,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,171},{88,164}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,50},{88,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,175},{86,166}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,48},{86,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,339},{82,164}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{82,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,171},{78,164}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,50},{78,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,335},{78,162}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,51},{78,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,501},{78,162}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{78,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,169},{80,162}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{80,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,507},{80,164}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,48},{80,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,507},{82,164}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,48},{82,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,3},{82,164}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,48},{82,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,681},{82,164}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,48},{82,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,3},{80,164}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,48},{80,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_dj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,3},{78,164}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,48},{78,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{84,168}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,48},{84,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,175},{82,168}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{82,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,517},{82,166}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,51},{82,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,335},{80,160}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,56},{80,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,155},{80,144}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,71},{80,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,533},{88,128}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,87},{88,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,101},{92,122}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,95},{92,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,661},{94,120}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,98},{94,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,3},{94,122}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,98},{94,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,455},{92,126}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,97},{92,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,3},{92,128}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,96},{92,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,401},{90,128}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,95},{90,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,631},{108,132}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,88},{108,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,631},{112,132}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,87},{112,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,269},{112,128}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,88},{112,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,531},{116,126}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,88},{116,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,197},{120,126}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,88},{120,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,401},{124,126}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,88},{124,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,267},{122,126}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,88},{122,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,137},{116,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,86},{116,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,3},{108,142}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,72},{108,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,483},{90,152}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,62},{90,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,501},{86,160}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,54},{86,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_wn_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,517},{82,166}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,49},{82,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,3},{78,162}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{78,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,329},{78,158}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,54},{78,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,479},{78,150}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,62},{78,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,675},{88,142}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,71},{88,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,427},{96,130}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,82},{96,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,665},{98,126}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,83},{98,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,661},{98,124}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,83},{98,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,665},{98,124}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,83},{98,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,3},{100,126}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,83},{100,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,135},{108,128}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,83},{108,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,3},{114,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,85},{114,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,3},{118,130}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,86},{118,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,479},{148,128}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,97},{148,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,313},{144,130}}</string>
                <key>offset</key>
                <string>{-26,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,96},{144,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,461},{136,130}}</string>
                <key>offset</key>
                <string>{-31,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,96},{136,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,293},{128,130}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,97},{128,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,601},{126,134}}</string>
                <key>offset</key>
                <string>{-36,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,96},{126,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,639},{124,136}}</string>
                <key>offset</key>
                <string>{-35,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,95},{124,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,147},{122,130}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,97},{122,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,327},{118,124}}</string>
                <key>offset</key>
                <string>{-32,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,96},{118,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,531},{110,126}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,91},{110,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,397},{96,126}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{96,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,281},{80,130}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,83},{80,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_gj_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,3},{76,148}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,64},{76,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,169},{78,162}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,50},{78,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,335},{78,162}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,49},{78,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,515},{78,166}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,44},{78,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,687},{76,166}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,41},{76,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,499},{76,160}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,46},{76,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,167},{78,158}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,49},{78,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,325},{80,154}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,54},{80,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,161},{86,148}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,62},{86,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,667},{96,142}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,70},{96,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,149},{108,140}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,71},{108,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,649},{114,130}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,80},{114,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,135},{126,122}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,85},{126,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,3},{140,108}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,101},{140,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,491},{154,122}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,101},{154,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,3},{154,136}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,102},{154,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,325},{150,138}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,104},{150,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,167},{154,138}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,105},{154,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,3},{160,134}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,108},{160,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,3},{162,130}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,110},{162,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,513},{164,126}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,116},{164,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,3},{164,120}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,123},{164,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,171},{164,112}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,130},{164,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,339},{164,108}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,135},{164,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blqb_sw_ws_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,347},{166,104}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,138},{166,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapMonsterSea2.png</string>
            <key>size</key>
            <string>{2004,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08852eb79d3700fe9202122522d217fb:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapMonsterSea2.png</string>
        </dict>
    </dict>
</plist>
