<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huodongluotuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,259},{120,112}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,28},{120,112}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>huodongluotuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,133},{122,112}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{122,112}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>huodongluotuo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,3},{126,112}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{126,112}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>huodongluotuo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,383},{126,110}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{126,110}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>huodongluotuo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,609},{120,110}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{120,110}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>huodongluotuo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,513},{120,110}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{120,110}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>znqchuizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,723},{42,58}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,30},{42,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>znqchuizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,729},{30,60}}</string>
                <key>offset</key>
                <string>{35,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,22},{30,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>znqchuizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,723},{40,58}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,25},{40,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>znqchuizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,729},{58,30}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{58,30}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zwbx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,627},{114,98}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{114,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>zwbx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,373},{134,114}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{134,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>zwbx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,251},{134,118}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{134,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>zwbx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,127},{134,120}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{134,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>zwbx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{134,120}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{134,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>zwbx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,491},{122,114}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{122,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMapBox.png</string>
            <key>size</key>
            <string>{256,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ab60e0ba506b2549e2339c17fab91e7:1/1$</string>
            <key>textureFileName</key>
            <string>worldMapBox.png</string>
        </dict>
    </dict>
</plist>
