<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_chengwaidj1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1738},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1734},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,764},{280,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,238}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,764},{280,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,238}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{280,236}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{280,236}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1734},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1495},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1491},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1491},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1485},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1252},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1248},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1248},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1009},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1005},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1005},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,766},{280,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>dh_chengwaidj3_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,198}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{178,198}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{182,202}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{182,202}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{184,204}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{184,204}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,185},{184,206}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{184,206}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,185},{186,208}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{186,208}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,376},{190,212}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{192,214}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{192,214}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,569},{194,216}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{194,216}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,569},{192,222}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,222}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,376},{190,220}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{190,220}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,565},{192,222}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{192,222}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{188,224}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{188,224}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,374},{188,226}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{188,226}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,376},{190,228}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{190,228}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,569},{192,230}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{192,230}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,187},{186,232}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{186,232}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,187},{186,234}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{186,234}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{182,236}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{182,236}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{180,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{180,238}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>dh_chengwaidj3_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{180,228}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{180,228}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlcbEffect.png</string>
            <key>size</key>
            <string>{1133,1980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb0ca3fcde9698a592ff2f8631a434f2:1/1$</string>
            <key>textureFileName</key>
            <string>xlcbEffect.png</string>
        </dict>
    </dict>
</plist>
