<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xuanlicb1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,431},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,572},{258,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,713},{254,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{254,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,570},{258,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{258,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,288},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,288},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,288},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,145},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,145},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,145},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,431},{260,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,138}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,431},{260,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,136}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{260,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,134}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,140}}</string>
                <key>sourceSize</key>
                <string>{260,140}</string>
            </dict>
            <key>dh_xuanlicb2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1523},{202,222}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{202,222}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{200,220}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{200,220}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1177},{210,230}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{210,230}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{210,228}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{210,228}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,944},{214,230}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{214,230}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1306},{214,228}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{214,228}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1232},{214,228}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,228}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{212,238}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{212,238}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,856},{212,238}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{212,238}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,751},{176,238}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{176,238}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{174,242}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{174,242}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,574},{174,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{174,240}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,715},{172,240}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{172,240}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,890},{170,238}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{170,238}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,930},{168,238}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{168,238}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{168,236}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{168,236}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1063},{166,234}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{166,234}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{202,232}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{202,232}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1101},{202,232}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{202,232}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1071},{200,232}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{200,232}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>dh_xuanlicb3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,617},{24,20}}</string>
                <key>offset</key>
                <string>{-43,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,222},{24,20}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{112,58}}</string>
                <key>offset</key>
                <string>{-22,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,190},{112,58}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1664},{148,98}}</string>
                <key>offset</key>
                <string>{-11,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,152},{148,98}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,430},{176,126}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,124},{176,126}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1664},{186,146}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,104},{186,146}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1841},{192,168}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,82},{192,168}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1841},{194,200}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{194,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1449},{194,224}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{194,224}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1274},{192,226}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{192,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1390},{192,216}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{192,216}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1469},{192,208}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{192,208}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1646},{192,206}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,206}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1815},{182,204}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{182,204}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1841},{162,198}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{162,198}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,265},{128,162}}</string>
                <key>offset</key>
                <string>{36,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,1},{128,162}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,609},{112,124}}</string>
                <key>offset</key>
                <string>{42,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,3},{112,124}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1956},{86,88}}</string>
                <key>offset</key>
                <string>{48,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,715},{70,50}}</string>
                <key>offset</key>
                <string>{41,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,5},{70,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,574},{40,24}}</string>
                <key>offset</key>
                <string>{29,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,7},{40,24}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>dh_xuanlicb4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,724},{12,12}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,11},{12,12}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1758},{104,58}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{104,58}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1936},{102,106}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{102,106}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1728},{106,110}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{106,110}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1841},{112,112}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{112,112}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1692},{114,118}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1728},{108,120}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,724},{108,122}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,122}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,835},{106,122}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{106,122}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1585},{104,122}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{104,122}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1938},{104,122}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{104,122}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1813},{104,122}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{104,122}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1813},{100,120}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{100,120}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1692},{96,118}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{96,118}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1839},{88,114}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{88,114}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>dh_xuanlicb4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1956},{86,106}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,24},{86,106}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlcbEffectEX.png</string>
            <key>size</key>
            <string>{1190,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da245b2aee6a43d9f9b7514f8451f08c:1/1$</string>
            <key>textureFileName</key>
            <string>xlcbEffectEX.png</string>
        </dict>
    </dict>
</plist>
