<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xueyuanyjf_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1281},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>xuanzhuantai_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,967},{316,314}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,18},{316,314}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,325},{318,318}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,14},{318,318}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{318,318}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,13},{318,318}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,647},{316,316}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,13},{316,316}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,647},{316,312}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,14},{316,312}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,323},{316,304}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{316,304}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,3},{316,294}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,21},{316,294}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,643},{316,284}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,26},{316,284}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,3},{316,282}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,30},{316,282}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,3},{314,284}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,30},{314,284}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,963},{314,286}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,29},{314,286}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,963},{314,286}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,30},{314,286}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,963},{312,286}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,30},{312,286}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,323},{312,284}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,32},{312,284}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,3},{312,280}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,35},{312,280}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,639},{312,276}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,37},{312,276}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,639},{312,270}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,41},{312,270}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,323},{312,266}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,43},{312,266}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,955},{310,258}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,47},{310,258}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1273},{312,250}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,51},{312,250}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1279},{312,244}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,54},{312,244}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1287},{312,236}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,58},{312,236}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1287},{312,228}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,62},{312,228}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1287},{314,234}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,58},{314,234}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,291},{314,246}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,53},{314,246}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,955},{314,260}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,49},{314,260}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,319},{316,276}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,40},{316,276}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,643},{316,290}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,33},{316,290}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,323},{316,300}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,27},{316,300}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xuanzhuantai_03_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,3},{316,310}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,20},{316,310}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
            <key>xueyuanui.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,967},{316,314}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,18},{316,314}}</string>
                <key>sourceSize</key>
                <string>{500,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanfutai_3.png</string>
            <key>size</key>
            <string>{2034,1526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc669864e45a39db2844560591238a39:1/1$</string>
            <key>textureFileName</key>
            <string>xuanfutai_3.png</string>
        </dict>
    </dict>
</plist>
