<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanzhuantai_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1869},{394,162}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,106},{394,162}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1697},{394,168}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,100},{394,168}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1609},{396,174}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,94},{396,174}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1695},{396,180}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,88},{396,180}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1511},{396,182}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,83},{396,182}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1509},{396,182}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,78},{396,182}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1317},{396,188}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,72},{396,188}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1313},{396,194}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,66},{396,194}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,807},{396,200}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,60},{396,200}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,405},{398,204}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,56},{398,204}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,3},{398,210}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,50},{398,210}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1099},{398,214}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,46},{398,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,879},{398,216}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{398,216}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,875},{398,216}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{398,216}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,659},{398,216}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{398,216}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1207},{398,214}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,29},{398,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{400,216}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{400,216}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1095},{398,214}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{398,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,657},{400,214}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{400,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,441},{400,214}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{400,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,439},{400,214}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{400,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,223},{400,214}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{400,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,221},{400,214}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{400,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
            <key>xuanzhuantai_02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,3},{400,214}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{400,214}}</string>
                <key>sourceSize</key>
                <string>{420,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanfutai_2.png</string>
            <key>size</key>
            <string>{1024,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4319786e23e1fee64f144b4b86b836c:1/1$</string>
            <key>textureFileName</key>
            <string>xuanfutai_2.png</string>
        </dict>
    </dict>
</plist>
