<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanzhuantai_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1299},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1299},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1083},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1083},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1083},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,867},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,867},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,867},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,651},{606,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,435},{606,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,651},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,651},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,435},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,435},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,219},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,219},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,219},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,3},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,3},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
            <key>xuanzhuantai_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{608,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,212}}</string>
                <key>sourceSize</key>
                <string>{608,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanfutai_1.png</string>
            <key>size</key>
            <string>{1838,1514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccfe4255cadb6f367dc848a2c6a96466:1/1$</string>
            <key>textureFileName</key>
            <string>xuanfutai_1.png</string>
        </dict>
    </dict>
</plist>
