<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xueyuanyjf1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,187},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,333},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,189},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,333},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,333},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,333},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,333},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,333},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,333},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,365},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,365},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,189},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,189},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,189},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,189},{140,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>dh_xueyuanyjf_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,195},{190,166}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{190,166}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,385},{190,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{190,176}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,3},{190,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,3},{190,180}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{190,180}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,3},{190,182}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,3},{190,182}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,3},{190,182}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,3},{190,182}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{190,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,3},{190,182}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,387},{190,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,3},{188,186}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,195},{188,186}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,3},{190,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,195},{190,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{190,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>dh_xueyuanyjf_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,333},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>dh_xueyuanyjf_shader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,331},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dh_xueyuanyjfq_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,308},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,248},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,247},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,186},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,187},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,524},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,524},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,463},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,463},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,491},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,125},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,64},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,491},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,3},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dh_xueyuanyjfq_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,491},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xueyuanyjf.png</string>
            <key>size</key>
            <string>{2048,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62e920a78ccad009acc9641434544fbe:1/1$</string>
            <key>textureFileName</key>
            <string>xueyuanyjf.png</string>
        </dict>
    </dict>
</plist>
