<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xn_cx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1255},{302,300}}</string>
                <key>offset</key>
                <string>{-64,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{302,300}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1685},{340,306}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1571},{362,306}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{362,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1571},{370,306}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{370,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,3},{434,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{434,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,623},{428,306}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,323},{428,306}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,943},{426,306}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{426,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,933},{426,306}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{426,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1255},{426,306}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{426,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,633},{426,306}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{426,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,623},{426,306}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{426,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,313},{428,306}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{428,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,313},{430,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{430,306}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1571},{408,294}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{408,294}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1561},{412,294}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{412,294}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,839},{412,258}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,48},{412,258}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,423},{412,258}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,48},{412,258}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_cx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,3},{416,258}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,44},{416,258}}</string>
                <key>sourceSize</key>
                <string>{434,306}</string>
            </dict>
            <key>dh_xn_xh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1253},{424,314}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{424,314}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1243},{424,316}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,57},{424,316}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,933},{424,316}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,57},{424,316}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,3},{430,316}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{430,316}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanhua_2022.png</string>
            <key>size</key>
            <string>{1590,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce4be19b19302545fcccd1d32f32a4e4:1/1$</string>
            <key>textureFileName</key>
            <string>yanhua_2022.png</string>
        </dict>
    </dict>
</plist>
