<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_Tex_2020_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{432,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,193}}</string>
                <key>sourceSize</key>
                <string>{432,193}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,3},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,3},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1845},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1610},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1375},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1845},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1610},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1140},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1375},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,905},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1140},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,670},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,905},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,435},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,670},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,200},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,435},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,200},{200,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,231}}</string>
                <key>sourceSize</key>
                <string>{200,231}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1839},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1839},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1635},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1635},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1635},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1431},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1431},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1431},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1227},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1227},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1227},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1023},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1023},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1023},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,819},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,819},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,819},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,615},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,615},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,615},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,411},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,411},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,411},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,207},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,207},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dh_Tex_XL_2020yh04_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,207},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanhua_2020.png</string>
            <key>size</key>
            <string>{1022,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:244ff356a372adc63c72f5612a226f11:1/1$</string>
            <key>textureFileName</key>
            <string>yanhua_2020.png</string>
        </dict>
    </dict>
</plist>
