<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh_xn_xh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1295},{430,318}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{430,318}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,651},{430,320}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{430,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,651},{430,320}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{430,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,871},{430,320}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,58},{430,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,649},{430,320}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{430,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,327},{432,320}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{432,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,327},{432,320}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,58},{432,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,3},{432,320}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,58},{432,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1311},{432,322}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,57},{432,322}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,875},{432,322}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,58},{432,322}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,439},{432,322}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,57},{432,322}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{432,322}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,57},{432,322}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,3},{432,320}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{432,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,975},{432,318}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,58},{432,318}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,1305},{432,316}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,57},{432,316}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,973},{432,318}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{432,318}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,3},{434,320}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{434,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,3},{434,320}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{434,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,327},{434,318}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{434,318}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1621},{428,316}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,58},{428,316}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1617},{428,318}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,58},{428,318}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1299},{428,318}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,58},{428,318}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1297},{428,320}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,58},{428,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,439},{428,322}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,57},{428,322}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,975},{428,320}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,57},{428,320}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
            <key>dh_xn_xh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1621},{424,316}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,57},{424,316}}</string>
                <key>sourceSize</key>
                <string>{528,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanhua_2022_ex.png</string>
            <key>size</key>
            <string>{2048,1977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6875ebc2fa9d05a74e4cfc0502c93b9d:1/1$</string>
            <key>textureFileName</key>
            <string>yanhua_2022_ex.png</string>
        </dict>
    </dict>
</plist>
