<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,247},{409,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,331}}</string>
                <key>sourceSize</key>
                <string>{409,331}</string>
            </dict>
            <key>cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1799},{254,166}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{254,166}}</string>
                <key>sourceSize</key>
                <string>{258,182}</string>
            </dict>
            <key>cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1030},{452,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,254}}</string>
                <key>sourceSize</key>
                <string>{452,254}</string>
            </dict>
            <key>cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,3},{518,331}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,331}}</string>
                <key>sourceSize</key>
                <string>{526,333}</string>
            </dict>
            <key>cloud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,677},{475,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,378}}</string>
                <key>sourceSize</key>
                <string>{475,378}</string>
            </dict>
            <key>cloud_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,780},{600,246}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{600,246}}</string>
                <key>sourceSize</key>
                <string>{600,274}</string>
            </dict>
            <key>cloud_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,531},{619,245}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,245}}</string>
                <key>sourceSize</key>
                <string>{619,247}</string>
            </dict>
            <key>cloud_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1288},{449,190}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{449,190}}</string>
                <key>sourceSize</key>
                <string>{463,210}</string>
            </dict>
            <key>cloud_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1075,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1075,240}}</string>
                <key>sourceSize</key>
                <string>{1075,240}</string>
            </dict>
            <key>cloud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,247},{652,280}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{652,280}}</string>
                <key>sourceSize</key>
                <string>{688,332}</string>
            </dict>
            <key>cloud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,582},{615,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,429}}</string>
                <key>sourceSize</key>
                <string>{615,429}</string>
            </dict>
            <key>et_yunduo01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1201},{298,148}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{298,148}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1353},{298,146}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{298,146}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,525},{300,148}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{300,148}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1156},{298,148}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{298,148}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1030},{296,150}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{296,150}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1482},{294,148}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{294,148}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1628},{292,148}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{292,148}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1330},{294,148}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{294,148}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1503},{296,146}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{296,146}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1453},{296,146}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{296,146}}</string>
                <key>sourceSize</key>
                <string>{320,154}</string>
            </dict>
            <key>et_yunduo02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1482},{295,141}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{295,141}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1796},{293,141}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{293,141}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1889},{293,139}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{293,139}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1746},{293,139}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{293,139}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1653},{295,139}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{295,139}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1603},{293,139}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{293,139}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1201},{295,139}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{295,139}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1653},{295,141}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{295,141}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1500},{295,141}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{295,141}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
            <key>et_yunduo02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1308},{297,141}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{297,141}}</string>
                <key>sourceSize</key>
                <string>{299,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yun.png</string>
            <key>size</key>
            <string>{1440,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f452fac09dd2fb7998b91c384f52807e:1/1$</string>
            <key>textureFileName</key>
            <string>yun.png</string>
        </dict>
    </dict>
</plist>
